<% var notServiceable = obj.addressServiceabilityEntry? 
                        obj.addressServiceabilityEntry.nonCODServiceability == "UNSERVICEABLE" && 
                        obj.addressServiceabilityEntry.codServiceability == "UNSERVICEABLE" ? true: false
    : false %>

<tr data-id="<%= obj.id %>" class="<%= obj.rowClass %> <%= obj.lastrow? 'lastrow': ''%>" data-index= "<%= obj.index %>" <%= notServiceable? "title='Address not serviceable'": "" %>>
   <td class="opt">
         <span class="jqTransformRadioWrapper">
         	<a class="jqTransformRadio 
                <%= notServiceable? 
                    'jqTransformDisabled': obj.defaultAddress?
                                          'jqTransformChecked': ''%>" rel="address-sel"></a>
         	<input type="radio" name="address-sel" value="<%= obj.id %>" checked="" class="jqTransformHidden">
         </span>
        <span class="cust-name"><%= obj.name %></span><br/>
        <span class="lbl-default-address"><%= obj.defaultAddress? 'Default Address': '' %></span><br>
    </td>
    <td class="address">
            <div class="address-content">
                <span class="lbl"><%= obj.address %></span><br>
                <span class="lbl"><%= obj.locality %></span><br>
                <span class="lbl"><%= obj.city %></span> <span class="lbl"><%= obj.pincode %></span><br>
                <span class="lbl"><%= obj.stateName %></span><br>
                <span class="lbl-mobile">Mobile:&nbsp;</span><span class="lbl"> <%= obj.mobile %></span> 
            </div>
            <div class="edit-address ">
                <% if(obj.addressServiceabilityEntry) { %>
                    <span class="address-serviceability d-gray <%= notServiceable? 'hide': 
                                                                         obj.defaultAddress? '': 'hide' %>">
                        <%= obj.addressServiceabilityEntry.deliveryPromiseTime %> Days delivery time
                    <span class="gray"> / </span>
                    </span>
                <% } %>

                <% if (notServiceable) { %>
                    <span class="cod-availability red">We do not deliver to this Pincode anymore.</span>
                <% } else { %>
                   <span class="cod-availability gray">
                        <%= obj.codAvailabilityEntry.serviceability == "SERVICEABLE"? 
                            'Cash on delivery available': 
                                obj.codAvailabilityEntry.errorMessage.split("<br/>").length > 1 ? 'Cash on delivery is not available': obj.codAvailabilityEntry.errorMessage %>
                    </span>
                <% } %>    
                <div class="edit-delete-address <%= notServiceable? 'hide': 
                                                                         obj.defaultAddress? '': 'hide' %>">
                    <span class="edit-item">
                        <div class="myntra-tooltip">
                            <div class="arrow a-out arrow-top-outer"></div>
                            <div class="arrow a-in arrow-top-inner"></div>
                            EDIT
                        </div>
                    </span>
                    <span class="delete-item">
                        <div class="myntra-tooltip">
                            <div class="arrow a-out arrow-top-outer"></div>
                            <div class="arrow a-in arrow-top-inner"></div>
                            DELETE
                        </div>
                    </span>
                </div>
            </div>
    </td>   
</tr>