<div class="address-list-wrap" style="position: relative; border-bottom: 2px solid #e6e6e6;">
	<div id="lb-address-list" class="address-list-box">
		<div class="mod"> 
		   <div class="bd"> 
		        <div class="list" > 
					    <table class="items jqtransformdone">
      					<tbody>
      					</tbody>
      				</table>
      			</div>
      		</div>
      	</div>
    </div>
</div>
