<div class="delivery-bag-header">
		DELIVERY ADDRESS
		<span class="select-address">SELECT AN ADDRESS</span>
		<span class="enter-address">
			<a class="add-new-address">ADD NEW ADDRESS</a>
		</span>
		<span class="view-existing hide">
			<a class="view-existing-address">CHOOSE AN ADDRESS</a>
		</span>
</div>
