{*This Capture will be used if we replace the default banner with the My Myntra Dashboard*}
{*capture name="myMyntraDash"}
<li class="col">
	<h4><a href="{$http_location}/mymyntra.php?view=myorders">My Orders</a></h4>
	2 Pending<br />
	7 Completed<br />
	<a href="{$http_location}/mymyntra.php?view=myorders">Track an Order</a>
</li>
<li class="col">
	<h4><a href="{$http_location}/mymyntra.php?view=mymyntcredits">Mynt Credits</a></h4>
	<span class="rupees">Rs. 12345</span> Cashback<br />
	2 Active Coupons
	<a href="{$http_location}/mymyntra.php?view=mymyntcredits">2 Coupons Expire in 2 Days!</a>
</li>
<li class="col">
	<h4><a href="{$http_location}/mymyntra.php?view=myreferrals">My Referrals</a></h4>
	2 Open Invites<br />
	3 Registered<br />
	4 Placed First Order<br />
	<a href="{$http_location}/mymyntra.php?view=myreferrals">Refer More Friends!</a>
</li>
<li class="col no-border">
	<h4><a href="{$http_location}/mymyntra.php?view=myreturns">My Returns</a></h4>
	2 Pending<br />
	7 Completed<br />
	<a href="{$http_location}/mymyntra.php?view=myorders">Return an Item</a>
</li>
{/capture*}