
	<div class="mk-coupon-trigger">
		<span class="mk-discount-amount mk-f-left">RS500 Off</span>
		<span class="mk-btn-coupon mk-f-right"><img src="/skin2/images/coupon-btn.png" alt="" title="" />
	</div>
