		<div class="mk-home-features">
		{foreach name=staticBannerImage key=key item=staticBannerImage from=$staticBanners }
			<a class="mk-home-feature {if $smarty.foreach.staticBannerImage.index mod 3 == 1}middle{/if}" href="{$http_loc}{$staticBannerImage.target_url}" {if $landingPage eq 'hot-in-december' and $smarty.foreach.staticBannerImage.index eq 7} target="_blank" {/if} onClick="_gaq.push(['_trackEvent', 'banner', window.location.toString(), '{$staticBannerImage.target_url}']);return true;"><img class="lazy" data-lazy-src="{myntraimage key="static_banner" src=$staticBannerImage.image_url}" alt="{$staticBannerImage.alt_text}" src="{$cdn_base}/skin2/images/spacer.gif"/></a>
		{/foreach}
		
		</div> <!-- End .home-features -->
