	<div class="mk-carousel-four {if $page eq 'addedtocart'}{else} mk-carousel-five{/if} mk-matchmaker-horizontal rs-carousel ">
		<h3>You may also want to consider</h3>
		{include file="inc/matchmaker-items-horizontal.tpl"}
	</div>

