<script>
var showQuickLookCouponWidget = {if $quickLookCouponWidgetEnabled}true{else}false{/if};
var quickLookCouponWidgetABTest = '{$quickLookCouponWidgetABTest}';
var quickLookCouponWidgetText = '{$quickLookCouponWidigetText}';
</script>
<div id="quick-look-mod" class="lightbox">
<div class="mod">
	<div class="hd"></div>
    <div class="bd clearfix">
    </div>
  	<div class="ft">
		<span class="cps">{$newUiTopCpsMessage|replace:"|":""}</span>
  	</div>
</div>
</div>
