<div id="cart-combo-overlay" class="cart-combo-overlay lightbox">
<div class="mod">
	<div class="hd">COMBO OFFER</div>
    <div class="bd clearfix">
    </div>
  	<div class="ft"></div>
</div>
</div>
