{if $SEMpromo eq 1}
	<div class="mk-promo-header mk-cf"><div class="mk-cf">
		<a href="{$semPromoUrl}" class="no-decoration-link" onclick="_gaq.push(['_trackEvent', 'header_promo', 'REbanner_click']);">{$semPromoHeaderText}&nbsp;&nbsp;
			<span class="promo-learn-more">View Now</span>
		</a>
	</div></div>  
{/if}
