{* $Id: featured_products.tpl,v 1.24.2.1 2006/06/16 10:47:40 max Exp $ *}
{include file="main/include_js.tpl" src="main/popup_product.js"}
{ if $mode == 'upload'}
<div id="codUploadDiv" style="display:block;">
{else }
<div id="codUploadDiv" style="display:none;">
{/if}
{capture name=dialog}
<form action="cod_reconcile.php"  method="post" name="codUploadCsv" id="codUploadCsv" enctype="multipart/form-data" >
		Upload the csv file : <input type="file" name="orderdetail"/>
		<input type="hidden" name="mode" id="mode" value="upload"/>
		<input type='button' onclick="submitCodCsvUpdate()" name='uploadcodcsv'  value="Upload">
		<input type='hidden' name='action' value='verify'>

	</form>
	<p style="font-size:12px; font-weight:bold; font-color:red"> NOTE1:: Format for your csv to be upload should be like <br>
		Order Id,&nbsp;&nbsp;&nbsp;Pay Status,&nbsp;&nbsp;&nbsp;Completion Date (dd-mm-yyyy H:i:s)&nbsp;&nbsp;&nbsp; Cheque Number<br><br>
		NOTE3:: Possible values for your pay status will be "paid","risk", "unpaid", "pending", "writtenoff"<br>
	<p>
{/capture}
{include file="dialog.tpl" title="Upload Csv Panel" content=$smarty.capture.dialog extra='width="100%"'}
</div>
<br /><br />

