#messagewide_head { 
  background-image: url('sprite.jpg');
  background-position: left -0px;
}  
#messagewide_foot { 
  background-image: url('sprite.jpg');
  background-position: left -20px;
} 
#messagewide_body { 
  background-image: url('sprite.jpg');
  background-position: left -40px;
}

