/** sprite: mysprite; sprite-image: url('sprite.jpg'); sprite-layout: vertical */
#messagewide_head { 
background-image: url(messagewide_head.gif); /** sprite-ref: mysprite;  sprite-alignment: repeat; */ 
}  
#messagewide_foot { 
background-image: url(messagewide_foot.gif); /** sprite-ref: mysprite;  sprite-alignment: repeat; */ 
} 
#messagewide_body { 
background-image: url(messagewide_body.gif); /** sprite-ref: mysprite;  sprite-alignment: repeat; */ 
}

