/* calendar style */

#calendarDiv {
	display: block;
	display: none;
	position: relative;
	border: 1px solid #777;
}
#calendarDiv a {
	cursor: pointer;
}
#calendar {
	background: #ddd;
	clear: both;
	text-align: center;
	font-size: 105%;
}
#calendar, #linksTable {
	width: 180px;
}
#calendar .calendarHeader {
	background: #333;
	border-bottom: 1px solid #444;
	color: #fff;
}
#calendar .weekDaysTitleRow {
	background: #777;
	color: #fff;
}
#calendar .weekDaysRow {
	background: #eee;
	color: #666;
}
#calendar .weekDaysCell {
	color: #000;
	border: 1px solid #ddd;
}
#calendar .weekDaysCellOver {
	background: #fff;
	border: 1px solid #777;
}
#closeCalender {
	position: absolute;
	right: 0;
	bottom: 100%;
	margin-bottom: 1px;
	display: block;
	padding: 2px;
	cursor: pointer;
	font-size: 60%;
}
#closeCalender:hover {
	background: #000;
	color: #fff;
}
#linksTable {
	background: #000;
}
#linksTable a {
	display: block;
	color: #fff;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 80%;
	padding: 2px 5px;
}
#linksTable a:hover {
	background: #ddd;
	color: #333;
}
#prevMonth {
	float: left;
}
#nextMonth {
	float: right;
}
#today {
	background: #999;
}

/* Demo Page Style Remove whats below, its just for show. */

body {
	margin: 0;
	padding: 0;
	font-family: arial, "lucida console", sans-serif;
	color: #444;
	/*background: #999 repeat;*/
	width: 99%;
	margin-top: 5px;
	margin-bottom: 15px;
}
h1, h2, h3, h4 {
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
}
h4 {
	font-weight: bold;
}
p, .comment, label {
	font-size: 95%;
	letter-spacing: 1px;
	line-height: 1.5em;
}
input {
	letter-spacing: 1px;
	color: #555;
	/*width: 75px;*/
}
#wrap {
	margin: 0 8%;
}
#content {
	background: #F9F9F9;
	border: 1px solid #fff;
	padding: 5px 10px 5px 10px;
}
/*
#header, #footer {
	clear: both;
	text-align: center;
	background: #333;
	color: #eee;
	border: 1px solid #555;
	border-top: 1px solid #555;
	border-bottom: 4px solid #555;
}
*/
.container {
	margin: 5px 0 5px 0;
	padding: 15px;
	border: 2px solid #ddd;
	background: #F5F5F5;
}
