
<tr data-id="<%= obj.id %>" class="<%= obj.rowClass %>" data-index= "<%= obj.index %>">
   <td class="opt">
         <span class="jqTransformRadioWrapper">
         	<a href="#" class="jqTransformRadio <%= obj.defaultAddress? 'jqTransformChecked': '' %>" rel="address-sel"></a>
         	<input type="radio" name="address-sel" value="<%= obj.id %>" checked="" class="jqTransformHidden">
         </span>
         <span class="cust-name"><%= obj.name %></span><br/>
         <span class="lbl"><%= obj.defaultAddress? '[DEFAULT ADDRESS]': '' %></span><br>
    </td>
    <td class="address">            
            <span class="lbl"><%= obj.address %></span><br>
            <span class="lbl"><%= obj.locality %></span><br>
            <span class="lbl"><%= obj.city %></span><br>
            <span class="lbl"><%= obj.stateName %></span><br>
            <span class="lbl-mobile">Mobile:</span><span class="lbl"> <%= obj.mobile %></span>   
    </td>
    <td class="edit">
        <span class="editAddress">
            <a href="#editAddress" class="edit-address <%= obj.defaultAddress? 'mk-visible': 'mk-hide' %>">EDIT</a>
        </span>
    </td>
</tr>