<div class="address-list-wrap" style="width: 740px; position: relative;">
	<div id="lb-address-list" class="address-list-box lightbox-nopop">
		<div class="mod"> 
		   <div class="bd"> 
		        <div class="list" > 
					<table class="items jqtransformdone">
      					<tbody>
      					</tbody>
      				</table>
      			</div>
      		</div>
      	</div>
    </div>
</div>
