#messagewide_head { 
  background-image: url('sprite.gif');
  background-position: -0px top;
}  
#messagewide_foot { 
  background-image: url('sprite.gif');
  background-position: -406px top;
} 
#messagewide_body { 
  background-image: url('sprite.gif');
  background-position: -812px top;
}
#error_body { 
  background-image: url('sprite.gif');
  background-position: -1218px top;
} 
#error_foot { 
  background-image: url('sprite.gif');
  background-position: -1524px top;
} 
#error_head { 
  background-image: url('sprite.gif');
  background-position: -1830px top;
}


