
    <form action="coupons.php" method="post" name="exclincl_form" enctype="multipart/form-data">
    <input type="hidden" name="mode" value="addExclIncl" />

    <table cellpadding="3" cellspacing="1">
    
    <tr><td width="10" colspan="3" height=20>&nbsp;</td></tr>
    
    <tr id="group"><td width="10" colspan="3" height=20>
    <font class="FormButton">Coupon Group Styles Form:</font>
    <hr />
    </td></tr>
    <tr>
        <td class="FormButton">Exclusion/Inclusion:</td>
        <td>&nbsp;</td>
        <td><select id="exclIncl" name="exclIncl">
                <option value="0">Exclusion</option>
                <option value="1">Inclusion</option>
        </select></td>
    </tr>
     <tr id="groupsRow">
        <td class="FormButton" width="50%">Groups</td>
        <td>&nbsp;</td>
        <td>
            <textarea cols="50" rows="5" name="groups" id="groups"></textarea>
        </td>
    </tr>
    <tr id="stylesRow">
        <td class="FormButton" width="50%">Styles</td>
        <td>&nbsp;</td>
        <td>
            <textarea cols="50" rows="5" name="styles" id="styles"></textarea>
        </td>
    </tr>
    <tr>
        <td class="FormButton">CRUD-OP</td>
        <td>&nbsp;</td>
        <td><select id="crudOp" name="crudOp">
                <option value="1">Update</option>
                <option value="0">Delete</option>
        </select></td>
    </tr>
    </table>
    <table>
        <tr>
            <td colspan="3"><br /><br /><br />
                <input type="submit" name="submit" value="Submit"  onclick="document.exclincl_form.submit();"/>

            </td>
        </tr>
    </table>
    </form>







