
    <form action="productcapping.php" method="post" name="product_capping_form" enctype="multipart/form-data">

    <table cellpadding="3" cellspacing="1">
    
     <tr><td width="10" colspan="3" height=20>&nbsp;</td></tr>
    
    <tr id="group"><td width="10" colspan="3" height=20>
    <font class="FormButton">Product Capping Uplaod:</font>
    <hr />
    </td></tr>
    <tr id="stylesRow">
        <td class="FormButton" width="50%">Styles Capping File</td>
        <td>&nbsp;</td>
        <td>
            <input type="file" name="product_capping_file" id="product_capping_file"/>                     
        </td>
    </tr>
    <tr>
        <td class="FormButton">CRUD-OP</td>
        <td>&nbsp;</td>
        <td><select id="crudOp" name="crudOp">
                <option value="insert">Insert</option>
                <option value="update">Update</option>
                <option value="delete">Delete</option>

        </select></td>
    </tr>
    </table>
    <table>
        <tr>
            <td colspan="3"><br /><br /><br />
                <input type="submit" name="submit" value="Submit"  onclick="document.product_capping_form.submit();"/>

            </td>
        </tr>
    </table>
    </form>







