#customize_left { 
  background-image: url('sprite.gif');
  background-position: -0px top;
}  
#customize_right { 
  background-image: url('sprite.gif');
  background-position: -25px top;
} 
#customize_top { 
  background-image: url('sprite.gif');
  background-position: -26px top;
}
 

