/** sprite: mysprite; sprite-image: url('sprite.jpg'); sprite-layout: horizontal */
#delicious { 
background-image: url(	delicious.gif); /** sprite-ref: mysprite;  */ 
} 
#digg { 
background-image: url(digg.gif); /** sprite-ref: mysprite;   */ 
} 
#facebook { 
background-image: url(facebook.gif); /** sprite-ref: mysprite; */ 
} 
#indianpad { 
background-image: url(indianpad.gif); /** sprite-ref: mysprite; */ 
} 
#reddit { 
background-image: url(reddit.gif); /** sprite-ref: mysprite; */ 
} 
#stumbleupon { 
background-image: url(stumbleupon.gif); /** sprite-ref: mysprite; */ 
} 

