#delicious { 
  background-image: url('sprite.jpg');
  background-position: -0px top;
} 
#digg { 
  background-image: url('sprite.jpg');
  background-position: -16px top;
} 
#facebook { 
  background-image: url('sprite.jpg');
  background-position: -34px top;
} 
#indianpad { 
  background-image: url('sprite.jpg');
  background-position: -50px top;
} 
#reddit { 
  background-image: url('sprite.jpg');
  background-position: -66px top;
} 
#stumbleupon { 
  background-image: url('sprite.jpg');
  background-position: -83px top;
} 

