<div>
    <form action="?c=voucherfreebie&a=savemap" method="POST">
		Please enter orderids in CSV format below<br/>
        <table>
		<tr>
			<td>Watches (2)</td><td><textarea name="watches_remap" cols="100"></textarea></td></tr>
		<tr>
			<td>iPOD (3)</td><td><textarea name="ipod_remap" cols="100"></textarea></td></tr>
		<tr>
			<td>iPad 2 (4)</td><td><textarea name="ipad2_remap" cols="100"></textarea></td>
		</tr>
		<tr>
            <td>Paris (5)</td><td><textarea name="paris_remap" cols="5"></textarea></td>
		</tr>
	</table>
	<input name="mapfreebie" type="submit" value="submit" />
	</form>
</div>
