.ico_calendar { 
  background-image: url('sprite.png');
  background-position: -0px top;
} 
.ico_card { 
  background-image: url('sprite.png');
  background-position: -27px top;
} 
.ico_cup { 
  background-image: url('sprite.png');
  background-position: -54px top;
} 
.ico_glass { 
  background-image: url('sprite.png');
  background-position: -81px top;
} 
.ico_pen { 
  background-image: url('sprite.png');
  background-position: -108px top;
} 
.ico_photo { 
  background-image: url('sprite.png');
  background-position: -135px top;
} 
.ico_shirt { 
  background-image: url('sprite.png');
  background-position: -164px top;
} 
.ico_watch { 
  background-image: url('sprite.png');
  background-position: -191px top;
} 
.ico_wooden { 
  background-image: url('sprite.png');
  background-position: -218px top;
} 
.viewall  { 
  background-image: url('sprite.png');
  background-position: -245px top;
} 
.cartbgdown  { 
  background-image: url('sprite.png');
  background-position: -355px top;
} 
.carticon  { 
  background-image: url('sprite.png');
  background-position: -471px top;
} 
.arrow1  { 
  background-image: url('sprite.png');
  background-position: -532px top;
} 
.arrow2  { 
  background-image: url('sprite.png');
  background-position: -556px top;
} 
.arrow  { 
  background-image: url('sprite.png');
  background-position: -580px top;
}
.arrowsaml1l { 
  background-image: url('sprite.png');
  background-position: -589px top;
}
.arrowyellow.gif { 
  background-image: url('sprite.png');
  background-position: -594px top;
}
.cartbg { 
  background-image: url('sprite.png');
  background-position: -598px top;
}
.search { 
  background-image: url('sprite.png');
  background-position: -659px top;
}
.menicon { 
  background-image: url('sprite.png');
  background-position: -752px top;
}
.phoneicon { 
  background-image: url('sprite.png');
  background-position: -770px top;
}
.facebook { 
  background-image: url('sprite.png');
  background-position: -790px top;
}
.mastrecard { 
  background-image: url('sprite.png');
  background-position: -823px top;
}
.twitter { 
  background-image: url('sprite.png');
  background-position: -869px top;
}
.visa{ 
  background-image: url('sprite.png');
  background-position: -900px top;
}
.onicon { 
  background-image: url('sprite.png');
  background-position: -946px top;
}
.arrowsamll { 
  background-image: url('sprite.png');
  background-position: -969px top;
}
.searchbar { 
  background-image: url('sprite.png');
  background-position: -982px top;
}
.testibg {
  background-image: url('sprite.png');
  background-position: -1415px top;
}
.arrow-left {
  background-image: url('sprite.png');
  background-position: -1724px top;
}
.arrow-right {
  background-image: url('sprite.png');
  background-position: -1744px top;
}
.amex {
  background-image: url('sprite.png');
  background-position: -1764px top;
 }
.paypal {
  background-image: url('sprite.png');
  background-position: -1810px top;
 }
 .shipping {
  background-image: url('sprite.png');
  background-position: -1876px top;
 }
 .testi {
  background-image: url('sprite.png');
  background-position: -2028px top;
 }
 .ico_bags {
  background-image: url('sprite.png');
  background-position: -2337px top;
 }
 .ico_home {
  background-image: url('sprite.png');
  background-position: -2364px top;
 }
