/** sprite: mysprite; sprite-image: url('sprite.png'); sprite-layout: vertical */
#button_sep { 
background-image: url(button_sep.jpg); /** sprite-ref: mysprite;  sprite-alignment: repeat;*/ 
} 
#footer-bg { 
background-image: url(footer-bg.gif); /** sprite-ref: mysprite;  sprite-alignment: repeat;*/ 
} 
#header_bg { 
background-image: url(header_bg.jpg); /** sprite-ref: mysprite;  sprite-alignment: repeat; */ 
} 
#button_sel { 
background-image: url(button_sel.jpg); /** sprite-ref: mysprite;  sprite-alignment: repeat; */ 
} 
#button_sel_left { 
background-image: url(button_sel_left.jpg); /** sprite-ref: mysprite;  */ 
} 
#button_sel_right { 
background-image: url(button_sel_right.jpg); /** sprite-ref: mysprite;  */ 
} 


