#button_sep { 
  background-image: url('sprite.png');
  background-position: left -0px;
} 
#footer-bg { 
  background-image: url('sprite.png');
  background-position: left -38px;
} 
#header_bg { 
  background-image: url('sprite.png');
  background-position: left -238px;
} 
#button_sel { 
  background-image: url('sprite.png');
  background-position: left -314px;
} 
#button_sel_left { 
  background-image: url('sprite.png');
  background-position: left -352px;
} 
#button_sel_right { 
  background-image: url('sprite.png');
  background-position: left -390px;
} 


