<script type="text/template" id="at-filter-item">
	<a href="<%= data.url_desc_l %>" <%= data.nofollow ? 'rel="nofollow"' : '' %>
			class="mk-labelx_check unchecked clearfix <%= $.trim(data.article_type.toLowerCase()).replace(/\W+/g, '') + '-at-filter' %>"
			data-key="articletypes" data-value="<%= data.article_type %>" data-sizeGroup="<%= data.sizeGroupMap[data.article_type] %>">
		<span class="cbx"></span>
		<span class="mk-filter-display"><%= data.article_type %>
			<span class="mk-filter-product-count">[<%= data.count %>]</span>
		</span>
	</a>
</script>

<script type="text/template" id="brand-filter-item">
	<a href="<%= '/' + $.trim(data.brand.toLowerCase()).replace(/\s+/g, '-') + '?src=lnb' %>"
			class="mk-labelx_check unchecked clearfix <%= $.trim(data.brand.toLowerCase()).replace(/\W+/g, '') + '-brand-filter' %>"
			data-key="brands" data-value="<%= data.brand %>">
		<span class="cbx"></span>
		<span class="mk-filter-display"><%= data.brand %>
			<span class="mk-filter-product-count">[<%= data.count %>]</span>
		</span>
	</a>
</script>

<script type="text/template" id="search-filters-template">
<% /* var minNonLazyFilters = 7; */ %>
<% var minNonLazyFilters = 2000; %>

<div class="go-to-top-section" style="display:none;">
	<span class="go-to-top-arrow"></span>
	<button type="submit" class="go-to-top-btn btn normal-btn">GO TO TOP</button>
</div>
<div id="top-right" class="go-to-top-btn right mk-hide"></div>

<div class="mk-product-filters">
	<form>
		<span class="mk-clear-all-filters mk-f-right mk-hide">Reset All Filters</span>
		<ul class="mk-product-selectors mk-clear">
			<% if (data.filters.global_attr_article_type_facet && _.size(data.filters.global_attr_article_type_facet) > 1) { %>
				<li class="clearfix"><a href="javascript:void(0)" class="mk-a-label label-expand"><span class="mk-label-arrow"></span><span class="mk-f-left"> Categories</span><span data-key="articletypes" class="mk-f-right mk-clear-filter mk-hide">Reset</span></a>
					<div class="mk-filter-content">
						<div id="mk-articletypes" class="mk-filter-wrapper mk-articletypes-filters mk-resizable-box">
							<% var index = 0; %>
							<% var atFilterItem = _.template($('#at-filter-item').html()); %>
							<% _.each(data.filters.global_attr_article_type_facet, function (count, article_type, list) { %>
								<% var tempVar = {	nofollow	: data.nofollowForSearchFilterLinks,
													sizeGroupMap: data.articleTypeSizeGroupMap,
													url_desc_l 	: '/' + (data.query + '-' + article_type).toLowerCase().replace(/\s+/g, '-')+'?src=lnc',
													article_type: article_type,
													count		: count
												 }; %>
		                        <% if (index < minNonLazyFilters) { %>
									<%= atFilterItem(tempVar) %>
								<% } %>
								<% if (index >= minNonLazyFilters) { %>
									<% Myntra.Data.lazyElems.push(atFilterItem(tempVar) + Myntra.Data.lazySeparator + '.mk-articletypes-filters .jspPane'); %>
								<% } %>
								<% index++; %>
							<% }); %>
						</div>
					</div>
				</li>
			<% } %>
			
			<li class="clearfix" style="display:<%= (data.filters.sizes_facet && _.size(data.filters.sizes_facet) > 1) ? 'block' : 'none' %>">
				<a href="javascript:void(0)" class="mk-a-label label-expand">
					<span class="mk-label-arrow"></span>
					<span class="mk-f-left"> Size</span>
					<span data-key="sizes" class="mk-f-right mk-clear-filter mk-hide">Reset</span>
				</a>
				<div class="mk-filter-content">
					<div class="mk-filter-rem clearfix">
						<a class="close-rem" href="javascript:void(0);">X</a>
						<div class="first">
							<h4>USE THESE FILTERS TO FIND YOUR SIZE!</h4>
							<p>We will remember your size when you are shopping at Myntra again.</p>
						</div>
						<div class="second">
							<h4 class="single">WE REMEMBERED YOUR SIZE : <span></span></h4>
							<h4 class="multiple">WE REMEMBERED YOUR SIZES : <span></span></h4>
							<p>We have filtered products based on sizes that you had selected on your last visit to Myntra.</p>
						</div>
					</div>
					<div class="mk-filter-wrapper mk-sizes-filters clearfix mk-resizable-box">
						<% _.each(data.filters.sizes_facet, function (count, size, list) { %>
							<label class="mk-labelx_check unchecked clearfix <%= $.trim(size.toLowerCase()).replace(/\W+/g, '') + '-size-filter' %>" data-key="sizes" data-value="<%= size.replace(/\s+/g, '') %>">
								<span class="cbx"></span><%= size.replace(' ', '') %>
							</label>
						<% }); %>
					</div>
				</div>
			</li>
			
			<% if (data.filters.brands_filter_facet && _.size(data.filters.brands_filter_facet) > 1) { %>
				<li class="clearfix">
					<a href="javascript:void(0)" class="mk-a-label label-expand">
						<span class="mk-label-arrow"></span>
						<span class="mk-f-left"> Brand</span>
						<span data-key="brands" class="mk-f-right mk-clear-filter mk-hide">Reset</span>
					</a>
					<div class="mk-filter-content">
						<input class="ui-autocomplete-input brands-autocomplete-input" value="SEARCH BRANDS" data-placeholder="SEARCH BRANDS" type="text" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
						<span class="mk-clear-brands-input"></span>
	    				<div id="mk-brand-search-results" class="mk-filter-wrapper mk-brands-filters" style="display:none"></div>
	    				<div id="mk-brands" class="mk-filter-wrapper mk-brands-filters ui-widget-content mk-resizable-box">
						<% var index = 0; %>
						<% var brandFilterItem = _.template($('#brand-filter-item').html()); %>
						<% _.each(data.filters.brands_filter_facet, function (count, brand, list) { %>
							<% var tempVar = {	brand		: brand,
												count		: count
											 }; %>
							<% if (index < minNonLazyFilters) { %>
								<%= brandFilterItem(tempVar) %>
							<% } %>
							<% if (index >= minNonLazyFilters) { %>
	                            <% Myntra.Data.lazyElems.push(brandFilterItem(tempVar) + Myntra.Data.lazySeparator + '.mk-brands-filters .jspPane'); %>
	                        <% } %>
							<% index++; %>
	                    <% }); %>
						</div>
					</div>
				</li>
			<% } %>
			
			<% if (data.filters.dre_offerType && _.size(data.filters.dre_offerType) > 0) { %>
				<li class="clearfix">
					<a href="javascript:void(0)" class="mk-a-label label-expand">
						<span class="mk-label-arrow"></span>
						<span class="mk-f-left"> Offer</span>
						<span data-key="offer" class="mk-f-right mk-clear-filter mk-hide">Reset</span>
					</a>
					<div class="mk-filter-content">
						<div class="mk-filter-wrapper mk-offer-filters">
							<% _.each(data.filters.dre_offerType, function (count, offer, list) { %>
								<label class="mk-labelx_check unchecked clearfix <%= $.trim(offer.toLowerCase()).replace(/\W+/g, '') + '-offer-filter' %>" data-key="offer" data-value="<%= offer %>">
									<span class="cbx"></span><span class="mk-filter-display"><%= offer %></span>
								</label>
						    <% }); %>
						</div>
					</div>
				</li>
			<% } %>				

			<% if (data.filters.discount_percentage.counts && _.size(data.filters.discount_percentage.counts) > 1) { %>
				<li class="clearfix">
					<a href="javascript:void(0)" class="mk-a-label label-expand">
						<span class="mk-label-arrow"></span>
						<span class="mk-f-left"> Discount</span>
						<span data-key="discountpercentage" class="mk-f-right mk-clear-filter mk-hide">Reset</span>
					</a>
					<div class="mk-filter-content">
						<div class="mk-filter-wrapper mk-discountpercentage-filters">
							<% _.each(data.filters.discount_percentage.counts, function (count, discount, list) { %>
								<label class="mk-labelx_check unchecked clearfix discountpercentage-filter mk-<%= discount %>-discountpercentage-filter" data-key="discountpercentage" data-value="<%= discount %>">
			                    	<span class="rbtn"></span> <%= discount %> % AND ABOVE
			                	</label>
						    <% }); %>
						</div>
					</div>
				</li>
			<% } %>				
			
			<% if (data.filters.discounted_price.rangeMin != data.filters.discounted_price.rangeMax) { %>
				<li class="clearfix">
					<a href="javascript:void(0)" class="mk-a-label label-expand">
						<span class="mk-label-arrow"></span>
						<span class="mk-f-left"> Price</span>
						<span data-key="pricerange" class="mk-f-right mk-clear-filter mk-hide">Reset</span>
					</a>
					<div class="mk-filter-content">
						<div class="mk-filter-wrapper mk-price-filters">
			            <% if (data.filters.discounted_price.breakUps) { %>
							<% _.each(data.filters.discounted_price.breakUps, function (range, index, list) { %>
								<label class="mk-labelx_check unchecked clearfix price-range-filter <%= 'mk-' + range.rangeMin + '-' + range.rangeMax + '-pricerange-filter' %>" data-key="pricerange" data-rangeMin="<%= range.rangeMin %>" data-rangeMax="<%= range.rangeMax %>">
			                    	<span class="rbtn"></span><%= 'Rs. ' + (+range.rangeMin).toLocaleString() + ' - Rs. ' + (+range.rangeMax).toLocaleString() %>
			                	</label>
						    <% }); %>
		                <% } %>
						</div>
						<div class="mk-filter-wrapper mk-pricerange-filters">
							<div class="mk-price-range" data-rangeMin="<%= data.filters.discounted_price.rangeMin %>" data-rangeMax="<%= data.filters.discounted_price.rangeMax %>"></div>
							<div class="mk-amount"></div>
						</div>	
					</div>
				</li>
			<% } %>
			
			<% if (data.filters.global_attr_gender && _.size(data.filters.global_attr_gender) > 1) { %>
				<li class="clearfix">
					<a href="javascript:void(0)" class="mk-a-label label-expand">
						<span class="mk-label-arrow"></span>
						<span class="mk-f-left"> Gender</span>
						<span data-key="gender" class="mk-f-right mk-clear-filter mk-hide">Reset</span>
					</a>
					<div class="mk-filter-content">
						<div class="mk-filter-wrapper mk-gender-filters">
							<% _.each(data.filters.global_attr_gender, function (count, fit, list) { %>
								<label class="mk-labelx_check unchecked clearfix <%= $.trim(fit.toLowerCase()).replace(/\W+/g, '') + '-gender-filter' %>" data-key="gender" data-value="<%= fit %>">
									<span class="cbx"></span><span class="mk-filter-display"><%= fit.toLowerCase() == 'boy' ? 'Boys' : fit.toLowerCase() == 'girl' ? 'Girls' : fit %></span>
								</label>
						    <% }); %>
						</div>
					</div>
				</li>
			<% } %>

			<% if (data.filters.colour_family_list && _.size(data.filters.colour_family_list) > 1) { %>
				<li class="clearfix">
					<a href="javascript:void(0)" class="mk-a-label label-expand">
						<span class="mk-label-arrow"></span>
						<span class="mk-f-left"> Colour</span>
						<span data-key="colour" class="mk-f-right mk-clear-filter mk-hide">Reset</span>
					</a>
					<div class="mk-filter-content">
						<div class="mk-filter-wrapper mk-colour-filters mk-resizable-box">
							<% _.each(data.filters.colour_family_list, function (count, colour, list) { %>
								<label class="mk-labelx_check unchecked clearfix <%= $.trim(colour.toLowerCase()).replace(/\W+/g, '') + '-colour-filter' %>" data-key="colour" data-value="<%= colour %>" data-swatch="<%= data.colorSwatchMapping[colour] %>">
									<span class="cbx"></span>
									<span class="mk-color-swatch" style="background-position:-783px -<%= ((data.colorSwatchMapping[colour]-1) * 11 + data.colorSwatchMapping[colour] * 2) + 'px' %>"></span>
									<span class="mk-filter-display"><%= colour %></span>
								</label>
						    <% }); %>
						</div>
					</div>
				</li>
			<% } %>
			
			<% if (data.filters.article_type_attributes) { %>
				<% _.each(data.filters.article_type_attributes, function (props, attribute, list1) { %>
					<% var isEmptyFilter = true; %>
					<% $.each(props.values, function(prop, count) {
						return isEmptyFilter = (prop.toLowerCase() == 'na');
					}); %>
					<% if (isEmptyFilter) return; %>
					<li class="clearfix article_type_attr">
						<a href="javascript:void(0)" class="mk-a-label label-expand">
							<span class="mk-label-arrow"></span>
							<span class="mk-f-left"> <%= props.title %></span>
							<span data-key="<%= props.title.replace(/\s+/g, '_') + '_article_attr' %>" class="mk-f-right mk-clear-filter mk-hide">Reset</span>
						</a>
						<div class="mk-filter-content">
							<div class="mk-filter-wrapper <%= 'mk-' + props.title.replace(/\s+/g, '_') + '_article_attr-filters' %>">
								<% _.each(props.values, function (count, prop, list) { %>
									<% if (prop.toLowerCase() != 'na') { %>
										<label class="mk-labelx_check unchecked clearfix <%= $.trim(prop.toLowerCase()).replace(/\s+/g, '-').replace(/\W+/g, '') + '-ata-filter' %>" data-key="<%= props.title.replace(/\s+/g, '_') + '_article_attr' %>" data-value="<%= prop %>">
											<span class="cbx"></span>
											<span class="mk-filter-display"><%= prop %></span>
										</label>
									<% } %>
								<% }); %>
							</div>
						</div>
					</li>	
				<% }); %>					
			<% } %>
		</ul> <!-- End .product-selectors --> 
	</form>
</div> <!-- End .product-filters -->
</script>
