<script type="text/template" id="search-products-template">
<% for (var i=0; i < data.productsToRender.length; i++) { %>
	<% var product = data.productsToRender[i], mod = (data.displayedProductsCount - data.productsToRender.length + i) % 4; %>
    <li class="mk-product mk-product-style-details <% if (mod == 3) { %> mk-last <% } %>" data-id="<%= 'prod_' + product.id %>">
    	<% if (data.quicklookenabled) { %>
			<span class="quick-look" data-widget="search_results" data-styleid="<%= product.styleid %>" data-href="<%= '/' + product.dre_landing_page_url %>"></span>
		<% } %>

		<% if (product.visual_tag) { %>
			<div class="mk-visual-tag mk-visual-tag-<%= product.visual_tag.split(':')[0].toLowerCase() %>"><div><%= product.visual_tag.split(":")[0].toUpperCase() %></div></div>
		<% } %>

		<a style="display:block;" class="clearfix" href="<%= '/' + product.dre_landing_page_url + (data.nav_id ? ('?nav_id=' + data.nav_id) : '') %>">
			<% var imgSrc = Myntra.Utils.getJpegminiImgSrc("style_180_240", product.search_image); %>
			<img <% if (i > 3) { %> 
				class="jquery-lazyload" original="<%= imgSrc %>" src="<%= data.cdn_base + '/skin2/images/loader_180x240.gif' %>" 
			<% } else { %> 
				src="<%= imgSrc %>" alt="<%= product.product %>"
			<% } %> >
			<div class="mk-prod-info">
		        <div class="availability" data-sizes="<%= $.trim(product.sizes) ? 'Sizes: ' + product.sizes.replace(/,/g, ', ') : 'SOLD OUT' %>">
		        	<div class="tooltip-arrow"><div class="tooltip-arrow-inner"></div></div>
		        	<div class="tooltip-content"></div>
		        </div>
	            <span class="mk-prod-name">
	            	<span class="mk-prod-brand-name"><%= product.brands_filter_facet %></span>
	            	<%= Myntra.Utils.String.truncate(Myntra.Utils.String.strip(product.product.replace(new RegExp(product.brands_filter_facet+' ','ig'), '')), 53) %>
            	</span>
	            <span class="mk-prod-price red"><%= data.rupeesymbol %>
	            	<% if (product.discount > 0) { %>
	            		<%= (+product.discounted_price).toLocaleString() %> <span class="strike gray"><%= (+product.price).toLocaleString() %></span>
            		<% } else { %>
            			<%= (+product.price).toLocaleString() %>
        			<% } %>
    			</span>
	            <% if (product.dre_discount_label) { %>
		            <span class="mk-discount red">
		                <%= product.dre_discount_label %>
		            </span>
		        <% } %>
	        </div>
		</a>

		<% var colourOptionsCount = product.colourVariantsData ? _.size(product.colourVariantsData) : 0; %>
		<% if (data.colourOptionsVariant == 'test' && colourOptionsCount > 0) { %>
			<div class="colours-lbl"><%= '+' + colourOptionsCount + ' Colour' + (colourOptionsCount > 1 ? 's' : '') %></div>
		<% } %>

		<% if (data.colourOptionsVariant == 'test' && colourOptionsCount > 0) { %>
			<div class="mk-colour mk-hide">
	        	<div class="tooltip-arrow"><div class="tooltip-arrow-inner"></div></div>
	        	<div class="tooltip-content rs-carousel">
				    <ul class="rs-carousel-runner mk-cf">
				    	<% _.each(product.colourVariantsData, function (val, key, list) { %>
				    		<% var imgPath = Myntra.Utils.getJpegminiImgSrc("style_48_64", val.search_image.replace('_images_180_240', '_images_48_64').replace('/style_search_image/', '/properties/')); %>
				            <% var title = val.global_attr_base_colour + ((val.global_attr_colour1 && val.global_attr_colour1 != 'NA') ? ' / ' + val.global_attr_colour1 : '') %>
					        <li class="rs-carousel-item">
					            <a href="<%= '/' + val.dre_landing_page_url + (data.nav_id ? ('?nav_id=' + data.nav_id) : '') %>" data-id="<%= key %>">
					            	<img class="jquery-lazyload" src="<%= data.cdn_base + '/skin2/images/loader_180x240.gif' %>" original="<%= imgPath %>" height="52" width="39" title="<%= title %>" alt="<%= title %>" />
					            </a>
					        </li>
				        <% }); %>
				    </ul>
				    <span class="icon-prev mk-hide"></span>
				    <span class="icon-next mk-hide"></span>
				</div>
			</div>
		<% } %>
	</li>
<% } %>
</script>