<hr/>
<div class="button-panel"> 
	<span style="float:left">
		<input type="submit" value="Update" class="btnUpdate" />
	</span>
	<span style="float:right">
		<input type="button" value="Delete" class="btndelete" />
	</span>   
</div>
<hr/>