{* $Id: menu.tpl,v 1.68.2.2 2006/06/20 05:52:05 svowl Exp $ *}

{capture name=menu}
<li><a href="{$catalogs.admin}/abtesting_gate.php?mode=view&object=list" class="VertMenuItems">AB Tests List</a></li>
{/capture}
{include file="menu.tpl" dingbats="dingbats_categorie.gif" menu_title='AB Testing' menu_content=$smarty.capture.menu }