<script type="text/javascript">
	    var abtests =  {$abtests};
</script>
{literal}
<style type="text/css">
	.orange-bg button{background:#ed9b06 !important;padding:0 10px !important;color:#FFFFFF !important;width:100% !important}
	.green-bg button{background:green !important;color:#FFFFFF !important;padding:0 10px !important;width:100% !important}
	.button-table td{padding:3px !important;}

	
</style>
{/literal}
<link rel="stylesheet" type="text/css" href="{$http_location}/admin/extjs/resources/css/ext-all.css"/>
	
<script type="text/javascript" src="{$http_location}/admin/extjs/adapter/ext/ext-base.js"></script>
	
<script type="text/javascript" src="{$http_location}/admin/extjs/ext-all.js"></script>
<script type="text/javascript" src="{$http_location}/skin1/admin/abtest/abtest.js"></script>
<script type="text/javascript" src="{$http_location}/admin/extjs/plugins/superselectbox/SuperBoxSelect.js"></script>
<link rel="stylesheet" type="text/css" href="{$http_location}/admin/extjs/plugins/superselectbox/superboxselect.css"/>
<link rel="stylesheet" type="text/css" href="{$http_location}/admin/extjs/plugins/fileuploadfield/css/fileuploadfield.css"/>
<script type="text/javascript" src="{$http_location}/admin/extjs/plugins/fileuploadfield/FileUploadField.js"></script>
<div id="contentPanel"></div>
<div id="TPO"></div>
