						<table>
                    {section name=product loop=$products }
										
							<tr>
						

								<td><a target="_blank" href="{if $products[product].landingpageurl}{$http_location}/{$products[product].landingpageurl}{/if}">
									<span >
									<img src="{$products[product].searchimagepath}" class="jquery-lazyload" alt="{$products[product].product}" height="160" width="120" original="{$products[product].searchimagepath}">
									</span>
									</a>
								</td>
								<td width="220px">
								<a target="_blank" href="{if $products[product].landingpageurl}{$http_location}/{$products[product].landingpageurl}{/if}" style="text-decoration: none;">
									<div >
										<span class="name">{$products[product].product|truncate:40}</span>
											<div class="noncashback" style={if $cashback_to_display_search }"display:none;"{else}"display:block; float:none;"{/if}>
											{if $products[product].discount_type && $products[product].discount_value neq ''}
												<span style="display: inline;color: #666666; font-size: 13px; font-weight: bold; margin-top: -5px;text-decoration: line-through;">Rs {$products[product].price}</span>
												<span style="display: inline;padding:2px 5px;color: #BD1A00;font-size: 13px;font-weight: bold;">Rs {$products[product].discounted_price}</span>
                                                                                        {if $products[product].discount_label}<span style="font-weight: bold;">{assign var=widgetdata value=$products[product]}{eval var=$products[product].discount_label}</span><br><span style="font-weight: bold;">Save RS.{$products[product].discount}</span>{/if}
											{else}
												<span style="display: inline;color: #BD1A00;font-size: 13px;font-weight: bold;">Rs {$products[product].price}</span>
											{/if}
											</div>
											
											
											<div class="cashbackblock clearfix" style={if $cashback_to_display_search && $products[product].showcashback eq 'true'}"display:block;"{else}"display:none;"{/if}> 
												<div class="pblock">	
													{if $products[product].discount_type && $products[product].discount_value neq ''}
														<span style="display: inline;color: #666666; font-size: 13px; font-weight: bold; margin-top: -5px;text-decoration: line-through;">Rs {$products[product].discounted_price}</span>
														<span style="display: inline;padding:2px 5px;color: #BD1A00;font-size: 13px;font-weight: bold;">Rs {$products[product].price}</span>
													{else}
														<span style="display: inline;color: #BD1A00;font-size: 13px;font-weight: bold;"><b class="smalltext">You Pay</b> Rs {$products[product].price}</span>
													{/if}
												</div>
												<div  style={if $products[product].cashback neq 0}"display:block;"{else}"display:none;"{/if}>
													<span style="color: blue;font-size: 10px;font-weight: bold;">Get 10% Cashback</span><span  style="color: green;font-size: 13px;font-weight: bold;" > Rs {$products[product].cashback|round|string_format:"%d"} </span>
												</div>
										</div>
											
									</div>
									<div style="width:220px;overflow: hidden;">
										<b>Available Sizes:</b>{$products[product].sizes|replace:",":", "}
									</div>
									<div >
										Product Code:{$products[product].styleid}
									</div>
									</a>
								</td>
								<td style="text-align: center;width:100px">	
								{if $products[product].count_options_availbale gt 0}
									<select id="{$products[product].styleid}sizeselect" style="width: 100%;" onclick="updateSize('{$products[product].styleid}sizeselect',{$products[product].styleid});" ><option>Click To Load</option></select>
								{else}
									<b style="color: red;font-size: 10px">Sold Out</b>
								{/if}
								</td>
								<td style="padding: 10px; text-align: center;width:100px">
									<b>Quantity</b><input style="text-align: center;" id="{$products[product].styleid}quantity" type="text" size="3" maxlength="3" value="1">
								</td>
								
								<td style="text-align: center;width:100px">
									<input type="button" style="width: 100%" id="{$products[product].styleid}addtocart" value="Add To Cart" onclick="addToCart('{$products[product].styleid}');">
								</td>
						</tr>		
							
                    {/section}
            	</table>
