{* $Id: menu.tpl,v 1.68.2.2 2006/06/20 05:52:05 svowl Exp $ *}
{capture name=menu}
<li><a href="{$catalogs.admin}/communication_engine/email_editor.php" class="VertMenuItems">Email Editor</a></li>
<li><a href="{$catalogs.admin}/communication_engine/email_sender.php" class="VertMenuItems">Email Sender</a></li>
{/capture}
{include file="menu.tpl" dingbats="dingbats_categorie.gif" menu_title="Communication Engine" menu_content=$smarty.capture.menu }