
{capture name=dialog}
{if $error}
<div style="color:red;">{$error}</div>
{/if}
{if $msg}
<div style="color:blue;">{$msg}</div>
{/if}
<br>


<form action = "manual_style_solr_indexing.php" method = "post">
	StyleIds (Comma Seperated) <br>
	<!--   <input type="text" name="styleids"> -->
	<textarea rows="4" cols="50" name="styleids"></textarea>
	<br>
	<input type="submit" value="Solar Index these styles">
</form>



{/capture}
{include file="dialog.tpl" title="Solar Index Styles Manually" content=$smarty.capture.dialog extra='width="100%"'}