{* $Id: menu_admin.tpl,v 1.34 2005/11/17 06:55:36 max Exp $ *}
{capture name=menu}
<li><a href="{$catalogs.admin}/reports_management.php" class="VertMenuItems">Reports</a></li>
<li><a href="/admin/recievables/recievables_analysis.php" class="VertMenuItems">Recievables Analysis</a></li>
{/capture}
{include file="menu.tpl" dingbats="dingbats_categorie.gif" menu_title='Reports & Stats' menu_content=$smarty.capture.menu }