{* $Id: menu.tpl,v 1.68.2.2 2006/06/20 05:52:05 svowl Exp $ *}

{capture name=menu}
<li><a href="{$catalogs.admin}/dre/index.php" class="VertMenuItems"> Faida  </a></li>
<li><a href="{$catalogs.admin}/dre/index.php?c=voucherfreebie" class="VertMenuItems">ParisCalling Voucher Mapping</a></li>
{/capture}
{include file="menu.tpl" dingbats="dingbats_categorie.gif" menu_title="Revenue & Promotions" menu_content=$smarty.capture.menu }
