{* $Id: menu.tpl,v 1.68.2.2 2006/06/20 05:52:05 svowl Exp $ *}

{capture name=menu}
<li><a href="{$catalogs.admin}/shipment_tracking/shipment_tracking_reports.php?type=dashboard" class="VertMenuItems">Delivery tracking report</a></li>
<li><a href="{$catalogs.admin}/shipment_tracking/shipment_tracking_reports.php?type=sla" class="VertMenuItems">Shipping vendor SLAs</a></li>
{/capture}
{include file="menu.tpl" dingbats="dingbats_categorie.gif" menu_title="Logistics" menu_content=$smarty.capture.menu }
