{* $Id: menu.tpl,v 1.68.2.2 2006/06/20 05:52:05 svowl Exp $ *}

{capture name=menu}
<li><a href="{$catalogs.admin}/shopping_fest/leader_config.php" class="VertMenuItems">Leader Board Config</a></li>
<li><a href="{$catalogs.admin}/shopping_fest/coupon_config.php" class="VertMenuItems">Coupon Config</a></li>
<li><a href="{$catalogs.admin}/shopping_fest/general_config.php" class="VertMenuItems">General Config</a></li>
<li><a href="{$catalogs.admin}/user_tagging_activation.php" class="VertMenuItems">Happy Hour</a></li>
{/capture}
{include file="menu.tpl" dingbats="dingbats_categorie.gif" menu_title="Shopping Festival" menu_content=$smarty.capture.menu }
