<script type="text/javascript">
	var loginUser = "{$login}";
    var httpLocation = "{$http_location}";
    var get_coupon = "{$searchcoupon}";
    var get_login = "{$searchlogin}";
</script>

<link rel="stylesheet" type="text/css" href="{$http_location}/admin/extjs/resources/css/ext-all.css"/>

<script type="text/javascript" src="{$http_location}/admin/extjs/adapter/ext/ext-base.js"></script>

<script type="text/javascript" src="{$http_location}/admin/extjs/ext-all.js"></script>
<script type="text/javascript" src="{$http_location}/admin/extjs/plugins/superselectbox/SuperBoxSelect.js"></script>
<link rel="stylesheet" type="text/css" href="{$http_location}/admin/extjs/plugins/superselectbox/superboxselect.css"/>
<script type="text/javascript" src="/skin1/admin/main/myntcash_IGCC_agent.js"></script>
<br>
<br>
<div id="contentPanel"></div>
