{* $Id: menu.tpl,v 1.68.2.2 2006/06/20 05:52:05 svowl Exp $ *}
{capture name=menu}
<li><a href="{$catalogs.admin}/users.php" class="VertMenuItems">{$lng.lbl_users}</a></li>
<li><a href="{$catalogs.admin}/myntralogs.php" class="VertMenuItems">Myntra Logs</a></li>
<li><a href="{$catalogs.admin}/editmyntraloglevel.php" class="VertMenuItems">Edit Myntra Log Level</a></li>
{/capture}
{include file="menu.tpl" dingbats="dingbats_categorie.gif" menu_title='Myntra Admin' menu_content=$smarty.capture.menu }