{* $Id: menu.tpl,v 1.68.2.2 2006/06/20 05:52:05 svowl Exp $ *}
{capture name=menu}
<li><a href="{$catalogs.admin}/orders_search_new.php" class="VertMenuItems">Online Orders</a></li>
<li><a href="{$catalogs.admin}/cod_order_report.php" class="VertMenuItems">COD Orders</a></li>
<li><a href="{$catalogs.admin}/order_dump.php" class="VertMenuItems">Order Dump</a></li>
{/capture}
{include file="menu.tpl" dingbats="dingbats_categorie.gif" menu_title="Orders" menu_content=$smarty.capture.menu }