{* $Id: featured_products.tpl,v 1.24.2.1 2006/06/16 10:47:40 max Exp $ *}
{capture name=dialog}
<div class="notification-message">{$message}</div>
<form action="size_unification_admin_new.php" method="post" class="unif">
	<input type="hidden" name="mode" value="ClearAll"/>
	Style Ids(Comma Separated) : <textArea name="styleId" class="long-input" rows="5" cols="50"></textArea>
	<input type="submit" value="Clear New Sizechart" class="long-input">
</form>
<form action="size_unification_admin_new.php" method="post" class="unif">
	<input type="hidden" name="mode" value="UpdateSca"/>
	Style Ids(Comma Separated) : <textArea name="styleId" class="long-input" rows="5" cols="50"></textArea>	
	<input type="submit" value="Update Size Mappings"  class="long-input">
</form>
<form action="size_unification_admin_new.php" method="post" class="unif">
	<input type="hidden" name="mode" value="UpdateRep"/>
	Style Ids(Comma Separated) : <textArea name="styleId" class="long-input" rows="5" cols="50"></textArea>
	<input type="submit" value="Update Size Measurements"  class="long-input">
</form>
<form action="size_unification_admin_new.php" method="post" class="unif">
	<input type="hidden" name="mode" value="UpdateIma"/>
	Style Ids(Comma Separated) : <textArea name="styleId" class="long-input" rows="5" cols="50"></textArea>
	<input type="submit" value="Update Sizechart Image" class="long-input">
</form>
<form action="size_unification_admin_new.php" method="post" class="unif">
	<input type="hidden" name="mode" value="ClearCache"/>
	Style Ids(Comma Separated) : <textArea name="styleId" class="long-input" rows="5" cols="50"></textArea>
	<input type="submit" value="Clear Cache for Styles" class="long-input">
</form>
{/capture}
{include file="dialog.tpl" title="Size Unification New" content=$smarty.capture.dialog extra='width="100%"'}
