{* $Id: menu.tpl,v 1.68.2.2 2006/06/20 05:52:05 svowl Exp $ *}
{capture name=menu}
<li><a href="{$catalogs.admin}/admin_seo_search.php" class="VertMenuItems">Search and Update Keywords</a></li>
<li><a href="{$catalogs.admin}/seo/crosslinkKeywordManager.php" class="VertMenuItems">Cross-linking Keywords</a></li>
<li><a href="{$catalogs.admin}/metatags_management.php" class="VertMenuItems">Manage Meta Tags</a></li>
{/capture}
{include file="menu.tpl" dingbats="dingbats_categorie.gif" menu_title='SEO' menu_content=$smarty.capture.menu }