{capture name=dialog}
<form method="post" action>
<div>
	<input type="submit" name="clearPHPCache" value="Clear PHP Cache" onclick="return confirm('Sure to clear?');"><br/><br/>
	<input type="submit" name="clearVarCache" value="Clear Var Cache" onclick="return confirm('Sure to clear?');"><br/><br/>
	<input type="submit" name="clearAllCache" value="Clear Complete Cache" onclick="return confirm('Sure to clear?');"><br/><br/>
</div>
</form>
<form method="post" action>
<div>
	<input type="text" name="clearKey" value="">
	<input type="submit" name="clearKeyCache" value="Clear Cache for Key" onclick="return confirm('Sure to clear?');"><br/><br/>
</div>
</form>

{/capture}
{include file="dialog.tpl" title="XCache Manager" content=$smarty.capture.dialog extra='width="100%"'}