{* $Id: wrong_key.tpl,v 1.5 2005/11/21 12:42:05 max Exp $ *}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title> {$lng.txt_download_failed} </title>
<meta http-equiv="Content-Type" content="text/html; charset={$default_charset|default:"iso-8859-1"}" />
</head>

<body>
{$lng.txt_wrong_key}

</body>
