<table width="580" cellspacing="0" cellpadding="0" border="0" align="center" style="border-bottom:1px solid #e2e2e2; margin-bottom:10px;">
		<tr>
			<td width="15" align="left">
				<img src="http://myntramailer.s3.amazonaws.com/september2012/1347956171left.gif" alt="" title="" width="15" height="25" style="display:block;"/>
			</td>
			<td width="550" bgcolor="#eaeaea" align="center" style="text-align:center; font-size:12px; font-weight:bold;">
				YOU MAY ALSO WANT TO CONSIDER
			</td>
			<td width="15" align="right">
				<img src="http://myntramailer.s3.amazonaws.com/september2012/1347956171right.gif" alt="" title="" width="15" height="25" style="display:block;"/>
			</td>
		</tr>
</table>
<table width="580" cellspacing="0" cellpadding="0" border="0" align="center" style="font-size:12px; padding-bottom:10px; margin-bottom:5px;">
	<tr>	
	{counter start=0 skip=1 print=false assign="ct"}
	{foreach name=widgetdataloop item=widgetdata from=$avail_recommendation.data}	
	<td align="center" width = "196">								
		<div style="float:left; width:140px; margin-right:5px;">
			<a target="_blank" href="http://www.myntra.com/{$widgetdata.landingpageurl}?utm_source=triggered&utm_medium=mailer&utm_campaign=abn_cart&omni_camp_startdate={$campaignDate}" style="color:#a61a71; text-decoration:none; outline:none"><img src="{$widgetdata.search_image}" alt="" title="" width="140" height="187" style="display:block; border:1px solid #e1e0e0; margin-bottom:5px;"/></a>
			<div>{$widgetdata.stylename|upper|truncate:16:"...":true}</div>
			<div style="color:#d14747;"><span style="color:#ff1b00;">Rs. {if $widgetdata.discount > 0}{$widgetdata.discounted_price|number_format:0:".":","}{else}{$widgetdata.price|number_format:0:".":","}{/if}</span></div>
		</div>
	</td>
	{counter}	
	{if $ct eq 4}
		</tr><td>&nbsp;</td><tr>
	{/if}
	{/foreach}
	</tr>
	<tr><td>&nbsp;</td></tr>
</table>


