<table width="580" cellspacing="0" align="center" cellpadding="0" border="0" align="center" style="text-align:center; font-family:arial; font-size:12px;">
	<tr>	
	{counter start=0 skip=1 print=false assign="ct"}
	{foreach name=widgetdataloop item=widgetdata from=$avail_recommendation.data}	
	<td align="center" width = "196">								
		<a href="http://www.myntra.com/{$widgetdata.landingpageurl}?utm_source=mrp_mailer&utm_medium=mailer&utm_campaign=coupon_expiry_{$coupon_count}" target="_blank" style="text-decoration:none; color: #000;"><img src="{$widgetdata.search_image}" height="200" width="150" alt="{$widgetdata.global_attr_brand}" title="{$widgetdata.global_attr_brand}" style="border:0px; display:block"/></a>									
		<div padding="5" align="center" style="margin-top:5px">
			{$widgetdata.global_attr_brand}<br /><span style="color:#ff1b00;">Rs. {if $widgetdata.discount > 0}{$widgetdata.discounted_price|number_format:0:".":","}{else}{$widgetdata.price|number_format:0:".":","}{/if}</span><a href="http://www.myntra.com/{$widgetdata.landingpageurl}?utm_source=mrp_mailer&utm_medium=mailer&utm_campaign=coupon_expiry_{$coupon_count}" target="_blank" style="text-decoration:none; color: #000;"><img src="http://myntramailer.s3.amazonaws.com/august2012/1346244399ShopNow.jpg" height="22" width="102" alt="Shop Now" title="Shop Now" style="border:0px; margin-top:10px; display:block"/></a>
		</div>
	</td>
	{counter}	
	{if $ct eq 3}
		</tr><td>&nbsp;</td><tr>
	{/if}
	{/foreach}
	</tr>
	<tr><td>&nbsp;</td></tr>
</table>


