/** sprite: mysprite; sprite-image: url('sprite.gif'); sprite-layout: horizontal */
#customize_left { 
background-image: url(customize_left.gif); /** sprite-ref: mysprite; */ 
}  
#customize_right { 
background-image: url(customize_right.gif); /** sprite-ref: mysprite;*/ 
} 
#customize_top { 
background-image: url(customize_top.gif); /** sprite-ref: mysprite;*/ 
}
 

