<ul>
	<li>Waist - Slimmest part of the natural waistline, above navel and below ribcage</li>
	<li>Inseam length - Length from the crotch to the bottom hem</li>
	<li>Length / Outseam length - Length from the waistband to the bottom hem</li>
	<li>Hip - Widest part of the body below the waist</li>
	<li>Thigh - Widest measurement around top of leg</li>
	<li>Bottom opening/Poocha - Around leg at bottom hem</li>
</ul>
