<div>HOW TO MEASURE YOUR FEET?</div>
<ul>
	<li>Set your foot on a sheet of paper and draw the outline of your foot with a pencil held vertically</li>
	<li>Draw a mark at the end of your heel and the tip of your longest toe, also mark the sides of the widest part of the foot</li>
	<li>For the foot length, measure between heel and toe pencil marks</li>
	<li>For the foot width, measure the marks at the widest part of the foot</li>
	<li>Repeat the process for your other foot</li>
	<li>If you find one foot's measurement is larger than the other, always use the larger foot size</li>
	<li>While buying shoes, measure your feet wearing socks</li>
</ul>
