<div>Topwear</div>
<ul>
    <li>Chest - Fullest part of the chest</li>
    <li>Across Shoulder - From one shoulder tip to the other</li>
    <li>Hip - Widest part of the body below the waist</li>
    <li>Sleeve - From underarm to the end of the sleeve</li>
    <li>Waist - Slimmest part of the natural waistline, above navel and below ribcage</li>
    <li>Length - From the highest point at the shoulder or neckline to the hem</li>
    <li>Collar - Length from the button to the button hole around the collar</li>
    <li>Cuffs - Length from the button to the button hole around the cuff</li>
</ul>
<br/>
<div>Bottomwear</div>
<ul>
	<li>Waist - Slimmest part of the natural waistline, above navel and below ribcage</li>
	<li>Inseam length - Length from the crotch to the bottom hem</li>
	<li>Length / Outseam length - Length from the waistband to the bottom hem</li>
	<li>Hip - Widest part of the body below the waist</li>
	<li>Thigh - Widest measurement around top of leg</li>
	<li>Bottom opening/Poocha - Around leg at bottom hem</li>
</ul>
