<ul>
    <li>Bust/Overbust - Fullest part of the bust</li>
    <li>Underbust - Measure around your ribcage directly under your bust</li>
    <li>Across Shoulder - From one shoulder tip to the other</li>
    <li>Hip - Widest part of the body below the waist</li>
    <li>Sleeve - From underarm to the end of the sleeve</li>
    <li>Waist - Slimmest part of the natural waistline, above navel and below ribcage</li>
    <li>Length - From the highest point at the shoulder or neckline to the hem</li>
    <li>Collar - Length from the button to the button hole around the collar</li>
    <li>Cuffs - Length from the button to the button hole around the cuff</li>
</ul>
