{extends file="layout.tpl"}

{block name=body}

	<div class="mk-one-column">
		<section class="mk-site-main">
			<div class="mk-static-pages">
				<h1 id="top"> Myntra <span class="sep">/</span> Careers </h1>
				<ul class="mk-mynt-nav">
					<li><a href="aboutus">About</a></li>
					<li><a href class="active">Careers</a></li>
					<li><a href="contactus">Contact</a></li>
				</ul>
				<hr />
				<div class="mk-mynt-content mk-cf">
					<div class="mk-left-column">
						<h3 class="no-border">Why Myntra</h3>
						<p>Myntra was started by a group of IIT/IIM graduates in early 2007 and is headquartered in 
							Bangalore with regional offices in New Delhi, Mumbai and Chennai. The company is funded by 
							top tier Venture Capital Funds.</p>
						<p>In addition to accelerated growth opportunities, we foster openness, trust and respect in the 
							workplace. We're a warm and fun-filled place to work; we're passionate about sport and 
							music, debate and design and about getting things right. And while we are small, we are 
							growing rapidly and our growth philosophy is to hire and retain the best. To this end, we 
							offer all employees a culture of fun and learning, and a very competitive package of pay and 
							benefits. Some highlights of our offer are as follows:</p>
						<ul>
							<li>11 paid holidays in a year for employees to celebrate national events and festivals with 
								their families, along with 18 days of paid annual leave to help maintain work-life 
								balance &amp; 12 days of sick leave. Additional leave types that include paid paternity 
								leave of up to 10 business days per annum.</li>
							<li>Every employee is assigned two days of professional development opportunities per year in the form of trainings, certifications, seminar and conference participation opportunities etc.</li>
							<li>Myntra provides medical insurance to all its employees. 100% of the premium for this is paid by Myntra. This provides reimbursement per annum of up to Rs. 2 Lakhs per family including parents/in-laws.</li>
							<li>All employees are eligible for Group Personal Accident insurance. Due to bodily injury or death as a result of an accident, GPA insurance provides benefit of upto Rs. 10 Lakhs or twice the CTC whichever is higher per defined payment schedule. Myntra pays 100% of the premium.</li>
							<li>We foster a culture of fun and transparency with events such as our Monthly All Hands Meets, Sports @ Myntra initiative, Founding Day Annual Celebration for employees and their families and lots more.</li>
							<li>We encourage the generation of smart ideas by our employees from across teams and levels - the best idea of the month receives an I pad!</li>
						</ul>
						<h3>WHAT MYNTRA IS LOOKING FOR</h3>
						<p>We are looking for dynamic professionals who want to explore a steep learning curve to accelerated responsibility and success, while enjoying the journey and making it a fun experience for those they work with. If you are excited by what you've read above about us, and if you are an achiever with passion, energy, integrity and a mission to excel, this is the place for you. JOIN US!</p>
						<p>If you wish to apply for any of the open position, please send your resume to <a href="mailto:jobs@myntra.com">jobs@myntra.com</a>, also mention the position you wish to apply in the subject line.</p>
						
						{if !$careers_whistletalk}
						<div>
						    <h3 class="mk-collapse-control" id="cw">CONTENT WRITER</h3>
						    <div class="mk-collapse-content">
						        Who we are:
						        <br />
						        <p>
						            Do you want to be a part of a lively team of creative writers who love fashion? We are working to improve the fashion content of our website and need writers who have a great knowledge of brands and fashion products, as well as excellent language skills. Myntra’s aim is to educate people about fashion and about how to look good!
						        </p>
						        Business unit and role overview:
						        <br />
						        <p>
						            The catalogue department provides the written and visual content for all products uploaded on Myntra.com. Content Writers are required to provide original descriptions for every product and give style advice.
						        </p>
						        Responsibilities:
						        <br />
						        <ul>
						            <li>Write/proof read/edit Myntra.com website product descriptions – identify the attributes of the product and write with a clear understanding of the target audience with the right tone of voice</li>
						            <li>Develop highly effective, original and targeted content for the promotion and sale of Myntra products online</li>
						            <li>Work with various internal and external teams to get hold of the correct product information</li>
						        </ul>
						        Skills / experience:
						        <br />
						        <ul>
						            <li>2-4 years of content writing experience online or offline. Fashion background preferred. Expert writing skills, editing and proof reading abilities</li>
						            <li>Ability to write terse, attention grabbing and professional copy that puts the message across</li>
						            <li>Creative bent of mind with strong visualization and idea generation skills</li>
						            <li>Ability to deliver within tight deadlines</li>
						            <li>Excellent relationship management skills</li>
						            <li>Aggressive and willing to work in a startup
						                <li>
						        </ul>
						        Qualifications:
						        <br />
						        <p>
						            BA/MA English Literature, journalism or related or BA/MA Fashion Design, Fashion Communication or related
						        </p>
						        Your career:
						        <br />
						        <p>
						            There is plenty of room to develop your writing skills in this role, and space to progress into an editor position. Regular writing workshops and training on new categories and products ensure writers are constantly upgrading their abilities.
						        </p>
						    </div>
						</div>

						<div>
						    <h3 class="mk-collapse-control" id="cm">CATEGORY MANAGER</h3>
						    <div class="mk-collapse-content">

						        Who we are:
						        <br />
						        <p>Myntra.com is ranked among the leading e-commerce platform. The company was started by a group of IIT/IIM graduates in 2007 and is headquartered in Bangalore. Myntra has brought in a new level of professionalism and technology enablement to the e-commerce space in India.</p>
						        Business unit and role overview:
						        <br />business unit- private brands. Most important among many will be the following:
						        <ul>
						            <li>Profitability - (margins – intake and net post discounts /promos etc.)</li>
						            <li>Closer to the market- trend awareness and get the latest at the best price</li>
						        </ul>

						        Responsibilities:
						        <br />
						        <ul>
						            <li>Implementation of plans as buyer in areas of price, promotion &amp; assortment.</li>
						            <li>Dealing with various vendors- merchandising activities like uploading of bom and calculating trims / raw material.</li>
						            <li>Ensure optimum inventory levels are maintained</li>
						            <li>Merchandising planning</li>
						            <li>Performance of category buying and selling plan- monthly review reports</li>
						            <li>Accurately forecast trends, plan stock and monitor performance.</li>
						            <li>Handling negotiations</li>
						            <li>Checking with stock levels</li>
						            <li>Lead planning &amp; budgeting for merchandise procurement</li>
						            <li>Planning and developing the product range and finalizing the pricing strategy for products</li>
						        </ul>
						        Skills / experience:
						        <br />
						        <ul>
						            <li>5-10yrs years of buying and merchandising experience in the apparel industry, ability to deliver within tight deadlines</li>
						            <li>Excellent networking and relationship management skills</li>
						        </ul>
						        Qualification:
						        <br />
						        <p>Graduate from NIFT or equivalent institutes.</p>

						        Your career:
						        <br />
						        <p>There is plenty of room to develop your skills in this role, and space to progress into a senior category manager position.</p>
						    </div>
						</div>

						<div>
						    <h3 class="mk-collapse-control" id="spm">SENIOR PRODUCT MANAGER</h3>
						    <div class="mk-collapse-content">

						        Who we are:
						        <br>
						        <p>
						            Myntra.com is ranked among the leading e-commerce platform . The company was started by a group of IIT/IIM graduates in 2007 and is headquartered in Bangalore. Myntra has brought in a new level of professionalism and technology enablement to the e-commerce space in India.</p>
						        Business unit and role overview:
						        <br>We are looking for a star senior product manager to grow the front end product management team. This is a high impact and visibility role where the product manager is responsible for myntra.com website. In addition to understanding shopping behavior, the product manager will work closely with the engineers, designers, and other internal departments.
						        <br>
						        <br>Want to shape the future of e-commerce and revolutionize the fashion retailing industry? Are you passionate? Interested in innovating how consumers shop fashion lifestyle products online? This is a unique opportunity to be a part of a rapidly growing, fast paced, startup environment with extraordinary stability.
						        <br>
						        <br>
						        <br>Responsibilities:
						        <br>Ideal product manager is passionate and will deliver an un-parallel user experience to establish myntra.com as India’s largest online fashion destination. The product manager will create a strategy and roadmap for Myntra.com website and customer experience. He or she will prioritize the features based on business impact and work with engineering to deliver the roadmap. The product manager will own the launch plan and will measure impact of the various projects that are launched.
						        <br>
						        <br>Skills / experience:
						        <br>
						        <ul>
						            <li>4-7 years' experience working as a product manager, ideally for consumer web products</li>
						            <li>BE/ MBA from premier schools</li>
						            <li>Excellent verbal and written communication skills</li>
						            <li>Ability to understand and analyze user needs and conduct market research. Create and deliver on product vision, goal, strategy, and roadmap</li>
						            <li>Excellent analytical and problem solving skills</li>
						            <li>Keen attention to detail and ability to work with user interface designers and usability experts to define customer experience for all customer facing features</li>
						            <li>Ability to organize, manage, and prioritize tasks. Prior experience working with engineering through complete technology product lifecycle</li>
						        </ul>
						        <br>Qualifications:
						        <br>BE/ MBA from premier schools.
						        <br>Your career:
						        <br>Opportunities to learn and grow are very high, from understanding the team, business in the scope of product management.
						        <br>
						        <br>

						    </div>
						</div>

						<div>
						    <h3 class="mk-collapse-control" id="uxd">USER EXPERIENCE DESIGNER</h3>
						    <div class="mk-collapse-content">

						        Who we are :
						        <br>Myntra.com is ranked among the leading e-commerce platform. The company was started by a group of IIT/IIM graduates in 2007 and is headquartered in Bangalore. Myntra has brought in a new level of professionalism and technology enablement to the e-commerce space in India.
						        <br>
						        <br>Business unit and role overview :
						        <br>
						        <p>
						            Interested in innovating how people shop online?
						            <br>Want to design the next generation mobile, tablet, and desktop user experience? Myntra.com is looking for star design specialists to shape the future of online shopping in India. To get an idea of some of the cutting-edge work that we do, have a look at www.myntra.com/stylestudio - India’s very first virtual trial room, completely designed and built in-house.
						        </p>
						        Responsibilities:
						        <br>
						        <ul>
						            <li>You would work and effectively communicate with engineering and product management, to plan, prioritize, and deliver deliverables that realize the design vision</li>
						            <li>You would need to be able to produce mood boards, storyboards, design briefs, sketch, create visual language guidelines, and other artifacts required to develop and evolve user experience designs</li>
						            <li>You would leverage modern web / mobile technologies to define innovative user interfaces and interaction models that result in realization of business and end-user goals</li>
						        </ul>
						        <br>Skills / Experience:
						        <br>You are the ideal candidate if you:
						        <br>
						        <ul>
						            <li>Are passionate about creating great products for consumers</li>
						            <li>Obsess about giving attention to the minutest details ("erm can you move that icon 1px to the right?)</li>
						            <li>Have balanced visual and interaction design skills</li>
						            <li>Are a good communicator</li>
						            <li>Can multi-task efficiently</li>
						            <li>Can accept design feedback without going into depression</li>
						            <li>This is a unique opportunity to be a part of a rapidly growing startup environment with extraordinary stability</li>
						        </ul>
						        Qualifications :
						        <br>6+ years of experience in designing seamless and consistent user experiences for products. If you’ve worked on internet products, that is just great!
						        <br>Bachelor’s / Master’s Degree in design from a reputed institution preferable.
						        <br>Track record / portfolio of developing and delivering successful, intuitive, and compelling designs that contribute toward market leadership
						        <br>Deep knowledge of user-centered design processes and methodologies
						        <br>Broad knowledge and advanced skills in visual design, interaction patterns, information architecture, usability evaluation, and appropriate technologies
						        <br>Solid understanding of interactive web / mobile technologies and industry trends and experience designing applications leveraging these trends
						        <br>Proficiency in adobe illustrator / Photoshop and / or fireworks. If you have discovered any other tool that makes you extra productive, that is good too
						        <br>

						    </div>
						</div>

						<div>
						    <h3 class="mk-collapse-control" id="sse">SENIOR SOFTWARE ENGINEER</h3>
						    <div class="mk-collapse-content">
						        <p>Myntra.com is ranked among the leading platforms to foster e-commerce companies in. The company was started by a group of IIT/IIM graduates in 2007 and is headquartered in Bangalore.</p>
						        Business Unit and Role Overview:
						        <br />
						        <p>
						            Once orders are placed on the portal Myntra.com, starts a very elaborate order fulfillment and delivery workflow. A myriad of well integrated subsystems that handle these workflows, constitute the Enterprise Resource Planning (ERP) and Supply Chain Management (SCM) software. These systems run 24x7 to manage warehouse and logistics operations, deal with thousands of orders in a day, record-keep tens of millions of items in inventory and are able to handle hundreds of millions of transactions in the system. A high-caliber Engineering team has built ERP systems from ground up on highly scalable Service Oriented Architecture (SOA). This group leverages cutting edge technologies to continuously optimize the inventory life while driving down storage and delivery costs and improving customer experience.
						        </p>
						        Responsibilities:
						        <br />
						        <ul>
						            <li>Write maintainable/scalable/efficient code.</li>
						            <li>Design and architect technical solutions for the business problems of a very large e-commerce portal.</li>
						            <li>Work in cross-functional team, collaborating with peers during entire SDLC.</li>
						            <li>Follow coding standards, unit-testing, code reviews etc.</li>
						            <li>Follow release cycles and commitment to deadlines.</li>
						        </ul>
						        Requirements:
						        <br />
						        <ul>
						            <li>Experience level of 4 to 7 years of experience in very large scale applications</li>
						            <li>Strong problem solving skills, data structures and algorithms.</li>
						            <li>Experience with distributed systems handling large amount of data.</li>
						            <li>Excellent coding skills in Java/J2EE.</li>
						            <li>Very good understanding of Web Technologies</li>
						            <li>Very good understanding of any RDBMS and/or messaging</li>
						        </ul>

						        Qualifications:
						        <br />
						        <p>
						            B Tech/BE or M.Tech/ME in Computer Science or equivalent from a reputed college.
						        </p>

						        Your Career:
						        <br />
						        <p>
						            Being a relatively small sized Engineering team, individuals carry a lot of responsibility on their shoulders. Coming up with the designs of features, evaluating external libraries and frameworks, enhancing existing platform infrastructure, reviewing major architectural decisions, planning and executing deployments with minimal system downtimes is part of everyday job. For an individual with hunger to solve problems and who thrives on challenges, the opportunities at this place are practically limitless.
						        </p>
						    </div>
						</div>
						{/if}
					</div>
					{if $careers_whistletalk}
					<iframe src="http://www.whistletalk.com/m16/enterprisejobs?accountName=myntra" frameborder="0" width="100%" height="400px">Please view this in a browser that supports iframe</iframe>
					{/if}
					<div class="mk-right-column fixed">
	                    <h4>Send your resume to</h4>
	                    <a href="mailto:jobs@myntra.com">jobs@myntra.com</a>
						<ul class="mk-jobs">
							<li><a href="#cw">Content Writer</a></li>
							<li><a href="#cm">Category Manager</a></li>
							<li><a href="#spm">Senior Product Manager</a></li>
							<li><a href="#uxd">User Experience Designer</a></li>
							<li><a href="#sse">Senior Software Engineer</a></li>
			    	    </ul>
						<h4><a href="#">Go to the Top</a></h4>
					</div>
				</div>
			</div>
		</section>
	</div>

{/block}
