{include file="main/include_js.tpl" src="main/popup_category.js"}

{include file="admin/main/general_addoutershop.tpl"}

<br><br><br>
{if $smarty.get.edit == 'yes'}
 {include file="admin/main/product_addoutershop.tpl"}
{/if}
