{* $Id: featured_products.tpl,v 1.24.2.1 2006/06/16 10:47:40 max Exp $ *}
{include file="main/include_js.tpl" src="main/popup_category.js"}

<table cellpadding="1" cellspacing="1" width="100%" border=0>
<tr><td  width="70%" > 
	{include file="admin/main/featured_products.tpl"}

 <br /><br />
        {include file="admin/main/categories1.tpl"}
<br /><br />
	{include file="admin/main/featured_designer.tpl"}
</td>
  <td valign="top" width="30%">
     {include file="admin/main/specialoffer.tpl"}
 </td>
</tr>
</table>
