<script type="text/javascript">
var singleStyleMode=false;
var resultPanelHeight=500;
var panelWidth=800;
</script>
{literal}
<style type="text/css">
	
</style>
{/literal}
<link rel="stylesheet" type="text/css" href="{$http_location}/admin/extjs/resources/css/ext-all.css"/>
	
<script type="text/javascript" src="{$http_location}/admin/extjs/adapter/ext/ext-base.js"></script>
	
<script type="text/javascript" src="{$http_location}/admin/extjs/ext-all.js"></script>
<script type="text/javascript" src="{$http_location}/skin1/admin/style/attr_grouping.js"></script>
<div id="contentPanel"></div>

