{* $Id: featured_products.tpl,v 1.24.2.1 2006/06/16 10:47:40 max Exp $ *}
{include file="main/include_js.tpl" src="main/popup_product.js"}
{ if $mode == 'upload'}
<div id="bluedartUploadZipCsv" style="display:block;">
{else }
<div id="bluedartUploadZipCsv" style="display:none;">
{/if}
{capture name=dialog}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<form action="bluedart_servicability.php"  method="post" name="bluedartUploadZipCsvForm" id="bluedartUploadZipCsvForm" enctype="multipart/form-data" >
	Upload the BlueDart provided zipcodes file : <input type="file" name="orderdetail"/>
	<input type="hidden" name="mode" id="mode" value="upload"/>
	<input type='button' onclick="submitBlueDartZipCodeUpdate()" name='uploadbluedartzipcode'  value="Upload">
	<input type='hidden' name='action' value='verify'>
</form>
</div>
{ if $mode=='upload' && $action=='uploadcompleted'}
<div id="bluedartconfirmupload" style="display:block;">
{else }
<div id="bluedartconfirmupload" style="display:none;">
{/if}
<p><b>Zip Codes have been updated.</b></p>
{/capture}
{include file="dialog.tpl" title="Update Zip Code" content=$smarty.capture.dialog extra='width="100%"'}
</div>

<br /><br />

