{* $Id: featured_products.tpl,v 1.24.2.1 2006/06/16 10:47:40 max Exp $ *}
{include file="main/include_js.tpl" src="main/popup_product.js"}
{capture name=dialog}
<div> 
	<form action="cod_mobile_verification_code.php" method="get">
		<!--+91-<input type="text" name="mobilenumber" id="mobilenumber">-->
		<input type="text" name="login" id="login">
		<input type="submit" value="Search Customer Login">&nbsp; &nbsp;&nbsp;&nbsp;Please Enter the email id.
	</form>
</div>
{/capture}
{include file="dialog.tpl" title="COD Mobile Verification Helper" content=$smarty.capture.dialog extra='width="100%"'}

{capture name=dialog}
{if $mobileresult}
{if $mobileVerificationSuccess}
<font color="red"><b>{$mobileVerificationSuccess}</b></font><br><br>
{/if}
<table cellpadding="3" cellspacing="1" width="100%">
<tr class="TableHead">
	<td width="5%">Mobile No</td>
	<td width="10%">Login id</td>
	<td width="5%">Code</td>
	<td width="30%">Status</td>
	<td width="10%">Confirm	</td>
</tr>

{foreach from=$mobileresult key=k item=singleresult}
<tr align="center">
	<td>{$singleresult.mobile}</td>
	<td>{$singleresult.login}</td>
	<td>{$singleresult.code}</td>
	<td>{$singleresult.statusmeaning}</td>
	<td>
			<form action="cod_mobile_verification_code.php" method="get">
			<input type="hidden" name="mode" value="verifyMobileNum">
			<input type="hidden" name="login" value="{$singleresult.login}">
			<input type="hidden" name="mobile" value={$singleresult.mobile}>
			<input type="submit" value="Verify Mobile">
		</form>
	</td>
</tr>
<tr><td colspan=5><hr/></td></tr>
{/foreach}
</table>
{else}
{if $failure}
<font color="red"><b>{$failure}</b></font><br><br>
{/if}
{if $norecordsmessage}
{$norecordsmessage}
{/if}
{/if}
{/capture}
{include file="dialog.tpl" title="Search Results" content=$smarty.capture.dialog extra='width="100%"'}