  <tr>
   <td colspan="6">
   <p>
	 <input type="radio" name="personalizegift" id="personalizegift" value="C" class="radio"  
	 {if $userinfo.contentprovider eq 'Y' } checked  {/if} />
         &nbsp; <span style="font-size:1.2em;font-weight:bold;">Content Provider Affiliate</span></p>
 </td></tr>				   
    <tr> 
    <td colspan="6">
    <div>
	   <table  class="table"  cellpadding="2" >
		<tr>
		   <td >
		     <div style="padding-left:35px;" >
		          {assign var="ctr" value="0"} 
			     {section name=producttype loop=$products}
			           {if $productTypes}
				      {section name="idx" loop=$productTypes}
					   {if $productTypes[idx] eq $products[producttype][0]}
						      {assign var="check" value="checked"} 
					   {/if}
				       {/section}    
			           {/if}
			           {if $ctr eq 9 }
				        </td></tr><tr><td><div style="padding-left:35px;" >
				        {assign var="ctr" value="0"} 
				    {/if}
				    {math equation="x + y" x=$ctr y=1 assign="ctr"}     	  
				   <input type="checkbox" name="producttype[]" id="producttype[]" class="checkbox"  value="{$products[producttype][0]}" {$check}/>&nbsp;{$products[producttype][1]}&nbsp;&nbsp;&nbsp;
				   {assign var="colspan" value=$smarty.section.producttype.index}  								   	      {assign var="check" value=""} 
			  {/section}	
		  </div>	
		<td>
   	   </tr>
	</table>
 </div>
 </td>
 </tr>


   <tr>
   <td colspan="6">
   <p>
	 <input type="radio" name="personalizegift" id="personalizegift" value="P" class="radio"   
	  {if $userinfo.contentprovider eq 'N' } checked  {/if} />
	 <span style="font-size:1.2em;font-weight:bold;">User Provider Affiliate</span>
   </p>
 </td>
 </tr>
   <tr> 

<td colspan="6">
 <div>
				    
<table  class="table"  cellpadding="2" >
        <tr>
	    <td >
	             <div style="padding-left:35px;" >
			<p><input type="checkbox" name="chkProduct" id="chkProduct" class="checkbox" value="Product" {if $selectedProducts ne ''} checked {/if}>&nbsp;Specific product</p>
                      </div></td>
						 
			<td >
			      <select name="product[]" id="product[]" class="select" multiple size="3" style='width:200px;'>
			            {section name=producttype loop=$products}
				              {if $selectedProducts}
						     	  {section name="idx" loop=$selectedProducts}
			     
								   {if $selectedProducts[idx] eq $products[producttype][0]}
								  	      {assign var="selectProduct" value="selected"} test
								   {/if}
							  {/section}    
						 {/if}	  
						 <option value="{$products[producttype][0]}" {$selectProduct}>{$products[producttype][1]}</option>
						  {assign var="selectProduct" value="" }
				    {/section}   
				</select>
			 </td>
			 </tr>
			 <tr>
			 <td></td>
 			 </tr>
			   <tr>
			   <td >
				   <div style="padding-left:35px;" >
					   <p><input type="checkbox" name="chkCategory" id="chkCategory" class="checkbox" value="Category" {if $selectedCategories ne ''} checked {/if}>&nbsp;Specific category</p>
 				   </div></td>
  				    <td ><select name="category[]" id="category[]" class="select" multiple size="3" style='width:200px;'>
				  	  {section name=category loop=$categories}
					  	{if $selectedCategories}
					  		{section name="idx" loop=$selectedCategories}
					 
						     		  {if $selectedCategories[idx] eq $categories[category][1]}
									     		       {assign var="selectcat" value="selected"} 
					  	     	           {/if}
							{/section}    
						 {/if}	  
						 <option value="{$categories[category][1]}" {$selectcat}>{$categories[category][0]}</option>
							  	 {assign var="selectcat" value=""} 
					  {/section}  
					  </select>
				   </td>
				  </tr>
				    <tr>
					 <td></td>
				    </tr>

				    <tr>
					   <td ><div style="padding-left:35px;" >
					   <p><input type="checkbox" name="chkTags" id="chkTags" class="checkbox" value="Tags" {if $selectedtags.tags ne ''} checked {/if}>&nbsp;Product matching</p>
					   </div></td>
					     <td><!--<input type="text" name="tags" id="tags" value="{$affiliateContent.tags}" />--><textarea name='tags' id='tags' cols="5" rows='2' style="width:300px;">{$selectedtags}</textarea><br/>&nbsp;(comma separated eg : cool,love)</td>
							   
				   </tr>
    </table>
    </td>
    </tr>


