{include file="page_title.tpl" title='Custom Email Sender'}

<link rel="stylesheet" type="text/css" href="{$http_location}/admin/extjs/resources/css/ext-all.css"/>

<script type="text/javascript" src="{$http_location}/admin/extjs/adapter/ext/ext-base.js"></script>

<script type="text/javascript" src="{$http_location}/admin/extjs/ext-all.js"></script>
<script type="text/javascript" src="{$http_location}/admin/extjs/plugins/superselectbox/SuperBoxSelect.js"></script>
<link rel="stylesheet" type="text/css" href="{$http_location}/admin/extjs/plugins/superselectbox/superboxselect.css"/>
<script type="text/javascript" src="email_sender.js"></script>
 
<script type="text/javascript" src="{$http_location}/skin1/js_script/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="{$http_location}/skin1/myntra_js/jquery.min.js"></script>
<script type="text/javascript" src="{$http_location}/skin1/js_script/jquery.validate.js"></script>
<link rel="stylesheet" type="text/css" href="{$http_location}/skin1/myntra_css/jquery.autocomplete.css" />

<script type='text/javascript' src='{$http_location}/skin1/myntra_js/jquery.bgiframe.min.js'></script>
<script type='text/javascript' src='{$http_location}/skin1/myntra_js/jquery.ajaxQueue.js'></script>
<script type='text/javascript' src='{$http_location}/skin1/myntra_js/jquery.autocomplete.pack.js'></script>

{literal}



{/literal}  
<br>
<br>

<div id="contentPanel"></div>