<script type="text/javascript">
    var httpLocation = "{$http_location}";
</script>

<link rel="stylesheet" type="text/css" href="{$http_location}/admin/extjs/resources/css/ext-all.css"/>

<script type="text/javascript" src="{$http_location}/admin/extjs/adapter/ext/ext-base.js"></script>

<script type="text/javascript" src="{$http_location}/admin/extjs/ext-all.js"></script>
<br>
<br>
<div id="contentPanel"></div>

<script language="javascript" src="../skin1/js_script/message.js"></script>
