{* $Id: product_details.tpl,v 1.44.2.2 2006/06/19 05:49:02 max Exp $ *}
<script type="text/javascript" src="{$xcart_web_dir}/skin1/order_formvalidation.js" ></script>

{include file="admin/main/add_offline_customer.tpl"}
<br><br>
{if $custemail}
{include file="admin/main/add_offline_product.tpl"}
{/if}