{* $Id: featured_products.tpl,v 1.24.2.1 2006/06/16 10:47:40 max Exp $ *}
{*include file="main/include_js.tpl" src="main/popup_product.js"*}
{*include file="main/include_js.tpl" src="main/calendar2.js"*}


<a name="featured" />

{$lng.txt_featured_products}



{capture name=dialog}


<form action="admin_referalpayment.php" method="post" name="searchform">
<input type="hidden" name="mode"  />


<table cellpadding="3" cellspacing="1" width="100%">




<tr>
	<td align="left"><b>Search referral</b></td>
	<td align="left"><input type="text" size ="60" name="referral" value="{$searchText}" /></td>

</tr>


<tr>
	<td colspan="6" class="SubmitBox">
	<input type="submit" value="{$lng.lbl_search|escape}" onclick="javascript: document.searchform.mode.value = 'search'; document.searchform.submit();"/>
	</td>
</tr>

</table>
</form>

{/capture}
{include file="dialog.tpl" title=$lng.lbl_search content=$smarty.capture.dialog extra='width="100%"'}
<br/>
<!-- display only user search for affiliates -->
{if $referers}

	{capture name=dialog}
	<form action="admin_referalpayment.php" method="post" name="referalfrm" >
	<input type="hidden" name="mode" />
	
	<table cellpadding="3" cellspacing="1" width="100%">
	
{if $referers}
	
	<tr class="TableHead">
		<td width="10%">&nbsp;</td>
		<td width="20%">Referal Name</td>
		<td width="10%" align="center">Referal Money(Rs)</td>
	</tr>
		
	{assign var="totalcommEarn" value=0.00}
		
	{section name=prod_num loop=$referers}
	
	<tr{cycle values=", class='TableSubHead'"}>
	
		<td style="left-padding:10px"><input type="checkbox" name="posted_data[{$referers[prod_num].login}][delete]"   /></td>
		<td align="left" style="left-padding:30px"><b>{$referers[prod_num].firstname}&nbsp;{$referers[prod_num].lastname}</b></td>
		<td align="center"><b>{$referers[prod_num].commEarned}</b></td>
		
		{math equation="x + earnComm" x=$totalcommEarn earnComm=$referers[prod_num].commEarned assign="totalcommEarn"}
			
	
	</tr>
	
	{/section}
	
	<tr>
		<td colspan="3" >
		<hr>
		</td>
	</tr>
	<tr>
		
		<td align="center"><strong>&nbsp;</strong></td>
		<td align="center"><strong>&nbsp;</strong></td>
		<td align="center"><strong>{include file="currency.tpl" value=$totalcommEarn}</strong></td>
	</tr>
	<tr>
		<td colspan="3" class="SubmitBox">
		<input type="submit" value="{$lng.lbl_modify_selected|escape}" onclick="document.referalfrm.mode.value = 'update'; document.referalfrm.submit();" />
		</td>
	</tr>
	{/if}
	{if $mode eq 'search' && $referers eq ''}
		 <tr>
		     <td colspan="5" align="center">{$lng.txt_no_designer_search}</td>
		</tr>
	{/if}
	
		
	
	</table>
	</form>
	
	{/capture}
	{include file="dialog.tpl" title='Referrals' content=$smarty.capture.dialog extra='width="100%"'}
{/if}	



