<table style="border-collapse: collapse;" border = "1">
	  <tr>
	  	{foreach item="header" key= "key" from=$headers}
			<th style="vertical-align: middle;padding:5px;">{$header}</th>	
		{/foreach}
	  </tr>
	  {foreach item="row" key="key1" from=$data}
		<tr>
			{foreach item="header" from=$headers key= "key2"}
				<td style="vertical-align: middle;padding:5px;"> {$row.$header}</td>
			{/foreach}		
		</tr>
	{/foreach}
	</tr>
  
</table>


	
