<table >
        <tr style="background-color:#000; cellpadding:5px;font-weight:bold;;color:#fff;border: solid #333;">
        	<td style="border: solid #333 1px;color:#fff;font-weight:bold;padding:5px;font-size:14px;">
                Ticket Id
                </td>
                <td style="border: solid #333 1px;color:#fff;font-weight:bold;padding:5px;font-size:14px;">
                Shop Master
                </td>
                <td style="border: solid #333 1px;color:#fff;font-weight:bold;padding:5px;font-size:14px;">
                Store Name
                </td>
                <td style="border: solid #333 1px;color:#fff;font-weight:bold;padding:5px;font-size:14px;">
                Subject
                </td>
                 <td style="border: solid #333 1px;color:#fff;font-weight:bold;padding:5px;font-size:14px;">
		Priority
                </td>
                <td style="border: solid #333 1px;color:#fff;font-weight:bold;padding:5px;font-size:14px;">
                Date Received
                </td>
        </tr>
        {section name=tcktid loop=$tickets}
        <tr class="{cycle values=",TableSubHead"}">
        <td>
               <a href="viewsupportticket.php?ticketid={$tickets[tcktid].id}"> {$tickets[tcktid].id}</a>
        </td>
        <td>
                {$tickets[tcktid].shop_master_name}
        </td>
        <td>
                {$tickets[tcktid].shop_name}
        </td>
        <td>
                {$tickets[tcktid].issue_summary}
        </td>
        <td>
                {$tickets[tcktid].priority}
        </td>
        <td>
                {$tickets[tcktid].date_received}
        </td>
        </tr>
        {/section}
</table>
