{* $Id: featured_products.tpl,v 1.24.2.1 2006/06/16 10:47:40 max Exp $ *}

{capture name=dialog}


<table cellpadding="3" cellspacing="1" width="100%" border=0 align=center>
<tr>
     <td align= center valign=center width=100%> 
	<div ><img src="{$imagePath|escape}" alt="Orignal Image"></div>
     </td>
</tr>
</table>

{/capture}
{include file="dialog.tpl" title='' content=$smarty.capture.dialog extra='width="100%"'}