<div class="form">
<fieldset>
	<form method="post" action="replysupportticket.php">
		<div class="super"><p><strong>Support Tickets: Support Ticket Details</strong> </p> </div>
		<div class="links_980">
			<table align>
				<tr><td>Shop Master:</td><td><a href="shop_master_management.php?action=edit+shop+master&shop_master_id={$ticket.shop_master_id}">{$ticket.shop_master_name}</a></td>
				<td>Shop Name:</td><td><a href="shop_master_management.php?action=edit+store&emailid={$ticket.shop_login}">{$ticket.shop_name}</a></tr>
				<input type="hidden" name="storeid" value ='{$ticket.store_id}' />
				<input type="hidden" name="shopmastername" value ='{$ticket.shop_master_name}' />
				<input type="hidden" name="shopname" value ='{$ticket.shop_name}' />
				<input type="hidden" name="shopmasterid" value ='{$ticket.shop_master_id}' />
				<input type="hidden" name="storeemail" value ='{$ticket.shop_login}' />
				<tr><td>Summary</td><td><input type='text' name='summarydisplay' value ='Re:{$ticket.issue_summary}' readonly/></td><td>Order Id</td><td><input type='text' name='orderid' value = '{$ticket.order_id}' readonly></td></tr>
				<tr><td>Reason</td><td><input type='text' name='reason' value = '{$ticket.reason}' readonly/></td></tr>
				<tr><td>Contact Number</td><td><input type='text' name='contactnumber' value = '{$ticket.contact_number}' readonly/></td><td>Email</td><td><input type='text' name='email' value = '{$ticket.email_id}' readonly></td></tr>
				<tr><td>Priority</td><td><input type='text' name='priority' value = '{$ticket.priority}' readonly/></td></tr>
				<tr><td>Details</td><td><input type='text' style='width:350px;height:100px;' name='details' value= '{$ticket.details}' readonly/></td></tr>
				<tr><td colspan='4'><div style="border:1px solid #000; padding:5px 0px; margin:20px 0px;">
				<table>
				<tr><td><p style="font-size:12px;">
        				<strong>Respond to this Ticket</strong><BR/></td></tr>
				<tr><td>Summary</td><td><input type='text' name='summary' value ='Re:{$ticket.issue_summary}' /></td></tr>
				<tr><td>Reply</td><td><textarea style='width:350px;height:100px;' name='replyticket'></textarea></td></tr>
				<tr><td colspan='2'><div style="float:right"><input type='submit' name='submit' value='reply'/></div></td></tr></table>
				</div></td></tr>
			</table>
		</div>
	</form>
</fieldset>
</div>
