{literal}
<script language="javascript" src="/skin1/js_script/jquery.validate.js"> </script>
<script language="javascript" src="/skin1/myntra_js/ns.js"> </script>
<script language="javascript" src="/skin1/myntra_js/mk-base.js"> </script>
<script language="javascript" src="/skin1/myntra_js/lightbox.js"> </script>
<script language="javascript" src="/skin1/myntra_js/jquery.ui.js"> </script>
{/literal}


