<!-- Super block: 
includes (1) header: contains only CSS & JS andpagelocation chooser block
		 (2) multiple rules (section) blocks: 1 update block (containing multiple images), and 1 image-dialog within each rule 		   
-->
<div><H1>Landing Page Product Section Configuration</H1></div>
{include file="admin/landingpage/section-header.tpl"}
{include file=admin/landingpage/section-details.tpl}

