<table>
	<tr>
		<td> <a class="button" href="/admin/recievables/cod_recievables_report.php"> COD Recievables Report</a></td>
	</tr>
	<tr>
		<td> <a class="button" href="/admin/recievables/cod_recievables_adjustments.php"> COD Recievables - Adjustments</a></td>
	</tr>
	<tr>
		<td> <a class="button" href="/admin/recievables/cod_collections_report.php"> COD Collections Report by Shipping Vendor</a></td>
	</tr>
</table>