
<div class="summary-hd">
    <a href="javascript:void(0)" class="edit">Edit</a>
    Bag Summary <span class="count">/ <%= obj.cartItemCount>0? obj.cartItemCount : '' %> 
    <%= obj.cartItemCount>0? obj.cartItemCount>1? " ITEMS": " ITEM" : "EMPTY" %></span>
</div>
<div class="summary-bd">
    <ul class="items">
        <% _.each(obj.cartItemEntries, function(element, index, list) { %>
        <li>
            <% if(!element.freeItem) {%> 
                <a href="<%= element.landingPageUrl %>" target="_blank">
            <% } %>
                <img width="48" height="64" src="<%= element.itemThumbImage %>">
            <% if(!element.freeItem) {%> 
                </a>
            <% } %>
            
            <span class="rupees">Rs. <%= Myntra.Utils.formatNumber(element.subTotal) %></span>
            <div class="details">
                <div class="item-name">
                    <% if(!element.freeItem) {%>
                        <a href="<%= element.landingPageUrl %>" target="_blank">
                    <% } %>
                    <%= element.title %>
                    <% if(!element.freeItem) {%>
                        </a>
                    <% } %>
                </div>
                <div class="size-qty">Size &nbsp;<%= element.selectedSize.unifiedSize %> &nbsp;&nbsp;Qty <%= element.quantity %></div>
                <% if(element.freeItem) { %>
                    <!-- Free Gift added by discount engine -->
                    <span class="free">GIFT</span>                    
                <% } else if(element.subTotal==0 && element.discountQuantity==element.quantity) { %>
                    <!-- User added item issued for free -->
                    <span class="free">FREE</span>                    
                <% } else if(element.discountQuantity>0 && element.discountQuantity<element.quantity) { %>
                    <!-- Of X user added items y are free -->
                    <span class="free"><%= element.discountQuantity%> FREE</span>                    
                <% } %>
            </div>
        </li>
	<hr />
        <% }); %>
    </ul>

    <div class="amt">
        <% if (obj.totalDiscount) { %>
        <span class="strike">MRP Rs.<%= Myntra.Utils.formatNumber(obj.totalMrp) %></span> 
        Bag Total <span class="rupees">Rs. <%= Myntra.Utils.formatNumber(obj.subTotalPrice) %></span>
        <% } else { %>
        Bag Total <span class="rupees">Rs. <%= Myntra.Utils.formatNumber(obj.subTotalPrice) %></span>
        <% } %>
    </div>
    
    <% if (obj.bagDiscount) { %>
    <div class="amt">
        Bag Discount <span class="rupees deduction">- Rs. <%= Myntra.Utils.formatNumber(obj.bagDiscount) %></span> 
    </div>
    <% } %>
    <% if (obj.vatCharge > 0) { %>
    <div class="amt">
        VAT Collected
        <span class="rupees">Rs. <%= obj.vatCharge %></span>
    </div> 
    <% } %>
    <div class="amt">
        Delivery 
        <% if (!obj.shippingCharge || obj.shippingCharge <= 0) { %>
            <span class="free">FREE</span>
        <% } else { %>
            Charges
        <% } %>
        <span class="rupees">Rs. <%= Myntra.Utils.formatNumber(obj.shippingCharge) %></span> 
    </div>
    
    <% if (obj.giftCharge) { %>
    <div class="amt">
        Giftwrap Charges <span class="rupees">Rs. <%= Myntra.Utils.formatNumber(obj.giftCharge) %></span> 
    </div>
    <% } %>
    
    <% if (obj.totalCouponDiscount) { %>
    <div class="amt">
        Coupon Discount <span class="rupees deduction">- Rs. <%= Myntra.Utils.formatNumber(obj.totalCouponDiscount) %></span> 
    </div>
    <% } %>
    
    <div class="amt total">
        Total <span class="rupees">Rs. <%= Myntra.Utils.formatNumber(obj.totalPriceWithoutMyntCash) %></span> 
    </div>
</div>
