/** sprite: mysprite; sprite-image: url('sprite.jpg'); sprite-layout: vertical */
#error_body { 
background-image: url(error_body.gif); /** sprite-ref: mysprite;  sprite-alignment: repeat;*/ 
} 
#error_foot { 
background-image: url(error_foot.gif); /** sprite-ref: mysprite;  sprite-alignment: repeat; */ 
} 
#error_head { 
background-image: url(error_head.gif); /** sprite-ref: mysprite;  sprite-alignment: repeat; */ 
}


