#error_body { 
  background-image: url('sprite.jpg');
  background-position: left -0px;
} 
#error_foot { 
  background-image: url('sprite.jpg');
  background-position: left -30px;
} 
#error_head { 
  background-image: url('sprite.jpg');
  background-position: left -50px;
}


