{* $Id: zone_edit.tpl,v 1.19.2.1 2006/06/16 10:47:51 max Exp $ *}
{include file="page_title.tpl" title=$lng.lbl_zone_details}

{$lng.txt_destination_zones_note}

<br /><br />

<script type="text/javascript" language="JavaScript 1.2">
<!--
var zones = {ldelim}{rdelim};
{counter name='js' start='-1' print=false}
{foreach from=$rest_zones key=z item=v}
zones.{$z} = {ldelim}{foreach from=$v item=c key=k}{if $k > 0},{/if}{$c}:'Y'{/foreach}{rdelim};
{/foreach}

{literal}
function normalizeSelect(name) {
	var tmp = document.getElementById(name);
	if (tmp)
		tmp.options[tmp.options.length-1] = null;
}
{/literal}
var msg_err_zone_rename='{$lng.msg_err_zone_rename|escape}';
-->
</script>
{include file="main/include_js.tpl" src="provider/main/zone_edit.js"}

{capture name=dialog}

<div align="right">{include file="buttons/button.tpl" button_title=$lng.lbl_zones_list href="zones.php"}</div>

<br />

<form action="zones.php" method="post" name="zoneform" onsubmit="javascript: return saveSelects(new Array('_zone_countries','_zone_states','_zone_counties'));">
<input type="hidden" name="mode" value="details" />
<input type="hidden" name="zoneid" value="{$zoneid}" />

<table cellpadding="3" cellspacing="1" width="100%">

<tr>
	<td colspan="3">
<font class="FormButton">{$lng.lbl_zone_name}:</font>
<input type="text" size="50" name="zone_name" value="{$zone.zone_name|escape}" />
<input type="submit" value="{if $zoneid}{$lng.lbl_update|escape}{else}{$lng.lbl_create|escape}{/if}" />
&nbsp;&nbsp;
<input type="button" value=" {$lng.lbl_clone} " onclick="javascript: submitForm(this, 'clone');" />

<br /><br />

	</td>
</tr>

{* Countries *}

<tr>
	<td colspan="3"><br /><br />{include file="main/subheader.tpl" title=$lng.lbl_countries}</td>
</tr>

<tr>
	<td width="45%" align="center"><font class="FormButton">{$lng.lbl_set_val}</font></td>
	<td width="10%">&nbsp;</td>
	<td width="45%" align="center"><font class="FormButton">{$lng.lbl_unset_val}</font></td>
</tr>

<tr>
	<td>
<input type="hidden" id="_zone_countries_store" name="zone_countries" value="" />
<select id="_zone_countries" multiple="multiple" style="width: 100%;" size="{$countries_box_size}">
{section name=cid loop=$zone_countries}
	<option value="{$zone_countries[cid].code}">{$zone_countries[cid].country}</option>
{/section}
<option></option>
</select>
<script type="text/javascript">
<!--
normalizeSelect('_zone_countries');
-->
</script>
	</td>
	<td align="center">
<input type="button" value="&lt;&lt;" onclick="javascript: moveSelect(document.getElementById('_zone_countries'), document.getElementById('rest_countries'), 'R');" />
<br /><br />
<input type="button" value="&gt;&gt;" onclick="javascript: moveSelect(document.getElementById('_zone_countries'), document.getElementById('rest_countries'), 'L');" />
	</td>
	<td>
<select id="rest_countries" multiple="multiple" style="width: 100%;" size="{$countries_box_size}">
{section name=rcid loop=$rest_countries}
	<option value="{$rest_countries[rcid].code}">{$rest_countries[rcid].country}</option>
{/section}
</select>
	</td>
</tr>

<tr>
	<td colspan="3" align="right">
<table cellpadding="3" cellspacing="1" width="80%">
<tr>
	<td class="FormButton" nowrap="nowrap">{$lng.lbl_quick_select}:</td>
	<td align="right">

<table cellpadding="3" cellspacing="1" width="100%">
{assign var="counter" value=0}
{section name=zid loop=$zones}
{if $counter eq 0}<tr>{/if}
	<td align="center" nowrap="nowrap"><a href="javascript: void(0);" onclick="javascript: checkZone('{$zones[zid].zone}', 'rest_countries')">{$zones[zid].title}</a></td>
{math equation="x+1" x=$counter assign="counter"}
{if $counter gt 2}{assign var="counter" value=0}{/if}
{if $counter eq 0}</tr>{/if}
{/section}
</table>

	</td>
</tr>
</table>
	</td>
</tr>

{* States *}

<tr>
	<td colspan="3"><br /><br />{include file="main/subheader.tpl" title=$lng.lbl_states}</td>
</tr>

<tr>
	<td width="45%" align="center"><font class="FormButton">{$lng.lbl_set_val}</font></td>
	<td width="10%">&nbsp;</td>
	<td width="45%" align="center"><font class="FormButton">{$lng.lbl_unset_val}</font></td>
</tr>

<tr>
	<td>
<input type="hidden" id="_zone_states_store" name="zone_states" value="" />
<select id="_zone_states" multiple="multiple" style="width: 100%;" size="{$states_box_size}">
{section name=sid loop=$zone_states}
	<option value="{$zone_states[sid].country_code}_{$zone_states[sid].code}">{$zone_states[sid].country|truncate:"30":"..."}: {$zone_states[sid].state}</option>
{/section}
<option></option>
</select>
<script type="text/javascript">
<!--
normalizeSelect('_zone_states');
-->
</script>
	</td>
	<td align="center">
<input type="button" value="&lt;&lt;" onclick="javascript: moveSelect(document.getElementById('_zone_states'), document.getElementById('rest_states'), 'R');" />
<br /><br />
<input type="button" value="&gt;&gt;" onclick="javascript: moveSelect(document.getElementById('_zone_states'), document.getElementById('rest_states'), 'L');" />
	</td>
	<td>
<select id="rest_states" name="rest_states" multiple="multiple" style="width: 100%;" size="{$states_box_size}">
{section name=rsid loop=$rest_states}
	<option value="{$rest_states[rsid].country_code}_{$rest_states[rsid].code|escape}">{$rest_states[rsid].country|truncate:"17":"...":true}: {$rest_states[rsid].state}</option>
{/section}
</select>
	</td>
</tr>


{* Counties *}

{if $config.General.use_counties eq "Y" and ($zone_counties or $rest_counties)}

<tr>
	<td colspan="3"><br /><br />{include file="main/subheader.tpl" title=$lng.lbl_counties}</td>
</tr>

<tr>
	<td width="45%" align="center"><font class="FormButton">{$lng.lbl_set_val}</font></td>
	<td width="10%">&nbsp;</td>
	<td width="45%" align="center"><font class="FormButton">{$lng.lbl_unset_val}</font></td>
</tr>

<tr>
	<td>
<input type="hidden" id="_zone_counties_store" name="zone_counties" value="" />
<select id="_zone_counties" multiple="multiple" style="width: 100%;" size="{$counties_box_size}">
{section name=ctid loop=$zone_counties}
	<option value="{$zone_counties[ctid].countyid}">{$zone_counties[ctid].county}</option>
{/section}
<option></option>
</select>
<script type="text/javascript">
<!--
normalizeSelect('_zone_counties');
-->
</script>
	</td>
	<td align="center">
<input type="button" value="&lt;&lt;" onclick="javascript: moveSelect(document.getElementById('_zone_counties'), document.getElementById('rest_counties'), 'R');" />
<br /><br />
<input type="button" value="&gt;&gt;" onclick="javascript: moveSelect(document.getElementById('_zone_counties'), document.getElementById('rest_counties'), 'L');" />
	</td>
	<td>
<select id="rest_counties" name="rest_counties" multiple="multiple" style="width: 100%;" size="{$counties_box_size}">
{section name=rctid loop=$rest_counties}
	<option value="{$rest_counties[rctid].countyid}">{$rest_counties[rctid].county}</option>
{/section}
</select>
	</td>
</tr>

{/if}


{* City masks *}


<tr>
	<td colspan="3"><br /><br />{include file="main/subheader.tpl" title=$lng.lbl_cities}</td>
</tr>

<tr>
	<td width="45%" align="center"><font class="FormButton">{$lng.lbl_set_val}</font></td>
	<td width="10%">&nbsp;</td>
	<td width="45%"><font class="FormButton">{$lng.lbl_city_mask_examples}:</font></td>
</tr>

<tr>
	<td>{include file="provider/main/zone_element.tpl" name="zone_cities" field_type="T" box_size=$cities_box_size}</td>
	<td align="center">&nbsp;</td>
	<td>{$lng.txt_city_mask_examples}</td>
</tr>


{* Zip code masks *}

<tr>
	<td colspan="3"><br /><br />{include file="main/subheader.tpl" title=$lng.lbl_zip_postal_codes}</td>
</tr>

<tr>
	<td width="45%" align="center"><font class="FormButton">{$lng.lbl_set_val}</font></td>
	<td width="10%">&nbsp;</td>
	<td width="45%"><font class="FormButton">{$lng.lbl_zipcode_mask_examples}:</font></td>
</tr>

<tr>
	<td>{include file="provider/main/zone_element.tpl" name="zone_zipcodes" field_type="Z" box_size=$zipcodes_box_size}</td>
	<td align="center">&nbsp;</td>
	<td>{$lng.txt_zipcode_mask_examples}</td>
</tr>


{* Address masks *}

<tr>
	<td colspan="3"><br /><br />{include file="main/subheader.tpl" title=$lng.lbl_addresses}</td>
</tr>

<tr>
	<td width="45%" align="center"><font class="FormButton">{$lng.lbl_set_val}</font></td>
	<td width="10%">&nbsp;</td>
	<td width="45%"><font class="FormButton">{$lng.lbl_address_mask_examples}:</font></td>
</tr>

<tr>
	<td>{include file="provider/main/zone_element.tpl" name="zone_addresses" field_type="A" box_size=$addresses_box_size}</td>
	<td align="center">&nbsp;</td>
	<td>{$lng.txt_address_mask_examples}</td>
</tr>



<tr>
	<td colspan="3"><br /><br /><hr />
	<input type="submit" value="{$lng.lbl_save_zone_details|escape}" />
	</td>
</tr>

</table>
</form>

{/capture}
{include file="dialog.tpl" title=$lng.lbl_zone_details content=$smarty.capture.dialog extra='width="100%"'}
