<div class="top-menu">
{include file="checkout/summary.tpl"}
</div>
<div class="summary-pull-down-wrapper">
<div class="summary-pull-down">
Order summary
<div class="pull-down-marker"></div>
</div>
</div>
