
/* Address Summary
-------------------------------------------------------------- */
.address-summary .edit {
    float:right;
    color: #4490A5;
}
.address-summary .summary-bd > div {
    margin:2px 0;
    color:#808080;
    font-family:arial,sans-serif;
    text-transform:none;
    font-size:13px;
}

.address-summary .summary-bd .name {
	font-weight: bold;
}

.address-summary .address,
.address-summary .locality {
    text-transform:none;
}

