/* Global Styles
-------------------------------------------------------------- */
html {
    font-size:12px;
    color:#808080;
}

body {
    background: #fff;
}
pre { text-transform: none; text-align:left; font-family:monospace; }
.container { width:980px; margin:0 auto; text-align:center; }
.rupees { text-transform: none; color: #d14747; }
.rupees.deduction { color: #39B54A; }
.free { color:#39B54A; }
.hide { display: none; }
a { color: #333; text-decoration:none }
a.blue { color: #4490A5;}
a:hover { text-decoration:underline; }
a.blue:hover {text-decoration: underline;}

/*input[type="text"], input[type="email"], input[type="password"], textarea, select {
    box-shadow:none;
    border-color:#ccc;
}*/

/* Message Styles
-------------------------------------------------------------- */
.msg {
    margin:10px 0;
}
.normal {
    font-family:Tahoma, Arial, Sans-Serif;
    text-transform:none;
    color:#333;
}
.info {
  color: #808080;
}
.err, .error {
  color: #d14747;
}
.success {
  color: #00b060;
}


/* Icons
-------------------------------------------------------------- */
.icon-phone {
  background-position: -634px 1px;
  width: 25px;
  height: 17px;
  display: block;
}
.icon-lock {
    background-position: -150px -8px;
    width: 11px;
    height: 15px;
}
.icon-payment-options {
    background-position: 0 -432px;
    width: 465px;
    height: 40px;
}

.icon-phone,
.icon-lock,
.icon-payment-options {
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    display:inline-block;
}
.secure .icon-phone,
.secure .icon-lock,
.secure .icon-payment-options {
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}


/* Secure Page Header Styles
-------------------------------------------------------------- */
.page-header {
    border-bottom:2px solid #d6d6d6;
    text-align:left;
}
.page-header .user-info {
    padding:2px 0;
    text-align:left;
    border-bottom:1px solid #d6d6d6;
    font-size:12px;
    line-height: 22px;
}
.page-header .signin-status {
    float:right;
}
.page-header .signin-status .link-btn {
    padding:2px 0;
    *padding:0;
}
.page-header .promise {
    margin-right:15px;
}
.page-header .promise,
.page-header .promise-msg {
    font-size:12px;
}
.page-header .icon-lock {
    margin-right:5px;
}
.page-header .help-info {
    float:right;
    font-size:14px;
    padding: 7px 0;
}
.page-header .help-info .lbl {
    display:block;
    text-align:right;
}
.page-header .help-info .phone-number {
    color:#333;
}
.page-header .details {
    padding:20px 0;
}
.page-header .logo {
    float:left;
}
.page-header .logo img {
    display:block;
}
.page-header .welcome {
    vertical-align:middle;
}
.page-header .user-info .login {
    line-height: 20px;
}
.page-header .form-logout {
    display:inline;
    vertical-align:middle;
}
.page-header .form-logout.hide {
    display:none;
}
.page-header .form-logout .link-btn {
    font-size:12px;
    color:#333;
}

.page-header .checkout-steps {
    width:230px;
    margin:5px auto;
    color:#808080;
    text-align: center;
}
.page-header .checkout-steps li {
    display:inline-block;
    text-align:center;
}
.page-header .checkout-steps li.divider {
    vertical-align:top;
    padding:5px 0;
    color:#b5b5b5;
}
.page-header .checkout-steps li.step .ico {
    height:24px;
    width:24px;
    display:inline-block;
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
}
.secure .page-header .checkout-steps li.step .ico {
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.page-header .checkout-steps li.step1 .ico { background-position:-329px -219px; }
.page-header .checkout-steps li.step2 .ico { background-position:-358px -219px; }
.page-header .checkout-steps li.step3 .ico { background-position:-387px -219px; }

.page-header .checkout-steps li.step1.active .ico { background-position:-329px -219px; }
.page-header .checkout-steps li.step2.active .ico { background-position:-329px -248px; }
.page-header .checkout-steps li.step3.active .ico { background-position:-329px -277px; }

.page-header .checkout-steps li.step .txt {
    position:absolute;
    width:60px;
    text-align:center;
    margin:0 0 0 -18px;
}
.page-header .checkout-steps li.step.active .txt {
    color:#333;
}
.page-header .checkout-steps li.step.done .ico {
    background-position:-358px -248px;
}


/* Secure Page Footer Styles
-------------------------------------------------------------- */
.page-footer {
    border-top:1px solid #d6d6d6;
}
.page-footer .help-info {
    padding:10px 0;
    text-align:left;
    font-size:14px;
}
.page-footer .help-info .lbl {
    float:right;
    margin-top: 10px;
}
.page-footer .help-info .phone-number-email {
    float:right;
    clear:right;
}
.page-footer .help-info .phone-number {
    color:#333;
}
.page-footer .help-info .email {
    color: #4490A5;
    text-transform: none;
}
.page-footer .copyright {
    border-top:1px solid #d6d6d6;
    padding:10px 0 20px;
}


/* Layout
-------------------------------------------------------------- */
.grid {
    width:980px;
    zoom:1;
    text-align:left;
    color:#333;
}
.grid:before,
.grid:after {
    content:"";
    display:table;
}
.grid:after {
    clear:both;
}

.grid .content {
    width:655px;
    border-right:5px solid #e6e6e6;
    float:left;
}
.grid .summary {
    width:320px;
    border-left:5px solid #e6e6e6;
    margin-left:-5px;
    float:left;
}

.grid .summary-hd {
    background:#e6e6e6;
    background-image:-webkit-linear-gradient(top, #f2f2f2, #d6d6d6);
    /* @alternate */ background-image:-moz-linear-gradient(top, #f2f2f2, #d6d6d6);
    /* @alternate */ background-image:-ms-linear-gradient(top, #f2f2f2, #d6d6d6);
    /* @alternate */ background-image:-o-linear-gradient(top, #f2f2f2, #d6d6d6);
    height:14px;
    width:300px;
    padding:21px 10px;
    border-left:5px solid #ccc;
    margin-left:-5px;
    font-size:14px;
    cursor: pointer;
}

.grid .summary-hd:hover {
    background:#e6e6e6;
    background-image:-webkit-linear-gradient(top, #d6d6d6, #f2f2f2);
    /* @alternate */ background-image:-moz-linear-gradient(top, #d6d6d6, #f2f2f2);
    /* @alternate */ background-image:-ms-linear-gradient(top, #d6d6d6, #f2f2f2);
    /* @alternate */ background-image:-o-linear-gradient(top, #d6d6d6, #f2f2f2);    
}

.grid .summary-bd {
    padding:10px;
}

.grid .content-hd,
.grid .content-sub-hd {
    border-bottom:1px solid #d6d6d6;
    padding:16px 0;
    margin-right:10px;
    font-size:20px;
}

span.complete-icon {
    width: 17px; 
    height: 17px; 
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-position: -95px -406px;
    display: inline-block;   
}
.secure span.complete-icon {
    background-image: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png');
}

span.incomplete-icon {
    width: 17px; 
    height: 17px; 
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-position: -137px -406px;
    display: inline-block;    
}
.secure span.incomplete-icon {
    background-image: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png');    
}

 span.info-icon  {
    width: 16px; 
    height: 16px; 
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-position: -116px -406px;
    display: inline-block;
 }

.secure span.info-icon {
    background-image: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png');
}

.widget-overlay {
    position:absolute;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    height:100%;
    width:100%;
    overflow:hidden;
    background:#fff;
    opacity:.8;
    text-align:center;
    z-index: 1006;
}

.widget-overlay img {
    margin-top: 100px;
}

.ui-autocomplete {
    text-transform: none;
    height: auto;
}
