.cart-section, .wishlist-section, #address-content {
    position: relative;
    min-height: 350px;
}

.cart-section .widget-overlay,
.wishlist-section .widget-overlay {
    position: fixed;
}

.cart-page {
	text-transform: uppercase;
    text-align:center;
    min-height: 350px;
}
.recent-five {
	margin: 0 auto;
}

.recent-five,
.recent-five .mk-carousel-four,
.recent-five .mk-carousel-four .mask {
	width: 950px;
}

.cart-page .col3 a.red {
    font-size:12px;
}

.cart-page .col3 .discount .discount-percentage {
    font-size: 14px;
    border-right: 1px solid #D6D6D6;
    padding-right: 10px;
}

/*.cart-page .col3 .discount .original-amount {
    font-size: 14px;    
}*/

span.coupon-not-applicable {
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat;
    background-position: -617px -107px;
    width: 19px;
    height: 13px;
    display: inline-block;
}

.secure span.coupon-not-applicable {
    background-image: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png');
}

.cart-page .col3 .coupon-status .coupon-applicable,
.cart-page .col3 .coupon-status .coupon-applied {
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat;
    background-position: -660px -107px;
    width: 19px;
    height: 13px;
    display: inline-block;
    vertical-align: top;
}

.secure .cart-page .col3 .coupon-status .coupon-applicable,
.secure .cart-page .col3 .coupon-status .coupon-applied {
    background-image: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png');
}


.cart-page h2 {
    font-size: 35px;
    padding: 20px;
}

.wishlist-section .wishlist-prod-set {
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
}

.cart-page .err {
    text-align: center;
    padding: 5px;
}
.cart-page .page-error {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #d6d6d6;
}
.cart-page .page-error .error-icon{
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat;
    background-position: -137px -406px;
    display: inline-block;
    height: 17px;
    width: 17px;
    margin: -1px 4px;
    vertical-align: top;
}

.secure .cart-page .page-error .error-icon{
    background-image: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png');
}

.cart-page .page-success {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #d6d6d6;
}
.cart-page .page-success strong {
    font-weight:normal;
    color:#808080;
}
.cart-page .page-success .success-icon{
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat;
    background-position: -95px -406px;
    display: inline-block;
    height: 17px;
    width: 17px;
    margin: -1px 4px;
    vertical-align: top;
}

.secure .cart-page .page-success .success-icon{
    background-image: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png');
}

.cart-page .prod-code,
.cart-page .lbl-qty,
.cart-page .lbl-size {
    color:#808080;
}

.cart-page .prod-code {
	font-size: 12px;
	padding: 5px;
}

.cart-page .prod-name {
    padding: 5px;
}

.cart-page .prod-name a,
.cart-page .prod-name .free-item {
    font-size: 14px;
    text-decoration: none;
}

.cart-page .prod-name a:hover {
	text-decoration: underline;
}

.cart-page .prod-name free-item {
    font-size: 14px;
    text-decoration: none;
}

.cart-page .free-prod-name {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.cart-page .row {
    zoom:1;
    padding:10px 0;
    position:relative;
    border-bottom: 1px dashed #d6d6d6;
}

.cart-page .row.first-prod {
    border-top: 2px solid #d6d6d6;
}

.cart-page .row.last-prod {
    border-bottom: 2px solid #d6d6d6;
}

.cart-page .prod-item {
    height: auto;
}

.cart-page .row.combo-item {
    border-bottom: 1px dashed #D6D6D6;
}

.cart-page .row.combo-end{
    border-bottom: 0px;
}


.cart-page .row:after {
    content:".";
    clear:both;
    display:block;
    visibility:hidden;
    height:0;
    font-size:0;
}
.cart-page .col1 {
    font-size: 14px;
    color: #808080;
    float:left;
    text-align:left;
}

.cart-page .count {
    padding: 5px 0;
    line-height: 25px;
}

.cart-page .col2 {
    float: left;
    padding: 0 10px;
    text-align: left;
    width: 450px;
    margin-top: 15px;
}

.cart-page .form-cart-item {
}

.cart-page .col3 {
    /*width:200px;*/
    float: right;
    font-size: 14px;
    text-align:right;
    margin-top: 15px;

}

.cart-page .total {
    font-size: 20px;
    line-height: 25px;
    padding: 5px 0;
}
.cart-page .total .mrp-total {
    color:#999;
}

.cart-page .amount {
	padding: 5px 0;
}

.cart-page .discount {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
	font-size: 12px;
	height: auto;
	padding: 5px 0;
}

.cart-page .combo-savings-msg{
	font-size: 12px;
	/* TODO: remove color, add class 'red' */
	color: #d14747;
}

.cart-page .discount-amt, .cart-page .combo-completion-msg {
	font-size: 12px;
}
.cart-page .discount-msg {
	font-size: 14px;
}

.cart-page .combo-header-main div {
	padding: 4px;
}

.cart-page .savings {
	font-size: 14px;
	line-height: 25px;
}

.cart-page .savings span,
.cart-page .savings-details div span {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
}

.cart-page .savings-hdr .savings-border {
	border-bottom: 2px solid #D6D6D6;
}

.cart-page .savings-details div {
	color: grey;
	padding-bottom: 5px;
}

.cart-page .savings-hdr .ico {
  background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 17px;
  height: 17px;
  cursor: pointer;
  vertical-align: middle;
  top: -3px;
  position: relative;
}

.secure .cart-page .savings-hdr .ico {
  background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}
.cart-page .savings-hdr .ico-expand {
  background-position: -17px -377px;
}
.cart-page .savings-hdr .ico-collapse {
  background-position: 0px -377px;
}

.cart-page .save-list .first,
.cart-page .cart-list .first {
    border-top: 1px solid #d6d6d6;
}
.cart-page .header {
    background:#f2f2f2;
    position:relative;
    min-height:90px;
}
.cart-page .header .btn,
.cart-page .empty-cart .btn {
    display: inline-block;
    *display: inline;
    width: 200px;
}

.cart-page .header .action {
	font-size: 14px;
}
	
.cart-page .header .action div {
	padding: 5px;
}

.cart-page .header a.btn {
	width: 190px;
}

.cart-page .prod-item .action {
	padding: 10px 0;
}
.cart-page .prod-item .action .link-btn , .coupon-app-info{
    font-size: 12px;
}
.cart-page .prod-item .action form {
    display:inline;
    vertical-align:middle;
}
.cart-page .prod-item .action .sep {
    padding:0 0 0 5px;
    vertical-align:middle;
}

.cart-page .prod-item .size-qty-wrap {
    display:inline-block;
    *display:inline;
    /*padding: 10px;*/
    zoom:1;
    margin: 5px 0px;
    position: relative;
    width: 500px;
}

.cart-page .prod-item .size-qty-wrap .size-qty {
    padding-right: 10px;
    border-right: 1px solid #d6d6d6;
    display: inline-block;
}

.cart-page .cart-discount-msg .cart-discount-slab span,
.order-total-summary .delivery-charges-span,
.order-total-summary .vat-charges-span {
    font-size: 14px;
}

.cart-page .cart-discount-msg .cart-discount-slab .change-free-gift {
    text-decoration: none;
    color: #4490a5;
}

.cart-page .cart-discount-msg .cart-discount-slab .change-free-gift:hover {
    text-decoration: underline;
}

.cart-page .cart-discount-msg {
    line-height: 20px;
}

.cart-page .out-of-stock-header {
    border-top: 2px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6;
    padding: 10px 0;
    width: 860px;
    margin: 0 auto;
    font-size: 14px;
}

.cart-page .cart-discount-msg .cart-discount-slab .complete-icon {
    margin-right: 5px;
}

.cart-page .prod-set .edit-move-delete, .cart-page .wishlist-prod-set .edit-move-delete {
    margin: 5px 0px;
    display: inline-block;
    color: #4490A5;
}

.cart-page .prod-set .edit-move-delete span,
.cart-page .wishlist-prod-set .edit-move-delete span,
.cart-page .prod-set .combo-message .edit-combo,
.cart-page .cart-discount-msg .cart-discount-exclusion-tt .offer-conditions
{
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    margin: 0px 5px;
    cursor: pointer;
}

.cart-section .bagContainer .order-total-summary .delivery-charges-span .delivery-tooltip,
.cart-section .bagContainer .order-total-summary .vat-charges-span .vat-tooltip {
    margin: 0 5px 0 0;
    height: 18px;
    display: inline-block;
    cursor: pointer;
    color: #4490a5;
    font-size: 14px;
}

.secure .cart-page .prod-set .edit-move-delete span,
.secure .cart-page .wishlist-prod-set .edit-move-delete span,
.secure .cart-page .prod-set .combo-message .edit-combo,
.secure .cart-page .cart-discount-msg .cart-discount-exclusion-tt span,
.secure .cart-page .cart-discount-msg .cart-discount-exclusion-tt .offer-conditions
{
    background-image: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png');
}

.cart-page .prod-set .edit-move-delete .edit-item,
.cart-page .wishlist-prod-set .edit-move-delete .edit-item {
    background-position: -233px -403px;
    position: relative;
}

.cart-page .prod-set .combo-message .edit-combo {
    background-position: -311px -403px;
    position: relative;
}

.cart-page .cart-discount-msg .cart-discount-exclusion-tt .offer-conditions
{
    background-position: -531px -404px;
    position: relative;
    vertical-align: middle;
}

.cart-page .prod-set .edit-move-delete .move-item {
    background-position: -259px -403px;
    position: relative;
}

.cart-page .prod-set .edit-move-delete .delete-item,
.cart-page .wishlist-prod-set .edit-move-delete .delete-item {
    background-position: -285px -403px;
    position: relative;
}

.cart-page .prod-set .row:hover .edit-move-delete .edit-item:hover, 
.cart-page .wishlist-prod-set .row:hover .edit-move-delete .edit-item:hover,
.cart-page .prod-set .combo-message:hover .edit-combo:hover {
    background-position: -389px -403px;
}

.cart-page .prod-set .row:hover .edit-move-delete .move-item:hover {
    background-position: -415px -403px;
}

.cart-page .prod-set .row:hover .edit-move-delete .delete-item:hover,
.cart-page .wishlist-prod-set .row:hover .edit-move-delete .delete-item:hover {
    background-position: -441px -403px;
}

.cart-page .prod-set .edit-move-delete span.edit-item-text,
.cart-page .prod-set .edit-move-delete span.move-item-text,
.cart-page .prod-set .edit-move-delete span.delete-item-text,
.cart-page .wishlist-prod-set .edit-move-delete span.edit-item-text,
.cart-page .wishlist-prod-set .edit-move-delete span.delete-item-text {
    background: none;
    display: inline;
}

.cart-page .prod-set .row:hover  .edit-move-delete .edit-item,
.cart-page .wishlist-prod-set .row:hover .edit-move-delete .edit-item,
.cart-page .prod-set .combo-message:hover .edit-combo {
    background-position: -311px -403px;
    position: relative;
}

.cart-page .cart-discount-msg:hover .cart-discount-exclusion-tt .offer-conditions {
    position: relative;
}

.cart-page .prod-set .row:hover .edit-move-delete .move-item {
    background-position: -337px -403px;
    position: relative;
}

.cart-page .prod-set .row:hover .edit-move-delete .delete-item,
.cart-page .wishlist-prod-set .row:hover .edit-move-delete .delete-item {
    background-position: -363px -403px;
    position: relative;
}

.cart-page .prod-set .combo-message .edit-combo {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.cart-page .prod-set .myntra-tooltip,
.cart-page .wishlist-prod-set .myntra-tooltip, 
.address-list-wrap .edit-delete-address .myntra-tooltip,
.add-coupon .coupon-section .edit-coupon .myntra-tooltip,
.add-coupon .coupon-section .delete-coupon .myntra-tooltip,
.order-total-summary .gift-wrap-order .edit-giftcard .myntra-tooltip, 
.order-total-summary .gift-wrap-order .delete-giftcard .myntra-tooltip {
    position: absolute;
    padding: 5px;
    background-color: #4D4D4D;
    color: #fff;
    width: 100px;
    white-space: nowrap;
    border: 0 solid transparent;
    top: 28px;
    left: -45px;
    border-radius: 0px;
    box-shadow: 0 0 0;
    display: none;
}

.cart-page .prod-set .coupon-status .myntra-tooltip {
    background-color: #fff;
    padding: 10px;
    border: 3px solid #D6D6D6;
    color: #000;
    left: 10px;
    top: 35px;
    border-radius: 2px;
     /* @alternate */ -moz-border-radius: 2px;
     /* @alternate */ -webkit-border-radius: 2px;
    box-shadow: 0 1px 3px #666;
     /* @alternate */ -moz-box-shadow: 0 1px 3px #666;
     /* @alternate */ -webkit-box-shadow: 0 1px 3px #666;
    white-space: inherit;
    text-align: left;
    width: 150px;
      
}

.cart-page .prod-set .coupon-status .myntra-tooltip .arrow-top-outer {
    border-color: transparent transparent #d6d6d6;
    border-width: 0 12px 12px;
    left: 20px;
    top: -15px;
}
.cart-page .prod-set .coupon-status .myntra-tooltip .arrow-top-inner {
    border-color: transparent transparent #fff;
    border-width: 0 9px 9px;
    left: 23px;
    top: -9px;
}

.cart-page .prod-set .myntra-tooltip .arrow-top-outer,
.cart-page .wishlist-prod-set .myntra-tooltip .arrow-top-outer,
.address-list-wrap .edit-delete-address .myntra-tooltip .arrow-top-outer,
.add-coupon .coupon-section .edit-coupon .myntra-tooltip .arrow-top-outer,
.add-coupon .coupon-section .delete-coupon .myntra-tooltip .arrow-top-outer,
.order-total-summary .gift-wrap-order .edit-giftcard .myntra-tooltip .arrow-top-outer,
.order-total-summary .gift-wrap-order .delete-giftcard .myntra-tooltip .arrow-top-outer {
    left: 50px;
    border-width: 0 5px 5px;
    top: -5px;
    border-color: transparent transparent #4D4D4D;
}

.cart-page .prod-set .myntra-tooltip .arrow-top-inner, 
.cart-page .wishlist-prod-set .myntra-tooltip .arrow-top-inner, 
.address-list-wrap .edit-delete-address .myntra-tooltip .arrow-top-inner,
.add-coupon .coupon-section .edit-coupon .myntra-tooltip .arrow-top-inner,
.add-coupon .coupon-section .delete-coupon .myntra-tooltip .arrow-top-inner,
.order-total-summary .gift-wrap-order .edit-giftcard .myntra-tooltip .arrow-top-inner,
.order-total-summary .gift-wrap-order .delete-giftcard .myntra-tooltip .arrow-top-inner,
.cart-page .coupon-status .myntra-tooltip .arrow-top-inner {
    border-width: 0;
    border-color: transparent transparent #4D4D4D;
}

.cart-page .prod-set .combo-message .edit-combo .myntra-tooltip {
    padding: 0;
    left: -68px;
}

.cart-page .prod-set .combo-message .edit-combo .myntra-tooltip .arrow-top-outer {
    left: 74px;
}


.address-list-wrap .edit-delete-address .myntra-tooltip {
    width: 40px;
    left: -20px;    
}

.address-list-wrap .edit-delete-address .myntra-tooltip .arrow-top-outer {
    left: 25px; 
}

.cart-page .prod-code span {
    color: #808080;
}

.cart-page .prod-set .size-qty-wrap .myntra-tooltip, .cart-page .wishlist-prod-set .size-qty-wrap .myntra-tooltip {
    display: block;
    padding: 10px;
    background-color: #fff;
    width: auto;
    color: #d14747;
    border: 1px solid #d14747;
}

.cart-page .prod-set .size-qty-wrap .out-of-stock-tooltip,
.cart-page .wishlist-prod-set .size-qty-wrap .out-of-stock-tooltip {
    text-align: left;
    line-height: 20px;
    padding: 5px 10px;
    z-index: 1005;
    left: 0px;
    top: 27px;
    -webkit-box-shadow: 0px 0px 6px #d14747;
    /* @alternate */ -moz-box-shadow: 0px 0px 6px #d14747;
    /* @alternate */ box-shadow: 0px 0px 6px #d14747;
}

.cart-page .prod-set .size-qty-wrap .out-of-stock-tooltip .arrow-top-outer,
.cart-page .prod-set .size-qty-wrap .out-of-stock-tooltip .arrow-top-inner,
.cart-page .wishlist-prod-set .size-qty-wrap .out-of-stock-tooltip .arrow-top-outer,
.cart-page .wishlist-prod-set .size-qty-wrap .out-of-stock-tooltip .arrow-top-inner {
    left: 50px;
    border-width: 3px 8px 13px;
    top: -25px;
    border-color: transparent transparent #d14747;
    height: 9px;
    width: 1px;
}

.cart-page .prod-set .size-qty-wrap .out-of-stock-tooltip .arrow-top-inner, 
.cart-page .wishlist-prod-set .size-qty-wrap .out-of-stock-tooltip .arrow-top-inner {
    border-color: transparent transparent #fff;
    width: 1px;
    /*border-width: 5px 5px 12px;*/
    top: -23px;
}


.cart-page .size-qty-wrap .lbl-qty,
.cart-page .size-qty-wrap .sel-qty,
.cart-page .size-qty-wrap .lbl-size,
.cart-page .size-qty-wrap .sel-size {
    /* -- needed if use jqTrans
    float:left;
    margin-right:10px;
    */
}
.cart-page label {
    display: inline-block;
    *display: inline;
    padding: 0px 2px;
    color: #808080;
    font-size: 12px;
}

.cart-page span {
    font-size: 12px;    
}

.cart-page span.total-rupees {
    font-size: 14px;
    color: #d14747;
    width: 90px;
    display: inline-block;
    text-align: right;
    text-transform: none;
}

.cart-page span.original-amount {
    font-size: 14px;    
    height: 30px;
    padding-left: 5px;
    text-transform: none;
}

.cart-page span.item-total {
    font-size: 14px;
    color: #d14747;
    display: inline-block;
}

.cart-page .coupon-status {
    padding: 5px 0px;
    text-transform: none;
    font-size: 12px;
    position: relative;
}

.cart-page .coupon-status a {
    text-decoration: underline;
}

.cart-page .shipping-item,
.cart-page .total-row {
    padding:10px 20px;
    border-bottom:1px solid #d6d6d6;
}

.cart-page .shipping-item .col2 {
    font-size: 14px;
	color: #808080;
}

.cart-page .shipping-item .col2 .discount {
    font-size: 14px;
}

.cart-page .mk-custom-drop-down {
    *display: inline;
    *zoom:1;
    /*margin: 0 15px;*/
    margin-left: 5px;
   
}

.lightbox .edit-product {
    position: relative;
    width: 860px; 
    margin: 100px auto;
}

.lightbox .edit-product .mod {
    height: 148px;
    border-radius: 0;
}

.lightbox .edit-product .bd {
    padding: 10px 0px;
}

.lightbox .edit-product .col1 {
    font-size: 14px;
    color: #808080; 
    float: left; 
    text-align: left;
    padding: 0px 5px;
}

.lightbox .edit-product .col2 {
    float: left; 
    padding: 0 10px; 
    text-align: left; 
    width: 700px; 
    margin-top: 0px;  
}

.lightbox .edit-product .col2 .form-cart-item {
    width: 700px;
    height: 108px;
    /*margin: 20px 0 0 0;*/
}

.lightbox .edit-product .col2 .prod-name {
    width: 445px;
    float: left;
}

.lightbox .edit-product .col2 .prod-name .prod-title {
    font-size: 14px;
    color: #A2A2A2;
    /*width: 280px;*/
    display: inline-block;
    margin-left: 5px;
}

.lightbox .edit-product .col2 .prod-name .mk-custom-drop-down.size {
    height: 65px;
    padding: 10px 0 10px;
    border-right: 1px solid #d6d6d6;
    width: 280px;
    float: left;
    padding-top: 0px;
    margin-top: 10px;
}

.lightbox .edit-product .col2 .prod-name .options {
    padding: 5px 0 0 0;
}

.lightbox .edit-product .col2 .mk-custom-drop-down.qty {
    float: left;
    height: 65px;
    text-align: left;
    padding: 10px;
    width: 140px;
    border-right: 1px solid #D6D6D6;
    padding-top: 0px;
    margin-top: 10px;
}

.lightbox .edit-product .col2 .sel-qty {
    width: 82px;
    height: 27px;
    margin-top: 5px;
}

.lightbox .edit-product .col2 .action-buttons {
    text-align: center;
    float: left;
    width: 250px;
    margin-top: 17px;
    padding: 30px 0;
}

.lightbox .edit-product .col2 .action-buttons .btn-save {
   width: 100px;
   padding: 0px;
   margin-right: 10px;
   font-size: 12px;
   box-shadow: none;
}

.lightbox .edit-product .col2 .action-buttons .btn-cancel {
   width: 100px;
   padding: 0px;
   font-size: 12px;
   box-shadow: none;
}

.lightbox .edit-product .qty-warning-message {
    margin: 10px 0px;
    color: #d14747;
    text-align: left;
}

.lightbox .edit-product .mk-freesize {
    font-family: "din-med";
    display: inline-block;
    width: 85px;
    margin: 0 auto;
    color: #fff;
    padding: 8px 0px;
    line-height: 19px;
    font-size: 14px;
    background: #808080;
    text-align: center;
}

.btn.size-btn.selected.unavailable {
    background-color: #d14747;
    color: #fff;
    background-image: none;
}



.cart-page .jqTransformSelectWrapper {
	display: inline-block;
    *display: inline;
    *zoom:1;
	height: 25px;
    width: 100px;
    position: relative;
    font-size: 12px;
}

.cart-page .cart-discount-slab {
    font-size: 14px;
    background-color: #f2f2f2;
    text-transform: none;
    width: 860px;
    margin: 0 auto;
    padding: 10px 0 7px;
    -webkit-box-shadow: 0px 1px 2px #d6d6d6;
    /* @alternate */ -moz-box-shadow: 0px 1px 2px #d6d6d6;
    /* @alternate */ box-shadow: 0px 1px 2px #d6d6d6;
}

.cart-page .cart-discount-msg .cart-discount-exclusion-tt,
.order-total-summary .delivery-charges-span,
.order-total-summary .vat-charges-span {
    color: #808080;
    position: relative;
}

.cart-page .cart-discount-msg .cart-discount-exclusion-tt .myntra-tooltip
{
    top: 32px;
    left: -100%;
    display: none;
    text-transform: uppercase;
}

.order-total-summary .delivery-charges-span .myntra-tooltip,
.order-total-summary .vat-charges-span .myntra-tooltip {
    top: 30px;
    left: -30px;
    display: none;
    text-transform: uppercase;
}

.cart-page .cart-discount-msg .cart-discount-exclusion-tt .myntra-tooltip .arrow-top-outer {
    left: 29px;
}

.cart-page .cart-discount-msg .cart-discount-exclusion-tt .myntra-tooltip .arrow-top-inner {
    left: 31px;
    top: -10px;
    border-width: 0 10px 10px 10px;
} 

.order-total-summary .delivery-charges-span .myntra-tooltip .arrow-top-outer,
.order-total-summary .vat-charges-span .myntra-tooltip .arrow-top-outer {
    left: 24px;
}

.order-total-summary .delivery-charges-span .myntra-tooltip .arrow-top-inner,
.order-total-summary .vat-charges-span .myntra-tooltip .arrow-top-inner{
    left: 27px;
}


.cart-page .cart-discount-msg .success-icon{
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat;
    background-position: -95px -406px;
    display: inline-block;
    height: 17px;
    width: 17px;
    margin: -1px 4px;
    vertical-align: middle;
}

.secure .cart-page .cart-discount-msg .success-icon{
    background-image: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png');
}

.cart-page .combo .discount-msg .success-icon{
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat;
    background-position: -95px -406px;
    display: inline-block;
    height: 17px;
    width: 17px;
    margin: -1px 4px;
    vertical-align: middle;
}

.secure .cart-page .combo .discount-msg .success-icon{
    background-image: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png');
}

.cart-page .combo .discount-msg .success-icon-large{
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat;
    background-position: 0px -401px;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: -1px 4px;
    vertical-align: middle;
}

.secure .cart-page .combo .discount-msg .success-icon-large{
    background-image: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png');
}

.cart-page .jqTransformSelectWrapper span {
    display: inline-block;
    text-align: center;
    padding: 5px 10px 5px 5px;
    width: 85px;
    font-size: 12px;
}

.cart-page input.sel-size,
.cart-page input.sel-qty
{
	width: 72px;
	text-align: center;
	border: 1px solid #FFFFFF;
}

.cart-page select.sel-size,
.cart-page select.sel-qty {
	width: 85px;
}

.cart-page .jqTransformSelectWrapper  a.jqTransformSelectOpen {
	margin: 10px 8px;
}

.cart-page .empty-cart .err,
.cart-page .empty-saved .err {
    padding: 0 0 10px;
    font-size:14px;
    text-align:center;
}
.cart-page .empty-cart .action {
    padding:10px 0;
}

.cart-page .combo {
	border: 1px solid #D6D6D6;
	margin-bottom: 5px;
	margin-top: 5px;
}

.cart-page .combo .col3 {
	width: 197px;
}


.cart-page .combo-message .combo-data {
    text-transform: none;
}

.cart-page .combo-message a {
    color: #4490A5;
    text-decoration: none;
}

.cart-page .combo .combo-header-main em,
.cart-page .cart-discount-msg em{
	color: #00b060;
}

.cart-page .save-list { margin-top: 80px; }

.save-list h3 {
	padding-bottom: 10px;
	font-size: 12px;
}

.cart-oos-qty {
	cursor: default;
	background: #F2F2F2;
	color: #d14747;
	margin: 0 auto;
	vertical-align: middle;
	padding: 6px 9px;
	font-size: 12px;
}

.cart-page .wishlist-msg {
	font: 14px/20px 'din-med';
	color: #808080;
}
.cart-page .cart-sign-in-sub-msg .btn-login,
.cart-page .wishlist-msg .btn-login {
	color: #333;
	text-decoration: underline;
	cursor: pointer;
}

.cart-page .prod-item .item-error .link-btn {
	font-size: 12px;
	color: #d14747;
	padding: 0 5px;
}

.cart-page .prod-item .mk-freesize {
	font-size: 12px;
	height: 14px;
    line-height: 14px;
}

.cart-sign-in-msg{
	color:#808080;
	font-size:20px;	
	margin:20px 0 10px 0;
}

.cart-sign-in-sub-msg{
	color:#808080;
	font-size:12px;
	line-height: 20px;
	width:300px;
	margin:0 auto;
}

.empty-saved .cart-sign-in-sub-msg {
	width: auto;
}

.cart-page .prod-set {
    width: 860px;
    margin: 0 auto;
    padding-bottom: 7px;
}

.cart-page .prod-set .prod-item img {
    width:96px;
    height:128px;
}


.cart-page .col4 {
    width: 90px;
    float: right;
    font-size: 12px;
    text-align:right;
    margin-top: 15px;
    
}

.cart-page .col5 {
    width: 133px;
    float: right;
    font-size: 12px;
    text-align: right;
    margin: 15px 5px 0 45px;
    
}

.cart-page .col5 .move-to-bag-btn {
    padding: 0 10px;
    width: 133px; 
    font-size: 12px;   
}

.cart-page .col5 .move-to-bag-btn:hover {
    padding: 0 10px;
    width: 133px;
}


.cart-page .product-combo {
    background: #e2e2e2;
    width: 860px;
    height: 33px;
    line-height: 33px;
    position: relative;
    text-align: left;
    margin-bottom: 10px;
    clear: both;
}

.cart-page .product-combo .complete-icon,
.cart-page .cart-discount-msg .complete-icon {
    vertical-align: middle;
}

.cart-page .product-combo .arrow-down{
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #e2e2e2;
    position: absolute;
    left: 10px;
    bottom: -5px;
}

.cart-page .product-combo .arrow-up{
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #e2e2e2;
    position: absolute;
    left: 10px;
    top: -5px;
}

.cart-page .cart--msg {
    padding: 10px 0px;
    font-size: 14px;
    background-color: #d6d6d6;
    margin-bottom: 1px;
}


.cart-page .product-combo .combo-message {
    margin-left: 10px;
    font-size: 12px;
}

.cart-page span.combo-icon {
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png');
    width: 72px;
    height: 52px;
    background-position: -204px -215px;
    position: absolute;
    left: -72px;
    top: 10px;
}

.secure .cart-page span.combo-icon {
    background-image: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png');
}

.highlight-black {
    color:#333;
}

.prod-code.supplier-details {
    padding: 0 0 0 8px;
    border-left: 1px solid #d6d6d6;
}