
/* Cart Summary
-------------------------------------------------------------- */
.cart-summary .edit {
    float:right;
    color: #4490A5;
}
.cart-summary .summary-hd .count {
    color:#999;
}
.cart-summary .items li {
    padding:10px 0;
    overflow:hidden;
    zoom:1;
    font-size: 12px;
}

.cart-summary .items hr {
    border:0;
    height:1px;
    background: #CCCCCC;
    /* @alternate */ background:-moz-linear-gradient(left, #FFFFFF 0%,#CCCCCC 50%,#FFFFFF 100%);
    /* @alternate */ background:-webkit-linear-gradient(left, #FFFFFF 0%,#CCCCCC 50%,#FFFFFF 100%);
    /* @alternate */ background:linear-gradient(left, #FFFFFF 0%,#CCCCCC 50%,#FFFFFF 100%);width:100%;
}

.cart-summary .items li img {
    float:left;
}
.cart-summary .items li .rupees {
    float:right;
    text-align:right;
}
.cart-summary .items li .details {
    color:#808080;
    margin:0 60px 0 58px;
}

.cart-summary .items .item-name,
.cart-summary .items .size-qty {
    margin-bottom: 5px;
}

.cart-summary .items .item-name a {
    color:#808080;
}
/*
.cart-summary .items .item-name a {
    text-decoration:none;
}
.cart-summary .items .item-name a:hover {
    text-decoration:underline;
}
*/
.cart-summary .amt {
    padding:5px 0;
    text-align:right;
    color:#808080;
    text-transform: none;
}
.cart-summary .amt .rupees {
    display:inline-block;
    width:22%;
}
.cart-summary .amt.total {
    color:#333;
    font-size:14px;
    padding:10px 0;
    border-top:1px solid #ccc;
}

