.cart-section .bagContainer .order-total {
	text-align: center;
	width: 860px;
	margin: 0 auto;
	font-size: 14px;
	height: auto;
	clear: both;
}

.cart-section .bagContainer .order-total.footer {
	border: none;
	margin-bottom: 40px;
}

.cart-section .bagContainer .more-shopping {
	float: left;
	margin: 20px auto;
	color: #4490A5;
	position: relative;
	cursor: pointer;
	font-size: 18px;
}

.cart-section .bagContainer .more-shopping .myntra-tooltip {
	width: 145px;
	position: absolute;
	top: 20px;
	padding: 0;
	text-align: left;
	display: none;
}

.cart-section .bagContainer .more-shopping .myntra-tooltip li {
	border-bottom: 1px solid #D6D6D6;
	padding: 10px 0;
	margin:  0 5px;
}

.cart-section .bagContainer .more-shopping .myntra-tooltip li a {
	text-decoration: none;
	color: #333;
	display: block;
}

.cart-section .bagContainer .more-shopping .myntra-tooltip li:hover a {
	color: #4490A5;
}

.cart-section .bagContainer .more-shopping .more-shopping-dropdown-icon {
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png');
	background-position: -207px -277px;
	width: 18px;
	height: 14px;
	display: inline-block;
	margin: 0 5px;
	line-height: 18px;
}

.cart-section .bagContainer .more-shopping:hover .more-shopping-dropdown-icon {
	background-position: -229px -277px;
}


.cart-section .bagContainer .order-total .place-order {
	display: inline-block;	
}

.cart-section .bagContainer .total-amount {
	float: right;
	margin: 20px auto;
	color: #333;
	font-size: 18px;	
}

.cart-section .bagContainer .total-amount .total-rupees {
	font-size: 18px;
}

.cart-section .bagContainer .order-total-summary, .cart-section .bag-discount {
    width: 860px;	
    border-bottom: 1px solid #e6e6e6;
    display: inline-block;
    position: relative;
}

.cart-section .bagContainer .order-total-summary .gift-wrap-order, .cart-section .bag-discount .bag-discount-status {
	float: left;
	margin: 5px 0px;
	color: #333;
	text-transform: none;
	position: absolute;
	bottom: 0px;
	padding-bottom: 5px;
}

.cart-section .bagContainer .order-total-summary .gift-wrap-order form {
	display: inline-block;
}

.cart-section .bagContainer .order-total-summary .gift-wrap-order .edit-giftcard-lbl {
	font-size: 14px;
}

.cart-section .bagContainer .order-total-summary .gift-wrap-order .gift-wrap-checkbox {
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png');
	background-position: -581px -105px;
	width: 14px;
	height: 15px;
	display: inline-block;
	cursor: pointer;
}

.cart-section .bagContainer .order-total-summary .gift-wrap-order .gift-wrap-checkbox.checked {
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png');

	background-position: -600px -105px;
	width: 14px;
	height: 15px;
	display: inline-block;
	vertical-align: top;
}

.cart-section .bagContainer .order-total-summary .gift-wrap-order .edit-giftcard,
.cart-section .add-coupon .coupon-section span.edit-coupon  {
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png');
	background-position: -311px -403px;
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
}

.cart-section .bagContainer .order-total-summary .gift-wrap-order .edit-giftcard:hover,
.cart-section .add-coupon .coupon-section span.edit-coupon:hover {
	background-position: -389px -403px;
}

.cart-section .bagContainer .order-total-summary .gift-wrap-order .delete-giftcard,
.cart-section .add-coupon .coupon-section span.delete-coupon {
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png');
	background-position: -363px -403px;
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
}

.cart-section .bagContainer .order-total-summary .gift-wrap-order .delete-giftcard:hover,
.cart-section .add-coupon .coupon-section span.delete-coupon:hover {
	background-position: -441px -403px;
}

.cart-section .add-coupon .coupon-section a {
	text-decoration: none;
}

.cart-section .add-coupon .coupon-section a:hover {
	text-decoration: underline;
}

.cart-section .add-coupon .coupon-section span, 
.cart-section .order-total-summary .gift-wrap-order span {
	font-size: 14px;
}
	

.cart-section .bagContainer .order-total-summary .gift-wrap-order .giftwraporder {
	vertical-align: middle;
	margin-left: 5px;
	display: inline-block;
}


.cart-section .bagContainer .order-total-summary .order-summary-label, 
.cart-section .bag-discount .bag-discount-summary-label,
.cart-section .add-coupon .coupon-summary-label {
	float: right;
	/*margin: 5px 0;*/
	margin-top: 5px;
}

.cart-section .bagContainer .order-total-summary .order-summary-span, 
.cart-section .bag-discount .bag-discount-summary-span,
.cart-section .add-coupon .coupon-summary-span {
	float: right;
	padding: 5px 0;
	width: 90px;
}

.cart-section .bagContainer .order-total-summary .order-summary-label > label, 
.cart-section .bag-discount .bag-discount-summary-label > label,
.cart-section .add-coupon .coupon-summary-label > label {
	display: block;
	font-size: 14px;
	padding: 2px;
	color: #333;
	text-align: right;
	text-transform: none;
	padding-bottom: 12px;
}
.cart-section .bagContainer .order-total-summary .order-summary-label .free-delivery-msg{
	font-size: 14px;
}

.cart-section .bagContainer .order-total-summary .order-summary-span > span, 
.cart-section .bag-discount .bag-discount-summary-span > span,
.cart-section .add-coupon .coupon-summary-span > span {
	display: block;
	font-size: 14px;
	padding: 2px;
	text-align: right;
	text-transform: none;
	padding-bottom: 10px;
}

.cart-section .bagContainer .order-total-summary .order-summary-span > span.item-total,
.cart-section .bagContainer .order-total-summary .order-summary-span span.shipping-charge,
 .cart-section .bagContainer .order-total-summary .order-summary-span span.vat-charge {
	color: #d14747;
	font-size: 14px;
}

.cart-section .bagContainer .order-total-summary span.shipping-free { 
	font-size: 14px;
}

.cart-section .add-coupon {
	color: #333;
	font-size: 14px;
	height: 32px;
	width: 860px;
	border-bottom: 2px solid #e6e6e6;
	margin: 0px auto;
}

.cart-section .add-coupon .coupon-section, .cart-section .bag-discount .bag-discount-section {
	float: left;
	margin: 8px auto;
	text-transform: none;
}
.cart-section .add-coupon .coupon-section .coupon-applicable {
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat;
    background-position: -660px -107px;
    width: 19px;
    height: 13px;
    display: inline-block;
    /*vertical-align: middle;*/
}

.cart-section .add-coupon .yousave-section, .cart-section .bag-discount .yousave-section {
	float: right;
	margin: 5px 10px;	
}

.cart-section .add-coupon .yousave-section label, .cart-section .bag-discount .yousave-section label{
	color: #333;
	margin-right: 10px;
	font-size: 14px;
	display: block;
}

.cart-section .bagContainer span.greenrupees {
	color: #39B54A;
	font-size: 14px;
}

.add-coupon-form-box
{
	top: 50px;
	overflow: hidden;
}

.add-coupon-form-box .mod {
	width: 890px;
}

.freegift-form-box .mod {
	width: 860px;
}

.freegift-form-box .mk-search-grid {
	margin: 0px auto;
	min-height: 425px;
	max-height: 425px;
	width: 825px;
	padding: 0px;
	overflow: auto;
}

.freegift-form-box .mk-first {
	clear: both;
}
.freegift-form-box .horizontal-rule {
	border-top: 1px solid #e6e6e6;
	clear: both;
}

.freegift-form-box .mk-product {
	width: 188px;
	margin: 30px 10px 10px 0;
	position: relative;
	z-index: 0;
	float: left;
	zoom: 1;	
}

.freegift-form-box .mk-search-grid ul li .in-the-bag-text{
	font-size: 12px;
	height: 18px;
	width: 100px;
	cursor: pointer;
	padding: 2px;
	line-height: 18px;
	top: -25px;
	left: 40px;
	border-radius: 0px;
	z-index: 1;
	position: absolute;
}

.freegift-form-box .mk-search-grid ul li .mk-prod-img {
	position: relative;
}

.freegift-form-box .mk-search-grid .mk-prod-info {
	text-align: center;
	position: relative;
	width: 188px;
}

.freegift-form-box .mk-search-grid .mk-prod-brand-name {
	color: #333;
}

.freegift-form-box .mk-search-grid .mk-prod-style-name {
color: #808080;
}

.freegift-form-box .mk-product a {
	text-decoration: none;
}

.freegift-form-box .mk-product .add-to-bag-btn {
	font-size: 12px;
	height: 18px;
	width: 100px;
	cursor: pointer;
	padding: 2px;
	line-height: 18px;
	top: 198px;
	left: 40px;
	border-radius: 0px;
	z-index: 1;
	position: absolute;
}



.add-coupon-form-box .bd {
	margin-bottom: 30px;
}

.add-coupon-form-box .addr-form {
	border-bottom: 1px dashed #e6e6e6;
	min-height: 100px;
	max-height: 350px;
}

.add-coupon-form-box .addr-form .coupon-list {
	min-height: 250px;
	max-height: 250px;
	outline: none;
}

.add-coupon-form-box .row {
	clear: both;
	border-top: 1px dashed #e6e6e6;
	overflow: hidden;	
}

.add-coupon-form-box .coupon-list .row {
	text-align: left;	
}

.add-coupon-form-box .row.coupon-info {
	margin: 0;
	display: none;
	text-align: left;
	padding: 10px;
	background-color: #f6f6f6;
	position: relative;
	overflow: visible;
	box-shadow: inset 0px 3px 5px -3px #808080;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-top: none;
	font-family: arial;
	text-transform: none;
}

.add-coupon-form-box .row.coupon-info ul {
	margin-bottom: 10px;
}

.add-coupon-form-box .row.coupon-info ul li {
	margin-top: 10px;
}

.add-coupon-form-box .row.coupon-info .label-txt  {
	margin: 5px 0;
	display: inline-block;
	font-weight: bold;
}

.add-coupon-form-box .row.coupon-info .label-txt-value {
	color: #808080;
}

.add-coupon-form-box .row.coupon-info .arrow-outer-bottom {
	left: 5px;
	border-width: 9px 10px 10px;
	top: 0;
	border-color: #D6D6D6 transparent transparent;
	border-style: solid;
	position: absolute;
	width: 0;
	height: 0;
}

.add-coupon-form-box .row.coupon-info .arrow-inner-bottom {
	left: 5px;
	border-width: 8px 10px 10px;
	top: -2px;
	border-color: #fff transparent transparent;
	border-style: solid;
	position: absolute;
	width: 0;
	height: 0;
}

.add-coupon-form-box .row.coupon-info.text-coupon {
	box-shadow: none;
	border: none;
}

.add-coupon-form-box .row.coupon-info.text-coupon .arrow-outer-bottom {
	top: -2px;
	left: 400px;
}

.add-coupon-form-box .row.coupon-info.text-coupon .arrow-inner-bottom {
	top: -3px;
	left: 400px;
}
.add-coupon-form-box .row.coupon-info.text-coupon .promo-coupon {
    font-weight: bold;
}
.add-coupon-form-box .row.coupon-info.text-coupon .promo-coupon-text {
    text-align: center;
}
.add-coupon-form-box .coupon-list .row.select-coupon {
	border: 4px solid #f2f2f2;
	border-bottom: none;
}

.add-coupon-form-box .lightbox-overlay {
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	overflow:hidden;
	background:#fff;
	opacity:.6;
	text-align:center;
}

.add-coupon-form-box input[type="text"] {
	width: 200px;
	margin-bottom: 10px;
	text-align: center;
}

.add-coupon-form-box .coupon-applied-successfully,
.freegift-form-box .freegift-applied-successfully,
.add-coupon-form-box .coupon-application-failed,
.add-coupon-form-box .network-error,
.freegift-form-box .freegift-application-failed,
.add-coupon-form-box .no-coupon-selected {
	font-size: 14px;
	position: relative;
	top: 20px;
} 

.add-coupon-form-box .row .coupon-data {
	display: inline-block;
	position: relative;
	width: 100%;
	margin: 10px 0;
	font-size: 14px;
}

.add-coupon-form-box .row .coupon-data .coupon-details-btn {
	text-transform: none;
}

.add-coupon-form-box .row .coupon-offer {
	display: inline-block;
	margin: 5px 0;
	font-size: 14px;
	text-transform: none;	
}

.add-coupon-form-box .row .coupon-details {
	display: inline-block;
	margin: 5px 0;
	font-size: 14px;
	text-transform: none;
	color: #808080;
}

.add-coupon-form-box .row .coupon-code-box {
    display: inline-block;
    font-size: 12px;
    text-transform: none;
    background-color: #F5FFF5;
    color:green;
    border: 1px;
    height: 12px;
    border-style: dashed;
    border-color: green;
    padding: 3px 9px;
    margin-right: 4px;
}

.add-coupon-form-box .row .coupon-code {
    display: inline-block;
    text-transform: none;
    margin: 2px 0px;
    font-size: 14px;
    color: #808080;
}


.add-coupon-form-box .row .jqTransformRadioWrapper {
	margin: 5px 6px 0;
}

.add-coupon-form-box .jqTransformRadioWrapper a.jqTransformRadio {
	width: 17px;
	height: 17px;
	background-position: -62px -184px;
}

.add-coupon-form-box .jqTransformRadioWrapper a.jqTransformChecked {
	width: 17px;
	height: 17px;
	background-position: -62px -204px;
}

.add-coupon-form-box .jqTransformRadioWrapper a.jqTransformDisabled {
	width: 17px;
	height: 17px;
	background-position: -62px -224px;
}

.add-coupon-form-box .row .coupon-benefit {
	display: inline-block;
	color: #808080;
	margin: 5px 0;
	text-transform: none;
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 14px;	
}

.add-coupon-form-box .row.enter-coupon-row {
	border: 0px solid #333;
	border-bottom: 2px solid #e6e6e6;
}

.add-coupon-form-box .row.enter-coupon-row .complete-icon, .add-coupon-form-box .row.enter-coupon-row .clear-coupon {
	visibility: hidden;
	margin-top: 10px;
	position: relative;
}

.add-coupon-form-box .row.enter-coupon-row .enter-coupon-wrapper {
	position: relative;
	display: inline-block;
	margin: 0 10px;
}

.add-coupon-form-box .row.enter-coupon-row .mk-placeholder-text {
	padding: 10px 0 0 0;
	text-align: center;
}

.add-coupon-form-box .row.choose-coupon-msg {
	border: 0px solid #333;	
	margin: 10px 0;
}

.add-coupon-form-box .btn-apply, .add-coupon-form-box .btn-cancel {
	width: 100px;
   	padding: 0px;
  	margin-right: 10px;
   	font-size: 12px;
}

.lb-gift-wrap .static-text.to, 
.lb-gift-wrap .static-text.from {
	top: 11px;
}

.lb-gift-wrap .static-text {
	position: absolute;
	right: 312px;
	color: #808080;
}

.lb-gift-wrap .err-msg {
	color: #d14747;
	padding: 3px;
	height: 15px;
	margin-bottom: 8px;
	visibility: hidden;
}

.lb-gift-wrap .details button {
	text-align: center;
	width: 100px;
	margin: 0 10px;
}

.wishlist-section .cart-list,
.cart-page .cart-list {
	margin: 20px 0 200px;
}

.wishlist-section a,
.cart-page .cart-list a {
	text-decoration: none;
}

.wishlist-section a:hover,
.cart-page .cart-list a:hover {
	text-decoration: underline;
}

.wishlist-section .err,
.cart-page .cart-list .err {
	font-size: 14px;
}

.wishlist-section .action,
.cart-page .cart-list .action {
	margin: 20px 0;
	text-transform: none;
	font-size: 14px;
}

.wishlist-section .line {	
    display: inline-block;
    border-top: 1px solid #e6e6e6;
    width: 200px;
    margin-top: 10px;
}

.wishlist-section .text,
.cart-page .cart-list .text {
	vertical-align: super;
    font-size: 12px;
    margin: 10px;
    color: #D6D6D6;
}

.wishlist-section .menu-items,
.cart-page .cart-list .menu-items {
	margin: 10px 0;
}

.wishlist-section .menu-item,
.cart-page .cart-list .menu-item {
	padding: 0 10px;
}

.wishlist-section .menu-items .separator,
.cart-page .cart-list .separator {
	vertical-align: top;
	color: #b5b5b5;
}
