
/*.checkout .cart-section { min-height: 500px; }*/

.mk-checkout-header-container {
	width: 980px;
	height: 53px;
	border-bottom: 1px solid #d6d6d6;
	background-color: #fff;
	display: inline-block;
	text-align: center;
}

.mk-checkout-header-container a {
	text-decoration: none;
	cursor: auto;
	/*width: 980px;
	float: left;*/

}

.mk-checkout-header-container .empty-wishlist-msg {
    display: inline-block;
    text-transform: none;
    font-size: 14px;
    margin-right: 50px;
}

.mk-checkout-header-container a .help-text {
	margin-right: 10px;
	font-size: 12px;
	text-transform: none;
	color: gray;
	float: right;
}

.mk-checkout-header-container .checkout-bag-header{
	width: 919px;
	margin: 5px 0;
	border-right: 1px solid #D6D6D6;
	height: 40px;
	line-height: 40px;
	display: inline-block;
}

.mk-checkout-header-container .delivery-bag-header{
	padding: 5px 0;
	line-height: 40px;
	font-size: 20px;
}

.mk-checkout-header-container .shopping-bag-icon {
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
	background-position: -278px -180px;
	width: 18px;
	height: 16px;
	display: inline-block;
	padding-top: 5px;
	line-height: 15px;
	margin-right: 8px;
}
.secure .mk-checkout-header-container .shopping-bag-icon {
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.mk-checkout-header-container .wishlist-icon {
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    background-position: -508px -405px;
    width: 18px;
    height: 16px;
    display: inline-block;
    /*vertical-align: middle;*/
    padding: 2px;
    margin: 0 5px;
    line-height: 20px;
}
.secure .mk-checkout-header-container .wishlist-icon {
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.mk-checkout-header-container .checkout-wishlist-header{
	width: 40px;
	height: 40px;
	vertical-align: middle;
	text-align: center;
	color: #808080;
	float: right;
	cursor: pointer;
	margin: 5px;
}

.mk-checkout-header-container .checkout-wishlist-header .mk-checkout-header {
	margin-right: 5px;
	font-size: 12px;
	width: 50px;
	cursor: pointer;
	display: inline-block;
	margin-top: 5px;
	padding: 0px;
	text-align: center;
}

.mk-checkout-header-container .checkout-wishlist-header .mk-checkout-header .bag-item-count {
	padding-right: 3px;
}

.mk-checkout-header-container .checkout-wishlist-header .mk-checkout-header .mini-header {
	display: block;
	margin-top: 10px;
	text-align: left;
}

.mk-checkout-header-container .checkout-wishlist-header .mk-checkout-header:hover .mini-header {
	text-decoration: underline;
}

.mk-checkout-step-number {
	margin: auto 10px;
	width: 30px;
	height: 30px;
	display: inline-block;
	line-height: 30px;
	text-align: center;
	border: 1px solid #D6D6D6;
	border-radius: 15px;
	background: #fff;
	font-size: 20px;
}
.mk-checkout-header {
	font-size: 20px;
	color: #333;
	float: left;
	line-height: 0;
	padding: 10px 0;
}


/* Delivery content */
.mk-checkout-delivery-content {
	text-align: left;
	width: 530px;
	margin: 20px auto 10px auto;
	font-size: 12px;
}

.mk-checkout-header-container .delivery-bag-header .enter-address,
.mk-checkout-header-container .delivery-bag-header .view-existing {
	float:right;
	font-size: 12px;
	margin-right: 15px;
	margin-top: 2px;
}

.mk-checkout-header-container .delivery-bag-header .enter-address a,
.mk-checkout-header-container .delivery-bag-header .view-existing a {
	float: right;
	text-decoration: none;
	color: #4F96AA;
	cursor: pointer;
}

.mk-checkout-header-container .delivery-bag-header .enter-address a:hover,
.mk-checkout-header-container .delivery-bag-header .view-existing a:hover {
	text-decoration: underline;
}

.mk-checkout-header-container .delivery-bag-header .select-address {
	color: #808080;
	font-size: 12px;
	margin-left: 35px;
}

.address-section {
	width: 655px;
	/*display: inline-block;*/
}

.address-section .mk-checkout-header-container{
	width: auto;
	display: block;
	text-align: left;
}

.address-section .addressListContainer {
	text-align: center;
}

.address-section .addressListContainer .btn-cancel {
	width: 200px;
	margin-right: 50px;
}

.address-list-box .list {
	margin: 0px;
}

.btn-continue {
	/*display: block;*/
	width: 200px;
	margin: 10px auto;
}

.address-list-box .list {
	margin: 0px;
	max-height: 350px;
}

.address-list-box .list strong{
	font-weight: bold;
}

.address-list-box .items .lbl-mobile {
	color: #808080;
}

.address-list-box .items .lbl {
	color: #333;
	padding-bottom: 5px;
	display: inline-block;
}

.address-list-box .items .even {
	background: #f2f2f2;
}

.address-list-box .items .opt {
	width: 220px;
	display: table-cell;
	vertical-align: top;
}

.address-list-box .items td {
	padding: 10px 10px 0 0;
}
.address-list-box .list .address {
	color: #333;
	text-align: left;
	text-transform: none;
	cursor: pointer;
}

.grid .content-hd.address-header {
	display: inline-block;
	width: 738px;
}

.address-list-wrap tr {
	background-color: #fff;
	border-bottom: 2px solid #D6D6D6;
	cursor: pointer;
	text-align: left;
	font-family: Arial;
}

.address-list-wrap tr.lastrow .address {
	padding-bottom: 30px;
}

.address-list-wrap .address-content {
	padding-right: 10px;	
}

.address-list-wrap .edit-address {
	padding-top: 5px;
	line-height: 20px;
	width: 430px;
	display: inline-block;
	border-top: 1px dotted #D6D6D6;
	min-height: 30px;
	/* height: 30px; */
	font-family: "din-med";
}

.address-list-wrap .edit-delete-address {
	float: right;
}




.address-list-wrap .edit-delete-address span {	
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
	width: 22px;
    height: 22px;
    display: inline-block;
    cursor: pointer;   
}
.secure .address-list-wrap .edit-delete-address span {	
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.address-list-wrap .edit-delete-address .edit-item {	
	background-position: -311px -403px;
    position: relative;
}

.address-list-wrap .edit-delete-address .delete-item {
	background-position: -363px -403px;
    position: relative;
}

.address-list-wrap .edit-delete-address .edit-item:hover {	
	background-position: -389px -403px;
    position: relative;
}



.address-list-wrap .edit-delete-address .delete-item:hover {
	background-position: -441px -403px;
    position: relative;
}

.address-list-wrap .jqTransformRadioWrapper {
	margin-top: 0px;
}

.address-list-wrap .jqTransformRadioWrapper a.jqTransformChecked  {
	width: 17px; 
	height: 17px; 
	background-position: -62px -204px;
}

.address-list-wrap .jqTransformRadioWrapper a.jqTransformDisabled  {
	width: 17px; 
	height: 17px;
	background-position: -63px -225px;
}



.address-list-wrap .cust-name {
	font-size: 12px;
	margin-left: 10px;
	text-transform: none;
	font-weight: bold;
}

.address-list-wrap .lbl-default-address {
	color: #808080;
	text-transform: none;
	margin-left: 10px;
	display: inline-block;
	margin-top: 5px;
	font-family: "din-med";
}

.address-list-wrap .jqTransformRadio {
	width: 17px; 
	height: 17px; 
	background-position: -62px -184px;
}

.add-edit-address-section {
	width: auto;
	text-align: left;
	margin: 10px 0;
	border-bottom: 1px solid #D6D6D6;
}

.add-edit-address-section .err-pincode-service
{
	margin-top: 25px;
	color: #d14747;
	text-transform: none;
}

.add-edit-address-section .err-pincode-cod-not-available
{
	margin-top: 15px;
	text-transform: none;
}

.add-edit-address-section .err-only-cod-available {
	margin-top: 25px;
	text-transform: none;
}

.add-edit-address-section .row {
	margin: 20px 0;
}

.add-edit-address-section .row .col {
	display: inline-block;
	vertical-align: top;
}

.add-edit-address-section .row label {
	font-size: 12px;		
}

.add-edit-address-section .row .pincode,
.add-edit-address-section .row .city,
.add-edit-address-section .row .sel-city,
.add-edit-address-section .row .state,
.add-edit-address-section .row .sel-state,
.add-edit-address-section .row .mobile {
	font: 14px/16px "din-med",arial,sans-serif;
	width: 270px;
	margin-right: 10px;	
}

.add-edit-address-section .row .name,
.add-edit-address-section .row .address,
.add-edit-address-section .row .locality
 {
	font: 14px/16px "din-med",arial,sans-serif;
	width: 560px;
	max-width: 560px;	
}
.add-edit-address-section .row .default-address {
	cursor: pointer;
}

.add-edit-address-section .row .default-address-icon {
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
	background-position: -42px -157px;
	width: 11px;
	height: 11px;
	display: inline-block;
	line-height: 11px;
}
.secure .add-edit-address-section .row .default-address-icon {
	background-image: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png');
}

.add-edit-address-section .row .default-address-icon.checked {
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
	background-position: -42px -144px;
	width: 11px;
	height: 11px;
	display: inline-block;
	line-height: 11px;
}
.secure .add-edit-address-section .row .default-address-icon.checked {
	background-image: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png');
}
