
.confirm {
    color:#999;
}

.confirm .msg {
    margin:10px 0;
    text-transform:none;
}

.confirm strong {
    font-weight:normal;
    color:#333;
}

.confirm-msg {
    margin:15px auto;
    font-size:14px;
}

.confirm-box-wrapper{
    margin:15px auto;
    width:750px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-shadow: 0 0 5px #ccc;
}

.confirm-box-wrapper .loyalty-block{
    background: #f2f2f2;
    color: #333;
    min-height: 50px;
    padding-top: 10px;
    font-size: 13px;
    padding-bottom: 10px;
    position: relative;
}

.confirm-box-wrapper .loyalty-block .loyalty-award-msg{
    text-transform: none;
    margin-top: 6px;
    font-family: arial;
    font-size: 12px;
}

.confirm-box-wrapper .loyalty-block .loyalty-award-info{
    font-family: arial;
    font-size: 11px;
    text-transform: none;
    margin-top: 20px;
}

.confirm-box-wrapper .loyalty-block .loyalty-award-msg > *{
    vertical-align: middle;
}
.confirm-box-wrapper .loyalty-block .icon-success {
    display:inline-block;
    vertical-align: middle;
}
.confirm-box-wrapper .loyalty-block .loyalty-award-msg a{
    color: #4490a5;
}
.confirm-box-wrapper .loyalty-block .loyalty-award-heading{
    font-size: 16px;
    text-transform: uppercase;
    color: #4b9a3f;
}

.confirm-box-wrapper .loyalty-block .loyalty-points-breakup{
    clear: both;
    margin: 30px auto 0px auto;
}

.confirm-box-wrapper .loyalty-block .breakup-big,
.confirm-box-wrapper .loyalty-block .breakup-small{
    float: left;
}
.confirm-box-wrapper .loyalty-block .breakup-small{
    width: 30px;
}
.confirm-box-wrapper .loyalty-block .breakup-big{
    width: 220px;
}
.confirm-box-wrapper .loyalty-block .breakup-big.first-block{
    margin-left: 20px;
}
.confirm-box-wrapper .loyalty-block .breakup-round-container{
    border: 1px solid #ccc;
    border-radius: 50px 50px;
    height: 50px;
    width: 140px;
    background-color: #FFFFFF;
    line-height: 50px;
    margin: 0 10px;
    font-size: 24px;
    text-transform: none;
    font-family: arial;
    font-weight: bold;
}

.confirm-box-wrapper .loyalty-block .breakup-round-container.loyal-points{
    font-size: 17px;
    font-weight: normal;
}

.confirm-box-wrapper .loyalty-block .breakup-cal-main,
.confirm-box-wrapper .loyalty-block .breakup-round-main{
    width: 200px;
    margin: 0px auto;
    float: none;
}
.confirm-box-wrapper .loyalty-block .breakup-cal-main table{
    width: 190px;
    margin: 0px auto;
    text-transform: none;
    font-family: arial;
    color: #808080;
    text-align: right;
    font-size: 11px;
}
.confirm-box-wrapper .loyalty-block .breakup-cal-main .b-values,
.confirm-box-wrapper .loyalty-block .breakup-cal-main .b-captions{
    padding: 3px;
}
.confirm-box-wrapper .loyalty-block .breakup-cal-main .b-captions{
    width: 90px;
}
.confirm-box-wrapper .loyalty-block .breakup-cal-main .b-values{
    width: 60px;
}
.confirm-box-wrapper .loyalty-block .breakup-cal-main .b-total .b-captions,
.confirm-box-wrapper .loyalty-block .breakup-cal-main .b-total .b-values{
    font-weight: bold;
    padding-top: 8px;
}

.confirm-box-wrapper .loyalty-block .breakup-operator{
    font-size: 34px;
    font-family: arial;
    margin-top: 6px;
    text-transform: none;
    color: #999;
}
.confirm-box-wrapper .loyalty-block .breakup-cal-desc{
    text-transform: none;
    color: #808080;
    font-family: arial;
    font-size: 11px;
    margin: 4px 22px;
}

.confirm-box-wrapper .loyalty-block .fleft{
    float: left;
}
.confirm-box-wrapper .loyalty-block .fright{
    float: right;
}

.confirm-box-wrapper .loyalty-block .show-hide-breakup{
    text-transform: none;
    color: #4490a5;
    display: block;
    border-top: 1px solid #ccc;
    padding-top: 9px;
    margin-top: 15px;
}
.icon-my-privilege{
    background: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-loyalty_marketing_v6.png') no-repeat -731px -614px;
    width: 48px;
    height: 32px;
    display:inline-block;
}
.confirm-box-wrapper .loyalty-block .icon-my-privilege{
    margin-top: 20px;
}
.confirm-box-wrapper .loyalty-block .loyalty-logo{
    position: absolute;
    top: 9px;
    left: 22px;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 #d3d3d3 inset;
}

.confirm-box {
    padding:0 50px;
}
.confirm-box-special{
    padding-top: 15px;
    padding-bottom: 15px;
}

.confirm-box .social_action_popup h3{
    display: none;
}

.confirm-box .social_action_popup .echo_share_it {
    text-decoration: underline;
    text-transform: none;
    color: #999;
}

.confirm-box .social_action_popup .fb_shareit_icon {
    display: inline-block;
    width: 20px;
    height: 22px;
    vertical-align: middle;
    margin-right: 4px;
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: -169px -8px;
}

.confirm-box .congrats {
    font-size:24px;
    color:#333;
    margin:10px 0;
}

.confirm-box .msg-order-no {
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 22px;
}

.confirm-box .msg-order-no .order-number,
.confirm-msg a {
    color: #4490A5;
}

.confirm-box .congrats .icon-success-large {
    display:inline-block;
    vertical-align: middle;
}

.confirm-box .title {
    text-align:left;
    margin:10px 0;
}
.confirm-box .delivery-date {
    margin-top: 15px;
    margin-bottom:25px;
}

.confirm-box .amount-paymode {
    margin: 15px 0;
    padding: 10px 0;
    text-transform: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.confirm-box .amount-paymode .amount {
    float:left;
}

.confirm-box .amount-paymode .amount strong {
    color:#333;
}

.confirm-box .amount-paymode .paymode {
    float:right;
}

.confirm-box .amount-paymode .paymode strong {
    text-transform: uppercase; 
}

.confirm-box .order-items {
    margin-bottom:20px;
    margin-left: 3px;
}
.confirm-box .order-items li {
    display:list-item;
    list-style:decimal;
    margin:5px 0 0 1em;
    text-align:left;
}

.confirm-box .shipping-address {
    text-align:left;
    font-family: Arial;
    font-size: 12px;
    color:#333;
}
.confirm-box .shipping-address .name {
    font-weight: bold;
}

.confirm-box .shipping-address .lbl {
    color:#808080;
}
.confirm-box .shipping-address .address,
.confirm-box .shipping-address .city,
.confirm-box .shipping-address .mobile {
    text-transform:none;
}

.confirm-box .confirm-email {
    margin:15px 0 0;
    padding:15px 0;
    border-top:1px solid #ccc;
}

.confirm .btn-continue {
    width:200px;
    margin:20px auto;
    display:block;
}

/*mobile verification overlay for cod*/
#splash-mobile-verify {
    font: 13px din-med,Arial,Sans-Serif;
    text-transform: none;
}

.mob-action-section{
    margin: 10px auto;    
}

.mob-description-section{
    margin: 5px;
}

.mob-info-section{
    margin: 20px auto;
    width: 600px;
}

.mob-info{
    font: 13px Arial,Sans-Serif;
}

.error{
    color: #D14747;
    font-size: 13px;
}

.success{
    color: #333333;
    font-size: 13px;
}

.mob-row{
    margin: 10px auto;
    width: 300px;
    text-align: center;
}

.mob-row label{
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
}

.mob-row input[type="text"]{
    padding: 3px;
}

.mob-resend{
    display: inline-block;
}

#splash-mobile-verify .note{
    text-transform: uppercase;
}

/*for special coupons - shopfest */

#special-coupons {
    border:solid 1px #ccc;
        padding:15px 0 10px;
        }

        #special-coupons h3 {
            font-size:20px;
                color:#808080;

                }
                #special-coupons h3{
                    color:#00B060
                    }


                    #special-coupons p
                    {
                        font:14px;
                            text-transform:none;
                            }

                            #special-coupons p .or {padding:5px 0;display:block;}
#special-coupons .share-link {font-size:12px;}
.mk-coupons-content table
{
    margin: 10px auto 0;
    }

    .mk-coupons-content table b,
    .mk-coupons-content table strong {
        font-weight: normal;
        }

        .mk-coupons-content table i,
        .mk-coupons-content table em {
            font-style: normal;
            }

.mk-coupons-content table tr {
    position: relative;
    }

    .mk-coupons-content table tr.mk-table-head
    {
        background: #e6e6e6;
        color: #333;
        }
        .mk-coupons-content table tr.mk-even
         {
             background: #f2f2f2;
             }

             .mk-coupons-content table tr a,
             .mk-coupons-content table tr em {
                 color: #000;
                     text-decoration: underline;
                         cursor: pointer;
                             font-style: normal;
                             }

.mk-coupons-content table td,
.mk-coupons-content table th
 {
     text-align: center;
         padding: 0 10px;
             font-size: 14px;
                 height: 34px;
                 }

                 .mk-coupons-content table td,
                 .coupon-app-info{
                     font-size: 12px;
                     }

                     .mk-coupons-content table .left
                     {
                         text-align: left;
                         }

/*mobile verification overlay for cod*/

.google-play-button .play-msg {
    margin: 5px auto;
    width: 250px;
}
