/* Payment common styles
-------------------------------------------------------------- */
.pay-btn-wrap .primary-btn { min-width: 150px; display:inline-block; }
.pay-btn-wrap .primary-btn.pay-btn { min-width: 200px; }

.pay-btn-wrap.inline-btns { margin:10px 0 0; text-align:center; }
.pay-btn-wrap.inline-btns .btn { margin-left:15px; }
.pay-btn-wrap.inline-btns .btn:first-child { margin-left:0; }


.myntra-tooltip.tip-cvv {
    width:auto;
}
.myntra-tooltip .cvv-img {
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
    background-position: -329px -59px;
    background-repeat: no-repeat;
    height: 100px;
    width: 236px;
}

.name {
    font-weight: bold;
}

/* Payment content
-------------------------------------------------------------- */
.payment-content {
    overflow:hidden;
}
.payment-content .nothing-to-pay {
    padding:20px 0;
}
.payment-content > .loading {
    height:100px;
    background-image: url(https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/loader_transparent.gif);
    background-repeat:no-repeat;
    background-position:center center;
}
.payment-content .content-coupon-hd,
.payment-content .content-sub-hd {
    padding: 6px 0 6px 0px;
    zoom:1;
}

.payment-content .content-coupon-hd{
    border-bottom:1px solid #d6d6d6;
    margin-right:10px;
    font-size:20px;
}
.content-coupon-hd:before,
.content-coupon-hd:after,
.content-sub-hd:before,
.content-sub-hd:after {
    content:"";
    display:table;
}
.content-coupon-hd:after,
.content-sub-hd:after {
    clear:both;
}
.payment-content .content-hd .you-pay,
.payment-content .content-sub-hd .you-pay {
    float:right;
    font-size:16px;

}
.payment-content .content-sub-hd .you-pay {
    margin-top: 3px;
}
.payment-content .content-hd .amounts {
    float:right;
    text-align:right;
    font-size:13px;
    color:#808080;
}
.payment-content .content-hd .amounts.two-lines {
    margin-top:-7px;
}
.payment-content .content-hd .amounts.three-lines {
    margin-top:-10px;
}
.payment-content .content-hd .cart-total .rupees,
.payment-content .content-hd .cashback .rupees,
.payment-content .content-hd .emi-charge .rupees,
.payment-content .content-sub-hd .you-pay .rupees {
    display:inline-block;
    width:75px;
    text-align:right;
}
.payment-content .content-hd .cart-total .rupees {
    color:#808080;
}
.payment-content .content-sub-hd .lbl,
.payment-content .content-sub-hd .balance {
    color:#808080;
    font-size:12px;
}
.payment-content .content-sub-hd .lbl {
    color:#333;
}
.payment-content .content-sub-hd .loyal-lbl {
    text-transform: none;
    font-family: arial;
}
.payment-content .content-sub-hd .balance .rupees {
    color: #39B54A;
}
.payment-content .content-bd {
    height:100%;
}
.payment-content .content-bd > .error {
    font-size:14px;
    padding:20px 0;
    text-transform:none;
}
.payment-content a {
    color:#4490A5;
    text-decoration:none;
}
.payment-content a:hover {
    text-decoration:underline;
}
.payment-content label {
    text-align:left;
    padding-bottom:2px;
    font-size:13px;
}
.payment-content .title3 {
    font-size:14px;
    margin-bottom:10px;
}
.payment-content .opt {
	background-image: url(https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png);
    background-repeat:no-repeat;
    background-position:-63px -185px;
	height:16px;
	width:16px;
    display:inline-block;
    cursor:pointer;
}
.payment-content .opt.selected { background-position:-63px -205px;}
.payment-content .opt.expired { background-position:-63px -225px;}

/* Payment loyalty css */

.payment-content .mynt-block{
    padding-bottom: 5px;
}

.payment-content .mynt-block > * {
    vertical-align: middle;
}

.payment-content .msg-loyalty{
    text-transform: none;
    color: #808080;
    font-size: 14px;
    display: inline;
}

.calculation-container{
    width: 230px;
    font-size: 14px;
}

.calculation-container .loyalty-calulation-summary{
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}

.loyalty-calulation-summary .calculation-summary-span,
.loyalty-calculation-total >span{
    float: right;
    padding: 5px 0;
    width: 90px;
}
.loyalty-calulation-summary .calculation-summary-span > span,
.loyalty-calculation-total >span{
    display: block;
    padding: 2px;
    text-align: right;
    text-transform: none;
    padding-bottom: 10px;
}
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}

.calculation-summary-span .cashback-calculation,
.calculation-summary-span .loyalty-calculation{
    color: #d14747;
}
.calculation-summary-label,
.loyalty-calculation-total >label{
    float: right;
    margin-top: 5px;
}
.calculation-summary-label > label,
.loyalty-calculation-total > label{
    display: block;
    padding: 2px;
    color: #333;
    text-align: right;
    text-transform: uppercase;
    padding-bottom: 12px;
}

.loyalty-calculation-total{
    color: #808080;
}
.loyalty-calculation-total >span{
    padding: 9px 0px 0px 0px;
}

.loyalty-calculation-total >label{
    padding:5px 0px;
    color: #808080;
}

.underlined-linked{
    text-decoration: underline;
    cursor: pointer;
}

.payment-content a.loyal-help-icon{
    font-size: 12px;
    color: #808080;
}
.lp-equivalent-tooltip{
    width: 160px;
}
.lp-equivalent-tooltip .rupees{
    color: #39B54A;
}

.cashback-not-usable-tooltip{

}

.cashback-not-usable-tooltip .cashback-not-usable-tooltip-icon{
    float: left;
}

.cashback-not-usable-tooltip .cashback-not-usable-tooltip-msg{
    float: left;
}
.cashback-not-usable-tooltip .cashback-not-usable-tooltip-msg p{
    border-bottom: 1px solid #e6e6e6;
}
/* Payment Tabs
-------------------------------------------------------------- */
.pay-block {
    overflow:hidden;
    height:100%;
}
.pay-block > .tabs {
    width:150px;
    float:left;
    border-right:1px solid #d6d6d6;
}
.pay-block > .tab-content {
    margin-left:150px;
    padding:10px 10px 10px 50px;
    border-left:1px solid #d6d6d6;
    height:100%;
}
.pay-block > .tabs > ul > li {
    padding:15px 10px;
    background-color:#e6e6e6;
    color:#333;
    font-size:14px;
    cursor:pointer;
    border-top:1px solid #f6f6f6;
    border-bottom:1px solid #d6d6d6;
    position:relative;
}
.pay-block > .tabs > ul > li em {
    text-transform:none;
    color:#808080;
}
.pay-block > .tabs > ul > li:hover,
.pay-block > .tabs > ul > li.selected {
    background-color:#f2f2f2;
    border-right:1px solid #f2f2f2;
    left:1px;
    margin-left:-1px;
}
.pay-block > .tabs > ul > li.selected {
    background-color:transparent;
    border-right:1px solid #fff;
}


.pay-block .pay-btn-wrap {
    padding:10px 0;
}
.pay-block .have-a-gift-card {
    padding:15px 10px;
    color:#808080;
    font-size:14px;
    text-transform:none;
}


/* COD content block
-------------------------------------------------------------- */
.cod-block {
}
.cod-block .msg {
    margin:10px 0 0;
    padding:0;
    height:1.5em;
}
.cod-block .help {
    margin:6px 0 20px;
    font-size: 14px;
    text-transform: none;
}
.cod-block .help em {
    color: #d14747;
}
.cod-block .cap-img {
    border:1px solid #e6e6e6;
    width:214px;
    height:70px;
    margin:0 5px 5px 0;
    display:inline-block;
    vertical-align:middle;
}
.cap-img-wrap {
    position:relative;
}
.cod-block .cap-txt {
    position:relative;
}
#cod-cap-loading {
    background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin1/myntra_images/captcha-loading.gif") no-repeat;
    width: 16px;
    height: 16px;
    position:absolute;
    bottom:-25px;
    left:100px;
    top:29px;
}
#cod-cap-txt {
    width:200px;
}
#cod-cap-lbl {
    position:absolute;
    color:#808080;
    margin:-25px 0 0 15px;
}
#cod-cap-change {
    vertical-align:middle;
    position:absolute;
    bottom:-25px;
    z-index:1;
}


/* Card Types
-------------------------------------------------------------- */
.card-type {
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin1/images/cr_cards_type.gif");
    background-repeat:no-repeat;
    height:0;
    width:48px;
    padding:30px 0 0;
    margin:2px 2px 0 0;
    overflow: hidden;
    float:right;
    position: relative;
    z-index: 1;
    pointer-events: none;
}
.card-type.visa {
    background-position:0 0;
}
.card-type.master {
    background-position:0 -30px;
}
.card-type.amex {
    background-position:0 -60px;
}
.card-type.maestro {
    background-position:0 -120px;
}

.cards-hd {
    padding:5px 0 15px 0;
    /* margin:0 0 15px; */
    /* border-bottom:1px solid #e6e6e6; */
}
.cards-hd h3 {
    color:#808080;
}
.cards-hd .msg-use-other-cards {
    float:right;
}

/* Saved Cards
-------------------------------------------------------------- */
.saved-cards {
    margin:0 0 15px;
}
.saved-cards .card-listing {
    margin-bottom:30px;
    border-bottom:2px solid #e6e6e6;
}
.saved-cards .card {
    padding:20px 15px;
    border-bottom:1px solid #d6d6d6;
    overflow:hidden;
}
.saved-cards .use-new-card {
    font-size:14px;
}
.saved-cards .card .card-no,
.saved-cards .card .lbl {
    font-size:14px;
}
.saved-cards .card:last-child {
    border-bottom:0 none;
}
.saved-cards .card .opt {
    float:left;
    margin:7px 15px 0 0;
}
.saved-cards .card .card-type {
    float:left;
    margin:0 15px 0 0;
}
.saved-cards .card .details {
    float:left;
    margin:0 15px 0 0;
    width:160px;
}

.saved-cards .card .details .card-name {
    display:block;
}

.saved-cards .card .cvv input{
    width:58px;
}

.saved-cards .card .cvv .lbl{
    margin-right:4px;
}

.saved-cards .card .cvv {
    float:right;
    width:126px;
}
.saved-cards .card .what-is-cvv {
    display:inline-block;
    height:17px;
    width:17px;
    background-position: -531px -404px;
    margin-left:2px;
    cursor:pointer;
}
.saved-cards .card .msg-expired {
    float:right;
    color: #d14747;
}


/* Credit/Debit/EMI
-------------------------------------------------------------- */
.card-form {
    margin:0 0 15px;
}
.card-form .row {
    margin:0 70px 15px 0;
    overflow:hidden;
    text-align:left;
}
.card-form .row .long {
    width:284px;
}
.card-form .row .short {
    width:119px;
}
/*
.card-form .row:after {
    content:"";
    display:block;
    visibility:hidden;
    height:0;
    overflow:hidden;
    clear:both;
}
*/
.card-form .col:first-child {
    float:left;
    text-align:left;
}
.card-form .col {
    float:left;
    margin-right:15px;
    text-align:right;
}
.card-form input[name="bill_name"] {
    width:315px;
}
.card-form .card-num-wrap {
    width:327px;
    box-shadow: 0 1px 2px #999 inset;
    border-radius: 1px;
    padding: 2px;
    border: 1px solid #d6d6d6;
    display:inline-block;
    position: relative;
    height: 33px;
}
.card-form .card-num-wrap input {
    box-shadow:0 0 0;
    border-radius:0;
    padding:7px;
    border:0;
    color: #333;
    text-transform: none;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 315px;
}
.card-form .icon-lock {
    margin: 0 0 12px 5px;
}
.card-form .what-is-cvv {
    vertical-align:middle;
    display:inline-block;
    cursor:pointer;
}
.card-form .no-cvv-msg {
    float:right;
    width:250px;
    text-transform:none;
    color:#808080;
}
.card-form .msg-use-other-card {
    display:block;
    margin-bottom:10px;
}
.card-form .expiry .col {
    width:158px;
}
.card-form .expiry .col select {
    width:100%;
}
.card-form label em {
    color:#808080;
}

.card-bill-address-list {
    margin:20px 10px 20px 0;
}
.card-bill-address-list-container {
    height:150px;
    overflow:auto;
    border-top:1px solid #d6d6d6;
    border-bottom:1px solid #d6d6d6;
    margin:5px 0;
}
.card-bill-address-list li {
    padding:10px 10px 10px 30px;
    border-bottom:1px solid #e6e6e6;
    cursor:pointer;
    font-family:arial,sans-serif;
    text-transform:none;
    font-size:13px;
}
.card-bill-address-list li:last-child {
    border-bottom:0 none;
}
.card-bill-address-list .opt {
    float:left;
    margin-left:-30px;
}
.card-bill-address-list .addr { text-transform:none; }
.card-bill-address-list .mobile strong { color:#808080; }

.copy-ship-address,
.card-bill-address-view-existing,
.card-bill-address-create {
    float:right;
}

.card-bill-address-form {
    margin:20px 0;
    display:none;
}
.card-bill-address-form h3 {
    margin-bottom:15px;
}
.card-bill-address-form .row.city-state .col {
    float:left;
    text-align:left;
}
.card-bill-address-form .row.city-state .col:first-child {
    margin-right:30px;
}

.card-details .save-card-details {
    margin:10px 0;
}


.emi-options {
	margin-bottom: 30px;
}
.emi-options .emi-bank {
	margin-bottom: 30px;
}
.emi-options .emi-bank select {
	width: 300px;
}
.emi-options .emi-duration {
    color:#333;
}
.emi-options .emi-duration table {
	margin: 0 auto;
	font: 14px/20px;
}
.emi-options .emi-duration table td {
	cursor: pointer;
}
.emi-options .emi-duration table tr.emi-disabled td {
	cursor:default;
}
.emi-options .emi-duration table th {
	background: #b7b7b7;
}
.emi-options .emi-duration table tr.odd {
	background: #fff;
}
.emi-options .emi-duration table tr.even {
	background: #f2f2f2;
}
.emi-options .emi-duration table th,
.emi-options .emi-duration table td {
	text-align: center;
	padding: 6px 10px;
	display: table-cell;
}
.emi-options .emi-duration table td .radio-btn {
	background: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png') no-repeat -63px -185px transparent;
	height: 18px;
	width: 18px;
	margin-top: -2px;
}
.emi-options .emi-duration table td .radio-btn.selected {
	background-position: -63px -205px;
}
.emi-options .emi-duration table tr.emi-disabled td .radio-btn {
	background-position: -63px -225px;
}
.emi-options .emi-duration p.gray {
	margin: -10px 0 10px;
	display:inline-block;
}
.emi-options .emi-duration table td.msg {
	font-size: 12px;
}
.emi-options .emi-duration .emi-disabled .duration {
	color: #808080;
}


.net-options .bank-list {
    margin-bottom:15px;
}
.net-options .bank-list select {
    width:300px;
}
.net-options .msg {
    color:#808080;
    text-transform:none;
    font-family:arial,sans-serif;
    font-size:13px;
}




/* Processing Lightbox
-------------------------------------------------------------- */
#splash-payments-processing .mod {
  width: 340px;
}
#splash-payments-processing #result-payFailOver-err.mod {
	width: 500px;
}

#splash-payments-processing #result-payFailOver-err.mod .access-block {
	width: 409px;	
}
#splash-payments-processing #result-payFailOver-err.mod .access-error {
    color: #be0709;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    margin-bottom: 20px;
    margin-top: 5px;
}
#splash-payments-processing #result-payFailOver-err.mod .access-block .access-error-msg {
	text-transform:none;
	text-align:left;
}

#splash-payments-processing #result-payUserClose.mod {
	width: 500px;
}

#splash-payments-processing #result-payUserClose.mod .bd {
	width: 365px;	
	text-transform:none;
	text-align:left;
	padding-left:32px;	
	font-size: 12px;
}


/* Giftcard Activation Lightbox
-------------------------------------------------------------- */

#giftcard-cap-loading {
    background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin1/myntra_images/captcha-loading.gif") no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: -25px;
    left: 100px;
    top: 29px;
    display:block;
}

.mk-giftcard-activation-section .mk-gc-instruction{
	margin-bottom:15px;
}
.lightbox.mk-giftcard-activation-section .mod {
	font-size:14px;
    width:500px;
    height:550px;
}
.mk-giftcard-activation-section label{
	float:left;
	margin-right:5px;
    font-size: 12px;
}
.mk-giftcard-activation-section input {
    line-height: 20px;
    width: 190px;
    padding-left: 5px;
    padding-right: 5px;
}
.mk-giftcard-activation-section .primary-btn {
    width:130px;
}
.mk-giftcard-activation-section{
	font-size:14px;
	padding:10px 20px 10px 20px;
	margin:0 auto;
}

.giftcard-captcha-change-text {
    position: absolute;
    right: -85px;
    top: 26px;
}


.mk-giftcard-activation-section .lbl{
       font-size:12px;
    padding: 0px;
}


.mk-giftcard-activation-section .mk-gc-mymyntra-text{
	margin-top:10px;
}
.mk-span-success-ico{
	background-image:url(https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png);
    background-repeat:no-repeat;
    background-position:-95px -406px;
    width:17px;
    height:16px;
    display:inline-block;
    vertical-align:top;
}
.mk-span-err-ico{
	background-image:url(https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png);
    background-repeat:no-repeat;
    background-position:-137px -406px;
    width:17px;
    height:16px;
    display:inline-block;
    vertical-align:top;
}
.mk-gc-activation-err .msg{
	vertical-align:middle;
	font-size:11px;	
    width:200px;
    padding:1px 0px;
    text-align:left;
}

.mk-gc-activation-error {
    text-align:center;
}

.mk-gc-bought .mk-span-success-ico, .mk-gc-received .mk-span-success-ico,.mk-gc-bought .mk-span-err-ico, .mk-gc-received .mk-span-err-ico{
	margin-right:4px;
}
.pay-block .icon-info {
    background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") no-repeat -531px -404px;
    width: 20px;
    height: 20px;    
}



/** BIN based promotion starts **/

.payment-promotion-box{
  background-color: #f6f6f6;
  border: 1px solid #e6e6e6;
  padding: 5px;
  margin: 5px;
}

.payment-promotion-box .payment-promotion-label{
    color: #FFFFFF;
    background-color: #D14747;
    padding: 2px 5px;
    width: 60px;
    text-align: center;
    float: left;
    font-size: 11px;
}

.payment-promotion-box .payment-promotion-msg{
    font-family: arial;
    text-transform: none;
    font-size: 12px;
    margin: 2px 0px 2px 90px;
}

.bin-promotion-error .offer-action-button-container {
    display: inline-block;
}
.bin-promotion-error .offer-action-button-container div {
    font-family: arial;
    font-size: 11px;
    text-transform: none;
    margin-top: 4px;
    margin-left: 20px;
    color: #808080;
}

.bin-promotion-error .confirm-msg{
    margin-bottom: 10px;
    font-size: 14px;
    color: #333333;
}

.bin-promotion-error .wrong-card-msg {
    margin: 50px auto;
    line-height: 20px;
}

.bin-promotion-error .red,
.bin-promotion-error .wrong-card-msg > div{
    font-size: 14px;
}

.bin-promotion-error .bin-confirm-msg,
.bin-promotion-error .wrong-card-msg > div.gray{
    font-size: 11px;
}
.bin-promotion-error .btn{
    margin-left: 20px;
    padding: 5px 15px;
}

#bin-promotion-box .mod {
    width: 560px;
}

.payment-content .content-coupon-hd{
    border-bottom:1px solid #d6d6d6;
    margin-right:10px;
    font-size:20px;
}



/** BIN based promotion ends **/



