#forms_foot { 
  background-image: url('sprite.jpg');
  background-position: -0px top;
}  
#forms_head_green { 
  background-image: url('sprite.jpg');
  background-position: -775px top;
} 
#forms_sidemenu_link { 
  background-image: url('sprite.jpg');
  background-position: -1550px top;
} 
#sidemenu_foot { 
  background-image: url('sprite.jpg');
  background-position: -2325px top;
}
#sidemenu_link { 
  background-image: url('sprite.jpg');
  background-position: -2505px top;
}

 

