/** sprite: mysprite; sprite-image: url('sprite.jpg'); sprite-layout: horizontal */
#messagewide_head { 
background-image: url(messagewide_head.gif); /** sprite-ref: mysprite;  sprite-alignment: repeat; */ 
}  
#messagewide_foot { 
background-image: url(messagewide_foot.gif); /** sprite-ref: mysprite;  sprite-alignment: repeat; */ 
} 
#messagewide_body { 
background-image: url(messagewide_body.gif); /** sprite-ref: mysprite;  sprite-alignment: repeat; */ 
}
#error_body { 
background-image: url(error_body.gif); /** sprite-ref: mysprite;  sprite-alignment: repeat;*/ 
} 
#error_foot { 
background-image: url(error_foot.gif); /** sprite-ref: mysprite;  sprite-alignment: repeat; */ 
} 
#error_head { 
background-image: url(error_head.gif); /** sprite-ref: mysprite;  sprite-alignment: repeat; */ 
}


