A.CheckoutTab:link {
	COLOR: #24458A;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}
A.CheckoutTab:visited {
	COLOR: #24458A;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}
A.CheckoutTab:hover {
	COLOR: #24458A;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none;
}
A.CheckoutTab:active {
	COLOR: #24458A;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}
.CheckoutTabSel {
	COLOR: #24458A;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
}
.LineAfterCart {
	BACKGROUND-COLOR: #DADCDF;
}
.LineBeforeCart {
	BACKGROUND-COLOR: #A2BBDE;
}
.BigButtonTitle {
	COLOR: #405685;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
}
.RedBackground {
	BACKGROUND-IMAGE: URL(../../images/tab_bg_r.gif);
	BACKGROUND-COLOR: #E4F0FB;
	COLOR: #405685;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-ALIGN: center;
}
.YellowBackground {
	BACKGROUND-IMAGE: URL(../../images/tab_bg.gif);
	BACKGROUND-COLOR: #EEEEEE;
	COLOR: #405685;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-ALIGN: center;
}
A.ShippingMethod:link {
	COLOR: #24458A;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}
A.ShippingMethod:visited {
	COLOR: #24458A;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}
A.ShippingMethod:hover {
	COLOR: #24458A;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none;
}
A.ShippingMethod:active {
	COLOR: #24458A;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}
.BBCorner {
	WIDTH: 9px;
	HEIGHT: 9px;
}
.FLC_Register {
    COLOR: #550000;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
}
TD.FLCDialogCell {
	WIDTH: 50%;
	HEIGHT: 220px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: top;
}
TABLE.FLCDialog {
	WIDTH: 100%;
	HEIGHT: 100%;
}
