.lightbox-shim {
  background: #fff;
  display: none;
  height: 100%;
  left: 0;
  opacity: .9;
  filter: alpha(opacity=90);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1004;
}
.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
  z-index: 1005;
  text-align: left;
}
.lightbox .mod {
  border: 1px solid #999;
  border-radius: 5px;
  background: #fff;
  width: 700px;
  min-height: 125px;
  padding: 25px;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 0 8px #666;
}
.lightbox .loading {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff url("http://myntra.myntassets.com/skin1/images/loader_100x12.gif") no-repeat 50% 50%;
  opacity: .9;
  filter: alpha(opacity=90);
  z-index: 5;
}
.lightbox .close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-image: url("http://myntra.myntassets.com/skin1/images/sprite-icons-10.png");
  background-repeat: no-repeat;
  background-position: 0 -72px;
}
.lightbox h2 {
  font-size: 26px;
  font-family: georgia,"Times New Roman",serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
  margin: 0 0 15px;
}
.lightbox h3 {
  font-size: 14px;
  font-family: georgia,"Times New Roman",serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 15px;
}
.lightbox strong {
  font-weight: bold;
}
.lightbox .price {
  color: #d00000;
  font-size: 12px;
  white-space: nowrap;
}
.lightbox .err {
  color: red;
}
