
.address-form-box form {
    text-align:left;
    margin:0 50px;
}
.address-form-box textarea {
    height: auto;
}
.address-form-box input[type="text"],
.address-form-box select,
.address-form-box textarea {
    border:1px solid #f2f2f2;
    border-top: 2px solid #dcdcdc;
    background-color:#f2f2f2;
    padding: 10px;
    margin: 0;
    width: 250px;
}
.address-form-box input[name="pincode"] {
    width:150px;
}
.address-form-box textarea {
    width:400px;
}
.address-form-box input[name="email"] {
    width:300px;
}
.address-form-box input[type="text"].error,
.address-form-box select.error,
.address-form-box textarea.error {
    border:1px solid #d14747;
}
.address-form-box .row {
    padding: 0 0 20px;
    overflow:hidden;
    zoom:1;
}
.address-form-box .row label {
    display: block;
}
.address-form-box .row .col {
    width:50%;
    float:left
}
.address-form-box .row .err {
    color: #d14747;
    margin:0;
    clear:both;
}
.address-form-box .row .note {
    color: #999;
    float:right;
    width:300px;
    margin:0;
}
.address-form-box .ac_loading {
    background-image: url('https://d6kkp3rk1o2kk.cloudfront.net/skin1/images/ac_indicator.gif');
    background-repeat:no-repeat;
    background-position:right center;
}
.address-form-box .pin-warn {
    padding: 10px 0 10px 42px;
    color: #b40404;
    display: none;
}
.address-form-box .pin-warn .ico {
    background-image: url("http://myntra.myntassets.com/skin1/images/sprite-icons-10.png");
    background-repeat: no-repeat;
    background-position: 0 -262px;
    height: 32px;
    width: 32px;
    float: left;
    margin-left: -42px;
    padding: 0;
}
.address-form-box .btn-save {
    margin-right:10px;
}

