
.address-list-box .no-data {
    padding:50px 0;
}
.address-list-box .list {
    margin: 0 60px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
.address-list-box .items {
    border:0 none;
    border-collapse:collapse;
    width:100%;
}
.address-list-box .items .even {
    background:#eee;
}
.address-list-box .items td {
    padding:10px;
}
.address-list-box .items .opt {
    width:80px;
}
.address-list-box .items .address {
    text-align:left;
}
.address-list-box .btn-save {
    margin-right:10px;
}

