.mk-hide {
    display:none;
}

.mk-lightbox-shim {
    background: #fff;
    display: none;
    height: 100%;
    left: 0;
    opacity: .9;
    filter: alpha(opacity=90);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1004;
}
.mk-lightbox {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
    z-index: 1005;
    text-align:center;
    text-transform:uppercase;
    font-family:arial,sans-serif;
}
.mk-lightbox .mod {
    border: 1px solid #999;
    border-radius: 5px;
    background: #fff;
    color:#333;
    font-size:12px;
    width: 750px;
    min-height: 125px;
    padding: 0;
    position: relative;
    margin: 0 auto;
    box-shadow: 3px 3px 5px #666;
}
.mk-lightbox .loading {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff url("http://myntra.myntassets.com/skin1/images/loader_100x12.gif") no-repeat 50% 50%;
    opacity: .9;
    filter: alpha(opacity=90);
    z-index: 5;
}
.mk-lightbox .close {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url("http://myntra.myntassets.com/skin1/images/sprite-icons-10.png");
    background-repeat: no-repeat;
    background-position: 0 -72px;
}
.mk-lightbox .hd {
    padding:12px 25px;
    border-bottom:1px solid #666;
}
.mk-lightbox .bd {
    padding:12px 25px;
}
.mk-lightbox .title {
    font-size: 25px;
    color:#333;
}
.mk-lightbox .subtitle {
    font-size: 12px;
    color:#666;
}
.mk-lightbox strong {
    font-weight: bold;
}
.mk-lightbox em {
    font-style: normal;
}
.mk-lightbox ol,
.mk-lightbox ul {
    list-style:none;
    margin:0;
    padding:0;
}
.mk-lightbox li {
    margin:0;
    padding:0;
}
.mk-lightbox .err {
    color: red;
}
.mk-lightbox .rupees {
    text-transform:none;
}
.mk-lightbox .items div {
    float:none; /* reset the float declared in newskin-styles.css */
}

.mk-lightbox .ft {
    padding:12px 25px 25px;
    text-align: right;
}
.mk-lightbox .ft .btn {
    min-width: 10em;
}
.mk-lightbox .ft .btn-prev {
    margin: 0 10px 0 0;
}
.mk-lightbox .ft .note {
    float: left;
    font-size: 11px;
    color: #666;
}
.mk-lightbox .ft .note em {
    color: #000;
    font-style: normal;
}
