
.returnbox .bd .steps-wrap,
.returnbox .bd .steps .step {
    height: 310px;
}


.returnbox .step-reason label {
    display: block;
    font-weight: normal;
    margin-top: 20px;
}
.returnbox .step-reason label:first-child {
    margin-top: 0;
}
.returnbox .step-reason select {
    border: 1px solid #ccc;
    padding: 2px;
    text-transform:uppercase;
}
.returnbox .step-reason textarea {
    border: 1px solid #ccc;
    padding: 2px;
    width: 400px;
    height: 100px;
}


.returnbox .step-agree {
    margin:0 40px;
}
.returnbox .step-agree p {
    font-size:15px;
    margin:0 0 10px;
}
.returnbox .step-agree ol {
    padding: 30px 0;
    margin:0 0 10px;
    list-style: decimal;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.returnbox .step-agree li {
    margin: 20px 0 0;
    text-transform:none;
    text-align:left;
    list-style:none;
}
.returnbox .step-agree li:first-child {
    margin-top:0;
}


.returnbox .step-shipping {
    margin:0 100px;
}
.returnbox .step-shipping p {
    font-size:15px;
}
.returnbox .step-shipping ul {
    margin:10px 0;
    padding:10px 0;
    border-top:1px solid #999;
    border-bottom:1px solid #999;
}
.returnbox .step-shipping li {
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:48%;
}
.returnbox .step-shipping li:first-child {
    border-right:1px solid #999;
}
.returnbox .step-shipping .ship-type {
    font-size:13px;
}
.returnbox .step-shipping .ship-note {
    font-size:11px;
}


.returnbox .step-summary {
    margin: 0 150px;
}
.returnbox .step-summary .title {
    font-size:13px;
}
.returnbox .step-summary .address {
    border-top:1px solid #999;
    border-bottom:1px solid #999;
    margin:15px 0;
    padding:10px 0;
}
.returnbox .step-summary .address label {
    color:#999;
}
.returnbox .step-summary .amount {
}


.returnbox .step-confirm {
    margin: 0 60px;
}
.returnbox .step-confirm .success-msg {
    padding:0 0 0 42px;
    margin:0 100px;
}
.returnbox .step-confirm .success-msg .ico {
    float:left;
    width:32px;
    height:32px;
    margin-left:-42px;
    background-image:url(http://myntra.myntassets.com/skin1/images/sprite-icons-10.png);
    background-repeat:no-repeat;
    background-position:0 -228px;
}
.returnbox .step-confirm .success-msg .msg {
}
.returnbox .step-confirm h3 {
    font-size:14px;
    margin:10px 0 0;
}
.returnbox .step-confirm ol {
    border-top:1px solid #999;
    border-bottom:1px solid #999;
    margin: 0;
    padding:10px 0;
    list-style: decimal;
}
.returnbox .step-confirm ol li {
    margin: 0 0 0 30px;
    font-size:12px;
    text-transform:none;
    text-align:left;
}

