
.wizardbox .hd {
    font-size: 20px;
    margin-bottom: 10px;
}
.wizardbox .step-titles {
    margin-bottom:20px;
}
.wizardbox .step-titles li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 8px;
    width: 159px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #b5b5b5;
    position:relative;
}
.wizardbox .step-titles li:first-child {
    margin-left:0;
}
.wizardbox .step-titles li.selected {
    background: #000;
    color: #fff;
}
.wizardbox .step-titles li.completed {
    background: #e8e8e8;
    color: #333;
}
.wizardbox .step-titles li .ico {
    background-image:url(http://myntra.myntassets.com/skin1/images/sprite-icons-10.png);
    background-repeat:no-repeat;
    background-position:0 -140px;
    width:17px;
    height:16px;
    position:absolute;
    left:5px;
    top:5px;
    display:none;
}
.wizardbox .step-titles li.completed .ico {
    display:block;
}
.wizardbox .steps-wrap {
    width: 700px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.wizardbox .steps {
    width: 5000px;
    position: absolute;
    overflow: hidden;
    zoom: 1;
}
.wizardbox .step {
    float: left;
    width: 700px;
    height: 300px;
    overflow: hidden;
}

