#nav3 li a:hover {
  text-decoration: none;
}
.nav3 {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav3 ul {
  list-style: none;
  margin: 0;
}
.nav3 li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  border: 1px solid #fff;
  margin-right: 10px;
}
.nav3 li li {
  float: none;
  border: 0;
  margin-right: 0;
}
.nav3 li:hover {
  border: 1px solid #ddd;
  border-bottom: 0;
  box-shadow: 0 0 8px #ddd;
}
.nav3 li li:hover {
  border: none;
  box-shadow: none;
}
.nav3 li .line {
  height: 5px;
  overflow: hidden;
  position: relative;
  display: block;
  visibility: hidden;
  top: 1px;
  background: #fff;
  z-index: 1;
}
.nav3 li:hover .line {
  visibility: visible;
}
.nav3 li a {
  display: block;
  padding: 5px 10px 0;
  text-transform: uppercase;
  font-family: georgia,"Times New Roman",serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
}
.nav3 li li a {
  display: block;
  padding: 0 0 0 2px;
  text-transform: none;
  font-family: helvetica,arial,sans-serif;
  font-size: 13px;
  font-weight: normal;
}
.nav3 li li a:hover {
  background: #999;
  color: #fff;
}
.nav3 h3 {
  margin-bottom: 10px;
}
.nav3 li li h3 a:hover {
  background: #fff;
  color: #999;
}
.nav3 li li h3 a {
  text-transform: uppercase;
  font-family: georgia,"Times New Roman",serif;
  font-size: 14px;
  color: #999;
  padding: 0 0 0 2px;
}
.nav3 ul {
  width: 700px;
  padding: 10px;
  position: absolute;
  left: 0;
  background: #fff;
  display: none;
  border: 1px solid #ddd;
  box-shadow: 0 0 8px #ddd;
}
.nav3 ul ul {
  width: auto;
  padding: 0;
  position: static;
  display: block;
  border: none;
  box-shadow: none;
}
.nav3 li:hover ul {
  display: block;
}
.nav3 ul li {
  float: left;
  width: 200px;
  margin-right: 20px;
}
.nav3 ul li ul li {
  float: none;
  width: auto;
  margin-right: 0;
}
