.container, #scroll_wrapper {
  margin: 0 auto;
  width: 980px;
  display: block;
  padding: 0 10px;
  position: relative;
  z-index: 999;
}
.myntra-logo {
  margin-top: 5px;
}
.myntra-logo-new a {
  background: url("http://cdn.myntra.com/skin1/images/Myntra_Logo_web.png") no-repeat scroll -5px 2px transparent;
}
.myntra-logo a {
  background: transparent url("http://cdn.myntra.com/skin1/myntra_images/logo.png") no-repeat;
}
.myntra-logo-new a, .myntra-logo a {
  color: #fff;
  font-family: helvetica;
  font-size: 25px;
  font-weight: bold;
  line-height: 37px;
  height: 60px;
  width: 252px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  display: block;
}
.new-sign {
  z-index: 1002;
}
#headerbox div {
  display: block;
}
.sign, .newuser {
  color: #686868;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  display: block;
  text-align: center;
  line-height: 22px;
  padding: 0 15px;
}
.signinw, .newuserw {
  float: left;
}
.post-login {
  float: left;
  width: 139px;
  height: 30px;
}
.post-login #logged_in_user_name {
  color: #fff;
}
.post-login-options {
  width: 200px;
}
.post-login-exp {
  position: relative;
  z-index: 11;
}
.cart-box {
  float: left;
  font-weight: bold;
  line-height: 22px;
  cursor: pointer;
  display: block;
  padding: 0 15px;
}
.cart-box a {
  color: #686868;
}
.cart-box .cart-link {
  color: #686868;
  display: block;
  height: 22px;
  text-decoration: none;
  text-align: left;
  padding: 0 15px;
}
.cart-box .cart-link .icon-cart-img {
  margin: 8px 5px;
  float: left;
}
.cart-box .cart-link:hover {
  text-decoration: none;
  color: #686868;
}
.login-form, .notifyme-form {
  display: none;
  position: fixed;
  top: 25%;
  right: 35%;
  z-index: 1002;
}
.login-box, .notifyme-box {
  background: none repeat scroll 0 0 #fff;
  margin: 5px;
  padding: 5px 10px;
  z-index: 11;
}
.login-title {
  height: 32px;
  color: #333;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
}
#forgot-password, #forgot-password-form {
  display: none;
}
.post-login-box div {
  padding: 6px;
}
.post-login-box {
  line-height: 20px;
}
.post-login-box img {
  width: 25px;
  height: 25px;
  float: left;
}
.fb_profile_pic_rendered {
  margin-left: 2px;
  float: left;
  margin-right: 15px;
}
.post-login-options {
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 1001;
}
.post-login-options div {
  background: none repeat scroll 0 0 #fff;
  margin: 5px;
  padding: 5px 10px;
  z-index: 11;
}
.post-login-options a.post-login-links {
  display: block;
  margin: 5px 0;
}
.snetwork img {
  vertical-align: middle;
}
.header {
  position: relative;
  z-index: 1000;
}
.login-info {
  margin-top: 30px;
}
.content .product-listing ul {
  padding-left: 0;
  margin-bottom: 0;
}
.category .item a, .product-listing .item a {
  display: block;
}
.item a {
  text-decoration: none;
  position: relative;
  *position: none;
  cursor: pointer;
}
.item .discount-details {
  display: block;
  padding: 2px 5px;
  position: absolute;
  left: 1px;
  top: 1px;
  font-size: 10px;
}
.content ul .item {
  display: inline-block;
  height: 420px;
  float: left;
  margin-right: 5px;
}
.content ul .item .item-image {
  height: 320px;
  width: 240px;
  text-align: center;
  display: block;
}
.content ul .item .item-description {
  height: auto;
  clear: both;
  display: block;
  padding: 2px 0;
  width: 240px;
  text-align: center;
}
.content ul .item .item-description .name {
  display: block;
  color: #000;
  padding-bottom: 2px;
  font-size: 12px;
}
.content ul .item .discount-price {
  color: #bd1a00;
  font-size: 13px;
  font-weight: bold;
}
.cashbackblock .discount-price {
  float: right !important;
  margin-right: 15px;
}
.content ul .item .original-price {
  clear: both;
  color: #666;
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-right: 5px;
  margin-top: -5px;
  text-align: right;
}
.content ul .item:hover .item-divider {
  visibility: visible;
}
.content ul .item .availability {
  color: #666;
  visibility: hidden;
  display: block;
  margin-top: 5px;
  font-size: 12px;
  line-height: 20px;
  clear: both;
}
.content ul .item:hover .item-description .availability {
  visibility: visible;
}
.content ul .item .item-divider {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 4px;
  display: block;
  width: 240px;
}
.content ul .rowlast {
  margin-right: 0;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.underline {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
.strike {
  text-decoration: line-through;
  color: #666;
}
.align-top, .align-top td, .align-top th {
  vertical-align: top;
}
.scrollable, .search-page-scrollable {
  float: left;
}
a.right {
  clear: right;
  margin-right: 0;
}
a.left {
  margin-left: 0;
  text-decoration: none;
}
a.disabled {
  visibility: hidden !important;
}
.scrollable {
  position: relative;
  overflow: hidden;
  width: 980px;
  height: 420px;
  left: 25px;
}
.search-page-scrollable {
  position: relative;
  overflow: hidden;
  width: 735px;
  height: 420px;
  left: 0;
}
.scrollable .items, .search-page-scrollable .items {
  width: 4000em;
  position: absolute;
  clear: both;
  padding-left: 0;
}
.items div {
  float: left;
}
.scrollable-box {
  width: 1080px;
  margin-left: -50px;
}
.footer {
  clear: both;
}
.follow-us {
  margin-top: 0;
  margin-right: 20px;
}
.footer-links, #copyright {
  padding: 1.5em 1.5em 0;
}
.footer-links ul {
  float: left;
  padding: 0;
  margin: 0;
  width: 130px;
}
.footer-links ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  overflow: hidden;
  padding: 1px 5px;
}
.footer-links ul li strong {
  border-bottom: 1px dotted rgba(255,255,255,0.69);
  display: block;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 1px 5px 2px;
  text-transform: uppercase;
}
.footer-links .paymeny-logos {
  width: 305;
}
.footer-simple {
  padding-bottom: 10px;
}
.footer-simple #copyright {
  padding: 0;
}
.footer-links-simple ul {
  margin: 0;
  list-style: none;
}
.footer-links-simple ul li {
  float: left;
  padding: 0 5px;
}
.link-btn {
  color: #0084b4;
  background: transparent;
  border: 0 none;
  cursor: pointer;
  padding: 5px 0;
  font-weight: normal;
  font-size: inherit;
  font-family: inherit;
  *overflow: visible;
}
.si-forgot-password, .si-return-to-login {
  font-size: 12px;
}
.sbtn {
  border: 0 none;
  padding: 6px 10px;
  width: 130px;
  margin-right: 7px;
  cursor: pointer;
  font-size: 1em;
}
.login-box input[type="text"], .login-box input[type="password"] {
  width: 275px;
  height: 25px;
  padding: 0 5px;
  margin: 0;
  font-size: 12px;
  line-height: 25px;
}
.login-box label {
  line-height: 25px;
  margin-right: 10px;
  padding-left: 0;
  text-align: left;
  width: 80px;
}
.login-box form {
  text-align: left;
  margin-top: 10px;
}
.login-box span {
  font-size: 10px;
  line-height: 10px;
  margin-left: 2px;
  margin-top: 2px;
  color: #999;
}
.login-box .forgot-password, .login-box .return-to-login {
  font-size: 11px;
}
.fb-connect {
  padding: 6px 0 0 10px;
  width: 194px;
  text-decoration: none;
  font-size: 1em;
  background: url(http://cdn.myntra.com/skin1/myntra_images/facebook-btn.jpg) no-repeat;
  height: 25px;
  cursor: pointer;
}
.post-login-options .fb-connect {
  margin: 10px 0;
  padding: 0;
}
.login-box .username-error, .login-box .reg-username-error, .login-box .password-error, .login-box .reg-password-error, .login-box .su-username-error {
  font-weight: bold;
  background: #fff;
  line-height: 15px;
  margin: 0 0 0 90px;
  padding: 0 5px;
  width: 253px;
  display: none;
  border: 1px solid #fff;
}
.login-box .reg-su-username-error {
  font-weight: bold;
  line-height: 15px;
  margin: 0 0 0 90px;
  padding: 0 5px;
  width: 253px;
  display: none;
}
.login-box .su-password-error {
  font-weight: bold;
  background: #fff;
  line-height: 15px;
  margin: 0 0 0 90px;
  padding: 0 5px;
  width: 253px;
  display: none;
  border: 1px solid #fff;
}
.login-box .reg-su-password-error {
  font-weight: bold;
  line-height: 15px;
  margin: 0 0 0 90px;
  padding: 0 5px;
  width: 253px;
  display: none;
}
.login-box .fp-username-error, .login-box .reg-fp-username-error, .login-box .su-mobile-error {
  font-weight: bold;
  background: #fff;
  line-height: 15px;
  margin: 0 0 0 90px;
  padding: 0 5px;
  width: 253px;
  display: none;
  border: 1px solid #fff;
}
.login-box .reg_su-mobile-error {
  font-weight: bold;
  line-height: 15px;
  margin: 0 0 0 90px;
  padding: 0 5px;
  width: 253px;
  display: none;
}
.login-box .reg-su-username-error, .login-box .reg-su-password-error, .login-box .reg_su-mobile-error {
  background: #eee;
  border: 1px solid #eee;
}
.login-box .title {
  font-size: 14px;
  line-height: 25px;
  margin: 5px 10px 10px 0;
  padding-left: 10px;
}
.login-box.sign-up-onpage {
  background: none repeat scroll 0 0 #eee;
}
.resetpassword {
  display: block;
}
.login-tabs {
  padding-left: 20px;
}
.login-tabs a, .login-tabs a:hover {
  text-decoration: none;
}
.login-signup {
  margin-top: -1px;
}
.login-signup .fb-connect {
  display: block;
}
.fb-block {
  border-top: 3px double #ccc;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}
.fb-block .or {
  background: none repeat scroll 0 0 #fff;
  left: 470px;
  padding: 0 10px;
  position: absolute;
  top: -12px;
}
.login-tabs a {
  display: block;
  padding: 5px 15px;
}
.login-tabs .current {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #fff;
}
.blurred {
  color: #666;
}
table .address, .links {
  list-style: none outside none;
}
table .address {
  margin: 0;
  padding: 0;
}
.page-title {
  font-size: 1.5em;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  margin: 0;
  background: transparent url(http://cdn.myntra.com/skin1/myntra_images/line.png) 0 25px no-repeat;
}
.heading {
  font-size: 1.5em;
  line-height: 20px;
  font-weight: bold;
}
.sub-heading {
  font-size: 1.2em;
  line-height: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  display: block;
  margin-bottom: 10px;
}
.sub-heading:hover {
  text-decoration: none;
  color: #333;
}
.sitemap tr td {
  vertical-align: top;
  width: 25%;
}
.sitemaps p, .product-sitemaps p, .sitemap tr td p {
  margin: 0;
}
.sitemaps .recent-searches, .product-sitemaps .recent-searches {
  padding-left: 10px;
}
.product-sitemaps table tr td, .sitemaps table tr td {
  padding: 10px;
}
.go-to-top {
  text-align: right;
  margin: 0;
}
.placeholder a {
  display: block;
  padding-top: 25px;
}
.contact-us-table th, table.contact-us-table td, table.contact-us-table caption {
  padding: 4px 10px 4px 0;
}
.contact-us-table {
  width: 100%;
}
.route-map {
  margin-top: 3px;
  width: 150px;
}
.route-map img {
  position: absolute;
}
.route-map div {
  padding: 0 0 0 28px;
}
.route-map a:hover span {
  text-decoration: underline;
}
.route-map a:visited, .route-map a:focus {
  outline: none;
}
.filter-tshirt-type, .filter-size, .filter-quantity {
  width: 130px;
  margin: 2px 0 0;
}
.cancel-save-profile {
  padding: 6px 0;
}
.loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  z-index: 1000;
  background: #fff;
  opacity: .5;
  filter: alpha(opacity=50);
}
.loading-overlay img {
  margin-top: 50px;
}
.register-page-signin .loading-overlay {
  height: 200px;
  width: 400px;
}
.button-img {
  background: none repeat scroll 0 0 #fd9b06;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  height: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: 50px;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -khtml-border-radius: 5px !important;
  border-radius: 5px;
}
#vtip {
  display: none;
  position: absolute;
  padding: 5px;
  left: 5px;
  background-color: white;
  border: 1px solid #a6c9e2;
  z-index: 3500;
}
#vtooltip {
  display: none;
  left: 5px;
}
.header-notice {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background: url(http://cdn.myntra.com/skin1/myntra_images/strip-banner-footwear.jpg) no-repeat;
  display: block;
}
.choices-highlight {
  background: #ffff8d;
  padding: 4px;
  width: 260px;
}
.product-detail-block .btn-disabled, .product-detail-block .btn-disabled:hover {
  display: block;
  font-size: 15px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  background: #c0c0c0;
  color: #808080 !important;
  cursor: not-allowed;
}
.out-of-stock-msg {
  color: #f00;
  margin-top: 5px;
  font-weight: bold;
}
.promo-learn-more {
  font-size: 12px;
  margin-left: 5px;
}
.widget-loading {
  background: url(http://cdn.myntra.com/skin1/images/loading_180x240.gif) no-repeat 400px 0 #fff;
  height: 100%;
  opacity: .75;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.other-views {
  text-align: center;
}
.other-views a {
  padding: 0 5px;
}
.personalize-block {
  margin: 10px 10px 0 0;
}
.mrp-block {
  color: #666;
  font-weight: bold;
  margin-top: 5px;
}
.our-price {
  margin-right: 5px;
}
.mrp-b {
  color: #666;
  font-weight: bold;
  margin-right: 5px;
  font-size: 12px;
}
.mrp b {
  text-decoration: line-through;
}
.prod-desc {
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}
.dis-price {
  font-size: 20px;
  font-weight: bold;
  color: #900;
}
.dis-price strong {
  font-size: 20px;
  font-weight: bold;
}
.offer {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: none repeat scroll 0 0 #999;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  margin-left: 5px;
  padding: 1px 5px;
}
.my-c-table legend {
  font-size: 12px;
}
.my-c-table {
  border: 1px solid #ccc;
  padding: 1px;
}
.my-c-table th {
  background: none repeat scroll 0 0 #ccc;
  text-align: center;
}
.my-c-table td {
  border-right: 1px solid #999;
  text-align: center;
}
.my-c-table .td-rs {
  text-align: right;
}
.my-c-table .td-last {
  border-right: 0 none;
}
.my-c-table .td-cr {
  text-align: center;
}
.my-c-table tbody .even td {
  background: none repeat scroll 0 0 #ebebeb;
}
.icon-cart-img {
  background-image: url('http://cdn.myntra.com/skin1/myntra_images/global-icons.png');
  background-position: 0 top;
  height: 15px;
  width: 19px;
}
.icon-facebook {
  background-image: url('http://cdn.myntra.com/skin1/myntra_images/global-icons.png');
  background-position: -19px top;
  height: 32px;
  width: 32px;
  float: left;
}
.icon-twitter {
  background-image: url('http://cdn.myntra.com/skin1/myntra_images/global-icons.png');
  background-position: -51px top;
  height: 32px;
  width: 32px;
  float: left;
}
.icon-line {
  background-image: url('http://cdn.myntra.com/skin1/myntra_images/global-icons.png');
  background-position: -264px top;
  height: 4px;
}
.return-item-details {
  width: 250px;
}
.return-reason-details {
  width: 300px;
}
#returnsubmitform ul {
  margin: 0;
  padding: 0;
}
.return-select {
  margin: 0;
  padding: 2px;
  font-size: 100%;
  font-family: inherit;
  width: 240px;
  border: 1px solid #ccc;
}
.return-details-box {
  margin: 0;
  height: 100px;
  width: 240px;
  border: 1px solid #ccc;
}
.return-address-details {
  width: 350px;
  padding: 0 10px;
}
#return-method-choice {
  float: left;
  width: 98%;
  margin-top: 10px;
}
.return-address-details .caption {
  font-size: 11px;
  color: #036;
}
#return-method-choice input {
  margin: 5px 0;
}
#selected-address-details {
  padding: 10px 0;
}
#pickup-check {
  padding-left: 50px;
  margin-bottom: 5px;
}
#no-pickup-available {
  -moz-border-radius: 5px 5px 5px 5px;
  padding: 5px 10px;
  color: red;
}
.editAddress {
  background-image: url("http://cdn.myntra.com/skin1/images/add-edit-icon.gif");
  background-repeat: no-repeat;
  height: 16px;
  width: 15px;
  float: right;
  position: relative;
}
.addressblock {
  background: url("http://cdn.myntra.com/skin1/images/left-block-bg.gif") repeat-x scroll left top transparent;
  border: 1px solid #ccc;
  margin: 5px 0 0;
  overflow: hidden;
  position: relative;
  padding: 5px 10px;
  -moz-border-radius: 5px 5px 5px 5px;
}
.addressblock .setname {
  color: #069;
  text-transform: uppercase;
}
.addressblock .name {
  font-size: 14px;
  font-weight: bold;
}
.popup_title {
  display: none;
  background-color: #e8e8e8;
  height: 27px;
}
.popup_ajaxWindowTitle {
  float: left;
  margin-bottom: 1px;
  padding: 7px 0 5px 10px;
}
.popup_closeAjaxWindow {
  float: right;
  margin-bottom: 1px;
  padding: 7px 10px 5px 0;
  text-align: right;
}
.new-address-block {
  background-color: #fbfbfb;
  border: 3px solid #ccc;
  padding: 20px 0 10px 20px;
  overflow: hidden;
}
.clear {
  clear: both;
}
.new-address-block div .label {
  float: left;
  width: 100px;
  padding: 10px 0 0;
}
.new-address-block div .field {
  float: left;
  width: 200px;
}
.new-address-block p {
  padding: 0;
  margin: 0;
}
.new-address-block .label span {
  color: red;
}
.new-address-block .field input[type="text"] {
  width: 190px;
  height: 25px;
  padding: 0 2px;
}
.new-address-block .field input, .new-address-block .field select {
  font-size: 100%;
  font-family: inherit;
  border: 1px solid #d3d3d3;
  width: 190px;
  height: 25px;
  color: #666;
  padding: 0 2px;
}
.new-address-block .field textarea {
  border: 1px solid #ccc;
  color: #666;
  width: 190px;
  height: 100px;
  padding: 0 2px;
}
.btn {
  cursor: pointer;
}
.refunds-section-outer {
  width: 350px;
  padding: 10px;
}
.refunds-section-outer h4 {
  margin: 0;
}
.refunds-section-inner {
  border: 1px solid #ccc;
  padding: 10px;
  -moz-border-radius: 5px 5px 5px 5px;
}
.refunds-section-inner div {
  margin: 5px 0;
}
.refunds-section-inner .label {
  float: left;
  width: 250px;
  text-align: right;
}
.refunds-section-inner .field {
  float: right;
  text-align: right;
  width: 60px;
  color: #099;
}
.refunds-section-inner .grandlabel {
  font-size: 16px;
  font-weight: bold;
  float: left;
  width: 250px;
  text-align: right;
}
.refunds-section-inner .grandfield {
  font-size: 16px;
  color: #f93;
  font-weight: bold;
  float: right;
  text-align: right;
  width: 60px;
}
.disabled-btn {
  background: none repeat scroll 0 0 #aaa;
}
#link-section {
  width: 900px;
  text-align: right;
  padding: 10px 0;
}
.block {
  display: block;
}
.pblock {
  display: block;
  float: left;
  text-align: center;
  width: 100px;
}
.effect-price {
  color: #090 !important;
  display: inline !important;
}
.smalltext {
  color: #333;
  font-size: 12px;
  font-weight: normal;
  display: block;
}
.cashbackblock .smalltext, .cashbackblock .cashtitle {
  color: #999;
}
.cashbackblock .cb {
  font-size: 10px;
  margin-left: 3px;
}
.cb-block {
  background: url("http://cdn.myntra.com/skin1/myntra_images/cashback-icon.png") no-repeat scroll left center transparent;
  float: right;
  padding-left: 0;
  width: 140px;
  position: relative;
}
.poplink {
  color: #069;
  cursor: pointer;
  display: block;
  font-size: 11px;
  text-align: center;
  margin-bottom: 3px;
}
.poplink b {
  font-weight: normal;
  border-bottom: 1px dotted #333;
}
#change-image {
  margin-top: 25px;
}
#reg_captcha-form {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  width: 150px;
  margin: 7px;
}
.reg_verify-captcha {
  padding: 5px 15px;
  background: #fd9b06;
  margin: 7px;
}
.reg_captcha-block {
  margin-top: 05px;
  align: center;
}
.reg_captcha-loading {
  background: url("http://cdn.myntra.com/skin1/myntra_images/captcha-loading.gif") no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  margin-top: 15px;
}
.reg_captcha-entry {
  clear: both;
}
.reg_captcha-entry span {
  display: block;
}
.reg_captcha-message {
  padding: 2px;
  width: 154px;
}
.reg_verify-captcha.btn-disabled, #reg_resend-verification-code.btn-disabled, #reg_submit-code.btn-disabled {
  background: #a8a8a8;
  cursor: not-allowed;
}
.query, .reg_verify-code, .reg_myntra-agreement, .reg_excedded-attempts, .reg_incorrect-mobile-code, .reg_mobile-code-verified, .reg_invalid-mobile, .reg_common-message, #reg_mobile-message {
  color: #000;
}
.header-messages a {
  padding: 5px;
  color: #fff;
}
.header-promo-links a {
  padding: 2px 5px;
}
.menu-bar ul {
  margin: 0 0 0 1px;
  padding: 0;
}
.menu-bar ul li {
  float: left;
  margin-right: 0;
}
.menu-bar-bg, .light-blue-bg {
  background-color: #99cdff;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.search {
  margin: 5px 0 0 10px;
  width: 415px;
  *width: 390px;
  padding: 7px 5px 6px;
  float: left;
  border: 1px solid #999;
  border-right: 0 none;
  font: italic 14px Georgia;
}
.header-button.cart-box {
  padding: 0;
  margin-right: 0;
}
.header-button {
  margin-left: 10px;
  margin-top: 30px;
}
.header-button.pl.cart-box {
  clear: none;
  margin-right: 0;
  margin-left: 10px;
  margin-top: 5px;
  padding: 0;
}
.sale-link {
  background: #990002;
  color: #fff;
  font-weight: bold;
  margin-top: 5px;
  padding: 7px 20px;
  margin-left: 10px;
  display: block;
}
.search-btn {
  border: 1px solid #fd9b06;
  cursor: pointer;
  font-weight: bold;
  height: 32px;
  margin: 5px 0;
  padding: 0 18px;
  text-decoration: none;
}
.menu-bar {
  position: relative;
  z-index: 10;
}
.header-menu-bar-content, .header-promo-links-content, .header-messages-content, .header-logo-signup-block {
  width: 980px;
  margin: 0 auto;
}
.menu-bar-link span {
  display: block;
  font-family: arial;
  font-size: 16px;
  padding: 5px 20px;
  color: #000;
}
.menu-bar ul .hover .menu-bar-link span {
  color: #fff;
  background: #000;
}
.menu-bar ul .hover .menu-bar-link {
  background: transparent url(http://cdn.myntra.com/skin1/myntra_images/nav-bar-down.png) no-repeat scroll center bottom;
}
.menu-bar ul .no-js:hover>.hover-block {
  display: block;
  color: #fff;
}
.menu-bar ul li>.hover-block {
  background: #666;
  border-top: 1px dotted #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  left: 0;
  z-index: 1000;
  padding: 0;
  position: absolute;
  width: 978px;
  height: 320px;
  overflow: hidden;
}
.menu-bar-link {
  color: #fff;
  display: block;
  padding: 0 0 7px;
  margin-top: 5px;
  font-weight: bold;
}
.homepage-banners-col {
  overflow: hidden;
  max-height: 425px;
  position: relative;
}
.home-page-banners img {
  float: left;
}
.menu-section-left a {
  display: block;
  margin-right: 5px;
  font-weight: bold;
  font-family: arial;
  text-align: left;
  color: #fff;
  margin-left: 2px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-top: 2px;
  *line-height: 18px;
}
.menu-section-left a:hover {
  color: #fff;
  text-decoration: underline;
}
.menu-section {
  width: 85%;
}
.menu-section-left .menu-links {
  background: none repeat scroll 0 0 #3d3d3d;
  padding-bottom: 250px;
}
.menu-section-left .menu-title {
  background: #3d3d3d;
  color: #fff;
  font-weight: bold;
  font-family: arial;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  text-align: left;
}
.menu-section-left {
  width: 15%;
}
.menu-section .menu-title {
  background: none repeat scroll 0 0 #666;
  color: #fff;
  font-weight: bold;
  font-family: arial;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  text-align: left;
}
.menu-section ul {
  float: left;
  margin-right: 5px;
  overflow: hidden;
}
.menu-section ul li a:hover {
  text-decoration: underline;
}
.menu-section .menu-links ul li a:hover {
  color: #000;
  background: #ccc;
}
.menu-section .menu-links ul li a {
  color: #fff;
  display: block;
  margin: 0 2px;
  padding: 2px 2px 2px 5px;
  width: 94%;
  line-height: 18px;
  font-weight: bold;
  font-family: arial;
}
.menu-section .last {
  width: 130px;
  margin-right: 0;
}
.menu-section ul li {
  float: none;
  display: block;
  margin-top: 2px;
  font-weight: normal;
  text-align: left;
  *line-height: 14px;
}
.new-user-box span {
  display: block;
}
.fb-connect-box span, .new-user-box span {
  font-weight: bold;
  color: #989898;
  line-height: 22px;
  text-align: center;
}
.fb-connect-box, .new-user-box {
  margin-top: 8px;
}
.fb-connect-box {
  margin-left: 100px;
}
.header-menu-bar {
  border-bottom: 3px solid #666;
  border-top: 1px solid #666;
}
.cart-box .my-myntra-link {
  color: #686868;
  padding: 0 15px;
}
.cart-box .logout-link {
  color: #686868;
}
.post-login-details {
  margin-top: 5px;
  margin-right: 0;
}
.my-myntra-pl {
  clear: both;
}
#logged_in_user_name {
  font-size: 12px;
  margin-left: 5px;
  float: left;
}
.brands-listing {
  margin-top: 10px;
}
.brands-listing li {
  display: block;
  float: left;
  margin: 0 10px 20px 0;
}
.brands-listing li a span {
  display: block;
  text-align: center;
}
.brands-listing li a img {
  display: block;
}
.brands-listing-title {
  color: #666;
  font-weight: bold;
}
.mrp-prefix {
  font-size: 12px;
  float: left;
  margin-right: 3px;
  margin-left: 3px;
  line-height: 20px;
}
.mrp-content {
  float: left;
}
.mrp-content p {
  padding: 0;
  float: left;
}
.mrp-content h4 {
  margin: 0;
  float: left;
  line-height: 20px;
  font-size: 12px;
}
#logged_in_user_profile_picture {
  float: left;
}
.signin-box-overlay, .signup-box-overlay, .notifyme-overlay, .deliveryknowmore-overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .5;
  background: #000;
  display: none;
  filter: alpha(opacity=50);
  height: 100%;
  width: 100%;
  z-index: 1002;
}
.signin-close, .signup-close, .notifyme-close {
  line-height: 25px;
}
.fb-connect-post-login {
  margin-left: 99px;
  margin-top: 30px;
}
#logout_from_account {
  line-height: 18px;
  margin-left: 5px;
  text-decoration: underline;
}
.post-login-actions {
  clear: both;
}
.secure-payment-title {
  margin-top: 27px;
  font-size: 16px;
}
.secure-login-info #logged_in_user_name {
  float: none;
}
.secure-login-info #logout_from_account {
  margin-left: 0;
}
#vtooltip {
  position: absolute;
  background-color: #fff;
  z-index: 9999;
  max-width: 200px;
  _width: 150px;
  border: 3px solid #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  opacity: .9;
  filter: alpha(opacity=90);
  font-size: 12px;
  padding: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#vtooltip table {
  margin: 0;
}
ul li .img-cont {
  width: 120px;
  padding: 0 5px 0 0;
}
ul li .img-cont img {
  padding: 1px;
  border: 1px solid #888;
}
ul li .prod-details {
  width: 136px;
  position: relative;
}
.prod-stat-box {
  height: 105px;
}
ul li .prod-details h3 {
  font-size: 12px;
  color: #069;
  text-decoration: underline;
  line-height: 15px;
}
.disc-per, .sav-disp {
  color: #666;
}
.disc-price, .orig-price {
  display: block;
  color: #f00;
  font-weight: bold;
}
.new-recent-widget {
  overflow: hidden;
  margin: 0;
}
.new-recent-widget li {
  width: 265px;
  float: left;
  padding-right: 16px;
}
.clear hr {
  display: none;
}
.size-select {
  width: 115px;
  border-color: #ccc;
  font-size: 11px;
  height: 19px;
  margin-left: 3px;
  clear: both;
  float: left;
}
.new-cart-bttn {
  background: transparent url("/skin1/myntra_images/wish_list-btn.png") no-repeat top left;
}
.add-to-cart-button {
  color: #fff;
  padding: 0 20px 3px 0;
  width: 120px;
  height: 25px;
  cursor: pointer;
  border: none;
}
.new-scrollable {
  position: relative;
  overflow: hidden;
  width: 980px;
  height: 200px;
  left: 25px;
  float: left;
}
.new-single-scrollable {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 200px;
  left: 25px;
  float: left;
}
.recent-cont .items, .recomm-cont .items {
  width: 10000em;
  position: absolute;
  clear: both;
  padding-left: 0;
}
.new-scrollable .items .item, .non-scrollable ul li.item, .new-single-scrollable ul li.item {
  height: 200px;
}
.new-single-scrollable ul .item {
  width: 350px;
}
.recent-cont .prevPage {
  margin-top: 60px;
}
.recent-widget-overlay {
  height: 160px;
  width: 124px;
  display: block;
  opacity: .8;
  filter: alpha(opacity=80);
  background: #fff;
  position: absolute;
  right: 0;
  z-index: 10;
}
.recent-cont .nextPage {
  position: absolute;
  z-index: 11;
  height: 160px;
  width: 152px;
  right: -25px;
  background: none;
  margin-top: 0;
}
a .nxt-new {
  cursor: pointer;
  background: url("http://cdn.myntra.com/skin1/myntra_images/global-icons.png") no-repeat scroll -238px top transparent;
  display: block;
  height: 26px;
  width: 26px;
  margin: 60px 0 0 135px;
}
.recomm-cont {
  width: 350px;
  margin: 0;
}
.recomm-cont .next, .recomm-cont a.prev {
  cursor: pointer;
  position: absolute;
  margin: 0;
  top: 13px;
  z-index: 12;
  height: 17px;
  width: 17px;
  background: transparent url("/skin1/myntra_images/widget-arrows.png") no-repeat top left;
}
.recomm-cont .next {
  background-position: -16px 0;
  right: 0;
}
.recomm-cont .prev {
  background-position: 0 0;
  left: 310px;
}
.recomm-cont .prod-stat-box {
  height: 104px;
}
.view-details {
  padding: 3px 0 0 15px;
  color: #fff;
  clear: both;
  height: 22px;
}
.item-available {
  font-size: 11px;
  line-height: 13px;
  color: #0e7d11;
  padding-left: 1px;
  clear: both;
  display: block;
}
.free-ship {
  line-height: 17px;
  color: #666;
  padding-left: 1px;
  clear: both;
}
.widget-cb {
  clear: both;
  color: #666;
}
.errornotification {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #fffbdf;
  color: #ff600f;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
}
.warning-image {
  background: url("http://cdn.myntra.com/skin1/images/sprite-icons-3.0.png") no-repeat 0 -262px;
  height: 32px;
  width: 32px;
  margin-right: 10px;
}
.zip-err-warning-ship-addrs {
  border: 1px solid #ccc !important;
  padding: 10px;
  margin: 20px 20px 0 0;
}
.zip-err-text-my-myntra {
  color: black;
  float: left;
  width: 206px;
}
.zip-err-text-ship-addrs {
  color: black;
  float: left;
  width: 445px;
}
.myntrabtn {
  cursor: pointer;
  display: block;
}
.without_cashback {
  height: 360px !important;
}
.without_cashback .item-box {
  height: 310px !important;
}
.pagemain-title {
  display: block;
  overflow: hidden;
  margin: 0 0 10px;
}
.gift i, .gift-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url("http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png") repeat scroll -48px -150px transparent;
}
.sploff i, .sploff-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url("http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png") repeat scroll -48px -169px transparent;
}
.coupon i, .coupon-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url("http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png") repeat scroll -48px -187px transparent;
}
.tick-small-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png") repeat scroll 0 -138px transparent;
}
.warning-small-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png") repeat scroll 0 -156px transparent;
}
.sploff-large-icon {
  background: url("http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png") repeat scroll -45px -124px transparent;
  width: 25px;
  height: 25px;
  display: inline-block;
}
.gift-large-icon {
  background: url("http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png") repeat scroll -43px -72px transparent;
  width: 25px;
  height: 25px;
  display: inline-block;
}
.pdp-sploff {
  clear: both;
  color: #d20000;
  font-size: 14px;
}
.pdp-discount-align {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
}
.pdp-discount-icon {
  width: 22px;
}
.pdp-trigger {
  width: 300px;
}
.pdp-dis-icon {
  background: url("http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png") repeat scroll -45px -124px transparent;
  width: 20px;
  height: 25px;
  display: inline-block;
  margin-right: 2px;
}
.pdp-coupon-icon {
  background: url("http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png") repeat scroll -45px -98px transparent;
  width: 20px;
  height: 25px;
  display: inline-block;
  margin-right: 2px;
}
.pdp-gift-icon {
  background: url("http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png") repeat scroll -43px -72px transparent;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 2px;
}
.tool-text {
  font-family: arial;
  font-size: 12px;
  color: #000;
}
.tool-text i {
  color: #d20000;
  font-style: normal;
}
.tool-text em {
  color: #d20000;
  font-style: normal;
  font-weight: bold;
}
.tool-text b {
  color: #666;
  font-weight: normal;
}
.discount_product_set_h2 {
  position: relative;
  border-bottom: 0 none;
  font-size: 20px;
  font-family: georgia,arial,serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 0;
  padding-bottom: 0;
}
.mynt-footer {
  background: url("http://cdn.myntra.com/skin1/myntra_images/footer_bg.png") repeat-x 0 0 #fff;
  height: auto !important;
  height: 400px;
  min-height: 400px;
  *text-align: left;
}
.footer-content {
  margin: 0 auto;
  width: 978px;
  border: 0 solid #ccc;
  padding-top: 20px;
  padding-left: 2px;
}
.mynt-links-block {
  overflow: hidden;
  padding-bottom: 20px;
}
.mynt-footer-links {
  float: left;
  width: 594px;
}
.mynt-footer-links ul {
  margin: 0;
  padding: 0;
  list-style: none outside none;
}
.mynt-footer-links ul li {
  width: 188px;
  padding-right: 10px;
  float: left;
}
.mynt-footer-links ul li strong {
  letter-spacing: .05em;
  color: #666;
  display: block;
  font-family: georgia,times New Roman,serif;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 1px;
}
.mynt-footer-links ul li a {
  display: block;
  font-family: Arial;
  font-size: 12px;
  margin-bottom: 2px;
}
.mynt-footer-links ul li a:hover {
  text-decoration: underline;
}
.mynt-footer-promos {
  width: 380px;
  float: right;
}
.mynt-footer-promos .promo {
  line-height: 22px;
  color: #666;
  font-family: georgia,timesNewRoman,serif;
  font-size: 20px;
  letter-spacing: .05em;
  top: -6px;
  width: 173px;
}
.mynt-footer-promos .promo strong {
  color: #d20000;
  font-weight: normal;
}
.promo-small-text {
  font-family: arial;
  font-size: 12px;
  letter-spacing: 0;
}
.promo-text {
  font-family: arial;
  font-size: 12px;
  display: block;
}
.promo-text2 {
  font-family: arial;
  font-size: 12px;
  color: #000;
  display: block;
  line-height: 18px;
  padding-top: 12px;
}
.promo-block {
  margin-bottom: 15px;
  overflow: hidden;
}
.pipe {
  width: 173px;
  height: 65px;
  border-right: 1px solid #b3b3b3;
  padding-right: 10px;
  margin-right: 10px;
  text-align: right;
  float: left;
  font-family: georgia,timesNewRoman,serif;
}
.promo-leaf {
  color: #666;
  float: left;
  font-family: arial;
  font-size: 12px;
  width: 175px;
}
.promo-leaf b {
  font-weight: normal;
  color: #000;
}
.promo-link a {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  padding-top: 21px;
}
.promo-link a:hover {
  text-decoration: underline;
}
.mynt-footer-promos .feedback {
  margin-top: 160px;
}
.mynt-footer-promos .feedback strong {
  font-weight: normal;
  margin-top: 20px;
  font-family: georgia,timesNewRoman,serif;
  font-size: 14px;
  color: #666;
  display: block;
  letter-spacing: .05em;
  margin-bottom: 3px;
}
.channels {
  margin-top: 25px;
  font-family: georgia,timesNewRoman,serif;
  font-size: 14px;
  color: #666;
  letter-spacing: .05em;
  padding-right: 175px;
}
.news-block {
  overflow: hidden;
  border-top: 1px dotted #b3b3b3;
  border-bottom: 1px dotted #b3b3b3;
  padding: 4px 0;
  margin: 2px 0;
}
.mynt-news {
  border-right: 1px solid #ccc;
  float: left;
  padding-right: 20px;
  padding-top: 12px;
  width: 470px;
  padding-bottom: 20px;
}
.mynt-news strong, .style-mynt strong, .testimonials strong, .love-myntra strong, .payment-title, .mynt-foot-title {
  font-family: georgia,timesNewRoman,serif;
  font-size: 14px;
  color: #666;
  letter-spacing: .05em;
  font-weight: normal;
  display: block;
}
input.newsletter {
  border: 1px solid #ccc;
  height: 25px;
  margin: 5px 8px 5px 0;
  width: 285px;
  padding-left: 8px;
  font-size: 12px;
}
.style-mynt {
  float: right;
  padding-left: 10px;
  padding-top: 13px;
  width: 475px;
}
.style-text {
  color: #666;
  dsplay: block;
  padding-top: 10px;
  display: block;
}
.mynt-footer .maillink:hover {
  text-decoration: underline;
}
.testimonials-block {
  margin-bottom: 20px;
  height: 155px;
  border: 1px dotted #b3b3b3;
  background: #fff;
  padding-left: 15px;
  box-shadow: 0 0 6px #ccc;
  -moz-box-shadow: 0 0 6px #ccc;
  -webkit-box-shadow: 0 0 6px #ccc;
}
.testimonials {
  clear: both;
  padding-top: 17px;
  float: left;
}
.testimonials-text {
  display: block;
  padding-top: 11px;
  width: 565px;
}
.testimonials-text em {
  color: #666;
  display: block;
  padding-top: 10px;
}
.love-myntra {
  float: right;
  background: #fff;
  height: 123px;
  width: 180px;
  padding-top: 17px;
}
.mynt-tags {
  clear: both;
  padding: 0 0 20px;
  text-align: center;
  border-bottom: 1px dotted #b3b3b3;
}
.mynt-tags a {
  text-transform: uppercase;
  color: #d20000;
  font-size: 12px;
  margin-left: 5px;
}
.mynt-tags a:hover {
  text-transform: uppercase;
  color: #d20000;
  text-decoration: underline;
}
.mynt-text {
  border-bottom: 1px dotted #b3b3b3;
  padding: 30px 0;
  line-height: 22px;
}
.payment-block {
  border-bottom: 1px dotted #b3b3b3;
  margin-bottom: 10px;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 20px;
}
.poweredby {
  color: #666;
  float: left;
  width: 386px;
}
.payment {
  color: #666;
  float: right;
  width: 386px;
}
.mynt-copy-right {
  height: 30px;
  color: #000;
  font-size: 15px;
  font-family: "times New Roman",arial;
  padding-bottom: 10px;
}
.certified-icon {
  background: url("http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png") no-repeat -75px -143px transparent;
  width: 70px;
  height: 65px;
  float: right;
}
.fb {
  background: url('http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png') no-repeat -80px 0 transparent;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 3px;
}
.fb:hover {
  background: url('http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png') no-repeat -80px -72px transparent;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-decoration: none;
}
.tw {
  background: url('http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png') no-repeat -113px 0 transparent;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 3px;
}
.tw:hover {
  background: url('http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png') no-repeat -113px -72px transparent;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-decoration: none;
}
.yt {
  background: url('http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png') no-repeat -80px -38px transparent;
  width: 32px;
  height: 32px;
  display: inline-block;
}
.yt:hover {
  background: url('http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png') no-repeat -80px -110px transparent;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-decoration: none;
}
.gp {
  background: url('http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png') no-repeat -113px -38px transparent;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 3px;
}
.gp:hover {
  background: url('http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png') no-repeat -113px -110px transparent;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-decoration: none;
}
.love-icon {
  background: url('http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png') no-repeat -40px -258px transparent;
  width: 30px;
  height: 25px;
  display: inline-block;
  *background-position: -40px -253px;
}
.payment-icons {
  background: url('http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png') no-repeat 0 -960px transparent;
  width: 386px;
  height: 40px;
}
.powered-icons {
  background: url('http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png') no-repeat 0 -1000px transparent;
  width: 386px;
  height: 40px;
}
.footer-social-buttons {
  padding-top: 10px;
  text-align: center;
}
.testimonials-slide {
  padding: 0 12px;
}
.foot-left-arrow {
  background: url("http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png") no-repeat scroll 0 -408px transparent;
  width: 12px;
  height: 40px;
  float: left;
  margin-top: 40px;
  cursor: pointer;
}
.foot-left-arrow:hover {
  background: url("http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png") no-repeat scroll 0 -493px transparent;
  width: 12px;
  height: 40px;
  float: left;
  margin-top: 40px;
}
.foot-right-arrow {
  background: url("http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png") no-repeat scroll 0 -450px transparent;
  width: 12px;
  height: 40px;
  float: left;
  margin-top: 40px;
  cursor: pointer;
}
.foot-right-arrow:hover {
  background: url("http://cdn.myntra.com/skin1/images/sprite-icons-7.0.png") no-repeat scroll 0 -535px transparent;
  width: 12px;
  height: 40px;
  float: left;
  margin-top: 40px;
  cursor: pointer;
}
.expand-icon {
  background: url('http://cdn.myntra.com/skin1/images/sprite-icons-8.1.png') no-repeat 0 -850px transparent;
  width: 14px;
  height: 15px;
  display: inline-block;
  margin-right: 3px;
}
.collapse-icon {
  background: url('http://cdn.myntra.com/skin1/images/sprite-icons-8.1.png') no-repeat 0 -865px transparent;
  width: 14px;
  height: 15px;
  display: inline-block;
  margin-right: 3px;
}
.item-desc {
  padding-left: 5px;
  padding-right: 5px;
}
.mab-productui-newui .category .item .quick-look, .mab-productui-newui .product-listing .item .quick-look {
  left: 14px;
  position: absolute;
  top: 207px;
  width: 108px;
  z-index: 1;
  display: none;
  color: #000;
}
#quick-look-mod .out-of-stock-msg {
  margin-top: 40px;
}
#quick-look-mod .pdp-sploff {
  cursor: default;
}
#quick-look-mod .product-image-preview div.imageframe {
  width: 300px;
  height: 400px;
  position: relative;
}
#quick-look-mod .product-detail-block {
  width: 330px;
}
#quick-look-mod .product-block {
  width: 302px;
}
#quick-look-mod .v-tabs {
  width: 48px;
  float: left;
  height: 400px;
}
#quick-look-mod .v-tabs a.selected {
  border: 1px solid #0084b4;
  display: block;
  height: 52px;
  margin: 0 5px 6px;
  width: 39px;
}
#quick-look-mod .product-img-thumbnails-block {
  width: 350px;
}
#quick-look-mod .pdp-content-div {
  width: 700px;
}
#quick-look-mod .v-tabs a {
  border: 0 solid #fff;
  display: block;
  height: 52px;
  margin: 0 5px 6px;
  width: 39px;
}
.preview-overlay-control {
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.quick-look-prev, .prev, .preview-prev {
  left: 0;
  top: 47%;
  background: url("http://cdn.myntra.com/skin1/myntra_images/pdp-arrows.png") no-repeat scroll -1px -1px transparent;
  height: 35px;
  width: 37px;
}
.quick-look-next, .next, .preview-next {
  right: 0;
  top: 47%;
  background: url("http://cdn.myntra.com/skin1/myntra_images/pdp-arrows.png") no-repeat scroll -39px -1px transparent;
  height: 35px;
  width: 37px;
}
.quick-look-prev:hover, .prev:hover, .preview-prev:hover {
  background: url("http://cdn.myntra.com/skin1/myntra_images/pdp-arrows.png") no-repeat scroll -1px -36px transparent;
}
.quick-look-next:hover, .next:hover, .preview-next:hover {
  background: url("http://cdn.myntra.com/skin1/myntra_images/pdp-arrows.png") no-repeat scroll -39px -36px transparent;
}
#quick-look-mod .preview-loading {
  background: #fff url(http://cdn.myntra.com/skin1/myntra_images/loading_240_320.gif) 60px 80px no-repeat;
  position: absolute;
  top: 0;
  width: 300px;
  height: 400px;
  opacity: .5;
  filter: alpha(opacity=50);
  z-index: 100;
  left: 0;
}
.product-title {
  color: #666;
  font-family: georgia,timesNewRoman,serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: normal;
  margin: 0 5px 2px 0;
  min-height: 62px;
}
.zoom-size-options-error-msg, .size-options-error-msg {
  color: #f00;
  padding: 0 0 5px 5px;
  font-weight: bold;
}
.zoom-size-options-error, .zoom-buy-now-block .size-options-error {
  border: 2px solid #f00;
}
.flat-size-options {
  height: auto;
  overflow: hidden;
  border: 0 solid red;
  width: 342px;
  margin-right: 10px;
}
.flat-size-options a {
  margin: 0 6px 6px 0;
}
.zoom-flat-size-options a {
  margin: 0 6px 6px 0;
  display: block;
  float: left;
  height: 25px;
  line-height: 25px;
  text-align: center;
  padding: 0 7px;
  color: #000;
}
.flat-size-options a {
  display: block;
  float: left;
  height: 25px;
  line-height: 25px;
  text-align: center;
  padding: 0 7px;
  color: #000;
}
.flat-size-options {
  line-height: 30px;
}
.zoom-flat-size-options {
  height: 30px;
  line-height: 30px;
}
.size-options-error .size-options {
  padding: 3px 0 3px 6px;
  border: solid 2px #f00;
  margin: -2px 6px 2px 0;
}
.size-options {
  display: block;
  overflow: hidden;
  border: 0 solid black;
}
.oprice {
  color: #666;
  font-family: arial,sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.oprice span {
  font-weight: normal;
}
.dprice {
  color: #d20000;
  font-family: arial,sans-serif;
  font-weight: bold;
  padding-right: 3px;
  font-size: 16px;
}
.dprice span {
  font-weight: normal;
}
.add-pricing-info {
  font-weight: normal;
  color: #666;
}
.quick-look span {
  width: 16px;
  height: 15px;
  background-image: url("http://cdn.myntra.com/skin1/images/sprite-icons-10.png");
  background-repeat: no-repeat;
  background-position: -48px -280px;
  display: block;
  float: left;
  margin: 0 5px;
}
.discount-label {
  display: none;
}
.more-details {
  cursor: pointer;
  width: 119px;
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.view-more-details {
  text-align: center;
}
.view-more-details span {
  display: inline-block;
  margin: 4px 0 0 4px;
}
#quick-look-mod .buy-now-block {
  margin-top: 20px;
}
#quick-look-mod #finalimage {
  cursor: default;
}
.zoom-buy-now-block a.cart-btn, .product-detail-block a.cart-btn, .myntrabtn, a.quick-look-cart-btn {
  display: block;
  font-size: 15px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fa4;
  background-image: -webkit-linear-gradient(top,#ffaa44,#ff9009);
  background-image: -moz-linear-gradient(top,#ffaa44,#ff9009);
  background-image: -ms-linear-gradient(top,#ffaa44,#ff9009);
  background-image: -o-linear-gradient(top,#ffaa44,#ff9009);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.zoom-buy-now-block a.cart-btn:hover, .product-detail-block a.cart-btn:hover {
  background-color: #ff9009;
  background-image: -webkit-linear-gradient(top,#ff9009,#ffaa44);
  background-image: -moz-linear-gradient(top,#ff9009,#ffaa44);
  background-image: -ms-linear-gradient(top,#ff9009,#ffaa44);
  background-image: -o-linear-gradient(top,#ff9009,#ffaa44);
}
#quick-look-mod .ft {
  text-align: center;
  margin-top: 20px;
}
.discount-label {
  display: none;
  position: absolute;
  text-align: center;
  top: 2px;
  z-index: 105;
}
.quick-look-thumb-views a {
  cursor: pointer;
}
.mab-newHeaderUItest-v3 #quick-look-mod .cps {
  font-family: georgia,tahoma,arial;
}
