.DIV_TABLE {border: 1px solid rgb(150,100,150); background-color:rgb(214, 216, 255); width: auto}
.banner-details {text-align:left; padding-bottom:4px}
.banner {max-height: 250px; max-width: 687px}
.banner-action {text-align:center; padding:10px}
.lblleft {text-transform: none}
input.error {background-color: rgb(255,240,240) }
label.error {color: red; display: block}
span.errorMsg {background-color: rgb(255,50, 50); text-align: center; color: white; font-size: 12px; padding: 6px; padding-right: 20px; margin: 6px; font-weight: bold}
.dismiss {text-align: right; font-color: white; font-weight: bold;}	
.section-title {color: rgb(150,10,150); font-size: 1.3em; text-transform: capitalize; height: 35px; margin-top:15px; text-align: center}
.section {background-color: rgb(214, 216, 255); padding: 6px; width: 1166px; font-size: 1.5em}
.section-body {text-transform: capitalize; font-size: 0.8em; color: rgb(150,60,150); }
.location-choose-head {border: 1px solid #966496}
.button-panel {height: 25px; width:200px; margin:5px auto 15px;}
.button-panel span input {font-size: 1.2em; padding: 3px}
.show-hide {position: absolute; background: url("../../../skin2/images/sprite-global.png") -105px 0px; height: 10px; width: 10px; }
.location-link {cursor: pointer}
.page-locations {font-size: 1.4em;overflow:auto; height: 200px; background-color: #E6E6E6; border: 1px solid #D6D6D6; border-top: none; padding-top: 20px;}
.page-locations-head {background-color: #E6E6E6; border: 1px solid #D6D6D6; height: 15px; font-size: 1.4em; padding: 6px}
.resultsDiv a {cursor: pointer}
.addBannerLink {text-transform: none; font-size: 0.8em}
#resultsDiv ul li.ui-menu-item a.ui-corner-all {cursor: hand}