.accordion
{
    text-align: left;
}
.accordion .accordion-content
{
    font-size: 12px;
    display:block;
    line-height: 16px;
}
.accordion h2, .toggle a {
    outline:none;
    cursor:pointer;
    padding:0 0px;
    font-family: "din-med", Droid Sans, Helvetica Narrow;
    font-size:12px;
    line-height:30px;
    clear:both;
    color: #000;
    font-weight: medium;
    text-transform: uppercase;
}

.toggle a#toggle-all-open {
    padding: 5px 20px;
    background-position: 5px 6px;
}

.toggle a#toggle-all-closed {
    padding: 5px 20px;
    background-position: 5px -85px;
    }

.accordion h2.ui-state-active {
    background-position:5px -81px;
    border-bottom:none;
}
.ui-state-active + .accordion-content
{
/*    border-bottom:  4px #d6d6d6 solid;*/
}
.icon
{
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') -240px 0px no-repeat transparent;
    width: 25px;
    height: 25px;
    display: inline-block;
    float:right;
}
.ui-state-active .icon
{
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') -270px 0px no-repeat transparent;
    width: 25px;
    height: 25px;
    display: inline-block;
    float:right;
}
.accordian-content-border
{
    margin-bottom:3px;
}
.top-border
{
    border-top:2px #d6d6d6 solid;
    margin-bottom:4px;
}
