.address-list-wrap{
    width:290px;
    margin:auto;
}
.address-list-box .no-data {
    padding:50px 0;
}
.address-list-box .list {
    border-top: 1px solid #d6d6d6;
    
}
.address-list-box .items {
    border:0 none;
    border-collapse:collapse;
    width:100%;
}
.address-list-box .items tr {
    border-bottom: 1px solid #d6d6d6;
}
.address-list-box .items .even {
}
.address-list-box .items td {
    padding:0px;
}
.address-list-box .items td.action {
    text-align:right;
}
.address-list-box .items td.action .buttons {
    border-left:1px solid #d6d6d6;
    display:inline-block;
    padding:10px 0 10px 10px;
    width: 90px;
}
.address-list-box .items td.action .sep {
    color:#808080;
    vertical-align:middle;
    padding:0 5px 0 3px;
}
.addressHeading{
    text-transform: uppercase;
    padding: 7px 0px;
    display:inline-block;
}
.address-list-box .items td.action .link-btn {
    vertical-align:middle;
    line-height:1;
}
.address-list-box .items td.action .set-default {
    display:block;
}
.address-list-box .items td.action .is-default {
    display:block;
    color:#808080;
}
.address-list-box .items .opt {
    width:28px;
    display:inline-block;
    padding: 2px 2px;
    float: left;
}
.address-list-box .items .address {
    text-align:left;
    text-transform:none;
    font: 12px/15px Arial;
    cursor: pointer;
}
.address-list-box .items .lbl {
    color:#808080;
}
.address-list-box .btn-save {
    margin-right:10px;
}

.address-list-box .list .address strong {
    font-weight: bold;
}
.jqTransformRadio{
    background: url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -85px -37px transparent;
    display: inline-block;
    width: 26px;
    height: 26px;
}
.jqTransformChecked{
    background: url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -115px -37px transparent;
    display: inline-block;
    width: 26px;
    height: 26px;
}

.addr-summary{
    float:right;
}
.addr-top{
    width: 264px;    
    display: table-cell;
    vertical-align: middle;
    height:30px;
}
