
@media only screen and (min-width: 767px) {
    .main-content{
        float:left;
        display:inline-block;
    }
    .order-summary{
        float:right;
        margin:0;
        position: relative;
        display:inline-block;
    }
    .address-page{
        width:720px;
        margin:auto;
    }
}
@media only screen and (min-width:1px) and (max-width:479px) {
    .mk-checkout-header{
        
    }
}
@media only screen and (min-width:480px) and (max-width:766px){
    .mk-checkout-header{
        
    }
}


.or{
    width:280px;
    margin:auto ;
    padding: 2px;
    border-bottom: 1px #d6d6d6 solid;
    color: #A6A6A6;
    text-align:center;
}

.loading{
        background: url('http://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/loader_150x200.gif') no-repeat 63px -83px transparent;
        display: block;
        height:30px;
}

.address-page textarea{
    padding: 7px;
}
