
.address-form-box form {
    text-align:left;
    margin: 0 auto;
    width: 266px;
}
.address-form-box input{
    box-shadow:inset 0 0 10px #d6d6d6;
    -moz-box-shadow:inset 0 0 10px #d6d6d6;
    -webkit-box-shadow:inset 0 0 10px #d6d6d6;
}
.address-form-box input[name="pincode"],
.address-form-box input[name="city"],
.address-form-box input[name="state-txt"],
.address-form-box input[name="mobile"] {
    width: 130px;
    
    box-shadow:0 0 10px #d6d6d6 ;
    -moz-box-shadow:inset 0 0 10px #d6d6d6;
    -webkit-box-shadow:inset 0 0 10px #d6d6d6;
}

.address-form-box textarea,
.address-form-box input[name="name"],
.address-form-box input[name="yourname"],
.address-form-box input[name="locality"],
.address-form-box input[name="email"] {
    width: 266px;
    
    box-shadow:inset 0 0 10px #d6d6d6;
    -moz-box-shadow:inset 0 0 10px #d6d6d6;
    -webkit-box-shadow:inset 0 0 10px #d6d6d6;
}

.address-form-box select[name="sel-city"] {
    width: 266px;
    height: 35px;
}
.address-form-box input[name="city"][disabled],
.address-form-box input[name="state-txt"][disabled] {
    color: #333;
}

.address-form-box select.error,
.address-form-box input.error,
.address-form-box textarea.error {
    color:#000;
    border:1px solid #D14747;
}


.address-page {
    text-align:center;
}

.address-page h1{
    font-size:5em;
    padding:1em;
    display:none;
}

.address-page input[type=text]{
    width:266px;
    line-height: 1.5em;
}

.address-form-box select.state {
    width: 281px;
    height: 35px;
}
.address-form-box .row {
    width:266px;
}
.address-form-box .row label {
    display: block;
    line-height: 20px;
}
.address-form-box .row .err {
    color: #d14747;
    margin:0;
    clear:both;
    padding-top: 2px;
}
.address-form-box .row .note {
    color: #999;
    float:right;
    width:300px;
    margin:0;
}
.address-form-box .pin-warn {
    padding: 10px 0 10px 42px;
    color: #b40404;
    display: none;
}
.address-form-box .btn-save {
    margin-right:10px;
}

.address-form-box .ac_loading {
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/loader_transparent.gif");
    background-repeat:no-repeat;
    background-position:center center;
}
.secure .address-form-box .ac_loading {
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/loader_transparent.gif");
    background-repeat:no-repeat;
    background-position:center center;
}
.ui-autocomplete {
    position:absolute;
    cursor:default;
    border-left:1px #868686 solid;
    border-right: 1px #868686 solid;
}
.ui-autocomplete li{
     border-left:1px #868686 solid;
     border-right: 1px #868686 solid;
     background:#ffffff;
     padding-left: 4px;
}
li.ui-menu-item a:before {
	background-image: none !important;
}

.address-form-box .ft {
    text-align: center;
    height: 75px;
}

.address-form-box .ft .note {
    position: absolute;
    bottom: 25px;
    float: none;
}
.btn-continue{
    width:170px;
}
.btn-save-continue{
    width:170px;
}
.address-form-wrap input , .address-form-wrap textarea ,.address-form-wrap select{
    margin-bottom: 10px;
    
}
.address-form-wrap select{
    color: #B5B5B5;
    font-size: 14px;
    border: 1px #d6d6d6 solid;
    background: #ffffff;
    height: 35px;
}
.address-page input[type="number"] {
    width: 266px;
    line-height: 1.5em;
}
#localityDiv{
    position: relative;
}

.formheader{
 display: block !important;
}

