@media only screen and (min-width:1px) and (max-width:350px) {
    .ineligible-couponoff-text {
    	line-height: 18px;
    	width: 80px !important;
    	float:right;
	}
}
@media only screen and (min-width:1px) and (max-width:479px) {
    .cart-page {
        font-size:9px;
        margin-top: -11px;
        }
    #lb-gift-wrap .bd{
        width:260px;
    }
    #lb-gift-wrap .details {
        margin: 0 auto;
        width: 90%;
    }
    #lb-gift-wrap .details input#gift-to, #lb-gift-wrap .details input#gift-from {
        width: 160px;
    }
    #lb-gift-wrap .details textarea {
        width: 195px;
     }
    #lb-gift-wrap .bd {
        height: 390px;
    }
    #lb-gift-wrap .photo {
        display:none;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .cart-page {
        font-size:10px;
        margin-top: -11px;
    }
    #lb-gift-wrap .bd{
        width:320px;
    }
    #lb-gift-wrap .details {
        margin: 0 auto;
        width: 90%;
    }
    #lb-gift-wrap .details input#gift-to, #lb-gift-wrap .details input#gift-from {
        width: 200px;
    }
    
    #lb-gift-wrap .details textarea {
        width: 236px;
     }
    #lb-gift-wrap .bd {
        height: 390px;
    }
    #lb-gift-wrap .photo {
        display:none;
    }
}
@media only screen and (min-width: 768px) {
    .cart-page {
        font-size:10px;
        margin-top: -10px;
    }
    #lb-gift-wrap .bd{
        width:600px;
    }
    #lb-gift-wrap .details {
        float:right;
        width: 48%;
    }
    #lb-gift-wrap .details input#gift-to, #lb-gift-wrap .details input#gift-from {
        width: 205px;
    }
    #lb-gift-wrap .details textarea {
        width: 239px;
     }    
    #lb-gift-wrap .bd {
        height: 318px;
    }
        #lb-gift-wrap .note {
        display:none;
    }
}