.cart-page {
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
}
.recent-five {
    margin: 0 auto;
}
.green {
    color:green;
    }
.black {
    color:#000000;
    }
.recent-five,.recent-five .mk-carousel-four,.recent-five .mk-carousel-four .mask
    {
    width: 950px;
}

.cart-page .err {
    text-align: center;
    padding: 5px;
}

.cart-page .page-error {
    font-size: 1.3em;
    padding: 10px;
    border-bottom: 1px solid #d6d6d6;
}
.cart-page .page-error .error-icon{
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -63px -68px;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: -1px 4px;
    vertical-align: top;
}

.cart-page .page-success {
    font-size: 1.3em;
    padding: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.cart-page .page-success strong {
    font-weight: normal;
    color: #808080;
}
.cart-page .page-success .success-icon{
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat 0px -68px;
    display: inline-block;
    height: 17px;
    width: 17px;
    margin: -1px 4px;
    vertical-align: top;
}

.cart-page .prod-code,.cart-page .lbl-qty,.cart-page .lbl-size {
    color: #808080;
}

.cart-page .prod-code {
    font-size: 1.2em;
    padding: 5px;
}

.cart-page .prod-name a:hover {
    text-decoration: underline;
}

.cart-page .free-prod-name {
    color: #000000;
    font-size: 1.4em;
    text-decoration: none;
}

.cart-page .row {
    zoom: 1;
    padding: 10px 20px;
    border-bottom: 1px solid #d6d6d6;
    position: relative;
}
.cart-page .row.first {
    border-top: 1px solid #d6d6d6;
}
.cart-page .row:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
}

.cart-page .count {
    padding: 5px 0;
    line-height: 25px;
}

.cart-page .form-cart-item {
    
}

.cart-page .total .mrp-total {
    color: #999;
    padding-right: 10px;
}

.cart-page .combo-savings-msg {
    font-size: 1.2em;
    /* TODO: remove color, add class 'red' */
    color: #d14747;
}

.cart-page .discount-amt,.cart-page .combo-completion-msg {
    font-size: 1.3em;
}

.cart-page .discount-msg {
    font-size: 1.3em;
}

.cart-page .combo-header-main div {
    padding: 4px;
}
.cart-page .combo-header-main .col2 div {
    margin:0 auto;
    width:100%;
    text-transform:uppercase;
}
.cart-page .para {
	text-transform:none;
	font-family:arial;
}
.cart-page .savings {
    font-size: 1.4em;
    line-height: 25px;
}

.cart-page .savings span,.cart-page .savings-details div span {
    /* TODO: remove color, add class 'red' */
    color: #d14747;
}

.cart-page .savings-details div {
    color: grey;
    padding-bottom: 5px;
}
.cart-page .slash {
    color:#d6d6d6;
    vertical-align: middle;
    }

.cart-page .header {
    background: #f2f2f2;
}

.cart-page .header .btn,.cart-page .empty-cart .btn {
    display: inline-block;
    *display: inline;
    width: 200px;
}

.cart-page .header .action div {
    padding: 5px;
}

.cart-page .header a.btn {
    width: 190px;
}

.cart-page .prod-item .action form {
    display: inline;
    vertical-align: middle;
}

.cart-page .prod-item .action .sep {
    padding: 0 0 0 5px;
    vertical-align: middle;
}

.cart-page .prod-item {
    display: inline-block;
    *display: inline;
    padding: 10px;
    zoom: 1;
}

.cart-page .size-qty-wrap .lbl-qty,.cart-page .size-qty-wrap .sel-qty,.cart-page .size-qty-wrap .lbl-size,.cart-page .size-qty-wrap .sel-size
    { /* -- needed if use jqTrans
    float:left;
    margin-right:10px;
    */
    
}

.cart-page .shipping-item .col2 .discount {
    font-size: 1.3em;
}

.cart-page .cart-discount-msg {
    padding: 10px 0px;
    font-size: 14px;
    background-color: #d6d6d6;
    margin-bottom: 1px;
}

.cart-page .cart-discount-msg .success-icon {
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat 0px -68px;
    display: inline-block;
    height: 17px;
    width: 17px;
    margin: -1px 4px;
    vertical-align: top;
}

.cart-page .cart-discount-msg {
    padding: 10px;
    font-size: 12px;     
    background-color: #f2f2f2;
    margin-bottom: 1px;
    text-transform:none;
}

.cart-page .jqTransformSelectWrapper span {
    display: inline-block;
    text-align: center;
    padding: 5px 10px 5px 5px;
    width: 85px;
    font-size: 12px;
}

.cart-page input.sel-size,
.cart-page input.sel-qty
{
    width: 72px;
    text-align: center;
    border: 1px solid #FFFFFF;
}

.cart-page select.sel-size,.cart-page select.sel-qty {
    width: 85px;
}

.cart-page .jqTransformSelectWrapper  a.jqTransformSelectOpen {
    margin: 10px 8px;
}

.cart-page .empty-cart .action {
    padding: 10px 0;
}

.cart-page .combo .combo-header-main em,.cart-page .cart-discount-msg em
    { /* TODO: remove color, add class 'red' */
    color: #d14747;
}

.save-list h3 {
    padding-bottom: 10px;
    font-size: 1.2em;
}

.cart-oos-qty {
    cursor: default;
    background: #F2F2F2;
    color: #d14747;
    margin: 0 auto;
    vertical-align: middle;
    padding: 6px 9px;
    font-size: 1.2em;
}

.cart-page .wishlist-msg {
    font: 14px/20px "din-med", Droid Sans, Helvetica Narrow;
    color: #808080;
}

.cart-page .cart-sign-in-sub-msg .btn-login,.cart-page .wishlist-msg .btn-login
    {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

.cart-page .prod-item .item-error .link-btn {
    font-size: 1.2em;
    color: #d14747;
    padding: 0 5px;
}

.cart-page .prod-item .mk-freesize {
    font-size: 1em;
    height: 14px;
    line-height: 14px;
}
.cart-page h2 {
    font-size: 1.6em;
    height: 30px;
    line-height: 30px;
    width: 50%;
}
/*
.m-header .mk-search {
    display:none;
}
.m-header {
    height:40px;
    border-bottom:0px;
}
*/
.cart-page .empty-cart .err,.cart-page .empty-saved .err {
    font-size: 1.3em;
    padding: 15px 0;
    text-align: center;
}
.empty-saved{
    padding-top:10px;
}
.cart-page .empty-cart .action {
    padding: 10px 0;
}

.cart-context-msg {
    border-bottom: 1px solid #d6d6d6;
    margin: 0;
    padding: 0;
}

.cart-context-msg h2, .cart-page .remove-coupons-link {
    border: none;
    color: #028ABB;
    font-size: 1.2em;
    height: 30px;
    line-height: 30px;
    text-decoration: underline;
    width: 100%;
} 

.empty-saved .cart-sign-in-sub-msg {
    width: auto;
}

.btn-place-order {
    width: 200px;
    margin: 10px 0px;
}

.btn-continue-shopping {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px rgba(254, 254, 254, 0.5);
}
.cart-page .save-list {
    margin-top: 10px;
    position: relative;
}
.cart-page .col1 {
    width: 35%;
    color: #808080;
    float: left;
    text-align: left;
}
.cart-page .combo-header-main .col1 {
    width: 1%;
    margin:0 auto;
}
.cart-page .col2 {
    width: 1%;
    float: left;
    padding: 0 10px;
}
.cart-page .combo-header-main .col2 {
    width: 88%;
    margin:0 auto;
    text-align:center;
    font-size:1.2em;
    color:#000000;
    float:none;
}
.cart-page .combo-header-main.row{
    padding:0;
}
.cart-page .combo-header-main a{
    color:#4590AA;
    text-decoration:underline;    
}
.cart-page .col3 {
    width: 60%;
    float: right;
    text-align: right;
    padding-right: 5px;
    text-transform:none;
}
.cart-page .combo-header-main .col3 {
    width: 1%;
    margin:0 auto;
}
.cart-page .total-row .col3 {
    width: 100%;
}

.cart-page .size-qty-wrap {
    display: block;
    *display: block;
    zoom: 1;
    text-align: left;
    bottom:0;
    padding: 0;
    position: absolute;
    left: 5px;
}
.cart-page .size-qty-wrap span{
    vertical-align:middle;
    }
.cart-page .size-qty-wrap{
    font-size: 1.2em;
}
.cart-page .mk-custom-drop-down {
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
    margin: 0;
}

.cart-page .prod-item {
    padding: 0 0 27px;
    width: 100%;
}

.cart-page .prod-name a {
    font-size: 1.2em;
    line-height:1.4em;
    color: #808080;
    text-decoration: none;
    text-transform:uppercase;
}

.cart-page .discount { /* TODO: remove color, add class 'red' */
    color: #d14747;
    font-size: .75em;
    height: .75em;
}

.cart-page .mk-remove,.cart-page .mk-remove-saved-item,.cart-page .mk-move-saved-item-to-bag,.cart-page .mk-move-to-wishlist {
    color:#000000;
    background:transparent;
    display: inline-block;
    vertical-align: middle;
    border-style: none;
    text-align:right;
    height:34px;
}

.cart-page .prod-item .action {
    padding: 5px 0;
    bottom:-10px;
    position: absolute;
    right: 5px;
    font-size: 1.2em;
    z-index:500;
}

.cart-page .shipping-item,.cart-page .total-row {
    width: 100%;
    padding: 0 0;
    border-bottom: 1px solid #d6d6d6;
}

.cart-page .gray {
    color: #808080;
}

.cart-page .size-qty-wrap select {
    padding: 3px;
}

.cart-page label {
    display: inline-block;
    *display: inline;
    padding: 5px 0;
    vertical-align: middle;
    color: #808080;
}

.cart-page .total p{
    font-size: 1.2em;
    line-height: 20px;
    padding: 0 0;
}
.cart-page .total .final-calculated-value {
    font-size: 1.6em;
}
.cart-page .btn-size {
    width:35px;
    height:35px;
    float:left;
    text-align:center;
    margin:3px;
    border-radius:30px;
}
.cart-page .sel-size, .cart-page .sel-qty, .cart-page .ps-size-wrapper {
    display:none;
    }
.cart-page .prod-item .action .link-btn,.coupon-app-info {
    color:#4490A5;
}
.cart-page .amount{
    font-size:1.2em;
    height: 14px;
}
.cart-page .discount{
    font-size:1.2em;
    height: 14px;
}

.cart-page .couponApplicability {
    color:#808080;
    font-size:1.2em;
}

.cart-context-msg.hide {
    display:none;
}
.cart-context-msg.show {
    display:inline-block;
    width: 100%;
}
.cart-page .cart-recommend-block{
    margin-top:30px;
}
.cart-page .coupon-msg {
    font-size: 1.2em;
    margin: 0 auto;
    text-align: center;
    text-transform: none;
    width:100%;
    line-height: 5px;
}

.cart-page .stock-err {
    display: inline-block;
    font-size: 1em;
    margin-left: 8px;
    padding: 0;
    text-align: left;
    vertical-align: middle;
}
.cart-page .gift-wrapper {
    width:100%;
    position:relative;
    top:0;
    left:0;
    border-bottom:1px solid #d6d6d6;
    padding:6px 0 7px;
}
.cart-page .shipping-item {
    margin-left: 10px;
    position: absolute;
    width: 125px;
    border-bottom-style:none;
}
.shipping-advice-msg {
    line-height: 18px;
    font-size: 1.2em;
    text-align:left;
}
#verify-mobile {
    padding: 0px 10px;
    margin: 10px;
}
.gift-line-wrapper  {
    display:inline-block;
    vertical-align:bottom;
    line-height: 10px;
}
.cart-page .prod-name {
    margin-bottom:10px;    
    margin-top:3px;
}
.cart-page .inline {
    display:inline-block;
    vertical-align: middle;
}
.cart-page .mk-edit {
    background: url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png") no-repeat scroll -319px -20px transparent;
    display: inline-block;
    height: 32px;
    margin: 4px -5px 4px 0;
    vertical-align: top;
    width: 32px;
}
.cart-page .mk-edit:active{
    background-color:#f2f2f2;
}
.cart-page .tabbed-header{
    width:100%;
    height:30px;
    border-bottom: 1px solid #D6D6D6;
}
.cart-page .header-tab-wrapper {
    margin: 0 10px;
    padding: 0;
    position: relative;
    background:#f3f3f3;
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3),
        to(#d5d5d5) ); /* for webkit browsers */
    /* @alternate */
    background: -moz-linear-gradient(top, #f3f3f3, #d5d5d5); /* for firefox 3.6+ */
        /* @alternate */
    background: -o-linear-gradient(90deg, #f3f3f3, #d5d5d5);/* opera */
    height:30px;
    border-top-style: none;
    }
.cart-page .shoppping-bag-header {
    border-right:1px solid #d6d6d6;
    position: absolute;
    left: 0;
    border-top-style: none;
}
.cart-page .wishlist-header {
    margin-bottom: 0px;
    position: absolute;
    left: 50%;
    }
.cart-page .bag-slider-wrapper {
    width:200%;
    margin-top: 1px;
    text-align: left;
    position:relative;
}
.cart-page .bag-wrapper, .cart-page .wishlist-wrapper{
    float:left;
    text-align: center;
    width: 50%;
}
.cart-page .bag-slider-wrapper{
    transition: all .4s linear;
    -o-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
}
.cart-page .bag-slider-wrapper.wishlist-active{
     transform: translate(-50%,0);
    -ms-transform: translate(-50%,0); /* IE 9 */
    -webkit-transform: translate(-50%,0); /* Safari and Chrome */
    -o-transform: translate(-50%,0); /* Opera */
    -moz-transform: translate(-50%,0); /* Firefox */
}
.wishlist-wrapper.allReadyWishList {
	margin-left:50%;
}
.cart-page .selected-tab {
    border:1px solid #d6d6d6;
    border-bottom-style:none;
    background:#ffffff;
    }
.cart-page .apply-coupons-link {
    text-decoration:none;
    }
label.custom-checkbox {
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat 0px -36px;
    display: inline-block;
    height: 28px;
    width: 26px;
    margin: 0 2px;
    vertical-align: top;
    padding:0;
    }
label.custom-checkbox.checked {
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -28px -36px;
    display: inline-block;
    height: 28px;
    width: 26px;
    margin: -1px 0;
    vertical-align: top;
    padding:0;
    }
.m-header-center {
    border-bottom:0px;
    border-bottom-style:none;
}
.combo-header-main{
    text-transform: capitalize;
}

.supplier-details {
    color: #808080;
}