.secure .tick-large-icon {
    background: url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png") repeat scroll 0px -68px transparent;
}

.tick-large-icon {
    width: 16px;
    height: 18px;
    display: inline-block;
    background: url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png") repeat scroll 0px -68px transparent;
    position: relative;
    top: -3px;
    left: -3px;
}

.secure .tick-small-icon {
    background: url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png") repeat scroll 0px -68px transparent;
}

.tick-small-icon {
    background: url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png") repeat scroll 0px -68px transparent;
    display: inline-block;
    width: 22px;
    height: 20px;
    left: 0;
    position: relative;
    top: 4px;

}

.secure .wrong-large-icon {
    background: url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png") repeat scroll -63px -68px transparent;
}

.wrong-large-icon {
    width: 16px;
    height: 18px;
    display: inline-block;
    background: url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png") repeat scroll -63px -68px transparent;
    position: relative;
    top: -3px;
    left: -3px;
}
.checkout .main-content {
   
    font-size: 14px;
}
.main-content h2 {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
}
.checkout .error {
    color:#D14747;
}

.checkout .page-action {
    padding:15px 0;
    
}

.checkout .order-summary {
    width:270px;
    padding:0px;
    margin-top: 10px;
    color:#333;
    font-size: 14px;
    text-align:center;
    margin:auto;
}
.order-summary h2 {
    font-size: 14px;
    padding-top:3px;
    text-align:center
}
.order-summary .lbl {
    color:#808080;
}
.checkout .order-summary .sep {
    color:#b5b5b5;
    padding:0 5px;
}
.checkout .order-summary .total-amount {
    padding:5px 0px 10px;
    border-bottom:1px solid #d6d6d6;
    font-size: 20px;
    line-height: 28px;
}

.checkout .order-summary .couponApplicability {
    color:#808080;
    font-size: 10px;
}

.order-summary .total-items {
    font-size: 14px;
    border-bottom: 1px solid #d6d6d6;
    text-align:center
}
.checkout .order-summary .shipping-address {
    padding:15px 0;
    border-bottom:1px solid #d6d6d6;
}
.checkout .order-summary .shipping-address address {
    font: 12px/18px arial;
    display:block;
    text-transform:none;
    font-style:none;
    font-weight:normal;
    margin-top: 10px;
}
.checkout .order-summary .shipping-address address strong {
    color:#000;
    font-weight: bold;
}

.checkout .order-summary .discount {
    display: inline-block;
    line-height: 20px;
    height: 20px;
}

.checkout .order-summary .amount li {
    margin:10px 0;
}
.checkout .order-summary .grand-total {
    font-size:20px;
}

.checkout .order-summary .amount li .discount {
    /* TODO: remove color, add class 'red' */
    color: #d14747;
    text-transform: none;
}

.checkout .order-summary .action {
    display: inline-block;
    *display: inline;
}

.checkout .order-summary .grand-total .you-pay {
    padding-top: 5px;
    line-height: 28px;
}

/*mobile verification overlay for cod*/
#splash-mobile-verify {
    font: 13px din-med,Arial,Sans-Serif;
    text-transform: none;
}

.mob-action-section{
    margin: 10px auto;    
}

.mob-description-section{
    margin: 5px;
}

.mob-info-section{
    margin: 20px auto;
    width: 600px;
}

.mob-info{
    font: 13px Arial,Sans-Serif;
}

.error{
    color: #D14747;
    font-size: 13px;
}

.success{
    color: #333333;
    font-size: 13px;
}

.mob-row{
    margin: 10px auto;
    width: 300px;
    text-align: center;
}

.mob-row label{
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
}

.mob-row input[type="text"]{
    padding: 3px;
}

.mob-resend{
    display: inline-block;
}

#splash-mobile-verify .note{
    text-transform: uppercase;
}
.mk-checkout-hd{
    border-bottom: 1px solid #D5D5D5;
    width: 95%;
    margin: auto;
}
/*mobile verification overlay for cod*/
/* START secure-order-summary template*/
.order-summary .prod-set{
    width:100%;
}
.order-summary .prod-set{
    width:100%;
    overflow-x: hidden;
}
.order-summary .prod-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 0 0 27px;
    width: 100%;
}
.order-summary .prod-item .mk-freesize {
    font-size: 10px;
    height: 14px;
    line-height: 14px;
}
.order-summary .row {
    border-bottom: 1px solid #D6D6D6;
    height: 70px;
    padding: 2px 3px;
    position: relative;
}   
.order-summary .row.first {
    border-top: 1px solid #d6d6d6;
}
.order-summary .row:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
}
.order-summary .col1 {
    width: 60%;
    color: #808080;
    float: left;
    text-align: left;
}
.order-summary .col2 {
    width: 35%;
    float: right;
    text-align: right;
    padding-right: 5px;
    text-transform:none;
}
.col2.confirmation {    
    float:left;
    text-align:left;
    width:60%;
}
.col3.confirmation {
    float:right;
    text-align:right;
    width:35%;
}
.order-summary .prod-name {
    margin-bottom:3px;  
    line-height: 14px;  
    margin-top:3px; 
}
.order-summary .prod-name a {
    font-size: 12px;
    line-height:1em;
    color: #808080;
    text-decoration: none;
    text-transform:uppercase;
}
.order-summary .prod-name a:hover {
    text-decoration: underline;
}
.order-summary .size-qty-wrap{
    font-size: 12px;
}
.order-summary .black{
    color:#333333;
}
.checkout .order-summary .amount {
    line-height: 15px;
    font-size: 12px;
    margin-top: 3px;
}
.order-summary .total{
    width: 100%;
    text-align:right;
}
.order-summary .total .mrp-total {
    color: #999;
    padding-right: 10px;
}
.order-summary .total p{
    font-size: 12px;
    line-height: 20px;
    padding: 0 0;
}
.order-summary .total .final-calculated-value {
    font-size: 16px;
}
.order-summary .rupees {
    text-transform:none;
    color:#333333;
}
.order-summary .green {
    color: green;
}
.order-summary .discount{
    font-size:10px;
    height: 14px;
}
.order-summary .gray {
    color: #808080;
}
/* END secure-order-summary template*/
