@media only screen and (min-width: 767px) {
.summary-pull-down{
    display:none
}
.top-menu{
    display: inline-block!important;
    float: right;
}
}

@media only screen and (min-width:480px) and (max-width:766px){
    
.summary-pull-down{
     display:inline-block;
}
.top-menu{
    display:none;
}
}

@media only screen and (min-width:1px) and (max-width:479px) {
    .top-menu{
            display:none;
    }  
    .summary-pull-down{
            display:inline-block;
            border-bottom: 3px solid #C6C6C6;
    }

    .loading{
        background: url('http://myntra.myntassets.com/skinmobile/images/loader_150x200.gif') no-repeat 75px -83px transparent;
        display: block;
        height:30px;
    }
    .steps li{
        height: 38px;
        font-size:9px;
    }
    .steps{
        height:38px;
    }
    .steps .selected{
        height:40px;
    }
    .checkout-tab{
        padding : 0px 15px;
        
    }    
    .checkout-tab-num{
         margin:5px;
    }
    .checkout-promise{
        bottom:41px;
        font-size:9px;
    }
    
    .mk-logo img{
        height:30px;
        width:auto;
    }
    .mk-checkout-header .mk-logo{
        margin-top:10px;
    }
    ul.ui-autocomplete {
        width: 280px !important;
        /*
        top: 32px !important;
        left: 0px !important;
        */
    }
}

@media only screen and (min-width:480px) {
    .loading{
        background: url('http://myntra.myntassets.com/skinmobile/images/loader_150x200.gif') no-repeat 140px -83px transparent;
        display: block;
        height:30px;
    }
    .steps li{
        height: 55px;
    }
    .steps{
        height:55px;
    }
    .steps .selected{
        height:57px;
    }
    .checkout-tab{
        padding : 0px 30px;
        
    }    
    .checkout-tab-num{
         margin:10px;
    }
    .checkout-promise{
        bottom:52px;
    }
    .mk-checkout-header .mk-logo{
        margin-top:7px;
        
    }
    ul.ui-autocomplete {
        width: 280px !important;
        top: 32px !important;
        left: 0px !important;
    }
    
}
