/*
 * Base properties
-------------------------------------------------------------- */
body {
    text-transform: uppercase;
    font-size: 12px;
    font-family: "din-med", Droid Sans, Helvetica Narrow, Arial, Sans Serif;
    color: #333;
    margin: 0px;
    width: 100%;
    height: 100%;
    min-width: 320px;
    line-height: 1.4;
    left: 0;
}

select {
    height:35px;
    }

/* Non-specific global properies */
.m-body {
    width: 100%;
    left: 0;
    position: absolute;
    overflow:hidden;
}

.mk-page-container {
    position: relative;
    margin: 0px auto;
}

.mk-wrapper {
    margin: 0 auto;
}

.m-border {
    border: none;
}

.hide {
    display: none;
}
.blue-text {
    color: #4490A7 !important;
     text-transform: none;
}
.grey-text {
    color: #A4A4A4 !important;
     text-transform: none;
}
.orange-text{
    color:#F7931E;
}
.red {
    color: #D14747;
}
.green {
    color: green;
}
.grey {
    color: grey;
}

.strike {
    text-decoration: line-through;
}

.mk-overflow-hidden {
    overflow: hidden;
    height: 100%;
}

.mk-overflow-visible {
    overflow: visible;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative
}

.position-fixed {
    position: fixed;
}

.line-space {
    height: 10px;
}

/** Page/Component specific properties **/

/* Header */
.menu-icon {
    background:
        url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png')
        no-repeat 0px 0px transparent;
    display: inline-block;
    width: 35px;
    height: 35px;
}

.menu-icon.selected {
    background:
        url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png')
        no-repeat -40px 0px transparent;
}

.m-cart-icon {
    background:
        url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png')
        no-repeat -80px 0px transparent;
    width: 35px;
    text-align: center;
    height: 25px;
    color: #D14747;
    position: absolute;
    padding-top: 10px;
    right: 0px;
    top: 0;
}

.m-slide-menu {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 10;
    cursor: pointer;
}

.m-myntra-icon{
    line-height: 41px;
    display: block;
}
.m-myntra-icon img {
    height: 35px;
    width: 140px;
}

/* Home Page */
.m-home-menu {
    padding: 10px 0px;
}

.m-home-menu-item .mk-level1-arrownav {
    margin: 3px 3px 0 0;
}

.m-static-banner a img {
    margin: 0px;
    width: 140px;
    height: 70px;
    margin-top: 7px;
    float: left;
    margin-right: 7px;
}

.m-home-menu-list {
    margin: 10px 0px 10px 0px;
}

.m-home-menu-list-side-nav {
    margin: 10px 0px 10px 0px;
}

.m-home-menu-list-side-nav {
    margin: 5px 0px 5px 0px;
}

.m-home-menu-list-side-nav li {
    border-top: 1px white solid;
}

.m-home-menu-list-side-nav a {
    text-decoration: none;
    color: white;
}

.m-home-menu-item-list {
    border-bottom: 2px solid #d6d6d6;
}

.m-home-menu-item {
    border-top: 2px solid #d6d6d6;
    padding: 0.5em;
    font-size: 12px;
    line-height: 16px;
}

.m-home-menu-list a {
    text-decoration: none;
    color: #333;
}
/* Done to hide the extra pagination from slide show*/
.centered-btns2_tabs {
    display: none;
}

.m-menu-notification {
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #D14747;
    color: white;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}

.m-menu-notification-cart-total {
    margin-right: 5px;
}

/* Slideshow */
.mk-slideshow-wrapper {
    color: #333;
    font: 14px/24px sans-serif;
    margin: auto;
    max-width: 750px;
    padding-bottom:5px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    z-index: 1;
    overflow: hidden;
        position: relative;
}

.mk-pagination {
    text-align: center;
}

.mk-pagination a {
    background:
        url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png')
        -181px 0px no-repeat transparent;
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0;
    display: inline-block;
}

.mk-pagination a.selected {
    background-position: -181px -16px;
    cursor: default;
}

.mk-pagination a span {
    display: none;
}

.mk-slideshow img {
    width: 100%;
    height: 100%
}

.mk-slideshow li {
    float: left;
    position: relative;
}
.mk-slideshow li a {
    display:inline-block;
    width:100%;
    height:100%;
    z-index:100;
}

.m-three.m-two a img {
    float: left;
    margin-right: 0px;
}

.prev-icon,.next-icon {
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -122px 0px transparent;
    display: inline-block;
    width: 20px;
    height: 35px;
    position: absolute;
    top: 50%;
    margin-top: 0;
    cursor: pointer;
    z-index: 101;
}

.prev-icon {
    left: 0;
}

.mk-recent-viewed .prev-icon,.mk-recent-viewed .next-icon {
    position: absolute;
}

.mk-recent-viewed .prev-icon {
    left: 0;
}

.mk-recent-viewed .next-icon {
    left: auto;
    right: 0;
}

.next-icon {
    background-position: -152px 0px;
    right: 0;
}

.prev-icon.small,.next-icon.small,.size-scrollable .flex-direction-nav .flex-prev, .size-scrollable .flex-direction-nav .flex-next {
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -192px 6px transparent;
    display: inline-block;
    width: 8px;
    height: 14px;
    margin-top: 0px;
    padding:4px;
}

.next-icon.small, .size-scrollable .flex-direction-nav .flex-next {
    background-position: -205px 6px;
}

/* Recently viewed */
.mk-recent-viewed {
    font-family: din-med, Arial, Sans Serif;
    margin: auto;
    padding: 15px 20px 0;
    position: relative;
}

.mk-recent-viewed h4 {
    width: 100%;
    overflow: hidden;
}

.mk-carousel .red-text {
    color: #D14747;
    font-size: 12px;
}

.mk-carousel .price-text {
    font-size: 10px;
    text-transform: none;
}

.mk-carousel .size-options {
    color: grey;
    padding: 10px;
}

.rs-carousel-item {
    float: left;
    position: relative;
    text-align: center;
}

.rs-carousel-item img {
    width: 125px;
}

.rs-carousel-item .brand-text {
    color: black;
}

.btn {
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    background:#F2F2F2;
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2),
        to(#D6D6D6) ); /* for webkit browsers */
    /* @alternate */
    background: -moz-linear-gradient(top, #F2F2F2, #D6D6D6); /* for firefox 3.6 */
        /* @alternate */
    background: -o-linear-gradient(90deg, #F2F2F2, #D6D6D6);/* opera */
    padding: 0;
}
.btn-transparent{
    background: transparent;
    border: none;
}

.notify-button.btn {
    padding: 0 10px;
}

.mk-fit-mobile {
    width: 360px;
    height: 520px;
}

.mk-fit-mobile img {
    width: 100%;
    height: 100%;
}

#sizechart-old,#sizechart-new {
    text-decoration: none;
}

.mk-size-guides {
    margin-bottom: 10px;
    color: #4b90a5;
}

.mk-size-guides a {
    color: #4b90a5;
    cursor: pointer;
}

.m-product-reco {
    text-align: center;
}
input[type="text"],input[type="mobile"],input[type="email"],input[type="password"],input[type="number"],input[type="tel"],textarea,select {
    border: 1px solid #D6D6D6;
    border-radius: 2px;
    box-shadow: 0 0px 2px #d6d6d6 inset;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    text-transform: none;
    z-index: 100;
    font: 13px/19px arial, sans-serif;

    height: 16px;
    vertical-align: bottom;
}
input:-o-placeholder, textarea:-o-placeholder {
    color: #B5B5B5;
    font-size: 12px;
    vertical-align: bottom;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #B5B5B5;
    font-size: 12px;
    vertical-align: bottom;
}

input:placeholder, textarea:placeholder {
    color: #B5B5B5;
    font-size: 12px;
    vertical-align: bottom;
}

input:-webkit-placeholder, textarea:-webkit-placeholder{
    color: #B5B5B5;
    font-size: 12px;
    vertical-align: bottom;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus,input[type="number"]:focus,input[type="tel"]:focus,textarea:focus,select:focus {
    border: 1px solid #999;
    box-shadow: 0 -0 1px 2px #EAEAEA;
    outline: none;
}

input[type="text"][disabled],input[type="email"][disabled],input[type="password"][disabled],input[type="number"][disabled],input[type="tel"][disabled],select[disabled] {
    background: #e6e6e6;
    color: gray;
}
.err {
    text-align: left;
    font-size: 10px;
    color: #d14747;
    text-transform: uppercase;
    font-family: din-med, arial, sans-serif;
}

.error {
    font-size: 12px;
    color: #d14747;
}

.success {
    font-size: 12px;
    color: #00b060;
}

input {
    -webkit-user-modify: read-write-plaintext-only;
    -webkit-tap-highlight-color: #3072af;
}

.search-overlay {
    width: 100% !important;
    height: 100%;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1005;
}

.search-overlay .search-header {
    width: 100%;
    height: 33px;
    vertical-align: center;
    text-align: left;
    padding: 5px 0px;
    position: relative;
}

.search-overlay .search-results-body {
    height: 100%;
    margin: 0 10px;
    position: relative;
    right: 10px;
    top: 0;
}

.search-overlay.navlink {
    background: #333333;
    color: #ffffff;
}

.search-overlay.headerlink {
    background: #ffffff;
    color: #333333;
}

.search-overlay.navlink input {
    color: #B5B5B5;
    text-transform: uppercase;
}

.search-overlay.headerlink input {
    color: #B5B5B5;
    text-transform: uppercase;
}

.search-overlay .search-form-container {
    margin-left: 0;
    margin-right: 95px;
    min-width: 225px;
}

.search-overlay .mk-search-form {
    margin: 0 40px 0 25px;
}

.search-form-container .input-wrapper {
    width: 100%;
    border-radius: 5px;
    border-style: none;
    border: 1px solid #B5B5B5;
    background: transparent;
    text-align: center;
    height: 30px;
    margin-left: 10px;
}

.search-form-container input {
    width: 100%;
    border-style: none;
    box-shadow: none;
    background: transparent;
}

.search-form-container input:focus {
    box-shadow: none;
    border-style: none;
}

.search-overlay .search-close-container {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #000000;
    font-size: 12px;
    line-height: 30px;
    width: 65px;
    font-family: "din-med", Droid Sans, Helvetica Narrow;
    text-align: center;
    height: 28px;
    border-radius: 15px; /* CSS3 */
}

#nav input.pseudo-search-box {
    width: 195px;
    margin: 1px 10px 11px;
    z-index: 1003;
}

.m-header {
    position: relative;
    margin-bottom: 5px;
    min-height: 45px;
}

.m-header input.pseudo-search-box {
    width: 195px;
    margin: 0px;
}

.m-header .mk-search {
    display: none;
}

.pseudo-search-input {
    border: 1px solid #D6D6D6;
    border-radius: 2px;
    box-shadow: 0 0 2px #999999 inset;
    color: #B5B5B5;
    font-size: 12px;
    width: 98%;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    overflow: hidden;
}

#nav .pseudo-search-input {
    background: white;
    margin: 0 10px 10px;
    width: 205px;
    padding-left:5px;
}

ul.ui-autocomplete {
    position: absolute;
    top: 0px !important;
    left: 10px !important;
    border-style: none;
    width: 90%;
    background: transparent;
    font-size: 12px;
    font-family: din-med, Arial, Sans Serif;
}

.ui-autocomplete li {
    height: 25px;
    line-height: 25px;
    background: transparent;
    border-style: none;
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid #d6d6d6;
}

.ui-autocomplete li:hover {
    background: #f2f2f2;
}

.ui-autocomplete .ui-corner-all,.ui-autocomplete .ui-corner-all span {
    line-height: 30px;
    padding: 0px;
    background: transparent !important;
}

.search-overlay {
    min-width: 320px;
}

.search-overlay.headerlink .ui-autocomplete .ui-corner-all,.search-overlay.headerlink .ui-autocomplete .ui-corner-all span
    {
    color: #808080 !important;
}

.search-overlay.navlink .ui-autocomplete .ui-corner-all,.search-overlay.navlink .ui-autocomplete .ui-corner-all span
    {
    color: #b5b5b5 !important;
}

.search-overlay.headerlink .ui-autocomplete .ui-corner-all span strong {
    color: #000000 !important;
}

.search-overlay.navlink .ui-autocomplete .ui-corner-all span strong {
    color: #ffffff !important;
}

.ui-autocomplete-category {
    line-height: 30px;
    padding: 0px;
    color: #666666;
    font-size: 13px;
    background: transparent !important;
    margin-top: 3px;
}

.search-form-container button {
    position: absolute;
    left: 10px;
    background:
        url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png")
        no-repeat scroll -295px 0 transparent;
    border: 0 none;
    height: 24px;
    margin: 6px 0 0 2px;
    padding: 0;
    width: 24px;
}

.search-form-container .clear-text-btn {
    position: absolute;
    right: 81px;
    background:
        url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png")
        no-repeat scroll -322px 0px transparent;
    border: 0 none;
    height: 24px;
    margin: 5px 6px 0 0;
    padding: 0;
    width: 24px;
}

element.style {
    display: none;
    left: 37px;
    top: -7px;
    width: 1248px;
    z-index: 1002;
}

ul.ui-autocomplete {
    background: none repeat scroll 0 0 transparent;
    border-style: none;
    font-family: din-med, Arial, Sans Serif;
    font-size: 12px;
    left: 10px !important;
    position: absolute;
    top: 0 !important;
    width: 90%;
}

.ui-autocomplete {
    background: none repeat scroll 0 0 #FFFFFF;
}

ul.ui-menu {
    box-shadow: none !important;
    width: 100% !important;
}

ul .ui-menu-item .ui-corner-all {
    margin-right: 20px;
}

li.ui-menu-item:after {
    
}

li.ui-menu-item span.mk-autocomplete-result {
    position:absolute;
    width:100%;
    }

li.ui-menu-item a:before {
    background:
        url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png")
        no-repeat scroll -208px -15px transparent;
    color: white;
    content: "";
    float: right;
    height: 10px;
    margin-right: -20px;
    margin-top: 9px;
    width: 6px;
}

.mk-buy-div {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* debug panel */
#mk-debug {
    position: fixed;
    width: 100%;
    height: 1em;
    bottom: 0px;
    background-color: #A5A5A5;
    z-index: 999999;
}

.btn-orange {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 28px;
    background: #F7931E; /* for non-css3 browsers */
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#F2A64D),
        to(#F7931E) ); /* for webkit browsers */
        /* @alternate */
    background: -webkit-linear-gradient(#F2A64D, #F7931E) repeat scroll 0 0 #F7931E;
    /* @alternate */
    background: -moz-linear-gradient(top, #F2A64D, #F7931E);
    /* for firefox 3.6 */
    /* @alternate */
    background: -o-linear-gradient(90deg, #F2A64D, #F7931E);
    border: 1px solid #F7931E;
    margin: 0 0 6px 0px;
    padding-left: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

 .btn-orange-noplay {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 28px;
    background: #F7931E; /* for non-css3 browsers */
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#F2A64D),
        to(#F7931E) ); /* for webkit browsers */
    /* @alternate */
    background: -webkit-linear-gradient(#F2A64D, #F7931E) repeat scroll 0 0 #F7931E;
    /* @alternate */
    background: -moz-linear-gradient(top, #F2A64D, #F7931E);
    /* for firefox 3.6 */
    /* @alternate */
    background: -o-linear-gradient(90deg, #F2A64D, #F7931E);
    border: 1px solid #F7931E;
    margin: 0 0 6px 0px;
    padding-left: 0px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-orange:active {
    background: #F2A64D; /* for non-css3 browsers */
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#F7931E),
        to(#F2A64D) ); /* for webkit browsers */
    /* @alternate */
    background: -webkit-linear-gradient(#F7931E, #F2A64D) repeat scroll 0 0 #F2A64D;
    /* @alternate */
    background: -moz-linear-gradient(top, #F7931E, #F2A64D);
    /* for firefox 3.6 */
    /* @alternate */
    background: -o-linear-gradient(90deg, #F7931E, #F2A64D);
}
.btn-onesize {
    background: none repeat scroll 0 0 #666666;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 28px;
    margin: 0 auto 5px;
    width: 60px;
}
.btn-grey {
    color: #000000;
    font-size: 12px;
    line-height: 28px;
    background: #D6D6D6; /* for non-css3 browsers */
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2),
        to(#D6D6D6) ); /* for webkit browsers */
    /* @alternate */
    background: -webkit-linear-gradient(#F2F2F2, #D6D6D6) repeat scroll 0 0 #D6D6D6;
    /* @alternate */
    background: -moz-linear-gradient(top, #F2F2F2, #D6D6D6);
    /* for firefox 3.6 */
    border: 1px solid #D6D6D6;
        /* @alternate */
    background: -o-linear-gradient(90deg, #F2F2F2, #D6D6D6);
    text-shadow: 1px 1px 2px rgba(254, 254, 254, 0.5);
}

.btn-grey:active {
    background: #d7d7d7; /* for non-css3 browsers */
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#d7d7d7),
        to(#ececec) ); /* for webkit browsers */
    /* @alternate */
    background: -webkit-linear-gradient(#d7d7d7, #ececec) repeat scroll 0 0 #ececec;
    /* @alternate */
    background: -moz-linear-gradient(top, #d7d7d7, #ececec);
    /* for firefox 3.6 */
    /* @alternate */
    background: -o-linear-gradient(90deg, #d7d7d7, #ececec);
}

.ico-login-small {
    background-image:
        url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png");
    background-position: -348px 4px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 24px;
    margin-right: 2px;
    vertical-align: middle;
    width: 24px;
}

.cart-link {
    float: right;
    width: 35px;
}

.myntra-icon-wrapper {
    position: absolute;
    width: 100%;
    height: 41px;
    text-align: center;
    top: 6px;
    left: 0;
    padding-bottom: 3px;
    border-bottom: 2px solid #D6D6D6;
}

.m-header-left{
    position:absolute;
    left:0;
    z-index: 2;
}

.m-myntra-icon {
    width: 140px;
    height: 35px;
    z-index: 1;
    padding-bottom: 9px;
    display: block;
    margin: 0 auto;
}

.m-header-center{
    position:absolute;
    z-index: 1;
    width:100%;
    text-align: center;
    border-bottom: 1px solid #D6D6D6;
}

.m-header-right{
    position:absolute;
    right:0;
    z-index: 2;
}

.m-header .btn-login {
    padding-top: 9px;
}

.ajax-success , .icon-success{
    background: url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png") no-repeat scroll 2px -67px transparent;
    display: inline-block;
    height: 22px;
    margin-right: 5px;
    vertical-align: middle;
    width: 22px;
}   

.icon-alert{
    background: url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png") no-repeat scroll -20px -67px transparent;
    display: inline-block;
    height: 22px;
    margin-right: 5px;
    vertical-align: middle;
    width: 22px;
}

.icon-error{
    background: url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v9.png") no-repeat scroll -60px -67px transparent;
    display: inline-block;
    height: 22px;
    margin-right: 5px;
    vertical-align: middle;
    width: 22px;
}
.myntra-tooltip {
    display:none;   
}
/* tab content start here */
.tabbed-header{
    width:100%;
    height:30px;
    border-bottom: 1px solid #D6D6D6;
    position:relative;
}
.header-tab-wrapper {
    margin: 0 40px;
    padding: 0;
    position: relative;
    background:#f3f3f3;
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3),
        to(#d5d5d5) ); /* for webkit browsers */
    /* @alternate */
    background: -moz-linear-gradient(top, #f3f3f3, #d5d5d5); /* for firefox 3.6+ */
        /* @alternate */
    background: -o-linear-gradient(90deg, #f3f3f3, #d5d5d5);/* opera */
    height:30px;
    border-top-style: none;
    }
.shoppping-bag-header, .login-header {
    border-right:1px solid #d6d6d6;
    position: absolute;
    left: 0;
    border-top-style: none;
}
.wishlist-header, .register-header {
    margin-bottom: 0px;
    position: absolute;
    left: 50%;
    }
.bag-slider-wrapper, .login-content-slider {
    width:200%;
    margin-top: 1px;
    text-align: left;
    position:relative;
}
.bag-wrapper, .wishlist-wrapper, .login-panel, .register-panel{
    float:left;
    text-align: center;
    width: 49%;
}
.bag-slider-wrapper, .login-content-slider{
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}
.bag-slider-wrapper.wishlist-active, .login-content-slider.register-active{
     transform: translate(-50%,0);
    -ms-transform: translate(-50%,0); /* IE 9 */
    -webkit-transform: translate(-50%,0); /* Safari and Chrome */
    -o-transform: translate(-50%,0); /* Opera */
    -moz-transform: translate(-50%,0); /* Firefox */
}
.header-tab-wrapper .selected-tab {
    border:1px solid #d6d6d6;
    border-bottom-style:none;
    background:#ffffff;
}
.main-login-page h2 {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 50%;
}
.main-slide-wrapper.login-register {
    margin-top:20px;	
}

/*tab content end here */

.mk-recent-viewed {
    margin: 0 auto 30px;
}
.mk-recent-viewed .flex-control-nav {
    bottom: -30px;
}
.flexslider .slides > li img {
    width:100%;
}
.flexslider .slides > li p {
    text-align:center;
}
.mk-slideshow-wrapper .flex-prev{
	left:0px !important;
	display:none;
}
.mk-slideshow-wrapper .flex-next{
	right:0px !important;
	display:none;
}
.mk-slideshow-wrapper .flex-prev, .mk-slideshow-wrapper .flex-next{
	display:none !important;
}
.mk-slideshow-wrapper .flex-control-nav {
    bottom: -29px !important;
}
.mk-recent-viewed li p, .m-product-reco .product-info p{
	text-align:center !important;
}

/* mobile ad banners style - used in m-ads.tpl */
#m-ad-cnt {
    margin-bottom: 5pt;
    font-family: Helvetica-Neue, Arial, sans-serif;
}

#m-ad-cnt .mobile-ad-home-wrapper {
    margin: 12px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: -4px;
    font-family: 'din-med', 'Droid Sans', 'Helvetica Narrow', Arial, 'Sans Serif';
}

#m-ad-cnt .mobile-ad-home-margin {
    margin-left: 14pt;

}

#m-ad-cnt .banner {
    margin: 0;
    padding: 5pt;
    overflow: hidden;
    background-color: #eeeeee;
    font-size: 9pt;
    border-bottom: 1pt solid #D6D6D6;
    border-top: 1pt solid #ffffff;
    text-transform: none;
    position: relative;
    min-height: 20pt;
}

#m-ad-cnt .mobile-ad {
    display: table;
}

@media only screen and (min-width:321px) {
    #m-ad-cnt .mobile-ad {
       width:97%;
    }
}

#m-ad-cnt .left-section {
    display: table-cell;
}

#m-ad-cnt .right-section {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 70pt;
    border-left: 1px solid lightgray;
    padding-left: 7px;
}

#m-ad-cnt .mobile-ad-title {
    /*font-weight: bold;*/
    font-size: 9pt;
    text-transform: uppercase;
    font-family: 'din-med', 'Droid Sans', 'Helvetica Narrow', Arial, 'Sans Serif';
}

#m-ad-cnt .mobile-ad-coupon {
    /*border: 1px dotted #D6D6D6;*/
    color: #000000;
    text-align: center;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 3pt;
    font-family: Arial, Helvetica-Neue;
    font-size: 8pt;
}

#m-ad-cnt .mobile-ad-button {
    background-color: #687071;
    color: white;
    padding: 3pt;
    font-size: 8pt;
    line-height: 1.1;
    font-family: Helvetica-Neue, Arial, sans-serif;
}

#m-ad-cnt .mobile-ad-coupon-text {
    font-size: 8pt;
    font-family: Helvetica-Neue, Arial, sans-serif;
    color: gray;
}

#m-ad-cnt a:active .promo_button {
    background-color: #a9a9a9;
    color: white;
}

#m-ad-cnt .mobile-ad-description {
    color: gray;
    font-weight: normal;
    margin-right: 5px;
}

#m-ad-cnt .banner-cnt a:active {
    text-decoration: none;
}

#m-ad-cnt .bookmark-icon {
    width: 0;
    height: 0;
    border-left: 5pt solid #E06870;
    border-right: 5pt solid #E06870;
    border-top: 12pt solid #E06870;
    border-bottom: 3pt solid #eeeeee;
    position: absolute;
    top: 0pt;
    left: 5pt;
}

/* end - mobile ad banners style */
