/*start: pull down summary*/
.summary-pull-down{
        display: inline-block;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 14px;
        border-top: none;
        border-left:none;
        border-right:none;
        background-color:#f2f2f2;
        border-bottom: 1px solid #C6C6C6;


}
.pull-down-marker{
    width: 20px;
    height: 12px;
    background: url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -230px -35px transparent;
    margin: auto

}
.summary-pull-down-wrapper{
        text-align: center;
}
.top-menu{
        display: none;
        margin: auto;
        width: 270px;
        background-color: #f2f2f2;
        padding: 0 10px 10px;
}

/*end: pull  down summary*/

.hide{
    display:none;
}
.mk-checkout-header{
     min-width: 290px;   
}
.clear{
    clear:both;
}
.mk-checkout-header-border{
    border:1px #d6d6d6 solid;
}
.steps li {
        display: inline-block;
        
    }
    .checkout-tab {
        border-bottom: none;
        border-top: none;
        background-color:#f6f6f6;
    }
    
    .steps{
        position:relative;
        text-align: center;
        border-top : 1px #d6d6d6 solid;
    }
    
    .steps .selected{
        border-left : 1px #d6d6d6 solid;
        background-color:#fff;
        border-right: 1px #d6d6d6 solid;
    }
    .steps .selected_num{
        background-color: #000000;
        color: #ffffff;
    }
    .checkout-tab{
        border-bottom:none;
        border-top:none;
    }
    .checkout-tab-num{
        padding: 1px 6px;
        border-radius:9px;
        -moz-border-radius: 9px;
        -webkit-border-radius: 9px;
        background-color: #A5A5A5;
        display:inline-block;
        color : white;
        font-size:11px;
    }
        

.grey-text{
    color: #969696;
}
.completed_tab .checkout-tab-num{
    padding: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color:#d6d6d6;
    display: inline-block;
    height:17px;
}
.mk-checkout-header .mk-logo{
    float:left;
}
.customer-promises{
    padding-top: 5px;
    float:right;
}
.customer-promises div{
    text-align:right;
}
.checkout-promise{
    float:right;
    position:relative;
 }
.checkout-promise .lock-icon{
    position:relative;
    top:7px;
}
.lock-icon{
    background: url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -471px 6px transparent;
    display: inline-block;
    width: 26px;
    height: 29px;
}
.tick{
    background: url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png') no-repeat 0px -67px transparent;
    display: inline-block;
    width: 17px;
    height: 17px;
}
.completed_num{
    padding:0;
    background-color:none;
}

.blue-text{
    color : #4490a7 !important;
}

ul.ui-autocomplete{
    background-color:#ffffff;
}

/* common */

/*
 * Base properties
-------------------------------------------------------------- */
body {
    text-transform: uppercase;
    font-size: 12px;
    font-family: "din-med", Droid Sans, Helvetica Narrow, Arial, Sans Serif;
    color: #333;
    margin: 0px;
    width: 100%;
    height: 100%;
    min-width: 320px;
    line-height: 1.4;
    left: 0;
    overflow-x: hidden;
}

/* Non-specific global properies */
.m-body {
    width: 100%;
    height: 100%;
    left: 0;
    position: relative;
}

.mk-page-container {
    position: relative;
    margin: 0px auto;
}

.mk-wrapper {
    margin: 0 auto;
}

.m-border {
    border: none;
}

.hide {
    display: none;
}

.red {
    color: #D14747;
}

.grey {
    color: grey;
}

.strike {
    text-decoration: line-through;
}

.mk-overflow-hidden {
    overflow: hidden;
    height: 100%;
}

.mk-overflow-visible {
    overflow: visible;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative
}

.position-fixed {
    position: fixed;
}

.line-space {
    height: 10px;
}

/** Page/Component specific properties **/

/* Header */
.menu-icon {
    background:
        url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png')
        no-repeat 0px 0px transparent;
    display: inline-block;
    width: 35px;
    height: 35px;
}

.menu-icon.selected {
    background:
        url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png')
        no-repeat -40px 0px transparent;
}

.m-cart-icon {
    background:
        url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png')
        no-repeat -80px 0px transparent;
    width: 35px;
    text-align: center;
    height: 25px;
    color: #D14747;
    position: absolute;
    padding-top: 10px;
    right: 0px;
    top: 0;
}

.m-slide-menu {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 10;
    cursor: pointer;
}

.m-myntra-icon{
    line-height: 41px;
    display: block;
}
.m-myntra-icon img {
    height: 41px;
    width: 175px;
}

/* Home Page */
.m-home-menu {
    padding: 10px 0px;
}

.m-home-menu-item .mk-level1-arrownav {
    margin: 3px 3px 0 0;
}

.m-static-banner a img {
    margin: 0px;
    width: 140px;
    height: 70px;
    margin-top: 7px;
    float: left;
    margin-right: 7px;
}

.m-home-menu-list {
    margin: 10px 0px 10px 0px;
}

.m-home-menu-list-side-nav {
    margin: 10px 0px 10px 0px;
}

.m-home-menu-list-side-nav {
    margin: 5px 0px 5px 0px;
}

.m-home-menu-list-side-nav li {
    border-top: 1px white solid;
}

.m-home-menu-list-side-nav a {
    text-decoration: none;
    color: white;
}

.m-home-menu-item-list {
    border-bottom: 2px solid #d6d6d6;
}

.m-home-menu-item {
    border-top: 2px solid #d6d6d6;
    padding: 0.5em;
    font-size: 12px;
    line-height: 16px;
}

.m-home-menu-list a {
    text-decoration: none;
    color: #333;
}
/* Done to hide the extra pagination from slide show*/
.centered-btns2_tabs {
    display: none;
}

.m-menu-notification {
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #D14747;
    color: white;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}

.m-menu-notification-cart-total {
    margin-right: 5px;
}

/* Slideshow */
.mk-slideshow-wrapper {
    color: #333;
    font: 14px/24px sans-serif;
    margin: auto;
    max-width: 750px;
    padding-bottom: 30px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    z-index: 1;
    overflow: hidden;
        position: relative;
}

.mk-pagination {
    text-align: center;
}

.mk-pagination a {
    background:
        url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png')
        -181px 0px no-repeat transparent;
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0;
    display: inline-block;
}

.mk-pagination a.selected {
    background-position: -181px -16px;
    cursor: default;
}

.mk-pagination a span {
    display: none;
}

.mk-slideshow img {
    width: 100%;
    height: 100%
}

.mk-slideshow li {
    float: left;
    position: relative;
}

.m-three.m-two a img {
    float: left;
    margin-right: 0px;
}

.prev-icon,.next-icon {
    background: url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -122px 0px transparent;
    display: inline-block;
    width: 20px;
    height: 35px;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    cursor: pointer;
    z-index: 101;
}

.prev-icon {
    left: 0;
}

.mk-recent-viewed .prev-icon,.mk-recent-viewed .next-icon {
    position: absolute;
}

.mk-recent-viewed .prev-icon {
    left: 0;
}

.mk-recent-viewed .next-icon {
    left: auto;
    right: 0;
}

.next-icon {
    background-position: -152px 0px;
    right: 0;
}

.prev-icon.small,.next-icon.small {
    background: url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -195px 0px transparent;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: 0px;
}

.next-icon.small {
    background-position: -205px 0px;
}

/* Recently viewed */
.mk-recent-viewed {
    font-family: din-med, Arial, Sans Serif;
    border-bottom: 1px solid #D6D6D6;
    margin: auto;
    padding: 15px 20px 0;
    position: relative;
}

.mk-recent-viewed h4 {
    width: 100%;
    overflow: hidden;
}

.mk-carousel .red-text {
    color: #D14747;
    font-size: 12px;
}

.mk-carousel .price-text {
    font-size: 10px;
    text-transform: none;
}

.mk-carousel .size-options {
    color: grey;
    padding: 10px;
}

.rs-carousel-item {
    float: left;
    position: relative;
    text-align: center;
}

.rs-carousel-item img {
    width: 125px;
}

.rs-carousel-item .brand-text {
    color: black;
}

.btn {
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2),
        to(#D6D6D6) ); /* for webkit browsers */
    /* @alternate */
    background: -moz-linear-gradient(top, #F2F2F2, #D6D6D6);
    /* for firefox 3.6+ */
    padding: 0;
}

.notify-button.btn {
    padding: 0 10px;
}

.mk-fit-mobile {
    width: 360px;
    height: 520px;
}

.mk-fit-mobile img {
    width: 100%;
    height: 100%;
}

#sizechart-old,#sizechart-new {
    text-decoration: none;
}

.mk-size-guides {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4b90a5;
}

.mk-size-guides a {
    color: #4b90a5;
    cursor: pointer;
}

.m-product-reco {
    text-align: center;
}

input[type="text"],input[type="email"],input[type="password"],input[type="number"],input[type="tel"] {
    height: 16px;
}

input[type="text"],input[type="email"],input[type="password"],input[type="number"],input[type="tel"],textarea,select {
    border: 1px solid #D6D6D6;
    border-radius: 2px;
    box-shadow: 0 0 2px #999999 inset;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    text-transform: none;
    z-index: 100;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
}

input:-o-placeholder, textarea:-o-placeholder {
    color: #B5B5B5;
    font-size: 12px;
    vertical-align: bottom;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #B5B5B5;
    font-size: 12px;
    vertical-align: bottom;
}

input:placeholder, textarea:placeholder {
    color: #B5B5B5;
    font-size: 12px;
    vertical-align: bottom;
}

input:-webkit-placeholder, textarea:-webkit-placeholder{
    color: #B5B5B5;
    font-size: 12px;
    vertical-align: bottom;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus,input[type="number"]:focus,input[type="tel"]:focus,textarea:focus,select:focus {
    border: 1px solid #999;
    box-shadow: 0 -0 1px 2px #EAEAEA;
    outline: none;
}

input[type="text"][disabled],input[type="email"][disabled],input[type="password"][disabled],input[type="number"][disabled],input[type="tel"][disabled],select[disabled] {
    background: #e6e6e6;
    color: gray;
}

input[type="email"],input[type="text"],input[type="number"],input[type="tel"],textarea,select {
    font: 12px/19px arial, sans-serif;
}

input[type="password"] {
    
}

.err {
    text-align: left;
    font-size: 10px;
    color: #d14747;
    text-transform: uppercase;
    font-family: din-med, arial, sans-serif;
}

.error {
    font-size: 12px;
    color: #d14747;
}

.success {
    font-size: 12px;
    color: #00b060;
}

.loginbox .mod {
    width: 100%;
    height: 470px;
    margin: 20px 20px;
    overflow: hidden;
    display: block;
    z-index: 1000;
    margin-top: 60px;
}

input {
    -webkit-user-modify: read-write-plaintext-only;
    -webkit-tap-highlight-color: #3072af;
}

.search-overlay {
    width: 100% !important;
    height: 100%;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1005;
}

.search-overlay .search-header {
    width: 100%;
    height: 33px;
    vertical-align: center;
    text-align: left;
    padding: 5px 0px;
    position: relative;
}

.search-overlay .search-results-body {
    height: 100%;
    margin: 0 10px;
    position: relative;
    right: 10px;
    top: 0;
}

.search-overlay.navlink {
    background: #333333;
    color: #ffffff;
}

.search-overlay.headerlink {
    background: #ffffff;
    color: #333333;
}

.search-overlay.navlink input {
    color: #B5B5B5;
    text-transform: uppercase;
}

.search-overlay.headerlink input {
    color: #B5B5B5;
    text-transform: uppercase;
}

.search-overlay .search-form-container {
    margin-left: 0;
    margin-right: 95px;
    min-width: 225px;
}

.search-overlay .mk-search-form {
    margin: 0 40px 0 25px;
}

.search-form-container .input-wrapper {
    width: 100%;
    border-radius: 5px;
    border-style: none;
    border: 1px solid #B5B5B5;
    background: transparent;
    text-align: center;
    height: 30px;
    margin-left: 10px;
}

.search-form-container input {
    width: 100%;
    border-style: none;
    box-shadow: none;
    background: transparent;
}

.search-form-container input:focus {
    box-shadow: none;
    border-style: none;
}

.search-overlay .search-close-container {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #000000;
    font-size: 12px;
    line-height: 30px;
    width: 65px;
    font-family: "din-med", Droid Sans, Helvetica Narrow;
    text-align: center;
    height: 28px;
    border-radius: 15px; /* CSS3 */
}

#nav input.pseudo-search-box {
    width: 195px;
    margin: 1px 10px 11px;
    z-index: 1003;
}

.m-header {
    position: relative;
    margin-bottom: 10px;
    min-height: 45px;
}

.m-header input.pseudo-search-box {
    width: 195px;
    margin: 0px;
}

.m-header .mk-search {
    display: none;
}

.pseudo-search-input {
    border: 1px solid #D6D6D6;
    border-radius: 2px;
    box-shadow: 0 0 2px #999999 inset;
    color: #B5B5B5;
    font-size: 12px;
    width: 98%;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    overflow: hidden;
}

#nav .pseudo-search-input {
    background: white;
    margin: 0 10px 10px;
    width: 205px;
    padding-left:5px;
}

ul.ui-autocomplete {
    position: absolute;
    top: 0px !important;
    left: 10px !important;
    border-style: none;
    width: 90%;
    background: transparent;
    font-size: 12px;
    font-family: din-med, Arial, Sans Serif;
}

.ui-autocomplete li {
    height: 30px;
    line-height: 30px;
    background: transparent;
    border-style: none;
    padding: 0px;
    border-bottom: 1px solid #666666;
}

.ui-autocomplete li:hover {
    background: #8F8F8F;
}

.ui-autocomplete .ui-corner-all,.ui-autocomplete .ui-corner-all span {
    line-height: 30px;
    padding: 0px;
    background: transparent !important;
}

.search-overlay {
    min-width: 320px;
}

.search-overlay.headerlink .ui-autocomplete .ui-corner-all,.search-overlay.headerlink .ui-autocomplete .ui-corner-all span
    {
    color: #808080 !important;
}

.search-overlay.navlink .ui-autocomplete .ui-corner-all,.search-overlay.navlink .ui-autocomplete .ui-corner-all span
    {
    color: #808080 !important;
}

.search-overlay.headerlink .ui-autocomplete .ui-corner-all span strong {
    color: #000000 !important;
}

.search-overlay.navlink .ui-autocomplete .ui-corner-all span strong {
    color: #ffffff !important;
}

.ui-autocomplete-category {
    line-height: 30px;
    padding: 0px;
    color: #666666;
    font-size: 13px;
    background: transparent !important;
    margin-top: 3px;
}

.search-form-container button {
    position: absolute;
    left: 10px;
    background:
        url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png")
        no-repeat scroll -295px 0 transparent;
    border: 0 none;
    height: 24px;
    margin: 6px 0 0 2px;
    padding: 0;
    width: 24px;
}

.search-form-container .clear-text-btn {
    position: absolute;
    right: 81px;
    background:
        url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png")
        no-repeat scroll -322px 0px transparent;
    border: 0 none;
    height: 24px;
    margin: 5px 6px 0 0;
    padding: 0;
    width: 24px;
}

element.style {
    display: none;
    left: 37px;
    top: -7px;
    width: 1248px;
    z-index: 1002;
}

ul.ui-autocomplete {
    background: none repeat scroll 0 0 transparent;
    border-style: none;
    font-family: din-med, Arial, Sans Serif;
    font-size: 12px;
    left: 10px !important;
    position: absolute;
    top: 0 !important;
    width: 90%;
}

.ui-autocomplete {
    background: none repeat scroll 0 0 #FFFFFF;
}

ul.ui-menu {
    box-shadow: none !important;
    width: 100% !important;
}

ul .ui-menu-item .ui-corner-all {
    margin-right: 20px;
}

li.ui-menu-item:after {
    
}

li.ui-menu-item span.mk-autocomplete-result {
    position:absolute;
    width:100%;
    }

li.ui-menu-item a:before {
    background:
        url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png")
        no-repeat scroll -208px -15px transparent;
    color: white;
    content: "";
    float: right;
    height: 10px;
    margin-right: -20px;
    margin-top: 9px;
    width: 6px;
}

.mk-buy-div {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* debug panel */
#mk-debug {
    position: fixed;
    width: 100%;
    height: 1em;
    bottom: 0px;
    background-color: #A5A5A5;
    z-index: 999999;
}

.btn-orange {
    color: #FFFFFF!important;
    font-size: 12px;
    line-height: 28px;
    background: #F7931E; /* for non-css3 browsers */
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#F2A64D),
        to(#F7931E) ); /* for webkit browsers */
    /* @alternate */
    background: -moz-linear-gradient(top, #F2A64D, #F7931E);
    /* for firefox 3.6+ */
    /* @alternate */
    background: -o-linear-gradient(90deg, #F2A64D, #F7931E);
    border: 1px solid #F7931E;
    margin: 0 0 6px 0px;
    padding-left: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.btn-orange:active {
    background: #F2A64D; /* for non-css3 browsers */
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#F7931E),
        to(#F2A64D) ); /* for webkit browsers */
    /* @alternate */
    background: -moz-linear-gradient(top, #F7931E, #F2A64D);
    /* for firefox 3.6+ */
    /* @alternate */
    background: -o-linear-gradient(90deg, #F7931E, #F2A64D);
}

.btn-grey {
    color: #000000;
    font-size: 12px;
    line-height: 28px;
    background: #D6D6D6; /* for non-css3 browsers */
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2),
        to(#D6D6D6) ); /* for webkit browsers */
    /* @alternate */
    background: -moz-linear-gradient(top, #F2F2F2, #D6D6D6);
    /* for firefox 3.6+ */
    border: 1px solid #D6D6D6;
    text-shadow: 1px 1px 2px rgba(254, 254, 254, 0.5);
}

.btn-grey:active {
    background: #d7d7d7; /* for non-css3 browsers */
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#d7d7d7),
        to(#ececec) ); /* for webkit browsers */
    /* @alternate */
    background: -moz-linear-gradient(top, #d7d7d7, #ececec);
    /* for firefox 3.6+ */
    /* @alternate */
    background: -o-linear-gradient(90deg, #d7d7d7, #ececec);
}

.ico-login-small {
    background-image:
        url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png");
    background-position: -348px 4px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 24px;
    margin-right: 2px;
    vertical-align: middle;
    width: 24px;
}

.cart-link {
    float: right;
    width: 35px;
}

.myntra-icon-wrapper {
    position: absolute;
    width: 100%;
    height: 41px;
    text-align: center;
    top: 6px;
    left: 0;
    padding-bottom: 3px;
    border-bottom: 2px solid #D6D6D6;
}

.m-header-left{
    position:absolute;
    left:0;
    z-index: 2;
}

.m-myntra-icon {
    background:
        url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/myntra-logo.png')
        no-repeat 0px 0px transparent;
    width: 175px;
    height: 41px;
    z-index: 1;
    padding-bottom: 3px;
    display: block;
    margin: 0 auto;
}

.m-header-center{
    position:absolute;
    z-index: 1;
    width:100%;
    text-align: center;
    border-bottom: 2px solid #D6D6D6;
}

.m-header-right{
    position:absolute;
    right:0;
    z-index: 2;
}

.m-header .btn-login {
    padding-top: 9px;
}
.ajax-success {
    background: url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png") no-repeat scroll 2px -67px transparent;
    display: inline-block;
    height: 22px;
    margin-right: 5px;
    vertical-align: middle;
    width: 22px;
    }
