/* Responsive Design Rules */
@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports that meet the condition */
    .mk-page-container.fluid {
        width: 98%;
    }
    .pseudo-rightmenuwidthaspect-container{
        opacity:.5;
    }
    .mk-recent-viewed.flexslider .slides > li{
    	width:144px !important;
	}
	.m-product-reco.flexslider .slides .mk-cycle-inner{
    	width:135px !important;
	}
    .mk-page-container {
        width: 750px;
    }
    .footer-content .customer-promises span {
        display: inline
    }

    /*Header related */
    .mk-header-welcome {
        position:relative;
        left:45px;
        margin-left:5px;
        margin-top:-4px;
        display: inline-block;
        line-height: 22px;
    }
    
    .m-header-search{
        z-index: 2;
        position: absolute;
        right: 50px;
        top:12px;
    }
    .m-header .btn-login{
        color: #4490A5;
        cursor: pointer;
        margin-top: 2px;
    }
    
    .m-header .mk-sign-out{
        color: #4490A5;
        cursor: pointer;
        padding-right:20px;
        padding-bottom:15px;
    }
    .m-header {
      width: 100%;
      margin: 0 auto;
      padding-top: 5px;
      margin-bottom: 10px;
      position: relative;
    }

    .m-header .mk-search{
        display: inline-block;
        width: 190px;
        margin-top:-4px;
    }
    .m-header .mk-search .mk-placeholder-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 125px;
        height: 75%;
        cursor: text;
        font: 12px/16px "din-med", Droid Sans, Helvetica Narrow;
        color: #B5B5B5;
        padding: 5px 0 0 5px;
        text-align: left;
        z-index: 900;
        zoom: 1;
    }
    .m-header .mk-search input {
        width: 176px;
        height: 33px;
        padding: 0 5px 0 5px;
        text-transform: uppercase;
    }
    .m-header .mk-search button {
        width: 24px;
        height: 24px;
        margin: 0;
        padding: 0;
        border: 0px none;
        position: absolute;
        right: 3px;
        top: 6px;
        background:
            url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png')
            no-repeat -295px 0 transparent;
    }
    footer { /*    width: 750px;*/
        width:100%;    
    }
    .mk-recent-viewed {
        max-width: 720px;
    }
    .headersearchbox.ui-menu {
        width: 205px;
    }
    .mk-centered {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .m-header.with-tooltip{
        height: 80px;
    }
    .m-header {
        padding: 5px 0 0;
        height: 45px;
    }
    .mk-slideshow-wrapper .prev-icon,.mk-slideshow-wrapper .next-icon {
        top: 170px;
    }
    .mk-slideshow-wrapper.tablet .prev-icon,.mk-slideshow-wrapper.tablet .next-icon {
        top: 40%;
    }

    .pseudo-search-input{
        padding-left:5px;
    }
    .pseudo-search-input {
        width: 98%;
        padding-left:7px;
    }
    .mk-product-details .discount-message-pdp {
    	width:50%;
    }
    .mk-product-details .mk-coupon-info{
        width:50%;
        float: right;
    }
}

/* Exclusion block */
@media only screen and (max-width: 767px) {
    .footer-content .customer-promises span {
        display: block;
    }
}
