@media only screen and (min-width: 480px) and (max-width: 767px) {
    /* Style adjustments for viewports that meet the condition */
    .notify-cont {
        float: right;
        width: 50%;
    }
    .pseudo-rightmenuwidthaspect-container{
        opacity:1;
    }
    .mk-recent-viewed.flexslider .slides > li{
    	width:135px !important;
	}
	.m-product-reco.flexslider .slides .mk-cycle-inner{
    	width:135px !important;
	}
    .mk-page-container.fluid {
        width: 98%;
    }
    .mk-page-container {
        width: 440px;
    }
    footer {
        width: 100%;
    }
    .mk-recent-viewed{
        max-width: 405px;
        position: relative;
    }
    .m-product-reco {
        max-width: 405px;
        position: relative;
    }
    .m-product-reco .prev-icon,.m-product-reco .next-icon {
        top: 40%;
    }
    .mk-recent-viewed .prev-icon,.mk-recent-viewed .next-icon {
        position: absolute;
        top: 50%;
    }
        .mk-slideshow-wrapper .prev-icon,.mk-slideshow-wrapper .next-icon {
        top: 93px;
    }
    .mk-recent-viewed h4 .rec-title,.m-product-reco h4 .rec-title {
        left: 230px;
    }

    /*Header related */
    .m-header{
        width: 100%;
        margin: 0 auto;
        padding-top: 5px;
        position: relative;
        margin-bottom: 10px;
    }

    .m-header.with-search-box.with-tooltip{
        height: 116px;
    }
    .m-header.with-search-box {
        height: 85px;
    }

    .mk-header-welcome {
        display: none;
    }

    .m-header.with-tooltip .m-header-search{
        top: 85px;
    }
    .m-header-search{
        position: absolute;
        right: 0;
        width: 100%;
        top: 50px;
    }

    .m-header .mk-search{
        position: relative;
        left: 0;
        bottom: 0;
        margin: 3px 0 0 0;
        padding: 5px 0 0 0;
        width: 100%;
        display: inline-block;
        height: 30px;
    }

    .m-header .mk-search .mk-placeholder-text{
        position: absolute;
        top: 7px;
        left: 2px;
        cursor: text;
        width:243px;
        font: 14px/28px "din-med", Droid Sans, Helvetica Narrow;
        color: #B5B5B5;
        padding: 5px 0 0 5px;
        text-align: left;
        z-index: 900;
        zoom: 1;
    }

    .m-header .mk-search input{
        width:428px;
        height:30px;
        padding:0 5px 0 5px;
        text-transform: uppercase;
    }

    .m-header .mk-search button{
        width:24px;
        height:24px;
        margin:0;
        padding:0;
        border:0px none;
        position:absolute;
        top: 16px;
        right: 7px;
        background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -295px 0 transparent;
        
    }
    .headersearchbox.ui-menu {
        width: 433px;
    }
    .pseudo-search-input {
        width: 97.8%;
        padding-left:2%;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

}

