@media only screen and (min-width:1px) and (max-width:479px) {
    /* Style adjustments for viewports that meet the condition */
    .mk-recent-viewed.flexslider .slides > li{
    	width:125px !important;
	}
	.m-product-reco.flexslider .slides .mk-cycle-inner{
    	width:125px !important;
	}
    .mk-page-container {
        width: 290px;
    }
    .pseudo-rightmenuwidthaspect-container{
        opacity:1;
    }
    .mk-page-container.fluid {
        width: 98%;
    }
    .m-home-menu {
        position: relative;
        width: 290px;
        margin:auto;
    }
    #tabs_container {
        display: none;
    }
    #tabs_content_container {
        display:none;
    }
    /*Header related */
    .m-header {
        width: 100%;
        margin: 0 auto;
        padding-top: 5px;
        position: relative;
        margin-bottom: 0px;
    }
    .m-header.with-search-box.with-tooltip{
        height: 116px;
    }
    .m-header.with-search-box {
        height: 92px;
    }

    .mk-header-welcome {
        display:none;
    }

    .m-header.with-tooltip .m-header-search{
        top: 85px;
    }
    .m-header-search{
        position: absolute;
        right: 0;
        width: 100%;
        top: 50px;
    }

    footer {
        width: 100%;
    }
    .mk-recent-viewed {
        max-width: 250px;
        position: relative;
    }
    .m-product-reco {
        max-width: 250px;
        position: relative;
    }
    .m-product-reco .prev-icon,.m-product-reco .next-icon {
        top: 35%;
    }
    .mk-recent-viewed .prev-icon,.mk-recent-viewed .next-icon {
        position: absolute;
        top: 35%;
    }
    .mk-slideshow-wrapper .prev-icon,.mk-slideshow-wrapper .next-icon {
        top: 55px;
    }
    .m-header .mk-search {
        position: relative;
        left: 0;
        bottom: 0;
        margin: 3px 0 0 0;
        padding: 5px 0 0 0;
        width: 100%;
        display: inline-block;
        height: 30px;
    }
    .m-header .mk-search .mk-placeholder-text {
        position: absolute;
        top: 18px;
        left: 5px;
        cursor: text;
        width: 243px;
        font: 14px/18px "din-med", Droid Sans, Helvetica Narrow;
        color: #B5B5B5;
        padding: 5px 0 0 5px;
        text-align: left;
        z-index: 1003;
        zoom: 1;
    }
    .m-header .mk-search input {
        width: 283px;
        background: #fff;
        height: 30px;
        padding: 0 0 0 5px;
        font-family: din-med;
        text-transform: uppercase;
    }
    .m-header .mk-search button {
        width: 32px;
        height: 32px;
        margin: 0;
        padding: 0;
        border: 0px none;
        position: absolute;
        top: 16px;
        right: 7px;
        background:
            url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png')
            no-repeat -295px 0 transparent;
    }
    .headersearchbox.ui-menu {
        width: 283px;
    }
    .m-wishlist-button {
        margin: 0px auto;
    }
    .m-wishlist-button {
        width: 9em;
    }
    .pseudo-search-input {
        width: 97.5%;
        padding-left:2%;
    }    
	#pincode-widget .title {
    	line-height: 18px;
    	margin: 0 auto;
    	max-width: 106px;
    	padding-top: 4px;
	}
	#pincode-widget .hd {
		height:43px;
	}
	#pincode-widget .close-wrapper {
		top:4px;
	}
    #couponinfo-widget .title {
        line-height: 18px;
        margin: 0 auto;
        max-width: 106px;
        padding-top: 12px;
    }
    #couponinfo-widget .hd {
        height:43px;
    }
    #couponinfo-widget .close-wrapper {
        top:4px;
    }
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .mk-centered {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .mk-add-to-wishlist {
        float: none;
        text-align: center;
        width: 100%;
    }
}
