@media only screen and (min-width: 767px) {
    .confirm-page .main-content {
        width:310px;
        float:left;
    }
    .confirm-page{
        width:720px;
        margin:auto;
    }
    .checkout .order-summary{
        float:right;
    }
}

@media only screen and (min-width:480px) and (max-width:766px) {
    .confirm-page .main-content {
        width:440px;
        margin:auto;
    }
    .checkout .order-summary{
        margin:auto;
    }
}

@media only screen and (min-width:1px) and (max-width:479px) {
    .confirm-page .main-content {
        width:290px;
        margin:auto;
    }
    .checkout .order-summary{
        margin:auto;
    }
}

@media only screen and (min-width:480px) {
    
}