.rupees{
	text-transform: none;
}
iframe {
    display:none;
}

.confirm-page .main-content {
    font-size: 12px;
    text-align: center;
    color: #333;
    
}

.confirm-page .main-content p {
    margin: 12px;
    font-size: 14px;
}

.confirm-page .main-content em {
    color: #808080;
    font-weight: bold;
}

.confirm-page .main-content a {
    color: #000;
}

.confirm-page .main-content .border {
    border-bottom: 1px solid #d6d6d6;
}

.confirm-page .main-content .order-details {
    color: #808080;
}

.confirm-page .main-content .order-number {
    font-size: 20px;
    color: #000;
    margin: 10px 0;
}

.confirm-page .main-content .success-msg {
    font-size: 20px;
    color: #00b060;
    margin-bottom: 15px;
}

.confirm-page .main-content .order-details em {
    font-size: 20px;
    color: #b5b5b5;
    font-weight: normal;
}

.confirm-page .main-content .email {
    font-weight: bold;
    color: #808080;
    text-transform: none;
}

.confirm-page .main-content a.btn {
    display: inline-block;
    margin: 20px;
    width: 190px;
}

.confirm-page .main-content button.btn {
    width: 200px;
}

.confirm-page .main-content .body-txt {
    text-transform: uppercase;
    color : #808080;
}

.body-txt a {
    font: 12px "din-med", Droid Sans, Helvetica Narrow;
    text-transform: uppercase;
}
.body-txt em {
    color : #808080;
}
#more-info {
    border-top:solid 1px #ccc;
    border-bottom:solid 1px #ccc;
    padding:10px 0;
}

#more-info h3 {
    font-size:20px;
    color:#808080;

}

#more-info p
{
    font:12px Arial;
    text-transform:none;
}

/*#share-fb-cont {
    padding:0 0 10px;
}

#share-fb-cont em {
    background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v38.png") no-repeat scroll -169px -7px transparent;
    display: inline-block;
    height: 20px;
    margin: 0 5px -5px 0;
    width: 20px;
}*/
.main-content .amount div{
    display:inline-block;
    font-size: 15px;
}
.main-content  .amount .grand-total div{
    font-size: 18px;
}
.steps .completed_tab {
    background-color: #d6d6d6;
}