footer {
    background-image: -webkit-linear-gradient(top, rgb(230, 230, 230) 0%,rgb(251, 251, 251) 90%, rgb(255, 255, 255) 100% );
    /* @alternate */ background-image: -moz-linear-gradient(top, rgb(230, 230, 230) 0%,rgb(251, 251, 251) 90%, rgb(255, 255, 255) 100% );
    /* @alternate */ background-image: -o-linear-gradient(top, rgb(230, 230, 230) 0%,rgb(251, 251, 251) 90%, rgb(255, 255, 255) 100% );
    /* @alternate */ background-image: linear-gradient(top, rgb(230, 230, 230) 0%,rgb(251, 251, 251) 90%, rgb(255, 255, 255) 100% );
    text-align: center;
    margin-top: 10px;
}

.mynt-footer {
    text-align: center;
    height: auto !important;
}

.mynt-footer a {
    text-decoration: none;
}

.mynt-footer a:hover {
    text-decoration: underline;
}

.mynt-footer hr {
    height: 1px;
    width: 100%;
    background: #d6d6d6;
    border: 0;
    margin: 0;
}

.mynt-footer hr.main {
    height: 2px;
}

.footer-content {
    margin: 0 auto;
    color: #808080;
}

.footer-content a {
    color: #4590aa;
}

.footer-content .support-block {
    padding: 15px 0;
}
.footer-content .support-block div{
    padding: 5px 0;
}
.footer-content .customer-call {
    color: #d14747;
}

.footer-content .customer-promises {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-content .customer-promises span {
    padding: 10px;
    white-space: nowrap;
}

.footer-content .copyright {
    padding-top: 20px;
}

.footer-content .secure-shopping div {
    padding: 10px;
}

.footer-content .support-block .customer-call-separator {
    padding: 0 5px;
}