@media only screen and (min-width: 768px) {
    #lb-gift-wrap .photo {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    #lb-gift-wrap .photo {
        display: none;
    }
}
