#lb-gift-wrap .mod{
    zoom: 1;
    font-family: "din-med", Droid Sans, Helvetica Narrow;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    color: #333;
    z-index: 1000;
    display: block;
    overflow: hidden;
    height:auto;
    margin:0 auto;
}
.content-slide-wrapper.giftwrap-wrapper {
    padding:0;
}
#lb-gift-wrap .bd {
    padding: 0px;
    margin:0 auto;
}

#lb-gift-wrap .hd {
    border:none;
    font-size:16px;
    margin: 0 0 10px;
}

#lb-gift-wrap .close-wrapper {
    right: 0;
    top: 0px;
}

#lb-gift-wrap .photo {
    float:left;
    width:50%;
    height:440px;
    background:transparent url("http://myntra.myntassets.com/skin2/images/gift_card_image_v3_420x460.jpg") no-repeat 0 0;
    background-size:100%;
}
.secure #lb-gift-wrap .photo{
    background:transparent url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/gift_card_image_v3_420x460.jpg") no-repeat 0 0;
}

#lb-gift-wrap .input-row {
    position:relative;
    height:50px;
}

#lb-gift-wrap .details input,#lb-gift-wrap .details textarea,#lb-gift-wrap .details label,#lb-gift-wrap .details .err-msg {
    border-radius:5px;
    text-align:left;
    resize:none;
}

#lb-gift-wrap .details textarea {
    height:110px;
    overflow:auto;
}

#lb-gift-wrap .static-text {
    font-size: 13px;
    left: 7%;
    position: absolute;
    top: 8px;
}

#lb-gift-wrap .details input#gift-to,#lb-gift-wrap .details input#gift-from {
    padding-left:45px;
}


#lb-gift-wrap .details label {
    margin:0 0 3px 2px;;
}

#lb-gift-wrap .details label span {
    color:#808080;
    font-size:12px;
}

#lb-gift-wrap .err-msg {
    color:#d14747;
    padding:1px;
    height:12px;
    margin-bottom:2px;
    font-size:11px;
    visibility:hidden;    
}
#lb-gift-wrap .status-msg {
    color:#d14747;
    position:relative;
    top:-18px;

}
#lb-gift-wrap .details button {
    text-align:center;    
    width: 90px;
    margin:0 6px;     
}
#lb-gift-wrap .success-msg {
    font-size:14px;
    
}

#lb-gift-wrap .success-msg span{
    background:transparent url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png") no-repeat 0px -68px;
    height:17px;
    width:17px;
    display:inline-block;
    *zoom:1;
    *display:inline;
    vertical-align:bottom;
    
}
#lb-gift-wrap .btn-proceed {
    float:left;
}
#lb-gift-wrap .btn-cancel {
    float:right;
}
#lb-gift-wrap .note {
    font-size:11px;
    text-align:center;
    margin: 50px auto;
}
#lb-gift-wrap .note p {
    margin-top:5px;
    font-size:10px;
    text-align:center;
    width:100%;
    text-transform:none;
}
/****CALLING PAGE STYLES*****/
.gift-holder{
    font-size: 12px;
    line-height:15px;
    text-align:left;
    color:#000;
    position:relative;
    left:5px;
}
.gift-holder .gift-wrap-info{
    font-size: 10px;
	}
.gift-icon {
    position:absolute;
    left:140px;
    top:-18px;
    display:block;
    height:42px;
    width:50px;
    background: url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -494px 0px transparent;
}

.gift-chkbox-div{
    margin-bottom:5px;
    
}

.gift-chkbox-div em {
    text-transform:none;
}

.gift-chkbox-div .red{
    vertical-align: super;
}

.gift-wrap-info {
    color:#808080;
    text-transform:none;
}

.gift-chkbox-div .gift-wrap-select {
    vertical-align:bottom;
    margin-bottom:1px;
    display:none;
}
.gift-msg-edit {
    cursor: pointer;
    display: inline-block;
    line-height: 10px;
    text-decoration: underline;
    vertical-align: bottom;
}
label.class_checkbox {
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat 0px -36px;
    display: inline-block;
    height: 28px;
    width: 26px;
    margin: -1px 4px;
    vertical-align: top;
    padding:0;
    }
label.class_checkbox.checked {
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -28px -36px;
    display: inline-block;
    height: 28px;
    width: 26px;
    margin: -1px 0;
    vertical-align: top;
    padding:0;
    }
