@media only screen and (min-width:1px) and (max-width:479px) {
    .mk-slideshow-wrapper {
        width: 290px;
        height:145px;
        _width: 290px;
        margin: 0 auto 34px;
    	overflow: visible;
    }

    .mk-slideshow-wrapper.tablet {
        height:125px;
    }

    .m-slide-show-area {
        position: relative;
        width:290px;
        height: 145px;
        margin:auto;
    }
    .m-slide-show-area img.m-slide-image {
        width:290px;
        height: 145px;
    }
    .m-two a img {
        margin-right:0px;
    }
    .m-banners-area {
        position: relative;
        width:290px;
        margin:auto;
    }
    .m-home-menu {
        position: relative;
        width: 290px;
        margin:auto;
    }
    /*new banner related styling*/
    .mk-home-features{
        width: 290px;
        margin: auto;
        }
   .mk-home-features a img {
            width:92px;
            height: auto;
    }
    .mk-home-features a img {
            margin: 3px 0;
    }

    .mk-home-features .mk-home-feature {
            display: inline-block;
    }

    .mk-home-features .mk-home-feature.middle img {
            margin: 2px 2px;
    }

    .mk-home-features .mk-home-feature img {
            width: 92px;
                height: auto;
    }
    .mk-home-feature-sale a{
        display: block;
    }
    .mk-home-feature-sale  img{
        height: 145px!important;
     }
    .col {
        display: inline-block;
        width: 94px;
        vertical-align: top;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .mk-slideshow-wrapper {
        width: 440px;
        _width: 440px;
        height: 220px;
        margin: 0 auto 34px;
    	overflow: visible;
    }
    .mk-slideshow-wrapper.tablet {
        height:189px;
    }
    .m-slide-show-area {
        position: relative;
        width: 440px;
        height: 220px;
        margin: auto;
    }
    .m-slide-show-area img.m-slide-image {
        width: 440px;
        height: 220px;
    }
    .m-three a img {
        margin-right: 0px;
    }
    .m-two a img {
        margin-right: 7px;
    }
    .m-home-menu {
        position: relative;
        width: 440px;
        margin: auto;
    }
    .m-static-banner {
        display: inline-block;
        text-align: center;
        position: static;
    }
    .m-banners-area {
        position: static;
        width: 441px;
        margin: auto;
        display: block;
        text-align: center;
    }
    /*new banner related styling*/
    .mk-home-features{
        width: 440px;
        margin: auto;
        }
   .mk-home-features a img {
            width:140px;
            height: auto;
    }
    .mk-home-features a img {
            margin: 3px 0;
    }

    .mk-home-features .mk-home-feature {
            display: inline-block;
    }

    .mk-home-features .mk-home-feature.middle img {
            margin: 2px 2px;
    }

    .mk-home-features .mk-home-feature img {
            width: 143px;
                height: auto;
    }
    .mk-home-feature-sale a{
        display: block;
    }
    .mk-home-feature-sale  img{
        height: 221px !important;
     }
    .col {
        display: inline-block;
        width: 144px;
        vertical-align: top;
    }
}

@media only screen and (min-width: 768px) {
    .mk-slideshow-wrapper {
        width: 750px;
        height: 375px;
        margin: 0 auto 34px;
    	overflow: visible;
    }
    .mk-slideshow-wrapper.tablet {
        height:375px;
    }
    .m-slide-show-area {
        position: relative;
        margin: auto;
        width: 750px;
        height: 375px;
    }
    .m-slide-show-area img.m-slide-image {
        width: 750px;
        height: 375px;
    }
    .m-static-banner {
        display: inline-block;
        text-align: center;
        position: static;
    }
        .m-static-banner.tablet a img {
                width: 240px;
                height: 210px;
        }
    .m-banners-area {
        position: static;
        width: 460px;
        margin: auto;
        display: block;
        text-align: center;
    }

    .m-banners-area.tablet {
        width: 750px;
    }

    .m-three a img {
        margin-right: 0px;
    }

    .m-home-menu {
        position: relative;
        width: 750px;
        display: none;
    }
    /*new banner related styling*/
    .mk-home-features{
        width: 750px;
        margin: auto;
        }
   .mk-home-features a img {
            width:240px;
            height: auto;
    }
    .mk-home-features a img {
            margin: 3px 0;
    }

    .mk-home-features .mk-home-feature {
            display: inline-block;
    }

    .mk-home-features .mk-home-feature.middle img {
            margin: 2px 2px;
    }

    .mk-home-features .mk-home-feature img {
            width: 240px;
                height: auto;
    }
    .mk-home-feature-sale a{
        display: block;
    }
    .mk-home-feature-sale img{
        height: auto;
     }
    .col {
        display: inline-block;
        width: 243px;
	vertical-align: top;
    }


}

@media only screen and (max-width: 767px) {
    .m-static-banner.tablet a img {
        width: 140px;
        height: 123px;
    }
}
