
.home-page .mk-recent-viewed {
    margin:10px 0;
}

.h4_without_border em{
	color:#999999;	
}
.mk-home-nav-links.mk-nav-levels {
    width: 100%;
    padding: 0 0 10px;
    border-top:1px solid #D6D6D6;
}
.mk-home-nav-links.mk-nav-levels li {
    border-bottom: 1px solid #d6d6d6;
}
.mk-home-nav-links.mk-nav-levels li:active {
    background:#f2f2f2;
}
.mk-home-nav-links.mk-nav-levels li a, .mk-home-nav-links.mk-nav-levels li p{
    color: black;
    font-size: 12px;
}

.mk-recent-viewed.flexslider {
    margin: 0 auto 60px;
}

.mk-home-nav-links.mk-nav-levels li .mk-welcome {
    width:100%;
    text-align:center;
    color: #333333;
    font-size: 14px;
}
.mk-home-nav-links.mk-nav-levels li p .mk-sign-out {
    text-align:center;
    color: #4490a5;
    font-size: 12px;
    text-decoration: underline;
}
.nav-links {
 	 height: 25px;
     margin: 0 auto;
     width: auto;
     display:inline-block;
}
.nav-links-wrapper{
	text-align:center;
	border-bottom: 1px solid #d6d6d6;
    margin-bottom: 0 auto 5px;
    font-size: 14px;
}
.nav-links li {
    float: left;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
}
.nav-links li a {
    text-decoration: none;
}
.nav-links li a:hover {
    color: black;
}

.get-started-tooltip-container{
    position:relative;
    top:45px;
}

.get-started-tooltip{    
    width:106px;
    left: 0px;
    top: 0px;
    margin-top: 8px;
    position: absolute;
    z-index: 1000;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
    text-align: start;
}

.get-started-tooltip-arrow{
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: top;
    background: none;
    border: 8px solid transparent;
    bottom: auto;
    border-bottom-width: 8px;
    border-top-color: transparent;
    border-top-width: 0;
    top: -7px;
    border-bottom-color: #333333;
    margin-top: -1px;
    left:10px !important;
    opacity: 0.7;
    filter:alpha(opacity=70);
}

.get-started-tooltip-content{
    background: #333;
    opacity:0.7;
    filter:alpha(opacity=70);
    color:#fff;
    border: 1px solid transparent;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,.1);
    -ms-box-shadow: 0 3px 3px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    padding:10px;
}
.rupee {
    text-transform:none;
    }
