.lightbox-shim {
    background: #fff;
    display: none;
    height: 100%;
    left: 0;
    opacity: .5;
    filter: alpha(opacity = 50);
    position: absolute;
    top: 0;
    width: 100% !important;
    z-index: 1004;
}

.lightbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: visible;
    display: none;
    z-index: 1005;
    text-align: center;
    text-transform: uppercase;
}

.lightbox-nopop {
    position: relative;
    min-height: 100px;
}

.lightbox .mod {
    border: 1px solid #999;
    border-radius: 5px;
    background: #fff;
    color: #333;
    font-size: 12px;
    padding: 0;
    position: relative;
    margin: 0 auto;
    box-shadow: 3px 3px 5px #666;
}

.small-lightbox .mod {
    width: 95%;
}

.lightbox .loading,.lightbox-nopop .loading {
    display: none;
    position: absolute;
    border-radius: 5px;
    left: 0px;
    top: 2px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url("http://myntra.myntassets.com/skinmobile/images/loader_transparent.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: .9;
    filter: alpha(opacity = 90);
    z-index: 1002;
}

.secure .lightbox .loading,.secure .lightbox-nopop .loading {
    background-image:
        url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/loader_transparent.gif");
}

.lightbox .close {
    position: absolute;
    background-image:
        url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png");
    background-position: -214px 17px;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 34px;
    width: 27px;
    top: -8px;
    right: 0px;
    z-index: 2001;
}

.secure .lightbox .close {
    background-image:
        url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png");
}

.lightbox .hd {
    padding: 12px 25px;
    border-bottom: 1px solid #d6d6d6;
    font-size: 25px;
}

.small-lightbox .hd {
    border-bottom: 0;
}

.lightbox .bd {
    padding: 12px 25px;
}

.lightbox .title {
    font-size: 16px;
    color: #000;
}

.lightbox .subtitle {
    font-size: 12px;
    color: #808080;
}

.lightbox strong {
    font-weight: bold;
}

.lightbox em {
    font-style: normal;
}

.lightbox ol,.lightbox ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lightbox li {
    margin: 0;
    padding: 0;
}

.lightbox .items div {
    float: none; /* reset the float declared in newskin-styles.css */
}

.lightbox .ft {
    padding: 12px 25px 25px;
    text-align: center;
}

.lightbox .ft .btn {
    min-width: 100px;
}

.lightbox .ft .btn-prev {
    margin: 0 10px 0 0;
}

.lightbox .ft .note {
    font-size: 12px;
    color: #808080;
    display: block;
    margin: 0 auto 5px;
}

.lightbox .ft .note em {
    color: #000;
    font-style: normal;
}

#lb-msg-box {
    z-index: 1006;
}

#lb-msg-box .bd p {
    margin: 15px 0;
}

#lb-msg-box .ft {
    zoom: 1;
}

#lb-msg-box .ft:after {
    content: '.';
    display: block;
    overflow: hidden;
    height: 0;
    clear: both;
}

#lb-msg-box .ft .btn-ok {
    margin: 0 auto;
}

#lb-msg-box .discount { /* TODO: remove color, add class 'red' */
    color: #d14747;
}
