@media only screen and (min-width:1px) and (max-width:479px) {
    .loginbox .login-panel,.loginbox .register-panel {
        position: absolute;
        top: 0;
        left: 0;
        height: 445px;
    }
    .loginbox .reg-wrapper,.loginbox .login-wrapper {
        margin: 0 auto;
        height: 435px;
    }
    .loginbox .forgot-pw {
       height: 200px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .loginbox .login-panel,.loginbox .register-panel {
        position: absolute;
        top: 0;
        left: 0;
        height: 445px;
    }
    .loginbox .reg-wrapper,.loginbox .login-wrapper {
        margin: 0 auto;
        height: 435px;
    }
}
@media only screen and (min-width: 768px) {
    .loginbox .login-panel,.loginbox .register-panel {
        position: absolute;
        top: 0;
        left: 0;
        height: 445px;
    }
    .loginbox .reg-wrapper,.loginbox .login-wrapper {
        margin: 0 auto;
        height: 435px;
    }
}