.loginbox {
    z-index: 1006;
}
.loginbox .close{
    top: -6px;
}
.loginbox .forgot-pw .close{
    top: -8px;
}
.main-login-page{
    box-shadow:none !important;
}
.loginbox .content-slide-wrapper .hd {
	margin:0;
}
.loginbox .reg-wrapper, .loginbox .login-wrapper{
    max-width:350px;
    width:100%;
}
.loginbox .close-wrapper {
    right: -2px;
    top: -1px;
}
.content-slide-wrapper.login-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
}
.android-anim-fix {
    -webkit-appearance: none !important;
    text-transform: none !important;
    -webkit-backface-visibility: none !important;
    -webkit-transform: none !important;
    -webkit-transition: none !important;
}

.loginbox .mod {
    zoom: 1;
    font-family: "din-med", Droid Sans, Helvetica Narrow;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    color: #333;
    box-shadow: none;
    border-style: none;
    background: transparent;
    z-index: 1000;
    display: block;
    overflow:hidden;
}

.loginbox .hd,.loginbox .bd {
    border: 0;
    padding: 0;
}

.loginbox .hd {
    padding: 3px 0 0;
}

.loginbox .main-content {
    margin: 0 5px 10px;
}

.loginbox .h3,.loginbox label,.loginbox input,.loginbox .err {
    display: block;
    width: 74%;
    margin: auto;
}

.loginbox .h2 {
    color: #000;
    background-color: #F2F2F2;
    font-family: "din-med", Droid Sans, Helvetica Narrow;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    margin-bottom: 5px;
    width: 50%;
}

.forgot-password-h2 {
    color: #333333;
    font-family: "din-med", Droid Sans, Helvetica Narrow;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
}

.loginbox .h3 {
    font-size: 20px;
    font-family: "din-med", Droid Sans, Helvetica Narrow;
    color: #333;
    padding: 2px 0;
    width: 280px;
    margin: 0 auto;
}

.loginbox .h4 {
    border-bottom: 1px solid #d6d6d6;
    color: #808080;
    padding: 2px 0 5px;
    width: 280px;
    margin: 0 auto;
    font-family: "din-med", Droid Sans, Helvetica Narrow;
}

.loginbox .ico-fb-small {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    cursor: pointer;
    background-image:
        url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png");
    background-position: -373px 1px;
    background-repeat: no-repeat;
    *margin-right: 5px;
}

.loginbox .discount { /* TODO: remove color, add class 'red' */
    color: #d14747;
}

.loginbox .mk-cf {
    padding:0px;
}

.loginbox form {
    height: auto;
    width: 100%;
    z-index: 1500;
    position: relative;
}

.loginbox .frm-signup {
    opacity: 1;
}

.loginbox .btn {
    font-family: "din-med", Droid Sans, Helvetica Narrow;
    margin: 12px auto;
    height: 30px;
    border-radius: 15px; /* CSS3 */
}
.loginbox .context-msg-area {
    color: #A9A5A5;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: -2px;
    margin-top: 10px;
    width: 100%;
}
.loginbox .btn-fb-connect {
    color: #000000;
    font-size: 12px;
    line-height: 28px;
    width: 82%;
    background: #d9d9d9; /* for non-css3 browsers */
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef),
        to(#d9d9d9) ); /* for webkit browsers */
    /* @alternate */
    background: -moz-linear-gradient(top, #efefef, #d9d9d9);
    /* for firefox 3.6+ */
    /* @alternate */
    background: -o-linear-gradient(90deg, #efefef, #d9d9d9);
    border-style: none;
    box-shadow: 0 -1px #e4e4e4;
    text-shadow: 1px 1px 1px rgba(254, 254, 254, 0.5);
}

.loginbox .btn-fb-connect:active {
    background: #efefef; /* for non-css3 browsers */
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9),
        to(#efefef) ); /* for webkit browsers */
    /* @alternate */
    background: -moz-linear-gradient(top, #d9d9d9, #efefef);
    /* for firefox 3.6+ */
    /* @alternate */
    background: -o-linear-gradient(90deg, #d9d9d9, #efefef);
}

.login-using-email {
    color: #989191;
    font-size: 11px;
    line-height: 11px;
    padding: 0px;
    margin: 0 auto;
}

.loginbox .btn-signin,.loginbox .btn-signup {
    width: 62%;
}
.loginbox .btn-fb-connect {
    width: 77%;
}
.loginbox .btn-forgot-pass {
    text-decoration: none;
    color: #028abb;
    font-size: 12px;
    line-height: 28px;
}

.loginbox p .note-text {
    color: #a9a5a5;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.loginbox .divider {
    height: 1px;
    margin: 5px auto 12px;
    width: 80%;
}

.loginbox .text-grey1 {
    color: #989191;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
}

.loginbox .text-grey1 {
    color: #4f4f4f;
    font-size: 12px;
    line-height: 3px;
    font-weight: normal;
}

.loginbox .pad-top15 {
    padding-top:5px;
}

p.login-note-text {
    color: #a9a5a5;
    font-size: 11px;
    line-height: 16px;
    text-transform: none;
    font-weight: normal;
    width: 80%;
    margin: 10px auto 0;
}

p.login-red-text {
    color: #FF0000;
    font-size: 13px;
    line-height: 15px;
    text-transform: none;
    font-weight: normal;
}

.loginbox .btn-register-now,.loginbox .btn-login-now,.loginbox .btn-forgot-pass-ok
    {
    width: 62%;
}

.loginbox .wrapper-change-gender-on {
    float: left;
    width: 116px;
    margin-top: 0;
    background: #b5b5b5; /* for non-css3 browsers */
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5),
        to(#e1e1e1) ); /* for webkit browsers */
    /* @alternate */
    background: -moz-linear-gradient(top, #b5b5b5, #e1e1e1);
    /* for firefox 3.6+ */
    /* @alternate */
    background: -o-linear-gradient(90deg, #b5b5b5, #e1e1e1);
    border-style: none;
    box-shadow: 0 -1px #d6d6d6;
    border-radius: 31px;
    margin-left: 5px;
}

.loginbox .wrapper-change-gender-off {
    float: left;
    width: 67%;
    margin-top: 0;
    background: #b5b5b5; /* for non-css3 browsers */
    /* @alternate */
    background: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5),
        to(#e1e1e1) ); /* for webkit browsers */
    /* @alternate */
    background: -moz-linear-gradient(top, #b5b5b5, #e1e1e1);
    /* for firefox 3.6+ */
    /* @alternate */
    background: -o-linear-gradient(90deg, #b5b5b5, #e1e1e1);
    border-style: none;
    box-shadow: 0 -1px #d6d6d6;
    border-radius: 31px;
    margin-left: 5px;
}

.loginbox .btn-change-gender-on {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 29px;
    margin-left: 0;
    background: #dfdfdf; /* for non-css3 browsers */
    border: 2px solid #b5b5b5;
}

.loginbox .btn-change-gender-off {
    float: right;
}

.loginbox .selected-gender {
    color: #000000;
    float: right;
    font-size: 11px;
    line-height: 30px;
    margin-right: 21px;
    text-align: center;
    width: 60px;
}

.loginbox .flo-left {
    float: left;
    margin-left: 26px;
    width: 30px;
}

.loginbox .connect-with-facebook {
    padding-bottom: 4px;
    line-height: 10px;
}

.loginbox .connect-with-facebook .btn {
    display: block;
    margin-bottom: 2px;
}

.loginbox .connect-with-facebook .err-fb {
    text-align: center;
    width: auto;
}

.loginbox .connect-with-facebook div {
    margin: 0 auto;
}

.loginbox .connect-with-facebook p {
    display: inline-block;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
}

.loginbox p em {
    color: #333;
}

.loginbox .buttons p {
    color: #333;
    background: rgba(255, 255, 255, 0.8);
}

.loginbox .buttons .err {
    text-align: center;
}

.loginbox label {
    padding: 10px 0 3px;
    *padding-top: 0;
}

.loginbox .err {
    min-height: 10px;
    position: relative;
}

.loginbox input[type="text"],.loginbox input[type="mobile"],.loginbox input[type="email"],.loginbox input[type="password"],.loginbox input[type="number"],.loginbox input[type="email"],.loginbox input[type="tel"]{
    width: 70%;
}

.loginbox .buttons {
    position: absolute;
    top: 100px;
    left: 42.5px;
    width: 280px;
}

.loginbox .right-panel .buttons .h2 {
    margin-top: 12px;
}

.loginbox .forgot-pass-msg {
    display: none;
}

.loginbox .forgot-pw .mk-cf {
    border-radius: 5px 5px 5px 5px;
    height: 100%;
    padding: 0;
    position: relative;
    top: -14px;
    width: 100%;
}

.loginbox .forgot-pw {
    padding-top: 14px;
    height: 200px;
    background: #f2f2f2;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px #999;
    display: block;
}

.loginbox .forgot-pw p {
    color: #999999;
    font-size: 13px;
    line-height: 20px;
    text-transform: none;
    font-weight: normal;
    padding: 0px 20px;
}

.loginbox .forgot-pw p.email {
    color: #333333;
    font-size: 13px;
    line-height: 30px;
    font-weight: normal;
}

.loginbox .forgot-pw .btn-forgot-pass-ok {
    margin: 12px auto 0;
}

.reg-page .referral {
    padding: 15px 25px;
    height: 495px;
}

.reg-page .referral .hd h2 {
    font-size: 20px;
    color: #808080;
}

.reg-page .referral .hd .h4 {
    font-size: 12px;
    color: #808080;
}

.reg-page .referral .bd {
    *position: relative;
    *bottom: 10px;
}

.reg-page .referral .referermail {
    color: #333;
    font-size: 12px;
    line-height: 15px;
    padding: 6px 0 10px;
}

.reg-page .referral .referermail .mail {
    color: #00b060;
    text-transform: lowercase;
    font-size: 14px;
    line-height: 14px;
    padding: 1px 0 2px;
}

.reg-page .referral .frm-login .connect-with-facebook {
    position: relative;
    top: 100px;
}

.reg-page .referral .frm-login,.reg-page .referral .frm-signup {
    opacity: 1;
}

.gender-section {
    width: 165px;
    text-align: left;
    height: 25px;
    padding: 2px 0 1px;
    margin: 0 auto;
}

.gender-section .jqTransformRadioWrapper {
    display: inline-block;
    float: none;
}

.gender-section span {
    height: 18px;
    margin: 0 0 0 7px;
    display: inline-block;
    float: none;
    font-size: 14px;
}

.gender-section span.name {
    height: 18px;
    margin: 0 5px 0 7px;
    display: inline-block;
    float: none;
    font-size: 14px;
}

.gender-section .jqTransformRadio {
    height: 18px;
    width: 18px;
    vertical-align: bottom;
    background-position: -61px -184px;
}

.gender-section .jqTransformRadioWrapper a.jqTransformChecked {
    background-position: -61px -204px;
}

.gender-section .jqTransformHidden {
    display: none;
}

.gender-section label {
    padding: 0;
}

.gender-section .gender-sel {
    float: left;
    width: auto;
    margin: 0 5px 0;
}

.gender-section label {
    float: left;
    width: auto;
    color: #989191;
    font-size: 11px;
    line-height: 30px;
}

.gender-section .err-gender {
    margin: 0 0 0 5px;
}

.loginbox .btn {
    z-index: 1600;
    line-height: 32px;
}

.loginbox .login-panel,.loginbox .register-panel,.loginbox .main-content
    {
    z-index: 900;
    overflow: visible;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
}

.loginbox .login-panel,.loginbox .register-panel {
    background: #ffffff;
    height: 470px;
    z-index: 1000;
}

.forgot-pass-msg p {
    color: #666;
    font-size: 14px;
    line-height: 40px;
}

.forgot-pass-msg p.email {
    color: #333;
    font: 20px/40px 'din-med';
    text-transform: none;
}

.forgot-pass-msg .btn-forgot-pass-ok {
    width: auto;
    padding: 0 40px;
}