#lb-coupons .coupons-popup .bd, #lb-editbag .edit-bag-popup .bd{
    overflow: hidden;
}
#lb-coupons.content-slide-wrapper.slidedown {
    height: 1px;
    padding: 0 0 10px;
}
#lb-coupons .coupons-popup .main-content,#lb-editbag .edit-bag-popup .main-content{
    width: 200%;
    position: relative;
    top: 0;
    margin: 0;
}
.btn-size.btn-grey{
    width:35px;
    height:35px;
    display: inline-block;
    text-align:center;
    margin:3px;
    border-radius:30px;
    line-height:30px;
}
.btn.size.selected {
    background:#000000;
    color:#ffffff;
    }

#lb-editbag .prod-name-wrapper, #lb-editbag .size-wrapper, #lb-editbag .qty-wrapper{
    width: 90%;
    margin: 0 auto;
    text-align:center;
    font-size:14px;
    color:#666666;
    line-height: 20px;
    }
#lb-editbag .prod-name-wrapper.list-header {
	margin:0;
	text-align: center;
    width: 50%;
    text-transform:uppercase;
}
#lb-editbag .size-label-wrapper,#lb-editbag .qty-label-wrapper, #lb-editbag .size-wrapper, #lb-editbag .qty-wrapper{
    width: 90%;
    margin: 0 auto;
    text-align:center;
    font-size:12px;
    color:#000000;
    line-height: 20px;
    }
#lb-editbag .qty-label-wrapper {
	margin-top:10px;
}
#lb-editbag .size-wrapper {
    height:100%;
    }
#lb-editbag .sel-qty {
    height: 35px;
    min-width: 70px;
    text-align: center;
    margin-bottom: 10px;
    }
#lb-editbag .sel-qty option{
    padding-left:10px;
    }
#lb-editbag .edit-bag-popup .lb-save-changes {
    width:50%;
    margin:12px auto 20px;
    max-width: 170px;
    }
#lb-coupons .coupons-popup .header, #lb-editbag .edit-bag-popup .header {
    background: none repeat scroll 0 0 #D6D6D6;
    color: #000000;
    font-family: "din-med",Droid Sans,Helvetica Narrow;
    font-size: 16px;
    height:35px;
}
#lb-coupons .apply-coupons-header,#lb-editbag .modify-item-header {
	width:50%;
}
#lb-coupons .hd,#lb-coupons .bd, #lb-editbag .hd, #lb-editbag .bd {
    border: 0;
    padding: 0;
}

#lb-coupons .choose-coupon .applicable-coupons, #lb-coupons .choose-coupon .ineligible-coupons {
    text-align: center;
    border-bottom: 1px solid #d6d6d6;
}

#lb-coupons .choose-coupon .eligible-coupon-item ,#lb-coupons .choose-coupon .ineligible-coupon-item {
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #d6d6d6;
    height: 35px;
    overflow: hidden;
    position: relative;
}

#lb-coupons input+label {
    padding-left: 33px;
    vertical-align: middle;
}

#lb-coupons input[type="radio"] {
    width: 34px;
    height: 34px;
    position: relative;
    z-index: 10;
    opacity: 0;
    vertical-align: middle;
}

#lb-coupons input[type="radio"]+label:before {
    content: " ";
    background:
        url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png')
        no-repeat -82px -35px;
    width: 34px;
    height: 34px;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    z-index: 5;
}

#lb-coupons input[type="radio"]:checked+label:before {
    background-position: -111px -35px;
}

#lb-coupons .choose-coupon .coupon-off {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 35px;
    font-size: 12px;
}
#lb-coupons .ineligible-coupon-item .coupon-off {
    width: 40%;
}
#lb-coupons .condense-line {
     display: inline-block;
     line-height: 16px;
     max-width: 100px;
     }
#lb-coupons .expand-ineligible-coupons {
    background: url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png") no-repeat scroll -235px 0 transparent;    display: inline-block;
    height: 28px;
    margin-right: 0px;
    vertical-align: middle;
    width: 30px;
    float: right;
    margin-top: 5px;
}
#lb-coupons .expand-ineligible-coupons.expanded {
    background-position: -265px 0px;
}
#lb-coupons .choose-coupon .coupon-off-amount {
    position: absolute;
    right: 2px;
    text-align: right;
    top: 0;
    width: 50%;
    height: 30px;
    line-height: 15px;
    font-size: 12px;
    color: #808080;
}

#lb-coupons .choose-coupon .coupon-desc {
    float: left;
    position: absolute;
    left: 33px;
    top: 30px;
}

#lb-coupons .choose-coupon .choose-coupons-body {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5px;
}

#lb-coupons .side-link,#lb-coupons .header,#lb-coupons .title,
#lb-editbag .side-link,#lb-editbag .header,#lb-editbag .title {
    color: #000;
    font-family: "din-med", Droid Sans, Helvetica Narrow;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
}

#lb-coupons p {
    color: #000;
    font-family: "din-med", Droid Sans, Helvetica Narrow;
    font-size: 10px;
    line-height: 18px;
    height: 18px;
    text-transform: none;
    width: 100%;
}

#lb-coupons .user-coupon-code {
    width: 200px;
}

.promo-coupons {
    /*width: 200px;*/
    margin: 0px auto;
}

#lb-coupons .btn-apply-selected-coupon,#lb-coupons .btn-apply-user-coupon
    {
    margin: 10px 0 0;
    width: 200px;
}

#lb-editbag .size-wrapper,#lb-editbag .qty-wrapper {
    color: #000000;
    font-size: 15px;
    margin: 5px auto;
    text-align: center;
    }
#lb-editbag .size-wrapper .size-button {
        float:left;
        width:35;
        height:35;
    }
#lb-editbag .size-wrapper .unavailable {
    color: #A5A5A5;
    text-decoration: line-through;
}
#lb-editbag .size-wrapper .available {
    color: #ffffff;
}
#lb-editbag .size-wrapper .selected {
    background:#000000;
    border:1px solid #999999;
    color: #ffffff;
}
#lb-editbag .btn.unavailable{
    color: #A5A5A5;
    text-decoration: line-through;
}
#lb-editbag .lb-editbag-error-msg,#lb-coupons .lb-coupon-error-msg {
    color:red;
    font-size:12px;
    text-align:center;
    width:90%;
    line-height: 12px;
    text-transform:none;
    margin:0 auto;
    position: relative;
    top:0px;
    }
#lb-editbag .lb-editbag-error-msg {
    top:-16px;
    }
#lb-coupons .coupon-desc {
    display:none;
    }

#lb-coupons .eligible-coupon-item.selected, #lb-coupons .ineligible-coupon-item.selected {
    height: 90px;
}
#lb-coupons .no-eligible-coupon-text-line1, #lb-coupons .no-coupon-text-line1 {
    color: #000000;
    font-size: 12px;
    height: auto;
    line-height: 15px;
    margin: 0 auto;
    text-align: center;
    text-transform: none;
    width: 100%;
    }
#lb-coupons .no-eligible-coupon-text-line2, #lb-coupons .no-coupon-text-line2 {
    color: #000000;
    font-size: 10px;
    font-family: arial;
    line-height: 15px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    width: 90%;
    height:auto;
}
#lb-coupons .no-coupon-text-line1 {
    height:auto;
}
#lb-coupons .no-eligible-coupon-wrapper{
    width:100%;
    height:auto;
}
#lb-editbag .mk-freesize.grey.strike {
    background: none repeat scroll 0 0 #666666;
    border-radius: 3px 3px 3px 3px;
    padding: 5px 15px;
    color:#ffffff;
}
.editbag-wrapper .link-details,.coupons-wrapper .link-details {
    padding-bottom: 10px;
}
.ineligible-couponoff-text {
    color: #999999 !important;
    display: inline;
    font-size: 11px !important;
    max-width: 80px;
}
