
/*.csstransitions body{
    -webkit-transition: margin-left 0.2s;
    -moz-transition: margin-left 0.2s;
    -ms-transition: margin-left 0.2s;
    -o-transition: margin-left 0.2s;
    transition: margin-left 0.2s;
}

.csstransitions #nav{
    -webkit-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -ms-transition: left 0.2s;
    -o-transition: left 0.2s;
    transition: left 0.2s;
}*/

#nav {
    /* Specify the width of your pageslide here */
    width: 230px;
    left: -250px; 
    padding: 10px;
    /* These styles MUST be included. Do not change. */
    display: block;
    position: absolute;
    top: 0;
    bottom:0;
    z-index: 1002;
    overflow: hidden;
    height:100%;

    /* These styles are optional, and describe how the pageslide will look */
    background-color: #333;
    color: #FFF;

    box-shadow: inset 0 0 5px 5px #222;
    /* @alternate */ -moz-box-shadow: inset 0 0 5px 5px #222;
    /* @alternate */ -webkit-box-shadow: inset 0 0 5px 5px #222;
    /*-webkit-transition: -webkit-transform 2000ms ease-in;*/
}

#scroller {
    padding:0;
}

.mk-nav-levels{
    width: 85%px;
    padding: 0 10px 10px 10px;
    color: #fff;
    font-family: din-med;
    font-size: 14px;
}

.mk-nav-levels li{
    display:block;
    border-bottom:1px solid #808080;
}

.mk-nav-levels li.mk-nav-level-first{
    border-top:1px solid #808080;
}

.mk-nav-levels li a, .mk-nav-levels li p{
    color:#fff;
    display:block;    
    text-decoration:none;
    line-height:25px;
    padding:5px 0 5px 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
}
.m-home-menu .mk-nav-levels li:active{
    background:#f2f2f2;
    }
.mk-nav-levels li:active{
    background:#000000;
    }
.mk-nav-levels li a:hover{
    text-decoration:none;
}

.mk-nav-level-2 .mk-nav-level-first a, .mk-nav-level-3 .mk-nav-level-first a, .mk-nav-level-3 .mk-nav-level-second a {
    color: #ffffff;
    padding-right:10px;
}

.mk-search-container {
    width: 100%;
    height:100%;
    padding: 0px;
    position: relative;
    margin: 0px;
    background-color: white;
}


.mk-search input{
    width:204px;
    height:40px;
    padding:0 0 0 5px;
    font-family: din-med;
    text-transform: uppercase;
}

.mk-search button{
    width:32px;
    height:32px;
    margin:0;
    padding:0;
    border:0px none;
    position:absolute;
    right:5px;
    top:5px;
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -54px -62px transparent;
}

#nav .mk-search-placeholder {
    width: 85;
    height:40px;
    padding:0 10px 0 10px;
    position:relative;
    margin: 5px 0px 20px 0px;
}

#nav .mk-search-placeholder input{
    width:204px;
    height:30px;
    padding:0 0 0 5px;
    font-family: din-med;
    color: #B5B5B5;
    text-transform: uppercase;
}

#nav .mk-search-placeholder .mk-placeholder-text{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 75%;
    cursor: text;
    font: 12px/16px "din-med", Droid Sans, Helvetica Narrow;
    color: #B5B5B5;
    padding: 0 0 0 10px;
    text-align: left;
    z-index: 1003;
    zoom: 1;
}    

#nav .mk-search-placeholder .mk-search-button {
    width:32px;
    height:32px;
    margin:0;
    padding:0;
    border:0px none;
    position:absolute;
    right:5px;
    top:5px;
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -95px -60px transparent;
}

.mk-level1-arrownav{
    width:6px;
    height:10px;
    background:url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png") -208px -15px no-repeat;
    float:right;
    margin-right: 5px;
    margin-top:5px;
}

.mk-nav-back-link{
    text-align:right;
}

.mk-nav-back-link .mk-nav-back{
    width:6px;
    height:10px;
    background:url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png") -197px -15px no-repeat;
    float:left;
    margin-left: 5px;
    margin-top:5px;   
}

.mk-nav-links {
    color: #b5b5b5;
    font-size: 12px;
    padding-bottom:30px;
}

.mk-nav-partition {
    line-height: 25px;
    border-bottom: 1px solid #808080;
    width: 90%;
    left: 10px;
    position: relative;
}

.mk-body-overlay {
    background: black;
    opacity: 0.5;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 1001;
    padding:10px 0;
}
#nav .search-form-container{
        width: 230px;
        height:40px;
        padding:0 10px 0 10px;
        position:relative;
        margin: 5px 0px 20px 0px;
    }

#nav .search-form-container .mk-placeholder-text{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 199px;
    cursor: text;
    font: 14px/16px "din-med", Droid Sans, Helvetica Narrow;
    color: #B5B5B5;
    padding: 0 0 0 10px;
    text-align: left;
    z-index: 1003;
    zoom: 1;
}    

#list{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

#nav .user-menu a, #nav .user-menu p{
    color: #D6D6D6;
}
.mk-nav-levels li .mk-welcome {
    width:100%;
    text-align:center;
    font-size: 14px;
}
#nav .mk-nav-levels li .mk-welcome {
    color: #ffffff !important;
}
.mk-nav-levels li p .mk-sign-out {
    text-align:center;
    color: #4490a5;
    font-size: 12px;
    text-decoration:underline;
    padding: 10px 35px;
}

.mk-nav-back-link a{
    background:url(http://myntra.myntassets.com/skinmobile/images/mobile-diagonals_v3.png) repeat;
}
