@media only screen and (min-width: 767px) {
    .payment-page .main-content {
        float: left;
        display: inline-block;
    }
    .checkout .order-summary {
        float: right;
        display: inline-block;
    }
    .payment-page {
        width: 730px;
        margin: 10px auto auto;
    }
    .order-summary .shipping-address{
        display:block;
    }
    .main-content .shipping-address{
        display:none;
    }
}

@media only screen and (min-width:480px) and (max-width:766px) {
    .order-summary .shipping-address{
        display:none;
    }
    .main-content .shipping-address{
        display:block;
    }

}

@media only screen and (min-width:1px) and (max-width:479px) {
    .tabs ul .selected .opt {
        background:    url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -115px -37px transparent;
        width: 26px;
        height: 26px;
    }
    .tabs ul .opt {
        background:url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -85px -37px transparent;
        display: inline-block;
        width: 26px;
        height: 26px;
        left: 0px;
        visibility: visible;
        position: relative;
    }
    .tabs {
        width: 290;
    }
    .tabs ul li:first-child {
        border-top: 1px #d6d6d6 solid;
    }
    .tabs ul li {
        display: block;
        width: 290px;
        margin: auto;
        height: auto;
        padding: 2px 0;
        text-align: left;
        background-color: white;
        border-bottom: 1px #d6d6d6 solid;
        line-height: 28px;
        color: #000000;
    }
    .tabs ul li br {
        display: none;
    }
    .tabs ul {
        text-align: center;
        height: auto;
    }
    .pay-block .tab-content {
        width: 290px;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        background: #fff;
        margin: auto;
    }
    .emi-options .emi-duration table th,.emi-options .emi-duration table td
        {
        text-align: center;
        padding: 0 0px;
        font-size: 11px;
        height: 34px;
        display: table-cell;
    }
    .cc-form .row {
        margin: 0 auto 15px;
        width: 290px;
        text-align: left;
    }
    .cc-form .row .long {
        width: 270px;
    }
    .emi-options .emi-bank select {
        width: 290px;
    }
    .coupons-widget{
	width:210px;
	
    }
    .main-content .shipping-address{
        width:290px;
	display:block;
    }

    .order-summary .shipping-address{
        display:none;
    }


}

@media only screen and (min-width:480px) {
    .pay-block .tabs {
        overflow: hidden;
        zoom: 1;
        text-align: center;
    }
    .pay-block .tabs ul {
        height: 47px;
        border-bottom: 1px #d6d6d6 solid;
        width: 440px;
        margin: auto;
    }
    .pay-block .tabs li {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        position: relative;
        padding: 8px 2px;
        height: 30px;
        vertical-align: top;
        border-color: #ffffff;
        border-width: 0 1px 1px;
        border-style: solid;
        border-top:1px #e6e6e6 solid;
        cursor: pointer;
        background-color: #e6e6e6;
        color: #000;
        font-size: 10px;
        width: 74px;
        text-transform: uppercase;
        margin: 0 -2px;
    }

    .pay-block .tabs li .opt {
        display: block;
        visibility: hidden;
        width: 40px;
        height: 8px;
        position: absolute;
        bottom: -12px;
        left: 31px;
    }
    .pay-block .tab-content {
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        background: #fff;
        width: 440px;
        margin: auto;
        /* @alternate */
        margin-top: 20px;
    }
    .pay-block .tabs li:first-child{
        border-left: 1px #e6e6e6 solid;
    }
    .pay-block .tabs li:last-child{
        border-right: 1px #e6e6e6 solid;
    }
    .pay-block .tabs li:hover,.pay-block .tabs li.selected {
        background-color: #ffffff;
        border-bottom:1px #ffffff solid;
    }
    .pay-block .tabs li.selected {
        cursor: default;
        height: 30px;
    }
    .emi-options .emi-duration table th,.emi-options .emi-duration table td
        {
        text-align: center;
        padding: 0 10px;
        font-size: 14px;
        height: 34px;
        display: table-cell;
    }
    .cc-form .row {
        margin: 0 auto 15px;
        width: 300px;
        text-align: left;
    }
    .cc-form .row .long {
        width: 284px;
    }
    .emi-options .emi-bank select {
        width: 300px;
    }
    .main-content .shipping-address{
    	width:420px;
    }
    .coupons-widget{
    	width:210px;
    }
}
