/*start: new cashback ui*/
.cashback-msg{
    font-size:12px;
    color: #a5a5a5;
}
.cashback-heading{
    font-size: 14px;
    text-transform: uppercase;
}
.redeem-cb{
        background: url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png") repeat scroll 0px -38px transparent;
        display:inline-block;
        height: 25px;
        width: 25px;
        float:left;
        margin-right: 5px;

}
.remove-cb{
         background: url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png") repeat scroll -29px -38px transparent;
         display:inline-block;
         height: 25px;
         width: 25px;
         float:left;
         margin-right: 5px;

}


/*end: new cashback ui*/
/* start Loyalty */
.redeem-lp{
        background: url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png") repeat scroll 0px -38px transparent;
        display:inline-block;
        height: 25px;
        width: 25px;
        float:left;
        margin-right: 5px;

}
.remove-lp{
         background: url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png") repeat scroll -29px -38px transparent;
         display:inline-block;
         height: 25px;
         width: 25px;
         float:left;
         margin-right: 5px;
}
/* end loyalty */
/*start: address css */
.delivery-address .heading {
    display: block;
    text-align : center;
    border-bottom: 1px #d5d5d5 solid;
    padding-top:10px;
    padding-bottom: 10px;
    font-size:16px
}
.delivery-address .address-name{
    padding: 5px 0px;
    display: block;
    text-transform: uppercase;
}
.delivery-address .address-name a{
    float:right;
}
.delivery-address {
    width: 290px;
    margin:auto;
    border-bottom: 1px #d5d5d5 solid;
    padding-bottom: 5px;
}
/*end: address css*/
.payment-heading{
    text-align:center;
    padding: 20px 10px 10px 10px;
    font-size: 16px;
    text-transform: uppercase;
}
.payment-page .main-content h2 {
    margin: 10px 0;
}

.int-shipping {
  padding: 10px;
}
.int-shipping span {
  display: block;
}
.cartgifts {
  clear: both;
  padding-top: 5px;
}
.cartsms input {
  color: #c00;
  width: 134px;
}
.cartgifts strong {
  color: #8e0800;
}
.cartgifts i {
  color: #333;
  font-size: 11px;
}
.cartgifts-select {
  font-size: 12px;
  line-height: 18px;
  display: none;
}
.cartgifts-select textarea {
  margin: 5px 0;
  width: 95%;
  height: 80px;
}
.order-left-block h1 {
  display: block;
  float: left;
  font-size: 18px;
  padding: 0;
  margin-right: 10px;
}
.order-left-block .header-link a {
  color: #0084ba;
  font-size: 11px;
}
.order-left-block {
  width: 270px;
  border: 0 solid red;
  float: left;
  padding-bottom: 5px;
}
.addblock {
  border-top: 1px dotted #666;
  margin-top: 2px;
}
.addblock p {
  margin: 0;
  padding: 3px 0 0;
  width: 270px;
}
.addblock p strong {
  display: block;
}
.addblock p span {
  color: #000;
  display: block;
  padding: 2px 0;
}
#RedeemCoupon {
  padding: 10px;
  border: 1px solid #ddd;
}
#RedeemCoupon h3 {
  margin: 0;
  font-size: 12px;
  padding: 0 0 5px;
  color: #666;
}
#RedeemCoupon #coupon {
  height: 20px;
}
.pay-lable {
  background: #f4f5fa;
  border-bottom: 1px solid #e3e3e3;
  padding: 5px;
  margin-top: 10px;
}
.weak {
  font-size: 11px;
  color: #808080;
}

.my-cc-table {
    border-collapse:separate;
    border-spacing:10px;
    margin-bottom:10px;
}
.my-cc-table td label {
  margin-top: 1px;
  text-align: right;
  display: block;
}
.my-cc-table td {
  vertical-align: top;
}
/*
.my-cc-table td input {
  height: 19px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
}
.my-cc-table td select {
}
.my-cc-table td select option {
}
*/

.add-copy-block {
  border-top: 1px solid #d6d6d6;
  border-collapse:separate;
  border-spacing:10px;
}
.add-copy-block td {
  vertical-align: top;
}
.add-copy-block td textarea {
  width: 291px;
  height: 100px;
  padding: 4px 8px;
}
.add-copy-block td input {
  min-width: 175px;
}
.add-copy-block td label {
  display: block;
  text-align: right;
}
.add-copy-block td input.boxw {
  width: 291px;
}
.add-copy-block h3 {
  margin: 0 0 5px;
  font-size: 17px;
  font-weight: none;
}
.add-copy-block p {
  padding-bottom: 10px;
}
.access-block {
  border: 0 solid;
  margin: 0 auto;
  width: 290px;
  _margin-left: 200px;
  margin-bottom: 20px;
}
.access-error {
  color: #be0709;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  margin-bottom: 20px;
  margin-top: 5px;
}
li.fade {
  opacity: .25;
  filter: alpha(opacity=25);
}
.content-right-block {
  width: 260px;
  margin-top: 10px;
}
.order-items {
  border: 1px solid #d6d6d6;
  height: 150px;
  display: none;
}
.order-totals ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.order-totals ul li {
  padding: 3px;
  border-bottom: 1px dotted #ccc;
  overflow: hidden;
}
.order-totals ul li span.my-order-title {
  float: left;
}
.order-totals ul li span.my-order-title a {
  color: #333;
  text-decoration: none;
}
.order-totals ul li span.my-order-rs {
  float: right;
  color: #d20000;
}
.order-totals ul li span.my-dis-rs {
  float: right;
  color: #0084ba;
}
.order-totals ul li.grand-total {
  border-bottom: none;
  padding: 10px 5px 0;
}
.order-totals {
  width: 250px;
  border: 1px solid #ccc;
  padding: 10px;
}
.grand-total .my-order-title b {
  font-size: 16px;
}
.grand-total .my-order-rs b {
  color: #d20000;
  font-size: 16px;
}
.grand-total .my-order-rs {
  margin-left: 20px;
}
#mobile-captcha-form {
  margin-right: 5px;
  width: 184px;
  *vertical-align: middle;
}
#mobile-error {
  color: #d20000;
  width: 280px;
  margin-top: 5px;
}
#change-image {
    margin-top:21px;
    display:inline-block;
    padding: 0px 8px;
    margin-bottom:0px;
    color: #4490a5;
}
#captcha-form {
  width: 200px;
}
#cod-verify-captcha {
  width: 160px;
}
.btn-captcha {
  height: 28px;
  line-height: 22px;
  margin: 0;
  padding: 0 0 0 5px;
}
.btn-other-addr{
    padding: 5px 10px;
}
.captcha-block {
  margin: 0 0 10px;
}
.captcha-loading {
  background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin1/myntra_images/captcha-loading.gif") no-repeat;
  width: 16px;
  height: 16px;
  position:absolute;
  top:50%;
  right:20%;
}
.captcha-entry {
  clear: both;
  position:relative;
}

.captcha-entry span {
  display: block;
}
.cod-page-notifications {
  text-align: center;
}
.captcha-message {
  padding: 2px;
}
.verify-captcha.btn-disabled {
  background: #a8a8a8;
  cursor: not-allowed;
}
.verify-loading {
  background: url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/loader_transparent.gif") no-repeat scroll 0 3px transparent;
  float: right;
  height: 30px;
  margin-right: 50px;
  width: 35px;
}
.gr {
  font-size: 11px;
  padding: 4px;
  border: 1px solid #c60;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fa4;
  background-image: -webkit-linear-gradient(top,#ffaa44,#ff7109);
  /* @alternate */ background-image: -moz-linear-gradient(top,#ffaa44,#ff7109);
  /* @alternate */ background-image: -ms-linear-gradient(top,#ffaa44,#ff7109);
  /* @alternate */ background-image: -o-linear-gradient(top,#ffaa44,#ff7109);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
.coupons-widget {
   padding: 20px 10px 10px;
  display: block;
  position: relative;
  float:none;
  margin:auto;
  line-height: 14px;
}

.coupons-widget .error ,.coupon-info-link, .coupon-app-amnt{
    font-size: 12px;
}

.special-coupons {
  margin: 0 auto;
}
.your-coupons {
  margin: 0 auto;
}
.payment-page .coupon-block .your-coupons h2 {
  display: inline-block;
  font-size: 12px;
  margin: 0 auto;
  position: relative;
  width: 182px;
  line-height: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.coupon-block .or {
    font-size: 14px;
    margin: 5px;
}

.code-enter {
  margin: 0 auto;
  overflow: hidden;
}

.message {
  padding: 5px 0;
  margin: 0;
}
.vmessage {
  margin: 5px 10px;
  font-size: 12px;
}
.redeem-btn {
  border: 1px solid #fd9b06;
  font-size: 10px;
  padding: 6px 10px;
  cursor: pointer;
}
.v-code, .four-dig-code {
  margin: 20px auto 10px;
}

.v-code .row {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
}

.v-code .row span {
    *vertical-align: middle;
}

.v-code span.email {
  text-transform: none;
}


.v-code-note,
.four-dig-code-note,
#mobile-message {
  color: #333;
  font: 12px/15px Arial;
  text-align: center;
  width: 90%;
  margin: 0 auto 5px;
  text-transform: none;
}

.v-code-note p {
    padding-top: 10px;
}
    
.four-dig-code-note {
  margin-top: 10px;
}
.four-dig-code-note .error {
  text-align: center;
}
.v-code-note .error {
  padding-bottom: 10px;
}
.four-dig-code-note #mobile-verification-error {
  margin-top: 10px;
}
form#change-profile {
  overflow: hidden;
  display: block;
  text-align: justify;
}
form#verify-mobile-code {
  overflow: hidden;
}


#mobile-captcha-block fieldset {
}
#mobile-captcha-block legend {
  font-weight: normal;
  padding: 0 5px;
  font-size: 12px;
}
#mobile-code {
  letter-spacing: 1px;
  width: 40px;
}
.cart-summary {
  margin-top: 30px;
}
.cart-summary span.h1-title {
  display: block;
  border-bottom: 1px dotted #666;
}
#order-summary {
  cursor: pointer;
}
.bgcolor {
  background-color: #f2f2f2;
}
.payto-cart-items {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  margin-top: 10px;
}
.payto-cart-items li {
  border-bottom: 1px dotted #000;
  padding-bottom: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}
.payto-cart-items li div {
  width: 200px;
  font-size: 11px;
}
.payto-cart-items li img {
  border: 1px solid #ccc;
  margin-top: 4px;
  padding: 1px;
}
.qs {
  display: block;
  font-size: 10px;
  margin: 3px 0;
}
.cart-rs {
  position: relative;
  display: block;
}
.cart-rs i {
  color: #d20000;
  font-style: normal;
}
.cart-rs b {
  position: absolute;
  right: 0;
  padding-right: 5px;
}
.lmore {
  background: none repeat scroll 0 0 #fff;
  margin-top: 20px !important;
}
.cb-input {
  height: 20px;
  line-height: 20px;
  margin: 0 5px 0 0 !important;
  padding: 0 0 0 2px;
  width: 50px;
  background: none repeat scroll 0 0 #ffc !important;
}
#cashback-amount {
  background: #ffc;
  border: 1px solid #ccc;
  padding: 2px 10px;
  margin-left: 5px;
  display: inline-block;
  min-width: 20px;
}
#slider {
  float: left;
  margin: 5px 15px 0;
  width: 125px !important;
}
#leftSlider {
  width: 365px !important;
  margin-top: 10px;
  margin-left: 150px;
}
.pb-phone {
  font-size: 12px;
  display: block;
}
.pay-by-phone-confirm {
  margin-top: 4px;
  cursor: pointer;
}
.tab_container {
  overflow: hidden;
}
.success, .error {
  background: none;
  border: none;
}

.mobile-verify {
  background: #f2f2f2;
  padding: 10px;
  margin: 10px 0;
}
.mobile-number input {
  height: 25px;
  margin-right: 5px;
  padding-left: 3px;
  width: 95px;
  font-family: arial;
}
.mynt-msg {
  line-height: 30px;
}
.action-btn {
  padding: 5px 15px;
  font-family: arial;
}
#splash-mobile-verify {
  font: 12px/18px Arial;
  text-transform: none;
  
}
.mnote {
  color: #808080;
  display: block;
  font-style: normal;
  margin-bottom: 10px;
}

#splash-mobile-verify .btn {
    width: 70px;
    margin-top: 10px;
}

.your-coupons h2 span {
  display: inline-block;
  width: 10px;
  height: 8px;
  position: absolute;
  top: 8px;
  right: 10px;
}

.warning-text-border {
  border-bottom: 1px solid #d6d6d6;
  padding: 5px 0 10px;
  margin-bottom: 10px;
  text-transform: none;
  font: 14px/18px Arial;
}

.mobile-verify .warning strong {
    font: 14px "din-med", Droid Sans, Helvetica Narrow;
    text-transform: uppercase;
}

.couponSelect {
  background-color: #f2f2f2;
}
#splash-payments-processing .mod {
  width: 340px;
}
.coupon-block {
  font-size: 12px;
}



.payment-page .main-content {
  text-transform: none;
}
#citi_discount_div, #icici_discount_div {
  text-align: center;
  padding: 5px 0;
}
#net_banking .note {
    padding:15px 0 5px;
    font: 12px Arial;
    text-transform: none;
}
.pay-btn-wrap {
  padding: 10px;
  text-align: center;
}
#error-div .pay-btn-wrap{
  display: none;
}
.pay-btn-wrap .btn {
  min-width:150px;
  display:inline-block;
}
.pay-block {
  position:relative;
}
.pay-block h2 {
  text-transform: uppercase;
}


.pay-block .tabs li.selected .opt {
  visibility: visible;
}

.pay-block .tab-content .btn {
  display: inline-block;
  margin: 10px 0px 10px 0px;
 
}
.cc-bill-address .btn{
 padding: 0px 10px 0px 10px;
}
.pay-block .tab-content label {
  display: inline-block;
  text-align: center;
  margin: 5px 0;
}

.pay-block .cod-page-notifications .btn {
    margin-top: 15px;
}

.pay-block .your-number {
  font-size: 14px;
}

.coupon-wrap .cashback-btn {
    width: 100px;
    margin: 0px auto;
}

.cc-form {
    text-align:center;
}

.cc-form .msg {
    margin:0 0 15px;
}

.cc-form .msg-fill-all {
    margin:0 0 15px;
}

.cc-form .row .short {
    width: 119px;
}
.cc-form .row label {
    display:block;
    text-align:left;
}
.cc-form .row label em {
    color:#999;
    font-style:normal;
}
.cc-form .row .col {
    width: 135px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.cc-form .what-is-cvv {
    margin-left: 10px;
}
.cc-form .accepted-cards {
  margin: 0 0 15px;
  padding: 0;
}
.cc-form .accepted-cards span {
  background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin1/images/cr_cards_type.gif");
  background-repeat:no-repeat;
  height: 0px;
  width: 48px;
  padding: 30px 0 0;
  margin: 0 5px 0 0;
  overflow: hidden;
  display:inline-block;
}
.cc-form .accepted-cards .master {
  background-position: left -30px;
}
.cc-form .accepted-cards .amex {
  background-position: left -60px;
}
.cc-form .accepted-cards .maestro {
  background-position: left -120px;
}

.cc-form .jqTransformSelectWrapper {
    margin:0;
}

.cc-bill-address {
    padding:10px 0;
    border-top:1px solid #d6d6d6;
}
.tab-content h3 {
    margin-bottom:10px;
}
.tab-content select{
    border: 1px #d6d6d6 solid;
    background: none;
    font: 12px/19px arial,sans-serif;
}
.cc-bill-address .msg {
    color:#808080;
    font: 12px Arial;
    text-transform: none;
}

#codMessage {
    font: 12px Arial;
    text-transform: none;
}

.tab-content a {
    font-family: "din-med", Droid Sans, Helvetica Narrow;
    text-transform: uppercase;
}

.captcha-details {
    position: relative;
}

.cashback-message em,
.coupon-msg em {
    /* TODO: remove color, add class 'red' */
    color: #d14747;
    text-transform: none;
}

.cashback-message, .coupon-msg {
    font-size: 12px;
    line-height: 15px;
    text-align:center;
}

.error-msg {
    line-height: 14px;
    height: auto;
    font-size: 12px;
    padding: 5px;
}

.coupons-widget form {
}

.coupons-widget .err-div {
    z-index: 3;
    width: 94%;
    background: #fff;
    padding: 10px;
    border: 1px solid #d6d6d6;    
}

.coupons-widget .err-div .err-msg,
.coupons-widget .err-div .error-msg {
    color: #d14747;
    font-size: 12px;
    padding: 5px 0;
}

.coupons-widget .err-div .close {
    font-size: 14px;
    padding: 10px 0 0;
    display: block;
    cursor: pointer;
    text-decoration: underline;
}

.coupon-all-disc-leaf{
    font-size:12px;
    color:#808080;
    margin:3px;
    position:relative;
    bottom:0;    
}

.payment-page .coupon-wrap .wrong-large-icon,
.payment-page .coupon-wrap .tick-large-icon ,
.payment-page .coupon-wrap .warning-large-icon {
    position: absolute;
    top: 1px;
    left: -20px;
}

.payment-page .coupon-wrap h2 {
    height: 25px;
    line-height: 25px;
    margin: 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
}

.codCaptchaBlock .error {
    margin: 0 auto;
}

#codCaptchaBlock label {
    display: block;
    text-transform: uppercase;
}

.payment-page .pay-block input#cvv {
    width: 74px;
    font-size:12px;
}

.payment-page .pay-block .cc-expiry select {
    width: 130px;
    height: 35px;
}

.payment-page .pay-block .cc-bill-country select {
    width: 300px;
    height: 35px;
}

.payment-page .pay-block .nothing-to-pay {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 5px;
}

.pay-block .mobile-verify .edit-your-number .btn {
    width: 70px;
    vertical-align: bottom;    
    margin-left: 5px;
}

.emi-options .emi-bank-msg {
    margin-bottom: 15px;
}


.emi-options {
    padding-bottom: 15px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 15px;
}

.emi-options .emi-duration table {
    margin: 0 auto;
    font: 14px/20px;
}

.emi-options .emi-duration table td {
    cursor: pointer;
}

.emi-options .emi-duration table tr.emi-disabled td {
    cursor:default;
}

.emi-options .emi-duration table th {
    background: #b7b7b7;
}

.emi-options .emi-duration table tr.odd {
    background: #fff;
}

.emi-options .emi-duration table tr.even {
    background: #f2f2f2;
}



.emi-options .emi-duration table td .radio-btn {
    background: url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -85px -37px transparent;
    height: 26px;
    width: 26px;
    margin-top: -2px;
}

.emi-options .emi-duration table td .radio-btn.selected {
    background-position: -115px -37px;
}

.emi-options .emi-duration table td .radio-btn.disabled {
    background-position: -145px -37px;
}

.emi-options .emi-duration p.gray {
    margin: -10px 0 10px;
    display:inline-block;
}

.emi-options .emi-duration .emi-disabled .duration{
    color: #808080;
}

.payment-page h1 {
    padding-bottom: 0;
    border-bottom: 0;
}

.payment-page h3 {
    text-align: center;
    font-size: 14px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d6d6d6;
}

.payment-page .pay-block h3 {
    border-bottom: 0;
    padding-bottom: 0;
}

#debit_card .ostar {
    display: none;
}

#debit_card .field-msg {
    padding: 5px 0 15px;
}



.you-pay{
    margin-top:15px;
}

.address-list-wrap .list{
    
}

.address-list-wrap .list table{
    margin:auto;
    border-top: 1px #d6d6d6 solid;
    width:290px;
    text-transform: none;
}
.address-list-wrap .list tr{
    border-bottom: 1px #d6d6d6 solid;
    display:block;
    
}
.address-list-wrap-emi .list{
    
}

.address-list-wrap-emi .list table{
    margin:auto;
    border-top: 1px #d6d6d6 solid;
    width:290px;
    
}
.address-list-wrap-emi .list tr{
    border-bottom: 1px #d6d6d6 solid;
    display:block;
    
}

.jqTransformRadio{
    background: url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -85px -37px transparent;
    display: inline-block;
    width: 26px;
    height: 26px;
}
.jqTransformChecked{
    background: url('https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -115px -37px transparent;
    display: inline-block;
    width: 26px;
    height: 26px;
}
.opt{
    height:26px;
    vertical-align:top;
    padding-right:4px;
}
.address strong {
    
}
.address{
    text-align:left;
    width:290px;
}
.address-form-cc{
    display:none;
}
.address-form-emi{
    display:none;
}
.shipping-address{
    text-align:center;
    margin:auto;
    margin-bottom: 10px;
    background : #F2F2F2;
}

.shipping-address .lbl{
    font-size: 14px;
    color : grey;
    padding: 10px;
    display:block;
}


.steps .selected_pay{
    border-right: 1px #d6d6d6 solid;
    border-left: none;
    height:56px;
    background-color: #fff;
    
}
.steps .completed_tab{
    
    background-color: #d6d6d6;
}

.pay-block textarea {
    padding : 7px;
}
.steps .selected {
    border-right:1px solid #d6d6d6;
    border-left:none;
}
.tab-content input,.tab-content textarea,.tab-content select{
    box-shadow: 0 0 1px #D6D6D6;
    -moz-box-shadow: inset 0 0 1px #d6d6d6;
    -webkit-box-shadow: inset 0 0 1px #D6D6D6;
}
.addr-summary{
    float:right;
}
/* main order summary styling */
.main-content .order-summary-main{
    width: 180px;
    margin: auto;
    text-align: center;
    padding: 5px 0px;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
}

.main-content .order-summary-main .you-pay-wrapper{
    font-size: 15px;
}
/* end of main order summary styling */
.cc-form{
    margin-top:10px
}
.addr-top{
    width: 264px;    
    display: table-cell;
    vertical-align: middle;
    height:30px;
}

#lb-coupon-info .mod{
    width:90%;
}
.delivery-address address{
    font-size:12px;
}
.payment-page .discount.green{
    color: green;
}


/** Bin based promotion styling starts **/
.payment-promotion-box{
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 5px 0px;
  border-bottom: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;
}

.payment-promotion-box .payment-promotion-label{
    color: #FFFFFF;
    background-color: #D14747;
    padding: 2px 5px;
    width: 50%;
    text-align: center;
    margin: 5px auto;
    text-transform: uppercase;
}

.payment-promotion-box .payment-promotion-msg{
    text-transform: none;
    width: 100%;
    margin-top: 7px;
    font-size: 12px;
 }


/** BIN Based promotion error modal box starts **/
#bin-promotion-box .lb-error-msg{
    color: red;
    font-size: 12px;
    text-align: center;
    width: 90%;
    line-height: 12px;
    text-transform: uppercase;
    margin: 0 auto;
    position: relative;
    top: 0px;
}

#bin-promotion-box .slide-main-content{
    left: -100%;
    height: 300px;
}
#bin-promotion-box .confirm-msg,
#bin-promotion-box .wrong-card-msg > div{
    line-height: 16px;
}

#bin-promotion-box .wrong-card-msg{
    margin-top: 15px;
}

#bin-promotion-box .small-msg{
    color: #000000;
    font-size: 10px;
    font-family: arial;
    line-height: 15px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    width: 90%;
    height: auto;
}
#bin-promotion-box .small-msg.confirm-msg {
    margin-top: 15px;
    margin-bottom: 10px;
}
#bin-promotion-box .btn{
  display: inline-block;
}
/** BIN Based promotion error modal box ends **/ 

 
/** Bin based promotion styling ends **/