.pay-block,.pay-block-default {
  margin: 10px 0 0;
  position:relative;
}
.pay-block h2,.pay-block-default h2 {
  text-transform: uppercase;
}
.pay-block .tabs {
  overflow: hidden;
  zoom: 1;
  text-align: center;
}




.pay-block .tab-content .btn, .pay-block-default  .btn {
  display: inline-block;
  margin: 0 auto 10px;
}

.pay-block .tab-content label, .pay-block-default  label {
  display: inline-block;
  text-align: center;
  margin: 5px 0;
}

.pay-block .cod-page-notifications .btn,  .pay-block-default .cod-page-notifications .btn{
  margin-top: 15px;
}

.pay-block .your-number,.pay-block-default .your-number  {
  font-size: 14px;
}

.coupon-wrap .cashback-btn {
  width: 80px;
  margin: 5px auto;
  position: absolute;
  bottom: 5px;
  left: 100px;
}


.cc-form {
    text-align:center;
}
.cc-form .msg {
    margin:0 0 15px;
}
.cc-form .msg-fill-all {
    margin:0 0 15px;
}
.cc-form .row {
    margin: 0 auto 15px;
    width: 300px;
    text-align: left;
}
.cc-form .row .long {
    width: 284px;
}
.cc-form .row .short {
    width: 119px;
}
.cc-form .row label {
    display:block;
    text-align:left;
}
.cc-form .row label em {
    color:#999;
    font-style:normal;
}
.cc-form .row .col {
    width: 135px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.cc-form .what-is-cvv {
    margin-left: 10px;
}
.cc-form .accepted-cards {
  margin: 0 0 15px;
  padding: 0;
}
.cc-form .accepted-cards span {
  background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin1/images/cr_cards_type.gif");
  background-repeat:no-repeat;
  height: 0px;
  width: 48px;
  padding: 30px 0 0;
  margin: 0 5px 0 0;
  overflow: hidden;
  display:inline-block;
}
.cc-form .accepted-cards .master {
  background-position: left -30px;
}
.cc-form .accepted-cards .amex {
  background-position: left -60px;
}
.cc-form .accepted-cards .maestro {
  background-position: left -120px;
}

.cc-form .jqTransformSelectWrapper {
    margin:0;
}

.cc-bill-address {
    padding:10px 0;
    border-top:1px solid #d6d6d6;
}

.cc-bill-address .msg {
    color:#808080;
    font: 12px Arial;
    text-transform: none;
}

#codMessage {
  font: 12px Arial;
    text-transform: none;
}

.tab-content a {
  font-family: 'din-med';
  text-transform: uppercase;
}

.captcha-details {
  position: relative;
}

.cashback-message em,
.coupon-msg em {
  /* TODO: remove color, add class 'red' */
  color: #d14747;
  text-transform: none;
}

.cashback-message, .coupon-msg {
  height: 60px;
  font-size: 14px;
  line-height: 25px;
  padding: 5px;
}

.error-msg {
  line-height: 14px;
  height: auto;
  font-size: 12px;
  padding: 5px;
}

.coupons-widget form {
  margin: 5px 0;
}

.coupons-widget .err-div {
  position: absolute;
  z-index: 3;
  top: 42px;
  left: 2px;
  width: 264px;
  background: #fff;
  padding: 10px;
  border: 1px solid #d6d6d6;  
  -webkit-box-shadow: 0 0 3px #999;
  /* @alternate */-moz-box-shadow: 0 0 3px #999;
  /* @alternate */box-shadow: 0 0 3px #999;
}

.coupons-widget .err-div .err-msg,
.coupons-widget .err-div .error-msg {
  color: #d14747;
  font-size: 14px;
  padding: 5px 0;
}

.coupons-widget .err-div .close {
  font-size: 14px;
  padding: 10px 0 0;
  display: block;
  cursor: pointer;
}

.coupon-all-disc-leaf{
  font-size:12px;
  color:#808080;
  margin:3px;
  position:relative;
  bottom:0; 
}

.payment-page .coupon-wrap .wrong-large-icon,
.payment-page .coupon-wrap .tick-large-icon ,
.payment-page .coupon-wrap .warning-large-icon {
  position: absolute;
  top: -2px;
  left: -30px;
}

.payment-page .coupon-wrap h2 {
  height: 25px;
  line-height: 25px;
  margin: 0;
  display: inline-block;
  position: relative;
}

.codCaptchaBlock .error {
  margin: 0 auto;
}

#codCaptchaBlock label {
  display: block;
  text-transform: uppercase;
}

.payment-page .pay-block input#cvv {
  width: 74px;
}

.payment-page .pay-block .cc-expiry select {
  width: 90px;
}

.payment-page .pay-block .cc-bill-country select {
  width: 300px;
}

.payment-page .pay-block .nothing-to-pay {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 5px;
}

.tt-cc-cvv,
.tt-dc-cvv {
  width: auto;
  padding: 10px 12px;
  display: none;
}

.tt-cc-cvv .cvv-img,
.tt-dc-cvv .cvv-img {
  background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v42.png");
  background-position: -329px -59px;
  background-repeat: no-repeat;
  height: 100px;
  width: 236px;
}

.pay-block .mobile-verify .edit-your-number .btn {
  width: 70px;
  vertical-align: bottom; 
  margin-left: 5px;
}

.emi-options .emi-bank-msg {
  margin-bottom: 15px;
}

.emi-options .emi-bank select {
  width: 300px;
}

.emi-options {
  padding-bottom: 15px;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 15px;
}

.emi-options .emi-duration table {
  margin: 0 auto;
  font: 14px/20px;
}

.emi-options .emi-duration table td {
  cursor: pointer;
}

.emi-options .emi-duration table tr.emi-disabled td {
  cursor:default;
}

.emi-options .emi-duration table th {
  background: #b7b7b7;
}

.emi-options .emi-duration table tr.odd {
  background: #fff;
}

.emi-options .emi-duration table tr.even {
  background: #f2f2f2;
}

.emi-options .emi-duration table th,
.emi-options .emi-duration table td {
  text-align: center;
  padding: 0 10px;
  font-size: 14px;
  height: 34px;
  display: table-cell;
}

.emi-options .emi-duration table td .radio-btn {
  background: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v42.png') no-repeat -63px -185px transparent;
  height: 18px;
  width: 18px;
  margin-top: -2px;
}

.emi-options .emi-duration table td .radio-btn.selected {
  background-position: -63px -205px;
}

.emi-options .emi-duration table tr.emi-disabled td .radio-btn {
  background-position: -63px -225px;
}

.emi-options .emi-duration p.gray {
  margin: -10px 0 10px;
  display:inline-block;
}

.emi-options .emi-duration table td.msg {
  font-size: 12px;
}

.emi-options .emi-duration .emi-disabled .duration {
  color: #808080;
}

