@media only screen and (min-width:1px) and (max-width:479px) {
    .other-options {
        width: 100%;
    }
    .mk-fit-mobile{
        width:360px;
        height:400px;
    }
    .m-pdp-menu li{
        border-bottom:1px #d6d6d6 solid;
        text-align : left;
        padding-bottom:8px;
        padding-top:8px;
        padding-left:0.5em;
    }
    .m-pdp-menu ul {
        border-top: 1px #D6D6D6 solid;
    }
    .mk-product-details {
        width: 290px;
    }
    .mk-product-media {
        width: 280px;
        position: relative;
        z-index: 100;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    .mk-product-media img {
        width: 290px;
        height: auto;
    }
    .mk-product-media {
        width: 280px;
        position: relative;
        z-index: 100;
        margin-left: auto;
        margin-right: auto;
    }
    #iscroller{
        position: relative;
        width:280px;
        height:372px;
        display: block;
    }
    #wrapper{
        position:relative;
        z-index:1;
        width: 280px;
        height:372px;
        overflow: hidden;        
        display:none;
    }
    .discount-message-pdp {
        padding: 5px;
    }
    .mk-coupon-info {
        padding: 1px;
    }
    #size-scrollable_1 .flex-direction-nav .flex-prev{
        margin-left: 0px;
    }
    #size-scrollable_1 .flex-direction-nav .flex-next {
        margin-right: 0px;
    }
    .size-scrollable{
        margin-left: 5px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    /* PDP Page */
    .mk-product-details {
        width: 440px;
    }
    .mk-freesize {
    	display: inline-block;
	}
    .other-options {
        width: 50%;
        float:right;
        border-bottom: 1px #d5d5d5 solid;
    }
    .mk-product-media {
        text-align: left;
        width: 200px;
        height: 294px;
    }
    #iscroller{
        position: relative;
        width:200px;
        height:294px;
        display: block;
    }
    #wrapper{
        position:relative;
        z-index:1;
        width: 200px;
        height:294px;
        overflow: hidden;        
        display:none;
        float:left;
    }
    .m-product-desc {
        position: relative;
        width: 100%;
        clear: both;
    }
    .m-pdp-menu {
        position: relative;
        text-align: center;
        margin: 10px 0px;

    }
    .m-pdp-menu li {
        border-bottom: 1px #d5d5d5 solid;
        text-align: left;
        padding-bottom:8px;
        padding-top:8px;
        padding-left:0.5em;
    }
    .m-pdp-menu ul {
        border-top: 1px #d5d5d5 solid;
    }
    .mk-product-media img {
        width: 200px;
        height: auto;
    }
    .mk-product-disclaimer-container {
        width: 50%;
        float: right;
    }
    .error{
        width: 50%;
        float: right;
    }
    #size-scrollable_1 .flex-direction-nav .flex-prev{
        margin-left: 0px;
    }
    #size-scrollable_1 .flex-direction-nav .flex-next {
        margin-right: 0px;
    }
    .size-scrollable{
        margin-left: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .other-options {
        width: 50%;
        float:right;
    }
    #iscroller{
        position: relative;
        width:360px;
        height:520px;
        display: block;
    }
    #wrapper{
        position:relative;
        z-index:1;
        width: 360px;
        height:520px;
        overflow: hidden;
        display:none;
        float:left;

    }

    .mk-recent-viewed,.m-product-reco {
        max-width: 750px;
        height: 270px;
        position: relative;
    }
    .m-product-reco{
    	max-width: 710px;
    }
    .m-product-reco .prev-icon,.m-product-reco .next-icon {
        top: 45%;
    }
    .mk-recent-viewed .prev-icon,.mk-recent-viewed .next-icon {
        position: absolute;
        top: 45%;
    }
    .mk-match {
        width: 100%;
    }
    .mk-product-media img {
        height: auto;
    }
    .mk-pdp-carousel-breadcrumbs {
        float: right;
        width: 100%;
    }
    .mk-product-page h1 {
        float: right;
    }
    .mk-pdp-heading {
        float: right;
        width: 50%;
        padding-bottom:10px;
    }
    .mk-size-buttons {
        float: right;
        width: 50%;
    }
    .mk-product-details {
        width: 750px;
    }
    .m-product-desc {
        width: 50%;
        float: right;
    }
    .m-pdp-menu {
        position: relative;
        text-align: center;
        margin: 10px 0px;
    }
    .m-pdp-menu li {
        display: inline;
    }
    .mk-pdp-price {
        float: right;
        width: 50%;
    }
    .mk-pdp-heading {
        float: right;
        width: 50%;
    }
    .discount-message-pdp {
        float: right;
    }
    .mk-coupon-info {
        text-align: center;
    }
    .mk-size-buttons {
        float: right;
        width: 50%;
    }
    .mk-buy-div {
        float: right;
        width: 50%;
    }
    .mk-add-to-wishlist {
        float: right;
        width: 50%;
    }
    #measurement-box {
        float: left;
    }
    .notify-cont {
        width: 50%;
        float: right;
    }
    .mk-pdp-menu-icon {
        display: none;
    }

.combo-pdp-block {
    width: 50%;
    float:right;
}

.product-share-info{
    float: right;
    width: 47%;
    margin-right: 15px;
}

    .size-scrollable{
        margin-left: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .m-pdp-menu .slash {
        display: none;
    }
}
