.telesales-icon{
    background-image: url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png");
    background-position: -38px -118px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    width: 16px;
    position: relative;
    top: 3px;
}
.express-buy-icon{
    background-image: url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png");
    background-position: -18px -118px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 17px;
    width: 16px;
}
.wishlist-icon{
    background-image: url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png");
    background-position: 0 -118px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 17px;
    width: 16px;
}

.other-options li{
    display: block;
    width: 100%;
    text-align: left;
    border-top: 1px #d5d5d5 solid;
    padding: 8px 0px 10px 0px; 
}
.mk-freesize{
        border-radius: 15px 15px 15px 15px;
        font-size: 12px;
        line-height: 30px;
        padding: 0 15px 0 15px;
        text-align: center;
      
        background-color: #d5d5d5;
        text-transform: uppercase;
}
.m-pdp-menu {
    line-height: 20px;
}
.mk-pdp-price {
   font-size: 14px;
}
.m-pdp-menu ul {
    width: 100%;
    vertical-align: center;
}
.mk-pdp-vat-message {
   margin-top: -9px 0 10px 0px;
   text-transform: none;
   color: #808080;
   font-size: 11px;
   text-align: center;
}
.m-pdp-menu ul li a, .m-pdp-menu ul li a:hover {
    color: #4490A5;
    text-decoration: none;
    padding:0 0;
    font-size:10px;
}
span.coupon-pdp-icon{
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: -336px -361px;
    width: 30px;
    height: 12px;
    display:inline-block;
    margin-left:10px;
}

.mk-coupon-info div {
    display: inline-block;
    border: 2px solid #4490A5;
    padding: 4px 6px 0 0;
    margin-bottom: 5px;
}

#iscroller img{
    position: relative;
    width: 100%;
    left:0%;
    top:0%;
}
/*#iscroller{
    position: relative;
    width:360px;
    height:520px;
    display: block;
}
#wrapper{
    position:relative;
    z-index:1;
    width: 360px;
    height:520px;
    overflow: hidden;
    display:none;
    float:left;

}*/
.mk-product-large-image{
     display: block;
     overflow: hidden;
}
.m-pdp-menu .mk-pdp-menu-icon
{
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') -205px -12px no-repeat transparent;
    width: 10px;
    height: 20px;
    float:right;
    position: relative;
    top:4px;
    right:5px;
}
.mk-slideshow-pagination {
    
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.mk-product-media {
    position:relative;
    z-index:1;
}

.mk-page {
    height: auto;
}
.selected {
    background:none;
    background-color:#2f2f2f;
    color:white;
    /* @alternate */ /*background: -webkit-gradient(linear, left top, left bottom, from(#D6D6D6), to(#F2F2F2)); */
    /* @alternate */ /*background: -moz-linear-gradient(top, #D6D6D6,  #F2F2F2); */
    
    
}
.error {
    border: 1px red solid;
    width: auto;
    padding: 0px;
}
.unavailable {
    color:#A5A5A5;
}
.strike{
    height: 1px;
    width:100%;
    display:block;
    position:relative;
    bottom:15px;
    background-color: #A5A5A5;
    
/*    background-image:
     -webkit-repeating-linear-gradient(-45deg, black, black 1px, transparent 1px, transparent 21px);
  background-image:
     -moz-repeating-linear-gradient(-45deg, black, black 1px, transparent 1px, transparent 21px);
  background-image:
     -o-repeating-linear-gradient(-45deg, black, black 1px, transparent 1px, transparent 21px);
  background-image:
     repeating-linear-gradient(-45deg, black, black 1px, transparent 1px, transparent 21px);*/
    
}
.mk-add-to-wishlist {

}
.mk-mobile-pdp-size-btn {
    width:auto;
    min-width: 30px;
    padding: 0 5px;
}
    
.mk-product-name h1 {
    font-size:1.5em;
}

.m-wishlist-button {
    width: 120px;
}
.m-buynow-button, .primary-btn {
    width: 120px;
    margin-bottom: 10px;
}

.mk-cycle-inner {
    display: inline-block;
}
.m-product-reco .mk-cycle-inner {
    display: inline-block;
    width: 200px;
    text-align: center;
}

.m-product-reco .mk-cycle-inner a img {
    width: 125px;
}
.m-product-reco .mk-match .mk-cycle-inner a {
    display: inline-block;
}

.m-product-reco .mk-match .mk-cycle-inner .product-info {
    display: block;
    height: 50px;
    text-align:center;
}
.m-product-reco  {
    font-family:din-med,Arial,Sans Serif;
    margin: auto;
    padding: 15px 15px 0;
    position: relative;
}

.m-product-reco h4 {
    width: 100%;
    overflow: hidden;
}


.mk-pdp-carousel-breadcrumbs a {
    color: #4490a5;
    text-decoration: none;
    
}
.mk-pdp-carousel-breadcrumbs a:visited {
    color: #4490a5;
    text-decoration: none;
}
 .mk-pdp-heading h1 {
    font-size: 16px;
}
/* This is for the title text. */
.cloud-zoom-title {
    font-family: "din-med", Droid Sans, Helvetica Narrow;
    position: absolute !important;
    background-color: #000;
    color: #fff;
    padding: 3px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    top: 0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
    overflow: hidden;
    border: 1px solid #d6d6d6;    
}

.mk-product-large-image .wrap {
    position: relative;
    
}

/* This is the loading message. */
.cloud-zoom-loading {
    color: white;
    background: #222;
    padding: 3px;
}

/*SUPER ZOOM*/
/*
.zoom-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: 10000;
    background: #000;
    overflow: hidden;
    display:block;
}

.zoom-block {
    z-index: 10001;
    position: absolute;
    top: 0;
    margin: 0 auto;
}

.zoom-container {
    margin: 0 auto;
    position: relative;
    display:block;
    z-index:2501;
}

.zoom-container ul {
    left: 0;
}

.zoom-container ul.szoom li {
    width: 100%;    
    float: left;
    position: relative;
    text-align: center;
}

.zoom-container ul.szoom li img {
    position: relative;
    margin: 0 auto;
    left: 0;
    width: 100%;
}

.close-btn {
    height: 50px;
    width: 50px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 100;
    cursor: pointer;
    float:right;
    display: block;
}
.close-icon {
    height: 25px;
    width: 25px;
    background-image: url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png");
    background-position: -214px 8px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    position:relative;
    left:16px;
}*/
.mk-product-name h1
{
    width: 100%;
    text-align: center;
}

.savedMsg
{
    margin: 10px 0px 0px 0px;
    display: none;
}

.mk-pdp-heading {
    text-align: center;
}

.mk-pdp-price {
    font-size: 14px;
    text-align: center;
    text-transform: none;
}

.mk-pdp-price .mrp {
    text-decoration: line-through;
    color: grey;
} 

.mk-pdp-price .mk-discount {
    color: #D14747;
    font-size: 12px;
    text-transform: none;
}

.mk-sold-out {
    color: #D14747;
    font-size: 12px;
}

.mk-size-buttons {
    text-align: center;
}

.mk-buy-div {
    text-align: center;
}

.m-product-desc .accordion  {
    font-family: Arial;
    text-transform: none;
    display: hidden;
    clear:both;
}
.m-product-desc .accordion h2 {
    display: block;
    padding-top: 8px!important;
}
.m-product-desc {
    border-bottom: 1px solid #d6d6d6;
}
.mk-zoom-loaders{
    position: absolute;
    left: 50%;
    top: 50%;
}

.pdp-product-code{
    margin-top:10px;
}

/* Share links */
.mk-share-links {
    padding-top: 10px;
}
/* Serviceability classes */
.delivery-network {
    margin: 10px 0px;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    text-align: left;
    padding-bottom: 5px;
    text-transform: none;
}
.delivery-network a, .delivery-network .changeable.ul{
    color: #4490A5;
}
#pincode-widget {
    text-transform: none;
}
#pincode-widget .ft{
    display: none;
}
#pincode-widget .title{
    font-size:14px;
    
}
#pincode{
    margin: 10px 0 0;
    width: 100px;
}
#pincode-widget .bd{
    padding: 12px 15px;
}
#pincode-widget input {
    border: 1px solid black;
}
#couponinfo-widget {
    text-transform: none;
}
#couponinfo-widget .ft{
    display: none;
}
#couponinfo-widget .title{
    font-size:14px;

}
#couponinfo-widget .bd{
    padding: 12px 15px;
}
#couponinfo-widget input {
    border: 1px solid black;
}

/*#zoom-scroll, #zoom-wrapper {
    position:relative;
}

#zoom-scroll {
    width: 1080px;
    height: 1440px;
}
.zoom-thumbs ul li {
    float: left;
    padding: 5px;
}
*/
.flat-size-options{
    margin-bottom:10px;
}
.delivery-network-text{
    font-family: Arial;
}
.delivery-network-header{
    font-family: "din-med",Droid Sans,Helvetica Narrow;
    font-size: 12px;
    line-height: 30px;
    clear: both;
    color: black;
    font-weight: medium;
    text-transform: uppercase;
}
.mk-product-option-cont {
    display: inline-block;
    padding-bottom: 10px;
    max-width: 230px;
}
.mk-product-option-cont ul li {
    float: left;
}
.notify-cancel{
    line-height: 35px;
}
.combo-pdp-block {
    background: none repeat scroll 0 0 #F2F2F2;
    margin: 5px 0;
    padding: 5px 0;
}
.mk-product-disclaimer-container{
    padding: 5px 0;
    margin-bottom: 5px;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}
.mk-product-disclaimer{
    color: #808080;
    font-size:12px;
    margin:0 auto;
}
.m-product-reco h3{
    padding-bottom:10px;
    padding-top:5px;
}
.caroufredsel_wrapper{
    margin-bottom:10px;
}
.para {
    font-family: arial;
    text-transform: none;
}

/* PDP Zoom Styles - Start */

#zoom-wrapper{
    background: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFFFF;
    z-index: 10000;
    display: none;
}


#zoom-wrapper .close{
    width: 150px;
    margin: auto;
    padding: 10px 0px;
    background: #333333;
    position: absolute;
    color: #FFFFFF;
    z-index: 10003;
    text-align: center;
}

.zoom-tooltip {
    background: #000000;
    position: relative;
    bottom:125px;
    text-align: center;
    color: white;
    line-height: 20px;
    width: 150px;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0 auto;
}

.zoom-loader {
    display: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 35px;
    height: 29px;
    background-image: url("http://myntra.myntassets.com/skin2/images/loader_transparent.gif");
}

.mk-product-media .flex-direction-nav .flex-next, .mk-product-media .flexslider:hover .flex-next{
    right: 0px;
}

.mk-product-media .flex-direction-nav .flex-prev, .mk-product-media .flexslider:hover .flex-prev{
    left: 0px;
}

/* PDP Zoom Styles - End */
.m-product-reco.flexslider{
	margin: 0 auto 60px;
}
.m-product-reco.flexslider .flex-control-nav {
	bottom:-20px;	
}

/* Loyalty related CSS */
.icon-tick{
    background-image: url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png");
    background-position: 0 -68px;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: 4px;
}

.loyalty-widget{
    text-transform: none;
    color: #808080;
    margin-top: 5px;
    margin-bottom: 10px;
}

.loyalty-widget .lbl{
    color: #333;
}

.loyalty-widget span{

}

#vendorDetails {
    font-size: 12px;
    color: #333333;
    margin-bottom: 36px;
}

#vendorDetails div {
    padding-top: 3px;
}

#vendorDetails div span:first-child {
}

#vendorDetails div span:last-child {
    color: #808080;
}

#vendorDetails div span {
    text-align: center;
    padding: 2px 2px 0;
}
