/* Product Page CSS
/* media, guide, extras
---------------------------------------------- */
.mk-product-guide .mk-product-helper {
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
    bottom: 0;
    width: 545px;
    text-align: left;
    text-transform: none;
    padding-bottom: 5px;    
}

.mk-product-guide .mk-product-helper .desc-type-title {
    text-transform:uppercase;
    font:14px/26px "din-med", Droid Sans, Helvetica Narrow,arial,sans-serif;
}

.mk-product-guide .mk-product-helper li.desc-text.desc-text-styling{
    border-bottom: 1px solid #d6d6d6;
    padding-left:22px;
    width:521px;
}

.mk-product-guide .mk-product-helper .open-state span.icon{
    background-position:0px -377px;
}

.mk-product-guide .mk-product-helper .close-state span.icon{
    background-position:-17px -377px;
}


.mk-product-guide .mk-product-helper .desc-text {
    line-height:20px;
    max-height:150px;
    overflow:auto;
    width:543px;
    margin:0;
    
}

.mk-product-guide .mk-product-helper .desc-text li{
    line-height:20px;
}

.mk-product-guide .mk-product-helper a {
    text-decoration: none;
    font-weight: bold;
}

.mk-product-guide .mk-product-helper a:hover {
    text-decoration: underline;
}

.bread-crumb-bottom {
    width: 360px;
    padding-top: 4px;
}
.bread-crumb-bottom li {
    font:12px/20px "din-med", Droid Sans, Helvetica Narrow;
    color:#333;
    height:20px;
    text-align:center;
}

.mk-product-guide .mk-product-helper .desc-text  strong,.mk-product-guide .mk-product-helper .desc-text  b {
    font-weight:bold;
    padding:3px 0;
    display:block;
}


.mk-product-guide .mk-product-helper li {
    font: 12px Arial;
}

.mk-product-guide .mk-product-helper li.desc-main-title {
    font: 12px/20px "din-med", Droid Sans, Helvetica Narrow;
    padding: 5px 0 3px;
    text-transform: uppercase;
    color:#808080;
}

.mk-product-guide .mk-product-helper li a {
    color: #333;
}


.mk-product-guide .or,
.product-guide .or {
        font: 14px/25px "din-med", Droid Sans, Helvetica Narrow;
}

