/* slide content animations and other styles starts here - */
.main-slide-wrapper {
    margin: 0 0 0 5px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    left:100%;
    height:100%;
    min-height:1000px;
    width:80%;
    z-index:10000;
    background:#f2f2f2;
    box-shadow: -4px 0 4px -1px #444444;
}
.main-slide-wrapper.slidein2d-anim-init{
	left:100%;
    transition: transform 500ms ease-in-out;
    -o-transition: -o-transform 500ms ease-in-out;
    -ms-transition: -ms-transform 500ms ease-in-out;
    -moz-transition: -moz-transform 500ms ease-in-out;
    -webkit-transition: -webkit-transform 500ms ease-in-out;

}
.main-slide-wrapper.slidein3d-anim-init{
	left:100%;
    transition: transform 500ms ease-in-out;
    -o-transition: -o-transform 500ms ease-in-out;
    -ms-transition: -ms-transform 500ms ease-in-out;
    -moz-transition: -moz-transform 500ms ease-in-out;
    -webkit-transition: -webkit-transform 500ms ease-in-out;
     transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0); /* IE 9 */
    -webkit-transform: translate3d(0,0,0); /* Safari and Chrome */
    -o-transform: translate3d(0,0,0); /* Opera */
    -moz-transform: translate3d(0,0,0); /* Firefox */
    -webkit-transform-style: preserve-3d; /* webkit-transform */
    -moz-transform-style: preserve-3d; /* firefox-transform */
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -webkit-perspective: 1000; /* webkit -perspective */
    -moz-perspective: 1000; /* Firefox -perspective */
}
.main-slide-wrapper.slidein-noanim-init{
	left:auto;
	right:0;
    display:none;
}
.main-slide-wrapper.slidein2d-anim{
     transform: translate(-100%,0);
    -ms-transform: translate(-100%,0); /* IE 9 */
    -webkit-transform: translate(-100%,0); /* Safari and Chrome */
    -o-transform: translate(-100%,0); /* Opera */
    -moz-transform: translate(-100%,0); /* Firefox */
     height:100%;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
}
.main-slide-wrapper.slidein3d-anim{
     transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0); /* IE 9 */
    -webkit-transform: translate3d(-100%,0,0); /* Safari and Chrome */
    -o-transform: translate3d(-100%,0,0); /* Opera */
    -moz-transform: translate3d(-100%,0,0); /* Firefox */
     height:100%;
}
.main-slide-wrapper.slidein-noanim{
     height:100%;
     display:block;
}
.content-slide-wrapper {
    position:relative;
    top: 1;
    left:0;
    background:#f2f2f2;
}
.content-slide-wrapper.content-inactive{
	display:none;
    overflow:hidden;
}
.content-slide-wrapper.content-active{
	display:block !important;
}
.content-slide-wrapper.slidedown .mod{
    width:100%;
}
.content-slide-wrapper .hd {
    color: black;
    font-family: "din-med",Droid Sans,Helvetica Narrow;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
     margin: 0 0 15px;
    padding: 0;
    position: relative;
    text-align: center;
    z-index: 5000;
    background: none repeat scroll 0 0 #D6D6D6;
}
.content-slide-wrapper .bd.mk-cf {
    margin: 0 10px;
    overflow:hidden;
}
.slide-main-content {
    transition: transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    -ms-transition: -ms-transform .5s ease-in-out;
    -moz-transition: -moz-transform .5s ease-in-out;
    -webkit-transition: -webkit-transform .5s ease-in-out;
}
.slidein2d-anim .slide-main-content {
    -moz-backface-visibility:hidden; /* Firefox */
    -webkit-backface-visibility: hidden;
}
.slidein3d-anim .slide-main-content {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:hidden; /* Firefox */
}

.slide-main-content.anim-left{
    transform: translate3d(-50%,0,0);
    -ms-transform: translate3d(-50%,0,0); /* IE 9 */
    -webkit-transform: translate3d(-50%,0,0); /* Safari and Chrome */
    -o-transform: translate3d(-50%,0,0); /* Opera */
    -moz-transform: translate3d(-50%,0,0); /* Firefox */
}
.slidein-noanim .slide-main-content.anim-left{
    transform: none;
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Safari and Chrome */
    -o-transform: none; /* Opera */
    -moz-transform: none; /* Firefox */
	left:-100%;
}
.anim-left-iphone{
    transform: translate3d(-50%,0,0);
    -ms-transform: translate3d(-50%,0,0); /* IE 9 */
    -webkit-transform: translate3d(-50%,0,0); /* Safari and Chrome */
    -o-transform: translate3d(-50%,0,0); /* Opera */
    -moz-transform: translate3d(-50%,0,0); /* Firefox */
    left:0;
}
.slide-main-content{
    width: 200%;
    position: relative;
    left: 0;
    top: 0;
    margin:0;
    -webkit-backface-visibility: hidden;
}
ul.single-step-list{
    float: left;
    padding: 10px 0;
    width: 50%;
}
ul.single-step-list li{
    border-bottom: 1px solid #d6d6d6;
    text-align: left;
    margin: 0 auto;
    color: #000;
    background:transparent;
    font-family: "din-med", Droid Sans, Helvetica Narrow;
    font-size: 12px;
    line-height: 35px;
    text-transform: uppercase;
    width: 100%;
    cursor:hand;
    overflow: hidden;
}
ul.filter-types li {
    line-height:normal;	
}

ul.filter-types li:first-child {
    border-top: 1px solid #D6D6D6;
}
ul.single-step-list li:active {
    background: #d6d6d6;
}
.slide-main-content .link-details{
    color: #000000;
    left: 50%;
    padding-bottom: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50%;
}
ul.single-step-list li .prompt , ul.single-step-list li .anim-link{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    line-height:35px;
    float:left;
    text-align: left;
    width: 95%;
    position: relative;
    z-index: 1001;
}
ul.single-step-list .mk-level1-arrownav {
    margin-top: 14px;
}

.content-slide-wrapper .back-img{
    background: url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v14.png") no-repeat scroll -221px -17px transparent;
    float: left;
    height: 14px;
    margin-left: 11px;
    margin-top: 10px;
    width: 9px;
}

.content-slide-wrapper .back{
    height: 35px;
    margin-left: 4px;
    position: absolute;
    width: 35px;
}
.anim-link {
    position:relative;
    top:0;
    left:0;
    z-index:2001;   
}
.close-wrapper {
    display: block;
    height: 21px;
    padding: 10px;
    position: absolute;
    right: 2px;
    top: 0;
    width: 24px;
    z-index: 20001;
}
.btn-close {
    background-image: url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v14.png");
    background-position: -217px 1px;
    background-repeat: no-repeat;
    display: block;
    height: 17px;
    margin: 0 auto;
    width: 20px;
}
.content-slide-wrapper .more-filters-wrapper .back {
    border-right-style:none;
}
.content-slide-wrapper .more-filters-wrapper .back-img {
    margin-left:5px;
}
.pull-down-wrapper {
    background-color: #ffffff;
    border-bottom: 2px solid #C6C6C6;
    box-shadow: 0 5px 2px 0 #D6D6D6;
    display: inline-block;
    margin: auto;
    padding: 1px 21px;
    position: relative;
    z-index: 10;
    top: 37px;
}
.pull-down-wrapper:active {
    background-color: #d6d6d6;
}
.pull-down-marker{
    background: url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/sprite-mobile-global_v14.png") no-repeat scroll -230px -35px transparent;
    height: 12px;
    margin: auto;
    width: 20px;
}
.content-slide-wrapper .loading{
    display: none;
    position: absolute;
    border-radius: 5px;
    left: 0px;
    top: 2px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url("http://myntra.myntassets.com/skinmobile/images/loader_transparent.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: .9;
    filter: alpha(opacity = 90);
    z-index: 1002;
}
.secure .content-slide-wrapper .loading {
    background-image:url("https://d6kkp3rk1o2kk.cloudfront.net/skinmobile/images/loader_transparent.gif");
}
