.m-search-page-header, .m-search-sort-filter{
    text-align: center;
}
.mk-more-products-link:visited, .mk-more-products-link:hover{
    color: #333;
}
.mk-infscroll-loader{
    margin-bottom: 10px;
}
.mk-more-products-link{
    display: block;
    color: #333;
    line-height: 30px;
    padding-top: 5px;
}
.filter-wrapper .bd.mk-cf {
    padding-bottom: 30px;
}
.sort-wrapper .bd.mk-cf {
    padding-bottom: 16px;
}
.more-products-loading-indicator{
    display:block;
    text-align: center;
}

.mk-prod-sizes, .mk-prod-name, .mk-prod-brand-name, .mk-prod-price, .mk-discount{
    font-size:12px;
    font-family: "din-med", Droid Sans, Helvetica Narrow;
    text-align: center;
    display:block;    
}
.mk-discount, .mk-prod-sizes{
    font-size:10px;   
}
.mk-sub-text{
    color:#808080;
    font-size:14px;
}
.mk-help-text{
    font-size:12px;
    line-height: 20px;
}
.mk-no-results-sub-section-first{
    padding-bottom:20px;
}
.mk-no-results-sub-section-second{
    padding-bottom:10px;
}
.mk-no-results-sub-section-third{
    padding-top:30px;
    padding-bottom:30px;
}
.filters-sort-section{
    margin-bottom:10px;
}
.filters-sort-section button{
    width:140px;
    padding: 2px 0px 0px 10px;
    text-align: left;
}
#lb-filters .mod{
    height:300px;
}
.mk-product-sort li:first-child{
    border-top: 1px #d6d6d6 solid;
}
.mk-product-sort li{
    display: block;
    text-align: left;
    border-bottom: 1px #d6d6d6 solid;
    padding:3px 0;
    line-height: 30px;
}
.mk-product-sort {
    padding-bottom: 10px;
}
.mk-product-sort li a{
    font-size:12px;
}
.mk-product-sort li.mk-sort-selected .opt{
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -116px -39px transparent;
}
.mk-product-sort li .opt{
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -87px -39px transparent;
}
.opt{
    width: 24px;
    height: 24px;
    display:block;
    float:left;
    margin: 2px 5px 0px 0px;
    
}
.filters-icon.selected{
    background-position:-455px 0px;    
}
.filters-icon{
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -434px 0px transparent;    
    width: 16px;
    height: 16px;
    display:block;
    float:right;
    margin-right: 10px;
    margin-top: 5px; 
}
.mk-filter-selected .filters-icon{
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -455px 0px transparent;
}
.cbx{
    display: block;
    float: left;
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -29px -39px transparent;    
    height: 25px;
    margin-right: 5px;
    margin-top: 2px;
    width: 25px;
}
.unchecked .cbx{
    background-position:0px -39px;
}
.disabled .cbx{
    background-position:-58px -39px;
}

.rbtn{
    display: block;
    float: left;
    background: url('http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png') no-repeat -116px -39px transparent;    
    height: 25px;
    margin-right: 5px;
    margin-top: 2px;
    width: 25px;
}
.unchecked .rbtn{
    background-position:-87px -39px;
}
.disabled .rbtn{
    background-position:-145px -39px;
}

.mk-labelx_check{ 
    display: block;     
    padding: 2px 0;
    text-align:left;
    line-height:32px;
    height:28px;
    border-bottom:1px solid #d6d6d6;
}
.mk-labelx_check.disabled{
    color:#808080;
}
.filter-types li .selected{
    bottom: 6px;
    color: #808080;
    font-size: 10px;
    height: 1px;
    line-height: 0;
    position: relative;
    z-index: 0;
    width:100%;
    float:left;
}
.filter-types li{
    text-align:left;
    border-bottom:1px solid #d6d6d6;
    color:#333;
}
.mk-filter-product-count{
    color:#808080;
}
.mk-clear-brands-input {
    width: 20px;
    height: 20px;   
    background-image: url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png");
    right: 3%;
    top: 8px;
    background-position: -325px 0px;
    position: absolute;
    cursor: pointer;
    z-index:2000;
}
#mk-brands{
    position:static;
}
.mk-brands-filter-input{
	height:35px;
    position:relative;
    margin:2px auto;
}
input[type="text"].brands-autocomplete-input{
    display:block;
    z-index:2000;
    color: #333;
    height: 31px;
    padding: 2px 2px 0;
    margin: 44px auto 5px;
    width: 97%;
    font: 12px/25px "din-med", Droid Sans, Helvetica Narrow;
    text-transform: uppercase;
    position: relative;
}
.back-btn{
    background:
        url("http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png")
        no-repeat scroll -221px -17px transparent;
    float: left;
    height: 12px;
    width: 6px;
}
.back-btn-cnt{
    display:none;
}
.filter-header{
    height: 35px;
    margin-bottom: 1px;
    position: absolute;
    top: -14px;
    width: 100%;
}
.types-header{
    height: 35px;
    position: absolute;
    top: -18px;
    width: 100%;
}
.filter-content-wrapper, .filter-types-wrapper #filter-types{
    position: relative;
    top: 32px;
}
.mk-filter-wrapper, .mk-filter-content{
    width:100%;
    margin-top: 5px;

}
.brands-types.filter-content.link-details{
    padding-bottom:100px;
}
#mk-brands {
    margin-top: -26px;
    width: 100%;
}
.mk-clear-all-filters,.mk-clear-filter{
    display:block;
    color:#4490A5;
    padding: 24px 1% 3px;
}
.filter-type-name{
    color:#808080;
}
.mk-color-swatch {
    background: url(http://myntra.myntassets.com/skinmobile/images/sprite-mobile-global_v16.png) no-repeat;
    width: 12px;
    height: 11px;
    display: block;
    margin: 8px 5px 0 0;
    float: left;
}

@-webkit-keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.txt-loading {
    text-align: center; 
}

.txt-loading span {
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: opacity;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
}

.txt-loading span:nth-child(2) {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
}

.txt-loading span:nth-child(3) {
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
}

#sort-btn{
    margin-right:10px;
}

.m-search-page-header h1{
    font-size:16px;
}

.m-search-page-header h1 a, .m-search-page-header h1 a:visited, .m-search-page-header h1 a:hover{
    color: #4490a5;
    line-height:24px;
}

.mk-product-count{
    margin-bottom: 5px;
    line-height: 16px;
}

.mk-loader{
    color: #808080;
    left: 0;
    padding-left: 1%;
    padding-top: 13px;
    top: 0;
    margin-top: 12px;
}
.search-filters {
    width:200%;
    position:relative;
    left:0;
    top:0;  
}
.search-filters .filter-types-wrapper{
    position:relative;
    left:0;
    top:0;
    width:50%;
}
.more-filters-wrapper {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: 0 2%;
}
.more-filters {
    color: black;
    font-family: "din-med",Droid Sans,Helvetica Narrow;
    font-size: 12px;
    padding-right: 0;
    float:right;
}

.btn-show-filter-results, .btn-show-sort-results{
    margin: 0 -50px;
    position: absolute;
    width: 100px;
    z-index: 100002;
    left: 50%;
    height:28px;
}
.show-results-wrapper{
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #d6d6d6;
    display: block;
    height: 30px;
    width: 100%;
}
.filter-content.link-details {
    margin-top: -34px;
}
@media only screen and (min-width:1px) and (max-width:479px) {
    .mk-labelx_check {
        margin: 0 auto;
        text-align: left;
        width: 100%;
   }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .mk-labelx_check {
        float: left;
        margin: 0 1%;
        text-align: left;
        width: 48%;
   }
}
@media only screen and (min-width: 768px) {
    .mk-labelx_check {
        float: left;
        margin: 0 1%;
        text-align: left;
        width: 31%;
   }
}
