.mk-product{
    float:left;
    width: 120px;
    height:240px;
    margin:0px 10px 10px 0px;
    padding:0 10px 0 10px;
    overflow:hidden;
}

.mk-product img{
    width:120px;
    height:160px;
    padding-bottom:5px;
}

.mk-prod-name {
    display: block;
    padding: 0 4px;
    color: gray;
}

.mk-prod-brand-name {
    color: black;
}

.strike {
    text-decoration: line-through;
}

.mk-discount {
    display: block;
    padding: 0 4px;
}  

.gray{
    color: #808080;
}

.red {
    color: #D14747;
}

.mk-product {
    font: 12px "din-med", Droid Sans, Helvetica Narrow;
}

.mk-prod-price {
    display: block;
    padding: 0 4px;
    text-transform: none;
}

.tooltip-content {
    color: gray;
    padding: 0 4px;
}

.mk-prod-list {
    width:290px;
    margin:0 auto;
    padding:0;
}

@media only screen and (min-width: 320px) and (max-width: 469px){
    /* standard nth */
    .mk-prod-list li:nth-child(2n+2)
    {
        /* styles for the 3rd LI */
        margin-right:0;
    }
}
@media only screen and (min-width: 470px) and (max-width: 619px){
    .mk-prod-list{
        width:440px;
    }

    /* standard nth */
    .mk-prod-list li:nth-child(3n+3)
    {
        /* styles for the 3rd LI */
        margin-right:0;
    }
}

@media only screen and (min-width: 620px) and (max-width: 769px){
    .mk-prod-list{
        width:590px;
    }

    /* standard nth */
    .mk-prod-list li:nth-child(4n+4)
    {
        /* styles for the 3rd LI */
        margin-right:0;
    }
}

@media only screen and (min-width: 770px) and (max-width: 919px){
    .mk-prod-list{
        width:740px;
    }   
    /* standard nth */
    .mk-prod-list li:nth-child(5n+5)
    {
        /* styles for the 3rd LI */
        margin-right:0;
    }
}

@media only screen and (min-width: 920px) and (max-width: 1069px){
    .mk-prod-list{
        width:890px;
    }  
    /* standard nth */
    .mk-prod-list li:nth-child(6n+6)
    {
        /* styles for the 3rd LI */
        margin-right:0;
    }
}

@media only screen and (min-width: 1070px){
    .mk-prod-list{
        width:1040px;
    }   
    /* standard nth */
    .mk-prod-list li:nth-child(7n+7)
    {
        /* styles for the 3rd LI */
        margin-right:0;
    }

}