#sizechart a.disabled {
    visibility: hidden !important;
    display:block !important;
}
#sizechart-new,#sizechart-old {
    cursor: pointer;
    line-height: 25px;
    height: 25px;
    margin: 0 auto;
    font-size:12px;
    padding:0;
}
#lb-sizechart, #lb-sizechart-old {
    display:none;
}
#jealous-fit-guide { /*for the button*/
    cursor: pointer;
    line-height: 25px;
    height: 25px;
    margin: 0 auto;
    font-size:12px;
    color:#808080;
    padding:0;
}
/* for the pop up window */
.jealous-fitguide-table{
    padding: 10px 20px;
    text-align: center;
}

.jealous-fitguide-table tr td,
.jealous-fitguide-talbe tr th {
    padding: 8px 8px;
    border-collapse:collapse;
    text-align: center;
    vertical-align: top;
    
}
.jealous-fitguide-table .first{
    background-color:#A9A9A9;
}
.jealous-fitguide-table .even{
     background-color:#F5F5F5;
}
.jealous-fitguide-table tr span{
    font-size:10px;
    color: LightSlateGray ;
}
.jealous-fitguide-info{
    text-align: center;
    padding: 5px;
}


/* new pop up box */

.fitguidebox .mod{
    width:890px;
    min-height: 500px;
    font-size:12px;
}

.fitguidebox .hd .title {
    font-size:25px;
    zoom: 1;
}
.fitguidebox .hd .tag {
    font-size:12px;
}
.fit-info ul{
    text-align:center;
    color: #666666;
    text-transform:capitalize;
    margin-top:40px;
    margin-left:30px;
}
.fit-table{
    width:100%;
}

.fit-info .footer_text{
    text-align:center;
}
.fit-info{
    max-width: 460px;
}
/* paroksh end */
#measurement-box {
    height: 400px;
    margin: 0 auto;
    position: relative;
    width: 290px;
    display:inline-block;
}


#lb-sizechart {
    overflow: hidden;
    height: 1000px;
}

#lb-sizechart .hd {
    padding:0 30px 8px;
    height: auto;
}
#lb-sizechart .hd h2{
    font-size: 14px;
    line-height: 20px;
    padding: 7px 0 0;
    width: 100%;
}
#lb-sizechart .mod{
    overflow:hidden;
    position: relative;
    margin: 0px auto;
    min-height: 470px;
}
#lb-sizechart .close-wrapper{
    right: -5px;
    top: 0;
}
#lb-sizechart .ft {
    margin: 10px 0 0px;
    padding: 0 20px 0 0;
    font-size: 12px; 
    color: #808080;
    text-align: center;
    text-transform: none;
    font-family: arial, sans-serif;
    line-height: 15px;
    position: absolute;
    left: 24px;
    bottom: 90px;
    width: 290px;
    display: none;
}

#size-select {
    padding-left: 0px;
}

.size-val .rs-carousel-mask,.rowCont .size-scroll-btns ul{
    color: #000;
    border-top: solid 1px #e3e3e3;
    background-color: #b8b8b8;
    background-image: -webkit-linear-gradient(top,#e3e3e3,#b8b8b8);
    /* @alternate */ background-image: -moz-linear-gradient(top,#e3e3e3,#b8b8b8);
    /* @alternate */ background-image: -ms-linear-gradient(top,#e3e3e3,#b8b8b8);
    /* @alternate */ background-image: -o-linear-gradient(top,#e3e3e3,#b8b8b8);
}
.size-val-sel, .size-val-sel-inactive {
    color: #fff;
    background-color: #666;
    background-image: -webkit-linear-gradient(top,#666,#000);
    /* @alternate */ background-image: -moz-linear-gradient(top,#666,#000);
    /* @alternate */ background-image: -ms-linear-gradient(top,#666,#000);
    /* @alternate */ background-image: -o-linear-gradient(top,#666,#000);
}
.size-val .item {
    background-color: #e3e3e3;
}

.size-val li:hover {
    color: #000;
    border-top: none;
    background-color: #e3e3e3;
    background-image: -webkit-linear-gradient(top,#b8b8b8,#e3e3e3);
    /* @alternate */ background-image: -moz-linear-gradient(top,#b8b8b8,#e3e3e3);
    /* @alternate */ background-image: -ms-linear-gradient(top,#b8b8b8,#e3e3e3);
    /* @alternate */ background-image: -o-linear-gradient(top,#b8b8b8,#e3e3e3);
}
.size-val .size-val-sel:hover, .size-val .size-val-sel-inactive:hover {
    color: #fff;
    background-color: #666;
    background-image: -webkit-linear-gradient(top,#666,#000);
    /* @alternate */ background-image: -moz-linear-gradient(top,#666,#000);
    /* @alternate */ background-image: -ms-linear-gradient(top,#666,#000);
    /* @alternate */ background-image: -o-linear-gradient(top,#666,#000);
}
.lb-sizechart .bd {
    position: relative;
    overflow:hidden;
}
.lb-sizechart ul {
    padding: 0;
    width: auto;
    margin: 0 auto;
    list-style-type: none;
}
.lb-sizechart ul li {
    float: left;
    list-style-type: none;
    width: 30px;
    text-align: center;
    padding: 9px 0;
    border-right: solid 1px #f2f2f2;
    cursor: pointer;
    position: relative;
    font-size:12px;
}
.lb-sizechart ul li.no-border {
    border: none;
}
.lb-sizechart ul li.size-label {
    width: 120px;
    text-align: left;
}
.lb-sizechart ul li.size-inactive {
    color: #999;
    cursor: pointer;
    text-decoration: line-through;
}
.lb-sizechart ul li.size-val-sel-inactive {
    color: #fff;
}
.out-of-stock {
    display: block;
    position:relative;
    height: 22px;
    text-align: center;
    width: 276px;
    visibility: hidden;
    padding-top: 6px;
    font-size: 10px;
    margin: 0 auto;
    color: red
}
.visible {
    visibility: visible;
}
.lb-sizechart .equi-sizes li {
    cursor: auto;
}
.odd li {
    background: #f2f2f2;
}
#sub-btn {
    float: right;
    width: 100%;
    text-align: center;
    margin: 10px 0 10px;
}
.sub-btn {
    display: block;
    width: 180px;
    margin:0 auto;
 
}

.measure-info {
    padding: 3px 0 0;
    position: relative;
    zoom: 100%;
}
.measure-info span{
    color: #333;
    cursor: pointer;
    text-decoration:underline;
}

.measure-info p {
    color: #999;
    font-size: 11px;
    margin: 8px 0 0;
    font-family:arial;
    text-transform:none;
}

.lft-cont {
    width: 290px;
    float:left;
}
.rgt-cont {
    width: 290px;
    position: relative;
    height: 500px;
    float:right;
}
.size-label {
    height:23px;
    padding: 21px 0 3px;
    width: 30%;
}
.size-scroll-btns .mask,.rowCont .size-scroll-btns ul{
    float: left;
    margin:0;
    width: auto;
}
.size-scrollable {
    position:relative;
    left: 12px;
    width: 152px;
    padding-top: 10px;
}
.rowCont {display:block;}
.rowCont .size-scrollable {
    float: left;
    height: 35px;
    left: 5px;
    margin: 1px !important;
    width: 151px !important;
}

.size-scroll-equi {
    left: 12px;
    height:35px !important;
}
.size-scrollable .size-items {
    clear: both;
    left:0;
    height:35px !important;
}
.size-scrollable-box, .size-non-scrollable-box {
    margin: 0 0 4px;
    float: left;
    position:relative;
}
div.size-scrollable-box {
    float:none;
    width: 100%;
    margin: 4px auto;
}
.measurement {
    display: block;
    height: 20px;
    width: auto;
    position: absolute;
    text-align: center;
    font-weight:normal;
    font-size:13px;
    text-transform:none;
    z-index: 3;
}
.apparel-text {
    color: #666;
}
.foot-size {
    position: absolute;
    z-index: 10;
    left: 5px;
    top: 3px;
    font-size: 11px;
}
.size-image {
    z-index: 2;
    height: 400px;
    width: 290px;
    display: block;
    position: absolute;
    top: 0px;
    left: -30px;
}

.main-image {
    width: 290px;
    height: 390px;
    display: block;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    background-position: -30px 0;
    z-index: 1;
}
.brand-logo-cont {
    display:none;
    position:relative;
    bottom:15px;
    width:100%;
    margin:0px auto;
}

.box-type {
    color:#666;
    font-size:14px;
    padding:8px 0 0;
}
#tab-list {
    min-height: 200px;
    font-weight: bold;
    display:inline-block;
}

.tab-btns {
    margin-bottom: 25px;
    padding-top: 10px;
}
.tab-btns ul {
    width: 290px;
}
.tab-btns ul li { 
    height: 16px;
    padding: 1% 2% !important;
    width: 44% !important;
}

.tab {
    margin-top: 15px;
}
.tab-btns ul li.disabled-tab {
    width:28px!important;
    cursor: default;
    border-bottom: 1px solid #D6D6D6; 
    background-color: #F2F2F2; 
    display: none;
}
.link-tab {
    text-shadow: 1px 1px #F2F2F2; 
    background-color: #F2F2F2; 
    text-decoration: underline;
    border-top: none;
    border-bottom: 1px solid #D6D6D6;
}
.active-tab {
    cursor: default!important;
    border-top: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6 !important;
    border-left: 1px solid #D6D6D6;
    border-bottom: none;
}
.measure-guide {
    width: 260px;
    border-bottom: 1px dotted #b3b3b3;
    padding: 6px 20px 6px 6px;
    margin: 25px auto;
}
.measure-guide ul {
    font-family: arial,sans-serif;
    margin: 0 0 5px 0;
    width: auto;
}
.measure-guide div {
    text-align: left;
    font-size: 12px;
    color: #666;
    margin: 6px 0;
}
.measure-guide ul li {
    float: none;
    text-transform: none;
    text-align: left;
    padding: 1px;
    border: 0px;
    font-size: 12px;
    list-style-type: disc;
    color: #666;
    cursor: default!important;
    width: 100%;
    margin-left: 17px;
}
.measurement-type-text {
    font-family: Arial;
    position: relative;    
    z-index: 3;
    color: #333;
    font-size: 10px;
    text-align: center;
    text-transform: none;
    line-height: 16px;
    width: 260px;
    display:inline-block;
    padding: 10px;
}

#lb-sizechart-old img {
    width: 100%;
}

#lb-sizechart-old {
    width: 100%;
}
#lb-sizechart-old .mod {
    width: 100%;
}
#lb-sizechart-old .mod .bd {
    padding: 0px;
    margin: 0 auto;
}
#size-scrollable_1 .caroufredsel_wrapper, #size-scrollable_2 .caroufredsel_wrapper,#size-scrollable_3 .caroufredsel_wrapper,#size-scrollable_4 .caroufredsel_wrapper{
    width:137px !important;
}

#size-scrollable_1 .prev-icon {
    left: 15px;
}
.size-scroll-equi .flex-direction-nav .flex-next, .size-scroll-equi .flex-direction-nav .flex-prev{
    display:none;
}
    
#size-scrollable_1 .flex-direction-nav{
    margin-top: -25px;
}
    
.size-scrollable .flex-direction-nav li{
    float: none;
    width: auto;
    text-align: left;
    padding: 0;
}
