
.address-page .address-list-box .list {
    margin:0;
    max-height:300px;
    overflow:auto;
}
.address-page .address-list-box .list .no-data {
	color: #d14747;
    text-align:center;
}

.address-page .address-form-box form {
    margin: 0 auto;
    width: 502px;
}

.address-page .page-action .btn {
    width:200px;
}

.address-page .new-address-msg,
.address-page .info-msg {
	font-size: 14px;
	text-align: center;
	padding: 15px 0 20px;
	color: #000;
}

.address-page .info-msg { padding: 20px 0 10px; }

.address-page .grey {
	color: #808080;
	padding: 10px 0;
}
