
.address-list-box .no-data {
    padding:50px 0;
}
.address-list-box .list {
    margin: 0 60px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.address-list-box .items {
    border:0 none;
    border-collapse:collapse;
    width:100%;
}
.address-list-box .items tr {
}
.address-list-box .items .even {
    background:#f2f2f2;
}
.address-list-box .items td {
    padding:10px;
}
.address-list-box .items td.action {
    text-align:right;
}
.address-list-box .items td.action .buttons {
    border-left:1px solid #d6d6d6;
    display:inline-block;
    padding:10px 0 10px 10px;
    width: 90px;
}
.address-list-box .items td.action .sep {
    color:#808080;
    vertical-align:middle;
    *padding:0 5px 0 3px;
}
.address-list-box .items td.action .link-btn {
    vertical-align:middle;
    line-height:1;
}
.address-list-box .items td.action .set-default {
    display:block;
}
.address-list-box .items td.action .is-default {
    display:block;
    color:#808080;
}
.address-list-box .items .opt {
    width:40px;
}
.address-list-box .items .address {
    text-align:left;
    text-transform:none;
    font: 12px/15px Arial;
    cursor: pointer;
}
.address-list-box .items .lbl {
    color:#808080;
}
.address-list-box .btn-save {
    margin-right:10px;
}

.address-list-box .list .address strong {
	font-weight: bold;
} 