
.address-form-box form {
    text-align:left;
    margin: 0 auto;
    width: 504px;
}
.address-form-box input[name="pincode"],
.address-form-box input[name="city"],
.address-form-box input[name="state-txt"],
.address-form-box input[name="mobile"] {
	width: 224px;
}
.address-form-box textarea,
.address-form-box input[name="name"],
.address-form-box input[name="yourname"],
.address-form-box input[name="locality"],
.address-form-box input[name="email"] {
    width: 484px;
}

.address-form-box input[name="account-name"],
.address-form-box input[name="account-number"],
.address-form-box input[name="re-account-number"],
.address-form-box input[name="bank-name"],
.address-form-box input[name="branch"] {
    width: 484px;
}

.address-form-box select[name="sel-city"] {
    width: 240px;
}
.address-form-box input[name="city"][disabled],
.address-form-box input[name="state-txt"][disabled] {
	color: #333;
}

.address-form-box select.error,
.address-form-box input.error,
.address-form-box textarea.error {
    color:#000;
    border:1px solid #D14747;
}

.address-form-box .row .col:first-child {
	margin-right: 20px;
}

.address-form-box select.state {
	width: 240px;
}

.address-form-box .row {
    padding: 0 0 10px;
    overflow:hidden;
    zoom:1;
}
.address-form-box .row label {
    display: block;
    line-height: 20px;
}
.address-form-box .row .col {
    width: 240px;
    float: left;
}
.address-form-box .row .err {
    color: #d14747;
    margin:0;
    clear:both;
    padding-top: 2px;
}
.address-form-box .row .note {
    color: #999;
    float:right;
    width:300px;
    margin:0;
}
.address-form-box .pin-warn {
    padding: 10px 0 10px 42px;
    color: #b40404;
    display: none;
}
.address-form-box .pin-warn .ico {
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: -24px -396px;
    height: 32px;
    width: 32px;
    float: left;
    margin-left: -36px;
    padding: 0;
}
.secure .address-form-box .pin-warn .ico {
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}
.address-form-box .btn-save {
    margin-right:10px;
}

.address-form-box .ac_loading {
    background-image: url("http://myntra.myntassets.com/skin2/images/loader_transparent.gif");
    background-repeat:no-repeat;
    background-position:center center;
}
.secure .address-form-box .ac_loading {
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/loader_transparent.gif");
    background-repeat:no-repeat;
    background-position:center center;
}
.ui-autocomplete {
    position:absolute;
    cursor:default;
}

.address-form-box .ft {
	text-align: center;
	height: 75px;
}

.address-form-box .ft .note {
	position: absolute;
	bottom: 25px;
	float: none;
}
