#header-logout-form {
  display: none;
}
body .rupees {
  text-transform: none;
  display: inline;
}
.green {
  color: #00b060;
}
.red {
  color: #d14747;
}
.gray {
  color: #808080;
}
.l-gray {
  color: #b5b5b5;
}
.d-gray {
  color: #333;
}
.myntra-tooltip {
  padding: 10px;
  border: 3px solid #d6d6d6;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: -500px;
  left: 0;
  width: 200px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 3px #666;
  -webkit-box-shadow: 0 1px 3px #666;
  box-shadow: 0 1px 3px #666;
  font-size: 12px;
  text-align: center;
  z-index: 1006;
}
.myntra-tooltip .arrow {
  border-style: solid;
  position: absolute;
  width: 0;
  height: 0;
}
.myntra-tooltip .arrow-top-outer {
  border-color: transparent transparent #d6d6d6;
  border-width: 0 12px 12px;
  left: 50%;
  top: -15px;
}
.myntra-tooltip .arrow-top-inner {
  border-color: transparent transparent #fff;
  border-width: 0 9px 9px;
  left: 50%;
  top: -9px;
}
.myntra-tooltip .arrow-bottom-outer {
  border-color: #d6d6d6 transparent transparent;
  border-width: 12px 12px 0;
  left: 50%;
  bottom: -15px;
}
.myntra-tooltip .arrow-bottom-inner {
  border-color: #fff transparent transparent;
  border-width: 9px 9px 0;
  left: 50%;
  bottom: -9px;
}
.myntra-tooltip .arrow-left-outer {
  border-color: transparent #d6d6d6 transparent transparent;
  border-width: 12px 12px 12px 0;
  top: 25px;
  left: -15px;
}
.myntra-tooltip .arrow-left-inner {
  border-color: transparent #fff transparent transparent;
  border-width: 9px 9px 9px 0;
  top: 25px;
  left: -9px;
}
.myntra-tooltip .arrow-right-outer {
  border-color: transparent transparent transparent #d6d6d6;
  border-width: 12px 0 12px 12px;
  top: 25px;
  right: -15px;
}
.myntra-tooltip .arrow-right-inner {
  border-color: transparent transparent transparent #fff;
  border-width: 9px 0 9px 9px;
  top: 25px;
  right: -9px;
}
.feature-tooltip {
  background-color: #333;
  border-color: #333;
  -moz-box-shadow: 1px 1px 6px #333;
  -webkit-box-shadow: 1px 1px 6px #333;
  box-shadow: 1px 1px 6px #333;
  padding: 5px;
  max-width: 170px;
}
.feature-tooltip .hd {
  font-size: 14px;
  line-height: 25px;
  padding-bottom: 5px;
  color: #fff;
}
.feature-tooltip .bd {
  font: 12px/18px arial,sans-serif;
  text-transform: none;
  color: #d6d6d6;
}
.feature-tooltip .arrow-top-outer, .feature-tooltip .arrow-top-inner {
  border-color: transparent transparent #333;
}
.feature-tooltip .arrow-bottom-outer, .feature-tooltip .arrow-bottom-inner {
  border-color: #333 transparent transparent;
}
.feature-tooltip .arrow-left-outer, .feature-tooltip .arrow-left-inner {
  border-color: transparent #333 transparent transparent;
}
.feature-tooltip .arrow-right-outer, .feature-tooltip .arrow-right-inner {
  border-color: transparent transparent transparent #333;
}
.feature-tooltip .close {
  height: 10px;
  width: 10px;
  position: absolute;
  left: 165px;
  top: 3px;
  background: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png') no-repeat 0 -256px transparent;
  cursor: pointer;
}
.secure .feature-tooltip .close {
  background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") no-repeat 0 -256px transparent;
}
.btn {
  display: inline-block;
  font: 14px/26px "din-med",arial,sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: 5px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow: 1px 1px 1px #999;
  -webkit-box-shadow: 1px 1px 1px #999;
  box-shadow: 1px 1px 1px #999;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.disabled-btn, .btn[disabled] {
  cursor: auto;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.disabled-btn *, .btn[disabled] * {
  pointer-events: none;
}
.btn:focus {
  outline: none;
}
.normal-btn, .mk-custom-drop-down .jqTransformSelectWrapper span {
  color: #333;
  background-color: #b3b3b3;
  background-image: -webkit-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -moz-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -ms-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -o-linear-gradient(top,#e6e6e6,#b3b3b3);
}
.normal-btn:focus, .normal-btn:hover, .mk-custom-drop-down .jqTransformSelectWrapper span.focus, .mk-custom-drop-down .jqTransformSelectWrapper span:hover {
  background-color: #e6e6e6;
  background-image: -webkit-linear-gradient(top,#b3b3b3,#e6e6e6);
  background-image: -moz-linear-gradient(top,#b3b3b3,#e6e6e6);
  background-image: -ms-linear-gradient(top,#b3b3b3,#e6e6e6);
  background-image: -o-linear-gradient(top,#b3b3b3,#e6e6e6);
}
.normal-btn.disabled-btn, .normal-btn[disabled] {
  color: #808080;
}
.normal-btn.disabled-btn:hover, .normal-btn[disabled]:hover {
  background-color: #b3b3b3;
  background-image: -webkit-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -moz-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -ms-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -o-linear-gradient(top,#e6e6e6,#b3b3b3);
}
.pdp-shop-by-btn {
  color: #fff;
  text-shadow: 1px 1px #000;
  background-color: #000;
  background-image: -webkit-linear-gradient(top,#333333,#000000);
  background-image: -moz-linear-gradient(top,#333333,#000000);
  background-image: -ms-linear-gradient(top,#333333,#000000);
  background-image: -o-linear-gradient(top,#333333,#000000);
}
.pdp-shop-by-btn:focus, .pdp-shop-by-btn:hover {
  background-color: #333;
  background-image: -webkit-linear-gradient(top,#000000,#333333);
  background-image: -moz-linear-gradient(top,#000000,#333333);
  background-image: -ms-linear-gradient(top,#000000,#333333);
  background-image: -o-linear-gradient(top,#000000,#333333);
}
.size-btn {
  color: #333;
  background-color: #b3b3b3;
  background-image: -webkit-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -moz-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -ms-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -o-linear-gradient(top,#e6e6e6,#b3b3b3);
}
.size-btn:hover, .size-btn:focus {
  background-color: #e6e6e6;
  background-image: -webkit-linear-gradient(top,#b3b3b3,#e6e6e6);
  background-image: -moz-linear-gradient(top,#b3b3b3,#e6e6e6);
  background-image: -ms-linear-gradient(top,#b3b3b3,#e6e6e6);
  background-image: -o-linear-gradient(top,#b3b3b3,#e6e6e6);
}
.size-btn.selected {
  color: #fff;
  background-color: #000;
  background-image: -webkit-linear-gradient(top,#333333,#000000);
  background-image: -moz-linear-gradient(top,#333333,#000000);
  background-image: -ms-linear-gradient(top,#333333,#000000);
  background-image: -o-linear-gradient(top,#333333,#000000);
}
.size-btn.selected:hover .size-btn.selected:focus {
  background-color: #333;
  background-image: -webkit-linear-gradient(top,#000000,#333333);
  background-image: -moz-linear-gradient(top,#000000,#333333);
  background-image: -ms-linear-gradient(top,#000000,#333333);
  background-image: -o-linear-gradient(top,#000000,#333333);
}
.size-btn.unavailable {
  color: #808080;
  position: relative;
}
.size-btn.unavailable .strike {
  height: 1px;
  width: 100%;
  display: block;
  background: #808080;
  position: absolute;
  left: 0;
  top: 50%;
}
.primary-btn {
  color: #fff;
  background-color: #f27521;
  background-image: -webkit-linear-gradient(top,#f2a54d,#f27521);
  background-image: -moz-linear-gradient(top,#f2a54d,#f27521);
  background-image: -ms-linear-gradient(top,#f2a54d,#f27521);
  background-image: -o-linear-gradient(top,#f2a54d,#f27521);
}
.primary-btn:focus, .primary-btn:hover {
  background-color: #f2a54d;
  background-image: -webkit-linear-gradient(top,#f27521,#f2a54d);
  background-image: -moz-linear-gradient(top,#f27521,#f2a54d);
  background-image: -ms-linear-gradient(top,#f27521,#f2a54d);
  background-image: -o-linear-gradient(top,#f27521,#f2a54d);
}
.primary-btn.disabled-btn, .primary-btn[disabled] {
  color: #d6d6d6;
}
.primary-btn.disabled-btn:hover, .primary-btn[disabled]:hover {
  background-color: #f27521;
  background-image: -webkit-linear-gradient(top,#f2a54d,#f27521);
  background-image: -moz-linear-gradient(top,#f2a54d,#f27521);
  background-image: -ms-linear-gradient(top,#f2a54d,#f27521);
  background-image: -o-linear-gradient(top,#f2a54d,#f27521);
}
.confirm-btn {
  color: #fff;
  background-color: #5c9a2d;
  background-image: -webkit-linear-gradient(top,#b0c362,#5c9a2d);
  background-image: -moz-linear-gradient(top,#b0c362,#5c9a2d);
  background-image: -ms-linear-gradient(top,#b0c362,#5c9a2d);
  background-image: -o-linear-gradient(top,#b0c362,#5c9a2d);
}
.confirm-btn:focus, .confirm-btn:hover {
  background-color: #b0c362;
  background-image: -webkit-linear-gradient(top,#5c9a2d,#b0c362);
  background-image: -moz-linear-gradient(top,#5c9a2d,#b0c362);
  background-image: -ms-linear-gradient(top,#5c9a2d,#b0c362);
  background-image: -o-linear-gradient(top,#5c9a2d,#b0c362);
}
.confirm-btn.disabled-btn, .confirm-btn[disabled] {
  color: #54823b;
}
.confirm-btn.disabled-btn:hover, .confirm-btn[disabled]:hover {
  background-color: #5c9a2d;
  background-image: -webkit-linear-gradient(top,#b0c362,#5c9a2d);
  background-image: -moz-linear-gradient(top,#b0c362,#5c9a2d);
  background-image: -ms-linear-gradient(top,#b0c362,#5c9a2d);
  background-image: -o-linear-gradient(top,#b0c362,#5c9a2d);
}
.selected-btn {
  color: #fff;
  background-color: #000;
  background-image: -webkit-linear-gradient(top,#666,#000);
  background-image: -moz-linear-gradient(top,#666,#000);
  background-image: -ms-linear-gradient(top,#666,#000);
  background-image: -o-linear-gradient(top,#666,#000);
}
.small-btn {
  font: 12px/15px "din-med",arial,sans-serif;
}
.link-btn {
  color: #000;
  text-decoration: underline;
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 5px 0;
  border: 0 none;
  cursor: pointer;
  font-size: 14px;
  font-family: "din-med",arial,sans-serif;
  text-transform: uppercase;
  *overflow: visible;
}
label {
  display: block;
  font: 14px/16px "din-med",arial,sans-serif;
  text-align: left;
  color: #333;
}
input[type="text"], input[type="email"], input[type="password"], textarea, select {
  -moz-box-shadow: 0 1px 2px #999 inset;
  -webkit-box-shadow: 0 1px 2px #999 inset;
  box-shadow: 0 1px 2px #999 inset;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  border: 1px solid #d6d6d6;
  color: #333;
  text-transform: none;
}
input[type="text"], input[type="email"], input[type="password"] {
  height: 19px;
}
input[type="text"].small {
  height: 14px;
  font-family: "din-med",arial,sans-serif;
  vertical-align: bottom;
}
select {
  height: 35px;
  *height: auto;
  *vertical-align: top;
}
.mk-custom-drop-down select {
  height: 30px;
  padding: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "din-med",arial,sans-serif;
  text-transform: uppercase;
  *height: auto;
  *vertical-align: top;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  border: 1px solid #999;
  outline: none;
}
input[type="text"][disabled], input[type="email"][disabled], input[type="password"][disabled], select[disabled] {
  background: #e6e6e6;
  color: #808080;
}
input[type="email"], input[type="text"], textarea, select {
  font: 12px/19px arial,sans-serif;
}
input[type="password"] {
  font: 16px/19px arial,sans-serif;
  letter-spacing: 1px;
}
.err {
  text-align: left;
  font-size: 12px;
  color: #d14747;
  text-transform: uppercase;
  font-family: "din-med",arial,sans-serif;
}
.error {
  font-size: 12px;
  color: #d14747;
}
.success {
  font-size: 12px;
  color: #00b060;
}
.ui-tabs .ui-tabs-nav, ul.mk-mynt-nav {
  border: 0;
  display: inline-block;
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px;
}
.ui-tabs .ui-tabs-nav li, ul.mk-mynt-nav li {
  display: inline;
  margin-left: 3px;
}
.ui-tabs .ui-tabs-nav li a, ul.mk-mynt-nav li a {
  display: inline-block;
  padding: 8px 4px 2px 8px;
  width: 145px;
  height: 20px;
  background: #e6e6e6;
  border-bottom: 1px solid #d6d6d6;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #000;
  text-decoration: none;
}
.ui-tabs .ui-tabs-nav li a:hover, .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, ul.mk-mynt-nav li a:hover, ul.mk-mynt-nav li a.active {
  background: #000;
  color: #fff;
  border-bottom: 1px solid #000;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a, ul.mk-mynt-nav li a.active {
  cursor: default;
}
.hide, .mk-hide {
  display: none;
}
.mk-spl-text {
  color: #000;
}
body pre {
  text-transform: none;
}
.icon-success-large {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat 0 -401px;
  width: 24px;
  height: 24px;
}
.icon-success {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -95px -406px;
  width: 16px;
  height: 16px;
}
.icon-alert-large {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -28px -401px;
  width: 24px;
  height: 24px;
}
.icon-alert {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -116px -406px;
  width: 16px;
  height: 16px;
}
.icon-error-large {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -56px -401px;
  width: 24px;
  height: 24px;
}
.icon-error {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -137px -406px;
  width: 16px;
  height: 16px;
}
.icon-info-large {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -163px -401px;
  width: 24px;
  height: 24px;
}
.icon-info {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -193px -406px;
  width: 16px;
  height: 16px;
}
.icon-new-large {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -104px -111px;
  width: 24px;
  height: 12px;
}
.icon-new {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -108px -95px;
  width: 20px;
  height: 10px;
}
.icon-prev {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -167px -143px;
  width: 12px;
  height: 42px;
}
.icon-prev:hover {
  background-position-y: -228px;
}
.icon-next {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -167px -185px;
  width: 12px;
  height: 42px;
}
.icon-next:hover {
  background-position-y: -270px;
}
.icon-phone {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -634px 1px;
  width: 25px;
  height: 17px;
  display: block;
}
.icon-collapse-large {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat 0 -378px;
  width: 16px;
  height: 16px;
}
.icon-expand-large {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -17px -378px;
  width: 16px;
  height: 16px;
}
.icon-arrow-right {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -105px 0;
  width: 6px;
  height: 10px;
}
.secure .icon-success-large, .secure .icon-success, .secure .icon-alert-large, .secure .icon-alert, .secure .icon-error-large, .secure .icon-error, .secure .icon-info-large, .secure .icon-info, .secure .icon-new-large, .secure .icon-new, .secure .icon-prev, .secure .icon-next, .secure .icon-phone, .secure .icon-collapse-large, .secure .icon-expand-large, .secure .icon-arrow-right {
  background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}
