
.buy-look .mod {
    width:800px;
}
.buy-look .mod .bd {
    min-height:480px;
    overflow:hidden;
    padding:25px;
}
.buy-look .err-msg {
    color:#d14747;
    padding:0 0 5px;
    height:15px;
}
.buy-look .photo {
    width:360px;
    height:480px;
    background-color:#eee;
    float:left;
    margin:0 15px 0 0;
}
.buy-look h2 {
    font-size:20px;
    padding:0 0 10px;
}
.buy-look h2 .lbl,
.buy-look h2 em {
	color:#333;	
}
.buy-look .items-wrap {
    max-height:330px;
    overflow:hidden;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.buy-look .item {
    font-size:12px;
    border-top:1px solid #ccc;
    height:82px;
    position:relative;
}
.buy-look .item.unselected{
	background:#f2f2f2;
}
.buy-look .item:first-child {
    border-top:0 none;
}
.buy-look .item .check {
    width:16px;
    height:50px;
    padding:32px 0 0;
    margin:0 8px 0 0;
    float:left;

}
.buy-look .item img {
    float:left;
    margin:8px 12px 0 0;
    width:48px;
    height:64px;
    border:solid 1px #d6d6d6;
}
.buy-look .item .title {
    font-size:12px;
    padding:10px 0 0;
    text-align:center;
    color:#808080;
    width:215px;
    float:left;
    cursor:pointer;
    text-decoration:none;
}
.buy-look .item .title:hover{
    text-decoration: underline;
}
.buy-look .item .title em {
	color:#000;
} 
.buy-look .item .size {
    margin:0 5px;
    position:absolute;
    bottom:8px;
    width:88px;
    left:142px;
}
.buy-look .item .size .icon {
    display:none;
    width:16px;
    height:16px;
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    background-position:-95px -406px;
    vertical-align:middle;
    margin-right:5px;
    position:absolute;
    top:3px;
    right:-25px;
}
.buy-look .item .size .free,.buy-look .item .size .sold {
    background:#f2f2f2;
    padding:5px;
    width:78px;
    display:inline-block;
}
.buy-look .item .size .sold {
	color:#d14747;
}
.buy-look .item .size select.err {
    border:1px solid #d14747;
    color:inherit;
}
.buy-look .item .mrp {
    margin:0 0 0 4px;
    padding:10px 0 0;
    text-decoration:line-through;
    color:#808080;
}
.buy-look .item .price {
    position:absolute;
    margin:0 0 0 10px;
    padding:10px 0 0;
    color:#d14747;
    text-transform:none;
    right:0;
    bottom:4px;
}
.buy-look .item select {
    height:auto;
    padding:2px;
    box-shadow:none;
    width:88px;
}

.buy-look button {
	width:180px;
}

.buy-look .notes {
    padding:5px 0;
    margin:0 0 25px;
    text-align:left;
}
.buy-look .sel-count {
    text-align:left;
    color:#808080;
}
.buy-look .sel-count em {
    color:#000;
}
.buy-look .total {
    float:right;
    color:#d14747;
    text-transform:none;
}
.buy-look .total .strike{
	color:#808080;
}
