
.cart-page {
	text-transform: uppercase;
    text-align:center;
}
.recent-five {
	margin: 0 auto;
}

.recent-five,
.recent-five .mk-carousel-four,
.recent-five .mk-carousel-four .mask {
	width: 950px;
}

.cart-page .col3 a.red {
    font-size:12px;
}
.cart-page h2 {
    font-size: 35px;
    padding: 20px;
}

#wishlist {
	padding-bottom: 5px;
}

.cart-page .err {
    text-align: center;
    padding: 5px;
}
.cart-page .page-error {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #d6d6d6;
}
.cart-page .page-error .error-icon{
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -137px -406px;
    display: inline-block;
    height: 17px;
    width: 17px;
    margin: -1px 4px;
    vertical-align: top;
}
.cart-page .page-success {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #d6d6d6;
}
.cart-page .page-success strong {
    font-weight:normal;
    color:#808080;
}
.cart-page .page-success .success-icon{
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -95px -406px;
    display: inline-block;
    height: 17px;
    width: 17px;
    margin: -1px 4px;
    vertical-align: top;
}
.cart-page .prod-code,
.cart-page .lbl-qty,
.cart-page .lbl-size {
    color:#808080;
}

.cart-page .prod-code {
	font-size: 12px;
	padding: 5px;
}

.cart-page .couponApplicability {
    color:#808080;
    font-size: 12px;
}

.cart-page .prod-name {
    padding: 5px;
}

.cart-page .prod-name a {
    font-size: 14px;
    text-decoration: none;
}

.cart-page .prod-name a:hover {
	text-decoration: underline;
}

.cart-page .free-prod-name {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}
.cart-page .row {
    zoom:1;
    padding:10px 20px;
    border-bottom:1px solid #d6d6d6;
    position:relative;
}
.cart-page .prod-item {
    height: 128px;
}
.cart-page .row:after {
    content:".";
    clear:both;
    display:block;
    visibility:hidden;
    height:0;
    font-size:0;
}
.cart-page .col1 {
    width:200px;
    font-size: 14px;
    color: #808080;
    float:left;
    text-align:left;
}

.cart-page .count {
    padding: 5px 0;
    line-height: 25px;
}

.cart-page .col2 {
    width: 520px;
    float: left;
    padding: 0 10px;
}

.cart-page .form-cart-item {
}

.cart-page .col3 {
    width:200px;
    float:right;
    font-size: 14px;
    text-align:right;
}

.cart-page .total {
    font-size: 20px;
    line-height: 25px;
    padding: 5px 0;
}
.cart-page .total .mrp-total {
    color:#999;
}

.cart-page .amount {
	padding: 5px 0;
}

.cart-page .discount {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
	font-size: 12px;
	height: 12px;
	padding: 5px 0;
}

.cart-page .combo-savings-msg{
	font-size: 12px;
	/* TODO: remove color, add class 'red' */
	color: #d14747;
}

.cart-page .discount-amt, .cart-page .combo-completion-msg {
	font-size: 12px;
}
.cart-page .discount-msg {
	font-size: 14px;
}

.cart-page .combo-header-main div {
	padding: 4px;
}

.cart-page .savings {
	font-size: 14px;
	line-height: 25px;
}

.cart-page .savings span,
.cart-page .savings-details div span {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
}

.cart-page .savings-hdr .savings-border {
	border-bottom: 2px solid #D6D6D6;
}

.cart-page .savings-details div {
	color: grey;
	padding-bottom: 5px;
}

.cart-page .savings-hdr .ico {
  background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 17px;
  height: 17px;
  cursor: pointer;
  vertical-align: middle;
  top: -3px;
  position: relative;
}
.cart-page .savings-hdr .ico-expand {
  background-position: -17px -377px;
}
.cart-page .savings-hdr .ico-collapse {
  background-position: 0px -377px;
}

.cart-page .save-list .first,
.cart-page .cart-list .first {
    border-top: 1px solid #d6d6d6;
}
.cart-page .header {
    background:#f2f2f2;
    position:relative;
    min-height:90px;
}
.cart-page .header .btn,
.cart-page .empty-cart .btn {
    display: inline-block;
    *display: inline;
    width: 200px;
}

.cart-page .header .action {
	font-size: 14px;
}
	
.cart-page .header .action div {
	padding: 5px;
}

.cart-page .header a.btn {
	width: 190px;
}

.cart-page .prod-item .action {
	padding: 10px 0;
}
.cart-page .prod-item .action .link-btn , .coupon-app-info{
    font-size: 12px;
}
.cart-page .prod-item .action form {
    display:inline;
    vertical-align:middle;
}
.cart-page .prod-item .action .sep {
    padding:0 0 0 5px;
    vertical-align:middle;
}

.cart-page .prod-item .size-qty-wrap {
    display:inline-block;
    *display:inline;
    padding: 10px;
    zoom:1;
}
.cart-page .size-qty-wrap .lbl-qty,
.cart-page .size-qty-wrap .sel-qty,
.cart-page .size-qty-wrap .lbl-size,
.cart-page .size-qty-wrap .sel-size {
    /* -- needed if use jqTrans
    float:left;
    margin-right:10px;
    */
}
.cart-page label {
    display: inline-block;
    *display: inline;
    padding: 5px;
    vertical-align: middle;
    color: #808080;
    font-size: 12px;
}

.cart-page .shipping-item,
.cart-page .total-row {
    padding:10px 20px;
    border-bottom:1px solid #d6d6d6;
}

.cart-page .shipping-item .col2 {
    font-size: 14px;
	color: #808080;
}

.cart-page .shipping-item .col2 .discount {
    font-size: 14px;
}

.cart-page .mk-custom-drop-down {
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom:1;
    margin: 0 15px;
}

.cart-page .jqTransformSelectWrapper {
	display: inline-block;
    *display: inline;
    *zoom:1;
	height: 25px;
    width: 100px;
    position: relative;
    font-size: 12px;
}

.cart-page .cart-discount-msg {
    padding: 10px 0px;
    font-size: 14px;
    background-color: #d6d6d6;
    margin-bottom: 1px;
}
.cart-page .cart-discount-msg .success-icon{
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -95px -406px;
    display: inline-block;
    height: 17px;
    width: 17px;
    margin: -1px 4px;
    vertical-align: top;
}
.cart-page .combo .discount-msg .success-icon{
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -95px -406px;
    display: inline-block;
    height: 17px;
    width: 17px;
    margin: -1px 4px;
    vertical-align: middle;
}

.cart-page .combo .discount-msg .success-icon-large{
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat 0px -401px;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: -1px 4px;
    vertical-align: middle;
}

.cart-page .jqTransformSelectWrapper span {
    display: inline-block;
    text-align: center;
    padding: 5px 10px 5px 5px;
    width: 85px;
    font-size: 12px;
}

.cart-page input.sel-size,
.cart-page input.sel-qty
{
	width: 72px;
	text-align: center;
	border: 1px solid #FFFFFF;
}

.cart-page select.sel-size,
.cart-page select.sel-qty {
	width: 85px;
}

.cart-page .jqTransformSelectWrapper  a.jqTransformSelectOpen {
	margin: 10px 8px;
}

.cart-page .empty-cart .err,
.cart-page .empty-saved .err {
    padding: 0 0 10px;
    font-size:14px;
    text-align:center;
}
.cart-page .empty-cart .action {
    padding:10px 0;
}

.cart-page .combo {
	border: 1px solid #D6D6D6;
	margin-bottom: 5px;
	margin-top: 5px;
}

.cart-page .combo .col3 {
	width: 197px;
}


.cart-page .combo .combo-header-main em,
.cart-page .cart-discount-msg em{
	/* TODO: remove color, add class 'red' */
	color: #d14747;
}

.cart-page .save-list { margin-top: 80px; }

.save-list h3 {
	padding-bottom: 10px;
	font-size: 12px;
}

.cart-oos-qty {
	cursor: default;
	background: #F2F2F2;
	color: #d14747;
	margin: 0 auto;
	vertical-align: middle;
	padding: 6px 9px;
	font-size: 12px;
}

.cart-page .wishlist-msg {
	font: 14px/20px 'din-med';
	color: #808080;
}
.cart-page .cart-sign-in-sub-msg .btn-login,
.cart-page .wishlist-msg .btn-login {
	color: #000;
	text-decoration: underline;
	cursor: pointer;
}

.cart-page .prod-item .item-error .link-btn {
	font-size: 12px;
	color: #d14747;
	padding: 0 5px;
}

.cart-page .prod-item .mk-freesize {
	font-size: 12px;
	height: 14px;
    line-height: 14px;
}

.cart-sign-in-msg{
	color:#808080;
	font-size:20px;	
	margin:20px 0 10px 0;
}

.cart-sign-in-sub-msg{
	color:#808080;
	font-size:12px;
	line-height: 20px;
	width:300px;
	margin:0 auto;
}

.empty-saved .cart-sign-in-sub-msg {
	width: auto;
}

.cart-page .prod-set .prod-item img {
    width:96px;
    height:128px;
}


.cart-page .col4 {
    width:220px;
    float:right;
    font-size: 12px;
    text-align:right;
}

