/*  Category Landing (Mens, New Arrivals, Sales) CSS
-------------------------------------------------------------- */
.mk-landing-grid {
	width: 792px;}

.mk-landing-page {
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	color: #333;
}

.mk-landing-page h1 {
	font-size: 35px;
	padding: 5px;
}

.mk-landing-page h3 {
	color: #808080;
	margin-bottom: 20px;
}

.mk-landing-page .category-list {
	border-bottom: 1px solid #d6d6d6;
	padding: 20px 0;
}
.mk-landing-page .no-border {
	border-bottom: 0;
}
.mk-landing-page .category-list div {
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 320px;
	vertical-align: middle;
	margin-right: 6px;
}
.mk-landing-page .category-list a {
	text-decoration: none;
	color: #b5b5b5;
	font-size: 20px;
}
.mk-landing-page .category-list a:hover {
	text-decoration: underline;
}
.mk-landing-page .category-list ul {
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 650px;
	vertical-align: middle;
}
.mk-landing-page .category-list li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 320px;
	margin-right: 6px;
}
.mk-landing-page .category-list li.no-margin {
	margin-right: 0;
}
.mk-landing-page .category-list li a {
	color: #333;
	font-size: 14px;
	line-height: 20px;
}


.mk-brands-page h2 {
	text-align: center;
	font-size: 20px;
	border-bottom: 1px solid #d6d6d6;
	padding: 15px;
}

.mk-brands-page h3 {
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 0;
	padding-bottom: 10px;
}

.mk-landing-page .mk-product-filters ul.mk-product-selectors {
	margin-top: -5px;
}

ul.brands-list {
	margin-bottom: 10px;
}

ul.brands-list li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 10px;
	width: 120px;
	height: 100px;
}

ul.brands-list li a,
ul.brands-list li img {
	display: block;
	text-align: center;
	font-size: 12px;
	color: #808080;
}

ul.brands-list li a {
	text-decoration: none;
}

ul.brands-list li a:hover {
	text-decoration: underline;
}

ul.category-list {
	z-index: 2;
	height: 160px;
	padding: 10px;
	text-align: left;
	width: 760px;
}

.mk-landing-grid .mk-banner-feature {
	position: relative;
}

.mk-landing-grid .mk-banner-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 386px;
	height: 355px;
	text-align: center;
	z-index: 5;
}

.mk-landing-grid .mk-banner-text h3 {
	font: 41px din-med;
	text-transform: uppercase;
	color: #fff;
}
.mk-landing-grid .mk-banner-text h3.mk-one-liner {
	font-size: 72px;
}

.mk-landing-grid .mk-banner-text h6 {
	font: 13px din-med;
	text-transform: uppercase;
	color: #fff;
}
.mk-landing-grid .mk-banner-text div {
	margin: 160px auto;
	width: 300px;
}

.mk-landing-grid .mk-banner-text div div { 
	margin: 30px 0 0;
}
.mk-landing-grid .mk-banner-text a {
	width: 100%;
	padding: 10px;
	font: 18px din-ital;
	background: #fff;
	color: #000;
	text-transform: uppercase;
	white-space: nowrap;
}


.mk-landing-grid .mk-product-grid ul {
	border: none;
	padding: 0 0 5px;
	height: 251px;
}
.mk-landing-grid .mk-product-grid ul li { margin-left: 10px;}
.mk-landing-grid .mk-product-grid ul li.mk-first { margin: 0;}
.mk-landing-grid .mk-product-grid ul .mk-product-image {
	height: 251px;
	width: 188px !important;
}
.mk-landing-grid .mk-product-grid .mk-product-brand { height: 150px;}
.mk-landing-grid .mk-product-grid .mk-product-brand div {
	margin-top: 110px;
}

.mk-brand-grid .mk-product-grid ul {
	border: none;
}
.mk-brand-grid .mk-product-grid ul li { margin-left: 4px;}
.mk-brand-grid .mk-product-grid ul .mk-product-image {
	height: 150px;
	width: 170px !important;
}
.mk-brand-grid .mk-product-grid .mk-product-brand { height: 150px;}
.mk-brand-grid .mk-product-grid .mk-product-brand div {
	margin-top: 90px;
}

.mk-site-ft {
	margin: 0;
	padding: 0;
}

/* Fashion Trends Page CSS
-------------------------------------------------------------- */
.fashion-trends {
	width:980px;
	position:relative;
	overflow:hidden;
}
.fashion-trends .rs-carousel,
.fashion-trends .rs-carousel .rs-carousel-runner {
    position: relative;
}
.fashion-trends .rs-carousel-item {
	width:980px;
	float:left;
}
.fashion-trends .rs-carousel-item img {
	height:540px;
	width:980px;
}

.fashion-trends a.rs-carousel-action {
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll transparent;
    display: none;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    margin-top: -15px;
    height: 30px;
    width: 28px;
    z-index: 2;
}

.fashion-trends a.rs-carousel-action-prev {
    background-position: 0 -340px;
    left: 0;
}
.fashion-trends a.rs-carousel-action-prev:hover {
    background-position: -39px -340px;
}
.fashion-trends a.rs-carousel-action-next {
    background-position: 0 -300px;
    right: 0;
}
.fashion-trends a.rs-carousel-action-next:hover {
    background-position: -39px -300px;
}
.fashion-trends a.rs-carousel-action-active {
	display: block;
}

.fashion-trends .rs-carousel-pagination {
	margin:0 auto;
	height: auto;
	max-height:54px;
	padding-right:8px
}
.fashion-trends .rs-carousel-pagination-link {
	float:left;
	padding:10px 0 10px 8px;
	height:54px;
	width:98px;
}
.fashion-trends .rs-carousel-pagination-link a {
	text-indent:-99999px;
	display:block;
	height:54px;
	width:98px;
}
.fashion-trends .rs-carousel-pagination-link-active a {
	border-bottom:solid 2px #63BA3A;
}

.fashion-trends .thumbs-inner {
	width:880px;
	margin:0 auto;
	overflow-x:auto;
	height:80px;
}

