/*  Brands CSS 
---------------------------------------------- */
.mk-brand-message { 
	text-align: center;
	text-transform: uppercase;
	font: 13px din-ital;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	padding: 20px 0;
}

.mk-brand-message a {
	text-decoration: underline;
	color: #000;
}

.mk-product-grid ul.mk-brand {
	height: 220px;
}

.mk-brand-list {
	text-align: center;
	width: 760px;
	margin: 0 auto;
}

.mk-brand-list h2 {
	margin-top: 20px;
	font-size: 23px;
	text-transform: uppercase;
	clear: both;
}

.mk-brand-list ul { margin: 20px 0;}

.mk-brand-list ul li { display: inline; }

.mk-brand-list ul li a {
	color: #000;
	text-decoration: underline;
	padding-left: 10px;
	text-transform: uppercase;
}
.mk-brand-abc {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d6c6c6;
}

.mk-last {
	border-bottom: none;
}
.mk-brand-abc ul.mk-list {
	width: 760px;
	text-align: left;
}

.mk-brand-abc ul.mk-list li {
	width: 190px;
	float: left;
}
