.secure .tick-large-icon {
	background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") repeat scroll 0px -400px transparent;
}

.tick-large-icon {
    width: 25px;
    height: 27px;
    display: inline-block;
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") repeat scroll 0px -400px transparent;
    position: relative;
    top: -3px;
    left: -3px;
}

.secure .tick-small-icon {
	background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") repeat scroll -92px -403px transparent;
}

.tick-small-icon {
    background: url("http://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") repeat scroll -92px -403px transparent;
    display: inline-block;
    width: 22px;
    height: 20px;
    left: 0;
    position: relative;
    top: 4px;

}

.secure .wrong-large-icon {
	background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") repeat scroll -56px -400px transparent;
}

.wrong-large-icon {
    width: 25px;
    height: 27px;
    display: inline-block;
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") repeat scroll -56px -400px transparent;
    position: relative;
    top: -3px;
    left: -3px;
}

.checkout h1 {
    font-size: 35px;
    padding:15px 0;
    border-bottom:1px solid #d6d6d6;
    text-align:center;
}
.checkout .main-content {
    width:594px;
    float:left;
    font-size: 14px;
}
.checkout .main-content h2 {
    font-size: 20px;
    margin: 25px 0;
    text-align: center;
}
.checkout .discount {
    color:#d14747;
}
.checkout .error {
    color:#D14747;
}

.checkout .page-action {
    padding:15px 0;
    text-align:center;
    border-top:1px solid #d6d6d6;
}

.checkout .order-summary {
    width:316px;
    padding:15px;
    margin-top: 10px;
    background: #f2f2f2;
    color:#333;
    font-size: 14px;
    float:right;
    text-align:center;
}
.checkout .order-summary h2 {
    font-size: 20px;
    padding-top: 10px;
}
.checkout .order-summary .lbl {
    color:#808080;
}
.checkout .order-summary .sep {
    color:#b5b5b5;
    padding:0 5px;
}
.checkout .order-summary .total-amount {
    padding:5px 0px 10px;
    border-bottom:1px solid #d6d6d6;
    font-size: 20px;
	line-height: 28px;
}
.checkout .order-summary .total-items {
    padding:10px 0;
    border-bottom:1px solid #d6d6d6;
}
.checkout .order-summary .shipping-address {
    padding:15px 0;
    border-bottom:1px solid #d6d6d6;
}
.checkout .order-summary .shipping-address address {
    font: 12px/18px arial;
    display:block;
    text-transform:none;
    font-style:none;
    font-weight:normal;
    margin-top: 10px;
}
.checkout .order-summary .shipping-address address strong {
    color:#000;
    font-weight: bold;
}
.checkout .order-summary .list {
    max-height: 250px;
    overflow: auto;
}
.checkout .order-summary .prod-item {
    border-bottom:1px solid #d6d6d6;
    padding:10px 0;
}
.checkout .order-summary .prod-item .prod-name {
	line-height: 18px;
	height: 36px;
}
.checkout .order-summary .prod-item .size-qty-wrap {
	padding: 5px 0;
	font-size: 12px;
}

.checkout .order-summary .amount {
	line-height: 20px;
}

.checkout .order-summary .discount {
	display: inline-block;
	line-height: 20px;
}

.checkout .order-summary .couponApplicability {
    	color:#808080;
    	font-size: 12px;
	height: 18px;
}

.checkout .order-summary .amount li {
    margin:10px 0;
}
.checkout .order-summary .grand-total {
    font-size:20px;
}

.checkout .order-summary .amount li .discount {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
	text-transform: none;
}

.checkout .order-summary .action {
	display: inline-block;
	*display: inline;
}

.checkout .order-summary .grand-total .you-pay,
.checkout .order-summary .grand-total .name {
	padding-top: 5px;
	margin-top: 15px;
	line-height: 28px;
}

/*mobile verification overlay for cod*/
#splash-mobile-verify {
    font: 13px din-med,Arial,Sans-Serif;
    text-transform: none;
}

.mob-action-section{
    margin: 10px auto;    
}

.mob-description-section{
    margin: 5px;
}

.mob-info-section{
    margin: 20px auto;
    width: 600px;
}

.mob-info{
    font: 13px Arial,Sans-Serif;
}

.error{
    color: #D14747;
    font-size: 13px;
}

.success{
    color: #333333;
    font-size: 13px;
}

.mob-row{
    margin: 10px auto;
    width: 300px;
    text-align: center;
}

.mob-row label{
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
}

.mob-row input[type="text"]{
    padding: 3px;
}

.mob-resend{
    display: inline-block;
}

#splash-mobile-verify .note{
    text-transform: uppercase;
}


/*mobile verification overlay for cod*/
