.login-page .login-header {
	text-align: center;
	padding: 20px 0;
}

.login-page label {
    display: block;
    padding-bottom: 2px;
}
.login-page .err {
    padding:10px 0;
    text-align:center;
}

.login-page .err .btn-forgot-pass {
    color: #d14747;
    cursor:pointer;
    text-decoration:underline;
}

.login-page .main-content form {
    position:relative;
    width:500px;
    margin:0 auto;
}
.login-page .main-content form .loading {
    display:none;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1;
    background-color:#fff;
    background-image:url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/loader_transparent.gif");
    background-repeat:no-repeat;
    background-position:center center;
    opacity: .9;
    filter: alpha(opacity=90);
}

.login-page input[type="text"],
.login-page input[type="password"] {
    width:482px;
}

.login-page .toggle-pass {
    padding: 25px 0;
}
.login-page .pass {
    width: 500px;
    margin-bottom: 10px;
}
.login-page .page-action {
    border: 0;
}
.login-page .pass .btn-forgot-pass {
    float:right;
    padding:0;
    font-size: 12px;
}

.login-page .fpass-msg {
    padding:10px 0;
    text-align:center;
}
.login-page .fpass-msg p {
    margin-bottom:10px;
}
.login-page .fpass-msg p strong {
    color:#000;
    text-transform:none;
    font-weight:normal;
}

.login-page .fb-connect {
    padding:20px 0 10px;
    text-align:center;
    border-top:1px solid #d6d6d6;
}
.login-page .page-action .btn,
.login-page .fb-connect .btn {
    width:200px;
}

.login-page .ico-fb-small {
	display: inline-block;
	width: 20px;
	height: 22px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
	background-repeat: no-repeat;
	background-position: -169px -8px;
	*margin-right: 5px;
}

.login-page .fb-connect div {
    font-size: 12px;
    padding: 10px 0;
}

.login-page
 span.jqTransformCheckboxWrapper{margin-top: 0;}
