.mk-cms-content {
	float: left;
	zoom: 1;
	width: 610px;
}

.mk-cms-side {
	float: right;
	zoom: 1;
	width: 310px;
}
.mk-cms-hd h1 {
	font: 35px/39px 'din-med';
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0 0;
}
.mk-cms h2 {
	font: 23px/29px 'din-med';
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 10px;
}

.mk-cms-nav {
	margin: 20px 0;
	text-align: left;
	padding-bottom: 20px;
	border-bottom: 1px solid #d6d6d6;
}
.mk-cms-nav li {
	display: inline;
	text-align: left;
	margin-right: 6px;
}
.mk-cms-nav li.mk-last {
	margin: 0;
}

.mk-cms-nav li a {
	display: inline-block;
	width: 145px;
	height: 20px;
	background: #f2f2f2;
	border-bottom: 1px solid #d4d4d4;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-transform: uppercase;
	color: #000;
	padding: 10px 0 0 10px;
	font-size: 14px;
}

.mk-cms-nav li a:hover,
.mk-cms-nav li a.mk-active {
	background: #000;
	color: #fff;
	border-bottom: 1px solid #000;
}


.mk-cms-content p { 
	font: 14px/24px Arial, sans-serif;
	margin: 0 0 20px;
}

.mk-cms-content p strong.mk-email { 
	margin-left: 10px;
}
.mk-cms-content p a {
	color: #000;
	text-decoration: underline;
}

.mk-cms-side img {
	margin: 0 0 10px;
}