/**COMBO PAGE STYLE ****/
#mk-combo-grid {
	width:980px;
}

#mk-combo-grid ul li.mk-product {
    float: left;
    height: 320px;
    margin-right: 8px;
}

#mk-combo-grid ul li.mk-product .combo-flag  {
    font-size: 12px;
    height: 19px;
    left: 46px;
    line-height: 20px;
    position: absolute;
    top: 222px;
    width: 90px;
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") repeat scroll -329px -164px  transparent;
    padding:0 5px;
}
/*#mk-combo-grid ul li.mk-product .quick-look-combo {
	background-position:-329px -189px;
	width:83px;
	left:51px;
}*/
.mk-combo-header {
	text-align: center;
	padding: 5px;	
}

.mk-combo-header h1 {
	 display: inline-block;
    font-size: 35px;
    position: relative;
    text-transform: uppercase;
}
.mk-combo-box-cont {
	margin:0 0 15px;
}

#mk-combo-box {
	width:980px;
	padding-bottom: 10px;
}

.combo-message {
	text-transform: none;
	text-align: center;
	padding:0 0 10px;
	color:#808080;
}

 span.min-more-message {
	float:right;
	margin:8px 12px 0 0;
	font-size:14px;
	color:#808080;
	text-transform: none
} 
span.min-more-message span {
	color:#333;
}
.combo-message span,.combo-message em {
	color:#333;
}


span.min-more-message span.combo-complete {
	color:#00b060;
}




#mk-combo-box .combo-items-outer {
	background:#f2f2f2;
	padding:0 0 10px;
	position: relative;
}

#mk-combo-box .free-item-det {
	position:absolute;
	height:200px;
	right:0;
	top:0;
	background:#fff;
	width: 186px;
	padding: 10px 0 0;
	border-right:solid 1px #d6d6d6;
	border-left:solid 1px #d6d6d6;
	font-size:12px;
	color:#808080;
	text-align:center;
}
#mk-combo-box .free-item-det img {
	width:96px;

}
#mk-combo-box .free-item-det h6 {
	padding:0 10px;
}

#mk-combo-box .free-item-det .tag {
	width:100%;
	height:14px;
	background-color:#00b060;
	color:#fff;
	font-size:14px;
	padding:5px 0;
	margin: 10px 0 0;

}

#mk-combo-box .combo-items {
	padding:0 25px;
	background:#fff;
	width: 930px;
	position: relative;
	overflow: hidden;
}

#mk-combo-box .combo-items ul {
	height: 210px;
	
}

#mk-combo-box .combo-items ul li {
	width: 166px;
	zoom: 1;
	margin: 0px 10px 0;
	height:200px;
	padding:10px 0 0;
	position:relative;
	float:left;
}

#mk-combo-box .combo-items ul li .quick-look {
	top:110px;
	left:44px;
}

#mk-combo-box .combo-items ul li .remove {
	height:21px;
	width:21px;
	position: absolute;
	top:8px;
	left:144px;
	cursor:pointer;
	background:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -286px -404px transparent;
}
#mk-combo-box .combo-items ul li:hover .remove {
	background-position:-364px -404px;
}
#mk-combo-box .combo-items ul li .remove:hover {
	background-position:-442px -404px;
}

#mk-combo-box .combo-items ul li .remove::after {
    background:#000;
    border-radius: 2px;
    color: #FFF;
    font-size:11px;
    width:60px;
    content: attr(data-tooltip); /* The main part of the code, determining the content of the pop-up prompt */
    margin: 20px 0 0 -26px;
    opacity: 0; /* Our element is transparent... */
    padding: 3px 7px;
    position: absolute;
    visibility: hidden; /* ...and hidden. */
    text-align: center;         
}
         
#mk-combo-box .combo-items ul li .remove:hover::after {
    opacity: 1; /* Make it visible */
    visibility: visible;
}

#mk-combo-box .combo-items ul li a {
display:block;
width:96px;
margin:0 auto;
}
#mk-combo-box .combo-items ul li a div em {
	color: #fff;
	background: #000;
	padding: 5px;
}

#mk-combo-box .combo-items ul li p {font-size:12px;text-align:center;}

#mk-combo-box .combo-items .mk-product-image { position: relative; }

#mk-combo-box .combo-items .mk-product-image .mk-product-title {
	width: 112px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}

#mk-combo-box .combo-items .mk-product-image .mk-product-title em {
	display: inline-block;
	color: #fff;
	background: #000;
	padding: 5px 20px;
	font: 12px 'din-ital';
	margin-top: 115px;
	text-transform: uppercase;
}
#mk-combo-box .combo-items spann {
	top:118px;
	left:42.5px;
}

#mk-combo-box .combo-items span.rupees em {
	color:#00b060;
}

#mk-combo-box .combo-items .mk-product-title{
	display: none;
	width: 100%;
	position: absolute;
	top: 160px;
	left: 0;
	text-align: center;
}

/* Header Carousel [Bag / Wishlist / Recent] */

#mk-combo-box .combo-items .title-text {
	font-size:12px;
	color: #808080;
}

#mk-combo-box .combo-items .price-text {
	font-size: 12px;
}

#mk-combo-box .combo-items .price-text label {
	color: #808080;
	font-size: 12px;
	display: inline;
}
#mk-combo-box .combo-items .gift {
	font-size: 12px;
	text-align: center;
}

#mk-combo-box .combo-items .red-text {
	color: #d14747;
	font-size: 12px;
}


#mk-combo-box a.rs-carousel-action-prev {
    background-position: 0 -340px;
    left: 0;
}

 #mk-combo-box a.rs-carousel-action-next {
    background-position: 0 -300px;
    right: 0;
}

#mk-combo-box a.rs-carousel-action {
    display: block;
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll;
    height: 30px;
    position: absolute;
    text-indent: -9999px;
    top: 70px;
    width: 28px;
    outline: medium none;
    display: none;
}
#mk-combo-box .rs-carousel-action-active {
    display: block;
}

#mk-combo-box .progress-cont {
	padding:5px 10px;
	height:27px;
	position: relative;
	border-bottom:solid 1px #d6d6d6;
	background:#f2f2f2;
}

.progress-cont a.btn {
	float:right;
	width:100px;
	margin-right: 25px;
}

.progress-cont .box-control {
	 background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll 0 -377px transparent;
    cursor: pointer;
    display: block;
    position:absolute;
    right:5px;
    height: 17px;
    margin-right: 4px;
    margin-top: 5px;
    width: 17px;
}

.progress-cont .box-control.close {
	background-position: -17px -377px;
}

.progress-cont div {
	float:left;
}

.progress-cont-inner {
	
	float:left;
	
}

.progress-cont-inner .price{
	color:#D14747;
	text-transform:none;
}

.combo-progress  {
	padding:5px 0 0;
}
.combo-progress .complete {
	font-size:14px;
	font-weight:normal;
	text-transform: none;
	margin: 0 10px;

}
.combo-progress .complete em {
	background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -95px -406px transparent;
    display: inline-block;
    height: 17px;
    margin: 1px 4px 0 0;
    vertical-align: top;
    width: 17px;
}

.combo-progress .single-block{
	width:80px;
	height:10px;
	display:block;
	border:solid 1px #d6d6d6;
	background: #fff;
	margin:4px 10px 0;
}
.combo-progress .single-block span{
	background-color:#00b060;
	display:block;
	height:10px;
	width:80px;

}

.combo-progress .small-box{
	width:10px;
	height:10px;
	display:block;
	float:left;
	margin:4px 5px 0 0;
	background:#fff;
	border: solid 1px #d6d6d6;
}

.combo-progress .small-box.green{
	background-color:#00b060;
}

.combo-mini-details {
	font-size:14px;
	padding:8px 0 0;
}

#mk-combo-box .combo-items ul li .combo-plus {
	height:21px;
	width:21px;
	position: absolute;
	top:88px;
	right:-22px;
	cursor:pointer;
	background:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -649px -134px  transparent;
}
.combo-item-dummy div,.combo-item-dummy-single div {
	height:190px;
	width:130px;
	margin:0 auto;
	background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -121px -516px transparent;
}

.combo-item-dummy-single div {
	background-position :-264px -516px;
}

.product-count em {
	color:#b5b5b5;
}