.cart-combo-overlay .hd {
	border: none;
	padding-bottom: 6px;
	font-size: 20px;
	line-height: 20px;
	padding-top: 14px;
}

.cart-combo-overlay .bd {
	padding-top: 0px;
}

.cart-combo-overlay .ft {
    padding-top: 0px;
}

.cart-combo-overlay .combo-header-main {
	padding: 10px;
}

.combo-header-main em {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
}

.combo-header-main .savings {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
}

.combo-header-sub {
	height: 16px;
	padding: 8px;
	background: #F2F2F2;
	vertical-align: middle;
	border-top: 2px solid #D6D6D6;	
}

.combo-header-sub .completion-message em {
	color: #00B060;
}

.combo-header-sub .completion-message {
	/*width:600px; 
	float:left; 
	text-align:left;*/
}

.combo-completion-btn {
	cursor:pointer;
	width: 160px;
	height: 25px;
	margin: 6px;
}

.combo-overlay-btn {
	cursor:pointer;
	width: 180px;
	height: 30px;
}

.combo-header-sub a {
	float:right; 
	text-align:right; 
	width:200px;
}

.pagination-count {
	padding-top: 6px;
	font-size: 12px;
}


.cart-combo-overlay .cart-widget-box {
	width: 840px;
	background: none;
	border-bottom: 2px solid #D6D6D6;
	padding-top: 0px;
	margin: 0 0 10px;
}

.cart-widget-box .rs-carousel-mask {
	height: 320px;
	width: 850px;
	margin: 0 auto;
	z-index: 1;
}

.cart-widget-box .rs-carousel-mask ul {
	height: 320px;
	
}

.cart-widget-box .rs-carousel-mask ul li{
	width: 160px;
	margin: 5px;
	padding: 0px;
}

.cart-widget-box .rs-carousel-mask ul li li{
    width: auto;    
	display: block;
	float: none;
}

.cart-widget-box .rs-carousel-mask ul li .jqTransformSelectWrapper {
	height: 25px;
}

.cart-widget-box .rs-carousel-mask ul li .jqTransformSelectWrapper span {
	padding: 5px 6px;
}

.cart-widget-box .rs-carousel-mask ul li .jqTransformSelectWrapper a.jqTransformSelectOpen {
	margin: 9px 5px;
}

.cart-widget-box a.rs-carousel-action-next,.cart-widget-box a.rs-carousel-action-prev {
	top: 110px;
	z-index: 5;
}

.cart-widget-box .rs-carousel-mask .size-text-hdr, .cart-widget-box .rs-carousel-mask .qnty-text-hdr {
	color: grey;
}

.cart-widget-box .rs-carousel-mask .size-text-sub, .cart-widget-box .rs-carousel-mask .qnty-text-sub {
	color: black;
}

.cart-widget-box .rs-carousel-mask .size-box {
	height: 70px;
}

.cart-widget-box .rs-carousel-mask .edit-flip {
	z-index: 5;
	opacity: 0.9;
	background-color: white;
	width: 156px;
	height: 204px;
	border: 2px solid grey;
}

.cart-widget-box .edit-flip .buttons {
	margin-top: 5px;
}

.cart-widget-box .edit-flip .save-btn, .cart-widget-box .edit-flip .cancel-btn {
	display: inline-block;
	width: 50px;
	margin-top: 10px;
	height: 20px;
}

.cart-widget-box .rs-carousel-mask .main-flip {
	z-index: 1;
	height: 290px;
	width: 156px;
}

.cart-widget-box .rs-carousel-mask .mk-product-image {
	width: 154px;
	height: 204px;
	margin: 0px;	
}

.cart-widget-box .rs-carousel-mask .mk-product-image img .selected {
	border: 2px solid #D6D6D6;
}

.cart-widget-box .rs-carousel-mask .mk-product-image img {
	width: 150px;
	height:200px;
}

.cart-widget-box .rs-carousel-mask .mk-product-image .mk-product-brand {
	top: 105px;
}

.cart-widget-box .rs-carousel-mask .brand-text {
	background: none;
}

.cart-widget-box .rs-carousel-mask .price-text {
	background: none;
}

.cart-widget-box .rs-carousel-mask .cart-widget-checkbox {
	height: 12px;
	text-align: center;
	padding: 5px;
}

.cart-widget-box .rs-carousel-mask .cart-widget-checkbox .checkbox {
	width: 12px;
}
.cart-widget-box .rs-carousel-mask .cart-widget-checkbox .cbx {
	margin: 0px auto;
	float: none;
}

.cart-widget-box .rs-carousel-mask .price-message {
	line-height: 16px;
	padding: 3px 0px;
	font-size: 14px;
}

.cart-widget-box .rs-carousel-mask .size-msg {
	font-size: 12px;
	position: relative;
	z-index: 2;
	text-align: center;
	margin-top: 5px;
}

.cart-widget-box .rs-carousel-mask .qty-msg {
	font-size: 12px;
	position: relative;
	z-index: 2;
	text-align: center;
	margin-top: 5px;
}

.cart-widget-box .flip-wrapper {
	position: absolute;
	left: 0px;
	top: 20px;
	z-index: 5;
}

.cart-widget-box .flip-dummy {
        z-index: 5;
        opacity: 0;
        background-color: white;
        position: absolute;
        width: 156px;
        height: 204px;
        border: none;
}

.cart-widget-box .rs-carousel-mask .size-info span {
	font-weight: normal;
	text-align: center;
	float: left;
	position: relative;
	top: 8px;
	padding-right: 5px;
	color: grey;
}

.cart-widget-box .rs-carousel-mask .size-info .jqTransformSelectWrapper  span {
	color: black;
	top: 0px;	
}

.cart-widget-box .rs-carousel-mask .quantity-info .jqTransformSelectWrapper  span {
    color: black;
	top: 0px;
}

.cart-widget-box .rs-carousel-mask .size-info select {
	width: 50px;
}

.cart-widget-box .rs-carousel-mask .quantity-info select {
	width: 50px;
}

.cart-widget-item-box-selected {
	border: 2px solid #D6D6D6;
}

.cart-widget-box .rs-carousel-mask .size-info {
	/*height: 36px;*/
	width: 100px;
	height: 45px;
	margin: 5px auto;
	padding: 0px;
}

.cart-widget-box .rs-carousel-mask .size-info .jqTransformSelectWrapper {
	float: left;
	background: #D6D6D6;	
}

.cart-widget-box .rs-carousel-mask .quantity-info .jqTransformSelectWrapper {
    float: left;
    background: #D6D6D6;
}

.cart-widget-box .rs-carousel-mask .quantity-info span {
    font-weight: normal;
    text-align: center;
    float: left;
    position: relative;
    top: 8px;
    padding-right: 8px;
    color: grey;
}

.cart-widget-box .rs-carousel-mask .quantity-info {
	/*height: 41px;*/
    width: 100px;
    height: 45px;
    margin: 5px auto;
    padding: 0px;
	
}

.combo-overlay-total .rupees {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
}

.combo-add-to-cart-button {
	display:inline-block;
	width: 207px;
	margin-left:50px;
}

.cart-widget-box .rs-carousel-mask .quick-look {
    top: 175px;
	margin: 0px auto;
}

.tick-small-icon {
	width:20px;
	height:20px;
	display:inline-block; 
	background:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") repeat scroll -95px -405px transparent;
	position: relative;
	top: -3px;
	left: -3px;
}

.warning-small-icon {
	width:20px;
	height:20px;
	display:inline-block; 
	background:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") repeat scroll -115px -405px transparent;
	position: relative;
	top: -3px;
	left: -3px;
}

.combo-overlay-total{
	font-size: 14px;
	padding: 5px;
	margin: 0 268px;	
}

.combo-overlay-total div{
	padding: 5px;
}

.combo-overlay-total .savings-msg {
	float: left;
}
#back-to-combo-ac
tn-btn {
	color: #333333;
    font-size: 14px;
    margin: 30px 0 0;
    text-decoration: underline;
}
