iframe {
	display:block;
}

.confirm-page .main-content {
	font-size: 12px;
	text-align: center;
	color: #333;
}

.confirm-page .main-content p {
	margin: 12px;
	font-size: 14px;
}

.confirm-page .main-content em {
	color: #000;
	font-weight: bold;
}

.confirm-page .main-content a {
	color: #000;
}

.confirm-page .main-content .border {
	border-bottom: 1px solid #d6d6d6;
}

.confirm-page .main-content .order-details {
	color: #808080;
}

.confirm-page .main-content .order-number {
	font-size: 20px;
	color: #000;
	margin: 10px 0;
}

.confirm-page .main-content .success-msg {
	font-size: 20px;
	color: #00b060;
	margin-bottom: 15px;
}

.confirm-page .main-content .success-icon {
	background: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png') no-repeat 0 -401px transparent;
	display: inline-block;
	height: 24px;
	width: 24px;
	margin: 0 6px -5px 0;
}

.confirm-page .main-content .order-details em {
	font-size: 20px;
	color: #b5b5b5;
	font-weight: normal;
}

.confirm-page .main-content .email {
	font-weight: bold;
	color: #000;
	text-transform: none;
}

.confirm-page .main-content a.btn {
	display: inline-block;
	margin: 20px;
	width: 190px;
}

.confirm-page .main-content button.btn {
	width: 200px;
}

.confirm-page .main-content .body-txt {
	font: 12px Arial;
	text-transform: none;
}

.giftcard-confirm-page.confirm-page .main-content .body-txt{
	font-family: din-med;
    font-size: 24px;
    font-weight: normal;
    text-transform: none;
}

.body-txt a {
	font: 12px 'din-med';
	text-transform: uppercase;
}

#more-info,#special-coupons {
	border-top:solid 1px #ccc;
	padding:15px 0 10px;
}

#more-info h3,#special-coupons h3 {
	font-size:20px;
	color:#808080;

}
#special-coupons h3{
	color:#00B060	
}


#more-info p, #special-coupons p
{
	font:12px Arial;
	text-transform:none;
}

#special-coupons p .or {padding:5px 0;display:block;}

#share-fb-cont {
	padding:0 0 10px;
}


#share-fb-cont em {
	background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") no-repeat scroll -169px -7px transparent;
    display: inline-block;
    height: 20px;
    margin: 0 5px -5px 0;
    width: 20px;
}
/* GiftCards Confirmation Page */
.mk-summary-gc{
}
.mk-summary-gc-preview a{
	cursor:pointer;
}
.mk-summary-gc-thumbnail img{
	cursor:pointer;
}
.mk-summary-gc-delivery-mode{
}
.mk-header-gc-payment-page{
	color: #808080;
	float: right;
    font-size: 30px;
    margin-top: 15px;
}
.coupons-widget.mk-gc-payment-cashback-widget{
	width: 575px;
	height: 100px;
}
.coupon-wrap .coupons-widget.mk-gc-payment-cashback-widget .cashback-btn{
	left: 250px;
}
.checkout .order-summary.mk-gc-order-summary .list{
	max-height:350px;
	border-top:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	padding:10px 0;
	margin-top:8px;
}
.mk-summary-gc-preview{
	margin-bottom:10px;
}
.mk-summary-gc-delivery-mode{
	margin-top:10px;
}


/* GiftCards Confirmation Page - End */


/*SPECIAl COUPON SECTION*/
#special-coupons .share-link {font-size:12px;}
.mk-coupons-content table
{
    margin: 10px auto 0;
}

.mk-coupons-content table b,
.mk-coupons-content table strong {
    font-weight: normal;
}

.mk-coupons-content table i,
.mk-coupons-content table em {
    font-style: normal;
}

.mk-coupons-content table tr {
	position: relative;
}

.mk-coupons-content table tr.mk-table-head
{
	background: #b7b7b7;
}
.mk-coupons-content table tr.mk-even
 {
	background: #f2f2f2;
}

.mk-coupons-content table tr a,
.mk-coupons-content table tr em {
	color: #000;
	text-decoration: underline;
	cursor: pointer;
	font-style: normal;
}

.mk-coupons-content table td,
.mk-coupons-content table th
 {
	text-align: center;
	padding: 0 10px;
	font-size: 14px;
	height: 34px;
}

.mk-coupons-content table td,
.coupon-app-info{
	font-size: 12px;
}

.mk-coupons-content table .left
{
	text-align: left;
}
.google-play-button .play-msg {
    color: #00b060;
    margin: 5px auto;
    width: 86%;
}
