/*contact-us form styles*/
.contactus-block {	
	width: auto;	
	margin: 0px;
	font: 13px/1.5 din-med,Arial,Sans-Serif;	
}

.contactus-block .form-shim {
    background: none repeat scroll 0 0 #fdfdfd;    
    height: 55%;
    opacity: 0.5;
    position: absolute;    
    width: 65%;
    z-index: 1;
}

/*for new login overriding the z-index
	for form fields form shim
	jqtranform has z-index:10 so keeping the same for login
*/
.shim {
	z-index:10;
}

.contactus-block form {	
	height: auto;
	width: 70%;	
	padding: 10px;
	margin: 0px auto;	
	/*-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-moz-box-shadow: 0 0 2px #000;
	-webkit-box-shadow: 0 0 2px #000;
	box-shadow: 0 0 2px #000;*/
}

.contactus-block label, 
.contactus-block input {		
	width: 95%;
	height: 25px;	
}

.contactus-block img.captcha-image {	
	width: 35%;
	height: 60px;
	display: block;
	border: 5px solid #B3B3B3;	
	padding: 2px;
	margin: 0px 5px 5px 0px;
	float: left;	
}

.contactus-block a.captcha-change-text {	
	float: left;
	margin: 25px 0px 0px 10px;
}

.contactus-block textarea {	
	width: 95%;
	height: 50px;	
}

.contactus-block select {
	width: 428px;	
	height:25px;
}

.contactus-block  .contactus-issue-levels {
	margin-bottom: 5px; 
}

.contactus-block  .contactus-issue-levels ul ,
.contactus-block .contactus-issue-levels ul li {	
	padding:0px;
	margin:0px;
	list-style:none outside none;
	text-transform:uppercase;	
}

.contactus-block input.limit-char {	
	width: 30px;
	height: 20px;
	padding:0px;
	margin:0px;
	vertical-align:text-bottom;
}

.contactus-block input.field {	
	width: 45.5%;
	height: 25px;	
}

.contactus-block  .contactus-issue-levels .jqTransformSelectWrapper {
	margin:0px;
}

.contactus-block  .contactus-issue-levels .jqTransformSelectWrapper  a{
	text-decoration: none;
}

.contactus-block .contactus-success-message {	
    text-align: center;
    font-size: 14px;
}

.contactus-block .contactus-error-message {
    text-align: center;
    font-size: 14px;
}

.contactus-block .err {	
	height: 20px;
}

.contactus-block label.image-suggestion-label {
	height: 14px;
}

.contactus-block .image-suggestion {
	font-size: 11px;
	color: #808080;
	margin-bottom : 2px;
}

.contactus-block #contactus_file_wrap_list {
	color: #808080;
    font-size: 11px;
    margin-top: 2px;
    text-decoration: none;
}

.contactus-block .button-div {
	border-top: 1px solid #c6c6c6;
	border-bottom: 1px solid #c6c6c6;
	padding:20px 0px;
    text-align: center;
}

.contactus-block .btn {
    width: 20%;
}

.contactus-block .mail-div {	
	border-bottom: 1px solid #c6c6c6;
	height: 40px;
	padding:20px 0px;
	text-align: center;
}

.contactus-block .mail-div  p {
	float: left;
	margin: 0px 8px;
}

.contactus-block .callus-div {
    padding: 10px 0px;
}

.contactus-block .mail-div  p  span,
.contactus-block .address-div  p  span {	
	text-transform: uppercase;
	font: 13px/1.5 din-med,Arial,Sans-Serif;
}

.contactus-block .address-div {
	text-align: center;	
}

.contactus-block .address-div  p {	
	margin: 10px 0px;
	font: 13px/1.5 Arial,Sans-Serif;
        
}
/*contact-us form styles*/