.bd .details .btn-fork {
    width:155px;
}

.exchangebox .bd .steps .step {
    height: 340px;
}

.exchangebox .subtitle {
	margin: 5px 0 -5px;
}

.exchangebox .step-reason {
    width:50%;
    border-right: solid #ccc 1px;
}

.exchangebox .step-reason label, .exchangebox .step-agree label {
    display: block;
    font-weight: normal;
    margin-top: 20px;
    text-align:center;
    font-size:12px;
}
.exchangebox .step-reason label:first-child {
    margin-top: 0;
}
.exchangebox .step-reason select {
    text-transform:uppercase;
    margin: 5px;
    width:250px;
}
.exchangebox .step-reason option {
    text-transform:uppercase !important;
}
.exchangebox .step-reason textarea {
    border: 1px solid #ccc;
    padding: 2px;
    width: 250px;
    height: 70px;
}


.exchangebox .step-agree {
    margin:0;
    width:45%;
    float:right;
}

.exchangebox .step-shipping p,
.exchangebox .step-agree p {
    font-size: 12px;
    margin: 5px 0 15px;
}

.exchangebox .step-shipping .options{
    position:relative;
}

.exchangebox .step-shipping .mk-count-message, .exchangebox .step-shipping .mk-same-size-message{
        color:#333;
        position:static;
}

.exchangebox .step-shipping .mk-count-message em,.exchangebox .step-shipping .mk-same-size-message em,.step-shipping .mk-same-size-message em{
    display:inline-block;
    height:17px;
    width:17px;
    background:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -116px -406px transparent ;
    margin-right:4px;
    vertical-align:middle;
}
.step-shipping .mk-address-error, .mk-ooo-error{
    padding-bottom:5px;
}
.step-shipping .mk-address-error em, .mk-ooo-error em{
    display:inline-block;
    height:17px;
    width:17px;
    background:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -137px -406px transparent ;
    margin-right:4px;
    vertical-align:middle;


}
.exchangebox .step-agree ol {
    padding: 10px 0;
    margin:10px 0;
    list-style: decimal;

}
.exchangebox .step-agree li {
    margin: 20px 0 0;
    text-transform: none;
    text-align: left;
    font: 12px Arial;
    color: #000;
    vertical-align: top;
}

.exchangebox .step-agree li a {
	vertical-align: top;
}

.exchangebox .step-agree li:first-child {
    margin-top:0;
}
.exchangebox .step-agree span.jqTransformCheckboxWrapper {
    float:none;
    display:inline-block;
    margin:0;
    vertical-align:center;
}


.exchangebox .step-shipping div.label,.exchangebox .step-reason div.label, .exchangebox .step-agree div.label{
   font-size:16px;
   background:#f2f2f2;
   padding:5px;
}

.exchangebox .step-shipping {
    margin:0;
    font-size:12px;
    height:85%;
}

.exchangebox .step-shipping ul {
    height:100%;
}
.exchangebox .step-shipping .address {
    margin:10px 0;
    padding:10px 0;
    text-transform:none;
}
.exchangebox .step-shipping li {
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:45%;
    padding:0 20px;
    height:100%;
}
.exchangebox .step-shipping li:first-child {
    border-right:1px solid #d6d6d6;
    float:left;
}

.exchangebox .step-shipping div.mk-size-guides {
    margin:20px 0px;    
}

.exchangebox .step-shipping .address {
    text-align:left;
    font:12px Arial;
    font-weight:normal;
    margin:10px 0 20px;
}

.exchangebox .step-shipping .address div label {
    font:12px Arial;
    font-weight:normal;   
    text-transform: none;
    display:inline;
}
.exchangebox .step-shipping .address .name {
    font-weight:bold;
}

.exchangebox .step-shipping .jqTransformRadioWrapper {
    display:block;
    float:none;
    margin:0;
}


.exchangebox .step-summary {
    margin: 5px 0;
}
.exchangebox .step-summary .title {
    font-size: 14px;
}
.exchangebox .step-summary .address {
    padding:0 20px;
    font: 12px Arial;
    float:left;
    text-align:left;
    width:30%;
    text-transform: none;
    font-weight:normal;
    margin-left: 75px;
    margin-top: 10px;
}
.exchangebox .step-summary .address div label {
    font:12px Arial;
    font-weight:normal;   
    text-transform: none;
    display:inline;
}
.exchangebox .step-summary .address .name {
    font-weight:bold;
}
.exchangebox .step-summary .amount {
	font-size: 14px;
}

.exchangebox .hd .title span {
	float: none;
}

.exchangebox .hd .title .success-icon {
    width: 28px;
    height: 28px;
    display: inline-block;
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: 0 -400px;
    margin: 0 0 -7px -30px;
}

.exchangebox .step-confirm {
    margin: 0 60px;
}

.exchangebox .step-confirm h3 {
    font-size: 20px;
    margin: 0 0 10px;
}

.exchangebox .step-confirm h3 strong {
	font-weight: normal;
	color: #000;
}
	
.exchangebox .step-confirm .success-msg {
    margin: 0 auto;
}

.exchangebox .step-confirm .success-msg .msg {
    display: inline-block;
    padding: 0 10px;
    margin: 10px 0;
    font-size: 14px;
}

.exchangebox .step-confirm ol {
    border-top:1px solid #d6d6d6;
    border-bottom:1px solid #d6d6d6;
    margin: 0;
    padding:10px 0;
    list-style: decimal;
    font: 12px/18px Arial; 
}
.exchangebox .step-confirm ol li {
    margin: 5px 30px 0;
    text-transform:none;
    text-align:left;
    list-style: decimal;
}

.forkbox .bd .fork-choice {
    width:45%;
    font-size:14px;
    text-align:left;
    float:left;
    padding:0 20px;
}

.fork-choice p.how {
    text-align: center;
}
.forkbox ul {
    margin:10px 0;
    padding:10px 0;
    border-top:1px solid #d6d6d6;
    border-bottom:1px solid #d6d6d6;
}

.forkbox ul li {
    display:block;
    *zoom:1;
    padding:1px;
}

.forkbox ul div {
    margin:15px;
}

#fork-exchange {
    min-height: 207px;
}

.forkbox .return-note {
    font-size:12px;
    margin-left: 40px;
    margin-top: -10px;
}

.forkbox .product-details {
     width:45%;
     margin:5px 0;
     padding:0 20px;
     float:right;
     border-left:1px solid #d6d6d6;
}
 .exchangebox .product-details{ 
     width:45%;
     margin:5px 0;
     float:right;
     border-left:1px solid #d6d6d6;
     padding:0 20px;
 }



.forkbox .product-details .pcode , .exchangebox .product-details .pcode {
    color:#808080;
}
.btn-fork {
	width: 155px;
}

.exchangebox .size-btn{
	width: auto;
	min-width: 32px;
	line-height: 1.2;
	margin: 0 2px 5px 0;
}

.circle {
	height:25px;
	width:25px;
	-webkit-border-radius:75px;
	-moz-border-radius:75px;
	text-align:center;
	border:solid black 1px;
}
