body {
font-family: din-med,Helvetica,Arial,sans-serif;
text-transform: capitalize;
}

div {
display: block;
}

body>div {
margin: 0px auto;
}

.sub-title, .box-title {
font-weight: 500;
margin: auto;
text-align: center;
text-transform: uppercase;
}

.box-title {
background: #edeeef;
font-size: 25px;
color: #000;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
margin: auto;
}

.sub-title {
padding-top: 30px;
padding-bottom: 20px;
color: #333;
font-size: 14px;
}

.box-div {
text-align: center;
padding: 10px;
width: 450px;
margin: auto;
font-size: 12px;
color: #697071;
}

.price-div {
font-size: 18px;
text-transform: capitalize;
color: #adaeaf;
padding-top: 20px;
}

.lp-box-div {
text-align: center;
border: 1px solid #e6e3e3;
padding: 10px;
width: 400px;
margin: auto;
font-size: 12px;
color: #697071;
background-color: #edeeef;
}


.foot-msg {
font-size: 12px;
color: #adaeaf;
text-align: center;
padding-top: 15px;
padding-bottom: 10px;
margin: auto;
}

.icon-my-privilege{
background: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-loyalty_marketing_v6.png') no-repeat -721px -596px;
width: 48px;
height: 32px;
display: inline-block;
}

.lp-green {
	color: #39B54A;
	margin-top: 11px;
	text-transform: uppercase;	
}

.lp-logo 
{
padding: 15px;
padding-top: 22px;
border-radius: 50%;
width: 35px;
height: 27px;
color: #808080;
margin: auto;
background-color: white;
}


.lp-foot-msg {
font-size: 10px;
color: #adaeaf;
text-align: center;
padding-top: 10px;
margin: auto;
}

.row.prod-item,.detail-text {
color: #333;
}

.c-link{
	color:#44869b;
	text-decoration: none;	
}

.list {
padding-top: 40px;
}