.mk-header-exp-payment-page {
	float:right;
	padding-top:10px;
}

.mk-header-exp-payment-page ol li {
	display:inline-block;
	vertical-align:top;
	*zoom:1;
	*display:inline;
	font-size:36px;
	color:#808080;
}

.mk-header-exp-payment-page ol li:first-child {
	font-size:11px;
	color:#b5b5b5;
	width:210px;
	padding-top:10px;
}
.mk-header-exp-payment-page ol li span.exp-icon {
	height:24px;
	width:24px;
	display:inline-block;
	*zoom:1;
	*display:inline;
	background:#ccc;
}

.exp-payment-page .main-content {
	padding-top:12px;
	
}
.exp-payment-page h3.title {
	background:#f2f2f2;
	padding:6px 6px 4px;
	font-size:20px;
	border:none;
	margin:0 0 10px;
	
}
.exp-payment-page .coupons-widget {
	background:none;
		
}
.exp-payment-page .coupons-widget.mk-f-left{
	border-right:solid 2px #ccc;
}
.coupons-widget .err-div {
	width:246px;
}
.exp-payment-page address{
	padding:15px 40px 10px;	
}

#address-change {
	text-decoration:underline;
	cursor:pointer;
	text-transform:uppercase;
	text-align:center;
}

.pay-block-default {
	text-align:center;	
}
.pay-block-default .pay-btn-wrap {
	clear:both;
}
.more-pay-options {
	margin:0 auto;
	
}
.payment-page .main-content .pay-block-default  h2{
	margin:10px 0 0px;
} 

.card-listing {
	margin:0 auto;
	width:520px;
	border-top:solid 1px #d2d2d2;
}

.card-listing  li{
	height:60px;
	padding:15px;
	text-transform: none;
	text-align:left;
	color:#333;
	position:relative;
	border:solid 1px #d2d2d2;
	border-top:none;
}

.card-listing  li span{ 
	display:inline-block;
	*display:inline;
	*zoom:1;
	
}

.card-listing  li  .exp-msg{
	display:none;
}
.card-listing  li.expired  .exp-msg{
	color:#d14747;
	font-size:12px;
	position:absolute;
	left:45px;
	top:12px;
	display:block;
}

.card-listing  li .card-details {
	display:inline-block;
	width:215px;
	padding-left:10px;
	
}
.card-listing  li .card-details span {
	width:100%;
	height:20px;
	font-size:14px;
} 
.card-listing  li .card-type {
	height:30px;
	width:48px;
	background:transparent url('https://d6kkp3rk1o2kk.cloudfront.net/skin1/images/cr_cards_type.gif') no-repeat 0 0;
}
.card-listing  li .visa{
	background-position: 0 0;
}
.card-listing  li .master{
	background-position: 0 -30px;
}
.card-listing  li .amex{
	background-position: 0 -60px;
}
.card-listing  li .diners{
	background-position: 0 -90px;
}
.card-listing  li .maestro{
	background-position: 0 -120px;
}



.card-listing li .details-cont {
	width:364px;
	height:60%;
	padding:15px 0;
}

.card-listing li .card-options {
	width:120px;
	height:100%;
	text-align:center;
	padding:15px 0;
	text-transform: uppercase;
	font-size:12px;
}
.card-listing li .card-options  input[type="password"] {
	width:52px;
}
.card-listing  li.expired .card-options {
	display:none;
}
.card-listing li  .card-options label{
	display: inline-block;
  	text-align: center;
  	margin: 5px 5px 0 0;	
}
.card-listing li  .card-options .what-is-cvv {
	background:url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") repeat scroll -193px -405px transparent;
	margin:0;
	display:inline-block;
	height:17px;
	width:17px;
	vertical-align:middle;
}
.card-listing li .card-select,.card-listing li .card-expired {
	display:inline-block;
	height:30px;
	width:30px;
	background:url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") repeat scroll 0 -184px transparent;
	margin-right:6px;
	cursor:pointer;

}
.card-listing li .card-selected {
	background-position:0 -217px;
}
.card-listing li.expired .card-expired {
	background-position:-56px -400px;
	cursor:none;
}
.payment-page .pay-block .card-listing li input#cvv {
	width:52px;

}
.pay-block-default .cc-bill-address, .saved-cards .cc-bill-address {
	border:none;
}
.cc-bill-address .address-block {
	text-align:left;
	width:520px;
	margin:0 auto;
}
.show-saved-cards {
	margin-bottom:12px;
	display:block;


}

.pay-block-default  .cod-container {
 	border: 1px solid #D2D2D2;
    margin: 0 auto;
    width: 95%;
    padding:10px 0;
}

.more-options-msg p {
	text-align:center;
}
