.fbpermissionsCnt{clear:both;overflow:hidden;padding:0px 0px;width:449px;}
.infobox .bd .fbpermissionsCnt p{padding:0px 0px 15px 0px;text-align:left;}
.infobox .bd .fbpermissionsCnt p.paddingNone{padding:0px;}
.infobox .bd .fbpermissionsCnt ul{clear:both;overflow: hidden;margin:4px 0% 30px 0px;padding:0px;}
.infobox .bd .fbpermissionsCnt ul li{float:left;padding-bottom:0px;clear:both;list-style-type:none !important;margin-left:0px;}
.infobox .bd .fbpermissionsCnt ul.notePoints{padding-left:17px;margin-bottom:0px;}
.infobox .bd .fbpermissionsCnt ul.notePoints li{list-style-type:disc !important;margin:0px;padding:0px;}
.infobox .bd .fbpermissionsCnt ul li input{margin-right:10px;float:left;margin-top:3px;}
.infobox .bd .fbpermissionsCnt ul li span{float:left; font-size:13px;line-height:19px;}
.btnCancel{color: #333;
           background-color: #B3B3B3;
           width:90px;
           background-image: -webkit-linear-gradient(top,#E6E6E6,#B3B3B3);
           /* @alternate */ background-image: -moz-linear-gradient(top,#E6E6E6,#B3B3B3);
           /* @alternate */ background-image: -ms-linear-gradient(top,#E6E6E6,#B3B3B3);
           /* @alternate */ background-image: -o-linear-gradient(top,#E6E6E6,#B3B3B3);
           border: medium none;
           border-radius:5px;
           box-shadow: 1px 1px 1px #999;
           padding:7px 5px;
           text-align: center;
           text-decoration: none;
           text-transform: uppercase;
           vertical-align: middle;
}
.btnSave{
    color: #fff;
    background-color: #f28d36;
    width:90px;
    background-image: -webkit-linear-gradient(top,#f3a74d,#e18346);
    /* @alternate */ background-image: -moz-linear-gradient(top,#f3a74d,#e18346);
    /* @alternate */ background-image: -ms-linear-gradient(top,#f3a74d,#e18346);
    /* @alternate */ background-image: -o-linear-gradient(top,#f3a74d,#e18346);border: medium none;
    border-radius:5px;
    box-shadow: 1px 1px 1px #999;
    padding:7px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    margin:0px 5px 0px 0px;
}
.echo-lightbox-class .ft{display:none;}
.footerWrap{margin:10px 0px 21px;border-top:1px solid #ccc;padding-top:15px;}
.echo-lightbox-class .footerWrap{border-top:0px;margin-top:0px;}
.saved_and_shared{font-size:12px;font-family: "din-med", Droid Sans, Helvetica Narrow, sans-serif;color:#000000;}

.echo_share_it{font-size:12px;font-family: "din-med", Droid Sans, Helvetica Narrow, sans-serif;color:#000000;}
.fb_shareit_icon{   display: inline-block;
                    width: 20px;
                    height: 22px;
                    vertical-align: middle;
                    margin-right:4px;
                    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
                    background-repeat: no-repeat;
                    background-position: -169px -8px;
}
.share_info_icon {
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
    background-position: -189px -404px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    margin-right: 4px;
    vertical-align: middle;
    width: 22px;
    margin-bottom : 3px;
    position:relative;
}
.social_flyout_arrow{
    background-color: transparent;
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
    background-position: -259px -144px;
    background-repeat: no-repeat;
    bottom: -6px;
    height: 5px;
    left: 7px;
    position: absolute;
    width: 14px;
    z-index: 999;
}
.social_flyout{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D6D6D6;
    box-shadow: 0 1px 4px #D6D6D6;
    color: #333333;
    font-size: 12px;
    height: auto;
    left: -75px;
    margin: 0 0 6px;
    overflow: hidden;
    padding: 8px 10px;
    position: absolute;
    top: 25px;
    width: 150px;
}
.social_red_text{
    color:red;
}

#more-info.spdHappyness{clear:both;
                        overflow:visible;
                        border-bottom:0px;}
.confirm-page .main-content p.fb_icon_link{text-align:center;margin:0px;padding:5px 0px;}
.fb_icon_link {display:inline-block;width:30px;height:32px;
               text-indent:-3000px;
               background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -91px -143px transparent;}
.pdp_popup{/*border: 1px solid #D6D6D6;
           border-radius: 4px 4px 4px 4px;
           color: #808080;*/
    /*           margin-top:20px;*/
    margin-bottom: 10px;
    padding : 5px 6px 5px 6px;
    /*           position:absolute;
               top: 70px;
               width:100%;*/
}
.cart_popup{margin-left:-120px;}
.checkout_popup{}
.checkout_padding{padding-bottom: 20px;}
.kuliza_social_close{float:right;padding: 5px 7px 0 3px;}
.saved_by_kuliza{color: #000000;
                 font-size:12px;
                 font-family: "din-med", Droid Sans, Helvetica Narrow, sans-serif;
                 margin-bottom: 5px;}
.saved_by_kuliza span {
    display:inline-block;height: 18px;
    margin: 0 3px -3px 0;
    width: 18px;
    text-indent:-3000px;
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -93px -404px transparent;}
.kuliza_social_wrapper{display:none;margin: 0 auto;max-width: 340px;}
.kuliza_social_close{cursor:pointer;}
.social_enabled_pdp_save{
    font-size:12px;
    font-family: "din-med", Droid Sans, Helvetica Narrow, sans-serif;
    background:#fdfdfd;
    color: #000000;
    min-height: 25px;
    right: 77px;
    top: 48px;
    width: 185px;
}
.social_enabled_quicklook_save{
    font-size:12px;
    font-family: "din-med", Droid Sans, Helvetica Narrow, sans-serif;
    background:#fff;
    color: #000000;
    position: absolute;
    right: 108px;
    top: 44px;
    width: 185px;
}

.secure .fb_shareit_icon,
.secure .fb_icon_link,
.secure .saved_by_kuliza {
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}
