
/*  Slideshows CSS (cycles)
/* home cycle, matchmakers, featured, bestsells, also bought
-------------------------------------------------------------- */

/* Home Feature Cycle -------------------- */ 
.mk-marquee {
	position: relative;
	overflow: hidden;
}

.new-hp-banner-wrapper .mk-banner-wrapper {
	height:459px;
}

.mk-banner-wrapper {
	height:430px;
}

.mk-cycle-nav {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index:100;
}

.mk-cycle-nav a {
	display: inline-block;
	margin-left: 5px;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat left -22px;
	outline:none;
}

.mk-cycle-nav a.activeSlide {
	background-position: -15px -22px;
}

.mk-marquee .mk-cycle-wrapper a img,
.mk-home-features a img {
	width: 980px;
	
}

.mk-marquee .mk-cycle-wrapper a img {
	margin: 4px 0 3px 0;
}

.mk-home-features a img {
	margin: 3px 0;
}	

.mk-home-features .mk-home-feature {
	display: inline-block;
}

.mk-home-features .mk-home-feature.middle img {
	margin: 3px 6px;
}

.mk-home-features .mk-home-feature img {
	width: 320px;
	
}


/* Matchmaker(TM) Cycle -------------------- */ 
.mk-matchmaker {
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	text-align: center;
	padding: 20px 0 0 0;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #333;
}

.mk-matchmaker h3 {
	font: 14px 'din-med';
	display: inline;
}

.mk-matchmaker .mk-cycle-nav {
	position: relative;
	left: 0;
	top: 0;
	margin: 5px auto 0;
	width: 50px;
	height: 10px;
}

.mk-matchmaker .mk-cycle-nav a {
	display: block;
	float: left;
	margin-left: 5px;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	text-align: center;
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat -59px -22px;
	outline: none;
}

.mk-matchmaker .mk-cycle-nav a.activeSlide {
	background-position: -15px -22px;
}

.mk-matchmaker .mk-match {
	width:980px;
	margin-top: 10px;
}

.mk-matchmaker img {
	padding: 0;
    width:150px;
    height:200px;
}

.mk-matchmaker a { 
	position: relative;
	display:block;
}

/* Landing Banner (leftside) -----------------------*/
.mk-landing-page .mk-cycle-nav-banner {
	position: relative;
	margin: -30px 160px 15px;
	width: 60px;
	height: 20px;
	z-index: 5;
}

.mk-landing-page .mk-cycle-nav-banner a {
	display: block;
	float: left;
	margin-left: 5px;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat -59px -22px;
}

.mk-landing-page .mk-cycle-nav-banner a.activeSlide {
	background-position: -15px -22px;
}

/* Featured / Best Sellers ------------------------*/ 
.mk-landing-page .mk-matchmaker {
	height: 100%;
	width: 186px;
	background: #f2f2f2;
	border: 1px solid #eee;
	border-bottom: 1px solid #d6d6d6;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	padding: 20px 0;
	text-transform: uppercase;
	color: #333;
	position: relative;
}

.mk-landing-page .mk-matchmaker .mk-cycle-nav {
	position: absolute;
	top: 55px;
	left: 75px;
	width: 50px;
	height: 20px;
	z-index: 5;
}

.mk-landing-page .mk-matchmaker .mk-cycle-nav a {
	display: block;
	float: left;
	margin-left: 5px;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat -59px -22px;
}

.mk-landing-page .mk-matchmaker .mk-cycle-nav a.activeSlide {
	background-position: -15px -22px;
}

.mk-landing-page .mk-matchmaker h1 {
	font: 20px din-ital;
}

.mk-landing-page .mk-matchmaker .mk-match {
	margin-top: 15px;
}

.mk-landing-page .mk-matchmaker .mk-match a { 
	position: relative;
}

.mk-landing-page .mk-matchmaker .mk-match div {
	width: 160px;
	z-index: 2;
	position: absolute;
	top: 10px;
	text-align: center;
	margin: -50px auto;
}

.mk-landing-page .mk-matchmaker .mk-match em {
	cursor: default;
	width: 100%;
	padding: 10px;
	font: 13px din-ital;
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
	background: #000;
}

.mk-carousel-four {
	width: 980px;
	padding: 15px 0 0;
	margin: 0 0 30px;
	position: relative;
	background: #f2f2f2;
	overflow: hidden;
	border-bottom: 1px solid #d6d6d6;
}

.mk-carousel-four ul {
	height: 264px;
}

.mk-recent-viewed ul.mk-recent-viewed-ul,
.cart-recommend-block ul {
	height:326px;
}

.mk-carousel-five {
	width: 950px;
	padding: 15px 15px 0;
	margin: 15px 0 30px;
	position: relative;
	background: #f2f2f2;
	overflow: hidden;
	border-bottom: 1px solid #d6d6d6;
}

.mk-matchmaker .red-text,
.mk-carousel-four .red-text {
	color: #d14747;
	font-size: 12px;
}

.mk-carousel-four .strike{
	text-decoration:line-through	;
}

.mk-carousel-four h4 {
	text-transform:uppercase;
	margin:0 0 15px 20px;
	font-size: 14px;
}

.mk-carousel-four h4 em {
	font-size: 12px;
	color: #808080;
	font-style: normal;
}

.mk-carousel-four h3{
	font-size: 14px;
	margin:0 0 20px;
	text-align: center;
}

.inline-add-block-size select {
	width:150px;
	font-size:12px;
    box-shadow:0 0;
    padding:1px;
    margin:5px 0;
    height:auto;
}
.inline-add-block-size select option {
	padding:0;
}
.inline-add-block-size .jqTransformSelectWrapper {
	margin:0;
	width:140px;
}
.jqTransformSelectWrapper ul li {
	padding:0;
	margin:0
}
.recent-inline {
	height:326px;
}
.vertical-line {
    background: #CCCCCC;
    display: block;
    height: 200px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 1px;
}

.inline-add-block {
	position:absolute;
	bottom:15px;
	left:0;
}
.inline-add-block .inline-add {
	padding: 5px;
	width: 150px;
	font-size: 12px;
	position: relative;
	top: 2px;
	line-height:15px;
}
.inline-add-block .jqTransformSelectWrapper a.jqTransformSelectOpen {
	margin:14px 3px;
	display:none;
}
.inline-add-block .jqTransformSelectWrapper,
.cart-page .inline-add-block .jqTransformSelectWrapper {
	height: 25px;
}
.cart-page .inline-add-block .jqTransformSelectWrapper span,
.inline-add-block .jqTransformSelectWrapper span {
	padding: 5px 7px;
	font-size: 12px;
	line-height: 15px;
}

.inline-add-block .disabled-btn {
	width: 150px;
	font-size: 12px;
	position: relative;
	top: 2px;
}

.mk-carousel-five  h3 {
	margin-left:20px;
	text-align: left;
}

.mk-carousel-four ul.mk-recent-viewed-ul li {
	height:326px;
}
.mk-carousel-four ul.mk-most-popular-ul li{
	height:265px;
}

.mk-carousel-four ul li {
	width: 150px;
	float: left;
	zoom: 1;
	padding: 0 20px 0 0;
	margin: 0 0 0 20px;
	position:relative;
	text-align:center;
}

.mk-carousel-four ul li a div em {
	color: #fff;
	background: #000;
	padding: 5px;
}

.mk-carousel-four .mk-product-image {
	position: relative;
}

.mk-carousel-four .mk-product-image  img{
	height:200px;
	width:150px;
}

.mk-carousel-five .rs-carousel-mask {
width:950px;
}

.mk-carousel-four a.rs-carousel-action {
  position: absolute;
  top: 128px;
  display: none;
  width: 28px;
  height: 30px;
  text-indent: -9999px;
  background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat;
}

.mk-carousel-four a.rs-carousel-action-prev {
  left: 0;
  background-position: 0 -340px;
}

.mk-carousel-four a.rs-carousel-action-prev:hover {
  background-position: -39px -340px;
}

.mk-carousel-four a.rs-carousel-action-next {
  right: 0;
  background-position: 0 -300px;
}

.mk-carousel-four a.rs-carousel-action-next:hover {
  background-position: -39px -300px;
}

.mk-carousel-four a.rs-carousel-action-active {
	display: block;
}

.mk-carousel-four .disabled {
  display: none !important;
}

.mk-matchmaker .brand-text,
.mk-carousel-four .brand-text {
	font-size: 14px;
	color: #808080;
}

.mynt-layout-new .mk-matchmaker .brand-text,
.mynt-layout-new .mk-carousel-four .brand-text {
	font-size: 12px;
}

.mk-matchmaker .price-text,
.mk-carousel-four .price-text {
	font-size: 14px;
	text-transform: none;
}

/* Also Bought --------------------- */
.mk-cart-bottom .mk-also-cycle-nav {
	position: absolute;
	top: 50px;
	left: 390px;
	z-index: 5;
}

.mk-cart-bottom .mk-also-cycle-nav a {
	display: block;
	float: left;
	margin-left: 5px;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat -59px -22px;
}

.mk-cart-bottom .mk-also-cycle-nav a.activeSlide {
	background-position: -15px -22px !important;
}

.mk-also-cycle .mk-also {
	height: 220px;
}
.mk-also-cycle .mk-also a {
	margin: 20px 0 0 30px;
	display: inline-block;
	position: relative;
}

.mk-also-cycle .mk-also div{
	width: 160px;
	z-index: 2;
	position: absolute;
	text-align: center;
	margin: -50px auto;
}
.mk-also-cycle .mk-also em {
	cursor: pointer;
	width: 100%;
	padding: 5px;
	font: 13px din-ital;
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
	background: #000;
}

.mk-match-cycle {
	margin:0 auto;
}

.mk-cycle-inner {
	height: 264px;
	width: 150px;
	position: relative;
	float:left;
	margin:0 23px 0 23px;
}

.mk-cycle-inner .product-info {
	position: relative;
	width: auto;
}

.mk-match-cycle .strike{
	text-decoration: line-through;
} 

.mynt-layout-new .mk-carousel-five {
	background: transparent;
	border-width: 0 0 1px;
	border-color: #d6d6d6;
	border-style: solid;
}

.mynt-layout-new .home-page .mk-marquee.new-hp-banner-wrapper {
	height: 459px;
	border-bottom: 4px solid #d6d6d6;
}

.mynt-layout-new .home-page .mk-marquee {
	height: 480px;
	border-bottom: 4px solid #d6d6d6;
}

.mynt-layout-new .home-page .new-hp-banner-wrapper  .mk-cycle-wrapper a img {
	height: 459px;
	margin: 0;
}

.mynt-layout-new .home-page .mk-cycle-wrapper a img {
	height: 480px;
	margin: 0;
}

.mynt-layout-new .home-page .mk-cycle-nav {
	top: auto;
	left: 0;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.mynt-layout-new .mk-promises {
	font-size: 12px;
	text-align: center;
	margin: 8px 0;
}

.mynt-layout-new .home-page .col {
	display: inline-block;
}

.mynt-layout-new .home-page .col a {
	display: block;
}

.mynt-layout-new .home-page .mk-home-feature img {
	height: 240px;
}

.mynt-layout-new .home-page .mk-home-feature-sale img {
	width: 320px;
	height: 490px;
	margin-left: 6px;
	margin-right: 6px;
}

.mynt-layout-new .mk-recent-viewed,
.mynt-layout-new .mk-most-popular {
    margin: 8px 0;
    padding: 0;
    width: 980px;
    
}

.mynt-layout-new .mk-recent-viewed.collapsed,
.mynt-layout-new .mk-most-popular.collapsed {
    overflow: hidden;
}

.mk-recent-viewed h4,
.mk-most-popular h4 {
	position: relative;
}

.mynt-layout-new .mk-most-popular h4 {
	margin: 0;
	padding: 0 20px 10px;
	height: 17px;
}

.mynt-layout-new .mk-recent-viewed h4{
	margin: 0;
	padding: 0 20px 5px;
	height: 17px;	
}

.mk-most-popular h4.mk-cf {
	padding-right: 36px;
}

.mk-recent-viewed.collapsed h4,
.mk-most-popular.collapsed h4 {
	cursor: pointer;
}

.mynt-layout-new .mk-recent-viewed.collapsed h4,
.mynt-layout-new .mk-most-popular.collapsed h4 {
	background: url('http://myntra.myntassets.com/skin2/images/Topnav_bground.png') repeat-x;
	cursor: pointer;
}

.mynt-layout-new .mk-recent-viewed.collapsed h4 span {
	text-decoration: underline;
}

.mynt-layout-new .mk-recent-viewed .mk-recent-viewed-ul {
	height: 265px;
}

.mynt-layout-new .mk-recent-viewed .mk-recent-viewed-ul li {
	height: 260px;
	margin: 0;
	padding: 0 20px;
}

.mynt-layout-new .mk-recent-viewed .icon-buynow {
	cursor: pointer;
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -673px 0;
	border: 0;
	width: 78px;
	height: 20px;
	position: absolute;
	top: 180px;
	left: 56px;
	z-index: 1;
}

.mynt-layout-new .mk-recent-viewed .icon-buynow.mk-hover {
	background-position: -673px -25px;
}

.mynt-layout-new .mk-recent-viewed .quick-look {
	top: 150px;
	left: 56px;
}

.mynt-layout-new .inline-add-block {
	position: static;
}

.cart-recommend-block .inline-add-block {
	position: absolute;
}

.mynt-layout-new .mk-recent-viewed .rs-carousel-mask {
	padding: 0 15px;
	overflow: visible;
	position: relative;
}

.mk-recent-viewed .icon-expand-large,
.mk-recent-viewed .icon-collapse-large,
.mk-most-popular .icon-expand-large,
.mk-most-popular .icon-collapse-large {
	position: absolute;
	right: 10px;
	top: 0;
	cursor: pointer;
}

.mynt-layout-new .mk-recent-viewed .icon-expand-large,
.mynt-layout-new .mk-recent-viewed .icon-collapse-large,
.mynt-layout-new .mk-most-popular .icon-expand-large,
.mynt-layout-new .mk-most-popular .icon-collapse-large {
	top: 10px;
}

.mynt-layout-new .mk-recent-viewed .mk-select-size {
	position: absolute;
	z-index: 1;
	top: 200px;
	left: 0;
}

.mynt-layout-new .mk-recent-viewed .mk-select-size .tooltip-arrow {
	height: 0;
	width: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #e6e6e6;
	margin: 0 85px;
}

.mynt-layout-new .mk-recent-viewed .mk-select-size .tooltip-arrow-inner {
	height: 0;
	width: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	position: relative;
	top: 2px;
	left: -5px;
}

#top-seller-pagination .rs-carousel-pagination-link {
      float:left;
}

#top-seller-pagination .rs-carousel-pagination-link-active a{
      background:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -16px -22px transparent;
}

.top-seller-pagination .rs-carousel-pagination-link {
      float:left;
}

.top-seller-pagination .rs-carousel-pagination-link-active a{
      background:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -16px -22px transparent;
}

.mynt-layout-new .mk-recent-viewed .mk-select-size .tooltip-content {
	border: 1px solid #e6e6e6;
	background: #fff;
	padding: 5px 20px;
	width: 140px;
	font-size: 12px;
	color: #808080;
}

.mynt-layout-new .mk-recent-viewed .mk-select-size .rs-carousel-runner {
	white-space: nowrap;
	overflow: hidden;
	padding: 4px 0;
	height: auto;
	display: inline-block;
}

.mynt-layout-new .mk-recent-viewed .mk-select-size .rs-carousel-mask {
	width: auto;
	height: auto;
	padding: 0 2px;
	overflow-x: hidden;
}

.mynt-layout-new .mk-recent-viewed .mk-select-size .size-btn {
	min-width: 28px;
	padding: 0 3px;
	margin: 0 1px;
	float: none;
}

.mynt-layout-new .mk-recent-viewed .mk-select-size .icon-prev,
.mynt-layout-new .mk-recent-viewed .mk-select-size .icon-next {
	position: absolute;
	top: 20px;
	cursor: pointer;
	display: none;
}

.mynt-layout-new .mk-recent-viewed .mk-select-size .icon-prev.rs-carousel-action-active,
.mynt-layout-new .mk-recent-viewed .mk-select-size .icon-next.rs-carousel-action-active {
	display: block;
}

.mynt-layout-new .mk-recent-viewed .mk-select-size .icon-prev {
	left: 6px;
}
	
.mynt-layout-new .mk-recent-viewed .mk-select-size .icon-next {
	right: 6px;
}

.mynt-layout-new .mk-recent-viewed .mk-product-info {
	position: relative;
}

#top-seller-pagination .rs-carousel-pagination-link {
      float:left;
}

#top-seller-pagination .rs-carousel-pagination-link-active a {
	background:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -16px -22px transparent;
}

.top-seller-pagination .rs-carousel-pagination-link {
      float:left;
}

.top-seller-pagination .rs-carousel-pagination-link-active a {
	background:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -16px -22px transparent;
}

.mk-most-popular>.rs-carousel-mask {
	margin: 0 auto;
}

.mk-most-popular .category a {
    font-size: 14px;
    text-decoration: none;
}

.mk-most-popular .category a span{
	text-decoration: underline;
}

.top-seller-pagination{
	float: left;
    margin-right: 10px;
    margin-top: 5px;
}

#top-seller-pagination a {
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll left -22px transparent;
    display: block;
    float: left;
    height: 10px;
    margin-left: 5px;
    outline: medium none;
    text-indent: -9999px;
    width: 10px;
}

.top-seller-pagination a {
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll left -22px transparent;
    display: block;
    float: left;
    height: 10px;
    margin-left: 5px;
    outline: medium none;
    text-indent: -9999px;
    width: 10px;
}

.mk-most-popular .header > a {
	color: #808080;
}

.mk-most-popular .header > a:hover {
	color: #000;
}

.mk-most-popular .header > a.selected {
	color: #333;
	text-decoration: none;
	cursor: default;
}

.mk-most-popular.collapsed .header > a.selected {
	text-decoration: underline;
	cursor: pointer;
}
