.feedback-block {
    margin: 0 auto;
    width: 100%;
    font: 13px/1.5 din-med,Arial,Sans-Serif;
    text-align: center;
}

.feedback-block h1 {
    font-size: 35px;
    margin: 0.5em 0;
}

.feedback-block .feedback-form {
    margin: 0 auto;
    width: 940px;
}

.MFB_wrapper_outer {
    /*width:740px !important;*/
    width:900px !important;
    margin: 0 auto;
    background-color: transparent !important;
}

.MFB_wrapper_outer h3 {
    padding: 0px !important;
    font-size: 20px;
}

.MFB_wrapper_outer .button-div {
    /*border-bottom: 1px solid #C6C6C6;*/
    border-top: 1px solid #C6C6C6;
    padding: 20px 0 !important;
    text-align: center;
}

.MFB_wrapper label {
    margin-top: 5px;
    color: #808080;
    text-align: center;

}

.MFB_wrapper label.selected {
    color: #333333;
}

.MFB_wrapper label.label-radio {
    width: 85px !important;
    height: 65px !important;
}

.MFB_wrapper label.label-checkbox {
    width: 85px !important;
    height: 65px !important;
}

.MFB_wrapper ul{
    display: inline-block !important;
}

.MFB_wrapper ul li{
	/*margin-right: 40px !important;*/
    margin-right: 25px !important;
}

.MFB_wrapper ul .jqTransformRadioWrapper {
    float:none;
}

.MFB_wrapper table.jqTransformTextarea textarea {
    width: 470px !important;
    height: 100px;
    background-color: #fff;
}

.MFBQ_wrapper {
    background-color: #f2f2f2;
    padding: 10px;
    margin: 0 0 20px !important;
}

.MFBmsg{
    padding: 20px;
}

.MFBerrMsg{
    padding: 20px;
    color: #D14747;
}