/* Site Footer
-------------------------------------------------------------- */
.mk-site-ft {
	margin: 10px 0 0;
	padding: 20px 0 0;
}

.mk-ft-col {
	width: 195px;
	text-align: center;
}

.mk-ft-col h3 {
	color: #808080;
	font: 12px din-med;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.mk-ft-col ul li {
	font: 13px din-med;
	text-transform: uppercase;
}

.mk-ft-col ul li a {
	color: #191919;
	display: block;
	padding: 0 0 5px;
}

.mynt-footer {
    text-align: center;
    height: auto !important;
}

.mynt-footer a {
    text-decoration: none;
}

.mynt-footer a:hover {
    text-decoration: underline;
}

.mynt-footer hr {
    height: 1px;
    width: 100%;
    background: #d6d6d6;
    border: 0;
    margin: 0;
}

.mynt-footer hr.main {
    height: 2px;
}

.footer-content {
    margin: 0 auto;
    width: 980px;
    padding-top: 20px;
}

.mynt-links-block {
    overflow: hidden;
    padding-bottom: 20px;
}

.mynt-footer-links {
    float: left;
    width: 594px;
    margin-top: -30px;
}

.mynt-footer-links ul {
    margin: 0;
    padding: 0;
    list-style: none outside none;
    float: left;
    width: 47%;
}

.mynt-footer-links ul li {
    padding-right: 10px;
}

.mynt-footer-links ul li strong {
    letter-spacing: .05em;
    color: #808080;
    display: block;
    margin-bottom: 2px;
    font: 12px/20px din-med;
    margin-top: 28px;
}

.mynt-footer-links ul li a {
    font: 14px/20px din-med;
    margin-bottom: 2px;
    color: #333;
}
span.new-icon{
	background:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") repeat scroll -108px -95px transparent;
	display:inline-block;
	height:10px;
	width:20px;
	vertical-align:top;
	margin:1px 0 0 0;
}

.mynt-footer-links ul li span.new-icon  {
	background:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") repeat scroll -106px -95px transparent;
	display:inline-block;
	height:10px;
	width:22px;
	vertical-align:top;
	margin:1px 0 0 0;
}

.mynt-footer-promos {
    width: 320px;
    float: right;
    padding: 0 30px;
}

.mynt-footer-promos .promo {
    line-height: 22px;
    color: #333;
    font: 25px/30px din-med;
    letter-spacing: .05em;
}

.promo-small-text {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 25px;
    display: block;
}

.promo-text {
    font-family: arial;
    font-size: 12px;
    display: block;
}

.promo-text2 {
    font-family: arial;
    font-size: 12px;
    color: #000;
    display: block;
    line-height: 18px;
    padding-top: 12px;
}

.promo-block {
    margin-bottom: 20px;
    overflow: hidden;
}

.promo-leaf {
    color: #333;
    font: 13px Arial;
    text-transform: none;
    padding-top: 8px;
}

.promo-leaf b {
    font-weight: normal;
    color: #000;
}

.promo-link a {
    display: inline-block;
    font: 20px/28px din-med;
    letter-spacing: 1px;
    margin-top: 16px;
    color: #333;
}

.promo-link a:hover {
    text-decoration: underline;
}

.mynt-footer-promos .feedback {
    margin-top: 160px;
}

.mynt-footer-promos .feedback strong {
    font-weight: normal;
    margin-top: 20px;
    font-family: georgia, timesNewRoman, serif;
    font-size: 14px;
    color: #808080;
    display: block;
    letter-spacing: .05em;
    margin-bottom: 3px;
}

.channels {
    margin-top: 25px;
    font-family: georgia, timesNewRoman, serif;
    font-size: 14px;
    color: #808080;
    letter-spacing: .05em;
    padding-right: 175px;
}

.news-block {
    overflow: hidden;
    border-top: 1px dotted #b3b3b3;
    border-bottom: 1px dotted #b3b3b3;
    padding: 4px 0;
    margin: 2px 0;
}

.mynt-news {
    border-right: 1px solid #d6d6d6;
    float: left;
    padding-right: 20px;
    padding-top: 12px;
    width: 470px;
    padding-bottom: 20px;
}

.mynt-news strong,.style-mynt strong,.testimonials strong,.social-block strong,.payment-title,.mynt-foot-title
{
    font-size: 12px;
    color: #808080;
    letter-spacing: .05em;
    font-weight: normal;
    display: block;
    padding-bottom: 4px;
}

.mynt-foot-title {
    font-family: din-med;
}

input.newsletter {
    border: 1px solid #d6d6d6;
    height: 25px;
    margin: 5px 8px 5px 0;
    width: 285px;
    padding-left: 8px;
    font-size: 12px;
}

.style-mynt {
    float: right;
    padding-left: 10px;
    padding-top: 13px;
    width: 475px;
}

.style-text {
    color: #808080;
    padding-top: 10px;
    display: block;
}

.mynt-footer .maillink:hover {
    text-decoration: underline;
}

.social-block {
    border-top: 1px solid #d6d6d6;
    padding: 15px 0;
}

.testimonials {
    display: inline-block;
    width: 594px;
}

.testimonials-text {
    display: block;
    padding-top: 11px;
    width: 546px;
    font: 13px Arial;
    text-transform: none;
}

.testimonials-text em {
    color: #808080;
    display: block;
    padding-top: 10px;
}

.love-myntra {
    display: inline-block;
    width: 594px;
    vertical-align: top;
}

.mynt-tags {
    clear: both;
    color: #b5b5b5;
    padding: 20px 0;
    border-top: 1px solid #d6d6d6;
}

.mynt-tags a {
    text-transform: uppercase;
    color: #d14747;
    font-size: 12px;
    margin-left: 5px;
}

.mynt-text {
    padding: 30px 0;
    font: 13px/22px Arial;
    text-transform: none;
    border-top: 1px solid #d6d6d6;
}

.payment-block {
    border-top: 1px solid #d6d6d6;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 20px;
}

.poweredby {
    color: #808080;
    width: 100%;
    padding: 30px 0 0;
}

.payment {
    color: #808080;
    width: 100%
}

.mynt-copy-right {
    color: #333;
    font-size: 12px;
    padding: 15px 0;
    border-top: solid 1px #d6d6d6;
}

.certified-icon {
    background-image:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    background-position:0px -519px;
    width: 70px;
    height: 65px;
    margin: 0 auto;
}

.mk-site-ft .fb,
.mk-site-ft .tw,
.mk-site-ft .pt,
.mk-site-ft .yt,
.mk-site-ft .gp,
.mk-account-pages .fb,
.mk-account-pages .tw {
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-left: 3px;
    vertical-align: middle;
}
	
.secure .mk-site-ft .fb,
.secure .mk-site-ft .tw,
.secure .mk-site-ft .pt,
.secure .mk-site-ft .yt,
.secure .mk-site-ft .gp {
	background-image:url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.mk-site-ft .fb,
.mk-account-pages .fb {
    background-position: -90px -143px;
}
.mk-site-ft .fb:hover,
.mk-account-pages .fb:hover {
    background-position: -90px -220px;
}

.mk-site-ft .tw,
.mk-account-pages .tw {
    background-position:-122px -143px;
}
.mk-site-ft .tw:hover,
.mk-account-pages .tw:hover {
    background-position: -122px -220px;
}

.mk-site-ft .pt {
    background-position:-90px -294px;
}
.mk-site-ft .pt:hover {
    background-position: -123px -294px;
}

.mk-site-ft .yt {
    background-position:-90px -181px;
}
.mk-site-ft .yt:hover {
    background-position: -90px -258px;
}

.mk-site-ft .gp {
    background-position:-122px -181px;
    margin-right: 0;
}
.mk-site-ft .gp:hover {
    background-position: -122px -258px;
}

.love-icon {
    background-image:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    background-position:-78px -532px;
    width: 30px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}
.secure .love-icon {
    background-image:url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.payment-icons {
    background-image:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    background-position:0 -432px;
    height: 40px;
    margin: 0 auto;
    width: 460px;
}
.emi .payment-icons {
	width: 533px;
}
.secure .payment-icons {
    background-image:url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.powered-icons {
    background-image:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    background-position:0 -478px;
    width: 320px;
    height: 40px;
    margin: 0 auto;
}
.secure .powered-icons {
    background-image:url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.footer-social-buttons {
    margin-top: -2px;
    text-align: center;
}

.testimonials-slide {
    padding: 0 12px;
    width: 546px;
    float: left;
}

.foot-left-arrow {
    background-image:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    background-position:-167px -143px;
    width: 12px;
    height: 42px;
    float: left;
    margin-top: 40px;
    cursor: pointer;
}
.secure .foot-left-arrow {
    background-image:url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.foot-left-arrow:hover {
    background-position: -167px -228px;
}

.foot-right-arrow {
    background-image:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    background-position:-167px -185px;
    width: 12px;
    height: 42px;
    float: left;
    margin-top: 40px;
    cursor: pointer;
}
.secure .foot-right-arrow {
    background-image:url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.foot-right-arrow:hover {
    background-position: -167px -270px;
}

.item-desc {
    padding-left: 5px;
    padding-right: 5px;
}

.support-block {
    width: 100%;
    color: #808080;
    padding: 15px 0
}

.contact-block {
    width: 320px;
    display: inline-block;
    font-size: 12px;
    color: #808080;
    padding: 0 30px;
    vertical-align: top;
}

.contact-block span {
    color: #333;
    font-size: 16px;
    margin: 8px 0 15px;
    display: block;
}

.contact-block a.maillink {	 
    font-size: 16px;	 
    text-transform: lowercase;	 
    color: #d14747;	 
}

 .social-links-block {
    width: 320px;
    padding: 2px 30px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #808080;
}

.social-buttons {
    margin-top: 5px;
}

.social-buttons a:hover {
    text-decoration: none;
}

.inline-block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
}

.fb-like-button {
	margin: 0 0 5px;
	height: 60px;
}

.tw-follow-button {
	width: 144px;
}

.gp-plusone-button {
	margin-top: 10px;
}

.mk-site-ft .mynt-footer-links .icon-new {
	display: inline-block;
	position: relative;
	left: 3px;
	top: -3px;
}

.mynt-layout-new .mk-site-ft {
	margin: 0;
	padding-top: 15px;
}

.mynt-layout-new .footer-content {
	padding-top: 15px;
}

.mynt-layout-new .mynt-links-block {
	padding-bottom: 10px;
}


.mynt-layout-new .mynt-footer-links {
	float: none;
	width: 650px;
	display: inline-block;
	margin-top: 0;
}

.mynt-layout-new .mynt-footer-links ul {
	float: none;
	width: auto;
	text-align: left;
	padding: 2px 0;
}
	
.mynt-layout-new .mynt-footer-links ul li {
	font-size: 12px;
	display: inline;
	padding-right: 0;
}

.mynt-layout-new .mynt-footer-links ul li a {
	font: 12px/18px 'din-med';
}

.mynt-layout-new .contact-block {
	padding: 0;
	width: 320px;
	display: inline-block;
	margin: 0 0 0 6px;
	vertical-align: top;
	text-align: right;
}

.mynt-layout-new .contact-block .btn {
	width: 80px;
}

.mynt-layout-new .contact-block .btn:hover {
	text-decoration: none;
} 

.mynt-layout-new .contact-block strong {
	vertical-align: middle;
}

.mynt-layout-new .contact-block .social-buttons {
	margin-top: 10px;
}

.mynt-layout-new .social-block {
	border-top: 0;
	padding: 0;
	margin-top: 10px;
	height: 40px;
}

.mynt-layout-new .social-block .fb-like-button,
.mynt-layout-new .social-block .tw-tweet-button,
.mynt-layout-new .social-block .gp-plusone-button {
	margin: 0;
	display: inline-block;
}

.mynt-layout-new .social-block .tw-tweet-button {
	margin: 8px -10px 0 10px;
}

.mynt-layout-new .social-block .gp-plusone-button {
	margin: 7px -16px 0 0;
	position: relative;
	top: -12px;
}

.mynt-layout-new .mynt-footer-promos {
	width: 100%;
	float: none;
	padding: 0;
}

.mynt-layout-new .mynt-footer-promos .promo-block {
	width: 300px;
	height: 125px;
	display: inline-block;
	padding: 10px;
	background: #f2f2f2;
	margin: 0 10px 0 0;
}

.mynt-layout-new .mynt-footer-promos .promo-block.mk-last {
	margin-right: 0;
}

.mynt-layout-new .mynt-footer-promos .promo {
	color: #808080;
}

.mynt-layout-new .mynt-footer-promos .promo-leaf {
	font: 12px/18px Georgia;
	padding-top: 2px;
}

.mynt-layout-new .mynt-footer-promos .certified-icon {
	margin-bottom: 20px;
}

.mynt-layout-new .mynt-text {
	font: 12px/20px Georgia;
	padding: 15px 0;
	border-top: 0;
}

.mynt-layout-new .mynt-tags {
	padding: 10px 0 15px;
}

.mynt-layout-new .payment-block {
	padding: 10px 0 5px;
	text-align: left;
}

.mynt-layout-new .mini-ft .payment-block {
	border-top-width: 2px;
}

.mynt-layout-new .mini-ft .payment {
	display: inline-block;
	width: 650px;
}

.mynt-layout-new .mini-ft .payment-icons {
	margin-left: 0;
}

.mynt-layout-new .mini-ft .payment-block .contact {
	display: inline-block;
	width: 320px;
	margin-left: 6px;
	text-align: right;
	font: 14px/20px 'din-med';
}

.mynt-layout-new .mini-ft .payment-block .contact .maillink {
	text-transform: lowercase;
}

.mynt-layout-new .mynt-copy-right {
	padding: 10px 0;
}
