.mk-giftcards h1 {
	margin: 10px 0;
	font: 35px 'din-med';
	text-align: center;
}

.mk-giftcards h2 {
	font: 20px 'din-med';
	margin: 10px 0;
}

.mk-giftcards-left{
	width:580px;
	float:left;
	padding-bottom:10px;
}

.mk-giftcards-right{
	width:392px;
	float:right;
	padding-bottom:10px;
}
.mk-occasions
{
	width: 520px;
	height: 125px;
	padding: 0 30px;
	margin: 0 0 5px;
	border-bottom: 1px solid #D6D6D6;
	border-top: 1px solid #D6D6D6;
	position: relative;
	overflow: hidden;
}
.mk-occasions ul li {
	width: 115px;
	zoom: 1;
	margin: 0 8px;
	height: 120px;
	padding: 10px 0 0;
	position: relative;
	float:left;
}

.mk-occasions a.rs-carousel-action {
	position: absolute;
	top: 48px;
	display: none;
	width: 12px;
	height: 40px;
	text-indent: -9999px;
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat;
	outline: none;
}

.mk-occasions a.rs-carousel-action-next:hover {
	background-position: -167px -271px;
}
.mk-occasions a.rs-carousel-action-next {
	right: 0;
	background-position: -167px -186px;
}

.mk-occasions a.rs-carousel-action-prev:hover {
	background-position: -167px -229px;
}

.mk-occasions a.rs-carousel-action-prev {
	left: 0;
	background-position: -167px -144px;
}
.mk-occasions a.rs-carousel-action-active {
	display: block;
}

.mk-giftcards-choose{

}

.mk-giftcards-enter{

}

.mk-giftcards-or{
	margin-top: 23px;
	float: left;
	margin-left: 12px;
	margin-right: 12px;
}

.mk-giftcards-enter span{
	font-size:12px;
	color:#808080;
}

.primary-btn .proceed-icon {
	background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") repeat scroll -135px -114px transparent;
	width: 18px;
	height: 18px;
	float: right;
	right: 8px;
	top: 9px;
	position: absolute;
}

.buy-gift-card{
position: relative;
width: 225px;
}

.mk-form-sections{
	margin-bottom:20px;
}

.mk-giftcards-amount-section.mk-form-sections{
	width:250px;
	margin-bottom:10px;
}

.mk-giftcards-form{
	width:255px;
	margin:0 auto;
}

.mk-giftcards-enter input{
	width:90px;
}

.mk-recipient-email, .mk-recipient-name, .mk-sender-name{
	width:240px;
}

.mk-message{
	width:240px;
	height:100px;
	resize: none;
}

input[type="text"].mk-blur, textarea.mk-blur{
	color:#b5b5b5;
}

input[type="text"].mk-amount{
	height:18px;
}

.mk-message-clear{
	font-size:12px;
	cursor: pointer;
}

.mk-message-char-count{
	color:#333333;
}

.mk-message-count{
	font-size:12px;
	color:#808080;
}

.mk-occasions li{
	text-align:center;
}

.mk-occasion-title{
	font-size:13px;
	margin-bottom:5px;
}

.mk-occasion-thumb{
	border: 1px solid #ffffff;
	opacity: 0.5;
	filter:alpha(opacity=50);
	cursor:pointer;
}

.mk-occasion-thumb.mk-occasion-selected{
	border: 1px solid #333333;
	opacity: 1;
	filter:alpha(opacity=100);
}

.mk-giftcards-preview{
	text-align:center;
}

.mk-giftcard-preview-link{
	margin: 0px 0px 5px 0px;
	display:block;
	cursor:pointer;
	font-size:12px;
}

.mk-gc-onpage-preview{
	width:216px;
	height:227px;
	position:absolute;
	top:62px;
	right:42px;
	color:#ffffff;
	font-family:georgia,helvetica,sans-serif;
	text-transform: none;
}

.mk-giftcards-preview-section{
	position:relative;
}

.mk-gc-preview-to{
	margin-top:17px;	
}
.mk-gc-preview-message{
	margin-top:25px;
	
}

.mk-gc-preview-to{
	font-size:16px;
}

.mk-gc-preview-message{
	font-size:16px;
	word-wrap:break-word;
}

.mk-gc-preview-from{
	bottom: 18px;
    font-size: 16px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%
}

.mk-set-as-profile-label{
 	font-size: 13px;
    margin-top: 5px;
}

.mk-set-as-profile-name{
	float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.mk-gp-subtitle{
	font-size:12px;
	color: #808080;
}

.mk-gp-subtitle span{
	color:#808080;
}

.mk-gp-helptext{
	margin-bottom:5px;
}

.mk-optional{
	font-size:13px;
	color:#808080;
}

#mk-giftcard-preview .hd{
	padding-bottom:7px;
}

#mk-giftcard-preview .mk-gp-subtitle{
	color:#333;
}

.mk-answer{
	text-transform:none;
	font-size:12px;
}

.mk-giftcard-faqs{
	float:none;
	clear:both;
	width:600px;
	margin:0 auto;
	text-align:left;
	padding: 0 190px 0 190px;
	border-top:1px solid #d5d5d5;
	font-family: arial;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
}
.mk-giftcard-faqs p{
	margin-bottom: 10px;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}
.mk-giftcard-faqs ul li{
	list-style-type:disc;
	text-align:left;
}

.mk-giftcard-faqs ul{
	font-family: arial;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
    margin-bottom:10px;
	line-height:16px;
	margin-left:20px;
}

.mk-giftcard-faqs p.mk-answer{
	border-bottom: 1px solid #D6D6D6;
    font-family: arial;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform: none;
	line-height:16px;
}

input[type="text"].mk-err, input[type="email"].mk-err, input[type="password"].mk-err, textarea.mk-err, select.mk-err{
	border: 1px solid #D14747;
}

.mk-gc-switch-to-select,.mk-gc-switch-to-input{
	display:inline-block;
	margin-top:25px;
	margin-left:10px;
	font-size:12px;
}

.mk-amount-select{
	width:105px;
}

.mk-giftcards-choose, .mk-giftcards-enter{
	height:69px;
}

.mk-amount-error{
	float:none;
	clear:both;
}
.mk-gc-preview-amount{
	font-weight:bold;
	color:#D14747;
}

.mk-giftcardpreview-overlay.lightbox .ft{
	border-top:1px solid #d5d5d5;
}