#lb-gift-wrap .mod{
	min-height:530px;
}

#lb-gift-wrap .hd {
	border:none;
}

#lb-gift-wrap .photo {
	float:left;
	width:460px;
	height:440px;
	background:transparent url("http://myntra.myntassets.com/skin2/images/gift_card_image_v3_420x460.jpg") no-repeat 0 0;
	margin-right:25px;
}
.secure #lb-gift-wrap .photo{
	background:transparent url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/gift_card_image_v3_420x460.jpg") no-repeat 0 0;
}

#lb-gift-wrap .details{
	padding-left:490px;
	
}

#lb-gift-wrap .input-row {
	position:relative;
}

#lb-gift-wrap .details input,#lb-gift-wrap .details textarea,#lb-gift-wrap .details label,#lb-gift-wrap .details .err-msg {
	width:330px;
	border-radius:5px;
	text-align:left;
	resize:none;
}

#lb-gift-wrap .details textarea {
	height:110px;
	overflow:auto;
}

#lb-gift-wrap .static-text {
	position:absolute;
	right:312px;
	color:#808080;
}
#lb-gift-wrap .static-text.to{
	top:11px;
}
#lb-gift-wrap .static-text.from {
	top:11px;
} 


#lb-gift-wrap .details input#gift-to,#lb-gift-wrap .details input#gift-from {
	padding-left:42px;
	width:296px;
	height:19px;
}


#lb-gift-wrap .details label {
	margin:0 0 3px 2px;;
}

#lb-gift-wrap .details label span {
	color:#808080;
	font-size:12px;
}

#lb-gift-wrap .err-msg {
    color:#d14747;
    padding:3px;
    height:15px;
    margin-bottom:8px;
    visibility:hidden;	
}
#lb-gift-wrap .status-msg {
	color:#d14747;
	position:relative;
	top:-18px;

}
#lb-gift-wrap .details button {
	text-align:center;	
	width:100px;
	margin:0 10px;	
	
}
#lb-gift-wrap .success-msg {
	font-size:14px;
	
}

#lb-gift-wrap .success-msg span{
	background:transparent url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -95px -405px;
	height:17px;
	width:17px;
	display:inline-block;
	*zoom:1;
	*display:inline;
	vertical-align:bottom;
	
}
.secure #lb-gift-wrap .success-msg span{
	background:transparent url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") no-repeat -95px -405px;
}


/****CALLING PAGE STYLES*****/
.gift-holder{
	font-size: 12px;
	line-height:15px;
	text-align:left;
	color:#000;
	position:absolute;
	bottom:10px;

}
.gift-icon {
	position:absolute;
	left:140px;
	top:-18px;
	display:block;
	height:42px;
	width:50px;
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -580px -50px transparent;
}
.secure .gift-icon {
	background: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png') no-repeat -580px -50px transparent;
}

.gift-chkbox-div{
	margin-bottom:5px;
	
}

.gift-chkbox-div em {
	text-transform:none;
}

.gift-chkbox-div .red{
	vertical-align: super;
}

.gift-wrap-info {
	color:#808080;
	
}

.gift-chkbox-div .gift-wrap-select {
	vertical-align:bottom;
	margin-bottom:1px;
}
.checkout .gift-order-summary {
	margin-top:22px;
	position:relative;
}

.gift-order-summary .gift-holder {
	position:relative;
	padding-top:22px;
	text-align:center;
}
.gift-order-summary .gift-holder  .gift-chkbox-div {
	margin:0;
}
.gift-order-summary .gift-holder .gift-title{
	color:#808080;
}
.gift-msg-edit {
	text-decoration:underline;
	cursor:pointer;
}


.orderbox .hd span.my-gift-msg {
	float:left;
	color:#808080;
	clear:both;
	text-align:left;
	font-size:12px;
}
.orderbox .hd span.my-gift-msg span {
	color:#000;
	font-size:12px;
}
