/* Site Header
-------------------------------------------------------------- */
.mk-site-hd .customer-promises {
    margin: 10px 0;
    color: #808080;
    font: 12px/15px din-med;    
}

.mk-site-hd .customer-promises>.mk-f-left,
.mk-site-hd .customer-promises>.mk-f-right {
    margin: 3px 0 1px;
}

.mk-festival-header {
    width: 980px;
    margin: 0 auto;
    position: relative;
    max-height: 50px;
    overflow: hidden;
}

.mk-festival-header .mk-festival-header-center {
    width: 980px;
    display: block;
}
 
.mk-festival-header .mk-festival-header-left {
    position: absolute;
    top: 0px;
    width: 60px;
    margin-left: -60px;
}

.mk-festival-header .mk-festival-header-right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    margin-right: -60px;
}


/*.mk-site-hd .mk-festival-header .mainContent{
    letter-spacing: 1px;
    font-size: 24px;
}

.mk-site-hd .mk-festival-header .links{
    font-size: 14px;
    color: #3D3D3D;
}

.mk-site-hd .mk-festival-header .links a{
    text-decoration: none;
    border-bottom: 1px solid #808080;
}


.mk-site-hd .mk-festival-header .links .seperator{
    padding-left: 10px;
    padding-right: 10px;
}*/

.mk-site-hd .customer-promises em {
    color: #333;
}

.mk-site-hd ul li {
    float: left;
    margin-right: 24px;
    color: #808080;
    font: 14px/19px din-med;
    text-transform: uppercase;
    position: relative;
}

.mk-site-search input { width: 668px; }

.mk-search-form{
    position: relative;
    top: 5px;
}

.mk-site-search{
    width:500px;
}

.mk-placeholder-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 96%;
    height: 75%;
    cursor:text;
    font: 14px/16px 'din-med';
    color: #b5b5b5;
    padding: 13px 0 0 10px;
    text-align:left;
    z-index:1003;
    zoom:1;
}

.mk-search-submit-btn{
    border: 0px none;
    position: absolute;
    right: 0;
    top: 0;
}

.mk-no-results input[type="text"].mk-site-search,
.mk-no-results .mk-placeholder-text {
    z-index:1000;
}

input[type="text"].mk-site-search {
    text-transform: uppercase;
    font: 14px/18px 'din-med';
    height: 18px;
    width: 680px;
    padding: 10px;
    background: #fff;
    position: relative;
    z-index: 1002;
    -webkit-box-shadow: 0 1px 5px #ccc inset;
    /* @alternate */ -moz-box-shadow: 0 1px 5px #ccc inset;
    /* @alternate */ box-shadow: 0 1px 5px #ccc inset;
}

.mk-site-search-btn {
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -208px 0 transparent;
    display: block;
    width: 33px;
    height: 36px;
    text-align: center;
    border-left: none;
    cursor: pointer;
    position: absolute;
    right: 1px;
    top: 3px;
    border: 0;
    z-index:1003;
}

.mk-site-search-btn:hover {
    background-position: -242px 0;
}

.mk-site-hd p.mk-welcome {
    clear: left;
    width: 100px;
    margin-top: 8px;
}

.mk-site-hd a.mk-welcome {
    clear: left;
    width: 100px;
    margin-top: 8px;
}

.mynt-layout-new #signup {
    float: left;
    margin: 0 2px;
}

.mynt-layout-new .mk-site-hd .customer-promises .mk-f-right span a {
    margin: 0;
    color: #808080;
}

#signup{
    float: left;
    margin-top: 14px;
    color:#808080;
    margin-left:10px;
    font-size:12px;
}

.mk-f-left-signup{
    float: left;
    padding-left: 35px;
}

.mk-f-right-signup{
    float: right;
    padding-right: 35px;
}


.mk-site-hd p.welcome-logout {
    padding-top: 1px;
    font: 14px din-med;
    color: #000;
    width: auto;
    min-width:300px;
    margin-top: 0px;
}

.mk-site-hd p.mk-welcome a {
    color: #000;
    font-size:12px;
}

.mk-site-hd p.mk-welcome .mk-sign-out {
    color: #808080;
    font-size: 12px;
    display: block;
    padding-top: 2px;
}

.mk-site-hd p.mk-welcome #pipe{
    color: #b5b5b5 !important;
}

.mk-site-hd p.mk-welcome span a{
    color: #808080 !important;
}
.mk-site-hd p.mk-welcome .mk-sign-out:hover {
    text-decoration: underline;
    cursor:pointer;
}

.mk-checkout-hd p.welcome-logout {
    margin-top: 9px;
    line-height: 22px;
}

.mk-checkout-hd p.mk-welcome .mk-sign-out {
    display: inline;
}

.mynt-layout-new .mk-site-hd .customer-promises {
    border-bottom: 1px solid #d6d6d6;
    margin: 0;
    padding: 4px 0 6px;
    font-size: 12px;
}

.mynt-layout-new .customer-promises .icon-arrow-right {
    display: inline-block;
    margin: 1px 6px -1px 3px;
}

.mynt-layout-new .mk-site-hd .col {
    width: 320px;
    height: 60px;
    vertical-align: top;
    display: inline-block;
    margin: 12px 0 -2px;
    padding: 0;
}

.mynt-layout-new h1.col img {
    margin-top: 1px;
}

.mynt-layout-new .mk-search-form.col {
    margin-left: 6px;
    margin-right: 6px;
}

.mynt-layout-new input[type="text"].mk-site-search {
    width: 278px;
    padding: 5px 30px 5px 10px;
}

.mynt-layout-new .mk-placeholder-text {
    padding-top: 8px;
    width: 308px;
    height: 20px;
}

.mynt-layout-new .mk-site-search-btn {
    height: 26px;
    background-position: -209px -5px;
}

.mynt-layout-new .mk-site-search-btn:hover {
    background-position: -242px -5px;
}

/* Checkout Header
-------------------------------------------------------------- */
.mk-checkout-hd {
    padding-bottom:2px;
    border-bottom:2px solid #999;
}
.mk-checkout-hd .logo {
    overflow:hidden;
    zoom:1;
}
.mk-checkout-hd .logo img {
    float:left;
}
.mk-checkout-hd .logo .steps {
    float: right;
    position: relative;
    top: 10px;
}
.mk-checkout-hd .steps li {
    display:inline-block;
    *display:inline;
    *zoom:1;
    padding:5px 10px;
    margin:0 0 0 10px;
    width:140px;
    background-color:#e6e6e6;
    border-radius:5px;
    text-align:center;
    position:relative;
}
.mk-checkout-hd .steps li .ico {
    background-image:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    background-position:-95px -406px;
    width:17px;
    height:16px;
    position:absolute;
    left:5px;
    top:6px;
    display:none;
}
.secure .mk-checkout-hd .steps li .ico {
    background-image:url(https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png);
}
.mk-checkout-hd .steps li,
.mk-checkout-hd .steps li a {
    text-decoration:none;
    color: #bfbfbf;
}
.mk-checkout-hd .steps li.selected {
    background-color:#000;
}
.mk-checkout-hd .steps li.selected,
.mk-checkout-hd .steps li.selected a {
    color:#fff;
}
.mk-checkout-hd .steps li.completed,
.mk-checkout-hd .steps li.completed a {
    color:#808080;
}
.mk-checkout-hd .steps li.completed .ico {
    display:block;
}
.mk-checkout-hd p.mk-welcome {
    margin-bottom: 4px;
}

.mk-checkout-hd .checkout-promise {
    font-size: 14px;
    position: relative;
    top: 8px;
}

.mk-checkout-hd .lock-icon {
    background-image: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png');
    background-repeat: no-repeat;
    background-position: -165px -46px;
    background-color: transparent;
    display: inline-block;
    height: 30px;
    width: 20px;
    margin: -6px 0;
}
.secure .mk-checkout-hd .lock-icon {
    background-image: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png');
}

.mynt-layout-new .mk-checkout-hd .steps {
    width: 650px;
    margin-left: 6px;
    position: relative;
    top: 5px;
    text-align: right;
}

.mynt-layout-new .mk-checkout-hd .steps li {
    float: none;
    border-radius: 4px;
    line-height: 20px;
}

.mynt-layout-new .mk-checkout-hd .checkout-promises {
    margin-bottom: 3px;
}

.mynt-layout-new .mk-checkout-hd .mk-promises {
    display: inline-block;
    width: 700px;
    text-align: left;
    font-size: 12px;
    margin: 8px 0;
}

.mynt-layout-new .mk-checkout-hd .mk-secure {
    display: inline-block;
    width: 270px;
    margin-left: 6px;
    font-size: 14px;
    text-align: right;
}

/* Featured Touts
-------------------------------------------------------------- * /
.mk-feature-page-touts {
    display: block;
    margin: 24px 0;
}
.mk-feature-page-touts li {
    display: inline-block;
    margin-right: 10px;
    vertical-align:top;
}

.mk-feature-page-touts li.mk-last { margin: 0; }

.mk-feature-page-touts li a {
    display: block;
    width: 184px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #808080;
    font-size: 12px;
}
.mk-feature-page-touts li a:hover p { color: #333; }
.mk-feature-page-touts li a h3 {
    font-size: 20px;
    color: #333;
}

*/
.mk-matchmaker .mk-product-brand,
.mk-carousel-four .mk-product-image .mk-product-brand,
.mk-search-grid .mk-prod-img .mk-prod-brand, .mk-saved-wrapper .mk-product-brand {
    display: none;
    width: 100%;
    position: absolute;
    top: 160px;
    left: 0;
    text-align: center;
}

.mk-matchmaker .mk-product-brand em,
.mk-carousel-four .mk-product-image .mk-product-brand em,
.mk-search-grid .mk-prod-img .mk-prod-brand em {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 3px 10px;
    font: 12px 'din-med';
    text-transform: uppercase;
}

/* Header Widgets [Bag / Wishlist / Recent / My Myntra Dashboard] 
-------------------------------------------------------------- */
.mk-site-hd .mk-utility {
    margin: 0 -15px 0 0;
}

.mk-site-hd .mk-utility li {
    margin: 0;
    padding: 0 15px;
    position: relative;
    cursor: pointer;
    height: 45px;
    margin-bottom: -8px;
    *width: 110px;
}

.mk-site-hd .mk-utility li a {
    text-decoration: none;
    display: block;
    width: 100%;
}

.mk-site-hd .mk-utility li em {
    display: inline-block;
    font: 14px din-med;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #000;
    position: relative;
    width: 100%;
}

.mk-site-hd .mk-utility li.mk-hover em {
    color: #808080;
    cursor: pointer;
}

.mk-site-hd .mk-utility li:hover em {
    text-decoration: underline;
}

.mk-site-hd .mk-utility li .mk-count {
    font: 12px din-med;
    vertical-align: baseline;
    display: block;
    text-align: center;
    color: #808080;
    *width: 100%;
    *margin-top: 2px;
}

.mk-site-hd .mk-utility li .rupees {
    color: #d14747;
}

.mk-site-hd .mk-utility li .mk-arrow {
    position: absolute;
    top: 35px;
    left: -300%;
    width: 700%;
    height: 12px;
    z-index: 1005;
}
    
.mk-site-hd .mk-utility li.mk-hover .mk-arrow {
    display: block;
}

.mk-site-hd .mk-utility li .mk-arrow span {
    display: block;
    width: 12px;
    height: 6px;
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: -89px 0;
    background-color: transparent;
    margin-left: -6px;
    position: absolute;
    left: 50%;
    z-index: 1;
}

.mk-site-hd .mk-utility li .bag-cont {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    *width: 65%;
}

.mk-site-hd .mk-utility li .bag-cont .mk-count span {
    *margin-left: 2px;
    *margin-top: 0;
}

.mk-site-hd .mk-utility li .bag-cont .mk-count span.rupees {
    *margin-left: 0;
}

.mk-site-hd .mk-utility li .bag-icon {
    width: 32px;
    height: 36px;
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: -202px -93px;
    background-color: transparent;
    display: inline-block;
    z-index: 1;
    margin: -2px 0 -2px 2px;
    *width: 35%;
    *float: right;
    *margin-top: -35px;
}

.mk-site-hd .mk-utility li.mk-hover .bag-icon {
    background-position: -243px -93px;
    margin-top: -1px;
    *margin-top: -34px;
}

h1 .sep { color: #b5b5b5; }

.mk-carousel-items .mk-mymyntra-items,
.mk-body .mk-pdp-carousel-sub-items .mk-mymyntra-items {
    padding: 0 1px;
    width: 976px;
    background: #f2f2f2;
}

.mynt-layout-new .mk-pdp-carousel-sub-items .mk-mymyntra-items {
    background: #fff;
}

.mk-carousel-items .mk-product-image img, .mk-pdp-carousel-sub-items .mk-product-image img {
    height: 108px;
    width: 81px;
}

.mk-mymyntra-dash .email,
.mk-mymyntra-items .email {
    text-transform: lowercase;
}

.mk-mymyntra-dash li.col,
.mk-mymyntra-items li.col {
    width: 164px;
    height: 110px;
    margin: 30px 0;
    padding: 5px 15px 5px 12px;
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    border-right: 1px solid #d6d6d6;
    font: 12px/20px 'din-med';
    text-align: center;
}

.mk-mymyntra-dash li.no-border,
.mk-mymyntra-items li.no-border {
    border-right: 0;
}

.mk-mymyntra-dash li.col h4 a,
.mk-mymyntra-items li.col h4 a {
    font-size: 16px;
    color: #333;
    padding-bottom: 4px;
}

.mk-mymyntra-dash li.col a,
.mk-mymyntra-items li.col a {
    width: auto;
    color: #333;
    line-height: 24px;
    text-decoration: underline;
}

.mk-mymyntra-items li.col .loyalty-dash-info{
    display: inline-block;
}
.mk-mymyntra-items li.col .loyalty-dash-info a{
    display: inline-block;
    color: #808080;
}


.mk-mymyntra-items li.col .loyalty-dash-info .icon-new-large{
    display: inline-block;
    vertical-align: middle;
}

.mk-mymyntra-dash li.col a:hover,
.mk-mymyntra-items li.col a:hover {
    color: #000;
}

.mk-carousel-items, .mk-pdp-carousel-sub-items {
    width:980px;
}
.mk-pdp-carousel-items,
.mk-carousel-items,
.mk-pdp-carousel-sub-items {
    padding: 0 0 5px 0;
}

.mk-pdp-carousel-sub-items.mk-sticky {
    position: fixed;
    top: 42px;
    z-index: 1005;
}

.mk-pdp-carousel-sub-items.mk-sticky .mk-saved-wrapper {
    border-top: 0;
}

.mynt-layout-new .mk-carousel-items {
    padding: 0px;
}

.mk-pdp-carousel-items{
    width: 188px;
}

.mk-pdp-carousel-items, .mk-pdp-carousel-sub-items{
    position:absolute;
    z-index:1004;
}
.mk-pdp-carousel-sub-items{
    margin-top: 1px;
    *margin-top: 0px;
}

.mk-pdp-carousel-breadcrumbs{
    line-height: 28px;
    padding: 0 10px;
    font-size: 12px;
}

.mk-location-breadcrumbs{
    line-height: 28px;
    padding: 0px 10px;
    color: #808080;
    text-align: left;
    text-decoration: capitalize;
    font-size:11px;
}

.mk-location-breadcrumbs a{
    color: #808080;
}


.mk-pdp-carousel-shop-by{
    border-bottom: 1px solid #D6D6D6;
    background: #F2F2F2;
    margin-top: 5px;
}

.mk-pdp-carousel-shop-by-text span.pdp-shop-by-btn{
    font: 14px/15px 'din-med';
    white-space: nowrap;
    padding: 7px 6px;
    overflow: hidden;
    cursor: pointer;
    float: none;
    text-align: center;
    text-transform: uppercase;
    width:176px;
    display:block;
    position:relative;
}
.mk-pdp-carousel-shop-by .mk-saved-wrapper {
    border-top: 0px none;
}
.mk-saved-wrapper {
    width: 930px;
    height: 180px;
    background: #e6e6e6;
    padding: 0 25px;
    border-top: 10px solid #fff;
    margin: 0 0 6px;
    border-bottom: 1px solid #d6d6d6;
    -webkit-border-radius: 2px;
    /* @alternate */ -moz-border-radius: 2px;
    /* @alternate */ border-radius: 2px;
    position: relative;
    overflow: hidden;
}

/* JS Carousel */ 
.mk-saved-wrapper a.rs-carousel-action { 
  position: absolute;
  top: 70px;
  display: none; 
  width: 28px;
  height: 30px;
  text-indent: -9999px;
  background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat;
}

.mk-saved-wrapper a.rs-carousel-action-active { 
  display: block;
}

.mk-saved-wrapper a.rs-carousel-action-prev { 
  left: 0;
  background-position: 0 -340px;
}

.mk-saved-wrapper a.rs-carousel-action-prev:hover {
  background-position: -39px -340px;
}

.mk-saved-wrapper a.rs-carousel-action-next { 
  right: 0;
  background-position: 0 -300px;
}

.mk-saved-wrapper a.rs-carousel-action-next:hover {
  background-position: -39px -300px;
}

.mk-saved-wrapper ul {
    height: 180px;
}

.mk-saved-wrapper ul li {
    width: 162px;
    zoom: 1;
    margin: 0px 10px 0;
    height:170px;
    padding:10px 0 0;
    position:relative;
}

.mk-saved-wrapper ul li a {
display:block;
width:81px;
margin:0 auto;
}
.mk-saved-wrapper ul li a div em {
    color: #fff;
    background: #000;
    padding: 5px;
}

.mk-saved-wrapper ul li p {font-size:12px;text-align:center;}

.mk-saved-wrapper .mk-product-image { position: relative; }

.mk-saved-wrapper .mk-product-image .mk-product-brand {
    width: 112px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.mk-saved-wrapper .mk-product-image .mk-product-brand em {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 5px 20px;
    font: 12px 'din-ital';
    margin-top: 115px;
    text-transform: uppercase;
}
.mk-saved-wrapper span {
    top:96px;
    left:42.5px;
}

.mk-saved-wrapper .brand-text {
    font-size:12px;
    color: #808080;
}

.mk-saved-wrapper .price-text {
    font-size: 12px;
}

.mk-saved-wrapper .price-text label {
    color: #808080;
    font-size: 12px;
    display: inline;
}
.mk-saved-wrapper .gift {
    font-size: 12px;
    text-align: center;
}

.mk-saved-wrapper .red-text {
    color: #d14747;
    font-size: 12px;
}

.mynt-layout-new .mk-site-hd .mk-utility {
    text-align: right;
}

.mynt-layout-new .mk-site-hd .mk-utility li {
    height: 36px;
    padding: 0 4px;
    float: none;
    display: inline-block;
}

.mynt-layout-new .mk-site-hd .mk-utility li.bag {
    padding-right: 0;
}

.mynt-layout-new .mk-site-hd li.bag.mk-sticky {
    position: fixed;
    top: 0;
    z-index: 1005;
}

.mynt-layout-new .mk-site-hd li.bag.mk-sticky .mk-arrow {
    top: -4px;
    height: 50px;
}

.mynt-layout-new .mk-site-hd li.bag.mk-sticky .mk-arrow span {
    top: 34px;
}

.mynt-layout-new .mk-site-hd .mk-utility li em {
    font: 12px/16px 'din-med';
}

.mynt-layout-new .mk-site-hd .mk-utility .mk-recent {
    width: 60px;
}

.mynt-layout-new .mk-site-hd .mk-utility li .bag-cont {
    vertical-align: baseline;
}

.mynt-layout-new .mk-site-hd .mk-utility li .bag-icon {
    margin: 0 0 -4px 2px;
    background-position: -202px -164px;
}

.mynt-layout-new .mk-site-hd .mk-utility li.mk-hover .bag-icon {
    background-position: -242px -164px;
}

.mynt-layout-new .mk-site-hd .bag-cont .mk-count strong {
    position: absolute;
    top: 13px;
    right: 4px;
    font-size: 14px;
    width: 14px;
    padding: 1px 4px;
    color: #d14747; 
}

.mynt-layout-new .mk-site-hd .mk-utility li .mk-arrow {
    top: 32px;
    height: 24px;
}

.mynt-layout-new .mk-site-hd .mk-utility li .mk-arrow span {
    top: 17px;
    background-position: -259px -144px;
}

.mynt-layout-new .mk-saved-wrapper {
    margin-bottom: 4px;
    background: #fff;
    border: 1px solid #d6d6d6;
    padding: 0 24px;
    margin-top: -2px;
    box-shadow: 0 1px 4px #d6d6d6;
}

.mk-site-nav-wrapper.mk-sticky {
    position: fixed;
    top: 0px;
    z-index: 1004;
}

.mk-site-nav-wrapper.mk-sticky .mk-site-nav {
    border-bottom: 1px solid #fff;
}


/* Notifications
------------------------------------------------*/
#notificationWrapper {
  position: relative;
  margin: -2px 0;
}

#mk-notification {
  float: right;
  background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -204px -327px;
  height: 23px;
  width: 29px;
  margin-left: 10px;
  position: relative;
  z-index: 2001;
}

.secure #mk-notification {
  background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

#notificationWrapper:hover>#mk-notification {
  background-position: -240px -327px;
}

#mk-notification span.newCount {
  position: absolute;
  left: 6px;
  top: 4px;
  display: block;
  padding: 0 2px;
  color: #fff;
  text-align: center;
  min-width: 12px;
  border-radius: 2px;
}

#notificationWrapper:hover>#mk-notification span.newCount {
  color: #d14747;
}

#notificationWrapper .shim {
  position: absolute;
  background: #fff;
  width: 32px;
  height: 30px;
  top: -4px;
  right: 0;
  z-index: 1;
  display: none;
}

#notif-tooltip {
  color: #fff;
  box-shadow: none;
  position: relative;
  left: 0;
  top: 0;
  text-align: left;
  float: right;
  margin: -1px 0 -1px 6px;
  padding: 2px 25px 2px 5px;
  width: auto;
  z-index: 0;
}

#notif-tooltip .close {
  right: 3px;
  left: auto;
}

#notif-tooltip .arrow {
  top: 1px;
}

#mk-notification-popup {
  display: none;
  position: absolute;
  z-index: 2000;
  width: 316px;
  max-height: 575px;
  border: 2px solid #e6e6e6;
  box-shadow: 2px solid #e6e6e6;
  top: 28px;
  right: 0;
  background-color: #fff;
  border-top-width: 1px;
  border-radius: 2px 0px 2px 2px;
}

#mk-notification .mk-arrow {
  display: none;
  position: absolute;
  width: 700%;
  left: -600%;
  top: 10px;
  height: 20px;
  z-index: 1005;
}

#mk-notification .mk-arrow>span {
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -259px -144px;
  height: 5px;
  width: 12px;
  position: absolute;
  right: 9px;
  top: 14px;
  border-bottom: solid 1px #fff;
}

.secure #mk-notification .mk-arrow>span {
  background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

#mk-notification-popup .mk-ntf-category li{
  min-height: 85px;
  width: 316px;
  border-bottom: dotted 1px #d6d6d6;
  margin-right: 0;
  position: relative;  
}

#mk-notification-popup .mk-ntf-category li.unread {
  background-color: #fcf8eb;
}

#mk-notification-popup .mk-ntf-category li:hover, #mk-notification-popup .mk-ntf-category li.unread:hover {
  background-color: #f2f2f2;
}

#mk-notification-popup h1 {
  font-size: 14px;
  line-height: 30px;
  color: #333;
  padding-left: 5px;
}

#mk-notification-popup .mk-ntf-category h2 {
  font-size: 12px;
  line-height: 25px;
  color: #808080;
  padding-left: 10px;
  background-color: #e6e6e6;
}

#mk-notification-popup .mk-ntf-category li img {
  float: left;
  width: 48px;
  margin:10px 10px 0 10px;
}

#mk-notification-popup .mk-ntf-category li h3 {
  float: left;
  font-size: 12px;
  color: #333;
  line-height: 15px;
  width: 243px;
  padding: 8px 0 3px;
}

#mk-notification-popup .mk-ntf-category li p {
 float: left;
 font-size: 12px;
 font-family: arial;
 color: #333;
 line-height: 15px;
 width: 243px;
 text-transform: none;
}


#mk-notification-popup .mk-ntf-category li p a:hover{
  text-decoration: none;
}

#mk-notification-popup a.blueLink {
  display: none;
  font-size: 12px;
  color: #448fa5;
  line-height: 25px;
  padding-left: 63px;
  text-decoration: none;
}

#mk-notification-popup a.blueLink:hover {
  text-decoration: underline;
}

#mk-notification-popup .preloaderWrapper {
  text-align: center;
}

#mk-notification-popup .mk-ntf-box {
  display: none;
}

#mk-notification-popup .jspVerticalBar {
  opacity: 0.5;
}

#mk-notification-popup .ntfDelete {
  position: absolute;
  right: 10px;
  top: 0;
  color: #d6d6d6;
  text-decoration: none; 
  text-transform: lowercase;
  font-size: 16px;
}

#mk-notification-popup .ntfDelete:hover{
  color: #808080;
}

.mk-ntf-last {
  margin-top: 3px;
}

#mk-notification-popup .preloaderWrapper h1 {
  display: none;
  margin: 10px 0;
}
