div.mk-reason-selector { 
	width: 595px;
	margin-bottom: 15px;
}

select.mk-reason-selector {
	width: 595px;
}
.mk-reason-selector a.ui-selectmenu { 
	height: 51px;
	text-align: left;
	background: #f4f4f4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-bottom: 1px solid #d4d4d4;
	width: 595px !important;
}
.mk-reason-selector a.ui-selectmenu span.ui-selectmenu-status {
	padding: 20px 1em;
}
.mk-reason-selector a.ui-selectmenu span.ui-selectmenu-icon {
	top: 60%;
	right: 20px;
}

.mk-help-content {
	float: left;
	zoom: 1;
	width: 590px;
	padding: 0 30px;
}

.mk-contact-box {
	float: right;
	zoom: 1;
	width: 275px;
	background: #f2f2f2;
	-moz-border-radius: 2px 0 0 2px;
	-webkit-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	padding: 20px 20px;
	text-align: center;
	border-bottom: 1px solid #dcdcdc;
}

.mk-help-hd h1 {
	font: 35px/39px 'din-med';
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0 0;
}
.mk-help h2 {
	font: 23px/29px 'din-med';
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0;
}

.mk-help-nav {
	margin: 20px 0;
	text-align: left;
	padding-bottom: 20px;
	border-bottom: 1px solid #d6d6d6;
}
.mk-help-nav li {
	display: inline;
	text-align: left;
	margin-right: 6px;
}
.mk-help-nav li.mk-last {
	margin: 0;
}

.mk-help-nav li a {
	display: inline-block;
	width: 145px;
	height: 20px;
	background: #f2f2f2;
	border-bottom: 1px solid #d4d4d4;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-transform: uppercase;
	color: #000;
	padding: 10px 0 0 10px;
	font-size: 14px;
}

.mk-help-nav li a:hover,
.mk-help-nav li a.mk-active {
	background: #000;
	color: #fff;
	border-bottom: 1px solid #000;
}


.mk-help-content p { 
	font: 13px/15px Arial, sans-serif;
	margin: 0 0 20px;
	color: #000;
}

.mk-help-content p strong.mk-email { 
	margin-left: 10px;
}
.mk-help-content p a {
	color: #000;
	text-decoration: underline;
}

.mk-help-required { 
	text-transform: uppercase;
}

.mk-contact-box .mk-contact-moto { 
	color: #999;
	font: 13px/20px 'din-ital';
	text-transform: uppercase;
	padding: 20px 0;
}

.mk-help-submit {
	text-align: center;
}

.mk-contact-box button,
.mk-help-content button {
	color: #fff;
	background: #000;
	border: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 155px;
	height: 40px;
	font: 14px 'din-med';
	text-transform: uppercase;
	margin: 15px 0 0;
	cursor: pointer;
}