/***** LANDING PAGE SECTIONS */

.mk-product-section .lp-section h4 a:hover{
    text-decoration: underline;
}

.mk-product-section .lp-section .section-desc{
    color: #808080;
    padding:10px 0;
    font:normal 12px Arial;
    text-transform:none;
    margin:0 auto;
    width:600px;

}

.mk-product-section .lp-section .mk-carousel-five{
    border-bottom-width: 0;
}

.mk-product-section .lp-section .lp-section-inner {
    margin-top: 0px;
    margin-bottom: 0px;
}

.lp-section {
    padding:20px 0 0;
}

.lp-section h4 {
    position:relative;
    height:18px;
    margin:5px 0;
}

.lp-section h4 div{
    position:absolute;
    top:7px;
    left:0;
    width:100%;
    height:1px;
    border-bottom:solid 1px #d6d6d6;

}

.lp-section h4 a{
    position:relative;
    padding:10px 20px;
    background: #fff;
    color:#808080;
    text-decoration: none;

}
.lp-section h4 a:hover{ 
    text-decoration:underline;
}
.mynt-layout-new .mk-carousel-five.lp-section-inner {
    border:none;
}

.lp-details {
    border-top:solid 1px #d6d6d6;
    padding:20px 0 0;
}
.lp-details .lp-image {
    margin:0 auto 10px;
     /*width:200px;  */ /* LIVE-310*/
}

.lp-details .lp-desc {
    width:600px;
    text-align: center;
    text-transform: none;
    font:normal 12px Arial;
    margin:0 auto 10px;
}

.lp-section  .mk-product > a > img, .lp-section  .mk-product .mk-prod-img img {
    height:200px;
    width:150px;
    border:none;
}

.lp-section  .mk-prod-info .mk-discount {
    display: block;
    font: 12px 'din-med';
    padding: 0 4px;
}

.lp-section-item {
    height:300px;
}
.lp-section-item .mk-prod-info {
    position:relative;
}
.lp-section li .colours-lbl {
    font-size: 10px;
    width: 64px;
    padding: 2px 0;
    border: 1px solid #fff;
    border-bottom: 0;
    background: #f2f2f2;
    position: absolute;
    left: 42px;
    top: 188px;
    cursor: pointer;
}

.lp-section li .colours-lbl.mk-hover {
    color: #fff;
    background: #63BA3A;
}

.lp-section li .mk-colour {
    position: absolute;
    z-index: 1;
    top: 200px;
}

.lp-section li .mk-colour .tooltip-arrow {
    height: 0;
    width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #e6e6e6;
    margin: 0 69px;
}

.lp-section li .mk-colour .tooltip-arrow-inner {
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: relative;
    top: 2px;
    left: -5px;
}

.lp-section li .mk-colour .tooltip-content {
    border: 1px solid #e6e6e6;
    background: #fff;
    padding: 0 9px;
    width: 130px;
}

.lp-section li .mk-colour ul {
    padding: 0;
    margin: 1px auto -1px;
    height: 54px;
    overflow: hidden;
    display: inline-block;
}

.lp-section li .mk-colour li {
    float: left;
    padding: 0 2px;
    width:39px;
    margin:0;
}

.lp-section li .mk-colour img:hover {
    border-bottom: solid 1px #63BA3A;
}

.lp-section li .mk-colour .icon-prev,
.lp-section li .mk-colour .icon-next {
    display: none;
    position: absolute;
    top: 15px;
    cursor: pointer;
}

.lp-section li .mk-colour .icon-prev.rs-carousel-action-active,
.lp-section li .mk-colour .icon-next.rs-carousel-action-active {
    display: block;
}

.lp-section li .mk-colour .icon-prev {
    left: 4px;
}

.lp-section li .mk-colour .icon-next {
    right: 4px;
}

.mk-carousel-five .mk-colour .rs-carousel-mask {
    width:130px;
}

.lp-section .mk-carousel-four ul li a div em {
    color: #D14747;
    background: none;

}