.lightbox-shim {
    background: #fff;
    display: none;
    height: 100%;
    left: 0;
    opacity: .9;
    filter: alpha(opacity=90);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1005;
}
.lightbox {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    display: none;
    z-index: 1006;
    text-align:center;
    text-transform:uppercase;

}
.lightbox-nopop {
    position:relative;
    min-height:100px;
}
.lightbox .mod {
    border: 1px solid #999;
    border-radius: 5px;
    background: #fff;
    color:#333;
    font-size:12px;
    width: 890px;
    min-height: 125px;
    padding: 0;
    position: relative;
    margin: 0 auto;
    box-shadow: 3px 3px 5px #666;
}

.small-lightbox .mod {
	width: 500px;
}

.infobox .mod {
	width: 500px;
}

.infobox .hd .title {
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.infobox .bd {
	text-align: justify;
	min-height: 150px;
}

.infobox .bd,
.infobox .ft p {
	font: 12px/18px Arial;
	text-transform: none;
}	

.infobox .bd p,
.infobox .bd li {
	padding-bottom: 5px;
}

.infobox .bd ul {
	padding-top: 5px;
}

.infobox .bd li {
	list-style: disc;
	margin-left: 15px;
	text-align:left;
}

.infobox .mod .ft {
	padding-top: 0;
}

.infobox .btn-ok {
	width: 100px;
	margin-top: 15px;
}

.infobox .info-icon {
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: -163px -401px;
    height: 24px;
    width: 24px;
    position: absolute;
    left: -32px;
    top: 2px;
    display: inline-block;
}	

.secure .infobox .info-icon {
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}	

.lightbox .loading,
.lightbox-nopop .loading {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image:url("http://myntra.myntassets.com/skin2/images/loader_transparent.gif");
    background-repeat:no-repeat;
    background-position:50% 50%;
    opacity: .9;
    filter: alpha(opacity=90);
    z-index: 1002;
}
.secure .lightbox .loading,
.secure .lightbox-nopop .loading {
    background-image:url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/loader_transparent.gif");
}
.lightbox .close {
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-position: -16px -272px;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 19px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 19px;
}
.secure .lightbox .close {
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}
.lightbox .hd {
    padding:12px 25px;
    border-bottom:1px solid #d6d6d6;
    font-size:25px;
}
.small-lightbox .hd {
    border-bottom: 0;
}
.lightbox .bd {
    padding:12px 25px;
}
.lightbox .title {
    font-size: 25px;
    color:#000;
}
.lightbox .subtitle {
    font-size: 12px;
    color:#808080;
}
.lightbox strong {
    font-weight: bold;
}
.lightbox em {
    font-style: normal;
}
.lightbox ol,
.lightbox ul {
    list-style:none;
    margin:0;
    padding:0;
}
.lightbox li {
    margin:0;
    padding:0;
}
.lightbox .items div {
    float:none; /* reset the float declared in newskin-styles.css */
}

.lightbox .ft {
    padding: 12px 25px 25px;
    text-align: center;
}
.lightbox .ft .btn {
    min-width: 100px;
}
.lightbox .ft .btn-prev {
    margin: 0 10px 0 0;
}
.lightbox .ft .note {
    font-size: 12px;
    color: #808080;
    display: block;
    margin: 0 auto 5px;
}
.lightbox .ft .note em {
    color: #000;
    font-style: normal;
}


#lb-msg-box {
  z-index: 1007;
}
#lb-msg-box .bd p {
  margin: 15px 0;
}
#lb-msg-box .ft {
  zoom: 1;
}
#lb-msg-box .ft:after {
  content: '.';
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
}
#lb-msg-box .ft .btn-ok {
  margin: 0 auto;
}

#lb-msg-box .discount {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
}
