/*  OLD SIGN UP PAGE BLOCK */

.loginsignupold input[type="text"].new-signup, input[type="email"].new-signup, input[type="password"].new-signup {
  font-family: din-med;
  font-size: 14px;
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}


.loginsignupold {	z-index: 1006; }

.loginsignupold .mod {
	width: 840px;
	padding: 20px 25px;
	height: 575px;
	zoom: 1;
	font-family: 'din-med';
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	color: #333;
	border: 1px solid #333;
	border-radius: 2px;
	box-shadow: 0 0 8px #666;
	background-repeat: no-repeat;
}

.loginsignupold-new-signup .mod {
	height: 575px;
}

.loginsignupold .hd,
.loginsignupold .bd {
	border: 0;
	padding: 0;
}

.loginsignupold .main-content {
	margin: 0 40px 40px;
}

.loginsignupold .h3,
.loginsignupold label,
.loginsignupold input,
.loginsignupold .err {
	display: block;
	width: 280px;
	margin: auto;
}

.loginsignupold .h2 {
	font-size: 14px;
	margin-top: 2px;
	color: #333;
}

.loginsignupold .h3 {
	font-size: 20px;
	color: #333;
	padding: 2px 0;
	width: 280px;
	margin: 0 auto;
}

.loginsignupold .h4 {
	border-bottom: 1px solid #d6d6d6;
	color: #808080;
	padding: 2px 0 5px;
	width: 280px;
	margin: 0 auto;
	*margin-bottom: 10px;
}

.loginsignupold .ico-fb-small {
	display: inline-block;
	width: 20px;
	height: 22px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
	background-repeat: no-repeat;
	background-position: -169px -8px;
	*margin-right: 5px;
}

.secure .loginsignupold .ico-fb-small {
	display: inline-block;
	width: 20px;
	height: 22px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
	background-repeat: no-repeat;
	background-position: -169px -8px;
	*margin-right: 5px;

}

.loginsignupold .discount {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
}

.loginsignupold form {
	background: #f2f2f2;
	padding: 10px;
	height: 425px;
	width: 345px;
	z-index: 1;
	position: relative;
	border: 0;
	border-radius: 1px;
	box-shadow: 0 0 2px #000;
}

.loginsignupold-new-signup form {
	height: 470px;
}

.loginsignupold .frm-signup {
	opacity: 0.5;
}

.loginsignupold .btn {
	width: 200px;
	margin: 12px auto;
}

.loginsignupold .btn-new-signup {
	margin-top: 0px;
}

.loginsignupold .btn-forgot-pass {
	background: none;
	margin: 0;
	padding: 0;
	height: 20px;
}

.loginsignupold .left-panel,
.loginsignupold .right-panel {
	position: relative;
	height: 395px;
	width: 365px;
}

.loginsignupold .left-panel {
	float: left;
}

.loginsignupold .right-panel {
	float: right;
}

.loginsignupold .connect-with-facebook {
	padding-bottom: 10px;
}

.loginsignupold .connect-with-facebook-new-signup{
	padding-bottom: 0px;
}

.loginsignupold .connect-with-facebook .btn {
	display: block;
	margin-bottom: 8px;
}

.loginsignupold .connect-with-facebook .err-fb {
	text-align: center;
	width: auto;
	height: 20px;
	padding: 0px;
}

.loginsignupold .connect-with-facebook div {
	margin: 0 auto;
}

.loginsignupold .connect-with-facebook p {
	display: inline-block;
	margin: 0 auto;
	padding: 2px 5px;
	color: #808080;
	font-size: 12px;
	background: rgba(255,255,255,0.8);
}

.loginsignupold p em {
	color: #333;
}

.loginsignupold .buttons p {
	color: #333;
	background: rgba(255,255,255,0.8);
}

.loginsignupold .buttons .err {
	text-align: center;
}

.loginsignupold label {
	padding: 10px 0 3px;
	padding-top: 0;
}

.loginsignupold .err {
	height: 25px;
	padding: 0px;
}

.loginsignupold .err-new-signup {
	text-align: right;
	height: 20px
}

.loginsignupold .err-top {
	height: 20px;
	padding: 0px;
}

.loginsignupold .err-top-new-signup{
	height: 10px;
	padding: 0px;
}

.loginsignupold label {
	padding: 5px;
}

.loginsignupold .new-signup-label {
	padding-bottom: 2px;
}

.loginsignupold .mk-custom-drop-down select{
	width: 120px;
}

.loginsignupold input[type="text"],
.loginsignupold input[type="email"],
.loginsignupold input[type="password"] {
	width: 262px;
	font-family: din-med;
	font-size: 14px;
}

.loginsignupold .buttons {
	position: absolute;
	top: 100px;
	left: 42.5px;
	width: 280px;
}

.loginsignupold .right-panel .buttons .h2 {
	margin-top: 12px;
}

.loginsignupold .forgot-pass-msg {
	display: none;
	padding-top: 12px;
}

.loginsignupold .forgot-pw {
	padding-top: 14px;
	height: 241px;
	background: #f2f2f2;
	border: 1px solid #333;
}

.loginsignupold .forgot-pw .h2 {
	margin: 0;
	color: #333;
	font-size: 25px;
	padding-bottom: 31px;
	border-bottom: 1px solid #999;
}

.loginsignupold .forgot-pw p {
	color: #666;
	font-size: 14px;
	line-height: 40px;
}

.loginsignupold .forgot-pw p.email {
	color: #333;
	font: 20px/40px 'din-med';
	text-transform: none;
}

.loginsignupold .forgot-pw .btn-forgot-pass-ok {
	margin: 12px auto 0;
}

.loginsignupold .close {
	background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
	background-repeat: no-repeat;
	background-position: -16px -253px;
	height: 18px;
	width: 18px;
}
.secure .loginsignupold .close {
	background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
	background-repeat: no-repeat;
	background-position: -16px -253px;
	height: 18px;
	width: 18px;
}


.loginsignupold .forgot-pw .close {
	background-position: -17px -273px;
}


.reg-page .lightbox {
    position: static;
    display: block;
    height: auto;
    width: auto;
    overflow-y: auto;
}

.reg-page .lightbox .mod {
    margin: 20px auto;
    border-radius: 0;
    box-shadow: none;
    border-color: #e6e6e6;
}

.reg-page .referral {
    padding: 15px 25px;
    height: 495px;
}

.reg-page .referral .hd h2 {
	font-size: 20px;
	color: #808080;
}

.reg-page .referral .hd .h4 {
	font-size: 12px;
	color: #808080;
}

.reg-page .referral .bd {
	*position: relative;
	*bottom: 10px;
}

.reg-page .referral .referermail {
	color: #333;
	font-size: 12px;
	line-height: 15px;
	padding: 6px 0 10px;
}

.reg-page .referral .referermail .mail {
	color: #00b060;
	text-transform: lowercase;
	font-size: 14px;
	line-height: 14px;
	padding: 1px 0 2px;
}

.reg-page .referral .frm-login .connect-with-facebook {
	position: relative;
	top: 100px;
}

.reg-page .referral .frm-login,
.reg-page .referral .frm-signup {
	opacity: 1;
}

.gender-section {
	width:225px;
	text-align:left;
	height:25px;
	padding:10px 0 3px;
	margin:0 auto;
}

.gender-section .jqTransformRadioWrapper {
	display:inline-block;
	float:none;
}

.gender-section span {
	height:18px;
	margin:0 0 0 7px;
	display:inline-block;
	float:none;
	font-size:14px;
}
.gender-section span.name {
	margin: 1px 10px 0 4px;
	font-size:14px;
	vertical-align: top;
	font-weight:normal;
}
.gender-section .jqTransformRadio {
	height:18px;
	width:18px;
	vertical-align:bottom;
	background-position:-61px -184px;
}
.gender-section .jqTransformRadioWrapper a.jqTransformChecked {
	background-position:-61px -204px;
}
.gender-section .jqTransformHidden {
	display:none;
}
.gender-section label{
	padding:0;
}
.gender-section .gender-sel{
        display: inline;
        margin: 1px 5px;
        position: relative;
        right: -4px;
        width: auto;
}


.gender-section label{
	float:left;
	width:auto;
	margin:1px 10px 0;
}
.gender-section .err-gender {
	margin:0 0 0 10px;
}

.err-left, .loginsignupold  .err-left {
	float: left;
	padding-left: 75px;
	width: 150px;
}

.err-right, .loginsignupold .left-panel .err-right {
	float: right;
	padding-right: 15px;
	width: 70px;
}

.optional-right, .loginsignupold .left-panel .optional-right {
	color: gray;
	width: 73px;
}

.reg-page .loginsignupold-new-signup .mod {
	height: 575px;	
}

.new-signup-label {
	color: #808080;
}

.loginsignup .login-captcha-change-text {
	margin: -17px 0px 0px;
	text-align: right;
	cursor: pointer;
	width: 320px;
}
 
.loginsignup #captcha {
	margin-top: -10px;
}

/* OLD SIGN UP PAGE BLOCK */


/*   NEW LOGIN SIGN UP PAGE BLOCK */

.loginsignup input[type="text"].new-signup, input[type="email"].new-signup, input[type="password"].new-signup {
  font-family: din-med;
  font-size: 14px;
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.loginsignup input[type="text"]:focus, .loginsignup input[type="email"]:focus, .loginsignup input[type="password"]:focus {
	border: 1px solid #999;
	outline: none;
}
.loginsignup { z-index: 1006; }

.loginsignup .mod {
	width: 890px;
	padding: 0px;
	height: 400px;
	zoom: 1;
	font-family: 'din-med';
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	color: #333;
	border-radius: 2px;
	box-shadow: 0 0 8px #666;
	background-repeat: no-repeat;
}

.loginsignupold-new-signup .mod {
	height: 575px;
}

.loginsignup .hd,
.loginsignup .bd {
	border: 0;
	padding: 0;
}

.loginsignup .h3,
.loginsignup label,
.loginsignup input,
.loginsignup .err {
	display: block;
	width: 280px;
	margin: auto;
}

.loginsignup .h2 {
	font-size: 14px;
	margin-top: 2px;
	color: #333;
}

.loginsignup .h3 {
	font-size: 20px;
	color: #333;
	padding: 2px 0;
	width: 280px;
	margin: 0 auto;
}

.loginsignup .h4 {
	border-bottom: 1px solid #d6d6d6;
	color: #808080;
	padding: 2px 0 5px;
	width: 280px;
	margin: 0 auto;
	*margin-bottom: 10px;
}

.loginsignup .ico-fb-small {
	display: inline-block;
	width: 20px;
	height: 22px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
	background-repeat: no-repeat;
	background-position: -331px -311px;
	*margin-right: 5px;
	margin-left: -9px;
/* @alternate */  margin-right: 8px;
}

.secure .loginsignup .ico-fb-small {
	display: inline-block;
	width: 20px;
	height: 22px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
	background-repeat: no-repeat;
	background-position: -331px -311px;
	*margin-right: 5px;
	margin-left: -9px;
/* @alternate */  margin-right: 8px;

}

.loginsignup .discount {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
}

.loginsignup form {
	width: 345px;
	z-index: 1;
	position: relative;
	border: 0;
	margin-right: 75px;
}

.loginsignup-new-signup form {
	height: 470px;
}

.loginsignup .btn {
	width: 200px;
	margin: 12px auto;
	height: 35px;
}


.loginsignup .btn-signup {
	margin: 0px;	
	box-shadow: 1px 1px 1px #999999;
}

.loginsignup .btn-signin {
	margin: 0px;	
}

.loginsignup .btn-new-signup {
	margin-top: 0px;
}


.loginsignup .btn-forgot-pass:hover {
	text-decoration: underline;
}

.loginsignup .btn-forgot-pass {
	background: none;
	margin: 0;
	padding: 0;
	color: #4490A5;
	text-align: right;
	font-size: 12px;
	cursor:pointer;
	margin-top: -17px;
	width: 320px;
}

.loginsignup .left-panel,
.loginsignup .right-panel {
	position: relative;
}

.loginsignup .left-panel {
	float: left;
	padding-top:9px;
	width: 475px;
	text-align: left;
}

.loginsignup .left-panel img{
	float:left;
	width:190px;
	height:330px;
	margin-left:25px;	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.loginsignup .left-panel img{
	/* @alternate */ height:328px;
}
}

.loginsignup .right-panel {
	float: right;
	margin-right: -23px;
}
.loginsignup p em {
	color: #333;
}

.loginsignup .buttons p {
	color: #333;
	background: rgba(255,255,255,0.8);
}

.loginsignup .buttons .err {
	text-align: center;
}

.loginsignup label {
	padding: 10px 0 3px;
	padding-top: 0;
}

.loginsignup .err {
	height: 20px;
	padding: 0px;
	margin-left:25px;
}

.loginsignup .err-new-signup {
	text-align: right;
	height: 20px
}

.loginsignup .err-top {
	height: 20px;
	padding: 0px;
}

.loginsignup .err-top-new-signup{
	height: 10px;
	padding: 0px;
}

.loginsignup .coupons{
	margin-top: -5px;
}

.loginsignup label {
	font-size: 12px; 
	margin-left: 25px;
	padding: 0 0 1px;
	color: #333;
}

.loginsignup .new-signup-label {
	padding-bottom: 2px;
}

.loginsignup .mk-custom-drop-down select{
	width: 120px;
}

.loginsignup input[type="text"],
.loginsignup input[type="email"],
.loginsignup input[type="password"] {
	width: 280px;
	font-family: din-med;
	font-size: 14px;
	border: 1px solid #C0C0C0;
	padding: 6px 7px;
	box-shadow: none;
}

.loginsignup .buttons {
	position: absolute;
	top: 100px;
	left: 42.5px;
	width: 280px;
}

.loginsignup .right-panel .buttons .h2 {
	margin-top: 12px;
}

.loginsignup .forgot-pass-msg {
	display: none;
	padding-top: 12px;
}

.loginsignup .forgot-pw {
	padding-top: 14px;
	background: #f2f2f2;
	border: 1px solid #333;
	width: 500px !important;
	height: 260px !important;
}

.loginsignup .forgot-pw .h2 {
	margin: 0;
	color: #333;
	font-size: 25px;
	padding-bottom: 31px;
	border-bottom: 1px solid #999;
}

.loginsignup .forgot-pw p {
	color: #666;
	font-size: 14px;
	line-height: 40px;
}

.loginsignup .forgot-pw p.email {
	color: #333;
	text-transform: none;
}

.loginsignup .forgot-pw .btn-forgot-pass-ok {
	margin: 12px auto 0;
}

.loginsignup .close {
	background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
	background-repeat: no-repeat;
	background-position: -16px -273px;
	height: 18px;
	width: 18px;
}
.secure .loginsignup .close {
	background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
	background-repeat: no-repeat;
	background-position: -16px -273px;
	height: 18px;
	width: 18px;
}


.loginsignup .forgot-pw .close {
	background-position: -17px -273px;
}

.loginsignup .gender-section {
	width:225px;
	text-align:left;
	height:25px;
	margin-left:15px;
	padding-top: 0px;
}

.loginsignup .gender-section .jqTransformRadioWrapper {
	display:inline-block;
	float:none;
}

.loginsignup .gender-section span {
	height:18px;
	margin:0 0 0 7px;
	display:inline-block;
	float:none;
	font-size:12px;
	text-transform:none;
}
.loginsignup .gender-section span.name {
	font-size:12px;
	vertical-align: top;
	margin: 2px 10px 0 0px;
	font-weight: normal;
}

.loginsignup .gender-section .jqTransformRadio {
	height:18px;
	width:18px;
	vertical-align:bottom;
	background-position:-61px -184px;
}

.loginsignup .gender-section .jqTransformRadioWrapper a.jqTransformChecked {
	background-position:-61px -204px;
}

.loginsignup  .gender-section .jqTransformHidden {
	display:none;
}

.loginsignup .gender-section label{
	padding:0;
}
.loginsignup .gender-section .gender-sel{
	width: auto;
	margin: 0px 5px;
	display: inline;
}

.loginsignup .gender-section label{
	float:left;
	width:auto;
	margin:1px 10px 0;
}
.gender-section .err-gender {
	margin:0 0 0 10px;
}

.err-left, .loginsignup  .err-left {
	float: left;
	padding-left: 75px;
	width: 150px;
}

.err-right, .loginsignup .left-panel .err-right {
	float: right;
	padding-right: 15px;
	width: 70px;
}

.optional-right, .loginsignup .left-panel .optional-right {
	color: gray;
	width: 73px;
}

.loginsignup .mod .bd {
	height:340px;
}

.loginsignup .new-signup-label {
	color: #808080;
}

.loginsignup #navigation ul li a {
	outline: none;
	background: #f2f2f2;
	color: #4490a5;
	display: block;
	padding: 8px 20px 4px;
	text-decoration:none;
	border-top:1px solid #f2f2f2;
	border-right:1px solid #f2f2f2;
	font-size:14px;
}

.loginsignup #navigation ul li a.selected  {
	outline:none;
	color:#333;
	background:#fff;
	font-size:14px;
	border: 1px solid #D6D6D6;
	border-bottom:1px solid #fff;
}

.loginsignup #navigation ul li a:hover{
	text-decoration: underline;
}

.loginsignup #navigation ul li a.selected:hover{
	text-decoration: none;
	cursor: default;
}

.loginsignup #navigation ul li a:focus{
	outline:none;
	font-size:14px;
}

.loginsignup #navigation {
	background:#F2F2F2;
}

.loginsignup .mod .hd #navigation {
	font-size:14px;
	color:#4490a5;
	text-align:center;
	padding-top:29px;
	padding-left:25px;
	border-bottom:1px solid #E6E6E6;
}

.loginsignup #navigation ul {
	list-style:none;
	position:relative;
	z-index:2;
	top:1px;
	border-left:1px solid #f2f2f2;
	display:table;
	}

.loginsignup .main-content {
	/* border: 1px solid #E6E6E6; */
	border: 0px;
}

.loginsignup #tab1-content .signup { 
	margin-top: 63px;
	color: #333333;
	font-size: 21px;
	margin-left:240px;
}

.loginsignup #tab1-content .signup_amt {
	color: #333;
	font-size: 38px;
	text-transform: none;
	margin-left:238px;
}

.loginsignup #tab1-content .coupons , #tab2-content .coupons {
	color: #808080;
	font-size: 12px;
	font-family: Arial,Sans-Serif;
	text-transform: none;
	margin-left:240px;
	padding-right:20px;
	line-height: 1.3em;
}

.loginsignup #tab2-content .login-to {
	color:#808080;
	font-size:12px;
	font-family: din-med;
	margin-top: 13px;
} 


.loginsignup #tab2-content .login-to ul li{
	width: 190px;
}

.loginsignup #tab2-content .login-to ul li{
	color: #808080;
	font-size: 12px;
	margin: 8px 0px;
	font-family: Arial,Sans-Serif;
}

.loginsignup .btn-fb-connect,.loginsignupV2 .btn-fb-connect {
  color: #FFF;
  background-color: #666666; 
  background-image: -webkit-linear-gradient(top,#798DB9,#556B9B);
/* @alternate */  background-image: -moz-linear-gradient(top,#798DB9,#556B9B);
/* @alternate */  background-image: -ms-linear-gradient(top,#798DB9,#556B9B);
/* @alternate */  background-image: -o-linear-gradient(top,#798DB9,#556B9B);
  border-radius: 3px;
  height: 35px;
  box-shadow: 1px 1px 1px #999999;
  cursor: pointer;
}
.loginsignup .btn-fb-connect:focus,.loginsignup  .btn-fb-connect:hover ,.loginsignupV2 .btn-fb-connect:focus,.loginsignupV2  .btn-fb-connect:hover  {
   background-color: #666666;
   background-image: -webkit-linear-gradient(top,#556B9B,#798DB9);
/* @alternate */   background-image: -moz-linear-gradient(top,#556B9B,#798DB9);
/* @alternate */   background-image: -ms-linear-gradient(top,#556B9B,#798DB9);
/* @alternate */   background-image: -o-linear-gradient(top,#556B9B,#798DB9);
}

.loginsignup #tab2-content .login-to ul li .ico{
	background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
	background-repeat: no-repeat;
	background-position: -350px -311px;
	cursor: default;
	display: inline-block;
    	height: 17px;
    	margin-right: 4px;
    	vertical-align: top;
    	width: 17px;
}


.secure .loginsignup #tab2-content .login-to ul li .ico{
	background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
	background-repeat: no-repeat;
	background-position: -350px -311px;
	cursor: default;
	display: inline-block;
    	height: 17px;
    	margin-right: 4px;
    	vertical-align: top;
    	width: 17px;
}

.loginsignup .forgot-pw .hd {
	display:none;
}

.loginsignup .frm-signup label span ,.loginsignup .frm-login label span {
	color: #808080;
}


body .loginsignup .forgot-pass-msg  {
    text-transform:none;
    height:260px;
}

body .loginsignup .forgot-pass-msg h1 {
    width:100% ;
    border-bottom: 1px solid #D6D6D6 ; 
    height:52px;
    font-size:25px;
    color: #333;
    font-family: din-med;
}

body .loginsignup .forgot-pass-msg p {
    line-height:10px;
}


body .loginsignup .forgot-pass-msg p.reset { 
    line-height:20px;
    margin-top:10px;
    color: #303030;
    font-family: Arial;
    font-size:12px;
    font-weight: bold;
}

body .loginsignup .forgot-pass-msg .email {
    font-size:12px;
    font-family: Arial;
    color: #808080;
    font-weight: bold;
}

body .loginsignup .forgot-pass-msg .gray {
    font-size:12px;
    font-family: Arial;
    font-weight: normal;
    color:#808080;
    margin-top: 30px;
    margin-bottom: 15px;
}

body .loginsignup .forgot-pass-msg button {
    width:100px;
    height:25px;		
    color:#333;
    font-size:12px;
    font-family:din-med;
    padding:0px 6px;  
    background-image: -webkit-linear-gradient(top,#E6E6E6,#D6D6D6);
/* @alternate */  background-image: -moz-linear-gradient(top,#E6E6E6,#D6D6D6);
/* @alternate */  background-image: -ms-linear-gradient(top,#E6E6E6,#D6D6D6);
/* @alternate */  background-image: -o-linear-gradient(top,#E6E6E6,#D6D6D6);
    border-radius: 3px;
    box-shadow: 1px 1px 1px #999999;
}


body .loginsignup .forgot-pass-msg button:focus, 
body .loginsignup .forgot-pass-msg button:hover {
    background-image: -webkit-linear-gradient(top,#D6D6D6,#E6E6E6);
/* @alternate */  background-image: -moz-linear-gradient(top,#D6D6D6,#E6E6E6);
/* @alternate */  background-image: -ms-linear-gradient(top,#D6D6D6,#E6E6E6);
/* @alternate */  background-image: -o-linear-gradient(top,#D6D6D6,#E6E6E6);
}

.loginsignup .mod .mod-wrapper .forgot-pass-msg .ico-email {
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -368px -308px; width: 31px; height: 20px; 
    margin:20px auto 0;
}

.secure .loginsignup .mod .mod-wrapper .forgot-pass-msg .ico-email {
    background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") no-repeat -368px -308px; 
    margin:20px auto 0;
}

.loginsignup .mod .mod-wrapper .forgot-pass-msg .tick-ico {
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -358px -250px; 
    width: 25px; 
    height: 25px;
    display: inline-block;
}

.secure .loginsignup .mod .mod-wrapper .forgot-pass-msg .tick-ico {
    background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") no-repeat -358px -250px;
    width: 25px; 
    height: 25px;
    display: inline-block;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
#tab1-content .or, #tab2-content .or {
	margin-left: -10px; 
}
}

.loginsignup .submit-buttons {
     left: -254px;
     padding: 0;
     position: absolute;
     margin-top:15px;
}

.loginsignup .connect-with-facebook-new-signup{
	padding-bottom: 0px;
}

.loginsignup .connect-with-facebook .btn {
	display: block;
	margin: 0px;
}

.loginsignup .connect-with-facebook .err-fb {
	height: 20px;
	padding: 0px;
}

.loginsignup .connect-with-facebook div {
	margin: 0 auto;
}

.loginsignup .connect-with-facebook p {
	display: inline-block;
	margin: 0 auto;
	padding: 2px 5px;
	color: #808080;
	font-size: 12px;
	background: rgba(255,255,255,0.8);
}

.loginsignup .submit-buttons .connect-with-facebook {
    float:left;
    width:200px;
}

.loginsignup .submit-buttons .signup-button, .loginsignup .submit-buttons .signin-button {
    float:left;
}

.loginsignup .submit-buttons .btn-signup, .loginsignup .submit-buttons .btn-signin{
    width:200px;
}

.captcha-visible-login-submit {
	margin-top: -5px;
}

.captcha-hidden-login-submit {
	margin-top: -100px;
}

#tab1-content .or, #tab2-content .or {
    margin-top: 21px;
    color: #808080;
    display:inline;
    width:78px;
    margin-left:31px;
    margin-right:31px;
}

#lb-msg-box .mod {
    width: 500px;
    height: auto;
}


#lb-msg-box .mod .hd {
    height: 52px;
}

#lb-msg-box .mod .hd h2 {
    font-size: 25px;
    margin-top: 15px;
}

#lb-msg-box .bd .created {
	font-family: Arial,Sans-Serif;
	font-size:12px; 
	color:#808080; 
	text-transform:none; 
	margin:0px auto; 
}

#lb-msg-box .bd .coupons {
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -405px -305px transparent;
    width: 64px;
    height: 23px;
    margin:30px auto 5px;
}

.secure #lb-msg-box .bd .coupons {
    background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") no-repeat scroll -405px -305px transparent;
}

/* START: Sign up V2 CSS */
.loginsignupV2 .mod {
    width: 830px;
    background-color:#f2f2f2!important;
    border: 2px #C2C2C2 solid;
    min-height: 375px;
    border-radius:0px;
}
.loginsignupV2 .innerShell{
    width: 570px;
    min-height: 354px;
    margin:10px;
    border:1px #E6E6E6 solid;
    background-color:#ffffff!important;
    display:inline-block;
    float:left;
}

.loginsignupV2 label.login-captcha-change-text {
	text-align: center;

}

.loginsignupV2 label.login-captcha-change-text a {
	color: #808080;
	text-decoration: underline;
	font: 12px arial;
}

.loginsignupV2 .topHeading{
    padding-top:15px;
    padding-bottom:10px;
    margin-left: auto;
    margin-right:auto;
    width:498px;
    border-bottom: 1px #F2F2F2 solid; 
    text-transform: none;
    font: bold 12px arial;
    color: #808080;
}
.loginsignupV2 .blue{
    color: #44869b;
    cursor: pointer;
}
.loginsignupV2 .blue:hover{
    text-decoration:underline;
}
.loginsignupV2 .formHeading{
    padding-top:10px;
    padding-bottom:20px;
    text-transform: none;
    font: bold 18px arial;
    color: #333333;
}

.loginsignupV2 .facebookLoginArea{
    height: 200px;
    display: inline-block;
    margin-left:32px;
    float:left;
    width:225px;
    /*border : 1px solid #d5d5d5;*/
}
.loginsignupV2 .loginSeparator{
    display:inline-block;
    height:200px;
    float:left;
    left: 10px;
right: -12px;
    top: 5px;
        position: relative;
}
.loginsignupV2 .loginSeparator .or{
    background-color: white;
    border: 1px solid #B5B5B5;
    border-radius: 50% 50% 50% 50%;
    color: #333333;
    height: 24px;
    line-height: 24px;
    width: 24px;
}
.loginsignupV2 .gender-section label{
	font-family:arial;
	font-size:12px;
}
.loginsignupV2 .loginSeparator .dotted   {
    border-right: 1px #d5d5d5 dotted;
    width: 12px;
    height: 200px;
}
.loginsignupV2 .ico-fb-small {
   display: inline-block;
   width: 20px;
   height: 22px;
   vertical-align: middle;
   cursor: pointer;
   background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
   background-repeat: no-repeat;
   background-position: -331px -311px;
   margin-right: 0px;
   margin-left: -9px;
}
.loginsignupV2 .forgot-pass-msg {
        display: none;
        padding-top: 12px;
}

.loginsignupV2 .forgot-pw {
        padding-top: 14px;
        height: 241px;
        background: #f2f2f2;
        border: 1px solid #333;
}

.loginsignupV2 .forgot-pw .h2 {
        margin: 0;
        color: #333;
        font-size: 25px;
        padding-bottom: 31px;
        border-bottom: 1px solid #999;
}

.loginsignupV2 .forgot-pw p {
        color: #666;
        font-size: 14px;
        line-height: 40px;
}

.loginsignupV2 .forgot-pw p.email {
        color: #333;
        font: 20px/40px 'din-med';
        text-transform: none;
}

.loginsignupV2 .forgot-pw .btn-forgot-pass-ok {
        margin: 12px auto 0;
}


.secure .loginsignupV2 .ico-fb-small {
   display: inline-block;
   width: 20px;
   height: 22px;
   vertical-align: middle;
   cursor: pointer;
   background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
   background-repeat: no-repeat;
   background-position: -331px -311px;
   margin-right: 0px;
   margin-left: -9px;
}
.loginsignupV2 .btn-fb-connect{
     font-size:12px;
     width: 200px;
     margin-right:20px;
     /* @alternate */  background-image: -moz-linear-gradient(center top , #556B9B, #2F4670);
     /* @alternate */  background-image: -ms-linear-gradient(center top , #556B9B, #2F4670);
     /* @alternate */  background-image: -o-linear-gradient(center top , #556B9B, #2F4670);
position:relative;
bottom:1px;


}

.loginsignupV2 input[type="password"],.loginsignupV2 input[type="text"]{
    font-size: 12px;
    width:184px;
    -moz-box-shadow: 0 1px 2px #E6E6E6 inset;
    -webkit-box-shadow: 0 1px 2px #E6E6E6 inset;
    box-shadow: 0 1px 2px #E6E6E6 inset;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    border-color:#cccccc;
    letter-spacing:0px;
    color:#333;

}
.loginsignupV2 .gender-section label{
                 margin:0px 12px ;
        }

.loginsignupV2 input[type="password"]:focus,.loginsignupV2 input[type="text"]:focus{
   border-color:#333333; 
}
.loginsignupV2 input::-webkit-input-placeholder{
    color: #808080;
}
.loginsignupV2 input::-moz-placeholder{
    color: #808080;
}
.loginsignupV2 input:-ms-input-placeholder{
    color: #808080;
}


.myntraLoginSignup{
     margin-right: 12px;
     width: 256px;
    float:right;
}
.loginsignupV2 .gender-section{
    padding-top:0px;
    padding-bottom:0px;
    height:10px;
    text-transform: none;
    font: 12px arial;
}
.loginsignupV2 .err-gender{
    height:18px!important;
}
.loginsignupV2 .signup-button button,.loginsignupV2 .signin-button button{
    width:200px;
    font-size:12px;
    height:35px;
}
.loginsignupV2 form{
    opacity:1 !important;
}
.loginsignupV2 .btn-forgot-pass{
    padding-top:26px;
}
.loginsignupV2 .outter-content{
    height:354px;
    margin: 5px 14px 0 0;
    width:205px;
    display:inline-block;
}
.loginsignupV2 .outter-content .top-heading {
    font: bold 12px arial;
    color: #808080;
    text-transform:none;
    padding-bottom:24px;
    padding-top: 38px ;
    
}
.loginsignupV2 a{
    text-decoration: none;
}
.loginsignupV2 .outter-content .login-content .top-heading{
    padding-bottom:5px;
}
.loginsignupV2 .outter-content .login-content  ul{
    text-align:left;
    margin-bottom:10px;
}
.loginsignupV2 .outter-content .login-content li{
     font: 12px arial;
     color: #808080;
     text-transform:none;
     margin-bottom:15px;
}
.loginsignupV2 .err{
     width:250px;
     height:22px;
     display:inline-block;
     vertical-align:middle;
     left: 25px;
     position:relative;
     font-size:11px;
}
.loginsignupV2 .bd{
    padding: 0px;
}

.loginsignupV2 .outter-content .image0 .heading{
    font-size:16px;
    color:#333333;
    margin-top:10px;
    margin-bottom:3px;

}
.loginsignupV2 .outter-content .image0 .subtext{
    font: 12px arial;
    color: #808080;
    text-transform:none;
    margin-bottom:15px; 
}

.loginsignupV2 .outter-content .image1 .heading{
    font-size:16px;
    color:#333333;
	margin-top: -93px;
	margin-bottom: 3px;
	margin-left: -8px;
	margin-right: 7px;

}
.loginsignupV2 .outter-content .image1 .subtext{
    font: 12px arial;
	color: #808080;
	text-transform: none;
	margin-bottom: 15px;
	margin-left: -9px;
	margin-right: 7px;
	margin-top: -1px;
	line-height: 16px;
}
.engravedUnderLine{
    border-bottom:1px solid #cccccc;
}
.whiteLine{
     border-top:1px solid #ffffff;
}
.tick{
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: -345px -313px;
    width: 18px;
    height: 10px;
    display:inline-block;           
    margin-right:6px; 
}
.secure .tick{
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: -345px -313px;
    width: 18px;
    height: 10px;
    display:inline-block;           
    margin-right:6px; 
}

/* registration  confirmation*/
.loginsignupV2 .confMainHeading{
    color:#333333;
    font-size:20px;
    margin-top:35px;
    margin-bottom:10px;
}
.loginsignupV2 .confSubText{
    color: #808080;
    font: 12px arial;
    margin-bottom:30px;
    text-transform: none;
}
.loginsignupV2 .confHeading{
    font-family: Arial;
    font-size:12px;
    font-weight: bold;
    margin-top:25px;
    margin-bottom:15px;
    text-transform:none;

}
.loginsignupV2 .circleMessage{
    display:inline-block;
    border-radius:50%;
    width:115px;
    height:115px;
    color:#ffffff;
    font-size:14px;
    line-height:115px;
    margin-right:20px;
}
.loginsignupV2 .circleMessage:hover{
   text-decoration:underline;
}
.loginsignupV2 .confMessages{
    margin-left:20px
}
.loginsignupV2 .btn{
    font-size:14px !important;
}
.loginsignupV2 .forgot-pw .btn-forgot-pass-ok {
   margin: 12px auto 0;
}

.image0 .bagOff{
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: -581px -171px;
    width: 60px;
    height: 61px;
    margin: auto;
}
.image0 .heartWishlist{
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: -581px -235px;
    width: 64px;
    height: 61px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}

.image0 .indiaMap{
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: -659px -178px;
    width: 85px;
    height: 100px;
    margin-bottom:18px;
    margin-right: auto;
    margin-left: auto;
}
.image1 .top-heading{
	display:none;
}
.image1 .fashionMan, .image1 .fashionWoman {
    background-image: url("http://myntra.myntassets.com/images/banners/Fashion-Secret-6.jpg");
	background-repeat: no-repeat;
	width: 246px;
	height: 373px;
	margin-left: -20px;
	margin-top: -4px;
}

.image1 .fashionWoman{
    background-image: url("http://myntra.myntassets.com/images/banners/Acquisition_V2_girl.jpg");
}
.loginsignupV2 .arrow{
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    margin: auto;
    background-position: -783px -389px;
    width: 12px;
    height: 47px;
}

.myntraWaterMark {
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    margin: auto;
    background-position: -581px -643px;
    width: 179px;
    height: 120px;
    margin-top: 52px;
}
.secure .image0 .bagOff{
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: -581px -171px;
    width: 60px;
    height: 61px;
    margin: auto;
}
.secure .image0 .heartWishlist{
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: -581px -235px;
    width: 64px;
    height: 61px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}

.secure .image0 .indiaMap{
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: -659px -178px;
    width: 85px;
    height: 100px;
    margin: auto;

}
.secure .image1 .fashionMan , .secure .image1 .fashionWoman{
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/images/banners/Fashion-Secret-6.jpg");
	background-repeat: no-repeat;
	width: 246px;
	height: 373px;
	margin-left: -20px;
	margin-top: -4px;
}
.secure .image1 .fashionWoman{
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/images/banners/Acquisition_V2_girl.jpg");
}
.secure .loginsignupV2 .arrow{
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    margin: auto;
    background-position: -783px -389px;
    width: 12px;
    height: 47px;
}
.secure .myntraWaterMark {
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.skipReturn{
    margin-top:22px;
}
.right-arrow{
     background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
     background-repeat: no-repeat;
     margin: auto;
     background-position: -597px -411px;
     width: 17px;
     display:inline-block;
     height: 11px;
     position: relative;
     top: 2px;
}
 .red-tick{
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    margin: auto;
    background-position: -94px -406px;
    width: 19px;
    display:inline-block;
    height: 17px;
    margin-right:1px;
    position: relative;
    top: 2px;
}

.secure .red-tick{
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    margin: auto;
    background-position: -94px -406px;
    width: 19px;
    display:inline-block;
    height: 17px;
    margin-right:4px;

}
.secure .right-arrow{
     background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
     background-repeat: no-repeat;
     margin: auto;
     background-position: -597px -411px;
     width: 17px;
     display:inline-block;
     height: 11px;
}
.fb-facepile{
     left: -10px;
     margin-top: 15px;
     position: relative;
}

.signupCoupon{
    font: 12px arial;
    color: #808080;
    padding-top:20px;
    text-transform:none;
}
.signupCoupon .couponList{
     
}
.signupCoupon .couponList li{
    text-align:left;
    margin-left: 15px;
    list-style-type: circle;
}

.signupCoupon b {
	font-weight: bold;
}

.loginsignupV2 .gender-section span{
    font-size:12px;
}

/* END: Sign up V2 CSS */
