.lg-not-found {text-align:center;}
#star-container {
	text-align:center;
	margin:0 auto;
	width:750px;
	height:1000px;
	position:relative;
	border:solid 1px #ddd;
}

#star-container img {
	margin:0 auto;
}
area {
	cursor:pointer;
}

#star-inner-cont {
	width:750px;
	height:1000px;
	z-index:1;
	position:relative;
	margin:0 auto;
}
.map-block {
	position:absolute;
	display:block;
	background:none;
	z-index:2
}
.star-n-style-details {
	margin:10px 0 0;
	text-align:center;
	font-size:12px;
}
.star-n-style-details p {
	padding:10px 0 0;
	font-size:12px;
	line-height:20px;
	text-transform:none;
	font-family:Georgia;
	
}
.star-n-style-details p.details {
	padding:10px 0;
}

.star-n-style-details ul {
	padding-top:5px;
	
}
.star-n-style-details ul li{
	text-align:center;
	display:inline;
	
}
.star-n-style-details ul li img {
	width:96px;
	height:128px;
	margin-bottom:4px;
}
.star-n-style-details ul li a{
	text-decoration:none;
	display:block;
}

.star-n-style-details ol {
	padding:5px;
	margin-top:5px;
	
}
.star-n-style-details ol li:first-child {
	color:#808080;
}
.star-n-style-details ol li {
	font-size:14px;
	display:inline-block;
	*display:inline;
	*zoom:1;
}

.star-n-style-list span {
	font-size:14px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	padding:10px 8px 0 0;
	
}

.star-n-style-list  select {
	width:200px;
}

.star-n-style-list .star-name {
	background:#f2f2f2;
	padding:10px 15px;
}
.star-n-style-list  .jqTransformSelectWrapper {
	background:#f2f2f2;
	text-align:center;
	display:inline-block;
	*display:inline;
	*zoom:1;
	height:33px;
	border:solid 1px #f2f2f2;
	border-bottom:none;
}
.star-n-style-list  .jqTransformSelectWrapper:hover,.jq-drop-down-list a:hover,.jq-drop-down-list a.selected:hover {
	background:#808080;
	color:#fff;
}
.jq-drop-down-list {
	border-top:none;
}

.jq-drop-down-list li {
	border-bottom:solid 1px #d6d6d6;
	text-align:center;
}

.jq-drop-down-list a.selected { 
	background:none;
}

/*LOOK BOOK*/
#lg-container {
	width:980px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
#lg-container h1 {
	font-size:35px;
	padding:10px 0;
	text-align:center; 
}
.map-block {
	position:absolute;
	display:block;
	background:none;
	z-index:2
}
.lg-look-book {
	width:980px;
	position:relative;
	overflow:hidden;
}
.rs-carousel .rs-carousel-runner {
    position: relative;
}
.lg-look-book .rs-carousel-item {
	width:980px;
	float:left;
}
.lg-look-book .rs-carousel-item img{
	height:540px;
	width:980px;
}

.lg-look-book a.rs-carousel-action {
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll;
    display: none;
    height: 30px;
    position: absolute;
    text-indent: -9999px;
    top: 260px;
    width: 28px;
    z-index:2;
}

.lg-look-book a.rs-carousel-action-prev {
    background-position: 0 -340px;
    left: 0;
}
.lg-look-book a.rs-carousel-action-prev:hover {
    background-position: -39px -340px;
}
.lg-look-book a.rs-carousel-action-next {
    background-position: 0 -300px;
    right: 0;
}
.lg-look-book a.rs-carousel-action-next:hover {
    background-position: -39px -300px;
}
.lg-look-book a.rs-carousel-action-active {
    display: block;
}

.rs-carousel-pagination {
	margin:0 auto;
	height: auto;
	max-height:54px;
	padding-right:8px
}
.rs-carousel-pagination-link {
	float:left;
	padding:10px 0 10px 8px;
	height:54px;
	width:98px;
}
.rs-carousel-pagination-link a{
	text-indent:-99999px;
	display:block;
	height:54px;
	width:98px;
	border:solid 1px #d6d6d6;
}
.rs-carousel-pagination-link-active a{
	border:solid 1px #d14747;
}

.lg-look-book-details {
	width:980px;
	height:540px;
	position:absolute;
	left:0;
	top:61px;
	text-transform:none;
	padding:0;
	text-align:center;
	overflow:hidden;
	z-index:1;
}

.lg-look-details {
	height:540px;
	position:relative;
}

.lg-look-details h3 {
	padding:0 0 8px;
	font-size:20px;
	text-transform:uppercase;
}
.lg-look-details p.desc {
	padding:0 0 15px;
	font:normal 12px/17px Georgia;
}

.look-styles-cont {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	text-align:center;
}

.look-detail {
  	position: absolute;
    text-align: left;
    top: 20px;
    width: 200px;
    color:#000;
}

.look-detail-hyperlink {
    width: 400px;
}

.look-detail.left-align {
	left:20px;
}

.buy-look-left-align {
	float:left;
	padding-left: 20px;
	top:20px;
}

.look-detail.right-align {
	right:20px;
}

.look-detail.hyperlink-right-align {
	text-align: right;
	right:20px;
}

.look-detail.hyperlink-left-align {
	text-align: left;
	left:20px;
}

.buy-look-right-align {
	float:right;
	padding-right: 20px;
	top:20px;
	font-size: 12px;
}

.look-detail.white {
	color:#fff;
}

.buy-look-white {
	color:#fff;
}

.buy-look-black {
	color:#000;
}

.look-hyperlink {
	margin-top: 20px;
	/*text-align: right;*/
	font:12px din-med;
	text-transform: uppercase;
	text-decoration: underline;
}


.style-display-control {
	cursor:pointer;
	font:14px/16px din-med;
	text-transform:uppercase;
	padding:5px 8px;
	display:inline-block;
	background:#fff;
	opacity:.95;
	filter: alpha(opacity=95);
	*display:inline;
	*zoom:1
}
	
.style-display-control span.icon{
	display:inline-block;
	height:16px;
	width:16px;
	background:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll 0 -378px transparent;
	vertical-align:bottom;
	margin-right:4px;
	*display:inline;
	*zoom:1;
	
}
.style-display-control span.close-state {
	background-position:-17px -378px;
}	

/*.style-display-control-top {

	top:20px;
	right:0;
	background: none;
	padding:20px;
	cursor:pointer;

	font: 12px din-med;
	text-transform: uppercase;
	text-decoration: underline;
}
*/
#lg-container .more-looks-text-heading {
	font-size:14px;
	padding-top:7px;
	padding-bottom:0px;
}	

.look-styles {
	padding:0;
	position:relative;
	height:180px;
}
.look-styles-overlay {
	background:#fff;
	opacity:.95;
	filter: alpha(opacity=95);
	height:180px;
	width:980px;
	position:absolute;
	bottom:0;
	left:0;
	border-top:solid 1px #d6d6d6;
}
.look-styles ul {
	margin:0;
	overflow:hidden;
	height:195px;
	display:inline-block;
	vertical-align:bottom;
	*display:inline;
	*zoom:1;
}
.look-styles ul>li {
	padding:10px 5px 10px 0;
	font-size:12px;
	height:150px;
	text-transform:uppercase;
	display:inline-block;
	vertical-align:bottom;
	width:81px;
	position:relative;
	*display:inline;
	*zoom:1;
		
}
.look-styles ul>li>img {
	height: 108px;
	width: 81px;
}

.look-styles-inner {
	height:180px;
	display:inline-block;
	vertical-align:bottom;
	*display:inline;
	*zoom:1;
}
.look-styles ul li .quick-look{
	left:2px;
	top:96px;
}

.lg-look-details .price-block {
	padding:10px 0;
}
.lg-look-details .look-styles ul li .price-block {
	 padding:0;
	
}


.look-styles a.rs-carousel-action {
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll;
    display: none;
    height: 45px;
    position: absolute;
    text-indent: -9999px;
    top: 52px;
    width: 20px;
    z-index:2;
}
.look-styles a.rs-carousel-action-prev {
    background-position: -162px -140px;
    left: 30px;
}
.look-styles a.rs-carousel-action-prev:hover {
    background-position: -162px -226px;
}
.look-styles a.rs-carousel-action-next {
    background-position: -162px -184px;
    left: 742px;
}
.look-styles a.rs-carousel-action-next:hover {
    background-position: -162px -269px;
}
.look-styles a.rs-carousel-action-active {
    display: block;
}


.look-style-right {
	display:inline-block;
	vertical-align:top;
	*display:inline;
	*zoom:1;
}
.look-style-right  * {
	*zoom:1
}
.mk-not-visible {
	visibility:hidden;
}

.lg-look-details  .btn {
	width:160px;
}
.lg-look-details .lg-social-btns {
	padding:10px 0
}

.all-looks-inner {
	width:880px;
	margin:0 auto;
	overflow:scroll;
	height:80px;
}

.cur-page {
	font-size:12px;
}
.lg-not-found .title {
	font-size:25px;
	padding:10px;
}

.lg-not-found p {
	font-size:13px;
}

.lg-social-btns  {
	position:relative;
	height:30px;
	padding:10px 0;
}

.lg-social-btns .fb, .lg-social-btns .gp {
	
	margin:0 0 10px 35px;
}

.lg-social-btns .fb {
	overflow:hidden;
	margin-left:12px;
}

/*****STAR DIARY******/

#style-diray {
	min-height:480px;
}
#style-diray h1 {
	font-size:35px;
	padding:10px 0;
	text-align:center; 
}

#style-diray .star-diary-carousel {
	background:transparent url('http://myntra.myntassets.com/skin2/images/star_diary_bg.png') no-repeat 0 0;
	height:480px;
	width:980px;
	position:relative;
	overflow:hidden;
	
}

.diary-note {
	
	background:#fff;
	margin:70px 50px 50px 50px;
}

.diary-note  h3{
	font-size:22px;
	border-bottom:solid 2px #d6d6d6;
	border-top:solid 2px #d6d6d6;
	padding:3px 0;
	margin-bottom:10px;
	color:#808080;
	text-align:center;
}

.diary-note p{
	text-transform:none;
	font:normal 13px/22px Georgia;
}

.diary-image {
	padding:30px 32px 0px 0px;
	
}
.diary-image img {
	height:400px;
	width:400px;
}

/*STYLE FOR FLIP BOOK*/

	.booklet         {width:980px; height:600px; position:relative; margin:0 auto 10px; overflow:visible !important;}
	.booklet .b-page {left:0; top:0; position:absolute; overflow:hidden; padding:0;}

	   
   	/* Page Wrappers */
	.booklet .b-wrap       {top:0; position:absolute;}

	.booklet .b-wrap-left  {background:transparent url('http://myntra.myntassets.com/skin2/images/star_diary_bg.png') no-repeat 0 0;}
	.booklet .b-wrap-right {background:transparent url('http://myntra.myntassets.com/skin2/images/star_diary_bg.png') no-repeat 100% 0;}
	
	.booklet .b-pN .b-wrap,
	.booklet .b-p1 .b-wrap,
	.booklet .b-p2 .b-wrap,
	.booklet .b-p3 .b-wrap,
	.booklet .b-p4 .b-wrap  {left:0;}
	.booklet .b-p0 .b-wrap  {right:0;}
	

   
   	/* Page Numbers */
	.booklet .b-counter {bottom:10px; position:absolute; display:block; width:25px; height:20px;color:#808080; text-align:center; font-family:Georgia; font-size:11px; padding:5px 0 0;}
	.booklet .b-wrap-left  .b-counter  {left:10px;}
	.booklet .b-wrap-right .b-counter {right:10px;}
   
	
   	/* Arrow Controls */
	.booklet .b-arrow          {display:block; position:absolute; text-indent:-9999px; top:215px; height:30px; width:28px;}
	.booklet .b-arrow div      {display:none; text-indent:-9999px; height:30px; width:28px; position:absolute; left:0; top:25%;cursor:pointer;}
	.booklet .b-arrow-next     {right:0;}
	.booklet .b-arrow-prev     {left:0;display:none}
	.booklet .b-arrow-next div {background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll 0 -300px transparent;}
	.booklet .b-arrow-prev div {background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll 0 -340px transparent;}
	.booklet .b-arrow-prev div:hover {background-position: -39px -340px;}
	.booklet .b-arrow-next div:hover {background-position: -39px -300px;}
	
/* @z-index fix (needed for older IE browsers)
----------------------------------------*/

    body              {z-index:0;}
    .b-menu           {z-index:100;}
    .b-selector       {z-index:100;}
    .booklet          {z-index:10;}
    .b-pN             {z-index:10;}
    .b-p0             {z-index:30;}
    .b-p1             {z-index:20;}
    .b-p2             {z-index:20;}
    .b-p3             {z-index:30;}
    .b-p4             {z-index:10;}
    .b-prev           {z-index:40;}
    .b-next           {z-index:40;}
    .b-counter        {z-index:40;}
	

