

.megalist {
    overflow: hidden;
    position:relative;
    height:600px;
}

.megalist ul,
.megalist li {
    padding:0;
    margin:0;
    border:none;
    height:320px;
}


.megalist ul {
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	top:0px;
	overflow:visible;
	
	visibility:hidden;
	/*
    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: translate3d(0px, 0px, 0px);
	transform: -o-translate3d(0px, 0px, 0px);
	transform: -ms-translate3d(0px, 0px, 0px);
	transform: -moz-translate3d(0px, 0px, 0px);
	transform: -webkit-translate3d(0px, 0px, 0px);
	*/
}

.megalist li {
	padding:10px;
	display:block;
	position: absolute;
	width:100%;
	border-top:1px solid #EDEDED;
	/*
    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: translate3d(0px, 0px, 0px);
	transform: -o-translate3d(0px, 0px, 0px);
	transform: -ms-translate3d(0px, 0px, 0px);
	transform: -moz-translate3d(0px, 0px, 0px);
	transform: -webkit-translate3d(0px, 0px, 0px);
	*/
}

.megalistItem {
    background:white;
}

.megalistSelected {
}
.megalist #scrollbar {
	position:absolute;
	background-color: #000000;
	width:5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	top:1px;
	right:1px;
	height:25px;
	border:1px solid rgba(255,255,255,0.5);
}
