/* Order Details Modal CSS 
---------------------------------------------- */

.mk-order-wrapper {
	z-index: 9;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: url(http://myntra.myntassets.com/skin2/images/bg-modal.png) repeat left top;
}

.mk-order-modal {
	z-index: 10;
	position: absolute;
	left: 50%;
	margin-left: -400px;
	padding: 50px 50px 10px;
	top: 30px;
	width: 790px;
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	text-transform: uppercase;
}

.mk-order-modal h1 {
	font-size: 26px;
}

.mk-order-modal h6 {
	font-size: 14px;
	margin:10px 0 20px;
}


.mk-order-item {
	border-top: 1px solid #d6d6d6;
	padding: 10px 0;
	text-align: left;
}
.mk-order-item .mk-product-details {
	text-align: center;
	text-transform: uppercase;
	margin-right: 125px;
	width: 300px;
}
.mk-order-item h5 {
	color: #999; 
	font-size: 13px;
	margin-bottom: 10px;
}

.mk-order-item h1 {
	color: #333; 
	font-size: 18px; 
	margin-bottom: 10px;
}

.mk-order-item p.mk-discount {
	color: #d14747; 
	font-size: 13px;
	margin-bottom: 10px;
}

.mk-order-item h3 {
	font-size: 18px; 
	margin: 10px 0 23px;
}

.mk-order-totals {
	border-top: 1px solid #d6d6d6;
	padding: 20px 0;
}

.mk-order-totals p {
	font-size: 13px;
}

.mk-order-totals h4 {
	font-size: 26px;
	margin-bottom: 10px;
}

.mk-order-totals h1 {
	margin-bottom: 10px;
}


