/* Modal Awards ------------------------ */
.mk-awards-wrapper {
	z-index: 9;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: url('http://myntra.myntassets.com/skin2/images/bg-modal.png') repeat left top;
}

.mk-awards-modal {
	z-index: 10;
	position: absolute;
	left: 50%;
	margin-left: -400px;
	padding: 15px 50px 10px;
	top: 250px;
	width: 800px;
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
}

.mk-awards-modal h2 { 
	font: 20px/39px 'din-med'; 
	text-transform: uppercase;
}

.mk-awards-modal p.mk-directions {
	font: 14px/17px 'din-med';
	text-transform: uppercase;
}

.mk-awards-modal .mk-item {
	width: 260px;
	height: 250px;
	display: block;
	float: left;
	zoom: 1Email ;
	margin: 30px 0;
}

.mk-awards-modal .mk-item .mk-item-empty {
	padding-top: 100px;
	text-align: center;
}

.mk-awards-modal .mk-item .mk-item-empty em { 
	font: 72px/15px 'din-med';
	color: #ccc;
}

.mk-awards-modal .mk-item2 {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.mk-awards-modal .mk-continue button {
	color: #fff;
	background: #000;
	border: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 155px;
	height: 40px;
	text-transform: uppercase;
}
.mk-awards-modal .mk-item-info .mk-prod-image { 
	position: relative;
	width: 188px;
	margin: 0 auto;
	text-align: center;
}
.mk-awards-modal .mk-item-info .mk-remove-link {
	width: 188px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}

.mk-awards-modal .mk-item-info .mk-remove-link a.mk-remove {
	color: #333;
	text-transform: uppercase;
	text-decoration: underline;
}

.mk-awards-modal .mk-brand-label {
	width: 188px;
	position: absolute;
	top: 100px;
	left: 0;
	text-align: center;
}

.mk-awards-modal .mk-brand-label em {
	color: #000;
	background: #fff;
	padding: 5px 20px;
}

.mk-awards-modal .mk-prod-info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 188px;
	text-align: center;
}

.mk-awards-modal .mk-prod-info h1 {
	font: 20px/39px 'din-med';
	text-transform: uppercase;
}
.mk-awards-modal .mk-prod-info span.mk-old-price {
	text-decoration: line-through;
	text-transform: uppercase;
	font: 14px/17px;
	display: block;
}
.mk-awards-modal .mk-prod-info span.mk-free {
	text-transform: uppercase;
	font: 11px/15px 'din-med';
	color: #cc3333; 
}