/* Modal Free Item ----------------------------- */
.mk-free-wrapper {
	z-index: 9;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: url('http://myntra.myntassets.com/skin2/images/bg-modal.png') repeat left top;
}

.mk-free-modal {
	z-index: 10;
	position: absolute;
	left: 50%;
	margin-left: -400px;
	padding: 50px 50px 10px;
	top: 60px;
	width: 740px;
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.mk-free-modal .mk-free {
	color: #cc3333;
	font: 26px/19px 'din-med';
	padding: 0 0 20px;
}

.mk-free-modal .mk-old-price {
	font: 26px/15px 'din-med';
	text-decoration: line-through;
	text-shadow: 0 0 0;
	display: block;
	margin: 0 0 15px;
}

.mk-free-modal .mk-qty-selector {
	margin: 15px 0 25px;
}

.mk-free-modal .mk-last {
	border-bottom: none;
}

.mk-free-modal .mk-last a {
	color: #333;
	text-decoration: underline;
	text-transform: uppercase;
}

.mk-free-modal .mk-qty-selector {
	width: 110px;
	margin: 30px auto;
}

.mk-free-modal .mk-qty-selector select {
	width: 90px;
}

.mk-free-modal .mk-qty-selector a.ui-selectmenu { 
	text-align: left;
	background: #f4f4f4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-bottom: 1px solid #d4d4d4;
}