.mk-edit-acct-wrapper {
	z-index: 9;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: url(http://myntra.myntassets.com/skin2/images/bg-modal.png) repeat left top;
}

.mk-edit-acct-modal {
	z-index: 10;
	position: absolute;
	left: 50%;
	margin-left: -400px;
	padding: 50px 50px 10px;
	top: 60px;
	width: 640px;
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	text-transform: uppercase;
}
.mk-edit-acct-modal form {
	text-align: left;
}
.mk-edit-acct-modal h1 {
	font-size: 26px;
}
.mk-edit-acct-modal form input {
	border: none;
	border-bottom: 1px solid #dcdcdc;
	background: #f2f2f2;
	-moz-border-radius: 2px 0 0 2px;
	-webkit-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	outline: none;
	height: 50px;
	width: 600px;
	padding-left: 10px;
	margin-bottom: 10px;
}
.mk-edit-acct-modal form input.mk-half-size {
	width: 290px;
	display: inline-block;
}
.mk-edit-acct-modal form label {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
}

.mk-edit-acct-modal label.mk-label_check {
	margin: 10px 0;
	display: inline;
	font-size: 16px;
	width: 350px;
}

.mk-edit-acct-modal label.mk-form-check {
	margin: 0 0 0 -90px;
}
.mk-edit-acct-modal form input.mk-edit-submit {
	background: #000;
	border: none;
	color: #fff;
	width: 155px;
	height: 40px;
	margin-top: 10px;
}
.mk-edit-acct-modal form div.mk-f-right {
	margin: 0px 30px 0 0;
}

.mk-edit-acct-modal form div.mk-form-submit {
	margin-top: 20px;
	text-align: center;
}
.mk-edit-acct-modal form input.mk-edit-submit {
	text-transform: uppercase;
}