/* Add to Cart Modal CSS 
---------------------------------------------- */
.mk-modal-title { 
	display: block; 
	text-align: center;
	padding: 15px;
	background: #333;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 330px;
}
.mk-cart-wrapper {
	z-index: 9;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: url(http://myntra.myntassets.com/skin2/images/bg-modal.png) repeat left top;
}

.mk-cart-modal {
	z-index: 10;
	position: fixed;
	left: 50%;
	margin-left: -400px;
	padding: 30px;
	top: 60px;
	width: 790px;
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.mk-cart-top { height: 280px; }

.mk-cart-top img {
	width: 250px;
	height: 250px;
}
.mk-cart-top .mk-cart-product-info {
	margin-top: 30px;
}
.mk-cart-top .mk-cart-product-info .mk-item-options a {
	text-transform: uppercase;
	text-decoration: underline;
	color: #999;
	font-size: 11px;
}

.mk-cart-top .mk-cart-items {
	text-align: center;
	margin: 0 20px 0 10px;
	border: 1px dotted #333;
	padding: 30px;
}

.mk-cart-top .mk-cart-items p { 
	display: inline;
	font-size: 13px;
	text-transform: uppercase;
}

.mk-cart-top .mk-cart-items h3 {
	font-size: 23px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.mk-cart-top button.mk-checkout-now {
	width: 155px;
	height: 40px;
	background: #000;
	color: #fff;
	border: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 13px;
}

.mk-cart-bottom {
	width: 785px;
	height: 280px;
	background: #f2f2f2;
	border-bottom: 1px solid #d4d4d4;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	padding: 10px 0;
	position: relative;
}

.mk-cart-bottom h2 {
	text-transform: uppercase;
	font: 20px din-ital;
	margin: 10px 0 15px;
}

