.cps{
	color: #808080;
	font: 12px/15px din-med;
}

#quick-look-mod .hd {border:none;}
#quick-look-mod .bd {overflow:hidden;}
#quick-look-mod .mk-product-option-cont {margin:0}
#minipip-carousel {
	position:relative;
	height:480px;
	width:360px;
	overflow:hidden;
	margin-left:10px;
}

#minipip-product-guide {
	width:395px;
	padding-top: 0;
	margin-left:5px;
}

#minipip-product-guide h5{
	font:11px arial;
	text-transform: none;
}

#minipip-product-guide .flat-size-options .options {
	border: 1px solid transparent;
	padding: 4px 0px 0px 0px;
	display: inline-block;
	margin: 0 auto;
}

#quick-look-mod .add-button-group {
	width: 402px;
	margin: 35px auto 0;
	position: relative;
}

#quick-look-mod .jqTransformSelectWrapper ul {
	height:180px;
	}

#minipip-carousel ul li {width:360px;float:left;}

#minipip-carousel a.rs-carousel-action {
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll;
    display: none;
    height: 30px;
    position: absolute;
    text-indent: -9999px;
    top: 49%;
    width: 28px;
}
#minipip-carousel a.rs-carousel-action-prev {
    background-position: 0 -340px;
    left: 0;
}
#minipip-carousel a.rs-carousel-action-prev:hover {
    background-position: -39px -340px;
}
#minipip-carousel  a.rs-carousel-action-next {
    background-position: 0 -300px;
    right: 0;
}
#minipip-carousel a.rs-carousel-action-next:hover {
    background-position: -39px -300px;
}
#minipip-carousel a.rs-carousel-action-active {
	display: block;
}

.quick-look {
	position: absolute;
	z-index: 2;
	display: none;
	cursor: pointer;
	text-align: center;
	top: 160px;
	left: 36px;
	width: 71px;
	height: 14px;
	padding: 3px;
	font-size: 12px;
	color: #333;
	background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") -329px 0;
}

.quick-look:hover {
	background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") -329px -25px;
}

.mk-more-info {
	color: #333;
	font-size: 14px;
	text-decoration: underline;
	margin: 30px 0 0;
	display: block;
}

/*ADDTOCART CONFIRM*/


.confirm-block {display:block;overflow:hidden;}

.add-cart-product-info {
    width:49%;

}

.product-info-inner {
width:300px;
margin:0 auto;
}


.cart-info {
    width:49%;
    border-left:solid 1px #d6d6d6;
}
.confirm-message {
	font-size: 25px;
	width:230px;
	padding:0 0 3px 0;
	margin:0 auto;

}

.confirm-message span {
	display: inline-block;
	height: 26px;
	width: 26px;
	margin: 0 6px -4px 0;
	background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll 0 -400px transparent;
}

.confirm-block h5 {
	font-size: 12px;
	color: #808080;
}

.confirm-block h2 {
	font-size: 20px;
	padding: 2px 0 8px;
}

.price-info{
	font-size: 14px;
	text-transform: none;
}
.discount-info-block {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
	font-size: 12px;
	text-transform: none;
}

.size-info {
	padding:10px 0;
	color:#808080;
}

.size-info span {
	color:#333;
}

.bag-info {
	font-size: 12px;
	color: #808080;
}
.item-count-info {
	padding: 4px 0;
	font-size: 25px;
}

.total-price {
	font-size: 20px;
	padding:2px 0 10px;
	text-transform: none;
}
.checkout-btn,.continue-btn {
	width:180px;
	display:block;
	margin:0 auto 6px;
	text-decoration:none;
}

.continue-btn {
	width:180px;
	display:block;
	margin-top:5px;
}

.recommend-block {
	width:760px;
	margin:10px auto;
	height:315px
}
.recommend-block .loader{
	margin:0
}


.mk-more-views {
	width: 50px;
	overflow: hidden;
}

.mk-more-views ul li {
	width: 48px;
	zoom: 1;
	margin-right:4px;
	margin-bottom:5px;
	cursor:pointer;
	height:64px;
}

.mk-more-views ul li img.lazy.mk-lazy-white-border{
	border-bottom:solid 1px #ffffff;
}

.mk-more-views ul li img{
	border-bottom:solid 1px #d6d6d6;
}

.prev-next-btns {
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -600px -25px transparent;
    height: 30px;
    position: absolute;
    top: 45%;
    width: 28px;
    z-index:1001;
    cursor:pointer;
    display:none;
}

#view-next-pdp, #view-next-izoom, #view-next-szoom, #view-next-minipip {
	right:0;
	background-position:0px -300px;
	width:28px;
	height:30px;
}

#view-prev-pdp, #view-prev-izoom, #view-prev-szoom, #view-prev-minipip {
	left:0;
	background-position:0px -340px;
	width:28px;
	height:30px;
}

#view-next-pdp:hover, #view-next-izoom:hover, #view-next-szoom:hover, #view-next-minipip:hover {
	right:0;
	background-position:-39px -300px;
}

#view-prev-pdp:hover, #view-prev-izoom:hover, #view-prev-szoom:hover, #view-prev-minipip:hover{
	left:0;
	background-position:-39px -340px;
	
}

.mk-product-large-image{
	width:360px;
	float:left;
	position:relative;
	margin-left:10px;
}

#quick-look-mod .cps i{
	margin-right:25px;
}

.mk-product-guide .size-btn {
	background-color: #fff;
	box-shadow: 1px 1px 1px #999;
	color:#333;
	padding:2px;
	background-image: none;
	min-width:26px;
	height:26px;
	border:solid 1px #e6e6e6;
	border-radius: 2px 2px 2px 2px;
	margin-right:2px;
	margin-bottom:4px;
	display: inline-block;
	*overflow: visible;
	width:auto;
	
}

.mk-product-guide .size-btn.unavailable{
	color: #808080;
}

.mk-product-guide .size-btn:hover,
.mk-product-guide .size-btn:focus,
.mk-product-guide .size-btn.selected {
	background-color: #000;
	color:#fff;	
	background-image: none;
}

.mk-product-guide {
	color: #333;
	text-align: left;
}
div.mk-product-option-cont .mk-colour {
	margin-left:0px;
}

.mk-product-guide button {
	margin:0;
}

.mk-product-guide .mk-save-for-later {
	width:auto;
	margin:2px 0 5px;	
}

.mk-product-guide .mk-save-for-later {
	margin-top:7px;
}

span.ql-coupon-offer-launcher {
	color:#4490A5;
	font-size:12px;
    cursor: pointer;
    top: 0px; bottom:0px; left:0px; right:0px;
    margin: auto;
}

span.ql-coupon-offer-launcher:hover .coupon-quick-look-text{
    text-decoration: underline;
}



span.coupon-quick-look-icon{
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: -336px -361px;
    width: 30px;
    height: 12px;
    display:inline-block;
    margin-left:10px;
    position:relative;
}
span.ql-coupon-offer-launcher:hover span.coupon-quick-look-icon{
    background-position: -375px -361px;
}

#quicklook-coupon-widget{
	width: 390px;
	height: auto;
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-color: rgb(230, 227, 227);
	background-color: #f2f2f2;
	margin: 8px 0px;
	padding: 15px;
	min-height:70px;
}

#quicklook-coupon-widget .coupon-details {
    font-size:11px;
    text-align:left;
    font-family: Arial, Sans-Serif;
    text-transform: none;
    line-height:16px;
}

#quicklook-coupon-widget .line {
    background: #E6E6E6;
    height: 1px;
    margin:7px 0px;
}

.ql-coupon-offer-launcher .offer-arrow{
	background-position: -273px -142px;
	background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
	background-repeat: no-repeat;
	cursor: pointer;
	height: 7px;
	position: absolute;
	display: none;
	right: 8px;
	top: 16px;
	width: 23px;
}

#quicklook-coupon-widget .no-coupon .message {
    font-size: 14px;
    height: 16px;
    margin: auto;
    text-align: center;
    padding: 20px;

}

#quicklook-coupon-widget .close{
	position: absolute;
	cursor: pointer;
	top: 3px;
	background-color: whitesmoke;
	right: 19px;
	color: rgb(107, 105, 105);
	background:none;
}

#quick-look-mod #vendorDetails {
	margin-bottom: 0;
	margin-top: 20px;
}
