/*  Sign Up Modal CSS 
---------------------------------------------- */
.mk-modal-wrapper {
	z-index: 9;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: url(http://myntra.myntassets.com/skin2/images/bg-modal.png) repeat left top;
}

.mk-sign-up-modal {
	position: fixed;
	left: 50%;
	margin-left: -400px;
	padding: 50px;
	top: 30px;
	width: 700px;
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.mk-modal-close {
	position: absolute;
	right: 20px;
	top: 15px;
	font: 22px din-med;
	color: #000;
	display: block;
	cursor: pointer;
}

.mk-sign-up-form {
	width: 380px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}

.mk-sign-up-form h1 {
	font-size: 35px;
	margin-bottom: 20px;
}

.mk-sign-up-form p {
	
}

.mk-sign-up-form form {
	display: block;
	margin: 25px 0;
	padding: 4px 4px 4px 20px;
	background: #f2f2f2;
	border-bottom: 1px solid #dcdcdc;
}

.mk-sign-up-form form input {
	border: none;
	font: 14px/20px Arial, Sans-Serif;
	padding: 15px 0 10px;
	width: 260px;
	background: #f2f2f2;
}

.mk-sign-up-form form button {
	color: #fff;
	background: #232323;
	font: 14px din-med;
	text-transform: uppercase;
	padding: 14px 12px 10px;
	border: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.mk-sign-up-form ul {
	border-top: 1px solid #d6d6d6;
}

.mk-sign-up-form ul li {
	border-bottom: 1px solid #d6d6d6;
	padding: 5px 0;
}