.order-row,
.return-row {
	cursor: pointer;
}

.mk-cancel-order,
.mk-order-number,
.mk-return-number {
  text-decoration: underline;
  line-height: 34px;
}

.mk-order-tip,
.mk-return-tip {
  padding: 0 5px;
  width: 310px;
  text-decoration: none;
  text-align: left;
}
.mk-order-tip h4,
.mk-return-tip h4 {
  padding: 5px 0;
  text-decoration: none;
  font-size: 12px;
  color: #808080;
}
.mk-order-tip ul,
.mk-return-tip ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mk-order-tip li,
.mk-return-tip li {
  font-size: 12px;
  border-top: 1px solid #e6e6e6;
  padding: 10px 0;
  margin: 0;
}

.mk-order-tip h4.date,
.mk-return-tip h4.method {
  border-top: 1px solid #e6e6e6;
}	

.orderbox .mod {
  color: #000;
}

.orderbox .title {
	padding-bottom: 5px;
}

.orderbox strong {
  font-weight: normal;
}
.orderbox .hd {
  text-align: center;
  border: 0;
  padding: 12px 25px 5px;
  overflow:hidden;
  zoom:1;
}
.orderbox .hd h3 {
  font-size: 20px;
  font-weight: bold;
}
.orderbox .hd span {
  width: 280px;
  font-size: 14px;
}
.orderbox .hd p {
	font-size: 12px;
	margin: 5px;
}

.orderbox .hd p .order-details-link {
	font-size: 12px;
}

.orderbox .hd .date {
  text-align: left;
  color: #000;
  float:left;
}
.orderbox .hd .gray {
	font-size: 12px;
	line-height: 18px;
	clear: both;
}
.orderbox .hd .count {
  text-align: center;
  float: left;
  font-size: 14px;
  line-height: 16px;
  clear: none;
}
.orderbox .hd .total {
  text-align: right;
  float: right;
}
.returnbox .hd span.total{
	color: #000;
}

.orderbox .hd .rupees {
	color: #000;
}

.orderbox .hd .track-order {
	text-decoration: underline;
	color: #000;
	cursor: pointer;
}

.orderbox .bd {
    padding: 0 0 12px;
}

.orderbox .order-details-link {
	color: #000;
	text-decoration: underline;
	cursor: pointer;
}

.orderbox .suborder {
  text-align: center;
  text-transform: uppercase;
}
.orderbox .discount-area {
  text-align: center;
  text-transform: uppercase;
  /*
  border-top: 2px solid #f2f2f2;
  padding-top: 10px;
  */
}
.orderbox .discount-area .background-voucher {
  width: 700px;
  height: 100px;
  margin: 0px auto;
  background: url("http://cdn.myntra.com/skin1/images/voucher/700X100.jpg") no-repeat;
}
.orderbox .discount-area .discount-hd {
  font: 15px arial,sans-serif;
  font-weight: bold;
  padding: 5px;
}
.orderbox .discount-area .discount-md {
  vertical-align: middle;
  margin-left: 65px;
}
.orderbox .discount-area .discount-md input {
  height: 20px;
  width: 150px;
  border: 2px solid #c9c9c9;
  margin-right: 20px;
}
.orderbox .discount-area .discount-tnc {
  padding: 5px;
}
.orderbox .discount-area .discount-tnc input {
  margin-right: 5px;
}
.orderbox .discount-area .discount-tnc a {
  text-decoration: underline;
  font-weight: bold;
}
.orderbox .discount-area .discount-message {
  padding: 10px;
}
.orderbox .discount-area .discount-message .redeemed-msg {
  display: block;
	/* TODO: remove color, add class 'red' */
	color: #d14747;
  font-weight: bold;
}
.orderbox .discount-area .discount-message .error-msg {
  display: block;
  color: #d14747;
}
.orderbox .discount-area .discount-message .sub-msg {
  display: block;
}
.orderbox .subhd {
  background: #f2f2f2;
  padding: 5px 0 10px;
  border-top: 2px solid #999;
}
.orderbox .subhd a {
  color: #000;
  text-decoration: underline;
}
.orderbox .subhd h4 {
  font-size: 25px;
  padding: 5px 0;
  color: #808080;
}
.orderbox .subhd h4 span {
	font-size: 25px;
}

.orderbox .subhd .jqTransformSelectWrapper span {
	padding:10px 6px;
}

.orderbox .subhd span {
  padding: 5px 0;
  font-size: 14px;
}
.orderbox .items {
  padding: 0;
  margin: 0;
  list-style: none;
}
.orderbox .items div {
  float: none;
}
.orderbox.returnbox .items li {
	border:0px none;
}
.orderbox .items li {
  padding: 5px 0;
  margin: 0 25px;
  border-top: 1px solid #d6d6d6;
  overflow: hidden;
  zoom: 1;
}
.orderbox .items li:first-child {
    border-top:0 none;
}
.orderbox .items .photo {
  width: 160px;
  height: 128px;
  float: left;
  text-align: left;
}
.orderbox .items .amount {
  width: 160px;
  float: right;
  text-align: right;
}
.orderbox .final-price .ico, .orderbox .refund-details.details .ico {
  background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 17px;
  height: 17px;
  cursor: pointer;
  vertical-align: top;
}
.orderbox .final-price .ico-expand, .orderbox .refund-details.details .ico-expand,
.order-tracking .shipment-header .expand-ico {
  background-position: -17px -378px;
}
.orderbox .final-price .ico-collapse, .orderbox .refund-details.details .ico-collapse,
.order-tracking .expanded .shipment-header .expand-ico {
  background-position: 0px -378px;
}
.orderbox .amount .mrp {
  border-top: 1px solid #aaa;
  margin-top:5px;
  padding-top:5px;
}
.orderbox .amount .discounts {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
}
.orderbox .amount .discounts .shipping-cost {
    color:#333;
}
.orderbox .items .amount .final-price {
  margin-top: 10px;
  font-size: 14px;
}
.orderbox .items .amount .mrp label{
  display:inline;
}
.orderbox .items .amount label {
  color: #808080;
}

.orderbox .items .details {
  float: left;
  width: 520px;
}
.orderbox .items .details.refund-details {
  float: none;
  margin: 0 auto;
}
.orderbox .items .details.refund-details table td.title-block,.coupon-cashback-msg{
	font-size:14px;
}
.orderbox .items .details.refund-details table td{
	padding:0 5px 5px 0px;
	font-size:13px;
}
.orderbox .items .details.refund-details table td.title-block label{
	font-size:14px;
}
.orderbox .items .details.refund-details label{
	color:#000;
	font-size:13px;
}
.orderbox .items .details label {
  color: #808080;
  display:inline;
  font-size: 12px;
}
.orderbox .items .details div {
  margin: 5px 0;
}
.orderbox .items .details.refund-details span.ico{
  margin:0 2px 0 0;
}
.orderbox .items .details.refund-details span.rupees {
	margin-right:2px;
}
.orderbox .items .details.refund-details span {
  display: inline-block;
  margin-right: 10px;
}
.orderbox .items .details .title {
  font-size: 14px;
}
.orderbox .items .details .title a {
	text-decoration: none;
}
.orderbox .items .details .title a:hover {
	text-decoration: underline;
}
.orderbox .items .details .no-return-loyalty,
.orderbox .items .details .no-return-msg,
.orderbox .items .details .return-placed {
  color: #808080;
}
.orderbox .items .details .no-return-loyalty-desc,
.orderbox .items .details .no-return-loyalty{
	text-transform: none;
	font-size: 12px;
	font-family: arial;
}
.orderbox .items .details .no-return-loyalty-desc .read-more-faq,
.orderbox .items .details .no-return-loyalty .no-return-why{
	color: #4490a5;
	text-decoration: none;
}
.orderbox .items .details .no-return-loyalty a:hover,
.orderbox .items .details .no-return-loyalty-desc a:hover{
	text-decoration: underline;
}
.orderbox .items .details .no-return-loyalty-desc {
	font-size: 11px;
}
.orderbox .items .details .hide {
  display: none;
}
.orderbox .items .link-btn {
  color: #000;
  text-decoration: underline;
  text-transform: uppercase;
}
.orderbox .suborder .total {
  text-align: right;
  padding: 10px 25px;
  font-size: 14px;
  overflow:hidden;
  zoom:1;
  border-top:1px solid #d6d6d6;
}
.orderbox .suborder .total .lbl {
    color:#aaa;
}
.orderbox .grand-total {
    font-size:14px;
    padding:10px 0 0;
    border-top:1px solid #d6d6d6;
}
.orderbox .grand-total .payment-mode {
    float:left;
    width:280px;
    padding-left:25px;
    text-align:left;
    line-height: 20px;
}
.orderbox .grand-total .amount {
    float:right;
    width:200px;
    padding-right:25px;
    text-align:right;
}
.orderbox .grand-total .shipping-address {
    float:left;
    width:280px;
}
.orderbox .grand-total .shipping-address h4 {
  font-size: 18px;
  color: #808080;
}
.orderbox address {
  font: 12px/18px Arial;
  text-transform:none;
}
.orderbox address .name {
	font-weight: bold;
}
.orderbox address label {
  color: #808080;
  font: 12px/18px Arial;
  display:inline;
}
/*
.orderbox .order-details .payment-mode {
  width: 135px;
  font-size: 14px;
  border-top: 2px solid #999;
  text-align: left;
  padding: 10px 0 0 25px;
}
*/
.orderbox .order-details .amount {
  width: 135px;
  font-size: 12px;
  border-top: 2px solid #999;
  text-align: right;
  padding: 10px 25px 0 0;
}

.orderbox .order-details .amount .final-price {
	font-size: 14px;
	margin-bottom: 10px;
}

.orderbox .btn-return, .orderbox .btn-exchange {
	width: 170px;
}


/*Loyalty claim points start*/
.loyalbox .light-grey{
	color: #b5b5b5;
}

.loyalbox .title a, .loyalbox .title a:visited {
	color: #808080;
	text-decoration: none;
}

.loyalbox .hd .gray > span{
	color: #333333;
}

.loyalbox .title {
	padding-bottom: 5px;
}

.loyalbox .title a:hover {
	text-decoration: underline;
}

.loyalbox .hd {
	text-align: center;
	border: 0;
	padding: 12px 25px 5px;
	overflow: hidden;
	zoom: 1;
}
.loyalbox .hd .gray {
	font-size: 12px;
	line-height: 18px;
	clear: both;
}
.loyalbox .hd p {
	font-size: 12px;
	margin: 5px;
}

.loyalbox .bd {
	padding: 0 0 12px;
}

.loyalbox .subhd {
	background: #f2f2f2;
	padding: 5px 0 10px;
	border-top: 2px solid #999;
}
.loyalbox .subhd h4 {
	font-size: 14px;
	padding: 5px 0;
	color: #808080;
}

.loyalbox .suborder{
	text-align: center;
	text-transform: uppercase;
}
.loyalbox .items {
	padding: 0;
	margin: 0;
	list-style: none;
}

.loyalbox .items li:first-child {
	border-top: 0 none;
}
.loyalbox .items li {
	padding: 5px 0px;
	margin: 0px 0px;
	border-top: 1px solid #d6d6d6;
	overflow: hidden;
	zoom: 1;
}

.loyalbox .items li:first-child {
	border-top: 0 none;
}
.loyalbox .items {
	padding: 0;
	margin: 0;
	list-style: none;
}

.loyalbox .items .photo {
	width: 112px;
	height: 128px;
	float: left;
	text-align: left;
}

.loyalbox .items .details {
	float: left;
	width: 620px;
	text-align: left;
}

.loyalbox .items .details .title {
	font-size: 14px;
	margin: 15px 0px 0px 0px;
}

.loyalbox .items .details label {
	font-size: 12px;
	display: inline;
	color: #808080;
}
.loyalbox .items .details .lp-action-container{
	margin-top: 10px;
}

.loyalbox .items .details .lp-circle {
	width: 40px;
	height: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-color: #ffffff;
	/*box-shadow: 0px 1px 1px 0px #D3D3D3 inset;*/
	border: 1px solid #D3D3D3;
	float: left;
}

.loyalbox .items .details .lp-circle .lp-points {
	font-size: 18px;
	text-align: center;
	line-height: 40px;
}
.loyalbox .items .details .lp-circle .lp-points.green{
	color: #03AE5F;
}

.loyalbox .items .details .lp-action{
	float: left;
	margin: 8px 0px 0px 5px;
	font-size: 12px;
}

.loyalbox .items .details .lp-action div > *{
	vertical-align: middle;

}
.loyalbox .items .details .lp-action .btn{
	width: 100px;
	margin-left:10px;
}

.loyalbox .items .amount{
	margin-top: 15px;
	color: #808080;
	font-size: 14px;
	float: right;
	width: 158px;
}

.loyalbox .amount .mrp {
	border-top: 1px solid #aaa;
	margin-top: 5px;
	padding-top: 5px;
	font-size: 12px;
}
.loyalbox .amount .discounts {
	color: #d14747;
	font-size: 12px;
}
.loyalbox .loyalty-award-msg{
	margin-top: 20px;
	font-size: 12px;
}

.loyalbox .loyalty-award-msg a {
	color: #4490a5;
	text-transform: uppercase;
	text-decoration: none;
}
.loyalbox .loyalty-award-msg a:hover{
	text-decoration: underline;
}
.loyalbox .loyalty-award-msg>* {
	vertical-align: middle;
}
.loyalbox .icon-success {
	display: inline-block;
	vertical-align: middle;
}
.loyalbox .suborder + .suborder .items li:first-child {
	border-top: 1px solid #d6d6d6;
}

/*Loyalty claim points ends*/

.return-top-border {
  border-top: 2px solid #f2f2f2;
}

.my-profile-page .address-list-box td.opt {
	display: none;
}

.my-profile-page .address-list-box td.address {
	cursor: default;
}

.my-profile-page .address-list-box td.action .link-btn {
	font-size: 12px;
}

.my-profile-page form .err {
	display: block;
	text-align: center;
	border: 0;
}

.my-profile-page form .row .err {
	text-align: left;
	overflow: visible;
	white-space: nowrap;
	padding: 2px 0 0;
	height: 12px;
}

.order-tracking .header {
    padding: 0 0 10px;
}

.order-tracking .header .title {
    color: #333;
    font-size: 25px;
    padding-bottom: 5px;
}

.order-tracking .header .sub-title {
	font-size: 14px;
}

.order-tracking .shipment-header {
	position: relative;
	border-top: 1px solid #d6d6d6;
	background: #f2f2f2;
    padding: 5px 0;
    margin: 0 -25px;
    cursor: pointer;
}

.order-tracking .shipment-header .expand-ico {
	position: absolute;
	right: 13.5px;
	top: 12px;
	height: 16px;
	width: 16px;
	background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
	background-repeat: no-repeat;
	background-color: transparent;
}

.order-tracking h4 {
	font-size: 25px;
    padding: 5px 0;
}

.order-tracking .courier {
    padding: 5px 0;
    font-size: 14px;
}

.order-tracking .sep {
	color: #b5b5b5;
}

.order-tracking label {
	color: #808080;
	display: inline;
}

.order-tracking .details {
	display: none;
    font-size: 14px;
    margin: 15px 30px 20px;
    overflow: auto;
}

.order-tracking .details div {
	margin: 5px 0;
}

.order-tracking .body-txt {
	font: 12px/15px Arial;
	text-transform: none;
}

.order-tracking .details .mk-cf {
	margin: -5px 0;
}

.order-tracking .footer {
    text-align: center;
    border-top: 1px solid #999;
    padding-top: 15px;
    margin: 0 -25px -15px; 
}

.courierdetails-errorMsg,
.courierdetails-successMsg {
	text-align: center;
	padding-bottom: 10px;
}

.returnbox .return-status span {
	text-transform: none;
	font: 12px/18px Arial;
}

.returnbox .return-status .return_msg {
	display: inline-block;
	width: 800px;
	margin: 0 auto;
}

.returnbox .return-status .dl-returns-form {
	font: 12px/18px Arial;
	text-transform: none;
}

.returnbox .return-status .dl-returns-form a {
	font-family: 'din-med';
	text-transform: uppercase;
}
	
.returnbox .return-status span#padding {
	display: block;
	width: 700px;
	margin: 0 auto;
}

.returnbox .hd span {
	float: left;
}

/* Account Pages CSS
---------------------------------------------- */
.mk-account-pages { text-align: center; margin-bottom: 20px; }

.mk-account-pages h1 {
	font-size: 35px;
    margin:10px 0;
}

.mk-account-pages .err,
.mk-account-pages .success,
.mk-account-pages .note {
    padding:10px 0;
    text-align:center;
}

.mk-account-pages .note {
    font-size: 12px;
}

.mk-account-pages .err-icon,
.mk-account-pages .warn-icon {
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png');
	background-color: transparent;
	background-repeat: no-repeat;
	vertical-align: top;
	margin: -2px 2px 0 0;
}

.mk-account-pages .err-icon {
	background-position: -137px -406px;
}

.mk-account-pages .warn-icon {
	background-position: -116px -406px;
}

.mk-account-pages ul.mk-mynt-nav {
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 15px;
}
.mk-account-pages  ul.mk-mynt-nav li a {
	width:100px;
}

.mk-account-pages .mk-mynt-content {
	text-align: center;
	width: 760px;
	margin: 0 auto;
}


.mk-account-pages h2 {
	font-size: 25px;
	margin: 10px 0;
}

.mk-account-pages h6 {
	font-size: 14px;
	padding: 10px 0;
}

.mk-account-pages h6.mk-small-title {
	font-size: 14px;
	margin: 30px 0 10px;
}

.mk-account-pages table,
.order-tracking table {
    margin: 10px auto 0;
}

.mk-account-pages table b,
.mk-account-pages table strong {
    font-weight: normal;
}

.mk-account-pages table i,
.mk-account-pages table em {
    font-style: normal;
}

.mk-account-pages table tr {
	position: relative;
}

.mk-account-pages table tr.mk-table-head,
.order-tracking table tr.mk-table-head {
	background: #b7b7b7;
}
.mk-account-pages table tr.mk-even,
.order-tracking table tr.mk-even {
	background: #f2f2f2;
}

.mk-account-pages table tr a,
.mk-account-pages table tr em {
	color: #000;
	text-decoration: underline;
	cursor: pointer;
	font-style: normal;
}

.mk-account-pages table td,
.mk-account-pages table th,
.order-tracking table th,
.order-tracking table td {
	text-align: center;
	padding: 0 10px;
	font-size: 14px;
	height: 34px;
}

.mk-account-pages table td,
.order-tracking table td ,.coupon-app-info{
	font-size: 12px;
}

.mk-account-pages table .left,
.order-tracking table .left {
	text-align: left;
}

.mk-account-pages table td.order-action,.mk-account-pages table td.share-coupon {
	background: transparent;
	line-height: 34px;
	cursor: default;
	position: relative;
	padding: 0;
	display: block;
}
.mk-account-pages table td.order-action{
	text-align: left;
}

.mk-account-pages table td.share-coupon button  {
	font-size:12px;
}
.mk-account-pages table td.share-coupon div{
	position:absolute;
	left:10px;
	top:0;
	
}

.mk-account-pages .order-action div {
	/*position: absolute;*/
	left: 10px;
	top: 0;
	white-space: nowrap;
}

.order-action .mk-cancel-order,
.order-action .return,
.order-action .track-order,
.order-action .mk-get-points{
	display: inline-block;
	text-decoration: underline;
	text-align: left;
	cursor: pointer;
}

/**COUPON TRANSFER***/
#lb-coupon-transfer.lightbox .mod {
	width:470px;
}

#lb-coupon-transfer .coupon-block {
	background:#f2f2f2;
	padding:10px;
	text-align:left;
	margin-bottom:10px;
}
.coupon-block li {
	color:#828282;
}
.coupon-block li span {
	color:#333;
}

.details p {
	text-transform:none;
	padding:0 0 3px;
}
.details .coupon-form {
	padding:10px;
}
.details .coupon-form label {
	display:inline;
	margin-right:8px;
	}
.details .coupon-form input.email {
	height:19px;
	padding:5px 6px;
	width:200px;
}
.details .coupon-form .err-msg {
	display:block;
	height:15px;
	margin:4px 0 2px 24px;;
	color: #D14747;
	width:100%;
}

.details .coupon-form p {
	padding:0 0 5px;
	color:#ccc
}

.details  button {
	display:block;
	margin:0 auto 15px;
	width:125px;
}

/* Referral Page ------------------------------ */

.mk-account-pages .mk-referral-myinvites ul.mk-mynt-nav {
	width:555px;
	margin:0 auto;
}
.mk-account-pages .mk-referral-myinvites ul.mk-mynt-nav {
	padding-bottom: 0px;
	border-bottom: 0px none;
}

.mk-account-pages .mk-msg-error p {
	color: #d14747;
	font-size: 12px;
	margin: 20px;
}
.mk-account-pages .mk-bordered-page div,
.mk-pending-orders,
.mk-acct-information,
.mk-default-addresses,
.mk-address-book,
.mk-acct-more,
.express-block {
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 20px;
}

.mk-mynt-promo-codes {
	border-bottom: 1px solid #d6d6d6;
	padding: 5px 0 10px;
}

.mk-account-pages .mk-mynt-promo-codes .no-data-msg {
	padding: 0;
}

.mk-account-pages .mk-bordered-page .mk-referral-invite-tabs,
.mk-account-pages .mk-bordered-page .mk-referral-myinvites,
.mk-account-pages .mk-address-book,
.mk-account-pages .mk-mynt-credits {
	border-bottom: 0;
}
.mk-account-pages .mk-bordered-page .mk-referral-invite-tabs {
	height:auto;
}

.mk-account-pages .mk-referral-invite-tabs ul.mk-mynt-nav li a {
	width: 150px;
}

.mk-default-addresses address {
  font: 14px/20px Arial;
  text-transform:none;
}
.mk-default-addresses address .name {
	font-weight: bold;
}
.mk-default-addresses address label {
  color: #808080;
  font: 14px/20px Arial;
  display:inline;
}

.add-new-address { 
	width: 140px;
	margin: 0 0 10px;
}


.mk-referral-desc p {
	margin: 10px auto 0;
	font: 14px/20px Arial, Sans-Serif;
	text-transform:none;
}

.mk-account-pages ul.mk-email-options {
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #d6d6d6;
}
.mk-account-pages ul.mk-email-options li {
	display: inline;
	text-align: left;
	margin-left: 4px;
}

.mk-account-pages ul.mk-email-options li a {
	display: inline-block;
	width: 100px;
}

.mk-account-pages .mk-mynt-content .mk-invite-form {
	width: 600px;
	color: #000;
	margin: 0 auto;
	padding: 0 0 20px 0;
	border-bottom:0px none;
}

.mk-invite-form textarea {
	width: 580px;
	height: 125px;
	overflow: auto;
	resize:none;
	font-size:12px;
	font-family: Arial, Sans-Serif;
	-webkit-box-shadow: 0 1px 2px #999 inset;
	/* @alternate */-moz-box-shadow: 0 1px 2px #999 inset;
	/* @alternate */box-shadow: 0 1px 2px #999 inset;
	-webkit-border-radius: 1px;
	/* @alternate */-moz-border-radius: 1px;
	border-radius: 1px;
	padding: 4px 8px;
	border: 1px solid #D6D6D6;
	color: #333;
	margin-bottom:10px;
}

.mk-invite-form input.mk-invite-form-username {
	width: 580px;
	margin-bottom:10px;
	cursor:default;
	font-family: din-med;
	text-transform: uppercase;
}	

.mk-invite-form input {
	display: block;
	margin: 0 auto;
	width: 150px;
	cursor:pointer;
	margin-bottom:10px;
}

.mk-referral-myinvites .mk-mynt-nav {
}

.mk-referral-myinvites .mk-mynt-nav sub {
	color: #808080;
}

.mk-referral-myinvites table {
	border: none;
}

/* Profile Page ------------------------ */

.mk-acct-information p {
	font-size: 14px;
	margin: 5px 0;
}

.mk-acct-information p label {
	color: #808080;
	display: inline;
}

.mk-acct-information .mk-profile-options {
	color: #b5b5b5;
}
.mk-acct-information .mk-profile-options a {
	text-decoration: underline;
	font-size: 12px;
	color: #000;
}

.mk-acct-information form {
    margin: 15px auto 0;
    width: 250px;
	padding: 5px 5px 0;
	background: #F2F2F2;
}
.mk-acct-information form label {
    line-height: 20px;
}
.mk-acct-information form input[type="text"],
.mk-acct-information form input[type="password"] {
    width:200px;
}
.mk-acct-information form .row {
    width:216px;
    margin:10px auto 5px;
    text-align:left;

}
.my-profile-page  .mk-acct-information form .row.action {
    text-align:center;
    height:auto;
    margin:10px auto 0;
}
.mk-acct-information form .row .btn {
    width: 80px;
}

.mk-acct-information form .row .primary-btn {
	margin-right: 30px;
}

.mk-account-pages table h4 {
	font: 14px din-med;
	margin-bottom: 5px;
}
.mk-account-pages table p {
	font: 12px Arial, Sans-Serif;
}

/* Tool Tip ----------------------------- *//*
div.mk-order-number {
	position: relative;
}
div.mk-order-tip {
	background: #fff;
	border: 5px solid #e6e6e6;
	z-index: 10;
	position: absolute;
	bottom: 27px;
	left: 0;
	padding: 10px;
	width: 310px;
	text-decoration: none;
}
.mk-order-tip h4 {
	padding: 10px 0 5px;
	text-decoration: none;
}
.mk-order-tip ul li {
	font: 12px Arial, Sans-Serif;
	border-top: 1px solid #e6e6e6;
	padding: 10px 0;
}

.mk-order-tip ul li.mk-last {
	border-bottom: 1px solid #e6e6e6;
}
.mk-tip-arrow {
	position: absolute;
	bottom: -18px;
	left: 12px;
}*/
.mk-mrp-know-more{
	font-family: 'din-med';
	font-size: 14px;
	margin-top: 5px;
	display: inline-block;
	*display:inline;
	zoom: 1;
}
.mk-account-pages .mk-bordered-page div.mk-invite-form{
	border-bottom:0px none;
}
.mk-account-pages .mk-bordered-page div.mk-referral-desc{
	padding: 0 0 15px 0;
}

.mk-referral-social{
	font-size: 14px;
	padding-top: 15px;
}

.mk-referral-social p{
	margin: 10px 0;
}

.mk-referral-social p.mk-referral-link{
	text-transform:lowercase;
}

.mk-referral-social p.mk-referral-social-networks{
	color:#808080;
}

.mk-referral-social p.mk-referral-social-msg{
	width:400px;
	margin: 0 auto;
}

.mk-invite-form h6{
	text-align:left;
}

.mk-account-pages .mk-mynt-promo-codes.mk-mynt-credits h6 .rupees {
	text-transform: none;
	/* TODO: remove color, add class 'red' */
	color: #d14747;
}

.mk-account-pages .mk-mynt-promo-codes h6 span {
	color:#808080;
	text-decoration: none;
}

.mk-account-pages .mk-mynt-promo-codes h6.clickable {
	text-decoration:underline;
	cursor:pointer;
}

/* Progressbar - Start */

.ui-progressbar {
    height: 22px;
    text-align: left;
}

.ui-progressbar .ui-progressbar-value {
    height: 22px;
    margin: -1px;
    width: 100%;
}

.progress_status {
    font-weight: bold;
    left: 43%;
    margin-top: 4px;
    position: absolute;
    z-index: 10;
}

.ui-widget-header{
	border: 1px solid #d6d6d6;
	color: #333;
}

/* Progressbar - End */

.mk-account-pages .mk-bordered-page div.mk-invite-form-loader{
	width:35px;
	height:29px;
	background: url(http://myntra.myntassets.com/skin2/images/loader_transparent.gif) no-repeat;
	display:none;
	padding: 0px;
	border-bottom:0px none;
	margin:0 auto;
}

.mk-account-pages .mk-bordered-page div.mk-invite-form-message{
	width:600px;
	margin:0 auto;
	padding: 0px;
	border-bottom:0px none;
}

.mk-account-pages .mk-bordered-page div.mk-resend-notifications{
	width:600px;
	margin:0 auto;
	padding: 0px;
	border-bottom:0px none;
}

#courierdetails {
	overflow: hidden;
	margin: 0 auto 10px;
	width: 400px;
}

#courierdetails select {
	width: 180px;
	margin: 0 10px;
}

#courierdetails input[type=text] {
	width: 164px;
	margin: 0 10px;
}

#courierdetails label {
	margin: 0 10px;
}

#courierdetails-content .btn {
	width: 70px;
	margin: 0 10px;
}

#courierdetails-main {
	padding: 10px;
	width: 450px;
	overflow: hidden;
	margin: 0 auto;
}

#courierdetails .err {
	text-align: center;
	height: 12px;
	margin: 2px 0;
}

/*#courierdetails .mk-custom-drop-down.jqtransformdone{
        position:absolute;
}

#courierdetails .jqTransformSelectWrapper{
        position:absolute;
        top:0;
        left:0;
        margin:0;
}

#courierdetails .jqTransformSelectWrapper ul li a{
	text-decoration:none;
}*/

.mk-account-pages .no-data-msg {
	font-size: 14px;
	padding: 20px 0;
}

.mk-account-pages .body-text {
	font: 12px/15px Arial;
	text-transform: none;
	padding: 20px 0 10px;
}

.mk-returns-page .return-an-item {
	width: 400px;
	margin: 0 auto 15px;
	background: #F2F2F2;
	padding: 5px 0 10px;
}

.mk-returns-page .return-an-item h3 {
	font-size: 20px;
	padding: 5px;
}

.mk-returns-page .return-an-item p {
	font-size: 12px;
	line-height: 18px;
}

.mk-returns-page .return-an-item .return {
	width: 200px;
	margin: 10px 0;
}

/*My MYNTRA ACCOUNT INFORMATION DISPLAY*/

.my-profile-page .mk-acct-information form,.my-profile-page .mk-acct-more form  {background:none;width:auto;}
.my-profile-page .mk-acct-information form .row,.my-profile-page .mk-acct-more form .row {width:auto;text-align:center;height:40px;}
.my-profile-page .mk-acct-information form label,.my-profile-page .mk-acct-more form label {display:inline-block;margin-top:7px;}
.mk-acct-more form label.box-title {width:186px;margin-bottom:6px;border-bottom:solid 1px #ccc;padding-bottom:2px;}
.my-profile-page .row .mk-f-left {width:34%;text-align:right;}
.my-profile-page .row .mk-f-right {width:64%;text-align:left;}
.my-profile-page form .row .err {display:inline-block;}
.my-profile-page .mk-acct-information  form .row a {
text-decoration: underline;
font-size: 12px;
color: 
black;
}

/*MORE ABOUT YOU*/

.mk-acct-more  {position:relative;}
.mk-acct-more h2 {margin-bottom:0;}
.mk-acct-more p {
	margin-bottom:5px;
}
.mk-acct-more p.more-info-text,.info-text {
	margin:0 auto 15px;
	text-transform:none;
	font:normal 13px Arial;
	width:70%;
	}
.mk-acct-more .more-from-option-text {
	color:#808080;
	font-size:14px;
	}

.mk-acct-more .prof-btn-fb-connect {margin-bottom:25px;}

.mk-acct-more .ico-fb-small {
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-position: -169px -8px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    vertical-align: middle;
    width: 20px;
}

.mk-acct-more  select {min-width:100px;max-width:300px;}
.sel-education,.sel-employment {width:204px;}

.mk-acct-more .success-icon {
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -95px -406px transparent;
    display: inline-block;
    height: 17px;
    margin: 7px 4px 0 0;
    vertical-align: top;
    width: 17px;

}
.mk-acct-more .box-title .success-icon {
	display:block;
	float:right;
	margin:0;
}

.radio-block .jqTransformRadioWrapper {
	display:inline-block;
	float:none;
	}
.radio-block span {
	height:18px;
	margin-right:6px;
	display:inline-block;
	float:none;
	font-size:14px;
	}
.my-profile-page .radio-block .mk-f-left label{
	margin-top:4px;
}
.radio-block .jqTransformRadio {
	height:18px;
	width:18px;
	vertical-align:bottom;
	background-position:-61px -184px
;}
.radio-block .jqTransformRadioWrapper a.jqTransformChecked {
	background-position:-61px -204px
	}

.center-align{
	text-align: center;
}
.tpad25{
	padding-top:25px;
}
.cancel-valid{
	display:none;color:red;font-size:12px;
}
.mk-cancel-order-td{
	background-color: #fdfdfd;
}
.mk-account-pages  #mk-brands,.mk-account-pages  #mk-interests {
	text-align:left;
	margin:0 auto;
	border-bottom:solid 1px #ccc
	}
.my-profile-page .mk-acct-more form .mk-preferences {
	height:220px;
	margin:30px auto 25px;
	width:60%;
	}
.mk-filter-content {
	text-align:left;
	}



.my-profile-page .mk-preferences .mk-f-left,.my-profile-page .mk-preferences .mk-f-right {width:50%;text-align:center}

input.brands-autocomplete-input[type="text"],input.interests-autocomplete-input[type="text"]  {
    color: #333333;
    font: 12px/25px 'din-med';
    height: 25px;
    margin-top: 1px;
    padding: 2px 4px 0;
    position: relative;
    text-transform: uppercase;
    top: -3px;
    width: 178px;
}
.mk-resizable-box,#mk-brands-search-results,#mk-interests-search-results {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    
}

.mk-filter-wrapper a.mk-labelx_check, .mk-filter-wrapper .mk-labelx_check {
    color: #000000;
    display: block;
    font-size: 12px;
    padding: 5px 0;
    text-decoration: none;
    width: 166px;
}
.mk-filter-wrapper a.mk-labelx_check.disabled {
    visibility: visible !important;
}
.mk-filter-wrapper a.mk-labelx_check span.mk-filter-product-count {
    color: #808080;
}
.mk-labelx_check {
    cursor: pointer;
}
.cbx {
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -42px -144px transparent;
    display: block;
    float: left;
    height: 11px;
    margin-right: 5px;
    margin-top: 2px;
    width: 11px;
}
.unchecked .cbx {
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -42px -157px transparent;
}
.disabled .cbx {
    background-position: -55px -144px;
}

#more-info-control {
	position:absolute;
	left:87%;
	font-size:14px;
	text-decoration:underline;
	cursor:pointer;
	}
#more-info-control span.icon{
	vertical-align:bottom;
	display:inline-block;
	height:17px;
	margin:0 5px 0 0;
	width:17px;
	background:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -17px -377px transparent
	}
#more-info-control span.icon.open-state {
	background-position:0 -377px;
}

.selected-count {
	font-size:12px;
	float:left;
	margin:2px 0 0 20px;
	color:#808080;
	}
	
/* Gift Cards */

#giftcard-cap-loading {
    background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin1/myntra_images/captcha-loading.gif") no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: -25px;
    left: 100px;
    top: 29px;
    display:block;
}

.giftcard-captcha-change-text {
    position: absolute;
    right: -85px;
    top: 26px;
}

.mk-giftcard-activation-section{
	width:450px;
	background: #eeeeee;
	font-size:14px;
	padding:10px 20px 10px 20px;
	margin:0 auto;
}

.title-text{
	font-size:20px;
	margin-bottom:5px;
}

.foot-notes{
	font-size:12px;
	margin-top:10px;
}

.top-notes{
	margin-bottom:10px;
}
	
.primary-btn .proceed-icon {
	background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") repeat scroll -135px -114px transparent;
	width: 18px;
	height: 18px;
	float: right;
	right: 8px;
	top: 9px;
	position: absolute;
}

.activate-gift-card{
	position: relative;
	width: 140px;
}

.mk-giftcard-activation-section form{
	margin: 10px 0 5px 0;
}

.mk-giftcard-activation-section label{
	float:left;
	margin-right:5px;
}

.mk-giftcard-activation-section .lbl{
	font-size:12px;
    padding: 0px;
}


.mk-giftcard-activation-section input{
	line-height:20px;
	width: 190px;
    padding-left: 5px;
    padding-right: 5px;
}

.mk-account-pages .mk-mygiftcard-page table td{
	padding: 10px 0 10px 0;	
	border-bottom: 1px solid #d5d5d5;
	line-height:18px;
	vertical-align:top;
}

.mk-gc-bought h6, .mk-gc-received h6{
	font-size:24px;
	padding-bottom:5px;
}

.mk-gc-preview-link{
	display:block;
	margin-top:3px;
}

.mk-giftcard-sent{
	padding-top:5px;
}

.mk-giftcard-received{
	padding-top:10px;
}

.mk-giftcard-default-msg{
	font-size:14px;
}

.mk-mygiftcard-page .mk-mynt-promo-codes {
	border-bottom: 0px none;
}

.mk-gc-bought .cat-label, .mk-gc-received .cat-label{
	color:#808080;
}

.mk-sub-desc{
	font-family: Arial;
    font-size: 12px;
    text-transform: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.mk-account-pages .mk-giftcard-page table{
    margin: 0px auto 0;
}

.mk-span-success-ico{
    background-image:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    background-position:-95px -406px;
    width:17px;
    height:16px;
    display:inline-block;
    vertical-align:top;
}

.secure .mk-span-success-ico{
	background-image:url(https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png);
}

.mk-span-err-ico{
    background-image:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    background-position:-137px -406px;
    width:17px;
    height:16px;
    display:inline-block;
    vertical-align:top;
}

.secure .mk-span-err-ico{
	background-image:url(https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png);
}

.mk-account-pages .mk-gc-activation-err {
    width:200px;
    padding:1px 0px;
    text-align:left;
}

.mk-gc-activation-err .msg{
	vertical-align:middle;
	font-size:11px;	
}

.mk-gc-bought .mk-span-success-ico, .mk-gc-received .mk-span-success-ico,.mk-gc-bought .mk-span-err-ico, .mk-gc-received .mk-span-err-ico{
	margin-right:4px;
}

.mk-account-pages table td.mk-activation-section{
	text-align: right;
	padding-right: 5px;
}

.mk-giftcardpreview-overlay.lightbox .ft{
	border-top:1px solid #d5d5d5;
}
.shopfest-cancel-msg{
	font-size:14px;
	color:#666666;
}
#shopfest-cancel-child-orders-msg{
	font-size:14px;
	color:red;
}

/***** EXPRESS BUY BLOCK ******/

.mk-header-exp-payment-page {
	float:right;
	padding-top:10px;
}

.mk-header-exp-payment-page ol li {
	display:inline-block;
	vertical-align:top;
	*zoom:1;
	*display:inline;
	font-size:36px;
	color:#808080;
}

.mk-header-exp-payment-page ol li:first-child {
	font-size:11px;
	color:#b5b5b5;
	width:210px;
	padding-top:10px;
}
.mk-header-exp-payment-page ol li span.exp-icon {
	height:24px;
	width:24px;
	display:inline-block;
	*zoom:1;
	*display:inline;
	background:#ccc;
}
.my-block-links {
	font-size:12px;
}
.my-block-links button{
	font-size:12px;
	margin-top:-1px;
}
#express-buy-enable {
	margin-right:5px;
}
.express-default-options {
	font-size:12px;
	padding:12px 0;
	border-top:solid 1px #d6d6d6;
	border-bottom:solid 1px #d6d6d6;
	width:50%;
	margin:10px auto;
	
}
.express-default-options .row{
	width:135px;
	text-align:left;
	margin:8px auto 0;
}
.express-default-options input  {
	font-size:12px;
	vertical-align:bottom;
	margin-right:3px;
}

.express-cards {
	margin:20px 0;
}

.express-cards  h3{
	font-size:20px;
}
.express-cards button {
	width:130px;
}
#list-cards {
	margin:25px auto 0;
	width:80%;
}

#list-cards  li{
	height:70px;
	background:#f2f2f2;
	padding:15px 20px 15px 30px;
	text-transform: none;
	text-align:left;
	color:#333;
	position:relative;
}
#list-cards  li.even
{
	background:#fff;
}
#list-cards  li span{ 
	display:inline-block;
	*display:inline;
	*zoom:1;
	
}
#list-cards  li.not-expired .exp-msg-expired {
	display:none;

}

#list-cards  li.expired  .exp-msg-expired {
	color:#d14747;
	font-size:12px;
	position:absolute;
	left:45px;
	top:12px;
}

#list-cards  li.not-invalid .exp-msg-invalid {
	display:none;

}

#list-cards  li.invalid  .exp-msg-invalid {
	color:#d14747;
	font-size:12px;
	position:absolute;
	left:45px;
	top:12px;
}

#list-cards  li.not-expired .exp-msg {
	display:none;

}

#list-cards  li.expired  .exp-msg{
	color:#d14747;
	font-size:12px;
	position:absolute;
	left:45px;
	top:12px;
}

#list-cards  li.expired .default-card{
	display:none;
}

#list-cards  li.invalid .default-card{
	display:none;
}

#list-cards  li .card-details {
	display:inline-block;
	width:320px;
	padding-left:10px;
	
}
#list-cards  li .card-details span {
	width:100%;
	height:20px;
} 
#list-cards  li .card-type {
	height:30px;
	width:48px;
	background:transparent url('http://myntra.myntassets.com/skin1/images/cr_cards_type.gif') no-repeat 0 0;
}

.secure #list-cards  li .card-type {
	background:transparent url('https://d6kkp3rk1o2kk.cloudfront.net/skin1/images/cr_cards_type.gif') no-repeat 0 0;
}

#list-cards  li .visa{
	background-position: 0 0;
}
#list-cards  li .master{
	background-position: 0 -30px;
}
#list-cards  li .amex{
	background-position: 0 -60px;
}
#list-cards  li .diners{
	background-position: 0 -90px;
}
#list-cards  li .maestro{
	background-position: 0 -120px;
}
#list-cards li .details-cont {
	width:75%;
	border-right:solid 1px #ccc;
	height:60%;
	padding:15px;
}

#list-cards li .card-options {
	width:17%;
	height:100%;
	text-align:center;
	padding:15px 0;
	text-transform: uppercase;
	font-size:12px;
}
#list-cards li .remove {
	font-size:12px;
	width:60px;
	padding:0;
}
#list-cards li .set-default {
	width:90px;
	font-size:12px;
	padding:0;

}	
#list-cards li .card-options .selected-icon
{
	height:17px;
	vertical-align:middle;
	width:17px;
	margin-right:4px;
	background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -95px -406px transparent;
}

.secure #list-cards li .card-options .selected-icon{
	background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") no-repeat scroll -95px -406px transparent;
}

.secure #list-cards li .card-type.mastercard {
	background-position-y: -30px;
}

.secure #list-cards li .card-type.amex {
	background-position-y: -60px;
}

.secure #list-cards li .card-type.diners {
	background-position-y: -90px;
}

.secure #list-cards li .card-type.maestro {
	background-position-y: -120px;
}

.express-cards .add-card {
	margin:15px 0 0;
}

#lb-add-card .bd {
	width:594px;
	margin:0 auto;

}

#lb-add-card .bd .tab-content{
	border:1px solid #D6D6D6;
	padding:10px;
}

#lb-add-card .tabs {
  overflow: hidden;
  zoom: 1;
  text-align: center;
}

#lb-add-card .tabs ul {
	height: 70px;
}

#lb-add-card .tabs li {
  display: inline-block;
  *display:inline;
  *zoom:1;
  position: relative;
  padding: 10px 6px;
  width: 86px;
  height: 30px;
  vertical-align: top;
  border-color: #d6d6d6;
  border-width: 0 1px 1px;
  border-style: solid;
  cursor: pointer;
  background-color: #e6e6e6;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 -2px;
}
#lb-add-card .opt-new{
	left: 198px;
} 
#lb-add-card .opt-new {
	
	background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
  	background-repeat: no-repeat;
  	background-position: -104px -111px;
  	display:block;
	height:11px;
	left: 149px;	
  	position: absolute;
  	top: 33px;
	width:24px;
	z-index: 1;
}
#lb-add-card .tabs li .opt {
  display: none;
  width: 40px;
  height: 8px;
  background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
  background-repeat: no-repeat;
  background-position: -423px -24px;
  position: absolute;
  bottom: -12px;
  left: 31px;
}

#lb-add-card .tabs li:hover,
#lb-add-card .tabs li.selected {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

#lb-add-card.tabs li.selected {
	cursor: default;
}

#lb-add-card .tabs li.selected .opt {
  display:block;
}
#lb-add-card .btn-group button {
	width:130px;
	margin:15px 10px;
}
#lb-add-card .err-msg {
	height:15px;
	padding-top:4px;
	clear:both;
	color:#d14747;
}

#lb-add-card .cc-form .row {
	margin-bottom:8px;
}
#lb-add-card .success-msg {
	font-size:14px;
	
}

#lb-add-card .success-msg span.icon{
	background:transparent url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") no-repeat -95px -405px;
	height:17px;
	width:17px;
	display:inline-block;
	*zoom:1;
	*display:inline;
	vertical-align:bottom;
	
}

/** Common styling for my privilege tab put here as mynt loyalty .css is not needed in savedcard.php**/
.mk-mynt-nav .new-mynt-credits {
	position: relative;
	margin-top: 12px;
	display: inline-block;
}
.mk-mynt-nav .new-loyal-flag-icon {
	position: absolute;
	left: 97px;
	top: -7px;
}