.fleft{
	float: left;
}
.fright{
	float: right;
}
/* Tabs and subtab layout starts*/
.mk-mynt-tabs{
	float: left;
	font-size: 14px;
	width: 200px;
	position: relative;
	z-index: 1;
}

.mk-mynt-tabs ul{
	list-style: none;
	padding:0px 0px 0px 0px;
	margin: 0px;
}

.mk-mynt-tabs ul li a {
	width: 184px;
	display: inline-block;
	padding: 15px 4px 2px 12px;
	height: 28px;
	background: #e6e6e6;
	color: #000;
	text-decoration: none;
	text-align: left;
}
.mk-mynt-tabs ul li a:hover {
	background: #F2F2F2;
}

.mk-mynt-tabs li{
	border-top: 1px solid #ffffff;
}
.mk-mynt-tabs li i{
	display: none;
}
.mk-mynt-tabs li.my-mynt-selected-tab i{
	display: inline-block;
}
.mk-mynt-tabs li.my-mynt-selected-tab{
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
}

li.my-mynt-selected-tab + li{
	border-top: 0px;
}

.mk-mynt-tabs li.my-mynt-selected-tab a{
	background: #ffffff;
	width:185px;
}
.mk-mynt-tabs li.my-mynt-selected-tab a:hover{
	background: #ffffff;
}
.mk-mynt-tabs ul.subtabs{
	color: #74C2D3;
	font-size: 13px;
	padding:0px 0px 0px 25px;
	display: none;
}
.mk-mynt-tabs .my-mynt-selected-tab ul.subtabs{
	display: block;
}
.mk-mynt-tabs ul.subtabs li a{
	width: 185px;
	display: inline-block;
	padding: 0px 0px 0px 0px;;
	height: 28px;
	background: #FFFFFF;
	border: 0px;
	color: #4490A5;
	text-decoration: none;
}

/* Tabs and subtab layout ends*/
/* Top banner styling starts*/
.loyalty-top-banner{
	position: relative;
}

.loyalty-top-banner .loyalty-top-banner-gyan{
	position: absolute;
	right: 45px;
	top: 10px;
	text-align: center;
	color: white;
}
.loyalty-top-banner .accepted-member{
	top: 36px;
}

.loyalty-top-banner .loyalty-top-banner-gyan h2{
	color: white;
	margin-bottom: 4px;
}
.loyalty-top-banner .loyalty-top-banner-gyan .normal-btn{
	width: 210px;
	margin-top: 20px;
}


/* Top banner styling ends*/

.mk-mynt-tabs-content-wrapper{
	float: left;
	width: 778px;
	border-left: 1px solid #d6d6d6;
	position: relative;
	z-index: 0;
}

.mk-mynt-tabs-content{
	padding:0px 0px 0px 10px;
	min-height: 400px;
}
.mk-mynt-tabs-content > .loading {
    height:100px;
    background-image: url(http://d6kkp3rk1o2kk.cloudfront.net/skin2/images/loader_transparent.gif);
    background-repeat:no-repeat;
    background-position:center center;
}
.mk-mynt-tabs-content .mk-loyalty-gyan-general{
	text-align: center;
	text-transform: none;
	font-size: 12px;
	font-family: arial,sans-serif;
	line-height: 17px;
	color: #484848;
}

.mk-mynt-tabs-content .mk-loyalty-block{
	margin-bottom: 50px;
}

.mk-mynt-tabs-content .mk-loyalty-block h2 {
	font-size: 25px;
	margin: 10px 0 1px 0px;
	font-weight: normal;
	text-align: center;
}
.mk-mynt-tabs-content .mk-loyalty-block h3 {
	font-size: 14px;
	margin: 10px 0 20px 0px;
	font-weight: normal;
	text-align: left;
	border-bottom: 2px solid #E7E7E7;
	padding-bottom: 5px;
}

.mk-mynt-tabs-content .mk-loyalty-block .mk-loyalty-block-msg {
	text-align: center;
	font-size: 12px;
	font-family: arial,sans-serif;
	text-transform: none;
}

.mk-mynt-tabs-content .mk-loyalty-block .mk-loyalty-gyan-flow-blocks{
	margin: 5px auto 0px auto;
	width: 690px;
}

.mk-mynt-tabs-content .mk-loyalty-gyan-flow-blocks .mk-loyalty-gyan-flow-block{
	float: left;
	height: 150px;
	text-align: center;
	width: 195px;
	padding: 20px 0px 0px 0px;
	color: #333;
}
.mk-mynt-tabs-content .mk-loyalty-gyan-flow-block .gyan-flow-block-title{
	font-size: 15px;
	margin: 3px 0px 0px 0px;
}
.mk-mynt-tabs-content .mk-loyalty-gyan-flow-block .gyan-flow-block-desc{
	text-transform: none;
	font-size: 12px;
	font-family: arial,sans-serif;
}
.mk-mynt-tabs-content .mk-loyalty-gyan-flow-blocks .mk-loyalty-arrow{
	width: 50px;
}

.icon-right-arrow{
	background: url('http://myntra.myntassets.com/assets/imgs/myntra_sprites_v01.png') no-repeat -120px -70px;
	width: 7px;
	height: 13px;
	display: inline-block;
}

.mk-loyalty-gyan-flow-block .icon-right-arrow{
	margin-top: 75px;
}

.mk-mynt-tabs .icon-right-arrow{
	float: right;
	margin-right: 7px;
}



.icon-bag{
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -279px -181px;
	width: 16px;
	height: 18px;
	display:inline-block;
}

.loyalty-earning-table{
	border-top: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
	border-left: 1px solid #d6d6d6;
	border-bottom: 0px;
	border-collapse:collapse;
	width: 690px;
	margin: 0px auto;
	font-weight: normal;
}

.loyalty-earning-table thead{
	background-color: #D6D6D6;
	color: #80828E;
}

.loyalty-earning-table tbody{
	color: #333;
}
.loyalty-earning-table thead th{
	font-weight: normal;
	text-transform: none;
	height: 25px;
	text-align: left;
	font-family: arial;
	font-size: 12px;
}

table.loyalty-earning-table th, table.loyalty-earning-table td{
	border-bottom: 1px solid #d6d6d6;
	padding: 0px 10px;
	text-align: left;
}

 table.loyalty-earning-table td{
	padding: 1px 10px;
}

.loyalty-earning-table td{
	height: 30px;
}
.loyalty-earning-table td > *{
	vertical-align: middle;
}
.loyalty-earning-table td i{
	margin-right: 10px;
}
.mk-loyalty-gyan-earning table.loyalty-earning-table thead th.align-right, 
.mk-loyalty-gyan-earning table.loyalty-earning-table td.align-right{
	text-align: right;
}


/** Loyalty level gyan starts **/
.mk-loyalty-gyan-levels{
	width: 690px;
	margin: 20px auto 0px auto;
}
.loyalty-gyan-level-block{
	float: left;
	width: 228px;
	text-align: center;
	position: relative;
	z-index: 0;
	min-height:370px;
}
.loyalty-gyan-level-block.selected-block{
	border: 1px solid #d6d6d6;
}
.loyalty-gyan-level-block .loyalty-gyan-level-block-name{
	position: absolute;
	top: 72px;
	text-align: center;
	width: 100%;
	font-size: 16px;
}
.loyalty-gyan-level-block .loyalty-gyan-level-block-name.level-1{
	color: #D2BC8C;
}
.loyalty-gyan-level-block .loyalty-gyan-level-block-name.level-2{
	color: #92AB64;
}
.loyalty-gyan-level-block .loyalty-gyan-level-block-name.level-3{
	color: #6C99A6;
}
.loyalty-gyan-level-block .loyalty-gyan-level-block-shopmore{
	position: absolute;
	top: 142px;
	color: white;
	width: 100%;
	font-size: 14px;
}

.loyalty-gyan-level-block .loyalty-gyan-level-block-currentier{
	position: absolute;
	top: 100px;
	width: 100%;
	font-size: 13px;
}

.loyalty-gyan-level-block .loyalty-gyan-level-block-benefits{
	color: #333;
	padding: 0px 30px;
	text-transform: none;
	font-family: arial;
}

.loyalty-gyan-level-block .loyalty-gyan-level-block-benefits strong{
	font-weight: bold;
}

.loyalty-gyan-level-block .loyalty-gyan-level-block-benefits p{
	border-bottom: 1px solid #d6d6d6;
	text-align: left;
	/*width: 182px;*/
	margin:0px auto;
	line-height: 20px;
	padding: 7px 0px;
	font-size: 13px;
}
.loyalty-gyan-level-block .loyalty-gyan-level-block-benefits p.plast{
	border-bottom: 0px;
} 
.loyalty-gyan-level-block .loyalty-current-level{
	color: #808080;
}

.loyalty-gyan-level-block p.loyalty-gyan-current-tier,
.loyalty-gyan-level-block p.loyalty-gyan-shopmore{
	font-size: 15px;
	font-weight: bold;
	border-bottom-width: 2px;
}

/** Loyalty level gyan ends **/

/** Rules terms and condition **/

.mk-loyalty-block .loyalty-rules-terms-condition{
	margin-top: 20px;
}

.loyalty-rules-terms-condition{
	width: 768px;
	color: #333;
	text-transform: none;
	margin: 0px auto;
	font-family: arial;
}
.loyalty-rules-terms-condition .recent-activity-mask{
	height: 100px;
	overflow: hidden;
}

.loyalty-rules-terms-condition ul{
	padding: 0px;
	list-style: none;
	margin: 0px 0px 0px 16px;
}
.loyalty-rules-terms-condition ul.top-ul{
	margin: 0px 0px 0px 0px;
}
.loyalty-rules-terms-condition ul.top-ul > li {
	margin-bottom: 17px;
	margin-top: 0px;
}

.loyalty-rules-terms-condition ul li{
	padding: 0px;
	margin: 7px 0px 0px 10px;
	font-size: 12px;
	text-align: left;
	font-weight: normal;
}
.loyalty-rules-terms-condition .read-more{
	color: #74C2D3;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}
.loyalty-rules-terms-condition .read-more:hover{
	text-decoration: underline;
}

/** Loyalty Rules TNC modal box styling starts**/
.loyalty-rules-terms-condition .tnc-term-title,
.loyalty-tc-lightbox .terms-n-condition-content .tnc-term-title{
	font-weight: bold;
	margin-top: 20px;
}
.loyalty-tc-lightbox ul.top-ul{
	margin-left: 0px;
}
.loyalty-tc-lightbox ul{
	margin-left: 24px;
}
.loyalty-tc-lightbox ul li{
	padding: 0px;
	margin: 7px 0px 0px 10px;
	font-size: 12px;
	text-align: left;
}
.loyalty-rules-terms-condition .subterms,
.loyalty-tc-lightbox .subterms {
	margin-left: 48px;
}


/** Loyalty Rules TNC modal box styling ends**/

/** User current tier block starts**/
.loyalty-user-profile-block{
	border-bottom: 1px solid #E7E7E7;
	color: #333;
	padding-bottom: 20px;
}
.loyalty-user-profile-block .loyalty-user-current-tier{
	float: left;
	width: 360px;
	margin-left: 20px;
}
.loyalty-user-profile-block .loyalty-user-next-tier{
	float: right;
	border: 1px solid #E7E7E7;
	width: 340px;
	padding: 15px;
	margin-top: 6px;
}
.loyalty-user-profile-block .loyalty-user-current-tier .current-tier-label{
	font-size: 14px;
	text-align: left;
}
.loyalty-user-profile-block .loyalty-user-current-tier .current-tier-desc{
	width: 230px;
	text-transform: none;
	border-top: 1px solid #E7E7E7;
	padding-top: 5px;
	margin-top: 5px; 
	font-size: 11px;
	font-family: arial;
	text-align: left;
	display: block;
}

.loyalty-user-profile-block .loyalty-user-current-tier .current-tier-desc .icon-tick-green{
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -382px -379px;
	width: 9px;
	height: 6px;
	display: inline-block;
}
.loyalty-user-profile-block .loyalty-user-current-tier .current-tier-desc span{
	display: inline-block;
	margin-left: 4px;
}
.loyalty-user-profile-block .loyalty-user-current-tier .current-tier-desc li{
	padding: 2px;
}
.loyalty-user-profile-block .loyalty-user-current-tier .current-tier-desc .icon-new{
	position: relative;
	top: 1px;
}
.loyalty-user-profile-block .loyalty-user-current-tier .current-tier-info{
	float: left;
	margin-top: 18px;
	margin-left: 10px;
}
.loyalty-user-profile-block .loyalty-user-current-tier .current-tier-icon{
	width: 115px;
	height: 125px;
	background-color: grey;
	display: inline-block;
	float: left;
	margin: 0px 15px 0px 10px;
}
.loyalty-user-profile-block .loyalty-user-next-tier .next-tier-info{
	float: right;
	width: 278px;
}
.loyalty-user-profile-block .loyalty-user-next-tier .next-tier-label{
	font-size: 12px;
	text-align: left;
}
.loyalty-user-profile-block .loyalty-user-next-tier .next-tier-desc{
	text-transform: none;
	border-top: 1px solid #E7E7E7;
	padding-top: 5px;
	margin-top: 5px; 
	font-size: 12px;
	text-align: left;
	font-family: arial;
	display: block;
}
.loyalty-user-profile-block .loyalty-user-next-tier ul.next-tier-desc{
	border-top: 0px;
	margin-top: 0px;
	padding-top: 2px;
}
.loyalty-user-profile-block .loyalty-user-next-tier .next-tier-desc .icon-tick-gray{
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -342px -380px;
	width: 9px;
	height: 6px;
	display: inline-block;
}
.loyalty-user-profile-block .loyalty-user-next-tier .next-tier-desc .icon-new{
	position: relative;
	top: 1px;
	display: inline-block;
}
.loyalty-user-profile-block .loyalty-user-next-tier .next-tier-icon{
	width: 50px;
	height: 60px;
	background-color: grey;
	display: inline-block;
	float: left;
	margin: 0px 15px 0px 0px;
}
.loyalty-user-profile-block h4{
	text-align: center;
	font-size: 20px;
	text-transform: none;
	padding: 25px 0px 25px 0px;
}

/** User current tier block ends**/

/** MyPoints section starts **/
.lp-circle {
	width: 100px;
	height: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background-color: #ffffff;
	box-shadow:0px 1px 1px 0px #D3D3D3 inset;
	float: left;
}
.loyalty-mypoints-desc{
	float: left;
	margin-left: 20px;
	padding: 42px 0px 0px 0px;
}

.loyalty-mypoints-desc .mypoints-label{
	font-size: 14px;
	text-align: left;
}
.loyalty-mypoints-desc .mypoints-desc{
	text-transform: none;
	font-size: 12px;
	font-weight: bold;
	font-family: arial;
	margin-top: 3px;
}
.pending-points .mypoints-desc{
	font-size: 12px;
	font-weight: normal;
}

.lp-circle .lp-points{
	font-size: 25px;
	text-align: center;
	line-height:100px;
}
.loyalty-mypoints{
	background-color: #F2F2F2;
	height: 100px;
	margin-top: 5px;
	padding: 15px;
	color: #333;
	box-shadow: 0px 1px 0px 0px #D6D6D6;
}
.green{
	color: #03AE5F;
}
.active-points .lp-points{
	color: #03AE5F;
}
.pending-points .lp-points{
	
}

.get-them-now{
	float: right;
	margin-top: 45px;
	width: 160px;
	padding: 2px;
	margin-right: 10px;
}
/** MyPoints section ends **/


/* Recent activity starts*/

.mk-mynt-tabs-content .lp-recent-activity h3{
	border-bottom: 1px dotted #cccccc;
	margin-bottom: 3px;
}
.mk-mynt-tabs-content .lp-recent-activity h3 .info-msg{
	font-size: 11px;
	font-family: arial;
	text-transform: none;
	color: #808080;
}
.lp-recent-activity{
	
}
.lp-recent-activity .recent-activity-table td{
	height: 20px;
}
.lp-recent-activity .recent-activity-table{
	text-transform: none;
	width: 100%;
	color: #333;
	border-spacing: 0px 10px;
	border-collapse: separate;
	margin: 0px 0px 0px 0px;
}

.recent-activity-table td.points-stat{
	width: 65px;
	text-align: right;
	padding-right: 10px;
	background-color: #F1F1F1;
}
.recent-activity-table td.points-activity-date{
	text-align: right;
	padding-right: 10px;
	color: #808080;
	font-family:arial;
}
.recent-activity-table td.points-activity-desc{
	text-align: left;
	padding-left: 10px;
	font-family:arial;
}


.lp-recent-activity .see-more-activity{
	height: 30px;
	border-top: 1px dotted #cccccc;
	border-bottom: 1px dotted #cccccc;
	line-height: 30px;
	text-transform: none;
	margin-top: 10px;
	padding-left: 95px;
	cursor: pointer;
	color: #808080;
	font-size: 13px;
	text-align: left;
}
.lp-recent-activity .see-more-activity:hover{
	text-decoration: underline;
}
.lp-recent-activity .see-more-activity>*{
	vertical-align: middle;
}
.lp-recent-activity .see-more-activity .showLoading >*{
	vertical-align: middle;
}
.lp-recent-activity .see-more-activity .showLoading span{
	margin-left: 5px;
}
.lp-recent-activity .no-recent-activity{
	height: 30px;
	border-bottom: 1px dashed #E7E7E7;
	line-height: 30px;
	text-transform: none;
	margin-top: 0px;
	padding-left: 0px;
	color: #808080;
	font-size: 13px;
	text-align: left;
}

.lp-recent-activity .see-more-disabled{
	border-bottom: 0px;
	cursor: auto;
}

.lp-recent-activity .recent-activity-mask{
	height: 100px;
	overflow: hidden;
}

/* Recent activity ends*/


/*Faded user loyalty block starts here*/
.user-loyalty-block-faded{
	position: relative;
	z-index: 0;
	margin: 0px auto;
	padding-top: 10px;
	padding-left: 10px;
	overflow: hidden;
	width: 768px;
}
.user-loyalty-block-faded .loading{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-image: url("http://myntra.myntassets.com/skin2/images/loader_transparent.gif");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: .9;
	filter: alpha(opacity=90);
	z-index: 1002;
}
.user-loyalty-block-faded .lp-recent-activity{
	margin-bottom: 0px;
}
.lp-faded-mask{
	z-index: 1;
	position: absolute;
	top:0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	opacity: 0.4;
	background-color: #000000;
}
.lp-activation-modal-static{
	position: absolute;
	z-index: 2;
	background-color: #ffffff;
	background: #fff;
	padding: 0;
	zoom: 1;
	color: #333;
	border-radius: 4px;
	box-shadow: 0 0 8px #666;
	background-repeat: no-repeat;
	border: 1px solid #999;
	width: 600px;
    margin-left:-300px;
    left:50%;
	height: 400px;
	margin-top: -200px;
	top:50%;
}
.lp-activation-modal h2{
	text-align: center;
	font-size: 25px;
	margin: 12px;
}
.loyalty-tc-lightbox .terms-title, .lp-activation-modal .terms-title{
	text-align: center;
	border-top: 1px solid #d6d6d6;
	background-color: #E7E7E7;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
}

.lp-activation-modal .terms-n-condition-control{
	border-top: 1px solid #d6d6d6;
	position: absolute;
	height: 70px;
	bottom: 0px;
	width: 100%;
	text-align: center;
	padding: 20px 0px 10px 0px;
}
.loyalty-tc-lightbox .terms-n-condition-control{
	padding: 10px 0px 6px 0px;
}
.loyalty-tc-lightbox .terms-n-condition-control label,.lp-activation-modal .terms-n-condition-control label{
	display: inline-block;
}

.loyalty-tc-lightbox .terms-n-condition-control label > *,.lp-activation-modal .terms-n-condition-control label > *{
	vertical-align: middle;
}

.loyalty-tc-lightbox .terms-n-condition-control input[type="checkbox"],
.lp-activation-modal .terms-n-condition-control input[type="checkbox"]{
	width: 30px;
	height: 16px;
}

.lp-activation-modal .terms-n-conditions{
	width: 590px;
	max-height: 200px;
	padding-top: 10px;
	padding-left: 10px;
	height: auto;
}

.loyalty-tc-lightbox .terms-n-condition-content,
.lp-activation-modal .terms-n-condition-content{
	font-size: 12px;
	text-align: left;
	text-transform: none;
}

.loyalty-tc-lightbox .terms-n-condition-content ul li,
.lp-activation-modal .terms-n-condition-content ul li {
	padding: 0px;
	margin: 7px 0px 0px 10px;
	font-size: 12px;
	text-align: left;
	font-family: arial;
	line-height: 16px;
	font-weight: normal;
}

.loyalty-tc-lightbox .bd{
	padding: 0px;
}
.loyalty-tc-lightbox .ft{
	border-top: 1px solid #d6d6d6;
}

.loyalty-tc-lightbox .terms-n-conditions{
	padding: 0px 25px;
	max-height: 250px;
	height: auto;
	width: 840px;
}


/*Feded user loyalty block ends here*/

/** Override for new layout for coupons */
.mk-mynt-tabs-content .mk-mynt-promo-codes{
	border-bottom: 0px;
}

/*welcome messages styling*/
.loyalty-welcome-msg{
	border: 1px solid #ccc;
	box-shadow: 0 1px 3px #ccc;
	height: 90px;
	position: relative;
}

.loyalty-welcome-msg .lp-welcome-greet-msg{
	font-size: 16px;
	margin-top: 18px;
	font-family: arial;
	font-weight: bold;
	text-transform: none;
}
.loyalty-welcome-msg .lp-welcome-success-msg{
	font-size: 12px;
	margin-top: 14px;
	text-transform: none;
	font-family: arial;
}
.loyalty-welcome-msg .lp-welcome-greet-msg > *{
	vertical-align: middle;
}
.loyalty-welcome-msg .icon-success{
	display: inline-block;
}

.loyalty-welcome-msg .close{
	background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
	background-position: -16px -272px;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 19px;
	position: absolute;
	right: 6px;
	top: 6px;
	width: 19px;
}

/** Button Styling **/
.agree-btn{
	width: 133px;
	padding: 0px;
	margin-top: 15px;
	font-size: 12px;
}

.start-now-bottom{
	width: 200px;
}
/** Button styling ends **/


/** ICON styling **/

.loyalty-icon{
	background-image: url('http://myntra.myntassets.com/skin2/images/sprite-loyalty_marketing_v3.png');
	background-repeat:  no-repeat;
	display: inline-block;
}
/*.new-loyal-flag-icon{
	background-position: -155px -103px;
	width: 52px;
	height: 13px;
}*/

.fb-icon{
	background-position: -14px -11px;
	width: 19px;
	height: 15px;
}

.like-icon{
	background-position: -14px -40px;;
	width: 19px;
	height: 15px;
}

.bag-icon-small{
	background-position: -15px -71px;
	width: 19px;
	height: 15px;
}

.like-share-shop-icon {
	background-position: -80px -1px;
	width: 60px;
	height: 60px;
}

.earn-points-icon{
	background-position: -155px -3px;
	width: 60px;
	height: 60px;
}

.shop-myntra-bags{
	background-position: -247px -7px;
	width: 60px;
	height: 60px;
}

.shop-myntra-bag{
	background-position: -70px -60px;
	width: 60px;
	height: 60px;
}

.level-1-tiny-icon,
.level-2-tiny-icon,
.level-3-tiny-icon{
	width: 50px;
	height: 53px;
}
.level-1-tiny-icon{
	background-position: -451px -11px;
}

.level-2-tiny-icon{
	background-position: -507px -11px;
}
.level-3-tiny-icon{
	background-position: -563px -10px;
}

.level-1-small-icon,
.level-2-small-icon,
.level-3-small-icon{
	width: 103px;
	height: 104px;
}

.level-1-small-icon{
	background-position: -722px -18px;
}
.level-2-small-icon{
	background-position: -722px -132px;
}
.level-3-small-icon{
	background-position: -722px -252px;
}

.level-1-big-icon-empty,
.level-1-big-icon-filled,
.level-2-big-icon-empty,
.level-2-big-icon-filled,
.level-3-big-icon-empty,
.level-3-big-icon-filled{
	width: 184px;
	height: 192px;
}

.level-1-big-icon-empty{
	background-position: -14px -241px;
}
.level-1-big-icon-filled{
	background-position: -4px -454px;
}
.level-2-big-icon-empty{
	background-position: -194px -241px;
}
.level-2-big-icon-filled{
	background-position: -189px -454px;
}

.level-3-big-icon-empty{
	background-position: -374px -241px;
}
.level-3-big-icon-filled{
	background-position: -380px -454px;
}


/** Error CSS **/
.mymynt-error .content-bd {
    height:100%;
}
.mymynt-error .content-bd > .error {
    font-size:14px;
    padding:20px 0;
    text-transform:none;
}

/** Top tabs new loyalty icon flag styling **/
/*.mk-mynt-nav .new-mynt-credits{
	position: relative;
	margin-top: 12px;
	display: inline-block;
}
.mk-mynt-nav .new-loyal-flag-icon{
	position: absolute;
	left: 113px;
	top: -7px;
}*/