form.jqtransformdone label{
	margin-top:4px;
	margin-right: 8px;
	display: block;
	float:left;
}
form.jqtransformdone div.rowElem{
	clear:both;
	padding:4px 0px;
}
/* -------------
 * Buttons
 * ------------- */
button.jqTransformButton {
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	overflow: visible;
}

*:first-child+html button.jqTransformButton[type]{width: 1;} /* IE7 */

button.jqTransformButton span {
	/*background: transparent url(img/btn_right.gif) no-repeat right top;*/
	display: block;
	float: left;
	padding: 0px 4px 0px 0px; /* sliding doors padding */
	margin: 0px;
	height: 33px;
}

button.jqTransformButton span span {
	/*background: transparent url(img/btn_left.gif) no-repeat top left;*/
	color: #333;
	padding: 8px 4px 0px 8px;
	font-weight: normal;
	line-height: 13px;
	display: block;
	text-decoration: none;
	height: 33px;
}

/*hover*/
button.jqTransformButton_hover span span { background-position: left -33px ; }
button.jqTransformButton_hover span { background-position: right -33px ; }

/*clicked*/
button.jqTransformButton_click span span { background-position: left -66px ; }
button.jqTransformButton_click span { background-position: right -66px ; }

/* IE 6 */
* html button.jqTransformButton { height:33px; }
* button.jqTransformButton span span { height: 25px; }
/* IE 7 */
*+ html button.jqTransformButton { height:33px; }
*+ button.jqTransformButton span span { height: 25px; }


/* -------------
 * Inputs
 * ------------- */
.jqTransformInputWrapper {
padding:0;
margin:0 auto;
}


.jqTransformInputInner div input {
	line-height: 18px;
	vertical-align: middle;
	color:#999;
}

/* Ie7 */
*+ html .jqTransformInputInner div input {
	padding: 6px 0 0 0;
	margin-left:-10px;
	height:24px;
}

/*hover*/
.jqTransformInputWrapper_hover{ background-position: left -31px ;}
.jqTransformInputWrapper_hover div.jqTransformInputInner{ background-position: right -31px ;}

/*focus*/
.jqTransformInputWrapper_focus{ background-position: left -62px ;}
.jqTransformInputWrapper_focus div.jqTransformInputInner{ background-position: right -62px ;}




/* -------------
 * Textarea
 * ------------- */
table.jqTransformTextarea td#jqTransformTextarea-mm textarea{
	line-height: 16px;
}

table.jqTransformTextarea td{
font-size: 1px;
line-height: 1px;
width: 5px;
height: 5px;
margin: 0;
padding: 0;
}
table.jqTransformTextarea{}
table.jqTransformTextarea tr{
/*border: 1px solid red;*/

}
table.jqTransformTextarea textarea{
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
}
/*
table.jqTransformTextarea td#jqTransformTextarea-tl{background: url(img/textarea/textarea_tl.gif) no-repeat top left;}
table.jqTransformTextarea td#jqTransformTextarea-tm{background: url(img/textarea/textarea_tm.gif) repeat-x top left;}
table.jqTransformTextarea td#jqTransformTextarea-tr{background: url(img/textarea/textarea_tr.gif) no-repeat top left;}

table.jqTransformTextarea td#jqTransformTextarea-ml{background: url(img/textarea/textarea_ml.gif) repeat-y top left;}
table.jqTransformTextarea td#jqTransformTextarea-mm{background: url(img/textarea/textarea-mm.gif) repeat;}
table.jqTransformTextarea td#jqTransformTextarea-mr{background: url(img/textarea/textarea_mr.gif) repeat-y top left;}

table.jqTransformTextarea td#jqTransformTextarea-bl{background: url(img/textarea/textarea_bl.gif) no-repeat top left;}
table.jqTransformTextarea td#jqTransformTextarea-bm{background: url(img/textarea/textarea_bm.gif) repeat-x top left;}
table.jqTransformTextarea td#jqTransformTextarea-br{background: url(img/textarea/textarea_br.gif) no-repeat top left;}
*/

/*hover*/
/*
table.jqTransformTextarea-hover td#jqTransformTextarea-tl{background-position:0px -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-tm{background-position:0px -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-tr{background-position:0px -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-ml{background-position:-5px 0px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-mm{background-image: url(img/textarea/textarea-mm-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-mr{background-position:-5px 0px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-bl{background-position:0px -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-bm{background-position:0px -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-br{background-position:0px -5px;}
*/

/*focus*/
/*
table.jqTransformTextarea-focus td#jqTransformTextarea-tl{background-position:0px -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-tm{background-position:0px -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-tr{background-position:0px -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-ml{background-position:-10px 0px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-mm{background-image: url(img/textarea/textarea-mm-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-mr{background-position: -10px 0px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-bl{background-position:0px -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-bm{background-position:0px -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-br{background-position:0px -10px;}


table.jqTransformTextarea .jqTransformSafariTextarea div {
	position: relative;
	overflow: hidden;
	border: 0px solid red;
}
table.jqTransformTextarea .jqTransformSafariTextarea textarea{
	background: none;
	position: absolute;
	top:-10px;
	left:-10px;
	padding: 10px 10px 10px 10px;
	resize: none;
}
*/

/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {float: left;display:block;margin:0px 4px;	margin-top:5px;}
.jqTransformRadio {
	background-image: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png);
    background-repeat:no-repeat;
    background-position:0 -185px;
	height: 32px;
	width: 32px;
	display: inline-block;
}
.secure .jqTransformRadio {
	background-image: url(https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png);
}


/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
	display:block;float:left;
	margin-top:5px;
}

a.jqTransformCheckbox {
	background-image: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png);
    background-repeat:no-repeat;
    background-position:0 -164px;
	height: 18px;
	width: 18px;
	margin: 0 8px 0 0;
	display: inline-block;
}
.secure a.jqTransformCheckbox {
	background-image: url(https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png);
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
.jqTransformCheckboxWrapper a.jqTransformChecked { background-position: 0 -144px;}

.jqTransformRadioWrapper a.jqTransformChecked { background-position: 0 -218px;}


/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 45px;
	position:relative;
	height: 35px;
	margin: 0 auto;
}

.jqTransformSelectWrapper span {
	font: 14px/15px 'din-med';
	white-space: nowrap;
	padding: 10px 6px;
	overflow: hidden;
	cursor:pointer;
	float: none;
	position: absolute;
	left:0;
}

.mk-pdp-carousel-shop-by  a.jqTransformSelectOpen{
	position: absolute;
	right: 10px;
	width: 12px;
	height: 6px;
	background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
	background-repeat: no-repeat;
	background-position: -89px 0;
	background-color: transparent;
	top: 12px;
}
.secure .mk-pdp-carousel-shop-by  a.jqTransformSelectOpen{
	background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 0px;
	width: 12px;
	height: 6px;
	margin: 14px 8px;
	background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: -89px 0;
    background-color: transparent;
}
.secure .jqTransformSelectWrapper  a.jqTransformSelectOpen {
	background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.jqTransformSelectWrapper ul {
	position: absolute;
	width: 43px;
	top: 34px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #e5e5e5;
	display: none;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#333;
	background-color: #FFF;
	font-size:14px;
}

.jqTransformSelectWrapper ul a.selected {
	background: #f2f2f2;
	color: #333;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#f2f2f2;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}

.jq-drop-down-list {
    position:absolute;
	background-color: #FFF;
	border: solid 1px #e5e5e5;
	display: none;
    height:200px;
    overflow:auto;
    z-index:1006; /* Lightbox z-index + 1 */
}
.jq-drop-down-list a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#333;
	background-color: #FFF;
	font-size:14px;
}


.jq-drop-down-list a:hover, .jq-drop-down-list a.selected:hover {
	background:#f2f2f2;
}
.jq-drop-down-list a.selected {
	background: #f2f2f2;
	color: #333;
}

