/*html {background: #fff url(http://myntra.myntassets.com/skin2/images/bg-html.png) repeat-x left bottom; }*/
nav.mk-site-nav { zoom: 1; }
label.mk-r_on { font-size: 28px; }

div.mk-tip-arrow { bottom: -18px; }
div.mk-filter-wrapper { top: 21px; }

ul.mk-mynt-nav li { margin-left: 2px !important;}
p.mk-promo-success em { font-style: normal;}
*+html ul.mk-utility li em span { display: inline;}

*+html .mk-product-guide .mk-size li { display: inline; zoom: 1;}
*+html .mk-product-guide .mk-size li a { display: block;}
*+html .mk-free-item .mk-product-guide button { width: 185px;}
*+html .mk-awards-modal .mk-item .mk-item-empty em { line-height: 72px;}
*+html .mk-cart-items {text-align: left;}
*+html .mk-cart-items ul li { text-align: center;}
/* IE 7 */
*+html .mk-site-hd ul.mk-utility {margin-top:25px;}
*+html ul.mk-utility li span { zoom: 1; display: inline; vertical-align: bottom; float: left; margin-top: 10px;}
*+html ul.mk-utility li em { display: inline; zoom: 1; float: left; }
*+html header.mk-site-hd input { width: 675px;}
*+html div.mk-modal-wrapper { width: auto; }
*+html div.mk-product-grid ul li,
*+html div.mk-product-page ul.mk-size li,
*+html div.mk-quicklook-modal ul.mk-size li,
*+html ul.mk-feature-page-touts li,
*+html .mk-checkout-steps ul li,
*+html .mk-cart-totals .mk-promo-code,
*+html .mk-cart-totals .mk-membership { zoom: 1; display: inline; }
*+html div.mk-brand-abc { margin: 0; padding: 0 0 20px; border-top: none; }
*+html div.mk-sbHolder { position: relative; z-index: 9; }
*+html section.mk-site-nav-wrapper div.mk-oaccasion ul { display: inline; zoom: 1; margin: 0; padding: 0; }
*+html section.mk-site-nav-wrapper div.mk-oaccasion { text-align: left; }
*+html div.mk-landing-page div.mk-product-filters ul.mk-product-selectors { margin-top: -25px; }
*+html div.mk-landing-page div.mk-matchmaker div.mk-match a,
*+html div.mk-cart-modal div.mk-also-cycle div.mk-also a { position: relative; z-index: 9; }
*+html div.mk-landing-page div.mk-matchmaker div.mk-match div,
*+html div.mk-cart-modal div.mk-also-cycle div.mk-also div { position: absolute; left: 0; top: 90px; z-index: 10; }
*+html div.mk-product-sidebar div.mk-matchmaker div.mk-match a { text-align: center;zoom:1;display:inline; }

*+html ul.mk-sbOptions li { padding: 10px 0; }
*+html div.mk-invite-form input { width: 150px; }
*+html div.mk-account-pages ul.mk-email-options li a {
	width: 145px;
	height: 25px;
	padding: 15px 0 0 10px; }
*+html div.mk-order-modal div.mk-order-item { zoom: 1; }
*+html div.mk-order-modal div.mk-order-details { zoom: 1; display: inline; }
*+html div.mk-default-addresses div { display: inline; zoom: 1; }
*+html div.mk-tip-arrow { bottom: -15px; }
*+html div.mk-filter-wrapper { top: 31px; }
*+html ul.mk-mynt-nav li { margin-left: 5px; }
*+html div.mk-zoom-modal { margin-top: 7px;}
*+html div.MagicZoomBigImageCont { margin-left: -156px;}
*+html .contact-block,
*+html .social-block,
*+html .testimonials,
*+html .love-myntra,
*+html .mk-product-sidebar .mk-matchmaker .mk-match em { display:inline;zoom:1}
*+html .rs-carousel-mask {position:relative;}

*+html .mk-apply-promo .mk-col1,
*+html .mk-apply-promo .mk-col2 { height: 140px !important; }
