/* Reset
-------------------------------------------------------------- */
html{color:#333;background:#FFF;text-transform:uppercase;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
a{color:#000; text-decoration: underline; cursor: pointer;}
b, strong { font-weight: normal; }
i, em { font-style: normal; }

/* HTML5 Elements
-------------------------------------------------------------- */
article, aside, details, figure, footer, header, hgroup, nav, section { display: block; }

/* Avoid FOUT
-------------------------------------------------------------- */
.mk-wf-loading { visibility: hidden !important; }

/*------------------------------------
fonts:
-------------------------------------*/
 /* DINMittelEF-Bold */
.mk-din-med { font-family: din-med; }
 /* DINMittelEFEL-Medium */
.mk-din-bold { font-family: din-bold; }
 /* DINMittelEFEL-Italics */
.mk-din-ital { font-family: din-ital; }

/*------------------------------------
colors:
-------------------------------------*/

/* Clearfix
-------------------------------------------------------------- */
/* For modern browsers */
.mk-cf:before,
.mk-cf:after { content:""; display:table; }
.mk-cf:after { clear:both; }
/* For IE 6/7 (trigger hasLayout) */
.mk-cf { zoom:1; }

/* Global Styles
-------------------------------------------------------------- */
html {
	font-family: din-med, Arial, Sans-Serif;
	background-image: -webkit-linear-gradient(top, rgb(255,255,255) 0%, rgb(251,251,251) 90%, rgb(235,235,235) 100%);
	/* @alternate */ background-image: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(251,251,251) 90%, rgb(235,235,235) 100%);
	/* @alternate */ background-image: -o-linear-gradient(top, rgb(255,255,255) 0%, rgb(251,251,251) 90%, rgb(235,235,235) 100%);
	/* @alternate */ background-image: linear-gradient(top, rgb(255,255,255) 0%, rgb(251,251,251) 90%, rgb(235,235,235) 100%);
}

.ui-slider { 
	position: relative; 
	text-align: left; 
	width: 150px; 
	margin-left: 10px; 
	background: #f2f2f2; 
	border-top: 1px solid #bdbdbd;
   	-moz-box-shadow: 1px 0 1px #999;
	-webkit-box-shadow: 1px 0 1px #999;
	box-shadow: 1px 0 1px #999;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
.ui-slider .ui-slider-handle { 
  position: absolute; 
  z-index: 2; 
  width: 1.2em; 
  height: 1.2em; 
  cursor: default; 
  background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -137px -92px; 
  outline: none;
}
.secure .ui-slider .ui-slider-handle { 
	background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}
.ui-slider .ui-slider-range { 
  position: absolute; 
  z-index: 1; 
  font-size: .7em; 
  display: block; 
  border: 0; 
  background-position: 0 0; 
  background: #999;
}

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.2em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 12px; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

/* Tabs */
/*
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") *//*
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: default; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }


/* More Views */ 
.mk-more-views .mask {
    position:relative; /* required */
    overflow:hidden; /* required */
    width:355px; /* required */
    background: none;
}
 
.mk-more-views .pagination-links {
    list-style:none;
    margin:0;
    padding:0;
}
 
.mk-more-views .pagination-links li {
    display:inline;
}
 
.mk-more-views .pagination-links li.current {
    background:grey;
}

.mk-more-views a.rs-carousel-action { 
  position: absolute;
  bottom: 40px;
  display: none;
  width: 28px;
  height: 30px;
  text-indent: -9999px;
  background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat;
}
.secure .mk-more-views a.rs-carousel-action { 
	background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.mk-more-views a.rs-carousel-action-prev { 
  left: 0;
  background-position: 0 -340px;
}

.mk-more-views a.rs-carousel-action-prev:hover {
  background-position: -39px -340px;
}

.mk-more-views a.rs-carousel-action-next { 
  right: -1px;
  background-position: 0 -300px;
}

.mk-more-views a.rs-carousel-action-next:hover {
  background-position: -39px -300px;
}

.mk-more-views a.rs-carousel-action-active {
  display: block;
}

.mk-more-views .disabled {
  display: none !important;
}


/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
  overflow: hidden;
  position: relative;
}

.jspPane
{
  position: absolute;
  left: 0;
}

.jspVerticalBar
{
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 100%;
  background: none;
  z-index: 10;
}

.jspHorizontalBar
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
  margin: 0;
  padding: 0;
}

.jspCap
{
  display: none;
}

.jspHorizontalBar .jspCap
{
  float: left;
}

.jspTrack {
  background: #e6e6e6;
  position: relative;
}

.jspDrag {
  background: #999;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.jspDrag:hover,
.jspActive {
	background: #666;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

.jspArrow.jspDisabled
{
  cursor: default;
  background: #80808d;
}

.jspVerticalBar .jspArrow
{
  height: 16px;
}

.jspHorizontalBar .jspArrow
{
  width: 16px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
  outline: none;
}

.jspCorner
{
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
  margin: 0 -3px 0 0;
}


/* Select Menu ----------------------- */

.ui-selectmenu { display: block; position:relative; height:2em; text-decoration: none; overflow:hidden; }
.ui-selectmenu-icon {
    position:absolute; right: 10px; margin-top:-8px; top: 70%;
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -90px 0;
    width: 10px; height: 5px;
}
.secure .ui-selectmenu-icon {
	background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto; background: #f4f4f4; border-bottom: 1px solid #D4D4D4;}
.ui-selectmenu-open { visibility: visible !important; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown { z-index:10; border-top: 1px solid #D4D4D4}
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a, .ui-selectmenu-status { line-height: 14px; display:block; padding: 7px 10px; outline:none; text-decoration:none; color: #333; text-transform: uppercase; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 14px; }
.ui-selectmenu-open li.ui-selectmenu-item-focus a { background: #dedede; }
.ui-selectmenu-open li.ui-selectmenu-item-selected { }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content {  }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding:.6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }



.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix, .container {display:block;}

.mk-price-spl{
	/* TODO: remove color, add class 'red' */
	color: #d14747;
	font-family: 'din-med';
	text-transform: none;
}

.ui-corner-all{height:16px;}
.mk-price-range.ui-corner-all{height:10px;}

#purchases {
	text-align:center;
}

#purchases table {
	margin-left: 360px;
}

.multiContainer a {
  position: absolute;
  text-indent: -9999px;
}

.mk-tabHeader {
  border: solid 2px #D5D5D5;
  border-bottom-color: #ececec;
  margin-bottom: 10px;
  border-right-width: 0;
}

.mk-tabHeader a {
  float: left;
  display: block;
  text-align: center;
  padding: 8px 0;
  text-decoration: none;
  color: #808080;
  font-size: 14px;
  border-right: solid 2px #D5D5D5;
  position: relative;
}

.mk-tabHeader a.activated:hover {
  text-decoration: underline;
  color: #333;
}

.mk-tabHeader a.active:hover {
  text-decoration: none;
}

.mk-tabHeader a.active {
  background: url('http://myntra.myntassets.com/skin2/images/Topnav_bground.png') repeat-x 0 0;
  color: #000;
}

.mk-tabContentWrap .inactive {
  display: none;
}

.mk-tabContentWrap .active {
  display: block;
}

.mk-tabContentWrap .mk-most-popular.dummyWidget {
  display: none !important;
}

.mk-most-popular .category {
  height:20px;
  margin-bottom: 2px;
}

.mk-tabWidget{
  display: none;
}

.mk-tabHeader .activeArrow {
  display: none;
}

.mk-tabHeader .active .activeArrow {
  display: block;
  position: absolute;
  left:50%;
  bottom: -2px;
  height:10px;
  width:18px;
  margin-left: -9px;
  background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -276px -138px;
}
.secure .mk-tabHeader .active .activeArrow {
	background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.mk-tabContent .recViewText {
  display: none;
}

/**JQUERY UI CAROUSEL**/

.rs-carousel .rs-carousel-mask {
	overflow: hidden;
}
.rs-carousel .rs-carousel-runner {
    position: relative;
}
.rs-carousel.rs-carousel-horizontal .rs-carousel-item {
	float: left;
}

a.rs-carousel-action {outline:none}

.rs-carousel-action-disabled {
  display: none !important;
}

.mk-coupon-trigger {
	position: fixed;
	z-index: 6;
	left: -100px;
	bottom: 100px;
	width: 155px;
	height: 53px;
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat left -38px;
}
.secure .mk-coupon-trigger {
	background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.mk-coupon-trigger span.mk-discount-amount {
	color: #fff;
	display: block;
	width: 100px;
	font: 13px din-med;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	margin-top: 20px;
}

.mk-coupon-trigger span.mk-btn-coupon {
	cursor: pointer;
}


/* Global Classes
-------------------------------------------------------------- */
.mk-f-left { float: left; }
.mk-f-right { float: right; }
.mk-hide { display: none; }
.mk-clear { clear: both; }
.mk-inline { display: inline; }
/* Buttons */
button.mk-checkout {
	display: inline-block;
	color: #fff;
	background: #232323;
	font: 14px din-med;
	text-transform: uppercase;
	padding: 5px 12px;
	-webkit-border-radius: 4px;
	/* @alternate */ -moz-border-radius: 4px;
	/* @alternate */ border-radius: 4px;
}

/* Layout
-------------------------------------------------------------- */
.mk-wrapper {
	width: 980px;
	margin: 0 auto;
	overflow-x: hidden;
}

.mk-wrapper .mk-left-festival-column {
	position: absolute; 
	width: 80px; 
	top: 0px; 
	bottom: 0px; 
	margin-left: -85px;
	/*background: url('../../images/png.png');*/
	background-repeat: repeat-y;
}

.mk-wrapper .mk-right-festival-column {
	position: absolute; 
	width: 80px; 
	top: 0px; 
	bottom: 0px; 
	right: 0px;
	margin-right: -85px;
	/*background: url('../../images/png.png');*/
	background-repeat: repeat-y;
}

.mk-site-main h2 {
	text-align: center;
	text-transform: uppercase;
}

.mk-promo-header {
	background: #f2f2f2;
	color: #808080 !important;
	font: 13px/25px 'din-med';
}

.mk-promo-header div {
	width: 980px;
	margin: 0 auto;
}

.mk-promo-header a {
	color: #808080 !important;
}

.mk-promo-header a:hover {
	color: #333 !important;
}

.availability {
	position: absolute;
	z-index: 1;
	width: 150px;
	left: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
}

.availability .tooltip-arrow {
	height: 0;
	width: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #e6e6e6;
	margin: 0 68px;
}

.availability .tooltip-arrow-inner {
	height: 0;
	width: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	position: relative;
	top: 2px;
	left: -5px;
}

.availability .tooltip-content {
	font-size: 12px;
	color: #808080;
	border: 1px solid #e6e6e6;
	background: #fff;
	padding: 2px 4px;
}

.strike {text-decoration:line-through;}

/**RECENT GET SIZES**/


.mk-price-text{
	text-transform:none;
}

.mk-colour .lbl,
.flat-size-options .lbl {
    font-size: 12px;
}
.flat-size-options .options {
    border:1px solid transparent;
    padding: 4px 4px 0px;
    display: inline-block;
    margin: 0 auto;

}
.flat-size-options .options.error {
    border:1px solid #d14747;
    font-size: 14px;
}
.flat-size-options .btn {
    width:auto;
    min-width:32px;
    *min-width:auto;
    line-height:1.2;
    margin:0 2px 5px 0;
}
.mk-product-guide .flat-size-options button {
    display:inline-block;
}

div.bread-crumb {
    display:inline;
}

.bread-crumb-bottom a{
	text-decoration:none;
}

.bread-crumb-bottom a:hover{
	text-decoration:underline;
}

.checkout .primary-btn,
.add-button-group .primary-btn,
.lb-sizechart .primary-btn {
	position: relative;
}

.checkout .primary-btn .proceed-icon,
.add-button-group .primary-btn .proceed-icon,
.lb-sizechart .primary-btn .proceed-icon {
    background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") repeat scroll -135px -114px transparent;
	width: 18px;
	height: 18px;
	float: right;
	right: 8px;
	top: 9px;
	position: absolute;
}

.secure .primary-btn .proceed-icon,
.secure .add-button-group .primary-btn .proceed-icon,
.secure .lb-sizechart .primary-btn .proceed-icon {
	background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}

.multiContainerHide {
	display: none;
}

/*  nudge related css changes */

#nudge{
    position:fixed;
    top:205px;
    width:150px;
    height:55px;
}

.nudgeOutter{
    position: fixed ;
    border : solid 1px #ccc;
    height: 53px;
    width:auto;
    top: 205px;
    left:-126px;
    z-index:100;
    background-color: #ffffff;
    box-shadow:1px 1px 2px #D6D6D6
}
.nudgeOutter:hover{
    cursor : pointer;
}
.nudgeIconArea{
    height: 100%;
    width:20px;
    float: right;
}
.nudgeOffer{
    height: 100%;
    float: left;
    padding: 7px;
}
.nudgeIconArea .cross {
    float:right;
    top:0px;
    display: none;
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: 0 -273px;
    width: 10px;
    height: 10px;
    margin-top:6px;
    margin-right:6px;

}
.secure .nudgeIconArea .cross {
    float:right;
    top:0px;
    display: none;
    background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: 0 -273px;
    width: 10px;
    height: 10px;
    margin-top:6px;
    margin-right:6px;

}

.lightText {
    font: 12px arial;
    padding-top:2px;
    color: #808080;
    text-transform:none;
    margin-left:1px;
}
 .highlightedText{
    font-size: 18px;
    color: #333333;
    margin-top:5px;
    margin-left:1px;
 }
 .highlightedText:hover{
  text-decoration:underline;
}
.dockicon{
   position: fixed ;
   height: 55px;
   width: 24px;
   top: 205px;
   z-index:101;
   background-color:#F27C29;
   cursor:pointer;
    box-shadow:1px 1px 2px #d6d6d6;
}
.nudgeStar{
   background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
   background-repeat: no-repeat;
   background-position: -554px -405px;
   width: 17px;
   height: 17px;
   margin-top:17px;
   margin-left:auto;
   margin-right:auto;

}
.secure .nudgeStar{
   background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
   background-repeat: no-repeat;
   background-position: -554px -405px;
   width: 17px;
   height: 17px;
   margin-top:17px;
   margin-left:auto;
   margin-right:auto;

}

.collapsed .nudgeStar {
  background-position: -575px -406px;
}
.collapsed {
   border-top: solid 1px #ccc;
   border-bottom: solid 1px #ccc;
   border-right: solid 1px #ccc;
   background-color:#FFF;
   height:53px;
}
#nudge{
  z-index:1000!important; 
}

.mk-visual-tag,
.mk-visual-tag-pdp {
    left: -100%;
    position: relative;
    -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(-90deg);  /* IE 9 */
    -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
    transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.10+  */
    -webkit-transform-origin: 100% 0; /* Safari and Chrome */
    -moz-transform-origin: 100% 0; /* Firefox 3.5-15 */
    -ms-transform-origin: 100% 0; /* IE 9 */
    -o-transform-origin: 100% 0; /* Opera 10.50-12.00 */
    transform-origin: 100% 0; /* Firefox 16+, IE 10+, Opera 12.10+  */
    z-index: 1;
}
.mk-visual-tag-pdp{
  z-index:0;
}

.mk-visual-tag div,
.mk-visual-tag-pdp div {
    padding: 1px 7px;
    color:#FFF;
    font-size: 11px;
    background: #F49937;      
    right: 0;
    position: absolute;
    font-weight: 400;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
}

.mk-visual-tag-pdp div {
    font-size: 13px;
    margin: 10px 0 0;
    max-width: 460px;
}

.mk-search-grid .mk-visual-tag div {
    margin: 4px;
}

.mk-visual-tag.mk-visual-tag-offer div,
.mk-visual-tag-pdp.mk-visual-tag-offer div {
  background: #EE6567;
}

.mk-visual-tag.mk-visual-tag-new div,
.mk-visual-tag-pdp.mk-visual-tag-new div {
  background: #599C42;
}

.mk-visual-tag.mk-visual-tag-exclusive div,
.mk-visual-tag-pdp.mk-visual-tag-exclusive div {
  background: #394F53;
}

.mk-visual-tag.mk-visual-tag-premium div,
.mk-visual-tag-pdp.mk-visual-tag-premium div {
  background: #1E83BC;
}
