/* Site Nav CSS
--------------------------------------------------------------*/
.mk-pdp-carousel-shop-by .mk-site-nav .mk-level-1, .mk-pdp-carousel-shop-by .mk-site-nav .mk-level-2 {
 box-shadow: 0px 2px 3px 0px #CCC;
}

.mk-pdp-carousel-items.mk-pdp-carousel-items-shift-up{
	margin-top:-30px;
}
.mk-pdp-carousel-items .mk-site-nav-wrapper{
	margin: 1px 0 5px;
}

.mk-site-nav-wrapper {
	margin: 10px 0 5px;
	border-bottom: 1px solid #d6d6d6;
	height: 180px;
	background: #f2f2f2;
}

.mynt-layout-new .mk-site-nav-wrapper {
	margin: 0;
	border: 0;
	height: auto;
	background: transparent; 
}

.mk-site-nav-wrapper div ul li a {
	color: #171717;
	text-transform: uppercase;
	line-height: 1.5;
}

.mk-site-nav-wrapper div ul li a.mk-current {
	text-decoration: underline;
}

.mk-site-nav-wrapper .mk-main-col {
	width: 120px;
}

.mk-site-nav-wrapper .mk-second-col {
	width: 200px;
}

.mk-site-nav-wrapper .mk-main-col ul {
	margin: 30px 30px 30px 30px;
	width: 100px;
	text-align: center;
}

.mk-site-nav-wrapper .mk-second-col ul {
	margin: 40px 20px 0px 50px;
	width: 150px;
	text-align: center;
}

.mk-site-nav-wrapper .mk-main-col ul li a {
	font-size: 23px;
}

.mk-site-nav-wrapper .mk-second-col ul li a {
	font-size: 13px;
	color: #171717;
}

/** Additional Navs **/
.mk-site-nav-wrapper .mk-occasion {
	display: block;
	width: 340px;
	height: 160px;
	background: #ededed;
}

.mk-site-nav-wrapper .mk-occasion ul {
	display: inline-block;
	margin: 25px 0 0;
	width: 150px;
	text-align: center;
}

.mk-site-nav-wrapper .mk-occasion ul.mk-list-overflow {
	width: 150px;
}

.mk-site-nav-wrapper .mk-occasion ul li a {
	font-size: 13px;
}

.mk-site-nav-wrapper .mk-type {
	display: block;
	width: 340px;
	height: 160px;
	background: #f2f2f2;
	text-align: center;
}

.mk-site-nav-wrapper .mk-type ul {
	display: inline-block;
	margin: 30px 0 0;
	width: 150px;
}

.mk-site-nav-wrapper .mk-type ul.mk-list-overflow {
	margin: 38px 0 0;
	width: 150px;
}

.mk-site-nav-wrapper .mk-type ul li a {
	font-size: 13px;
}

.mk-site-nav .mk-mymyntra-dash,
.mk-site-nav .mk-free-shipping-cb {
	z-index: 2;
	width: 792px;
	display: block;
	height: 180px;
	text-align: center;
	background: #ededed;
}

.mk-site-nav .mk-mymyntra-dash {
	width: 784px;
	background: #f2f2f2;
}

.mk-site-nav-wrapper .mk-free-shipping h2,
.mk-site-nav .mk-free-shipping-cb h2 {
	margin: 55px 0 0 0;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 800;
	color: #262626;
}

.mk-site-nav-wrapper .mk-free-shipping h5,.mk-site-nav .mk-free-shipping-cb h5 {
	text-transform: uppercase;
	font-size: 13px;
	font-style: italic;
	font-weight: 600;
	color: #a1a1a1;
}

/* CB Nav */
.mk-site-nav {
	height: 180px;
}

.mynt-layout-new .mk-site-nav {
	height: auto;
    position: relative;
    z-index: 1003;
}

.mk-site-nav div ul li a {
	color: #808080;
	font: 14px/20px din-med;
	display: block;
	text-decoration:none;
}

.mk-site-nav div ul li a.mk-hover,
.mk-site-nav div ul li a.mk-active {
	color: #000;
	text-decoration:underline;
}

.mk-site-nav .mk-level-1 {
	margin: 0;
	z-index: 5;
	position: relative;
	background: #e6e6e6;
	width:188px;
}

.mynt-layout-new .mk-site-nav .mk-level-1 {
	background: #fff;
	width: 980px;
    border-bottom: 2px solid #c8d3dc;
    float: none;
    position: relative;
}

.mk-site-nav .mk-level-1 ul {
	height: 160px;
	width: 178px;
	padding: 10px 0px 10px 10px;
}

.mynt-layout-new .mk-site-nav .mk-level-1 ul {
	height: auto;
	width: 980px;
	padding: 0;
}

.mynt-layout-new .mk-site-nav .mk-level-1 ul li a {
	font: 17px/28px din-med;
	color: #333;
    padding: 0px 10px;
    border: 2px solid transparent;
    background-color: transparent;
}

.mynt-layout-new .mk-site-nav .mk-level-1 ul li a.mk-persist {
	background-color: #F2F2F2;
}

.mynt-layout-new .mk-site-nav .mk-level-1 ul li a.mk-hover,
.mynt-layout-new .mk-site-nav .mk-level-1 ul li a.mk-active {
    background-color: #D6D6D6;
}

.mk-site-nav .home-icon {
    width: 18px;
    height: 18px;
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png');
    background-position: -209px -139px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 0 -3px -9px;
}

.mk-site-nav .home-icon:hover {
    background-position: -234px -139px;
}

.mk-level-1.mk-f-left ul li {
	height: 24px;
}

.mynt-layout-new .mk-level-1.mk-f-left ul li {
	height: 36px;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.mk-site-nav .mk-level-1 ul li a {
	font: 17px/24px din-med;
	color: #333;
}

.mk-site-nav .mk-level-1 ul li a em {
	display: inline;
	font-size: 17px;
	color: #D14747;
}

.mynt-layout-new .mk-site-nav .mk-level-1 ul li a {
    padding: 0px 10px;
    border: 2px solid transparent;
    background-color: transparent;
    height: 32px;
}


.mk-site-nav .mk-level-2 {
	background: #f2f2f2;
	margin: 0;
	z-index: 4;
	position: absolute;
	top: 0px;
	left: 188px;
}

.mynt-layout-new .mk-site-nav .mk-level-2 {
	/*background: url('http://myntra.myntassets.com/skin2/images/Topnav_bground.png') repeat-x;*//*Changed*/
	position: relative;
	left: 0px;   
    width: 980px;
    height: 260px;
    border-bottom: 4px solid #D6D6D6;
}

.mk-site-nav .mk-level-2 ul {
	height: 180px;
	width: 792px;
	padding: 0;
	overflow: hidden;
}

.mynt-layout-new .mk-site-nav .mk-level-2 ul {
	height: 260px;
	width: 980px;
	padding: 0;
	overflow: hidden;
}

.mynt-layout-new .mk-site-nav .mk-level-2 ul.images {
	width: 792px;
	margin: 20px auto;
}

.mynt-layout-new .mk-site-nav .mk-level-2 ul.images .filler {
	display: none;
}

.mk-site-nav .mk-level-2 ul li{
	float: left;
	width: 178px;
	margin-left: 10px;
	padding: 10px 0;
	height: 160px;
	white-space: nowrap;
}

.mynt-layout-new .mk-site-nav .mk-level-2 ul li{
	height: 240px;
}

.mk-site-nav .mk-level-2 ul li.mk-level2-category-static,
.mk-site-nav .mk-level-2 ul li.mk-level2-category-slideshow {
	float: right;
	margin: 0 10px 0 -10px;
	position: relative;
}

.mk-site-nav .mk-level-2 ul li.mk-level2-category-slideshow a,
.mk-site-nav .mk-level-2 ul li.mk-level2-category-static a {
	position: absolute;
}

.mk-site-nav .mk-level-2 ul li.mk-level2-category-slideshow {
	width: 386px;
}

/*.mk-site-nav .mk-level-2 ul li.mk-level2-category-static {
	width: 386px;
	height: 240px;
	margin-left: -10px;
}

.mk-site-nav .mk-level-2 ul li.mk-level2-category-static ul {
	width: 386px;
	height: 240px;	
}

.mk-site-nav .mk-level-2 ul li.mk-level2-category-static ul li {
	padding: 0px;
	float: none;
	margin-right: 10px;	
}*/

.mk-site-nav .mk-level-2 ul li a:hover,
.mk-site-nav .mk-level-2 ul li a.mk-active {
	color:#000;
	text-decoration:underline;
} 
.mk-site-nav .mk-level-2 ul li a {
	font: 12px/21px Arial, din-med; /*Changed*/ 
	/*font: 12px/21px din-med;*/
	text-transform: none; /*Added*/
	*height: 21px;
	color:#808080;
	clear:both;
}

.mynt-layout-new .mk-site-nav .mk-level-2 ul li a,
.mynt-layout-new .mk-site-nav .mk-level-2 ul li a.mk-active {
	color:#333;
	line-height: 22px;
	background-color: transparent;	
}

.mynt-layout-new .mk-site-nav .mk-level-2 ul li .filler {
	height: 22px;
}

.mk-site-nav .mk-level-2 ul li a.mk-level2-category {
	font-size: 15px;
	font-family: din-med; /*Added*/
	text-transform: uppercase; /*Added*/
	line-height: 21px;
	*height: 18px;
	color: #f7931e;
	display: inline-block;
	clear: both;
	padding-right: 3px;
}

.mynt-layout-new .mk-site-nav .mk-level-2 ul li a.mk-level2-category {
	color: #333;
	line-height: 22px;
	width: 185px;
}

.mk-site-nav .mk-level-1 ul li a.mk-level1.mk-active.mk-nav-bg-arrow,
.mk-site-nav .mk-level-1 ul li a.mk-level1.mk-hover.mk-nav-bg-arrow {
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -622px -776px;
}

.mynt-layout-new .mk-site-nav .mk-level-1 ul li a.mk-level1.mk-active.mk-nav-bg-arrow,
.mynt-layout-new .mk-site-nav .mk-level-1 ul li a.mk-level1.mk-hover.mk-nav-bg-arrow{
	background: #D6D6D6;
}

/*
.mk-site-nav .mk-level-3 {
	background: #f2f2f2;
	width: 400px;
	margin: 15px 0;
	z-index: 3;
	position: absolute;
	top: -15px;
	left: 202px;
	height: 150px;
	overflow: hidden;
}

.mk-site-nav .mk-level-3 ul {
	height: 140px;
	width: 155px;
	padding: 5px 20px 0px;
	border-left: 1px solid #fff;
	border-right: none;
}
*/
.mk-site-nav .mk-level-3 .mk-list-overflow {
	display: inline-block;
	border: none;
	margin: 0;
}

.mk-search-promo-banner {
	width: 792px;
	max-height: 180px;
	z-index: 3;
}

.mynt-layout-new .mk-search-promo-banner {
	width: 782px;
	overflow: hidden;
}

.mynt-layout-new .mk-search-promo-banner img {
	margin-left: -5px;
}

.mk-site-nav div.mk-show-strict {
	display: block;
	z-index: 3;
}

.mk-site-nav .icon-new-large {
	display: inline-block;
	position: relative;
	top: -25px;
	left: 137px;
}

.mynt-layout-new .mk-site-nav .icon-new-large {
	display: inline-block;
    vertical-align: top;
	position: relative;
	top: 0px;
	left: 0px;	
}
