.btn {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px 25px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #666;
}
.btn[disabled] {
  cursor: auto;
}
.normal-btn {
  border: 1px solid #ccc;
  color: #000;
  background-color: #b3b3b3;
  background-image: -webkit-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -moz-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -ms-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -o-linear-gradient(top,#e6e6e6,#b3b3b3);
}
.normal-btn:focus, .normal-btn:hover {
  background-color: #e6e6e6;
  background-image: -webkit-linear-gradient(top,#b3b3b3,#e6e6e6);
  background-image: -moz-linear-gradient(top,#b3b3b3,#e6e6e6);
  background-image: -ms-linear-gradient(top,#b3b3b3,#e6e6e6);
  background-image: -o-linear-gradient(top,#b3b3b3,#e6e6e6);
}
.normal-btn[disabled] {
  color: #666;
}
.normal-btn[disabled]:hover {
  background-color: #b3b3b3;
  background-image: -webkit-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -moz-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -ms-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -o-linear-gradient(top,#e6e6e6,#b3b3b3);
}
.primary-btn {
  border: 1px solid #fa4;
  color: #fff;
  background-color: #fa4;
  background-image: -webkit-linear-gradient(top,#ffaa44,#ff9009);
  background-image: -moz-linear-gradient(top,#ffaa44,#ff9009);
  background-image: -ms-linear-gradient(top,#ffaa44,#ff9009);
  background-image: -o-linear-gradient(top,#ffaa44,#ff9009);
}
.primary-btn:focus, .primary-btn:hover {
  background-color: #ff9009;
  background-image: -webkit-linear-gradient(top,#ff9009,#ffaa44);
  background-image: -moz-linear-gradient(top,#ff9009,#ffaa44);
  background-image: -ms-linear-gradient(top,#ff9009,#ffaa44);
  background-image: -o-linear-gradient(top,#ff9009,#ffaa44);
}
.primary-btn[disabled] {
  color: #89171a;
}
.primary-btn[disabled]:hover {
  background-color: #d20000;
  background-image: -webkit-linear-gradient(top,#ed2424,#d20000);
  background-image: -moz-linear-gradient(top,#ed2424,#d20000);
  background-image: -ms-linear-gradient(top,#ed2424,#d20000);
  background-image: -o-linear-gradient(top,#ed2424,#d20000);
}
.confirm-btn {
  border: 1px solid #9ab56b;
  color: #fff;
  background-color: #5c9a2d;
  background-image: -webkit-linear-gradient(top,#b0c362,#5c9a2d);
  background-image: -moz-linear-gradient(top,#b0c362,#5c9a2d);
  background-image: -ms-linear-gradient(top,#b0c362,#5c9a2d);
  background-image: -o-linear-gradient(top,#b0c362,#5c9a2d);
}
.confirm-btn:focus, .confirm-btn:hover {
  background-color: #b0c362;
  background-image: -webkit-linear-gradient(top,#5c9a2d,#b0c362);
  background-image: -moz-linear-gradient(top,#5c9a2d,#b0c362);
  background-image: -ms-linear-gradient(top,#5c9a2d,#b0c362);
  background-image: -o-linear-gradient(top,#5c9a2d,#b0c362);
}
.confirm-btn[disabled] {
  color: #54823b;
}
.confirm-btn[disabled]:hover {
  background-color: #5c9a2d;
  background-image: -webkit-linear-gradient(top,#b0c362,#5c9a2d);
  background-image: -moz-linear-gradient(top,#b0c362,#5c9a2d);
  background-image: -ms-linear-gradient(top,#b0c362,#5c9a2d);
  background-image: -o-linear-gradient(top,#b0c362,#5c9a2d);
}
.link-btn {
  color: #0084ba;
  background: transparent;
  border: 0 none;
  cursor: pointer;
  padding: 5px 0;
  font-weight: normal;
  font-size: inherit;
  font-family: inherit;
  *overflow: visible;
}
.link-btn:hover {
  text-decoration: underline;
}
.action-btn {
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #e6e6e6;
  background-image: -webkit-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -moz-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -ms-linear-gradient(top,#e6e6e6,#b3b3b3);
  background-image: -o-linear-gradient(top,#e6e6e6,#b3b3b3);
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  padding: 5px 25px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #808080;
  *overflow: visible;
}
.action-btn.selected, .action-btn.pdp-action-btn.selected:hover {
  background-color: #aac05e;
  background-image: -webkit-linear-gradient(top,#aac05e,#619d30);
  background-image: -moz-linear-gradient(top,#aac05e,#619d30);
  background-image: -ms-linear-gradient(top,#aac05e,#619d30);
  background-image: -o-linear-gradient(top,#aac05e,#619d30);
  color: #fff;
}
.action-btn.pdp-action-btn:focus {
  background-color: #aac05e;
  background-image: -webkit-linear-gradient(top,#aac05e,#619d30);
  background-image: -moz-linear-gradient(top,#aac05e,#619d30);
  background-image: -ms-linear-gradient(top,#aac05e,#619d30);
  background-image: -o-linear-gradient(top,#aac05e,#619d30);
}
.action-btn:focus, .action-btn:hover {
  background-color: #e6e6e6;
  background-image: -webkit-linear-gradient(top,#b3b3b3,#e6e6e6);
  background-image: -moz-linear-gradient(top,#b3b3b3,#e6e6e6);
  background-image: -ms-linear-gradient(top,#b3b3b3,#e6e6e6);
  background-image: -o-linear-gradient(top,#b3b3b3,#e6e6e6);
}
.action-btn-red {
  *overflow: visible;
  background-color: #f00202;
  border-color: #ad0512;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 2px 2px 2px #808080;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  outline-color: #f00;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  text-transform: uppercase;
}
#lightbox-shim {
  background: #fff;
  display: none;
  height: 100%;
  left: 0;
  opacity: .9;
  filter: alpha(opacity=90);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1004;
}
.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
  z-index: 1005;
  text-align: left;
}
.lightbox .mod {
  border: 1px solid #999;
  border-radius: 5px;
  background: #fff;
  width: 700px;
  min-height: 125px;
  padding: 25px;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 0 8px #666;
}
.lightbox .loading {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff url("http://cdn.myntra.com/skin1/images/loader_100x12.gif") no-repeat 50% 50%;
  opacity: .9;
  filter: alpha(opacity=90);
}
.lightbox .close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-image: url("http://cdn.myntra.com/skin1/images/sprite-icons-9.0.png");
  background-repeat: no-repeat;
  background-position: 0 -72px;
}
.lightbox h2 {
  font-size: 26px;
  font-family: georgia,"Times New Roman",serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
  margin: 0 0 15px;
}
.lightbox h3 {
  font-size: 14px;
  font-family: georgia,"Times New Roman",serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 15px;
}
.lightbox strong {
  font-weight: bold;
}
.lightbox .price {
  color: #d00000;
  font-size: 12px;
  white-space: nowrap;
}
.lightbox .err {
  color: red;
}
#reg-login .lightbox {
  position: static;
  display: block;
  height: auto;
  width: auto;
}
#reg-login .lightbox .mod {
  border: 0 none;
  border-radius: 0;
  margin: 0;
  padding: 0 0 25px;
  box-shadow: none;
}
#lb-msg-box .bd p {
  margin: 15px 0;
}
#lb-msg-box .ft {
  zoom: 1;
}
#lb-msg-box .ft:after {
  content: '.';
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
}
#lb-msg-box .ft .btn-ok {
  float: right;
}
.myntra-tooltip {
  padding: 10px;
  border: 1px solid #999;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: -500px;
  left: 0;
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 3px #666;
  z-index: 1006;
  word-wrap: break-word;
}
.myntra-tooltip .arrow {
  border-width: 10px;
  border-style: solid;
  width: 0;
  height: 0;
  position: absolute;
}
.myntra-tooltip .arrow-top-outer {
  border-color: transparent transparent #999;
  top: -21px;
  left: 75px;
}
.myntra-tooltip .arrow-top-inner {
  border-color: transparent transparent #fff;
  top: -19px;
  left: 75px;
}
.myntra-tooltip .arrow-bottom-outer {
  border-color: #999 transparent transparent;
  bottom: -21px;
  left: 75px;
}
.myntra-tooltip .arrow-bottom-inner {
  border-color: #fff transparent transparent;
  bottom: -19px;
  left: 75px;
}
.myntra-tooltip .arrow-left-outer {
  border-color: transparent #999 transparent transparent;
  top: 25px;
  left: -21px;
}
.myntra-tooltip .arrow-left-inner {
  border-color: transparent #fff transparent transparent;
  top: 25px;
  left: -19px;
}
.myntra-tooltip .arrow-right-outer {
  border-color: transparent transparent transparent #999;
  top: 25px;
  right: -21px;
}
.myntra-tooltip .arrow-right-inner {
  border-color: transparent transparent transparent #fff;
  top: 25px;
  right: -19px;
}
.lb-login .v2 .hd img {
  display: none;
}
.lb-login .v2 .ico-info-small {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 16px;
  cursor: pointer;
  background-image: url("http://cdn.myntra.com/skin1/images/sprite-icons-5.0.png");
  background-repeat: no-repeat;
  background-position: 0 -104px;
}
.lb-login .v2 .ico-fb-small {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 16px;
  cursor: pointer;
  background-image: url("http://cdn.myntra.com/skin1/images/sprite-icons-5.0.png");
  background-repeat: no-repeat;
  background-position: 0 -331px;
  *margin-right: 5px;
}
.lb-login .v2 input[type="text"], .lb-login .v2 input[type="password"] {
  border: 1px solid #ccc;
  padding: 3px;
  margin: 0;
}
.lb-login .v2 {
  width: 710px;
  zoom: 1;
}
.lb-login .v2 form {
  overflow: hidden;
  zoom: 1;
  padding: 0 20px 0 0;
  margin: 0 20px 0 0;
  border-right: 1px solid #ddd;
  width: 420px;
  float: left;
}
.lb-login .v2 .row {
  overflow: hidden;
  zoom: 1;
  margin-bottom: 20px;
}
.lb-login .v2 .row label {
  width: 125px;
  text-align: right;
  margin-right: 10px;
  float: left;
}
.lb-login .v2 .row input[type="text"], .lb-login .v2 .row input[type="password"] {
  float: right;
  color: #000;
  width: 274px;
}
.lb-login .v2 .row input.hint {
  color: #808080;
}
.lb-login .v2 form .row .err {
  margin-left: 138px;
}
.lb-login .v2 .facebook {
  padding: 0 0 0 10px;
}
.lb-login .v2 .old-user, .lb-login .v2 .new-user {
  width: 180px;
  height: 180px;
  padding: 10px;
  background: #f2f2f2;
}
.lb-login .v2 .old-user .action-btn, .lb-login .v2 .new-user .action-btn {
  margin: 10px 0 20px;
  width: 100%;
}
.lb-login .v2 .old-user div, .lb-login .v2 .new-user div {
  height: 40px;
}
.lb-login .v2 .old-user p, .lb-login .v2 .new-user p, .lb-login .v2 .facebook p {
  font-size: 12px;
  color: #808080;
  font-family: arial,serif;
}
.lb-login .v2 .old-user {
  float: left;
}
.lb-login .v2 .new-user {
  float: right;
  margin-bottom: 5px;
}
.lb-login .v2 .new-user div input {
  float: right;
  margin: 0;
}
.lb-login .v2 .new-user div label {
  *float: left;
}
.lb-login .v2 .new-user div .err-mobile {
  white-space: nowrap;
  clear: both;
}
.lb-login .v2 .facebook .buttons {
  margin: 15px 0;
}
.lb-login .v2 .facebook .buttons button {
  padding: 5px 10px;
}
.lb-login .v2 .msg-agree {
  font-size: 11px;
  color: #808080;
  margin: 0 0 0 220px;
  line-height: 1.3;
}
.lb-login .v2 .msg-agree a {
  color: #0084ba;
}
.lb-login .v2 .forgot-pass-msg {
  display: none;
}
.lb-login .v2 .forgot-pass-msg p.email {
  margin: 15px 0;
  font-weight: bold;
}
.lb-login .v2 .forgot-pass-msg .btn-forgot-pass-ok {
  float: right;
}
.lb-login .v3 {
  width: 710px;
  zoom: 1;
}
.lb-login .v3 h2 {
  text-transform: none;
  text-align: center;
  font-style: italic;
  letter-spacing: 0;
}
.lb-login .v3 h3 {
  text-transform: none;
  color: #000;
  font-size: 20px;
  margin: 0 0 20px;
}
.lb-login .v3 .ico-fb-small {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 16px;
  cursor: pointer;
  background-image: url("http://cdn.myntra.com/skin1/images/sprite-icons-5.0.png");
  background-repeat: no-repeat;
  background-position: 0 -331px;
  *margin-right: 5px;
}
.lb-login .v3 form {
  background: #f2f2f2;
  padding: 10px;
  margin: 0 0 15px;
  width: 320px;
}
.lb-login .v3 form .buttons {
  text-align: center;
}
.lb-login .v3 .frm-login {
  float: left;
}
.lb-login .v3 .frm-signup {
  float: right;
}
.lb-login .v3 .frm-signup p {
  margin: 10px 0 0;
  text-align: left;
  font-family: georgia,"Times New Roman",serif;
  font-size: 13px;
}
.lb-login .v3 label {
  display: block;
}
.lb-login .v3 .err {
  height: 20px;
  display: block;
  overflow: hidden;
}
.lb-login .v3 input[type="text"], .lb-login .v3 input[type="password"] {
  display: block;
  width: 310px;
  padding: 4px;
  border: 1px solid #ddd;
  margin: 0;
}
.lb-login .v3 .mobile-prefix {
  font-size: 15px;
  float: left;
  width: 30px;
}
.lb-login .v3 input[name="mobile"] {
  width: 280px;
}
.lb-login .v3 form .action-btn {
  width: 316px;
  margin: 0;
}
.lb-login .v3 .btn-forgot-pass {
  font-family: georgia,"Times New Roman",serif;
  font-size: 13px;
}
.lb-login .v3 .facebook {
  padding: 20px 0 0;
  text-align: center;
  clear: both;
  border-top: 1px solid #ddd;
  position: relative;
}
.lb-login .v3 .facebook .or {
  font-family: georgia,"Times New Roman",serif;
  font-size: 17px;
  background: #fff;
  color: #999;
  position: absolute;
  top: -17px;
  left: 340px;
  width: 30px;
}
.lb-login .v3 .forgot-pass-msg {
  display: none;
}
.lb-login .v3 .forgot-pass-msg p.email {
  margin: 15px 0;
  font-weight: bold;
}
.lb-login .v3 .forgot-pass-msg .btn-forgot-pass-ok {
  float: right;
}
.splash-min .mod {
  width: 500px;
}
.splash-min .ico-fb-small {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 16px;
  cursor: pointer;
  background-image: url("http://cdn.myntra.com/skin1/images/sprite-icons-9.0.png");
  background-repeat: no-repeat;
  background-position: 0 -331px;
  *margin-right: 5px;
}
.splash-min p {
  margin: 20px 0 0;
}
.style-details {
  position: absolute;
  z-index: 3500;
  padding-top: 3px;
  padding-left: 5px;
  width: 180px;
  background: #fff;
  opacity: .5;
  filter: alpha(opacity=50);
}
.style-details ul {
  margin: auto;
  list-style: none;
}
.style-details ul li:nth-child(2n) {
  float: right;
}
.style-details ul li:nth-child(odd) {
  float: left;
  clear: both;
}


/*Mini PIP*/

#quick-look-mod .out-of-stock-msg {
  margin-top: 40px;
}
#quick-look-mod .product-image-preview div.imageframe {
  width: 300px;
  height: 400px;
  position: relative;
}
#quick-look-mod .product-detail-block {
  width: 330px;
}
#quick-look-mod .product-block {
  width: 302px;
}
#quick-look-mod .v-tabs {
  width: 48px;
  float: left;
  height: 400px;
}
#quick-look-mod .v-tabs a.selected {
  border: 1px solid #0084b4;
  display: block;
  height: 52px;
  margin: 0 5px 6px;
  width: 39px;
}
#quick-look-mod .product-img-thumbnails-block {
  width: 350px;
}
#quick-look-mod .pdp-content-div {
  width: 700px;
}
#quick-look-mod .v-tabs a {
  border: 0 solid #fff;
  display: block;
  height: 52px;
  margin: 0 5px 6px;
  width: 39px;
}
.preview-overlay-control {
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.quick-look-prev, .prev, .preview-prev {
  left: 0;
  top: 47%;
  background: url("http://cdn.myntra.com/skin1/myntra_images/pdp-arrows.png") no-repeat scroll -1px -1px transparent;
  height: 35px;
  width: 37px;
}
.quick-look-next, .next, .preview-next {
  right: 0;
  top: 47%;
  background: url("http://cdn.myntra.com/skin1/myntra_images/pdp-arrows.png") no-repeat scroll -39px -1px transparent;
  height: 35px;
  width: 37px;
}
.quick-look-prev:hover, .prev:hover, .preview-prev:hover {
  background: url("http://cdn.myntra.com/skin1/myntra_images/pdp-arrows.png") no-repeat scroll -1px -36px transparent;
}
.quick-look-next:hover, .next:hover, .preview-next:hover {
  background: url("http://cdn.myntra.com/skin1/myntra_images/pdp-arrows.png") no-repeat scroll -39px -36px transparent;
}
.preview-loading {
  background: #fff url(http://cdn.myntra.com/skin1/myntra_images/loading_240_320.gif) 60px 80px no-repeat;
  position: absolute;
  top: 0;
  width: 360px;
  height: 480px;
  opacity: .5;
  filter: alpha(opacity=50);
  z-index: 100;
}
.product-title {
  color: #666;
  font-family: georgia,timesNewRoman,serif;
  font-size: 26px;
  font-weight: normal;
  margin: 0 5px 2px 0;
  min-height: 62px;
}

.zoom-size-options-error-msg, .size-options-error-msg {
  color: #f00;
  padding: 0 0 5px 5px;
  font-weight: bold;
}
.zoom-size-options-error, .zoom-buy-now-block .size-options-error {
  border: 2px solid #f00;
}
.flat-size-options {
  height: auto;
  overflow: hidden;
  border: 0 solid red;
  width: 342px;
  margin-right: 10px;
}
.flat-size-options a {
  margin: 0 6px 6px 0;
}
.zoom-flat-size-options a {
  margin: 0 6px 6px 0;
  display: block;
  float: left;
  height: 25px;
  line-height: 25px;
  text-align: center;
  padding: 0 7px;
  color: #000;
}
.flat-size-options a {
  display: block;
  float: left;
  height: 25px;
  line-height: 25px;
  text-align: center;
  padding: 0 7px;
  color: #000;
}
.flat-size-options {
  line-height: 30px;
}
.zoom-flat-size-options {
  height: 30px;
  line-height: 30px;
}
.size-options-error .size-options {
  padding: 3px 0 3px 6px;
  border: solid 2px #f00;
  margin: -2px 6px 2px 0;
}
.size-options {
  display: block;
  overflow: hidden;
  border: 0 solid black;
}
.oprice {
  color: #666;
  font-family: arial,sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.oprice span {
  font-weight: normal;
}
.dprice {
  color: #d20000;
  font-family: arial,sans-serif;
  font-weight: bold;
  padding-right: 3px;
  font-size: 16px;
}
.dprice span {
  font-weight: normal;
}
.add-pricing-info {
  font-weight: normal;
  color: #666;
}
.discount-label {
  display: none;
}
.more-details {
  cursor: pointer;
  width: 119px;
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.view-more-details {
  text-align: center;
}
.view-more-details span {
  display: inline-block;
  margin: 4px 0 0 4px;
}
#quick-look-mod .buy-now-block {
  margin-top: 20px;
}
.zoom-buy-now-block a.cart-btn, .product-detail-block .b1 a.cart-btn, .myntrabtn {
  display: block;
  font-size: 15px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fa4;
  background-image: -webkit-linear-gradient(top,#ffaa44,#ff9009);
  background-image: -moz-linear-gradient(top,#ffaa44,#ff9009);
  background-image: -ms-linear-gradient(top,#ffaa44,#ff9009);
  background-image: -o-linear-gradient(top,#ffaa44,#ff9009);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.zoom-buy-now-block a.cart-btn:hover, .product-detail-block .b1 a.cart-btn:hover {
  background-color: #ff9009;
  background-image: -webkit-linear-gradient(top,#ff9009,#ffaa44);
  background-image: -moz-linear-gradient(top,#ff9009,#ffaa44);
  background-image: -ms-linear-gradient(top,#ff9009,#ffaa44);
  background-image: -o-linear-gradient(top,#ff9009,#ffaa44);
}
#quick-look-mod .ft {
  text-align: center;
  margin-top: 20px;
}
.discount-label {
  display: none;
  position: absolute;
  text-align: center;
  top: 2px;
  z-index: 105;
}
.quick-look-thumb-views a {
  cursor: pointer;
}
