/*order overlay*/
.order-list {
    text-align: center;
    margin-bottom: 20px; 
}

.order-list ul.order-list-nav {
	border-bottom: 1px solid #d6d6d6;
}

.order-list table {
    margin: 10px auto 0;
}

.order-list table tr.order-list-table-head {
	background: #b7b7b7;
}

.order-list table tr.order-list-even {
	background: #f2f2f2;
}

.order-list table .order-id-overlay {
    display: block;
    margin: 13px 0 0;
    float: left;
}

.order-list table tr a,
.order-list table tr em {
	color: #000;
	text-decoration: underline;
	cursor: pointer;
	font-style: normal;
}

.order-list table td,
.order-list table th {
	text-align: center;
	padding: 10px;
	font-size: 14px;
}

.order-list table td {
	font-size: 12px;
}

.order-list table td.left {
	text-align: left;
}

.lightbox .ft {
    height: 20px;
    text-align:center;
}

.lightbox .ft .note {
    float: none;    
}

/*tool tip*/
.order-list-tip {
  background: #fff;
  border: 5px solid #e6e6e6;
  z-index: 1005;
  position: absolute;
  padding: 5px 10px;
  width: 310px;
  text-decoration: none;
  -webkit-box-shadow: 1px 1px 5px #666;
  /* @alternate */-moz-box-shadow: 1px 1px 5px #666;
  /* @alternate */box-shadow: 1px 1px 5px #666;
}

.order-list-tip h4 {
  padding: 10px 0 5px;
  text-decoration: none;
  font-size: 14px;
  color: #808080;
}

.order-list-tip ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-list-tip li {
  font-size: 12px;
  border-top: 1px solid #e6e6e6;
  padding: 10px 0;
  margin: 0;
}

.order-list-tip li.last{
  border-bottom: 1px solid #e6e6e6;
}

.order-list-tip-arrow {
  position: absolute;
  bottom: -18px;
  left: 12px;
  *bottom: -15px;
}
/*tool tip*/
/*order overlay*/