.payment-page .main-content h2 {
	margin: 10px 0;
}

.int-shipping {
  padding: 10px;
}
.int-shipping span {
  display: block;
}
.cartgifts {
  clear: both;
  padding-top: 5px;
}
.cartsms input {
  color: #c00;
  width: 134px;
}
.cartgifts strong {
  color: #8e0800;
}
.cartgifts i {
  color: #333;
  font-size: 11px;
}
.cartgifts-select {
  font-size: 12px;
  line-height: 18px;
  display: none;
}
.cartgifts-select textarea {
  margin: 5px 0;
  width: 95%;
  height: 80px;
}
.order-left-block h1 {
  display: block;
  float: left;
  font-size: 18px;
  padding: 0;
  margin-right: 10px;
}
.order-left-block .header-link a {
  color: #0084ba;
  font-size: 11px;
}
.order-left-block {
  width: 270px;
  border: 0 solid red;
  float: left;
  padding-bottom: 5px;
}
.addblock {
  border-top: 1px dotted #666;
  margin-top: 2px;
}
.addblock p {
  margin: 0;
  padding: 3px 0 0;
  width: 270px;
}
.addblock p strong {
  display: block;
}
.addblock p span {
  color: #000;
  display: block;
  padding: 2px 0;
}
#RedeemCoupon {
  padding: 10px;
  border: 1px solid #ddd;
}
#RedeemCoupon h3 {
  margin: 0;
  font-size: 12px;
  padding: 0 0 5px;
  color: #666;
}
#RedeemCoupon #coupon {
  height: 20px;
}
.pay-lable {
  background: #f4f5fa;
  border-bottom: 1px solid #e3e3e3;
  padding: 5px;
  margin-top: 10px;
}
.weak {
  font-size: 11px;
  color: #808080;
}

.my-cc-table {
    border-collapse:separate;
    border-spacing:10px;
    margin-bottom:10px;
}
.my-cc-table td label {
  margin-top: 1px;
  text-align: right;
  display: block;
}
.my-cc-table td {
  vertical-align: top;
}
/*
.my-cc-table td input {
  height: 19px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
}
.my-cc-table td select {
}
.my-cc-table td select option {
}
*/

.add-copy-block {
  border-top: 1px solid #d6d6d6;
  border-collapse:separate;
  border-spacing:10px;
}
.add-copy-block td {
  vertical-align: top;
}
.add-copy-block td textarea {
  width: 291px;
  height: 100px;
  padding: 4px 8px;
}
.add-copy-block td input {
  min-width: 175px;
}
.add-copy-block td label {
  display: block;
  text-align: right;
}
.add-copy-block td input.boxw {
  width: 291px;
}
.add-copy-block h3 {
  margin: 0 0 5px;
  font-size: 17px;
  font-weight: none;
}
.add-copy-block p {
  padding-bottom: 10px;
}
.access-block {
  border: 0 solid;
  margin: 0 auto;
  width: 580px;
  _margin-left: 200px;
  margin-bottom: 20px;
}
.access-error {
  color: #be0709;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  margin-bottom: 20px;
  margin-top: 5px;
}
li.fade {
  opacity: .25;
  filter: alpha(opacity=25);
}
.content-right-block {
  width: 260px;
  margin-top: 10px;
}
.order-items {
  border: 2px solid #d6d6d6;
  height: 150px;
  display: none;
}
.order-totals ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.order-totals ul li {
  padding: 3px;
  border-bottom: 1px dotted #ccc;
  overflow: hidden;
}
.order-totals ul li span.my-order-title {
  float: left;
}
.order-totals ul li span.my-order-title a {
  color: #333;
  text-decoration: none;
}
.order-totals ul li span.my-order-rs {
  float: right;
  color: #d20000;
}
.order-totals ul li span.my-dis-rs {
  float: right;
  color: #0084ba;
}
.order-totals ul li.grand-total {
  border-bottom: none;
  padding: 10px 5px 0;
}
.order-totals {
  width: 250px;
  border: 1px solid #ccc;
  padding: 10px;
}
.grand-total .my-order-title b {
  font-size: 16px;
}
.grand-total .my-order-rs b {
  color: #d20000;
  font-size: 16px;
}
.grand-total .my-order-rs {
  margin-left: 20px;
}
#mobile-captcha-form {
  margin-right: 5px;
  width: 184px;
  *vertical-align: middle;
}
#mobile-error {
  color: #d20000;
  width: 280px;
  margin-top: 5px;
}
#change-image {
	top: 30px;
	right: 100px;
}
#captcha-form {
  width: 200px
}
#cod-verify-captcha {
  margin-top: 25px;
  width: 160px;
}
.btn-captcha {
  height: 28px;
  line-height: 22px;
  margin: 0;
  padding: 0 0 0 5px;
}

.captcha-block {
  margin: 0 0 10px;
}
.captcha-loading {
  background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin1/myntra_images/captcha-loading.gif") no-repeat;
  width: 16px;
  height: 16px;
  position:absolute;
  top:50%;
  right:20%;
}
.captcha-entry {
  clear: both;
  position:relative;
}
.captcha-entry span {
  display: block;
}
.cod-page-notifications {
  text-align: center;
}
.captcha-message {
  padding: 2px;
}
.verify-captcha.btn-disabled {
  background: #a8a8a8;
  cursor: not-allowed;
}
.verify-loading {
  background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/loader_transparent.gif") no-repeat scroll 0 3px transparent;
  float: right;
  height: 30px;
  margin-right: 50px;
  width: 35px;
}
.gr {
  font-size: 11px;
  padding: 4px;
  border: 1px solid #c60;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fa4;
  background-image: -webkit-linear-gradient(top,#ffaa44,#ff7109);
  /* @alternate */ background-image: -moz-linear-gradient(top,#ffaa44,#ff7109);
  /* @alternate */ background-image: -ms-linear-gradient(top,#ffaa44,#ff7109);
  /* @alternate */ background-image: -o-linear-gradient(top,#ffaa44,#ff7109);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
.coupons-widget {
  width: 270px;
  padding: 10px;
  background: #f2f2f2;
  height: 150px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
}

.coupons-widget .error ,.coupon-info-link, .coupon-app-amnt{
	font-size: 12px;
}

.special-coupons {
  margin: 0 auto;
}
.your-coupons {
  margin: 0 auto;
}
.payment-page .coupon-block .your-coupons h2 {
  display: inline-block;
  font-size: 12px;
  margin: 0 auto;
  position: relative;
  width: 182px;
  line-height: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.coupon-block .or {
	font-size: 14px;
	margin: 5px;
}
.select-coupons {
  border: 1px solid #d6d6d6;
  width: 284px;
  height: 164px;
  top: 2px;
  left: 2px;
  background: #fff;
  margin: 0 auto;
  position: absolute;
  -webkit-box-shadow: 0 0 3px #999;
  /* @alternate */-moz-box-shadow: 0 0 3px #999;
  /* @alternate */box-shadow: 0 0 3px #999;
  z-index: 2;
}

.select-coupons h6 {
	font-size: 14px;
	padding: 4px;
	border-bottom: 1px solid #d6d6d6;
}

.select-coupons .close {
	position: absolute;
	cursor: pointer;
	right: 6px;
	top: 7px;
	height: 10px;
	width: 10px;
	background: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png') no-repeat 0 -273px transparent;
}

.select-coupons ul {
  	list-style: none outside none;
  	overflow-y: auto;
	height: 140px;
}

.select-coupons li {
  border-bottom: 1px dashed #d6d6d6;
  background: #fff;
  list-style: none outside none;
  padding: 0;
  cursor: pointer;
  position: relative;
  line-height: 18px;
}

.select-coupons li.disabled,
.select-coupons li.disabled a {
	cursor: default;
}

.select-coupons li .coupontext {
  font-size: 12px;
}

.select-coupons li .coupontext .rupees {
	font-size: 14px;
}

.select-coupons li .coupon-val {
  font-size: 12px;
}
.select-coupons li .inline-block {
  display: inline-block;
  width: 205px;
  padding: 5px 10px;
  text-align: left;
  border-left: 1px dashed #d6d6d6;
}
.select-coupons li .select_this_coupon {
  display: inline-block;
  width: 16px;
  padding: 15px 10px;
  vertical-align: top;
}
.select-coupons li .select_this_coupon a {
  display: block;
  background: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png') no-repeat -63px -185px transparent;
  text-decoration: none;
  height: 16px;
  width: 16px;
}

.select-coupons li .select_this_coupon a.mk-hover {
  background-position: -63px -205px;
}

.select-coupons li.disabled .select_this_coupon a {
  background-position: -63px -225px;
}	

.select-coupons li.disabled .select_this_coupon a.mk-hover {
  background-position: -63px -225px;
}	

.code-enter {
  margin: 0 auto;
  overflow: hidden;
}
.code-enter input {
  overflow: hidden;
  margin: 3px 0;
  width: 222px;
  font-family: din-med;
  text-align: center;
  font-size: 14px;
}

.code-enter .placeholder {
	position: absolute;
	z-index: 1;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	color: #b5b5b5;
	line-height: 32px;
	width: 100%;
	top: 45px;
	left: 0;
	cursor: text;
}

.message {
  padding: 5px 0;
  margin: 0;
}
.vmessage {
  margin: 5px 10px;
  font-size: 12px;
}
.redeem-btn {
  border: 1px solid #fd9b06;
  font-size: 10px;
  padding: 6px 10px;
  cursor: pointer;
}
#smsVerification {
  overflow: hidden;
}
.v-code, .four-dig-code {
  margin: 20px auto 10px;
}

.v-code .row {
	width: 300px;
	text-align: center;
	margin: 0 auto;
	font-size: 14px;
}

.v-code .row span {
	*vertical-align: middle;
}

#smsVerification label {
  display: inline-block;
  margin: 5px 0;
}
.v-code span.email {
  text-transform: none;
}

#smsVerification .v-code #mobile {
  margin: 5px 10px;
  width: 75px;
  padding: 3px 4px;
}
#smsVerification #verify-mobile,
#smsVerification #mobile-verify-captcha,
#smsVerification #submit-code {
	display: block;
	margin: 10px auto;
	width: 180px;
	text-align: center;
}

#smsVerification #mobile-verify-captcha {
	width: 80px;
}

/*#smsVerification .close {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 9px;
  height: 9px;
  cursor: pointer;
  background: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png') no-repeat 0 -274px transparent;
}
*/

.v-code-note,
.four-dig-code-note,
#mobile-message {
  color: #333;
  font: 12px/15px Arial;
  text-align: center;
  width: 90%;
  margin: 0 auto 5px;
  text-transform: none;
}

.v-code-note p {
	padding-top: 10px;
}
	
.four-dig-code-note {
  margin-top: 10px;
}
.four-dig-code-note .error {
  text-align: center;
}
.v-code-note .error {
  padding-bottom: 10px;
}
.four-dig-code-note #mobile-verification-error {
  margin-top: 10px;
}
form#change-profile {
  overflow: hidden;
  display: block;
  text-align: justify;
}
form#verify-mobile-code {
  overflow: hidden;
}

#smsVerification #change-image {
	right: 50px;
}

#mobile-captcha-block fieldset {
}
#mobile-captcha-block legend {
  font-weight: normal;
  padding: 0 5px;
  font-size: 12px;
}
#mobile-code {
  letter-spacing: 1px;
  width: 40px;
}
.cart-summary {
  margin-top: 30px;
}
.cart-summary span.h1-title {
  display: block;
  border-bottom: 1px dotted #666;
}
.cart-summary span.uparrow {
  background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin1/images/rarrow.gif") no-repeat scroll 0 5px transparent;
  padding-left: 15px;
}
.cart-summary span.downarrow {
  background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin1/images/darrow.gif") no-repeat scroll 0 5px transparent;
  padding-left: 15px;
}
#order-summary {
  cursor: pointer;
}
.bgcolor {
  background-color: #f2f2f2;
}
.payto-cart-items {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  margin-top: 10px;
}
.payto-cart-items li {
  border-bottom: 1px dotted #000;
  padding-bottom: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}
.payto-cart-items li div {
  width: 200px;
  font-size: 11px;
}
.payto-cart-items li img {
  border: 1px solid #ccc;
  margin-top: 4px;
  padding: 1px;
}
.qs {
  display: block;
  font-size: 10px;
  margin: 3px 0;
}
.cart-rs {
  position: relative;
  display: block;
}
.cart-rs i {
  color: #d20000;
  font-style: normal;
}
.cart-rs b {
  position: absolute;
  right: 0;
  padding-right: 5px;
}
.lmore {
  background: none repeat scroll 0 0 #fff;
  margin-top: 20px !important;
}
.cb-input {
  height: 20px;
  line-height: 20px;
  margin: 0 5px 0 0 !important;
  padding: 0 0 0 2px;
  width: 50px;
  background: none repeat scroll 0 0 #ffc !important;
}
#cashback-amount {
  background: #ffc;
  border: 1px solid #ccc;
  padding: 2px 10px;
  margin-left: 5px;
  display: inline-block;
  min-width: 20px;
}
#slider {
  float: left;
  margin: 5px 15px 0;
  width: 125px !important;
}
#leftSlider {
  width: 365px !important;
  margin-top: 10px;
  margin-left: 150px;
}
.pb-phone {
  font-size: 12px;
  display: block;
}
.pay-by-phone-confirm {
  margin-top: 4px;
  cursor: pointer;
}
.tab_container {
  overflow: hidden;
}
.success, .error {
  background: none;
  border: none;
}
.ssl-icon-inlinepayment {
  height: 50px;
  width: 40px;
  display: block;
  float: left;
  background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") repeat scroll -36px -202px transparent;
}
.warning-icon {
  background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") repeat scroll -116px -406px transparent;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: bottom;
}
.error-icon {
  background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") repeat scroll -137px -406px transparent;
  width: 20px;
  height: 18px;
  display: inline-block;
}
.success-icon {
  background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") repeat scroll 0 -140px transparent;
  width: 20px;
  height: 18px;
  display: inline-block;
}
.close-icon {
  background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") repeat scroll 0 -72px transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}


.warning-large-icon {
    width: 25px;
    height: 27px;
    display: inline-block;
    background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") repeat scroll -28px -400px transparent;
    position: relative;
    top: -3px;
    left: -3px;
}

.mobile-verify {
  background: #f2f2f2;
  padding: 10px;
  margin: 10px 0;
}
.mobile-number input {
  height: 25px;
  margin-right: 5px;
  padding-left: 3px;
  width: 95px;
  font-family: arial;
}
.mynt-msg {
  line-height: 30px;
}
.action-btn {
  padding: 5px 15px;
  font-family: arial;
}
#splash-mobile-verify {
  font: 12px/18px Arial;
  text-transform: none;
  
}
.verify-sms {
  background: none repeat scroll 0 0 #f2f2f2;
  margin-bottom: 10px;
  padding: 10px;
}

.verify-sms strong {
	font: 14px/20px 'din-med';
	text-transform: uppercase;
}

.mnote {
  color: #808080;
  display: block;
  font-style: normal;
  margin-bottom: 10px;
}

#splash-mobile-verify .btn {
	width: 70px;
	margin-top: 10px;
}

.your-coupons h2 span {
  display: inline-block;
  width: 10px;
  height: 8px;
  position: absolute;
  top: 8px;
  right: 10px;
}

.warning-text-border {
  border-bottom: 1px solid #d6d6d6;
  padding: 5px 0 10px;
  margin-bottom: 10px;
  text-transform: none;
  font: 14px/18px Arial;
}

.mobile-verify .warning strong {
	font: 14px 'din-med';
	text-transform: uppercase;
}

.couponSelect {
  background-color: #f2f2f2;
}
#splash-payments-processing .mod {
  width: 340px;
}
#splash-payments-processing .processing-payments {
}
#splash-payments-processing #result-payFailOver-err.mod {
	width: 500px;
}

#splash-payments-processing #result-payFailOver-err.mod .access-block {
	width: 409px;	
}

#splash-payments-processing #result-payFailOver-err.mod .access-block .access-error-msg{
	width: 313px;	
	text-transform:none;
	text-align:left;
	padding-left:40px;
	
}

#splash-payments-processing #result-payUserClose.mod {
	width: 500px;
}

#splash-payments-processing #result-payUserClose.mod .bd {
	width: 365px;	
	text-transform:none;
	text-align:left;
	padding-left:32px;	
	font-size: 12px;
}

.coupon-block {
  font-size: 12px;
  margin: 2px;
}
.lightbox .close {
  background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
}


.payment-page .main-content {
  text-transform: none;
}
#citi_discount_div, #icici_discount_div {
  text-align: center;
  padding: 5px 0;
}
#net_banking .note {
    padding:15px 0 5px;
    font: 12px Arial;
    text-transform: none;
}
.pay-btn-wrap {
  padding: 10px;
  text-align: center;
}
.pay-btn-wrap .btn {
  min-width:150px;
  display:inline-block;
}
.pay-btn-wrap .inline-btns{
	float:left;
	margin:40px;
}
.pay-btn-wrap .codbtn{
	margin-right:22px;
}
.coupon-wrap {
  padding: 10px 0;
}
.pay-block,.pay-block-default {
  margin: 15px 0 0;
  position:relative;
}
.pay-block h2,.pay-block-default h2 {
  text-transform: uppercase;
}
.pay-block .tabs {
  overflow: hidden;
  zoom: 1;
  text-align: center;
}

.pay-block .tabs ul {
	height: 70px;
}

.pay-block .tabs li {
  display: inline-block;
  *display:inline;
  *zoom:1;
  position: relative;
  padding: 10px 6px;
  width: 86px;
  height: 30px;
  vertical-align: top;
  border-color: #d6d6d6;
  border-width: 0 1px 1px;
  border-style: solid;
  cursor: pointer;
  background-color: #e6e6e6;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 -2px;
}
.giftcard-payment .pay-block .opt-new{
	left: 198px;
} 
.pay-block .opt-new {
	
	background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
  	background-repeat: no-repeat;
  	background-position: -104px -111px;
  	display:block;
	height:11px;
	left: 149px;	
  	position: absolute;
  	top: 33px;
	width:24px;
	z-index: 1;
}
.pay-block .tabs li .opt {
  display: block;
  visibility: hidden;
  width: 40px;
  height: 8px;
  background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
  background-repeat: no-repeat;
  background-position: -423px -24px;
  position: absolute;
  bottom: -12px;
  left: 31px;
}

.pay-block .tabs li:hover,
.pay-block .tabs li.selected {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.pay-block .tabs li.selected {
	cursor: default;
}

.pay-block .tabs li.selected .opt {
  visibility: visible;
}
.pay-block .tab-content, .pay-block-default .tab-content {
  border: 1px solid #d6d6d6;
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  margin-top: -1px;
  background: #fff;
}
.pay-block .tab-content .btn, .pay-block-default .tab-content .btn {
  display: inline-block;
  margin: 0 auto 10px;
}

.pay-block .tab-content label, .pay-block-default .tab-content label {
  display: inline-block;
  text-align: center;
  margin: 5px 0;
}

.pay-block .cod-page-notifications .btn,  .pay-block-default .cod-page-notifications .btn{
	margin-top: 15px;
}

.pay-block .your-number,.pay-block-default .your-number  {
  font-size: 14px;
}

.coupon-wrap .cashback-btn {
	width: 80px;
	margin: 5px auto;
	position: absolute;
	bottom: 5px;
	left: 100px;
}


.cc-form {
    text-align:center;
}
.cc-form .msg {
    margin:0 0 15px;
}
.cc-form .msg-fill-all {
    margin:0 0 15px;
}
.cc-form .row {
    margin: 0 auto 15px;
    width: 300px;
    text-align: left;
}
.cc-form .row .long {
    width: 284px;
}
.cc-form .row .short {
    width: 119px;
}
.cc-form .row label {
    display:block;
    text-align:left;
}
.cc-form .row label em {
    color:#999;
    font-style:normal;
}
.cc-form .row .col {
    width: 135px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.cc-form .what-is-cvv {
    margin-left: 10px;
}
.cc-form .accepted-cards {
  margin: 0 0 15px;
  padding: 0;
}
.cc-form .accepted-cards span {
  background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin1/images/cr_cards_type.gif");
  background-repeat:no-repeat;
  height: 0px;
  width: 48px;
  padding: 30px 0 0;
  margin: 0 5px 0 0;
  overflow: hidden;
  display:inline-block;
}
.cc-form .accepted-cards .master {
  background-position: left -30px;
}
.cc-form .accepted-cards .amex {
  background-position: left -60px;
}
.cc-form .accepted-cards .maestro {
  background-position: left -120px;
}

.cc-form .jqTransformSelectWrapper {
    margin:0;
}

.cc-bill-address {
    padding:10px 0;
    border-top:1px solid #d6d6d6;
}
.tab-content h3 {
    font-size:20px;
    margin-bottom:15px;
}
.cc-bill-address .msg {
    color:#808080;
    font: 12px Arial;
    text-transform: none;
}

#codMessage {
	font: 12px Arial;
    text-transform: none;
}

.tab-content a {
	font-family: 'din-med';
	text-transform: uppercase;
}

.captcha-details {
	position: relative;
}

.cashback-message em,
.coupon-msg em {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
	text-transform: none;
}

.cashback-message, .coupon-msg {
	height: 60px;
	font-size: 14px;
	line-height: 25px;
	padding: 5px;
}

.error-msg {
	line-height: 14px;
	height: auto;
	font-size: 12px;
	padding: 5px;
}

.coupons-widget form {
	margin: 5px 0;
}

.coupons-widget .err-div {
	position: absolute;
	z-index: 3;
	top: 42px;
	left: 2px;
	width: 264px;
	background: #fff;
	padding: 10px;
	border: 1px solid #d6d6d6;	
	-webkit-box-shadow: 0 0 3px #999;
	/* @alternate */-moz-box-shadow: 0 0 3px #999;
	/* @alternate */box-shadow: 0 0 3px #999;
}

.coupons-widget .err-div .err-msg,
.coupons-widget .err-div .error-msg {
	color: #d14747;
	font-size: 14px;
	padding: 5px 0;
}

.coupons-widget .err-div .close {
	font-size: 14px;
	padding: 10px 0 0;
	display: block;
	cursor: pointer;
}

.coupon-all-disc-leaf{
	font-size:12px;
	color:#808080;
	margin:3px;
	position:relative;
	bottom:0;	
}

.payment-page .coupon-wrap .wrong-large-icon,
.payment-page .coupon-wrap .tick-large-icon ,
.payment-page .coupon-wrap .warning-large-icon {
	position: absolute;
	top: -2px;
	left: -30px;
}

.payment-page .coupon-wrap h2 {
	height: 25px;
	line-height: 25px;
	margin: 0;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
}

.codCaptchaBlock .error {
	margin: 0 auto;
}

#codCaptchaBlock label {
	display: block;
	text-transform: uppercase;
}

.payment-page .pay-block input#cvv {
	width: 74px;
}

.payment-page .pay-block .cc-expiry select {
	width: 90px;
}

.payment-page .pay-block .cc-bill-country select {
	width: 300px;
}

.payment-page .pay-block .nothing-to-pay {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 15px;
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 5px;
}

.tt-cc-cvv,
.tt-dc-cvv {
	width: auto;
	padding: 10px 12px;
	display: none;
}

.tt-cc-cvv .cvv-img,
.tt-dc-cvv .cvv-img {
  background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
  background-position: -329px -59px;
  background-repeat: no-repeat;
  height: 100px;
  width: 236px;
}

.pay-block .mobile-verify .edit-your-number .btn {
	width: 70px;
	vertical-align: bottom;	
	margin-left: 5px;
}

.emi-options .emi-bank-msg {
	margin-bottom: 15px;
}

.emi-options .emi-bank select {
	width: 300px;
}

.emi-options {
	padding-bottom: 15px;
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 15px;
}

.emi-options .emi-duration table {
	margin: 0 auto;
	font: 14px/20px;
}

.emi-options .emi-duration table td {
	cursor: pointer;
}

.emi-options .emi-duration table tr.emi-disabled td {
	cursor:default;
}

.emi-options .emi-duration table th {
	background: #b7b7b7;
}

.emi-options .emi-duration table tr.odd {
	background: #fff;
}

.emi-options .emi-duration table tr.even {
	background: #f2f2f2;
}

.emi-options .emi-duration table th,
.emi-options .emi-duration table td {
	text-align: center;
	padding: 0 10px;
	font-size: 14px;
	height: 34px;
	display: table-cell;
}

.emi-options .emi-duration table td .radio-btn {
	background: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png') no-repeat -63px -185px transparent;
	height: 18px;
	width: 18px;
	margin-top: -2px;
}

.emi-options .emi-duration table td .radio-btn.selected {
	background-position: -63px -205px;
}

.emi-options .emi-duration table tr.emi-disabled td .radio-btn {
	background-position: -63px -225px;
}

.emi-options .emi-duration p.gray {
	margin: -10px 0 10px;
	display:inline-block;
}

.emi-options .emi-duration table td.msg {
	font-size: 12px;
}

.emi-options .emi-duration .emi-disabled .duration {
	color: #808080;
}

.payment-page h1 {
	padding-bottom: 0;
	border-bottom: 0;
}

.payment-page h3 {
	text-align: center;
	font-size: 14px;
	padding-bottom: 15px;
	border-bottom: 1px solid #d6d6d6;
}

.payment-page .pay-block h3 {
	border-bottom: 0;
	font-size: 20px;
	padding-bottom: 0;
}

#debit_card .ostar {
	display: none;
}

#debit_card .field-msg {
	padding: 5px 0 15px;
}

#debit_card .field-msg .info-icon {
	background: url('https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png') no-repeat -193px -406px transparent;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: bottom;
}

/* GiftCards Payment Page */
.mk-summary-gc{
}
.mk-summary-gc-preview a{
	cursor:pointer;
}
.mk-summary-gc-thumbnail img{
	cursor:pointer;
}
.mk-summary-gc-delivery-mode{
}
.mk-header-gc-payment-page{
	color: #808080;
	float: right;
    font-size: 30px;
    margin-top: 15px;
}
.coupons-widget.mk-gc-payment-cashback-widget{
	width: 575px;
	height: 100px;
}
.coupon-wrap .coupons-widget.mk-gc-payment-cashback-widget .cashback-btn{
	left: 250px;
}
.checkout .order-summary.mk-gc-order-summary .list{
	max-height:350px;
	border-top:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	padding:10px 0;
	margin-top:8px;
}
.mk-summary-gc-preview{
	margin-bottom:10px;
}
.mk-summary-gc-delivery-mode{
	margin-top:10px;
}

.mk-gc-payment-cashback-widget.coupons-widget .err-div .err-msg,
.mk-gc-payment-cashback-widget.coupons-widget .err-div .error-msg {
	color: #d14747;
	font-size: 14px;
	padding: 5px 0;
}

.mk-gift-card-activation-popup{
	text-align : center;
	background: none repeat scroll 0 0 #F2F2F2;
	padding:5px;
	text-transform:uppercase;
}

.mk-payment-gc-activate{
	text-decoration:underline;
	cursor:pointer;
}

.mk-gc-payment-cashback-widget.coupons-widget .err-div {
	top: 42px;
	left: 150px;
}


.primary-btn .proceed-icon {
	background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") repeat scroll -135px -114px transparent;
	width: 18px;
	height: 18px;
	float: right;
	right: 8px;
	top: 9px;
	position: absolute;
}

.activate-gift-card{
	position: relative;
	width: 120px;
	margin-left:5px;
}

.mk-giftcard-activation-section .mk-gc-instruction{
	margin-bottom:15px;
}

.lightbox.mk-giftcard-activation-section .mod{
    width: 500px;
	font-size:14px;
}

.mk-giftcard-activation-section label{
	float:left;
	margin-right:5px;
    font-size: 12px;
}

.mk-giftcard-activation-section input {
    line-height: 20px;
    width: 190px;
    padding-left: 5px;
    padding-right: 5px;
}

.mk-giftcard-activation-section{
	font-size:14px;
	padding:10px 20px 10px 20px;
	margin:0 auto;
}

.mk-giftcard-activation-section .lbl{
       font-size:12px;
    padding: 0px;
}


.mk-giftcard-activation-section .mk-gc-mymyntra-text{
	margin-top:10px;
}


.giftcard-captcha-change-text {
    position: absolute;
    right: -85px;
    top: 26px;
}


.mk-span-success-ico{
    background-image:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    background-position:-95px -406px;
    width:17px;
    height:16px;
    display:inline-block;
    vertical-align:top;
}

.secure .mk-span-success-ico{
	background-image:url(https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png);
}

.mk-span-err-ico{
    background-image:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    background-position:-137px -406px;
    width:17px;
    height:16px;
    display:inline-block;
    vertical-align:top;
}

.secure .mk-span-err-ico{
	background-image:url(https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png);
}

.mk-gc-activation-err .msg{
	vertical-align:middle;
	font-size:11px;	

    width:200px;
    padding:1px 0px;
    text-align:left;
}



.mk-gc-bought .mk-span-success-ico, .mk-gc-received .mk-span-success-ico,.mk-gc-bought .mk-span-err-ico, .mk-gc-received .mk-span-err-ico{
	margin-right:4px;
}

.mk-gc-activation-err{
	margin-top:10px;
	text-align: center;
}

/* GiftCards Payment Page - End */

.payment-page.mk-cf {
	position:relative;
}

.payment-page .pp-helpline{
	position:absolute;
	right:10px;
	top:20px;	
    height: 40px;    
    width: 180px;
    text-align: right;
    color:gray;
    font-size:20px;
}
.payment-page .pp-helpline span.icon-phone {
}

.payment-page .pp-helpline #phone-no {
	color:black;
	position:relative;
	bottom:17px	
}

.payment-page .pp-helpline .h3{
	color:gray;	
}
.customer-promises .mk-f-right #contact{
	color:white;
}
.customer-promises .mk-f-right #contact span{
	display:inline-block !important;
}

.pincode-city-orders{
	text-align:center;
	color:#333;
}

#pincode-city-orders-tooltip{
	text-align:left;
	padding:7px;
	width:170px;
  z-index:1005;
}
#pincode-city-orders-tooltip .hd{
	padding-bottom:1px;
	line-height:14px;
}
