.mk-right-look-widget {
	text-align: center;
	padding:10px;
}

.look-image-small {
	margin:0 auto;
	padding:10px 15px;
	border-bottom: dotted 1px #d6d6d6;
	cursor: pointer;
}

.mk-right-look-widget h5 {
	font-size:12px;
}

.look-items ul li {
	width: 166px;
	zoom: 1;
	padding:10px 0 15px;
	position:relative;

}

.look-items ul li .quick-look {
	top:110px;
	left:44px;
}

.look-items ul li a {
display:block;
width:96px;
margin:0 auto;
}
.look-items ul li a div em {
	color: #fff;
	background: #000;
	padding: 5px;
}

.look-items ul li p {font-size:12px;text-align:center;}

.look-items .mk-product-image { position: relative; }

.look-items .mk-product-image .mk-product-title {
	width: 112px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}

.look-items .mk-product-image .mk-product-title em {
	display: inline-block;
	color: #fff;
	background: #000;
	padding: 5px 20px;
	font: 12px 'din-ital';
	margin-top: 115px;
	text-transform: uppercase;
}

.look-items span.rupees em {
	color:#00b060;
}

.look-items .mk-product-title{
	display: none;
	width: 100%;
	position: absolute;
	top: 160px;
	left: 0;
	text-align: center;
}

.look-items .title-text {
	font-size:12px;
	color: #808080;
}

.look-items  li .brand-text {
	color:#808080;
}

.look-items .price-text {
	font-size: 12px;
}

.look-items .price-text label {
	color: #808080;
	font-size: 12px;
	display: inline;
}
.look-items .gift {
	font-size: 12px;
	text-align: center;
}

.look-items .red-text {
	color: #d14747;
	font-size: 12px;
}

.pdpv1-looks  {
	border-top: solid 1px #d6d6d6;
	margin:20px 0;
	padding:0;
	overflow: hidden
}

.pdpv1-looks .rs-carousel {
	width:980px;
	position:relative;
	overflow:hidden;
}
.pdpv1-looks .look-carousel{
	min-height: 400px;
}

.pdpv1-looks .pdpv1-look-ul li.look{
	width:980px;
	float:left;
	position:relative;
}

.pdpv1-looks .pdpv1-look-ul li.no-image-look {
	min-height: 400px;
}

.pdpv1-looks h5  {
	font-size:14px;
	color:#333;
	padding:20px 0 20px;
	margin-right: 10px;
	display: inline-block;
}

.pdpv1-looks .note {
	text-align:center;
}
.pdpv1-looks .note div{
	padding:0 25px 10px;
	border-bottom:dotted 1px #d6d6d6;
	margin:0 0 20px;
	font:12px Arial;
	display:inline-block;
	text-transform: none;
	width:405px;
}

.look-pagination {
	display: inline-block;
	vertical-align: middle;

}


.look-pagination ol li {
	float:left;
	margin-right: 5px;
}

.look-pagination ol li a{ 
	color:#000;
	background: #e6e6e6;
	padding:7px 10px 4px;
	text-decoration: none;
	border-radius:2px;
}

.look-pagination ol li a:hover{ 
	background: #d6d6d6;
}

.look-pagination ol li.rs-carousel-pagination-link-active a{
	color:#fff;
	background: #000;
}

.look-pagination ol li.rs-carousel-pagination-link-active a:hover{
	background: #000;
}
.pdpv1-looks .look-image {
	float:left;
	padding-right: 20px;
}

.pdpv1-looks .look-price {
	text-align: center;
	font-size:14px;
	padding:10px;
	width:340px;
}

.pdpv1-looks .look-price .strike{
	color:#808080;
}

.pdpv1-looks .look-price .price{
	text-transform: none;
}

.pdpv1-looks .look-price.look-price-center {
	position: absolute;
	top:330px;
	left:32%;
	
}

.pdpv1-looks .look-price button{
	display:block;
	width:180px;
	margin-top:5px;
}

.pdpv1-looks .product-section{
	position: relative;
}

.pdpv1-looks .product-section.vertical {
	position: static;
	height:520px;
	width:600px;
	overflow:auto;
}

.pdpv1-looks .product-section ul {
	overflow: hidden;
}

.pdpv1-looks .product-section ul.vertical {
	overflow:auto;
	position:static;
}
.pdpv1-looks .product-section ul li{
	float:left;
	text-align: center;
	font-size:12px;
	height:260px;
	position:relative;
	width:150px;
	padding:0 20px;

}

.pdpv1-looks .product-section ul li .quick-look{
	left:56px;
} 

.pdpv1-looks .no-image-look .product-section ul li{
	border-bottom:dotted 1px #d6d6d6;
}
	
.pdpv1-looks .product-section ul li .price-text {
	font-size:14px;
	text-transform: none;
}

.pdpv1-looks .product-section ul li .brand-text {
	color:#808080;
}



.pdpv1-looks .product-section  a.rs-carousel-action {
  position: absolute;
  top: 72px;
  display: none;
  width: 28px;
  height: 30px;
  text-indent: -9999px;
  background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat;
}

.pdpv1-looks .product-section  a.rs-carousel-action-prev {
  left: 0;
  background-position: 0 -340px;
}

.pdpv1-looks .product-section  a.rs-carousel-action-prev:hover {
  background-position: -39px -340px;
}

.pdpv1-looks .product-section  a.rs-carousel-action-next {
  right: 0;
  background-position: 0 -300px;
}
.pdpv1-looks .product-section  a.rs-carousel-action-next:hover {
  background-position: -39px -300px;
}

.pdpv1-looks .product-section  a.rs-carousel-action-active {
	display: block;
}


