#pdp-coupon-title-text {
    background: #d14747;
    color: #fff;
    border-radius: 4px;
    position: relative;
    font-size: 16px;
    padding: 10px 0 6px;
    line-height: 1;
    cursor: pointer;
    text-align: center;
}

#pdp-coupon-title-text:hover {
    text-decoration:underline;
}

#pdp-coupon-box {
    border: 1px solid #D6D6D6;
    border-radius: 4px 4px 4px 4px;
    color: #808080;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    font-size:12px;
}

#pdp-coupon-description {
    border-radius: 4px 4px 4px 4px;
    color: #808080;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    font-size:12px;

}

#pdp-coupon-description h4 {
    padding:10px 0px 5px;
    text-align: center;    
    color:#333;
}

#pdp-coupon-description li {
    padding-bottom: 10px;
}


#pdp-coupon-description .price {
    margin-bottom:3px;
    text-transform: none;
}

#pdp-coupon-description .coupon { 
    margin: 0px 5px;
}

#pdp-coupon-description .coupon:hover { 
    text-decoration: underline;
    cursor: pointer;
}

#pdp-coupon-description .coupon-details{
	text-decoration: underline;
}

#pdp-coupon-description .message {
    color:#333;
    padding:10px 0;
    margin:10px 10px 0;
    border-top: solid 1px #808080;
}

#pdp-coupon-description .more-button {
    padding: 6px 0;
    border-top: dotted 1px #808080;
    text-decoration: underline;
    cursor: pointer;
}

#pdp-coupon-description #pdp-coupon-message-separator{
    height:1px;
    background-color: #D6D6D6;
    margin:2px 10px;
}

#pdp-coupon-description .fest-pdp-text {
    border:none;
    margin:0;
    color: #333;
    background: #fff;
    padding: 10px 0 0px;
    font-size: 12px;
}

.coupon-tooltip {
    width:300px;
    
}
.coupon-tooltip .hd {
    border-bottom: solid 1px #d2d2d2;
    text-transform: uppercase;
    padding-bottom:10px;
    
}

.coupon-tooltip .bd {
    font:normal 12px Arial;
    padding-top:10px;
    padding-bottom:10px;
    text-transform: none;
}

.coupon-tooltip .ft {
    border-top: solid 1px #d2d2d2;
    padding-top:10px;
    font:normal 12px Arial;
    text-transform: none;
}

#lb-coupon-widget .mod {
    width: 500px;
    padding: 30px;
}

#lb-coupon-widget .coupon-details {
    font-size:12px;
    text-align:left;
    font-family: Arial, Sans-Serif;
    text-transform: none;
    line-height:18px;
}

#lb-coupon-widget .line {
    background: #E6E6E6;
    height: 1px;
}

#lb-coupon-widget .no-coupon .message {
    font-size:16px;
    height:16px;
    margin: auto;
    position: absolute;
    top: 0; left:0; right:0; bottom:0;
}

