#lb-personalise .mod{
	min-height:530px;
}

#lb-personalise .hd {
	border:none;
	margin-top:10px;
}

#lb-personalise .photo {
	float:left;
	width:360px;
	height:440px;
	background:transparent url("http://myntra.myntassets.com/skin2/images/customize-sample-t-shirt.jpg") no-repeat 0 0;
	margin-right:25px;
	border:solid 1px #d6d6d6;
}
.secure #lb-personalise .photo{
	background:transparent url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/customize-sample-t-shirt.jp") no-repeat 0 0;
}

#lb-personalise .details{
	padding-left:410px;
	text-align: left;
	text-transform: none;
	padding-top:25px;
	
}

#lb-personalise .input-row {
	position:relative;
}

#lb-personalise .details input,#lb-personalise .details textarea,#lb-personalise .details label,#lb-personalise .details .err-msg {
	width:290px;
	border-radius:5px;
	text-align:left;
	resize:none;
	color:#808080;
}


#lb-personalise .details textarea {
	height:110px;
	overflow:auto;
}


#lb-personalise .details input#personalise-name,#lb-personalise .details input#personalise-number {
	padding-left:5px;
	width:290px;
	height:19px;
}


#lb-personalise .details label {
	margin:0 0 3px 2px;;
	color:#333;
}

#lb-personalise .details label span {
	color:#808080;
	font-size:12px;
}

#lb-personalise  .details .err-msg {
    color:#d14747;
    padding:3px;
    height:15px;
    margin-bottom:8px;
    visibility:hidden;	
}
#lb-personalise .status-msg {
	color:#d14747;
	position:relative;
	top:-18px;

}
#lb-personalise .details button {
	text-align:center;	
	width:100px;
	margin:0 20px 0 0;	
	padding:7px 5px 5px;
	
}
#lb-personalise .success-msg {
	font-size:14px;
	
}

#lb-personalise .success-msg span{
	background:transparent url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -95px -405px;
	height:17px;
	width:17px;
	display:inline-block;
	*zoom:1;
	*display:inline;
	vertical-align:bottom;
	
}
.secure #lb-personalise .success-msg span{
	background:transparent url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") no-repeat -95px -405px;
}

#lb-personalise .details h5 {
	font-size: 20px;
	color:#808080;
	padding:0;
}

#lb-personalise .details p {
	font-size: 12px;
	font-family: Arial;
	padding:0 0 40px;
	line-height: 16px;
}

.item-personalise {padding-left:5px;}