#pincode-widget .hd .title span {
	text-transform: none;
}

#pincode-widget .bd {
	min-height: 230px;
	padding-bottom: 0;
}

#pincode-widget .body-text {
	text-align: center;
}

#pincode-widget form {
	padding: 10px 0 15px;
}

#pincode-widget label,
#pincode-widget input[type="text"] {
	text-transform: uppercase;
	display: inline-block;
	*display: inline;
}

#pincode-widget input[type="text"] {
	width: 50px;
	margin-left: 10px;
}

#pincode-widget label {
	line-height: 30px;
	vertical-align: bottom;
}

#pincode-widget #pincode-error {
	text-align: center;
	visibility: hidden;
	margin-top: 2px;
	height: 12px;
}

#pincode-widget #disclaimer {
	position: relative;
	top: 10px;
}

#pincode-widget .primary-btn {
	margin-top: 6px;
}

#pincode-widget .result > p,
#pincode-widget .result > div {
	display: none;
	margin-bottom: 5px;
}

#pincode-widget .result .icon-success,
#pincode-widget .result .icon-error,
#pincode-widget .result .icon-alert {
	display: inline-block;
	position: absolute;
	margin: 0 0 0 -20px;
}
