/*  Product Grid CSS 
/* Filters, Grid, Paginate, Banner, Quicklook 
---------------------------------------------- */

/* Filters ------------------------ */
.mk-product-filters {
	color: #808080;
	text-align: center;
	font-size: 14px;
}

.mk-product-filters .mk-count {
	color: #808080;
	font-size: 10px;
	padding: 0 30px 0 2px;
}

.mk-label_check { font-size: 16px; padding-left: 25px; background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat 0px -164px; }
label.mk-c_on { background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat 0px -144px; }
.mk-label_check input { position: absolute; left: -9999px; }


.mk-label_radio { font-size: 28px; padding-left: 23px; background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat 0px -218px; }
label.mk-r_on { background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat 0px -185px; }
.mk-label_radio input { position: absolute; left: -9999px; }



ul.mk-product-sort,
ul.mk-product-sort a { 
	text-transform: uppercase;
	color: #808080;	
}
ul.mk-product-sort a:hover {
	color: #000;
}
ul.mk-product-sort a.mk-sort-selected {
	text-decoration: none;
	color: #000;
}
.mk-product-filters ul.mk-product-selectors { margin: 5px 0 0 0; text-align:left;}


.mk-category-page { 
	text-align: center;
	padding-bottom: 20px; 
}

.mynt-layout-new .mk-category-page { 
	margin-top: 5px;
}

.mk-category-page h1 { 
	font-size: 35px; 
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.mk-product-filters ul.mk-product-sort { display: inline-block; }

.mk-product-filters ul.mk-product-sort li { 
	display: inline; 
	width: 200px; 
	position: relative; 
}

.mk-product-filters ul.mk-product-selectors li a.mk-a-label {
	display: inline-block;
	width: 163px;
	background: #e6e6e6;
	border-bottom: 1px solid #d6d6d6;
	text-transform: uppercase;
	color: #333;
	padding: 5px 0 5px 25px;
	z-index: 8;
	position: relative;
	font-size: 14px;
	text-decoration: none;
}

.mk-product-filters ul.mk-product-selectors li a.label-expand span.mk-label-arrow {
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat;
	background-position:-90px 0px;
	height: 5px;
	top: 10px;
}

.mk-product-filters ul.mk-product-selectors li a span.mk-label-arrow {
	position: absolute;
	top:10px;
	height:10px;
	left: 10px;
	display: block;
	width:10px;
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat;
	background-position:-105px 0px;
}
.mk-product-filters ul.mk-product-selectors li:hover .mk-filter-wrapper { 
	display: block; 
}

.mk-filter-wrapper { 
	width: 168px;
	padding: 0 10px;
}

.mk-price-range{
	margin-top:10px;
}

.mk-filter-wrapper .mk-labelx_check.disabled{
	color:#808080;
}
.mk-filter-wrapper a.mk-labelx_check, .mk-filter-wrapper .mk-labelx_check { 
	display: block; 
	width: 166px;
	font-size: 12px;
	padding: 5px 0;
	text-decoration:none;
    color:#000000;
}

.mk-filter-wrapper a.mk-labelx_check.disabled{
	visibility:visible !important; 
}
.mk-filter-wrapper a.mk-labelx_check span.mk-filter-product-count{
    color:#808080;
}
.mk-labelx_check { cursor:pointer;}
.cbx{
	display: block;
    float: left;
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat;
	background-position:-42px -144px;
    height: 11px;
    margin-right: 5px;
    margin-top: 2px;
    width: 11px;
}
.unchecked .cbx{
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat;
	background-position:-42px -157px;
}
.disabled .cbx{
	background-position:-55px -144px;
}
img.mk-color { 
	margin-right: 5px; 
	vertical-align: middle;
}

.mk-filter-wrapper input.mk-amount {
	background: none;
	border: none;
	margin-top: 10px;
	outline: none;
}


/* Grids ------------------------ */
.mk-product-grid a {
	color: #333;
}

.mk-product-grid ul { 
	height: 340px; 
	border-bottom: 1px solid #d6d6d6; 
	padding: 25px 0;
	text-align: left;
}

.mk-product-grid ul li { 
	width: 188px; 
	display: block; 
	margin-left: 10px; 
	vertical-align: top;
	float: left;
}
.mk-product-grid ul li.mk-first { margin-left: 0;}

.mk-product-grid ul li div { width: 188px; }

.mk-product-grid ul li .mk-product-image {
	position: relative;
	z-index: 2;
	width: 188px; 
	height: 251px; 
}

.mk-product-grid .mk-product-brand {
	text-align: center;
	padding: 5px;
	width: 178px; 
	height: 251px;
	position: absolute; 
	top: 0;
	left: 0;
	z-index: 2;
}

.mk-product-grid .mk-product-brand div { margin: 190px auto 0; width: 170px; } 

.mk-product-grid .mk-product-brand em {
	cursor: pointer;
	width: 100%;
	padding: 5px 10px;
	font: 13px din-med;
	background: #000;
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
}

.mk-product-grid .mk-product-info {
	margin-top: 2px;
	width: 188px;
	text-align: center;
	font-size: 17px;
}

.mk-product-grid .mk-product-info h3 { 
	font-size: 20px; 
	text-transform: uppercase;
	line-height: 19px; }

.mk-product-grid .mk-product-info p.mk-discount { 
	color: #d14747; 
	font-size: 15px; 
	text-transform: uppercase;
}

/* Category Banner ------------------------ */
.mk-banner { width: 386px;}

.mk-category-banner { position: relative; }

.mk-category-banner a.mk-img-switch-top {
	cursor: pointer;
	z-index: 4;
	position: absolute;
	top: 180px;
	left: 300px;
}
.mk-category-banner a.mk-img-switch-bottom {
	cursor: pointer;
	z-index: 4;
	position: absolute;
	top: 210px;
	left: 230px;
}

/* Pagination ------------------------ */
.mk-paginate ul { margin: 20px 0; }
.mk-paginate ul li { display: inline; }
.mk-paginate ul li a,
.mk-paginate ul li sub  { 
	color: #181818;
	text-transform: uppercase;
}

/* Quicklook ------------------------ */
.mk-product-grid .mk-quicklook {
	z-index: 3;
	position: absolute;
	top: 3px;
	left: 0;
}

.mk-product-grid .mk-quicklook a.mk-quick-link {
	display: block;
	height: 188px;
}


.mk-product-grid .mk-quicklook a {
	display: block;
	width: 188px;
	height: 251px;
	text-align: center;
}
.mk-product-grid .mk-quicklook a span { 
	color: #fff; 
	background: #000; 
	text-transform: uppercase; 
	font: 13px/20px din-ital; 
	padding: 10px 30px;
	border-radius: 2px; 
	word-spacing: 1px; 
	margin-top: 110px;
	width: 100px;
}

.mk-prod-brand-name{
	color:#000;
}

.mk-opacity { opacity: 0.2;
-moz-opacity: 0.2;
filter:alpha(opacity=2);}
.mk-account-pages ul.mk-mynt-nav li { margin-left: 3px;}
.mk-account-pages ul.mk-mynt-nav li.mk-last { margin: 0; }


#lb-addedtocombo .mod {
	width:500px;
}
#lb-addedtocombo .mod .bd .item-details h4 {
	padding:0 0 5px;
	
}
#lb-addedtocombo .mod .bd .item-details div {
	padding:0 0 5px;
	
}
#lb-addedtocombo .mod .bd .item-details div span {
	color:#808080;
}

#lb-addedtocombo .mod .bd .btn-group a {
	width:180px;
	margin:10px 0;
	
}

#lb-addedtocombo h3 .icon{
	background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll 0 -400px transparent;
    display: inline-block;
    height: 27px;
    vertical-align: middle;
    width: 27px;
   }