
/*move this to common css. this is used in the quicklook as well */
a.disabled {
    visibility: hidden !important;
}

.mk-product-guide { 
	width: 340px;
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 10px;
	text-transform: uppercase;
	color: #333;
}

.mk-product-guide h5 { color: #808080; font-size: 14px; }

.mynt-layout-new .mk-product-guide h5 { 
	color: #808080;
	font-size: 12px;
	margin-bottom: 15px;
}

.mk-product-guide h1 {
	color: #333;
	font-size:
	25px; margin:
	5px auto 15px;
}

.mynt-layout-new .mk-product-guide h1 {
	color: #333;
	font-size: 25px;
	margin: 5px auto 0px;
}

.mk-product-guide p.mk-discount {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
	font-size: 14px;
	height: 16px;
	text-transform: none;
}

.mk-product-guide h3 {
	text-transform: none;
	height: 20px;
	text-align: left;
	margin: 0px;
	padding:0px;
	font-size: 20px;
	line-height: 26px;
	display: block;
}

.mk-product-option-cont{ 
	margin:0 0 20px;
}

.mk-product-guide .mk-drop-down {
	position:relative;
	height:35px;
	overflow:hidden;
	background:#f2f2f2
}

.mk-cashback-block {
	margin-top:10px;
	font-size:14px;
	/* TODO: remove color, add class 'red' */
	color: #d14747;
}

.mk-product-guide .mk-custom-drop-down{
	margin-top: 15px;
	padding-bottom: 5px;
	position:relative;
}

.mk-product-guide .mk-custom-drop-down select{
	width: 166px;
	font-size: 14px;
}

.mk-product-guide h6 {
	font-size: 11.3px;
	margin: 10px 0 33px;
}

.mk-product-guide button {
	display: block; 
	width: 180px; 
}

.mk-product-guide .notify-cont {
	min-height: 146px;
}

.mk-product-guide .notify-button {
	width: 100px;
	display: block;
	margin: 0 auto 10px; 
}

.mk-product-guide .notify-cont .icon-success {
	display: inline-block;
	vertical-align: bottom;
}

.mk-product-option-cont .jqTransformSelectWrapper {
	height: 30px;
}

.mk-product-option-cont .jqTransformSelectWrapper span {
	background: transparent;
	text-shadow: none;
	color: #000;
	padding: 6px;
	border: 1px solid #d6d6d6;
	line-height: 16px;
}

.mk-product-option-cont .jqTransformSelectWrapper span:hover {
	background: transparent;
	border-color: #999;
}

.mk-product-option-cont .jqTransformSelectWrapper  a.jqTransformSelectOpen {
	margin: 12px 8px;
	z-index: -1;
}

.mk-product-guide .or,
.product-guide .or {
		font: 14px/25px 'din-med';
}

.mk-drop-down-arrow { 
	background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -90px 0 transparent;
    display: block;
    height: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
    z-index:3;
}

.mk-size-error {
	padding: 15px 0;
	position: absolute;
	color: #D14747;
	font-size: 12px;
	left: 270px;
	top: -4px;
    white-space:nowrap;
}

#quick-look-mod .mk-size-error {
	left: 299px;
}
    
.mk-custom-drop-down ul li {text-align:left}

.mk-product-page .add-button-group {
	margin-top: 40px;
	position: relative;
}
.mk-custom-drop-down ul li a.notify-me {
	color:#808080;
}

.notify-cont .empty {
	color: #808080;
}

.notify-msg {
	height: 14px;
	margin-bottom: 6px;
}
.notify-cont p {
	font-size: 12px;
}
.notify-email {
	color: #808080;
	padding: 8px 5px;
	width: 164px;
	text-align: center;
	font-size: 14px;
	margin: 8px 0 6px;
}
.notify-cancel {
	font-size: 12px;
	color: #808080;
	text-decoration: underline;
	margin-top: 3px;
	display: block;
}

.call-to-buy {
	font-size: 12px;
	margin: 10px 0;
	color: #333;
}

.call-to-buy em {
	color: #f7931e;
}

/*this is used in the quicklook and PDP */

.mk-product-extras { 
	width: 760px;
	text-align: center;
	color: #333;
}

.mk-product-extras div { 
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d6d6d6;
	padding: 20px 0;
}

.mk-product-extras div div {  
	border: none;
	padding: 0;
}

.mk-product-extras h2 {
	font-size: 23px;
	margin: 0 0 10px;
}

.mk-product-extras h4 {
	text-align: center;
	font-size: 14px;
}

.mk-product-extras  div .mk-detail {   
	font: 12px/18px Arial, Sans-Serif;
	width: 580px;
	margin: 20px auto 0;
	text-transform:none;
}

.mk-product-extras .mk-product-description { 
	border-top: none;  
	padding: 20px 0;
	text-align: justify;
} 

.mk-product-extras .mk-product-description a { 
	font-weight: bold;
	text-decoration: none;
	color: #333;
} 

.mk-product-extras .mk-product-description a:hover { 
	text-decoration: underline; 
} 

.mk-product-extras .mk-product-reviews .mk-detail p.mk-author {
	font-weight: 600;
	margin-bottom: 10px;
}

.mk-product-extras .mk-product-reviews a {
	color: #333;
	text-decoration: underline;
	text-transform: uppercase;
	padding-left: 5px;
	font-size: 11.3px;
}

.mk-product-extras .mk-product-policies {
	border-bottom: none;
}


.more-less {
	cursor:pointer;
	display:block;
	padding:10px 0 0;
	width:100px;
	margin:0 auto;
	text-transform:uppercase;
	text-align: center;
	font-size:12px;
}

.more-less:hover {
	text-decoration: underline;
}	
	
.mk-sold-out {
	padding: 20px 0;
	color: #D14747;
	font-size: 14px;
}

.saved-message {
  	color: #808080;
  	width: 80px;
  	font-size: 14px;
	position: absolute;
	top: 44px;
	right: 30px; 
}

#quick-look-mod .saved-message {
	top: auto;
	bottom: 4px;
}

.saved-message span {
	height:18px;
	width:18px;
	background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -93px -404px transparent;
	display:inline-block;
	margin: 0 3px -3px 0;
}
.combo-pdp-block {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
	padding: 10px 0px;
	width: 310px;
	margin: 0 auto;
}
.discount-message-pdp {
	overflow: hidden;
	line-height: 16px;
	font-size: 12px;
	padding-bottom: 10px;
}
.discount-message em {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
}
.combo-overlay-btn {
	font-size: 14px;
}
.mk-count-message{
	color:#F7931E;
	position:absolute;
	bottom:-20px;
	width:100%;
	font-size:12px;
	left:0
}
.mk-freesize {
	font-family: "din-med";
	display: inline-block;
	width: 85px;
	margin: 0 auto;
	color: #000;
	padding: 8px 0px;
	/*height: 30px;
*/
	line-height: 19px;
	font-size: 14px;
	background: #e6e6e6;
}

.mk-product-guide .mk-freesize {
	background: #808080;
	color: #fff;
}

.mk-product-guide .mk-save-for-later {    
	font-size: 12px;
	text-align: left;
}

#vtooltip {
	width:auto;
	padding:10px 0 10px 10px;
}

#vtooltip table {
  margin: 0 0 10px;
}
#vtooltip table tr td {
  padding:0 10px 4px 0;
  font-size:13px;
}

#vtooltip.myntra-tooltip .arrow-bottom-outer {
	margin:0 0 -24px -12px;
}

/* ZOOM BUTTON ON TOP STYLES*/

.mk-product-guide .mk-product-option-cont.zoom-window{
	position:fixed;
	bottom:0px;
	z-index:10001;
	margin:0;
	min-width:256px;
}
.mk-product-guide .mk-product-option-cont.zoom-window .mk-custom-drop-down {
	margin-top:10px;
}
.mk-product-guide .mk-product-option-cont.zoom-window .add-button-group {
	margin:0;
	padding-bottom:1px;	
}
.mk-product-guide .mk-product-option-cont.zoom-window .add-button-group .mk-add-to-cart{
	position:relative;
}

.mk-product-guide .mk-product-option-cont.zoom-window .mk-count-message{
	position:relative;
	bottom:0px;
}

.mk-product-guide .mk-product-option-cont.zoom-window h3 {
	font-size: 14px;
	padding-top:10px;
}

.mk-product-guide .mk-product-option-cont.zoom-window .flat-size-options .lbl {
font-size: 12px;
}

.mk-z-hide {
	display:none !important;
}

.zoom-buy-now-overlay {
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .7;
  position: absolute;
  filter: alpha(opacity=70);
  border-radius:6px 6px 0 0;
  border:1px solid #d5d5d5;
}

.zoom-price-block {position:relative;}

.mk-product-option-cont.zoom-window .mk-sold-out {
	position:relative;
}

.mk-product-option-cont.zoom-window .mk-size-error {
	left:30%;
	position:absolute;	
	padding:0;
}
.mk-product-option-cont.zoom-window .discount-message-pdp {
	padding-bottom:0;
}

.mk-product-option-cont.zoom-window .discount-message {display:none;}

#quick-look-mod .mk-product-large-image img {
	cursor: default;
}

#quick-look-mod h1 a {
	text-decoration: none;
	margin: 5px 10px 10px 0;
	text-transform: none;
	font-size: 20px;
	line-height: 26px;
	color: #333;
	text-align: left;
	display:block;
}

#quick-look-mod h1 a:hover {
	text-decoration: underline;
}

.ico {
  background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 17px;
  height: 17px;
  cursor: pointer;
  vertical-align: top;
  margin-right:4px;
}

.ico-expand {
  background-position: -17px -378px;
}

.ico-collapse {
  background-position: 0px -378px;
}

.zoom-open.mk-hide, .zoom-close.mk-hide{
	display:none;
}
.zoom-open.mk-show, .zoom-close.mk-show{
	display:block;
}

.zoom-open, .zoom-close{
  padding: 3px 6px;
line-height: 16px;
background: white;
margin: 0 auto;
display: inline-block;
font-size: 14px;
text-decoration: underline;
border-top: 1px solid #D5D5D5;
border-left: 1px solid #D5D5D5;
border-right: 1px solid #D5D5D5;
cursor:pointer;
opacity: 0.7;
}

.zoom-hide-block{
position: relative;
display: block;
margin: 0 auto;
width: 115px;
}

.zoom-buy-now-holder{
position:relative;
}

.wishlist-fb-login,.purchase-fb-login {
	color: #888;
	font-size:12px;
	text-transform:none;
}
.wishlist-fb-login span,.purchase-fb-login span{
	cursor:pointer;
	text-decoration:underline;
}

.wishlist-fb-login  em {
	background: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png") no-repeat scroll -169px -7px transparent;
    display: inline-block;
    height: 20px;
    margin: 0 5px -5px 0;
    width: 20px;
}

.mk-product-option-cont .mk-colour {
	margin: 20px auto 0;
	width: 216px;
	position: relative;
}

.mk-product-option-cont .mk-colour .lbl {
	font-size: 12px;
}

.mk-product-option-cont .mk-colour ul {
	margin-top: 5px;
	height: 54px;
	display: inline-block;
}

.mk-product-option-cont .mk-colour li {
	float: left;
	padding: 0 2px;
}

.mk-product-option-cont .mk-colour img:hover {
	border-bottom: solid 1px #63BA3A;
}

.mk-product-option-cont .mk-colour .icon-prev,
.mk-product-option-cont .mk-colour .icon-next {
	display: none;
	position: absolute;
	top: 25px;
	cursor: pointer;
}

.mk-product-option-cont .mk-colour .icon-prev.rs-carousel-action-active,
.mk-product-option-cont .mk-colour .icon-next.rs-carousel-action-active {
	display: block;
}

.mk-product-option-cont .mk-colour .icon-prev {
	left: -18px;
}
	
.mk-product-option-cont .mk-colour .icon-next {
	right: -18px;
}

/**Express-Buy button***/
.mk-express-buy {
	margin: 0 auto;
	font-size:12px;
}

.loyalty-info {
	font-size:12px;
	color:#808080;
	margin:8px 0;
}

/*NEW CHECKOUT*/
.combo-lbl {
	font-size:12px;
	display:block;
	padding-top:5px;

}
.combo-pdp-block a.goto-combo{
	color:#4490A5;
	font-size:12px;
}

/*new PDP V1 Styles*/
.p-code {
	font:11px Arial;
	float:right;
	margin-top: 7px;
	color:#333;
	font-weight:bold;
	text-transform: capitalize;
}
.mk-pdpv1-carousel-breadcrumbs {
	text-transform: capitalize;
	display: inline-block;
	vertical-align: middle;
	font:11px Arial;
	padding:7px 0 10px;
}

.mk-pdpv1-carousel-breadcrumbs a {
	text-decoration: none;
}

.mk-pdpv1-carousel-breadcrumbs a:hover {
	text-decoration: underline;
}


.mynt-layout-new  .mk-pdpv1-product-page .mk-product-guide h1,
.mynt-layout-new  .mk-pdpv1-product-page .mk-product-guide h3 {
 font-size:20px;
 line-height:26px;

}

.mynt-layout-new  .mk-pdpv1-product-page .mk-product-guide h1{
	 margin:5px 10px 10px 0;
	 text-transform: none;

}

.mk-pdpv1-product-page.mk-colour .lbl, .mk-pdpv1-product-page .flat-size-options .lbl {
	text-transform: uppercase;
}

.mk-pdpv1-product-page {
	text-align:left;
}

.mk-pdpv1-product-page .mk-product-guide {
    color: #333333;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: left;
    width: 340px;
}
.mk-pdpv1-product-page .mk-product-guide .zoom-window {
	text-align: center;
}

.mk-pdpv1-product-page  #sizechart-new, .mk-pdpv1-product-page  #sizechart-old,
.mk-pdpv1-product-page .mk-product-guide .mk-save-for-later {
	width:auto;
	margin:2px 0 5px;	
}

.mk-pdpv1-product-page .mk-product-guide .mk-save-for-later {
	margin-top:7px;
}

.mk-pdpv1-product-page .mk-size-error {
	left:188px;
}

.mk-pdpv1-product-page .mk-product-guide button {
	margin:0;
	
}
.mk-pdpv1-product-page .mk-product-guide .zoom-window button {
	margin:0 auto;
	
}

.mk-pdpv1-product-page .mk-product-guide button.notify-button {
	display: inline-block;	
}

.mk-pdpv1-product-page .notify-cancel {
	display: inline-block;
	margin:0 0 0 16px;
}

.mk-pdpv1-product-page  .flat-size-options .options {
	margin:0;
	padding:4px 0 0;
	
}
.mk-pdpv1-product-page .mk-product-option-cont{
	margin:35px 12px 0 0;

}
.mk-product-page.mk-pdpv1-product-page  .add-button-group {
	margin-top:30px;
}

.mk-pdpv1-product-page .mk-product-guide .size-btn {
	background-color: #fff;
	box-shadow: 1px 1px 1px #999;
	color:#333;
	padding:2px;
	background-image: none;
	min-width:26px;
	height:26px;
	border:solid 1px #e6e6e6;
	border-radius: 2px 2px 2px 2px;
	margin-right:2px;
	margin-bottom:4px;
	display: inline-block;
	*overflow: visible;
	width:auto;
	
}

.mk-pdpv1-product-page .mk-product-guide .size-btn.unavailable{
	color: #808080;
}

.mk-pdpv1-product-page .mk-product-guide .size-btn:hover,
.mk-pdpv1-product-page .mk-product-guide .size-btn:focus,
.mk-pdpv1-product-page .mk-product-guide .size-btn.selected {
	background-color: #000;
	color:#fff;	
	background-image: none;
} 

.mk-pdpv1-product-page .mk-product-option-cont .mk-colour {
	margin-left:0;
}

.mk-pdpv1-product-page .combo-pdp-block, 
.mk-pdpv1-product-page .loyalty-message {
	margin:10px 0 0;
	border:none;
	background:#f2f2f2;
	padding:8px 10px;
	width:290px;

}
.mk-pdpv1-product-page .loyalty-message{
	font-size:12px;
}

.mk-pdpv1-product-page .loyalty-message em{
	color:#d14747;
}


.mk-pdpv1-product-page  .combo-pdp-block a.goto-combo {
	text-decoration: none;
}
.mk-pdpv1-product-page  .combo-pdp-block a.goto-combo:hover {
	text-decoration: underline;
}
.mk-pdpv1-product-page .discount-message-pdp {
	padding:0;
	display:inline-block;
	vertical-align: middle;
}

.mk-pdpv1-product-page .mk-product-disclaimer {
	margin:0;
}

.mk-pdpv1-description {
	border-top:1px solid #d6d6d6;
}

.mk-pdpv1-description .mk-pdpv1-product-helper {
    bottom: 0;
    padding-bottom: 5px;
    text-align: left;
    text-transform: none;
 
}

.mk-pdpv1-description  li.desc-main-title {
    color: #808080;
    font: 12px/14px 'din-med';
    padding: 10px 0 3px;
    text-transform: uppercase;
}
.mk-pdpv1-description .desc-sub-title {
    font: 14px "din-med",arial,sans-serif;
    text-transform: uppercase;
    padding:10px 0 5px;
}
 .mk-pdpv1-description li.desc-sub-text:last-child {
 	border-bottom:none;
 } 
.mk-pdpv1-description .desc-sub-text {
    line-height: 20px;
    margin: 0;
    padding:0 0 10px;
    border-bottom: 1px dotted #D6D6D6;
    font: normal 12px/16px Arial;
        
}
.mk-pdpv1-description .desc-sub-text p {
    line-height: 18px;
}
.mk-pdpv1-description .mk-pdpv1-product-helper a {
    font-weight: bold;
    text-decoration: none;
}
.mk-pdpv1-description .mk-pdpv1-product-helper a:hover {
    text-decoration: underline;
}
.mk-pdpv1-product-page .mk-customer-promise {
	padding:10px;
	border-top: solid 1px #d6d6d6;
}

.mk-pdpv1-product-page  .mk-guarantee ul {
	color: #808080;
	font: 12px/15px 'din-med';
	text-transform: uppercase;

}
.mk-pdpv1-product-page  .mk-guarantee ul li.mk-brand-logo a{
	display: block;
	height: auto;
	margin: 0 auto;
	background: none;
	width: auto;
}

.mk-pdpv1-product-page .mk-guarantee ul li.mk-brand-logo {
	height:auto;
	padding-bottom:0;
}
.mk-pdpv1-product-page  .mk-guarantee ul li {
	padding: 0 15px 0 0;
	display: inline-block;
	vertical-align: middle;
	max-width: 215px
}
.mk-pdpv1-product-page  .mk-guarantee ul li.link:hover {
	text-decoration: underline;
	cursor: pointer;
}
.mk-pdpv1-product-page  .mk-guarantee ul li em {
	font-style: normal;
	text-transform: none;
}
.mk-pdpv1-product-page  .mk-guarantee ul li a {
	display: inline-block;
	height: 18px;
	width: 18px;
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat left top;
	margin: 0 5px;
	vertical-align: top;
}

.mk-pdpv1-product-page  .mk-guarantee ul li.mk-guarantee a { background-position: 0 0; }
.mk-pdpv1-product-page  .mk-guarantee ul li.mk-dispatch a { background-position: -21px 0; }
.mk-pdpv1-product-page  .mk-guarantee ul li.mk-cod a { background-position: -41px 0; }
.mk-pdpv1-product-page  .mk-guarantee ul li.mk-free-shipping a { background-position: -61px 0; }
.mk-pdpv1-product-page  .mk-guarantee ul .icon-new {
	display: inline-block;
	position: absolute;
	bottom: 16px;
	right: 20px;
}

.mk-pdpv1-product-page .mk-product-guide .mk-freesize {
	text-align:center;
}

.mk-pdpv1-product-page .flat-size-options .options.error {
	padding:4px;
}

span.coupon-offer-launcher {
	color:#4490A5;
	font-size:12px;
    cursor: pointer;
    display: none;

    top: 0px; bottom:0px; left:0px; right:0px;
    margin: auto;
}

span.coupon-offer-launcher:hover .coupon-pdp-text{
    text-decoration: underline;
}



span.coupon-pdp-icon{
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: -336px -361px;
    width: 30px;
    height: 12px;
    display:inline-block;
    margin-left:10px;
}
span.coupon-offer-launcher:hover span.coupon-pdp-icon{
    background-position: -375px -361px;
}

#vendorDetails {
	font-size: 12px;
	color: #333333;
	margin-bottom: 36px
}

#vendorDetails div span:first-child {
	background: #E0E0E0;
}

#vendorDetails div span:last-child {
	color: #808080;
}

#vendorDetails span {
	text-align: center;
	padding: 2px 3px 0;
}

#SuplierInfoTooltip div {
	border: 10px solid;
	position: absolute;
	border-top: 0;
	border-color: #d6d6d6 transparent;
	left: 48%;
	top: -12px;
}

#vendorDetails .supplier-details {
	margin-top: 6px;
}

#vendorDetails .supplier-details a {
	text-decoration: none;
	color: #4490A5;
}