/* Product Page CSS
/* media, guide, extras
---------------------------------------------- */
.mk-product-page {
	width: 792px;
}

.mk-product-shop {
	width: 792px;
	position:relative;
}

.mk-product-media {
	width: 420px;
	padding-top: 10px;
	position:relative;
	
}

.mk-product-media img.mk-large {
	width: 360px;
	height: 480px;
}

.mk-product-media .mk-more-views-modal {
	width: 355px;
	height: 108px;
	padding: 0 0 0;
	position: relative;
	overflow: hidden;
	display: block;
}

.mk-product-media .mk-more-views-modal ul {
	width: 355px;
	position: absolute;
	overflow: hidden;
}

.mk-product-media .mk-more-views-modal ul li {
	width: 81px;
	float: left;
	zoom: 1;
	margin-right: 10px;
}

.mk-zoom-modal {
	position: absolute;
	left: 50%;
	margin-left: -90px;
	top: 380px;
	background: none;
	width: 350px;
	overflow: hidden;
	z-index: 100;
}

.mk-zoom-modal .mk-zoom-frame {
	width: 350px;
	height: 400px;
	position: relative;
}
.mk-zoom-modal .mk-zoom-frame img.mk-frame {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 350px;
}
.ui-corner-all {   
}

div#mk-filler {
	background: none;
	min-height:245px;
}

#mk-matchmaker .mk-recommendation-tabs div {
}

.mk-recommendation-tabs .mk-match-cycle {height:295px;}
.mk-recommendation-tabs .mk-cycle-nav {display:block;}


/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-cont, .mousetrap {
	cursor:url("http://myntra.myntassets.com/skin2/images/zoomPNG.png"), url("http://myntra.myntassets.com/skin2/images/zoomCUR.cur"), move;
}

.cloud-zoom-lens {
	margin: 0px; /* Set this to minus the border thickness. */
	background-color: #fff;
	cursor: url("http://myntra.myntassets.com/skin2/images/zoomPNG.png"), url('http://myntra.myntassets.com/skin2/images/zoomCUR.cur'),move;
	border: 1px solid #000;
	z-index:98;
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family: 'din-med';
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;
	font-weight:bold;
	font-size:10px;
	top:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
	overflow:hidden;
border: 1px solid #d5d5d5;	
	}

.mk-product-large-image .wrap {
	position: relative;
	
}

/* This is the loading message. */
.cloud-zoom-loading {
	color:white;
	background:#222;
	padding:3px;
}

/*SUPER ZOOM*/

.zoom-overlay {width:100%;
height:100%;
position:fixed;
top:0;
left:0;
z-index:10000;
background:#000;

}

.zoom-block {
z-index:10000;
position:absolute;
top:0;
left:0;
overflow:hidden;
}

.zoom-buy-now-holder .flat-size-options button.unavailable {
	display: none;
}

.zoom-window .mk-colour {
	display: none;
}

.zoom-container {
	width:980px;height:616px;
    margin: 0 auto;
    position: relative;
    overflow:hidden;

}

.zoom-container ul {
	height:616px;
	left:0;
}

.zoom-container ul.izoom li {
	width: 540px;
	float: left;
	zoom: 1;
	position:relative;
	text-align:center;
	overflow:hidden;
	height:616px;
}

.zoom-container ul.szoom li {
	width: 980px;	
	float: left;
	zoom: 1;
	position:relative;
	text-align:center;
	overflow:hidden;
	height:616px;
}

.zoom-container ul.izoom li img {
	position:absolute;
	left:0;
	cursor:url("http://myntra.myntassets.com/skin2/images/zoomPNG.png"), url("http://myntra.myntassets.com/skin2/images/zoomCUR.cur"), move;
}

.zoom-container ul.szoom li img {
	position:absolute;
	left:0;
	cursor: url("http://myntra.myntassets.com/skin2/images/zoomScrollPNG.png"), url('http://myntra.myntassets.com/skin2/images/zoomScrollCUR.cur'), n-resize;
}

.zoom-container a.rs-carousel-action {
  position: absolute;
  top: 48%;
  display: none;
  width: 28px;
  height: 30px;
  text-indent: -9999px;
  padding:11px 0 0 11px;
  background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat;
}

.zoom-container a.rs-carousel-action-prev {
  left: 0;
  background-position: 0 -330px;
}

.zoom-container a.rs-carousel-action-prev:hover {
  background-position: -39px -330px;
}

.zoom-container a.rs-carousel-action-next {
  right: 0;
  background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat 11px -290px;
}

.zoom-container a.rs-carousel-action-next:hover {
  background-position: -28px -290px;
}

.zoom-container a.rs-carousel-action-active {
	display: block;
}

.mk-overflow-hidden {
	overflow:hidden;
	height:100%;
}

.close-btn {
	height:25px;
	width:25px;
	padding:10px 0 10px 10px;
	position:absolute;
	top:0;
	right:10px;
	z-index:100;
	cursor:pointer;
}
.close-icon {
	height:25px;
	width:25px;
	background:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -11px -272px transparent;
	cursor:pointer;
	display:block;
}

.vertical-line {
	position: absolute;
	display: block;
	height: 200px;
	width: 1px;
	background: #CCC;
	left: 0;
	top: 46px;
}

.sizechart-old-img{
	max-width:825px;
}

#top-right.go-to-top-btn {
	background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
	background-position: -479px 0;
	cursor: pointer;
	height: 44px;
	width: 30px;
	padding: 0;
	position: fixed;
	right: 20px;
}

#top-right.go-to-top-btn:hover {
	background-position: -514px 0;
}

.mk-product-sidebar {
	width: 188px;
	padding-top: 10px;
}

.mk-product-sidebar div.mk-guarantee,
.mk-product-sidebar .delivery-network {
 	color: #808080;
 	border: 1px solid #d6d6d6;
	border-radius: 4px;
	margin-bottom: 10px;
	position: relative;
}

.mk-product-sidebar .delivery-network {
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	color: #333;
	padding-bottom: 5px;
	line-height: 18px;
}

.mk-product-sidebar .delivery-network .truck-icon {
	width: 20px;
	height: 20px;
	margin: 0 auto;
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -63px 0;
}

.mk-product-sidebar .delivery-network .ul {
	text-decoration: underline;
}

.mk-product-sidebar .mk-guarantee ul {
	padding: 0 0 5px;
	color: #808080;
	font: 12px/15px 'din-med';
	text-transform: uppercase;
	text-align: center;
}
.mk-product-sidebar .mk-guarantee ul li.mk-brand-logo a{
	display: block;
	height: auto;
	margin: 0 auto;
	background: none;
	width: auto;
}

.mk-product-sidebar .mk-guarantee ul li.mk-brand-logo {
	height:auto;
	padding-bottom:0;
}
.mk-product-sidebar .mk-guarantee ul li {
	padding: 4px 0;
	display: block;
}
.mk-product-sidebar .mk-guarantee ul li.link:hover {
	text-decoration: underline;
	cursor: pointer;
}
.mk-product-sidebar .mk-guarantee ul li em {
	font-style: normal;
	text-transform: none;
}
.mk-product-sidebar .mk-guarantee ul li a {
	display: inline-block;
	height: 18px;
	width: 18px;
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat left top;
	margin: 0 5px;
	vertical-align: top;
}

.mk-product-sidebar .mk-guarantee ul li.mk-guarantee a { background-position: 0 0; }
.mk-product-sidebar .mk-guarantee ul li.mk-dispatch a { background-position: -21px 0; }
.mk-product-sidebar .mk-guarantee ul li.mk-cod a { background-position: -41px 0; }
.mk-product-sidebar .mk-guarantee ul li.mk-free-shipping a { background-position: -61px 0; }
.mk-product-sidebar .mk-guarantee ul .icon-new {
	display: inline-block;
	position: absolute;
	bottom: 16px;
	right: 20px;
}

.mk-product-guide .vat-asterisk {
	font-size: 19px;
	vertical-align: top;
}
.mk-product-sidebar .vat-message {
	font-size: 11px;
	color: #808080;
	font-family: arial;
	text-align: center;
	text-transform: none;
}

.mk-product-guide .mk-product-helper {
	border-bottom: 1px solid #d6d6d6;
	border-top: 1px solid #d6d6d6;
	bottom: 0;
	width: 545px;
	text-align: left;
    text-transform: none;
    margin-top: 20px;
    padding-bottom: 5px;	
}

.mk-product-guide .mk-product-helper .desc-type-title {
	text-transform:uppercase;
	font:14px/26px "din-med",arial,sans-serif;
}

.mk-product-guide .mk-product-helper li.desc-text.desc-text-styling{
	border-bottom: 1px solid #d6d6d6;
	padding-left:22px;
	width:521px;
}

.mk-product-guide .mk-product-helper .desc-type-title span.icon{
	display:block;
	height:17px;
	width:17px;
	float:left;
	margin-top:5px;
	margin-right:4px;
	background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll 1px -377px transparent;
	cursor:pointer;
}

.mk-product-guide .mk-product-helper .open-state span.icon{
	background-position:0px -377px;
}

.mk-product-guide .mk-product-helper .close-state span.icon{
	background-position:-17px -377px;
}


.mk-product-guide .mk-product-helper .desc-text {
	line-height:20px;
	max-height:150px;
	overflow:auto;
	width:543px;
	margin:0;
	
}

.mk-product-guide .mk-product-helper .desc-text li{
	line-height:20px;
}

.mk-product-guide .mk-product-helper a {
	text-decoration: none;
	font-weight: bold;
}

.mk-product-guide .mk-product-helper a:hover {
	text-decoration: underline;
}

.bread-crumb-bottom {
	width: 360px;
	padding-top: 4px;
}
.bread-crumb-bottom li {
	font:12px/20px 'din-med';
	color:#333;
	height:20px;
	text-align:center;
}

.mk-product-guide .mk-product-helper .desc-text  strong,.mk-product-guide .mk-product-helper .desc-text  b {
	font-weight:bold;
	padding:3px 0;
	display:block;
}


.mk-product-guide .mk-product-helper li {
	font: 12px Arial;
}

.mk-product-guide .mk-product-helper li.desc-main-title {
	font: 12px/20px 'din-med';
	padding: 5px 0 3px;
	text-transform: uppercase;
	color:#808080;
}

.mk-product-guide .mk-product-helper li a {
	color: #333;
}


.mk-product-guide .or,
.product-guide .or {
		font: 14px/25px 'din-med';
}

.mk-share-links {
	border-top: 1px solid #d6d6d6;
	height: 24px;
	width: 420px;
	padding: 8px 0;
	display: block;
	position: relative;
	bottom: -2px;
	overflow:hidden;
}

.mk-share-links .gm {
	position: absolute;
	left: 15px;
}

.mk-share-links .gm a {
	background:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll -91px -332px transparent;
	display: inline-block;
	margin: 2px 0;
	height: 20px;
	width: 30px;
}

.mk-share-links .gm:hover a {
	background-position: -124px -332px;
}

.mk-share-links .tw,
.mk-share-links .fb,
.mk-share-links .gp,
.mk-share-links .pt {
	background: none;
	position: absolute;
	*height: 21px;
	top: 10px;
}

.mk-share-links .fb {
	width: 90px;
	left: 65px;
}

.mk-share-links .tw {
	width: 90px;
	left: 160px;
}

.mk-share-links .gp {
	width: 65px;
	left: 260px;
}

.mk-share-links .pt {
	width: 90px;
	left: 340px;
}

.mk-share-links .loyalty-widget{
	width: 280px;
	left: 160px;
	text-transform: none;
	color: #808080;
	font: 12px Arial;
	top: 12px;
	height: 16px;
	line-height: 16px;
	background: none;
	position: absolute;
}
.mk-share-links .loyalty-widget .loyalty-msg{
	display: inline-block;
}

.mk-share-links .loyalty-widget .lbl{
	color: #333;
}
.mk-share-links .loyalty-widget .icon-tick{
	background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat -95px -406px transparent;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 3px;
	float: left;
}

.mk-share-links .loyalty-widget img{
	float: left;
	margin-right: 10px;
}


.mk-product-disclaimer-container{
	padding: 5px 0;
	margin-top: 5px;
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
}

.mk-product-disclaimer{
	color: #808080;
	font-size:12px;
	width:300px;
	margin:0 auto;
}

.mk-zoom-loaders{
	position: absolute;
	left: 45%;
	top: 47%;
}

#cod-info .delivery-network {
	text-decoration: underline;
	cursor: pointer;
}

.fest-pdp-text {
    background:#D14747;
    color:#fff;
	border-radius: 4px;
	margin-bottom: 10px;
	position: relative;
    font-size:14px;
    padding:10px 0 6px;
    line-height:1;
    cursor:pointer;
    text-align:center;
}
.fest-pdp-text:hover {
    text-decoration:underline;
}
.sizechart-icon {
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -331px -344px;
    width: 35px;
    height: 10px;
    display: inline-block;
}
.sizechart-icon.hover {
  background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -370px -344px;
}
.sizechart-link-text {
    margin-left: 5px;
    font-size: 12px;
    color: #4490A5;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    line-height: 23px;
}
.sizechart-link-text.hover {
    text-decoration: underline;
}

