.pw-reset {
	text-align: center;
	font-family: 'din-med';
}

.pw-reset .error {
	font: 14px/20px 'din-med';
	color: #d14747;
	margin: 20px;
}

.pw-reset h1{
	color: #333;
	font-size: 35px;
	padding: 15px;
	border-bottom: 1px solid #666;
	margin: auto;
}

.pw-reset form {
	padding: 20px;
	border-bottom: 1px solid #666;
}

.pw-reset label,
.pw-reset input,
.pw-reset .err,
.pw-reset .btn {
	display: block;
	width: 280px;
	margin: 2px auto;
}

.pw-reset hr {
 	width: 360px;
 	height: 1px;
 	border: 0;
 	margin: auto;
	background: #ccc;
}

.pw-reset input {
	width: 262px;
}

.pw-reset .btn {
	width: 200px;
	margin: 12px auto;
}

.pw-reset .err {
	height: 12px;
	padding: 2px 0;
	margin-bottom: 10px;
}

.pw-reset input[type="email"] {
	margin-bottom: 25px;
}
