.returnbox .bd .steps .step {
    height: 340px;
}

.returnbox .subtitle {
    margin: 5px 0 -5px;
}

.returnbox .step-reason {
    width:50%;
    border-right: solid #ccc 1px;
}

.returnbox .step-reason h2, .returnbox .step-agree h2{
   font-size:16px;
   margin-top:10px;
   background: #F2F2F2;
   padding: 5px;
}

.returnbox .step-reason label, .returnbox .step-agree label {
    display: block;
    font-weight: normal;
    margin-top: 20px;
    text-align:center;
    font-size:12px;
}
.returnbox .step-reason label:first-child {
    margin-top: 0;
}
.returnbox .step-reason select {
    text-transform:uppercase;
    margin: 5px;
    width:250px;
}

.returnbox .step-reason option {
    text-transform:uppercase !important;
}
.returnbox .step-reason textarea {
    border: 1px solid #ccc;
    padding: 2px;
    width: 250px;
    height: 70px;
}

.returnbox .step-agree {
    margin:0;
    width:45%;
    float:right;
}

.returnbox .step-shipping p,
.returnbox .step-agree p {
    font-size: 14px;
    margin: 5px 0 15px;
}
.returnbox .step-agree ol {
    padding: 30px 0;
    margin:0 0 10px;
    list-style: decimal;
}
.returnbox .step-agree li {
    margin: 20px 30px 0;
    text-transform: none;
    text-align: left;
    font: 12px Arial;
    color: #000;
    vertical-align: top;
}

.returnbox .step-agree li a {
    vertical-align: top;
}

.returnbox .step-agree li:first-child {
    margin-top:0;
}
.returnbox .step-agree span.jqTransformCheckboxWrapper {
    float:none;
    display:inline-block;
    margin:0;
    vertical-align:center;
}


.returnbox .step-shipping {
    margin:0 100px;
}

.returnbox .step-shipping ul {
    margin:10px 0;
    padding:10px 0;
    border-top:1px solid #d6d6d6;
    border-bottom:1px solid #d6d6d6;
}

.returnbox .step-shipping li {
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:48%;
}
.returnbox .step-shipping li:first-child {
    border-right:1px solid #d6d6d6;
}
.returnbox .step-shipping .ship-type {
    font-size: 14px;
}
.returnbox .step-shipping .ship-note {
    font-size:12px;
}
.returnbox .step-shipping .jqTransformRadioWrapper {
    display:block;
    float:none;
    margin:0;
}


.returnbox .step-summary {
    margin: 5px 150px;
}
.returnbox .step-summary .title {
    font-size: 14px;
}
.returnbox .step-summary .address {
    padding:0 20px;
    font: 12px Arial;
    float:left;
    text-align:left;
    width:30%;
    text-transform: none;
    font-weight:normal;
    margin-left: 75px;
    margin-top: 10px;
}
.returnbox .step-summary .address label {
    color:#808080;
    display:inline;
}
.returnbox .step-summary .amount {
    font-size: 14px;
    margin-top: 20px;
    border-top: solid #CCC 1px;
    padding-top: 20px; 
}

.returnbox .hd .title span {
    float: none;
}

.returnbox .hd .title .success-icon {
    width: 28px;
    height: 28px;
    display: inline-block;
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat: no-repeat;
    background-position: 0 -400px;
    margin: 0 0 -7px -30px;
}

.returnbox .step-confirm {
    margin: 0 60px;
}

.returnbox .step-confirm h3 {
    font-size: 20px;
    margin: 0 0 10px;
}

.returnbox .step-confirm h3 strong {
    font-weight: normal;
    color: #000;
}
    
.returnbox .step-confirm .success-msg {
    margin: 0 auto;
}

.returnbox .step-confirm .success-msg .msg {
    display: inline-block;
    padding: 0 10px;
    margin: 10px 0;
    font-size: 14px;
}

.returnbox .step-confirm ol {
    border-top:1px solid #d6d6d6;
    border-bottom:1px solid #d6d6d6;
    margin: 0;
    padding:10px 0;
    list-style: decimal;
    font: 12px/18px Arial; 
}
.returnbox .step-confirm ol li {
    margin: 5px 30px 0;
    text-transform:none;
    text-align:left;
    list-style: decimal;
}

.returnbox .product-details .pcode {
    color:#808080;
}


.returnbox .step-summary {
    margin: 5px 0;
}
.returnbox .step-summary .title {
    font-size: 14px;
}
.returnbox .step-summary .address {    
    padding:0 10px;
    font: 12px Arial;
    float:left;
    text-align:left;    
    width:50%;
    text-transform: none;
    font-weight:normal;    
    margin-left:10px;
    margin-right:10px;
    margin-top: 10px;
}

.returnbox .step-summary .addr, .returnbox .step-summary .refund-account{
    max-height: 120px;
    overflow-y: auto;
    overflow-x: auto;
    margin: 10px 0;
    width:50%;
    float:left;
}


.returnbox .step-summary .address div label {
    font:12px Arial;
    font-weight:normal;   
    text-transform: none;
    display:inline;
}
.returnbox .step-summary .address .name {
    font-weight:bold;
    color:black;
}
.returnbox .step-summary .amount {
	font-size: 14px;    
    overflow-y: auto;
    overflow-x: hidden;
    clear:both;
}
.returnbox .product-details{      
     width:35%;
     margin:5px 0;
     float:right;
     border-left:1px solid #d6d6d6;
     padding:0 20px;
 }


