.mk-search-results {
	border-bottom: 1px solid #d6d6d6;
}

.mk-search-grid { 
	padding: 20px 0;
	width: 782px;
}

.mk-search-grid ul.mk-last { 
	border: none;
}

.mk-search-grid ul li.mk-product {
	float: left;
	zoom: 1;
	height: 320px;
	margin-right: 10px;
}

.mk-search-grid ul li.mk-last {
	margin: 0;
}

.mk-search-grid .mk-product .quick-look {
	left: 55px;
	top: 198px;
}

.mk-search-grid .mk-product .availability {
	left: 4px;
	width: 180px;
}

.mk-search-grid .mk-product .tooltip-arrow {
	margin: 0 83px;
}

.mk-search-grid .mk-prod-info {
	width: 188px;
	text-align: center;
	position: relative;
}
.mk-search-grid .mk-prod-info h2 {
	font: 12px 'din-med';
	color: #808080;
	padding: 0 4px;
} 

.mk-search-grid .mk-prod-info h4 {
	font: 14px 'din-med';
	color: #333;
	text-transform: none;
	padding: 0 4px;
} 

.mk-search-grid .mk-prod-info .mk-discount {
	font: 12px 'din-med';
	padding: 0 4px;
	display:block;
}

/** Shop Looks **/
.mk-shop-looks {
	padding: 10px 0;
	width: 188px;
	height: auto;
	background: #f2f2f2;
	border-bottom: 1px solid #d4d4d4;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	position: relative;
}

.mk-shop-looks h3 {
	color: #333;
	margin: 20px 0;
	font: 20px/30px 'din-med';
	text-transform: uppercase;
}

.mk-shop-looks .mk-cycle-nav { 
	position: absolute;
	top: 80px;
	left: 70px;
	width: 100px;
	height: 20px;
}

.mk-shop-looks .mk-cycle-nav a {
	display: block;
	float: left;
	margin-left: 5px;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat -59px -22px;
}
.mk-shop-looks .mk-cycle-nav a.activeSlide {
	background-position: -15px -22px;
}
.mk-shop-looks h4 {
	margin-top: 30px;
	font: 20px/19px 'din-med';
	text-transform: uppercase;
}
.mk-shop-looks ul li {
	margin: 0 0 10px;
}

.mk-shop-looks .mk-prod-img {
	position: relative;
	width: 188px;
	height: 251px;
}
.mk-shop-looks .mk-prod-img .mk-prod-brand {
	width: 148px;
	position: absolute;
	top: 0;
	left: 0;
	margin: 110px 0 0;
	text-align: center;
	padding: 0 20px;
}

.mk-shop-looks .mk-prod-img .mk-prod-brand em {
	display: inline-block;
	padding: 5px 10px;
	font: 13px din-med;
	background: #000;
	color: #fff;
	text-transform: uppercase;
}

.mk-left-nav{
	width:188px;
	margin-right:10px;
	height:auto;	
}

.mk-search-contents{
	width:782px;
}

.mk-search-contents.mk-no-results{
	width:980px;
	text-align:center;
}

.mk-more-products-link {
	display: block;
	text-decoration: none;
	width: 770px;
}

.mk-more-products-link .products-left-content{
	color: #808080;
	font-size: 12px;
}

.mk-infscroll-loader{
	width:779px;
	margin-top: 10px;
}

.mk-product{
	width: 188px;
	margin-bottom: 10px;
	position: relative;
	z-index: 0;
}

.mk-product > a > img, 
.mk-product .mk-prod-img img {
	border:4px solid #fff;
	width:180px;
	height:240px;
	border-bottom: 0;
}

.mk-first{
	clear:both;
}

.mk-product-count{
	color:#808080;
	font-size: 20px;
	margin: 5px 0;
}

.mk-amount{
	font-size: 12px;
	color: #333;
	margin: 5px 0px 0px 5px;
	text-align: center;
	text-transform: none;
}

.mk-sizes-filters .mk-labelx_check{
	width:72px;
	float:left;
}

.mk-clear-filter{
	font-size: 12px;
	text-decoration: underline;
	margin-right:5px;
}

.mk-clear-all-filters{
	color:#333;
	font-size: 12px;
	text-decoration: underline;
	cursor:pointer;
	margin-bottom: 5px;
	margin-right:5px;
	text-align:right;
}

.mk-product a{
	text-decoration:none;
}

.mk-resizable-box, #mk-brand-search-results { 
	max-height:150px;
	overflow-y: auto;
	overflow-x: hidden;
}

#mk-brands{
	position:static;
}

.ui-resizable-handle.ui-icon.ui-icon-gripsmall-diagonal-se{
	bottom:0px;
	right:20px;
}

#mk-brand-search-results{
	top:0;
	left:0;
	padding:0;
	margin:0;
}

.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-icon-gripsmall-diagonal-se { width: 11px; height: 10px; background-image: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png);background-position: -196px -12px;}

input[type="text"].brands-autocomplete-input{
	color: #333;
	height: 25px;
	padding: 2px 4px 0;
	margin-top: 1px;
	width: 178px;
	font: 12px/25px 'din-med';
	text-transform: uppercase;
	position: relative;
	top: -3px;
}

.mk-clear-brands-input{
	width: 14px;
	height: 14px;
	background-image: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png);
	top: 5px;
	right: 5px;
	background-position: -39px -255px;
	position: absolute;
	cursor:pointer;
}

.mk-filter-content{
	position:relative;
	margin-bottom: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #D6D6D6;
}

.mk-search-contents .search-icon {
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat -284px 0 transparent;
	width: 29px;
	height: 31px;
	display: inline-block;
	position: absolute;
	top: 4px;
	left: -36px;
}

.sploff{
}

.go-to-top-section{
	background: #F2F2F2;
	padding: 5px 10px 10px 10px;
	display:none;
}
.go-to-top-arrow{
	background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
	background-position:-204px -63px;
    display: block;
    height: 12px;
    margin-bottom: 5px;
    margin-left: 62px;
    *margin-left: 0px;
    width: 40px;
}
.go-to-top-btn{
	cursor:pointer;
	padding: 5px 25px;
	width:160px;
}

.mk-search-results-page-form {
	width: 702px;
	margin: 0 auto;
}

.mynt-layout-new .mk-search-results-page-form {
	width: 320px;
	z-index: 0;
}

.mk-sub-text{
	color:#808080;
	font-size:20px;
}
.mk-help-text{
	font-size:12px;
	line-height: 20px;
}
.mk-no-results-sub-section-first{
	padding-bottom:20px;
}
.mk-no-results-sub-section-second{
	padding-bottom:10px;
}
.mk-no-results-sub-section-third{
	padding-top:30px;
	padding-bottom:30px;
}

.mk-ajax-loader{
	position:absolute;
	left:198px;
	width:782px;
	height:100%;
	background:#ffffff;
	opacity:0.5;
	filter:alpha(opacity=50);
	z-index:1;
	display:none;
}

.mk-ajax-loader-msg{
	position:relative;
	background:url(http://myntra.myntassets.com/skin2/images/loader_search.gif) no-repeat;
	width:60px;
	height:60px;
	top:90px;
	left:360px;
}

.mk-site-main{
	position:relative;
}

#mk-search-description {	
	padding: 20px 30px 10px;
	border: 1px solid #d6d6d6;
	margin-left: 198px;
	width: 720px;
}

#mk-search-description h2 {
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;	
}

#mk-search-description h3,
#mk-search-description strong,
#mk-search-description b {
	display: block;
	font: 14px/20px 'din-med';
	text-align: center;	
	text-transform: uppercase;
	margin: 20px 0 10px;
}

#mk-search-description p {
	text-transform: none;
	font: 12px/18px Arial;
	text-align: justify;
	margin-bottom: 10px;
}

#mk-search-description p a {
	text-decoration: none;
	font-weight: bold;
}
	
#mk-search-description p a:hover {
	text-decoration: underline;
}

.mk-color-swatch{
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) no-repeat;
	width: 12px;
	height: 11px;
	display: block;
	margin: 2px 5px 0px 0px;
	float: left;	
}

.mk-price-asc, .mk-price-desc{
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) -278px -69px;
	width:19px;
	height:9px;
	display: inline-block;
	zoom: 1;
	margin-left: 2px;
}

.mk-price-asc{
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) -254px -69px;
}

.mk-filter-wrapper.mk-price-filters .mk-labelx_check{
	width: 150px;
	padding: 5px 0;
}

.mk-filter-wrapper.mk-price-filters .mk-labelx_check .rbtn{
	display: block;
    float: left;
    width:10px;
	height:10px;
    margin-right: 5px;
    margin-top: 2px;
}

.mk-price-filters{
	text-transform:none;
}
.mk-filter-wrapper.mk-price-filters .mk-labelx_check.unchecked .rbtn{
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) -42px -185px;
}
.mk-filter-wrapper.mk-price-filters .mk-labelx_check.checked .rbtn{
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) -42px -198px;
}
.mk-filter-wrapper.mk-discountpercentage-filters .mk-labelx_check{
	width: 150px;
	padding: 5px 0;
}

.mk-filter-wrapper.mk-discountpercentage-filters .mk-labelx_check .rbtn{
	display: block;
    float: left;
    width:10px;
	height:10px;
    margin-right: 5px;
    margin-top: 2px;
}

.mk-discountpercentage-filters{
	text-transform:none;
}
.mk-filter-wrapper.mk-discountpercentage-filters .mk-labelx_check.unchecked .rbtn{
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) -42px -185px;
}
.mk-filter-wrapper.mk-discountpercentage-filters .mk-labelx_check.checked .rbtn{
	background: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png) -42px -198px;
}

/* Style Details */
.style-details {
  position: absolute;
  z-index: 3500;
  width: 188px;
  background: #fff;
  opacity: .5;
  filter: alpha(opacity=50);
}
.mk-search-grid .style-details ul {
  text-align:left;
  font-size:12px;
  width:188px;
  margin: auto;
  list-style: none;
  padding-left: 0 !important;
}
.style-details ul li:nth-child(2n) {
  float: right;
  margin-right: 0px;
height: 16px !important;
}
.style-details ul li:nth-child(odd) {
  float: left;
  clear: both;
  margin-right: 0px;
	height: 16px !important;
}

/* Style Details */
.mk-prod-name{
	font: 12px 'din-med';
	color: gray;
	padding: 0 4px;
	display:block;
}

.mk-prod-price{
	font: 14px 'din-med';
	text-transform: none;
	padding: 0 4px;
	display:block;
}

.mk-fashion-story {
	border-bottom: 1px solid #d6d6d6;
	font-family: Georgia;
	font-size: 12px;
	text-transform: none;
	margin-bottom: 15px;
	padding: 5px 0;
}

.mk-fashion-story h2 {
	padding-bottom: 10px;
	color: #808080;
	font-family: 'din-med';
	font-size: 25px;
	text-transform: uppercase;
	width: 550px;
	margin: 0 auto;
}

.mk-fashion-story .mk-detail {
	overflow: hidden;
	width: 750px;
	margin: 0 auto;
}

.mk-fashion-story .more-less {
	font-family: 'din-med';
	text-transform: uppercase;
	text-decoration: underline;
}

.mk-fashion-story p {
	width: 450px;
	margin: 0 auto 10px;
	line-height: 1.4;
}

.mk-fashion-story strong {
	font-weight: bold;
}

.mk-fashion-story p:first-child {
	line-height: 1.6;
}

.mk-fashion-story p em {
	font-family: Georgia;
	font-size: 16px;
	font-style: normal;
	line-height: 1.4;
}

.mk-filter-display{
	float:left;
	line-height:16px;
	width:150px;
}

.mk-colour-filters .mk-filter-display{
	width: 130px;
}

#top-right.go-to-top-btn {
	background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
	background-position: -479px 0;
	height: 44px;
	width: 30px;
	padding: 0;
	position: fixed;
	right: 20px;
}

#top-right.go-to-top-btn:hover {
	background-position: -514px 0;
}

.mk-fashion-banners {
	padding: 5px 0 20px;
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 15px;
}

.mk-fashion-banners img {
	width: 386px;
	height: 188px;
}

.mk-fashion-banners a:first-child img {
	padding-right: 10px;
}

.mk-filters-container,
.mk-results-container {
	min-height: 1px;
	position: relative;
}

.mk-filters-container {
	z-index: 0;
	width: 198px;
}

.mk-results-container {
	width: 782px;
}

.boundary-top {
	position: static;
}

.boundary-bottom {
	position: relative;
	top: 0;
	bottom: auto;
}

.fixed-top {
	position: fixed;
	top: 0;
	bottom: auto;
}

.fixed-bottom {
	position: fixed;
	top: auto;
	bottom: 0;
}

.hung {
	position: relative;
	top: auto;
	bottom: auto;
}

#mk-search-results li .colours-lbl {
	font-size: 10px;
	width: 64px;
	padding: 2px 0;
	border: 1px solid #fff;
	border-bottom: 0;
	background: #f2f2f2;
	position: absolute;
	left: 62px;
	top: 228px;
	cursor: pointer;
}

#mk-search-results li .colours-lbl.mk-hover {
	color: #fff;
	background: #63BA3A;
}

#mk-search-results li .mk-colour {
	position: absolute;
	z-index: 1;
	top: 244px;
	left: 4px;
}

#mk-search-results li .mk-colour .tooltip-arrow {
	height: 0;
	width: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #e6e6e6;
	margin: 0 85px;
}

#mk-search-results li .mk-colour .tooltip-arrow-inner {
	height: 0;
	width: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	position: relative;
	top: 2px;
	left: -5px;
}

#mk-search-results li .mk-colour .tooltip-content {
	border: 1px solid #e6e6e6;
	background: #fff;
	padding: 0 24px;
	width: 130px;
}

#mk-search-results li .mk-colour ul {
	padding: 0;
	margin: 1px auto -1px;
	height: 54px;
	overflow: hidden;
	display: inline-block;
}

#mk-search-results li .mk-colour li {
	float: left;
	padding: 0 2px;
}

#mk-search-results li .mk-colour img:hover {
	border-bottom: solid 1px #63BA3A;
}

#mk-search-results li .mk-colour .icon-prev,
#mk-search-results li .mk-colour .icon-next {
	display: none;
	position: absolute;
	top: 15px;
	cursor: pointer;
}

#mk-search-results li .mk-colour .icon-prev.rs-carousel-action-active,
#mk-search-results li .mk-colour .icon-next.rs-carousel-action-active {
	display: block;
}

#mk-search-results li .mk-colour .icon-prev {
	left: 10px;
}
	
#mk-search-results li .mk-colour .icon-next {
	right: 10px;
}

.mk-filter-rem {
	display: none;
	background:#333;
	color:#fff;
	font-size:12px;
	margin-bottom: 5px;
}

.mk-filter-rem .close-rem {
	display:block;
	float:right;
	text-decoration: none;
	margin:5px 5px 0 0;
	width: 9px;
	height: 8px;
	background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat 0 -258px;	
	text-indent: -9999px;
}

.mk-filter-rem .second, .mk-filter-rem .first  { 
	display:none;
}

.mk-filter-rem h4 {
	padding:10px 20px 5px 5px;	
}
.mk-filter-rem p {
	text-transform:none;
	padding:0 5px 10px;
	font-family:Arial;
}
.mk-product-sizes {
	position: relative;
	display: none;
	font-size: 14px;	
}
.mk-product-sizes div {
	position: absolute;
	top: 0;
	left: 0;
}
.mk-product-sizes .mk-saved-size {
	color: #D14747;	
}
.mk-product-sizes .mk-size-text {
	text-decoration: underline;
}
.mk-spl-text .link-synonym {
    text-decoration: none;
}

