/* 
////////////// Myntra ///////////////
// Shopping Bag CSS 
///////////////////////////////////// 
*/ 

.mk-shopping-bag {
	border-top: 1px solid #d6d6d6;
	padding: 15px 0;
	margin-top: 15px;
}

.mk-checkout-steps ul li {
	display: inline-block;
	width: 180px;
	color: #999;
	background: #f2f2f2;
	text-transform: uppercase;
	margin-right: 6px;
	vertical-align: middle;
	padding: 5px 0 1px 8px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-bottom: 1px solid #d4d4d4;
}

.mk-checkout-steps ul li img {
	float:left;
	margin: -2px 3px 0 0;
}

.mk-checkout-steps ul li.mk-last {
	margin-right: 0;
}

.mk-checkout-steps ul li.mk-active {
	background: #000;
	color: #fff;
}

.mk-shopbag-hd {
	margin: 20px 0;
	padding: 10px 0;
}

.mk-shopbag-hd h1 {
	text-align: center;
	font: 35px/39px 'din-med';
	text-transform: uppercase;
}

.mk-shopbag-hd p {
	text-align: center;
	font: 14px/39px 'din-med';
	text-transform: uppercase;
}

.mk-shopbag-hd p a {
	color: #000;
	text-decoration: underline;
}

.mk-cart-totals {
	background: #f2f2f2;
	text-align: center;
	text-transform: uppercase;
	padding: 15px 0;
	border-bottom: 1px solid #d4d4d4;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.mk-cart-totals h2 {
	font: 31px/45px 'din-med';
}

.mk-cart-totals p.mk-rewards {
	/* TODO: remove color, add class 'red' */
	color: #d14747;
	font: 14px/39px 'din-med';
	margin-bottom: 20px;
}

.mk-cart-totals .mk-promo-code {
	width: 320px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	margin-right: 40px;
	padding: 30px 0;
}

.mk-cart-totals .mk-promo-code h3 {
	font: 23px/30px 'din-med';
}

.mk-promo-code p.mk-promo-success {
	display: inline;
	font: 10px 'din-med';
	color: #fff;
	background: #00b060;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 6px 15px;
}

.mk-promo-code p.mk-promo-success em {
	color: #000;
}

.mk-promo-code input {
	margin-top: 13px;
	width: 232px;
	height: 49px;
	border: none;
	border-bottom: 1px solid #e8e8e8;
}

.mk-promo-code input.mk-apply {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #fff;
	border: none;
	text-decoration: underline;
	font: 12px 'din-med';
	margin: 13px 0 0 -5px;
	border-bottom: 1px solid #e8e8e8;
	vertical-align: top;
	text-transform: uppercase;
}

.mk-cart-totals .mk-membership {
	width: 350px;
	margin-left: 50px;
	padding: 30px 0 30px 50px;
	display: inline-block;
	vertical-align: top;
	border-left: 1px solid #d6d6d6;
}

.mk-cart-totals .mk-membership h3 {
	font: 23px/30px 'din-med';
}

.mk-membership p {
	font: 14px/28px 'din-med';
}

.mk-membership p a {
	color: #000;
	text-decoration: underline;
}

.mk-cart-options {
	margin-top: 20px;
}

.mk-cart-options button {
	color: #fff;
	background: #000;
	border: none;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 155px;
	height: 40px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.mk-cart-options a {
	display: block;
	color: #000;
	text-decoration: underline;
}


.mk-cart-items { margin: 20px 0; }

.mk-cart-items ul li {
	border-bottom: 1px solid #e4e4e4;
	padding: 20px 0;
}

.mk-cart-items .mk-item-info {
	text-align: center;
	width: 584px;
	float: left;
	margin-top: 55px;
}

.mk-cart-items .mk-item-info .mk-prod-code { 
	color: #999;
	font: 13px/15px 'din-med';
	text-transform: uppercase;
	display: block;
	margin: 0 0 15px;
}

.mk-cart-items .mk-item-info h2 {
	color: #333;
	font: 20px/20px 'din-med';
	text-transform: uppercase;
	margin: 0 0 15px;
}

.mk-cart-items .mk-item-info .mk-discount { 
	color: #cc3333;
	font: 13px/27px 'din-med';
	text-transform: uppercase;
	display: block;
	margin: 0 0 10px;
}

.mk-cart-items .mk-item-info .mk-prod-size {
	color: #333;
	font: 13px/19px 'din-med';
	text-transform: uppercase;

}

.mk-cart-items .mk-item-options { 
	width: 188px;
	text-align: right;
	margin-top: 55px;
}

.mk-item-options .mk-item-qty .mk-minus,
.mk-item-options .mk-item-qty .mk-plus {
	display:inline-block;
	width: 19px;
	height: 19px;
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat 0 -380px;
}

.mk-item-options .mk-item-qty .mk-plus {
	background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -20px -380px;
}

.mk-item-options .mk-item-qty .mk-qty { 
	display: inline-block;
	height: 19px;
	padding: 0 0 18px;
	vertical-align: middle;
	font: 14px/27px 'din-med';
}

.mk-item-options .mk-subtotal { 
	font: 20px/27px 'din-med';
	text-transform: uppercase;
	display: block;
	margin:10px 0 20px;
}

.mk-item-options ul li a {
	color: #333;
	text-transform: uppercase;
}
.mk-item-options ul li { 
	border-top: 1px solid #e4e4e4;
	padding: 5px 0;
}
.mk-item-options ul li.mk-last {
	border-bottom: 1px solid #e4e4e4;
	border-top: none;
}


.mk-item-totals {
	text-align: right;
	text-transform: uppercase;
	padding: 20px 0;
	border-bottom: 1px solid #e4e4e4;
}

.mk-item-totals div .mk-total-title { 
	display: block;
	color: #333;
	font: 13px/19px 'din-med';
}

.mk-item-totals div .mk-total-values {
	font: 26px/27px 'din-med';
}
.mk-item-totals .mk-total { 
	width: 105px;
}
.mk-item-totals .mk-est-ship {
	width: 285px;
}
.mk-item-totals .mk-total-discount {
	width: 400px;
}
.mk-item-totals .mk-cart-total { 
	width: 190px;
}


.mk-saved-header { 
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 20px;
}

.mk-saved-header h1 {
	text-align: center;
	font: 35px/39px 'din-med';
	text-transform: uppercase;
}

.mk-saved-header .mk-cont-shop {
	text-align: right;
	padding: 20px 0 30px;
}

.mk-saved-header .mk-cont-shop a {
	color: #333;
	text-decoration: underline;
	text-transform: uppercase;
	padding-right: 50px;
}
.mk-saved-header .mk-cont-shop button {
	color: #fff;
	background: #000;
	border: none;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 155px;
	height: 40px;
	text-transform: uppercase;
}

.mk-saved-list .mk-item-options ul li { 
	border-bottom: none;
}




/* Free Item Product Grid ------------------ */
.mk-shopping-bag h1 { margin: 20px 0;}

.mk-free-grid ul {
	padding: 30px 0;
	border-bottom: 1px solid #d6d6d6;
}

.mk-free-grid ul li { 
	float: left;
	width: 188px;
	margin-right:10px;
	text-align: center;
	position: relative;
}

.mk-free-grid ul li.mk-last {
	margin: 0;
}

.mk-free-grid .mk-prod-image .mk-prod-brand {
	position: absolute;
	top: 0;
	left: 0;
	width: 188px;
	margin-top: 200px;
	text-align: center;
}
.mk-free-grid .mk-prod-image em {
	background: #000;
	color: #fff;
	padding: 5px 10px;
	font: 13px 'din-ital';
	text-transform: uppercase;
}

.mk-free-grid ul li .mk-prod-info h3 {
	font: 20px/39px 'din-med';
	text-transform: uppercase;
}

.mk-free-grid .mk-prod-info .mk-prod-price {
	display: block;
	font: 14px/17px 'din-med';
	text-decoration: line-through;
}
.mk-free-grid .mk-prod-info .mk-free {
	font: 11px/15px 'din-med';
	color: #cc3333;
	display: block;
}

.mk-free-grid .mk-prod-info .mk-choose {
	font: 11px/15px 'din-med';
	text-transform: uppercase;
	text-decoration: underline;
} 


