
.shopfest .rupees {
    color:#d14747;
    text-transform:none;
}

.shopfest strong {
    color:#d14747;
    font-weight:normal;
}

.shopfest h1 {
    font-size:35px;
    margin:10px 0;
    text-align:center;
}

.shopfest h2 {
    font-size: 14px;
    margin-bottom: 15px;
}

/*.sfbanner {
  background: #eee;
  border:solid #D6D6D6 5px;
  float:left;
  height:170px;
  width:29%;
  padding: 0px 11px;
  cursor:pointer;
} */

.sfbanner {
	background-color: #D6D6D6;
	background-image: linear-gradient(top, #fff, #D6D6D6);
	/* @alternate */ background-image: -webkit-linear-gradient(top, #fff, #D6D6D6);
	/* @alternate */ background-image: -moz-linear-gradient(top, #fff, #D6D6D6);
	/* @alternate */ background-image: -ms-linear-gradient(top, #fff, #D6D6D6);
	/* @alternate */ background-image: -o-linear-gradient(top, #fff, #D6D6D6);
	position: relative;
	float:left;
 	height:110px;
  	width:29%;
  	padding: 0px 11px;
    cursor:pointer;
    border-bottom: 1px solid #D6D6D6;
}

.sfbanner .winnerMessage {
	font-size: 12px;
	color: #808080;
}
li.center {
 /*margin-left:3px;
 margin-right:3px;*/
}




li.selected {
  background :#fff;
}

.shopfest li.selected .opt { 
  visibility: visible;
}

.shopfest li .opt {
  display: block;
  visibility: hidden;
  width: 40px;
  height: 8px;
  background-image: url("https://d6kkp3rk1o2kk.cloudfront.net/skin2/images/sprite-global_v65.png");
  background-repeat: no-repeat;
  background-position: -423px -24px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -30px;
}


li.seperator {
	float: left;
	height: 110px;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid #D6D6D6;
}


.shopfest ul li h2 {
	text-align:center;
    margin:5px 5px 0px 5px;
    font-size:30px;
}

.shopfest ul {
       overflow:hidden;
       padding: 10px;
}

.shopfest ul p{
	text-align:center;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
    text-transform:none;
    color: #333;
}

.shopfest ul p.timeleft {
	position: absolute;
	bottom: 0px;
	width: 95%;
	padding: 10px 0px;
	text-align:bottom;
	font-family: din-med;
	color: #808080;
}

.shopfest .tab-content {
    text-align:center;
    margin-top:24px;
}

.shopfest .about {
    font-size:12px;
    font-family: Arial, sans-serif;
    text-transform: none;
    padding:0 8em;
    margin:0 5px;
    color:#333;
    margin-bottom: 10px;
}

.shopfest .note {
    margin:10px 0;
}

.shopfest .stats {
    width:660px;
    margin:10px auto;
    overflow:hidden;
}

.shopfest .toppers table {
    /*
    border-collapse:separate;
    border-spacing:2px;
    */
    border:1px solid #ccc;
    font-size:13px;
}
.shopfest .toppers table thead,
.shopfest .toppers table tbody,
.shopfest .toppers table tfoot {
    border-color:#ccc;
}
.shopfest .toppers thead td {
    /* border-bottom:1px solid #ccc; */
}
.shopfest .toppers table .name {
    text-align:left;
    padding-left:10px;
}
.shopfest .toppers table .amount {
    text-align:right;
    text-transform:none;
    padding-right:10px;
}
.shopfest .toppers th,
.shopfest .toppers td {
    padding:10px 0px;
    font-size:14px;
}
.shopfest .toppers tbody td {
    color:#808080;
}
.shopfest .toppers .filler td {
    height:14px;
    overflow:hidden;
    padding:0;
    line-height:1;
}

.shopfest .toppers .top-all {
    float:left;
    width:320px;
    height:242px;
}
.shopfest .toppers .top-women {
    float:right;
    width:320px;
    height: 116px;
}
.shopfest .toppers .top-men {
    float:right;
    clear:right;
    margin-top:13px;
    width:320px;
    height: 116px;
}

.shopfest .current-spending{
    background: url('http://myntra.myntassets.com/skin2/images/sprite-global_v65.png') no-repeat -137px -92px; width: 16px; height: 16px;
    float:left;
    position:relative;
    bottom:-2px;
    z-index:10;
}


.shopfest .current-spending span{
    position: relative;
    top: -20px;
}

.shopfest .v-line {
  border:solid black 1px;
  width:0px;
  height:15px;
  float:left;
}

.shopfest .v-line span {
    position:relative;
    bottom:-20px;
    left:-40px;
}

.shopfest .h-line {
  border:solid black 1px;
  width:316px;
  height:0px;
  float:left;
  margin-top:7px;
  margin-left:-16px;
}


.shopfest .line-container {
  overflow:hidden; 
  padding:40px 80px;
}

.shopfest .line-container p {
	float:left;
        margin:40px;
 }
.shopfest .winners {
    margin:10px 5px;
    border-top:1px solid #ccc;
    padding-top: 10px;
}

.shopfest .winners ol {
   width: 980px;
   height: 220px;
   margin: 20px auto;
}

.shopfest .winners h3 {
    font-size:13px;
    margin:10px 0;
}

.shopfest .winners li {
    display:inline-block;
    width:96px;
    height: 196px;
    margin: 0px 18px;
    float: left;
}

.shopfest .winners li span {
    font-size: 12px;    
}

.shopfest .winners li img {
    width:96px;
    height: 128px;    
}
.shopfest .winners .name {
    display:block;
    font-size:12px;
    padding:5px;
    text-align:center;
    color:gray;
}

.shopfest .jackpot h3 {
    font-size:15px;
    margin:10px 0;
}
.shopfest .jackpot .prize {
    height:200px;
    background:#f1f2f3;
    overflow:hidden;
    margin:10px 5px;
}


.shopfest .jackpot-winners h3 {
    font-size: 15px; 
    margin: 10px 0;
}

.shopfest .jackpot-winners {
    padding:10px;
    margin:5px;
    font-size:13px;
    border-top:solid #CCC 1px;
}

.shopfest .jackpot-winners span.name{
    color:gray;
    display:inline-block;	
}

.shopfest .tab-content {
    display:none;
}
.shopfest .tab-content.selected {
    display:block;
}

.shopfest .inactive{
      border:solid #ccc 1px;
      color:#ccc;
}

.shopfest .assured img.prizes{
     height:250px;
     width:49%;
}

.termsandconditions {
	width: 660px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;	
	font-size: 12px;
	text-transform:none;
	font-family: Arial, Sans-Serif;
	font-weight: normal;
}

.termsandconditions h2 {
	text-align: center;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
}

.termsandconditions h3 {
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Sans-Serif;
}

.termsandconditions ol {
	padding-left: 3em;
}

.termsandconditions ol li {
	list-style-type: disc;
}

.clockicon {
	width: 17px;
	height: 17px;
	float: left;
	display: block;
	background: url('http://myntra.myntassets.com/skin2/images/clock_icon-01.png') no-repeat -37px -32px;
	position: relative;
	top: -2px;
	right: -6px;
}
