#sizechart a.disabled {
    visibility: hidden !important;
    display:block !important;
}
#sizechart-new,#sizechart-old {
  cursor: pointer;
  line-height: 25px;
  height: 25px;
  margin: 0 auto;
  font-size:12px;
  color:#808080;
  padding:0;
}
#sizechart-new.link-btn {
    text-decoration: none;
}
/* paroksh */
#jealous-fit-guide { /*for the button*/
  cursor: pointer;
  line-height: 25px;
  height: 25px;
  margin: 0 auto;
  font-size:12px;
  color:#808080;
  padding:0;
}
/* for the pop up window */
.jealous-fitguide-table{
    padding: 10px 20px;
    text-align: center;
}

.jealous-fitguide-table tr td,
.jealous-fitguide-talbe tr th {
    padding: 8px 8px;
    border-collapse:collapse;
    text-align: center;
    vertical-align: top;
    
}
.jealous-fitguide-table .first{
    background-color:#A9A9A9;
}
.jealous-fitguide-table .even{
     background-color:#F5F5F5;
}
.jealous-fitguide-table tr span{
    font-size:10px;
    color: LightSlateGray ;
        
}
.jealous-fitguide-info{
    text-align: center;
    padding: 5px;
}


/* new pop up box */

.fitguidebox .mod{
    width:890px;
    min-height: 500px;
    font-size:12px;
}

.fitguidebox .hd .title {
        font-size:25px;
    zoom: 1;
}
.fitguidebox .hd .tag {
    font-size:12px;
}
.fit-info ul{
    text-align:center;
    color: #666666;
    text-transform:capitalize;
    margin-top:40px;
    margin-left:30px;
}
.fit-table{
    width:100%;
}

.fit-info .footer_text{
    text-align:center;
}
.fit-info{
    max-width: 460px;
}
/* paroksh end */
#lb-sizechart .hd {
    padding:12px 0 8px;
}
#lb-sizechart .mod{
overflow:hidden;
}
#lb-sizechart .ft {
    margin: 10px 0 0px;
    padding: 0 20px 0 0;
    font-size: 12px; 
    color: #808080;
    text-align: center;
    text-transform: none;
    font-family: arial, sans-serif;
    line-height: 15px;
    position: absolute;
    left: 24px;
    bottom: 90px;
    width: 437px;
}

.size-val .rs-carousel-mask,.rowCont .size-scroll-btns ul{
  color: #000;
  border-top: solid 1px #e3e3e3;
  background-color: #b8b8b8;
  background-image: -webkit-linear-gradient(top,#e3e3e3,#b8b8b8);
  /* @alternate */ background-image: -moz-linear-gradient(top,#e3e3e3,#b8b8b8);
  /* @alternate */ background-image: -ms-linear-gradient(top,#e3e3e3,#b8b8b8);
  /* @alternate */ background-image: -o-linear-gradient(top,#e3e3e3,#b8b8b8);
}
.size-val-sel, .size-val-sel-inactive {
  color: #fff;
  background-color: #666;
  background-image: -webkit-linear-gradient(top,#666,#000);
  /* @alternate */ background-image: -moz-linear-gradient(top,#666,#000);
  /* @alternate */ background-image: -ms-linear-gradient(top,#666,#000);
  /* @alternate */ background-image: -o-linear-gradient(top,#666,#000);
}
.size-val li:hover {
  color: #000;
  border-top: none;
  background-color: #e3e3e3;
  background-image: -webkit-linear-gradient(top,#b8b8b8,#e3e3e3);
  /* @alternate */ background-image: -moz-linear-gradient(top,#b8b8b8,#e3e3e3);
  /* @alternate */ background-image: -ms-linear-gradient(top,#b8b8b8,#e3e3e3);
  /* @alternate */ background-image: -o-linear-gradient(top,#b8b8b8,#e3e3e3);
}
.size-val .size-val-sel:hover, .size-val .size-val-sel-inactive:hover {
  color: #fff;
  background-color: #666;
  background-image: -webkit-linear-gradient(top,#666,#000);
  /* @alternate */ background-image: -moz-linear-gradient(top,#666,#000);
  /* @alternate */ background-image: -ms-linear-gradient(top,#666,#000);
  /* @alternate */ background-image: -o-linear-gradient(top,#666,#000);
}
.lb-sizechart .bd {
  position: relative;
  overflow:hidden;
}
.lb-sizechart ul {
  padding: 0;
  width: 300px;
  margin: 0 auto;
  list-style-type: none;
}
.lb-sizechart ul li {
  float: left;
  list-style-type: none;
  width: 50px;
  text-align: center;
  padding: 9px 0;
  border-right: solid 1px #f2f2f2;
  cursor: pointer;
  position: relative;
  font-size:14px;
}
.lb-sizechart .tab-btns ul li {
    padding: 6px 15px !important;
}
.lb-sizechart .tab-btns ul li.disabled-tab {
    background-color: #fff;
    border-right: 0;
}
.lb-sizechart ul li.no-border {
  border: none;
}
.lb-sizechart ul li.size-label {
  width: 120px;
  text-align: left;
}
.lb-sizechart ul li.size-inactive {
  color: #999;
  cursor: pointer;
}
.lb-sizechart ul li.size-val-sel-inactive {
  color: #fff;
}
.out-of-stock {
  color: #000;
  display: block;
  position:absolute;
  height: 22px;
  text-align: center;
  width: 276px;
  visibility: hidden;
  padding-top: 6px;
  bottom:-32px;
  left:65px;
}
.strike-line {
  height: 1px;
  width: 46px;
  display: block;
  background: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png") no-repeat scroll 6px -606px transparent;
  position: absolute;
  left: 3px;
  top: 50%;
}
.visible {
  visibility: visible;
}
.lb-sizechart .equi-sizes li {
  cursor: auto;
}
.odd li {
  background: #f2f2f2;
}
#sub-btn {
  float: right;
  width: 100%;
  text-align: center;
  margin: 30px 0 20px;
}
.sub-btn {
  display: block;
  width: 180px;
  margin:0 auto;
 
}

.measure-info {
  padding: 3px 0 0;
  position: relative;
  zoom: 100%;
}
.measure-info span{
  color: #333;
  cursor: pointer;
  text-decoration:underline;
}

.measure-info p {
  color: #999;
  font-size: 11px;
  margin: 8px 0 0;
  font-family:arial;
  text-transform:none;
}

.lft-cont {
  width: 460px;
  float:left;
}
.rgt-cont {
  width: 370px;
  position: relative;
  height: 400px;
  float:right;
}
.size-label {
  width: 73px;
  padding: 9px 0 3px;
  height:23px;
}
.size-scroll-btns .mask,.rowCont .size-scroll-btns ul{
  float: left;
  margin:0;
  width: auto;
}
.size-scrollable {
  width: 254px;
  position:relative;
  left: 12px;
}
.rowCont {display:block;}
.rowCont .size-scrollable {height:35px;left:12px;}

.size-scroll-equi {
  left: 12px;
  height:35px !important;
}
.size-scrollable .size-items {
  clear: both;
  padding-left: 0;
  left:0;
  height:35px !important;
}
.size-scrollable-box, .size-non-scrollable-box {
  margin: 0 0 4px;
  float: left;
  position:relative;
}
div.size-scrollable-box {
    float:none;
    width: 400px;
    margin: 4px auto;
}

.size-scrollable-box a.rs-carousel-action {
  height: 12px;
  background: transparent url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
  width:12px;
  position:absolute;
  text-indent:-99999px;
  top:10px;
  display: none;
}
.size-scrollable-box a.rs-carousel-action-active {
  display: block;
}
.size-scroll-equi a.rs-carousel-action-active {
    display: none;
}
.size-scrollable-box a.rs-carousel-action-next, .size-scrollable-box a.rs-carousel-action-next:hover {
  background-position: -87px -17px;
  right:-12px;
}
.size-scrollable-box a.rs-carousel-action-prev, .size-scrollable-box a.rs-carousel-action-prev:hover {
  background-position:-100px -17px;
  left:-12px;
}
.measurement {
  display: block;
  height: 20px;
  width: auto;
  position: absolute;
  text-align: center;
  font-weight:normal;
  font-size:13px;
  text-transform:none;
  z-index: 3;
}
.apparel-text {
  color: #666;
}
.foot-size {
  position: absolute;
  z-index: 10;
  left: 5px;
  top: 3px;
  font-size: 11px;
}
.size-image {
  z-index: 2;
  width: 370px;
  height: 400px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.main-image {
  width: 370px;
  height: 400px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-position: 0 0;
  z-index: 1;
}


.brand-logo-cont {
  position:absolute;
  bottom:15px;
  width:460px;
  left:25px;
}

.box-type {
    color:#666;
    font-size:14px;
    padding:8px 0 0;
}
.tab-btns {
    margin-bottom: 40px;
}
.tab-btns ul {
    width: 460px;
}
.tab-btns ul li { 
    width: auto!important; 
    padding: 6px 10px!important;
    height: 16px;
}
.lb-sizechart .tab {
    margin-top: 15px;
}
.tab-btns ul li.disabled-tab {
    width:20px;
    cursor: default;
    border-bottom: 1px solid #D6D6D6; 
    background-color: #F2F2F2; 
}
.link-tab {
    text-shadow: 1px 1px #F2F2F2; 
    background-color: #F2F2F2; 
    text-decoration: underline;
    border-top: none;
    border-bottom: 1px solid #D6D6D6;
}
.active-tab {
    cursor: default!important;
    border-top: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6 !important;
    border-left: 1px solid #D6D6D6;
    border-bottom: none;
}
.measure-guide {
  overflow-y: auto;
  max-height: 235px;
  width: 440px;
  overflow-x: hidden;
  border-top: 1px dotted #b3b3b3;
  border-bottom: 1px dotted #b3b3b3;
  padding: 6px 20px 6px 0;
}
.measure-guide ul {
    font-family: arial,sans-serif;
    margin: 0 0 5px 0;
    width: auto;
}
.measure-guide div {
    text-align: left;
    font-size: 12px;
    color: #666;
    margin: 6px 0;
}
.measure-guide ul li {
    float: none;
    text-transform: none;
    text-align: left;
    padding: 1px;
    border: 0px;
    font-size: 12px;
    list-style-type: disc;
    color: #666;
    cursor: default!important;
    width: 100%;
    margin-left: 17px;
}
.measurement-type-text {
  float: right;
  position: relative;    
  z-index: 3;
  color: #808080;
  font-size: 11px;
  width: 370px;
  text-align: center;
  text-transform: none;
  font-family: arial,sans-serif;
}
.brand-size-title-container {
    margin-bottom: 10px;
}
.brand-size-title {
    padding: 5px;
    font-size: 1.05em;
    font-family: arial;
    text-transform: none;
}
.brand-size-title.tooltip {
    background-color: #FFFAE1;
    border: 1px solid #FFFAE1;
    box-shadow: 0 1px 3px #666;
    /* @alternate */  -moz-box-shadow: 0 1px 3px #666;
    /* @alternate */  -webkit-box-shadow: 0 1px 3px #666;
    border-radius: 2px;
    /* @alternate */  -moz-border-radius: 2px;
    /* @alternate */  -webkit-border-radius: 2px;
}
.brand-size-title-arrow {
    border-width: 11px 11px 0;
    bottom: -9px;
    border-style: solid;
    border-color: #d6d6d6 transparent transparent;
    margin: 0 auto;
    width: 0px;
    height: 0px;
    z-index: 1001;
    position: relative;
    top: 2px;
}
.brand-size-title-arrow-inner {
    border-width: 10px 10px 0;
    bottom: -9px;
    border-style: solid;
    border-color: #FFFAE1 transparent transparent;
    margin: 0 auto;
    width: 0px;
    height: 0px;
    z-index: 1001;
    position: relative;
    top: -11px;
}
.brand-size-title b{
    font-weight: bold;
}
.brand-size-title.selected {
    color: #808080;
}
.brand-size-selectors .unselected select {
    font-weight: normal;
}
.brand-size-selectors select {
    width: 200px;
    padding: 5px;
    margin: 3px;
    font-weight: bold;
}
.brand-size .suggested {
    margin-top: 10px;
    border-top: 1px solid #D6D6D6;
}
.fit-comparison-title {
    margin-top: 10px;
}
.best-fit-size-text {
    margin: 10px;
    font-size: 14px;
    height: 30px;
}
div.measurementsdiff {
    font-size: 11px; 
    font-family:verdana, arial; 
    text-transform: none; 
    overflow-y: auto; 
    max-height: 120px; 
    margin-top:10px;
    width: 100%
}
div.measurementsdiff ul {
    font-size: 12px; 
    list-style: 
    square;
    text-align:left;
}
div.measurementsdiff ul li {
    float:none; 
    font-size: 12px; 
    list-style-type: inherit; 
    width: auto; 
    text-align: left;
}
div.measurementsdiff li ul {
    font-size: 11px; 
    list-style: 
    circle;
}
div.measurementsdiff li ul li {
    float:none;
    font-size: 12px; 
    list-style-type: inherit; 
    width: auto; 
    text-align: left;
}
.brand-size .size-btn {
    margin: 0 3px 5px;
    padding: 0 8px;
}
.brand-size .suggested-sizes {
    margin-top: 40px;
    height: 45px;
}

.brand-size .suggested-sizes .best-fit.highlighted {
    box-shadow: inset 0 0 0 2px;
}
.size-unavailable-text-container {
    height: 15px;
}
.size-unavailable-text {
    color: #D14747;
    font-size: 14px;
}
.brand-size .size-btn.unavailable.selected {
    background: none repeat scroll 0 0 #D14747;
    color: white;
}
.brand-size .select-size-div {
    border-top: 1px dashed #cccccc;
    padding: 10px;
}
.primary-btn.select-size{
    width: 200px;
}
.brand-size .measurement-diff-text {
    color: #808080;
    padding: 10px;
    font-family: arial;
    text-transform: none;
}
.measurement-tooltip {
    width: auto;
    background-color: #D14747;
    color: white;
}
.myntra-tooltip.measurement-tooltip.closest-fit {
    background-color: #000;
    border: 1px solid #000;
}

.myntra-tooltip.measurement-tooltip.closest-fit .arrow-bottom-inner {
    border-color: #000 transparent transparent;
}
.myntra-tooltip.measurement-tooltip {
    background-color: #D14747;
    border: 1px solid #D14747;
    padding: 5px 10px;
}
.myntra-tooltip.measurement-tooltip .arrow-bottom-outer {
    display:none;
}
.myntra-tooltip.measurement-tooltip .arrow-bottom-inner {
    border-color: #D14747 transparent transparent;
}
