/* 
    Document   : style
    Created on : 19 Nov, 2012, 3:41:49 PM
    Author     : ravenclaw
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.product-frame{
    width : 1300px;
}
.product{
    width: 250px;height: 250px;padding: 20px;float: left;
}
.product_image{
    width: 206px;height: 206px;
}

.action_text{
    width: 200px;padding: 5px;
}
