.mk-static-pages {
	text-align: center;
	margin-bottom: 20px;
}

.mk-static-pages strong {
	font-weight: bold;
}

.mk-static-pages em {
	font-style: italic;
	color: #000;
}

.mk-static-pages .price-text em {
        font-style: italic;
        color: #D14747;
}
.mk-static-pages .center {
	text-align: center;
}

.mk-static-pages h1 {
	margin: 0.5em 0;
	font-size: 35px;
}

.mk-static-pages hr {
	height: 1px;
	border: 0;
	background-color: #d6d6d6;
	background-image: -webkit-linear-gradient(left, rgba(214,214,214,0.25), rgba(214,214,214,0.75), rgba(214,214,214,0.25)); 
	/* @alternate */ background-image: -moz-linear-gradient(left, rgba(214,214,214,0.25), rgba(214,214,214,0.75), rgba(214,214,214,0.25)); 
    /* @alternate */ background-image: -ms-linear-gradient(left, rgba(214,214,214,0.25), rgba(214,214,214,0.75), rgba(214,214,214,0.25)); 
    /* @alternate */ background-image: -o-linear-gradient(left, rgba(214,214,214,0.25), rgba(214,214,214,0.75), rgba(214,214,214,0.25)); 
}

.mk-static-pages .mk-mynt-content {
	width: 100%;
	text-align: justify;
	margin: 0 auto;
	position: relative;
}

.mk-static-pages .mk-mynt-content h2 {
	font: 25px 'din-med';
	margin: 0.5em 0;
}

.mk-static-pages .mk-mynt-content h3 {
	padding: 1em 0; 
	border-width: 1px 0 0;
	border-style: solid;
	border-color: #d6d6d6;
	font: 20px 'din-med';
	text-align: center;
}

.mk-static-pages .mk-mynt-content .no-border {
	border: 0;
}

.mk-static-pages .mk-mynt-content h4 {
	font: 14px/1.5 'din-med';
	text-align: center;
}

.mk-static-pages .mk-mynt-content h5 {
	color: #999;
	font: 14px/2 'din-med';
	text-align: center;
}

.mk-static-pages .mk-mynt-content h6 {
    padding: 1em 0; 
	border-width: 1px 0 0;
	border-style: solid;
	border-color: #d6d6d6;
    font: 14px/1.5 'din-med';
    text-align: center;    
 }

.mk-static-pages .mk-mynt-content a {
	color: black;
	text-decoration: underline;
}

.mk-faqs .mk-mynt-content .mk-collapse-control {
	text-decoration: none;
}

.mk-faqs .mk-mynt-content .mk-collapse-control:hover {
	text-decoration: underline;
}

.mk-static-pages .mk-left-column {
	font: 13px/1.5 Arial, sans-serif;
	float: left;
	width: 594px;
	zoom: 1;
}

.mk-static-pages .mk-centre-column {
	font: 13px/1.5 Arial, sans-serif;
	width: 640px;
	margin: 0 auto;
	zoom: 1;
}

.mk-static-pages .mk-left-column .mk-collapse-control {
	cursor: pointer;
}
	
.mk-static-pages .mk-left-column .mk-collapse-content {
	display: none;
	width: 594px;
	padding-bottom: 15px;
	text-transform: none;
}

.mk-static-pages .mk-centre-column p,
.mk-static-pages .mk-left-column p {
	margin-bottom: 1.5em;
	text-transform: none;
}

.mk-static-pages .mk-centre-column ul,
.mk-static-pages .mk-centre-column ol,
.mk-static-pages .mk-left-column ul,
.mk-static-pages .mk-left-column ol {
	margin: 0 1.5em 1.5em 0;
	padding-left: 3em;
	text-transform: none;
}

.mk-static-pages .mk-centre-column ul li,
.mk-static-pages .mk-left-column ul li {
	list-style:disc;
}

.mk-static-pages .mk-centre-column ol li,
.mk-static-pages .mk-left-column ol li {
	list-style:decimal;
}

.mk-static-pages .mk-left-column img {
	vertical-align:top;
}

.mk-static-pages .mk-right-column {
	float: left;
	width: 346px;
	padding-left: 40px;
	zoom: 1;
}

.mk-static-pages .mk-right-column.fixed {
	position: absolute;
	top: 50px;
	width: 286px;
	-webkit-border-radius: 5px;
	/* @alternate */ -moz-border-radius: 5px;
	/* @alternate */ border-radius: 5px;
	padding: 20px 30px;
	margin-left: 634px;
	*margin-left: 40px;
	font: 13px/1.5 Arial, sans-serif;
	background: #eee;
	zoom: 1;
}

.mk-static-pages .mk-right-column.fixed ul {
	margin: 1em 0;
}

.mk-static-pages .mk-right-column.fixed a {
	text-transform: none;
}

.mk-static-pages .mk-right-column.fixed h4 a {
	text-transform: uppercase;
}

.mk-static-pages .mk-right-column.fixed h3 {
	color: #999;
	border: 0;
}

.mk-static-pages .mk-right-column.fixed h3 a {
	color: #000;
}

.mk-mrp-blocks{
	text-align:center;
}
.mk-mrp-block{
	width:44%;
	float:left;
}
.mk-mrp-page h6{
	text-align:center;
	margin-bottom:10px;
	font:14px din-med;
	text-transform:uppercase;	
}
.mk-mrp-page ul.mk-refer-friends-content{
	padding-top:10px;
}
.mk-mrp-page div, .mk-mrp-page ul{
font: 12px Arial, 'Sans-Serif';
line-height:20px;
margin-bottom: 1.5em;
text-transform: none;
text-align:left;
}

.mk-mrp-page div.mk-bordered{
	border-bottom: 1px solid #d6d6d6;
	padding-bottom:20px;
	margin-bottom:10px;
}

.mk-mrp-page ul.mk-bullets{
	margin:0;
	padding:0 0 0 30px;
}

.mk-mrp-page ul.mk-bullets li{
	list-style-type:disc;
}

.mk-mrp-page .mk-mrp-faqs{
	padding-top:20px;
	width:640px;
	margin:0 auto;
}

.mk-mrp-page .mk-mrp-head-text, .mk-mrp-page .mk-mrp-sub-text, .mk-mrp-page .mk-mrp-block a{
	text-align:center;
	text-decoration:none;
}

.mk-mrp-page .mk-mrp-blocks{
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	padding: 20px 0 20px 0;
	margin:0;
}

.mk-mrp-page .mk-mrp-head-text{
	font-size: 20px;
	text-transform: uppercase;
	font-family: din-med;
	color:#333;
}

.mk-mrp-page .mk-mrp-sub-text{
	text-transform: uppercase;
	font-family: din-med;
	color: #666;
	width: 300px;
	margin: 0 auto;
	height: 80px;
	font-size:13px;
}

.mk-mrp-page div.mk-mrp-block{
	text-align:center;
	padding: 20px;
}

.mk-static-pages .mk-mynt-content .mk-mrp-block a.primary-btn{
	color:#fff;
}

.mk-mrp-page .mk-mrp-block-left{
	background:#E5F7FD;
	margin-right: 20px;
}

.mk-mrp-page .mk-mrp-block-right{
	background:#EEF5EB;
}

.mk-mrp-page .mk-mrp-block a.mk-refer-link, .mk-mrp-page .mk-mrp-block a.mk-sign-up-link{
	width:156px;
}

.mk-recently-viewed .mk-recent-viewed {
	background: transparent;
	border-bottom: 0;
}

.mk-recently-viewed .mk-recent-viewed h4 {
	display: none;
}

.mk-recently-viewed .mk-recent-viewed ul.mk-recent-viewed-ul {
	height: auto;
}

.mk-recently-viewed .mk-recent-viewed li {
	padding: 20px;
	margin: 0;
	border-bottom: 1px solid #d6d6d6;
}

.mk-recently-viewed .mk-recent-viewed li .quick-look {
	left: 56px;
}

.mk-recently-viewed .mk-recent-viewed li .inline-add-block {
	left: 20px;
	bottom: 20px;
}

#returns-hindi .body-text {
	font: 14px/20px Arial;
}

#returns-hindi .btn-ok {
	margin-top: 0;
}

.action-block {
	width: 400px;
	margin: -5px auto 20px;
	background: #f2f2f2;
	padding: 5px 0 10px;
	text-align: center;
}

.mk-mynt-content .action-block h3 {
	padding: 5px;
	border: 0;
}

.mk-mynt-content .action-block a {
	text-decoration: none;
	margin: 10px 0;
	width: 200px;
}

.mk-mynt-content .action-block p {
	font: 12px/18px 'din-med';
	text-transform: uppercase;
	margin: 0;
}



/***Loyalty related tnc in terms  **/

.loyalty-terms .tnc-term-title{
	font-weight: bold;
}
.loyalty-terms ul li {
	padding: 0px;
	margin: 7px 0px 0px 10px;
	font-size: 12px;
	text-align: left;
	font-weight: normal;
}
.mk-static-pages .mk-centre-column.loyalty-terms ul li{
	list-style: none;
}

.mk-static-pages .mk-centre-column.loyalty-terms ul{
	padding-left: 0px;
}

.mk-static-pages .faq-table {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px; 
	border:1px solid #cccccc; 
	border-collapse:collapse;
	width: 620px;
}
.mk-static-pages .faq-table td.caption,
.mk-static-pages .faq-table th{
	background-color: #f2f2f2;
	border:1px solid #cccccc;
	padding: 4px;
}

.mk-static-pages .faq-table td{
	border:1px solid #cccccc;
	padding: 4px;
}

/** Loyalty Static page designed and given my marketing **/ 
/* Not changing the style any where in the page and putting it as it is */
.loyalty-static-page{
	margin-top: 20px;
	text-transform: none;
}
.loyalty-static-page b{
	font-weight: bold;
}

.loyalty-static-page ol li{
	list-style: decimal;
}

.loyalty-static-page .special-table td{
	padding: 7px;
}

.accord-header{cursor:pointer; font-weight:bold; padding-bottom:10px;}
.accord-content {display: none; padding-bottom:15px; padding-left:20px; }