
.vtr-products {
    width:498px;
    float:left;
    background:#FFF;
    position:relative;
    font-size:12px;
}
.vtr-products .loading-spinner {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    opacity:0.8;
    background-color:#fff;
    background-image:url(http://myntra.myntassets.com/skin2/images/loader_transparent.gif);
    background-repeat:no-repeat;
    background-position:center center;
    display:none;
    z-index:11; /* jScrollPane scroll bar has z-index:10 */
}
.vtr-products .lpane {
    width:188px;
    float:left;
}
.vtr-products .lpane .reset-filters {
    text-decoration:underline;
    color:#808080;
    font-size:10px;
    float:right;
}
.vtr-products .lpane .search-form {
    padding:5px;
    position:relative;
    background:#f1f2f3;
}
.vtr-products .lpane .search-form input[name="query"] {
    border:1px solid #D6D6D6;
    padding:5px 22px 5px 5px;
    width:148px;
    height:14px;
    font-family:arial,sans-serif;
}
.vtr-products .lpane .search-form button {
    position:absolute;
    right:6px;
    top:10px;
    width:17px;
    height:17px;
    overflow:hidden;
    border:0 none;
    cursor:pointer;
    background-color:transparent;
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    background-position:-217px -10px;
    text-align:left;
    text-indent:-100px;
}
.vtr-products .lpane .search-form .close {
    position:absolute;
    right:10px;
    top:11px;
    width:14px;
    height:14px;
	background-image: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png);
    background-repeat:no-repeat;
	background-position:-39px -255px;
    cursor:pointer;
    display:none;
}
.vtr-products .lpane .tab {
    display:block;
    text-align:left;
    margin:6px 0;
    color:#808080;
    font-size:14px;
    text-decoration:none;
}
.vtr-products .lpane .tab .ico {
    display:inline-block;
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    background-position:-105px 0;
    width:10px;
    height:10px;
    margin:2px 2px 0 0;
}
.vtr-products .lpane .tab.selected {
    color:#000;
}
.vtr-products .lpane .tab.selected .ico {
    background-position:-90px 3px;
}
.vtr-products .top {
    border-bottom:1px solid #bbb;
    overflow:hidden;
    font-size:13px;
    height:19px;
    background-color:#f1f2f3;
}
.vtr-products .listing-info {
    float:right;
    width:285px;
    padding:3px 10px 0 0;
    color:#808080;
}
.vtr-products .listing-info strong {
    color:#000;
}
.vtr-products .sorting {
    float:right;
}
.vtr-products .filters {
    /*border-bottom:1px solid #d6d6d6;*/
}
.vtr-products .filter .color-swatch {
    background-image: url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    display: inline-block;
    height: 11px;
    margin: 2px 5px 0 0;
    width: 12px;
}
.vtr-products .filter {
    border-bottom:1px solid #e6e6e6;
}
.vtr-products .filter:first-child {
    border-top:1px solid #e6e6e6;
}
.vtr-products .filter .hd {
    border-bottom:1px solid #e6e6e6;
    padding:5px 0;
    font-size:13px;
    cursor:pointer;
    text-decoration:underline;
}
.vtr-products .filter .search-box {
    position:relative;
    margin:3px 0;
}
.vtr-products .filter .search-box .txt {
    border: 1px solid #D6D6D6;
    padding: 5px;
    width: 175px;
    height:14px;
    font-family:arial,sans-serif;
    box-shadow:none;
}
.vtr-products .filter .search-box .close {
    position:absolute;
    right:5px;
    top:6px;
    width:14px;
    height:14px;
	background-image: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png);
    background-repeat:no-repeat;
	background-position:-39px -255px;
    cursor:pointer;
    display:none;
}
.vtr-products .filter .bd > .items {
    text-align:left;
    max-height:250px;
    overflow:auto;
    margin-bottom:3px;
}
.vtr-products .filter .bd li {
    padding:5px 0 5px 10px;
}
.vtr-products .filter .bd li .count {
    color:#808080;
}
.vtr-products .filter .bd li .cbx {
    display:inline-block;
    width:11px;
    height:11px;
	background-image: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png);
    background-repeat:no-repeat;
	background-position:-42px -157px;
}
.vtr-products .filter .bd li.checked .cbx {
	background-position:-42px -144px;
}
.vtr-products .filter .bd li.disabled .cbx {
	background-position:-55px -144px;
}
.vtr-products .filter .bd li .rbtn {
    display:inline-block;
    width:10px;
    height:10px;
	background-image: url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png);
    background-repeat:no-repeat;
	background-position:-42px -185px;
}
.vtr-products .filter .bd li.checked .rbtn {
	background-position:-42px -198px;
}
.vtr-products .filter .bd li a {
    text-decoration:none;
}
.vtr-products .filter .bd li.disabled a {
    color:#808080;
}
.vtr-products .filter-price .bd {
    text-transform:none;
}
.vtr-products .filter-price .slider {
    margin:5px auto 0;
    font-size:14px;
    min-height:10px;
}
.vtr-products .filter-price .slider.ui-corner-all {
    height:10px;
}
.vtr-products .filter-price .slider-value {
    padding:5px 0;
    text-align:center;
}
.vtr-products .filter-size li {
    display:inline-block;
    width:80px;
}
.vtr-products .listing {
    margin-left:203px;
    padding:5px 0;
    width:295px;
    height:580px;
    overflow:hidden;
}
.vtr-products .listing .no-items {
    text-align:center;
    font-size:20px;
    color:#808080;
    padding:100px 10px;
}
.vtr-products .listing li {
    display:inline-block;
    width:81px;
    margin:0 11px 15px 0; /* inline-block by default have 4px horizontal space. so reduce it from the expected gap */
    position:relative;
    text-align:center;
    vertical-align:top;
}
.vtr-products .listing li:focus {
    outline:none;
}
.vtr-products .listing li a {
    text-decoration:none;
    display:block;
}
.vtr-products .listing li .shim {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding:40px 0 0 0;
    background:#fff;
    opacity:0.7;
    display:none;
}
.notouch .vtr-products .listing li:hover .shim {
    display:block;
}
.vtr-products .listing li .load-look {
    position:absolute;
    top:0;
    left:0;
    margin:30px auto;
    width:77px;
    height:0;
    padding-top:20px;
    overflow:hidden;
    background-image:url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png);
    background-repeat:no-repeat;
    background-position:-557px 0;
    display:none;
}
.notouch .vtr-products .listing li .load-look:hover {
    background-position:-557px -25px;
}
.notouch .vtr-products .listing li:hover .load-look {
    display:block;
}
.notouch .vtr-products .listing li.disabled:hover .load-look {
    display:none;
}
.vtr-products .listing.look li {
    display:block;
    width:auto;
    margin:0;
    margin-right:10px;
    padding:10px 0;
    text-align:left;
    border-bottom:1px solid #ccc;
}
/*
.vtr-products .listing li:nth-child(3n+3) {
    margin-right:11px;
}
.vtr-products .listing.look li:nth-child(3n+3) {
    margin-right:10px;
}
*/
.vtr-products .listing li img {
    width:81px;
    height:108px;
    display:block;
}
.vtr-products .listing li .title {
    height:15px;
    overflow:hidden;
    color:#808080;
}
.vtr-products .listing.look li .title {
    text-decoration:underline;
    color:#000;
}
.vtr-products .listing.look li:hover .title {
    text-decoration:none;
    color:#d14747;
}
.vtr-products .listing li .price {
    height:15px;
    overflow:hidden;
    text-transform:none;
    color:#d14747;
}
.vtr-products .listing li .mrp {
    height:15px;
    overflow:hidden;
    text-transform:none;
    color:#808080;
    text-decoration:line-through;
}
.vtr-products .listing .load-more {
    padding:5px 0;
    text-align:center;
}
.vtr-products .listing .load-more .btn {
    width:98%;
}
.vtr-products .listing .load-more .spinner {
    display:none;
    width:98%;
    height:30px;
    background-image:url(http://myntra.myntassets.com/skin2/images/loader_transparent.gif);
    background-repeat:no-repeat;
    background-position:center center;
}
.vtr-products .pagination {
    margin:10px 0 10px 190px;
    text-align:center;
}
.vtr-products .pagination a,
.vtr-products .pagination span {
    display:inline-block;
    margin:0 5px;
    border:1px solid #ddd;
    padding:5px;
    text-decoration:none;
}

.vtr-products .sort-by {
    cursor:pointer;
    text-decoration:underline;
}
.vtr-products .sort-selected {
    color:#000;
}
#vtr-search-sort-menu {
    position:absolute;
    display:none;
    background:#fff;
    border:1px solid #999;
    box-shadow: 3px 3px 5px #666;
    z-index:11; /* jScrollPane scroll bar has z-index:10 */
}
/*
#vtr-search-sort-menu .close {
    position:absolute;
    width:10px;
    height:10px;
    right:3px;
    top:3px;
    background-image:url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png);
    background-repeat:no-repeat;
    background-position:0 -273px;
    cursor:pointer;
}
*/
#vtr-search-sort-menu li {
    padding:5px 10px;
    font-size:12px;
    color:#808080;
    border-bottom:1px solid #999;
    cursor:pointer;
}
#vtr-search-sort-menu li:last-child {
    border-bottom:0 none;
}

