
.vtr-room {
    width:482px;
    float:right;
    position:relative;
}
.vtr-room .nav {
    border-bottom:1px solid #bbb;
    font-size:14px;
    height:19px;
    background:#000;
    text-align:center;
}
.vtr-room .nav .actions {
}
.vtr-room .nav .actions li {
    display:inline-block;
    color:#fff;
    padding:3px 10px;
    cursor:pointer;
    font-size:13px;
    text-decoration:underline;
}
.vtr-room .nav .actions li.selected,
.vtr-room .nav .actions li:hover {
    background:#fff;
    color:#000;
}


.vtr-room .stage {
    height:580px;
    position:relative;
    background:#eee;
    /* @alternate */ background:-moz-linear-gradient(top, #eee, #ccc);
    /* @alternate */ background:-moz-linear-gradient(top, #eee, #ccc);
    /* @alternate */ background:-webkit-linear-gradient(top, #eee, #ccc);
    /* @alternate */ background:-o-linear-gradient(top, #eee, #ccc);
    /* @alternate */ background:-ms-linear-gradient(top, #eee, #ccc);
}
.vtr-room .bg {
    width:100%;
    height:100%;
    left:0;
    top:0;
    position:absolute;
    z-index:0;
    background-repeat:no-repeat;
    background-position:0 0;
}
.vtr-room .model {
    width:315px;
    height:580px;
    left:83px;
    top:0;
    position:absolute;
    z-index:1;
}
.vtr-room .model img,
.vtr-room .model canvas {
    position:absolute;
    left:0;
    top:0;
}
.vtr-room .summary {
    width:240px;
    background:#eee;
}

.vtr-room .tried-items {
    position:absolute;
    bottom:40px;
    left:10px;
    width:150px;
    text-align:center;
    font-size:12px;
    background-color:#f5f5f5;
    opacity:0.8;
    z-index:2;
}
.vtr-room .tried-items .strike {
    text-transform:line-through;
    color:#808080;
}
.vtr-room .tried-items .hd {
    text-align:center;
    padding:5px;
    border-bottom:1px solid #aaa;
}
.vtr-room .tried-items .hd .icon {
    width:17px;
    height:17px;
    display:inline-block;
    background-image:url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png);
    background-repeat:no-repeat;
    vertical-align:middle;
    cursor:pointer;
}
.vtr-room .tried-items .hd .count {
    vertical-align:middle;
}
.vtr-room .tried-items .hd .ico-expand {
    background-position: -17px -378px;
}
.vtr-room .tried-items .hd .ico-collapse {
    background-position: 0px -378px;
}
.vtr-room .tried-items .bd {
    color:#999;
}
.vtr-room .tried-items .bd li {
    padding:5px 0;
    border-bottom:1px solid #aaa;
    cursor:pointer;
    position:relative;
}
.vtr-room .tried-items .bd .title {
    text-decoration:underline;
    color:#000;
}
.vtr-room .tried-items .bd .price {
    color:#d14747;
    text-transform:none;
}
.vtr-room .tried-items .bd .delete {
    position:absolute;
    left:3px;
    top:3px;
    width:16px;
    height:16px;
    float:right;
    background-image:url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png);
    background-repeat:no-repeat;
    background-position:-37px -253px;
}
.vtr-room .tried-items .ft {
    padding:5px 0;
    color:#000;
    text-transform:none;
}

.vtr-room .buy-btns {
    position:absolute;
    bottom:10px;
    left:10px;
    width:150px;
    text-align:center;
    font-size:12px;
    z-index:2;
    display:none;
}
.vtr-room .buy-btns .buy {
    padding:0 25px;
    width:150px;
}
.vtr-room .buy-btns .wish {
    font-size:13px;
}

.vtr-room .share-btns {
    position:absolute;
    bottom:15px;
    right:15px;
    text-align:right;
    font-size:12px;
    color:#000;
    z-index:2;
    display:none;
}
.vtr-room .share-btns .label {
    text-align:center;
}
.vtr-room .share-btns button {
    border:0 none;
    background-color:transparent;
    background-image:url("http://myntra.myntassets.com/skin2/images/sprite-global_v65.png");
    background-repeat:no-repeat;
    width:32px;
    height:32px;
    overflow:hidden;
    text-align:left;
    text-indent:-500px;
    cursor:pointer;
}
.vtr-room .share-btns .facebook {
    background-position: -90px -143px;
}
.vtr-room .share-btns .facebook:hover {
    background-position: -90px -220px;
}
.vtr-room .share-btns .twitter {
    background-position:-122px -143px;
}
.vtr-room .share-btns .twitter:hover {
    background-position:-122px -220px;
}


.vtr-room .views {
    right:10px;
    top:30px;
    padding:2px 5px;
    /*background:#f5f5f5;*/
    /*opacity:0.8;*/
    position:absolute;
}
.vtr-room .views span {
    color:#000;
    text-decoration:underline;
    cursor:pointer;
    font-size:12px;
}


.vtr-room .look-title {
    left:10px;
    top:30px;
    padding:2px 5px;
    /*background:#f5f5f5;*/
    /*opacity:0.8;*/
    position:absolute;
}
.vtr-room .look-title .label {
    color:#808080;
    font-size:12px;
}
.vtr-room .look-title span {
    color:#000;
    font-size:12px;
    white-space:nowrap;
}


.vtr-save .loading-spinner,
.vtr-room .loading-spinner {
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    opacity:0.8;
    background-color:#fff;
    background-image:url(http://myntra.myntassets.com/skin2/images/loader_transparent.gif);
    background-repeat:no-repeat;
    background-position:50% 50%;
    z-index:11; /* jScrollPane scroll bar has z-index:10 */
}

/* Tooltip for showing the style details */
.vtr-tried-item-info {
    padding:0;
}
.vtr-tried-item-info .hd {
    background-color:#f1f2f3;
    padding:10px;
    text-align:center;
    border-bottom:1px solid #ccc;
}
.vtr-tried-item-info .bd {
    padding:0 10px;
}
.vtr-tried-item-info .sizes {
    color:#808080;
    padding:10px;
}

/* generic pane related styles */
.vtr-pane {
    padding:10px;
    background-color:#fff;
    box-shadow: 3px 3px 5px #666;
    border-left:1px solid #999;
    position:absolute;
    display:none;
    z-index:11; /* jScrollPane scroll bar has z-index:10 */
}
.vtr-pane .close {
    position:absolute;
    width:10px;
    height:10px;
    right:3px;
    top:3px;
    background-image:url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png);
    background-repeat:no-repeat;
    background-position:0 -273px;
    cursor:pointer;
}

/* customize pane */
.vtr-cpane {
    width:260px;
}
.vtr-cpane .faces {
    margin-bottom:15px;
}
.vtr-cpane h3 {
    font-size:13px;
    margin-bottom:10px;
}
.vtr-cpane .items {
    height:90px;
}
.vtr-cpane .items ol {
    width:1000px;
}
.vtr-cpane .items li {
    width:80px;
    height:80px;
    float:left;
    margin-right:10px;
    background-color:#e1e2e3;
}
.vtr-cpane .items li:last-child {
    margin-right:0;
}
.vtr-cpane .backgrounds li img,
.vtr-cpane .faces li img {
    display:block;
    width:100%;
    height:100%;
}

/* save pane */
.vtr-spane {
    width:220px;
    text-align:center;
}
.vtr-spane input {
    margin-bottom:10px;
}
.vtr-spane input.err {
    border-color:#d14747;
}
.vtr-spane button {
    width:80px;
    line-height:1.2;
}
.vtr-spane .success-msg {
    display:none;
    font-size:12px;
}
.vtr-spane .success-msg .icon {
    display:inline-block;
    width:16px;
    height:16px;
    background-image:url(http://myntra.myntassets.com/skin2/images/sprite-global_v65.png);
    background-repeat:no-repeat;
    background-position:-95px -406px;
    vertical-align:middle;
}
.vtr-spane .error-msg {
    color:#d14747;
    display:none;
    font-size:12px;
    margin-top:-5px;
    padding-bottom:5px;
}

