
.invisible { visibility:hidden; }
::-webkit-input-placeholder {
    color:#808080;
    font-family:arial,sans-serif;
}
input:-moz-placeholder {
    color:#808080;
    font-family:arial,sans-serif;
}

#lb-nocanvas-msg .mod {
    width:500px;
    font-family:arial,verdana,sans-serif;
    text-transform:none;
}
#lb-nocanvas-msg p {
    margin:15px 0;
}
#lb-nocanvas-msg .ie {
    display:none;
}
#lb-nocanvas-msg .highlight,
#lb-nocanvas-msg li {
    font-weight:bold;
}

#vtr-empty-area {
    width:980px;
    height:600px;
    margin:0 auto;
    text-align:center;
    background:#eee;
    /* @alternate */ background:-moz-linear-gradient(top, #eee, #ccc);
    /* @alternate */ background:-moz-linear-gradient(top, #eee, #ccc);
    /* @alternate */ background:-webkit-linear-gradient(top, #eee, #ccc);
    /* @alternate */ background:-o-linear-gradient(top, #eee, #ccc);
    /* @alternate */ background:-ms-linear-gradient(top, #eee, #ccc);
}
#vtr-empty-area .msg {
    padding-top:100px;
}
#vtr-empty-area .err-txt {
    color:#d14747;
}
#vtr-empty-area p {
    margin:15px 0;
}

.vtr {
    position:relative;
}
.vtr h1 {
    font-size:35px;
    text-align:center;
    padding:7px 0 3px;
    height:40px;
}
.vtr h1 sup {
    color:#808080;
    font-size:11px;
    margin-left:-6px;
    vertical-align:super;
}
#vtr-first-run-help {
    display:none;
    position:absolute;
    left:0;
    top:50px;
    width:980px;
    height:600px;
    background-image:url(http://myntra.myntassets.com/skin2/images/room/vtr-firstrun-4.png);
    background-repeat:no-repeat;
    z-index:11; /* jScrollPane scroll bar has z-index:10 */
}

.vtr-torso-types {
    position:absolute;
    left:0;
    width:188px;
    height:20px;
    overflow:hidden;
}
.vtr-torso-types a {
    color:#000;
    text-decoration:underline;
    float:left;
    width:94px;
    height:16px;
    padding-top:3px;
    font-size:13px;
    text-align:center;
}
.vtr-torso-types .selected {
    background:#000;
    color:#fff;
    text-decoration:none;
}

