<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
{config_load file="$skin_config"}
<html xml:lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<!--added old css path for dsign contest-->
{*include file="site/header.tpl" *}
<link href="{$http_location}/{$brandshop_css_path}" rel="stylesheet" type="text/css">
<base href="{$baseurl}">
<script type="text/javascript">
var http_loc = '{$http_location}';	
</script>
</head>
<body id="body" >
{if $login_event == 'productstyle' && $login}
	{include file="popup_login.tpl" }
{/if}
<div id="scroll_wrapper">
<div id="container">
	{include file="site/oldtop.tpl" }
      <div id="wrapper" >
{if $orgId != ""}
	{include file="modules/organization/breadcrumb_organization.tpl"}
{else}
	{include file="breadcrumb.tpl" }
{/if}

    <div id="display" style="clear:both;">
<!-- start left panel -->
{if $source=='adm'}
	<div class="menu_column">
   		<div class="sidemenudark" style='background-color:#F8F8F8;'></div>
    </div>
{elseif $orgId != ""}
	{include file="modules/organization/orgInviteeLeftLinks.tpl"}
{else}
	{include file="mkcreateproductinspiration.tpl" }
{/if}
<!-- end -->
	<div class="center_column">
	{if $image ne ''}
	<div class="">
	  <img src="{$image}" alt="" height="143" width="775">
	</div>
	{/if}
		  {include file="product_group/types.tpl" }
	<div class='text'>
				<h2 style="margin-left: -5px; font-size: 14px; Font-weight: bold;">Most Popular</h2>
					<a style="font-size: 12px; color: rgb(27, 93, 137);" href='{$http_location}/mkcreateproduct.php'>Custom Apparels</a>&nbsp;&nbsp;
					<a style="font-size: 12px; color: rgb(27, 93, 137);" href='{$http_location}/mkcreateproduct.php'>Custom T-shirts</a>&nbsp;&nbsp;
					<a style="font-size: 12px; color: rgb(27, 93, 137);" href='{$http_location}/mkcreateproduct.php'>Custom Gifts</a>&nbsp;&nbsp;
					<a style="font-size: 12px; color: rgb(27, 93, 137);" href='{$http_location}/mkcreateproduct.php'>Personalized Gifts</a>&nbsp;&nbsp;

					<a style="font-size: 12px; color: rgb(27, 93, 137);" href='{$http_location}/mkcreateproduct.php'>Personalized Apparel</a>&nbsp;&nbsp;
					<a style="font-size: 12px; color: rgb(27, 93, 137);" href='{$http_location}/mkcreateproduct.php'>Create your own Apparel</a>&nbsp;&nbsp;
					<a style="font-size: 12px; color: rgb(27, 93, 137);" href='{$http_location}/mkcreateproduct.php'>Personalized T-shirts</a>&nbsp;&nbsp;

					<a style="font-size: 12px; color: rgb(27, 93, 137);" href='{$http_location}/mkcreateproduct.php'>Create your own T-shirts</a>&nbsp;&nbsp;
					<a style="font-size: 12px; color: rgb(27, 93, 137);" href='{$http_location}/mkcreateproduct.php'>Customized Gifts</a>&nbsp;&nbsp;
					<a style="font-size: 12px; color: rgb(27, 93, 137);" href='{$http_location}/mkcreateproduct.php'>Create your own Gifts</a>&nbsp;&nbsp;
				{section name=idx loop=$arr_seo}
					{if $arr_seo[idx][1]  eq '/mkcreateproduct.php'}
						<a style="font-size: 12px; color: rgb(27, 93, 137);" href='{$http_location}{$arr_seo[idx][3]}'>{$arr_seo[idx][2]}</a>&nbsp;&nbsp;
					{/if}
				 {/section}

				</div>
	                </div>

	   </div>
         <div class="clearall"></div>
	</div>
</div>
</div>
<!--added old js path for dsign contest-->
       {include file="site/oldfooter.tpl" }
    {*include file="site/footer.tpl" *}



<div id="navtxt" class="navtext" style="position:absolute; top:-100px; left:0px; visibility:hidden;width:220px;"></div>
</body>
</html>