{* $Id: menu.tpl,v 1.68.2.2 2006/06/20 05:52:05 svowl Exp $ *}
<div class="DIV_TABLE">
	<div class="DIV_TH">
		<div class="DIV_TD" style="width:200px"><a href="{$catalogs.admin}/widgets/popular_widget.php" class="">Most Popular Links</a></div>
		<div class="DIV_TD" style="width:200px"><a href="{$catalogs.admin}/widgets/banners_widget.php" class="">Home Page Banners Old</a></div>
		<div class="DIV_TD" style="width:200px"><a href="{$catalogs.admin}/widgets/banners_widget_new.php" class="">Home Page Banners New</a></div>
		<div class="DIV_TD" style="width:200px"><a href="{$catalogs.admin}/widgets/homepagelists_widget.php" class="">Home Page Scrollable Lists</a></div>
		<div class="DIV_TD" style="width:200px"><a href="{$catalogs.admin}/widgets/topnavigation_widget.php" class="">Top Navigation Menus</a></div>
	</div>
</div>