
.mk-page{
  margin-top: 20px;
  margin-bottom: -10px;
}

.prod-name, .amount{
  text-align: left;
}

.cart-page .cart-discount-msg{
  font-size: 14px;
}

.cart-page .discount{
  text-align: left;
  font-size: 14px;
  color: #000;
}

.cart-page .prod-name a,
.cart-page .size-qty-wrap span,
.cart-page .amount{
  color: #000;
  font-size: 14px;
  text-transform: none;
  line-height: 18px;
}

.gift-holder .gift-wrap-info{
  font-size: 13px;
}

.gift-line-wrapper{
  font-size: 16px;
  text-transform: none;
}

#lb-gift-wrap .mod{
  font-family: 'WhitneyHTF-Book';
  overflow: visible;
}

ul.single-step-list li{
  font-family: 'WhitneyHTF-Book';
}

.cart-page .combo-header-main .col2 div{
  font-family: 'WhitneyHTF-Book';
  text-transform: none;
  font-size: 13px;
}

.cart-page .amount{
  font-family: 'WhitneyHTF-SemiBold';
}

.cart-page .discount + .amount.red{
  font-size: 14px;
  color: #d14747;
  margin-top: 8px;
}

.cart-page .total-row .total{
  margin-bottom: 0;
  padding-bottom: 0;
}

.cart-page .total-row{
  margin-bottom: 50px;
}

#lb-editbag .prod-name-wrapper.list-header{
  font-size: 13px;
  text-transform: none;
}

.cart-page .shipping-item, .cart-page .total-row{
  border: none;
}

.cart-page .shipping-item{
  position: static;
  padding: 0 0 10px 0;
  text-align: right;
  width: auto;
}

.cart-page .shipping-item .shipping-advice-msg{
  font-size: 12px;
}

.shoppping-bag-header, .cart-page .wishlist-header{
  border: none;
  background: #fff!important;
}

#wishlist{
  border-left: 1px solid #d6d6d6;
}

.cart-page .tabbed-header{
  height: 34px;
}

.cart-page .selected-tab{
  border: none;
  border-bottom: 4px solid #000;
}

.cart-page .total-row .col3{
  width: auto;
  display: block;
  float: none;
  padding: 0;
  margin: 0 15px;
}

.cart-page .prod-item, .cart-page .gift-wrapper{
  display: block;
  margin: 5px 15px;
  width: auto;
  text-align: left;
}

.cart-page .gift-wrapper{
  border-bottom: 2px solid #9b9b9b;
}

.cart-context-msg.show{
  width: auto;
  display: block;
  margin: 0 15px;
}

.cart-page .total .final-calculated-value{
  padding-top: 10px;
}

.cart-page .couponApplicability{
  text-align: left;
  margin-top: 10px;
}

.cart-page .apply-coupons-link{
  font-size: 13px;
  text-align: left;
  text-indent: 15px;
  color: #4a90e2;
  text-transform: none;
}

.btn-place-order {
  font-family: 'WhitneyHTF-SemiBold';
  height: 48px;
  font-size: 16px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
}

.cart-page .empty-cart .btn{
  font-family: 'WhitneyHTF-SemiBold';
  color: #fff;
  height: 48px;
  font-size: 16px;
  display: inline-block;
  line-height: 48px;
  padding: 0 20px;
}

.cart-page .bag-slider-wrapper{
  transition: none;
}

.empty-saved p{
  font-size: 13px;
  text-transform: none;
  margin: 30px 10px;
  color: #808080;
}

.cart-page .empty-saved .err{
  font-size: 16px;
}

/*
#lb-coupons .coupons-popup .bd, #lb-editbag .edit-bag-popup .bd{
  overflow: visible;
}
*/

#lb-coupons p{
  font-family: 'WhitneyHTF-Book';
}

#lb-coupons .choose-coupon .eligible-coupon-item, 
#lb-coupons .choose-coupon .ineligible-coupon-item{
  width: 95%;
}

#lb-coupons .choose-coupon .coupon-off-amount{
  top: 5px;
}

.choose-coupons-body{
  max-height: 258px;
  overflow: auto;
  min-height: 80px;
  box-shadow: 0 -6px 8px -6px rgb(204, 204, 204) inset;
}

#lb-coupons .choose-coupon .applicable-coupons.title{
  padding: 8px 0;
}

.main-slide-wrapper, .content-slide-wrapper,
.content-slide-wrapper .hd,
#lb-coupons .coupons-popup .header, 
#lb-editbag .edit-bag-popup .header, .top-menu{
  font-family: 'WhitneyHTF-SemiBold';
  background: #fff;
}

#lb-coupons .coupons-popup .header, 
#lb-editbag .edit-bag-popup .header{
  line-height: 40px;
  border-bottom: 2px solid #9b9b9b;
}

#lb-coupons .coupons-popup .main-content{
  height: 422px!important;
  overflow: hidden;
}

#lb-editbag .qty-label-wrapper{
  margin-top: 20px;
}

#lb-editbag .btn.unavailable, #lb-editbag .size-wrapper .unavailable{
  text-decoration: none;
  position: relative;
  opacity: 0.5;
}

#lb-editbag .btn.unavailable:after, #lb-editbag .size-wrapper .unavailable:after{
  position: absolute;
  height: 1px;
  width: 100%;
  display: block;
  background: #697071;
  left: 0;
  top: 50%;
  content: "";
}

#lb-editbag .mk-freesize.grey.strike{
  background: #e1e1e1;
}

#lb-editbag .edit-bag-popup .lb-save-changes{
  font-family: 'WhitneyHTF-SemiBold';
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  width: 65%;
  margin: 50px auto 0;
  max-width: none;
  background: #4a90e2;
}

#lb-gift-wrap .static-text, #lb-gift-wrap .details button.btn-cancel{
  display: none;
}

#lb-gift-wrap .details button.btn-proceed{
  font-family: 'WhitneyHTF-SemiBold';
  height: 48px;
  float: none;
  margin: 20px auto 0;
  width: 90%;
  background: #4a90e2;
  font-size: 16px;
}

#lb-coupons input[type="radio"]{
  height: 0!important;
  width: 0!important;
}

#lb-coupons .btn-apply-selected-coupon, #lb-coupons .btn-apply-user-coupon{
  font-family: 'WhitneyHTF-SemiBold';
  font-size: 16px;
  margin: 20px 0 0;
  width: 80%;
  height: 48px;
  background: #4a90e2;
}

#lb-gift-wrap .details input#gift-to, #lb-gift-wrap .details input#gift-from{
  padding-left: 10px;
}

#lb-gift-wrap .details input#gift-to, #lb-gift-wrap .details input#gift-from{
  width: 195px;
}

#lb-gift-wrap .details input, #lb-gift-wrap .details textarea, 
#lb-gift-wrap .details label, 
#lb-gift-wrap .details .err-msg{
  border-radius: 0;
}

#lb-gift-wrap .details .err-msg{
  padding-left: 10px;
}

#lb-gift-wrap .note p{
  font-size: 12px;
}

.cart-page .coupon-msg{
  font-size: 13px;
  margin: 10px 0 0;
}

.cart-page .coupon-msg span.black{
  text-align: left;
  display: inline-block;
  line-height: 17px;
  width: 90%;
}

.coupon-msg span.ajax-success{
  vertical-align: top;
}

.cart-page .remove-coupons-link{
  font-size: 13px;
  color: #4a90e2;
  display: block;
  padding-top: 5px;
  text-align: left;
  padding-left: 29px;
  line-height: normal;
}

.cart-page .inline{
  margin-left: 0!important;
  vertical-align: top;
}

.gift-msg-edit{
  font-size: 13px;
  color: #4a90e2;
  display: block;
  padding: 12px 0 10px;
}

.red, .green{
  color: #000;
}

#lb-editbag .size-wrapper .btn-size.btn-grey{
  color: #000;
  background: #fff;
  border: 1px solid #000;
}

#lb-editbag .size-wrapper .btn-size.btn-grey.selected{
  background: #000;
  border: 1px solid #000;
  color: #fff;
}

#lb-editbag .lb-editbag-error-msg{
  top: -85px;
}

.cart-page .row.first{
  border-top: none!important;
}


.total .total-coupon-discount span, .total p.total-coupon-discount span.rupees{
  color: #d14747;
}

#lb-coupons .lb-coupon-error-msg{
  padding: 5px 0;
  line-height: 18px;
}

@media only screen and (max-width: 479px) and (min-width: 1px){
  .mk-page-container {
    width: auto;
  }
}