.btn-continue, .btn-save-continue, .btn-continue:active,
.btn-save-continue:active{
  font-family: 'WhitneyHTF-SemiBold';
  /*position: fixed;
  left: 0;
  bottom: 0;*/
  z-index: 999;
  height: 48px;
  font-size: 16px;
}

.address-form-box input[name="pincode"], 
.address-form-box input[name="city"], .address-form-box input[name="state-txt"], 
.address-form-box input[name="mobile"]{
  box-shadow: none;
  -webkit-box-shadow: none;
}

.order-summary h2{
  font-family: 'WhitneyHTF-SemiBold';
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px 0 10px;
}

.address-list-box .items .address{
  padding: 10px 0;
}

.order-summary .row{
  padding: 5px 0;
}

.order-summary .total{
  padding: 10px 0 0;
}

.order-summary .total-items{
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.order-summary .prod-name a{
  color: #000;
}

.checkout .order-summary .amount, .total-value, .order-summary .total p .red,
.order-summary .black{
  font-family: 'WhitneyHTF-SemiBold';
  color: #000;
}

.order-summary .row{
  height: auto;
  min-height: 70px;
}

.total-shipping-fee span.green{
  color: green;
}

.order-summary .total .final-calculated-value{
  padding-top: 10px;
  border-top: 1px solid #d6d6d6;
}

.address-form-box .row label{
  line-height: normal;
}

.address-form-wrap input, .address-form-wrap textarea, .address-form-wrap select{
  margin-bottom: 20px;
}

.copyname{
  display: none!important;
}

.address-form-box .row .err{
  margin: -20px 0 20px;
  font-size: 12px;
  text-transform: none;
}

.checkout .page-action{
  padding-bottom: 0;
  margin-bottom: -26px;
}

.checkout .order-summary .discount.red{
  color: #D14747;
}

.order-summary .size-qty-wrap, .order-summary .prod-item .mk-freesize{
  font-size: 12px;
}

.checkout .page-action.select-address{
  padding-bottom: 15px;
  margin-bottom: 0;
}

.address-list-box .items .address .red.serv-err{
  color: #d14747;
  padding: 8px 0 0;
  text-transform: capitalize;
}