        		<div id="pincode-city-orders-tooltip" class="myntra-tooltip feature-tooltip">
				<div class="hd">{$payZipOrders_no} HAPPY CUSTOMERS</div>
				<div class="bd">			
					have placed orders from this location recently.
				</div>
				</div>
