{extends file="layout.tpl"}

{block name=body}

	<div class="mk-one-column">
		<section class="mk-site-main">
			<div class="mk-static-pages">
				<h1 id="top"> Help <span class="sep">/</span> Privacy </h1>
				<ul class="mk-mynt-nav">
					<li><a href="faqs">Policies & FAQs</a></li>
					<li><a href class="active">Privacy</a></li>
					<li><a href="termsofuse">Terms of Use</a></li>
				</ul>
				<hr />
				<div class="mk-mynt-content mk-cf">
					<div class="mk-centre-column">
			            <h3 class="no-border">1. GENERAL PRINCIPLES</h3>
			            <p>Protecting your privacy is very important to us. We have accordingly developed this Privacy Policy to
			                protect your personal information and keep it confidential. We endeavour to comply with laws of other
			                countries but cannot and do not warrant that we do. We do everything we reasonably can to protect your
			                rights of privacy on systems and the Website controlled by us, but we are not liable for any
			                unauthorised or unlawful disclosures of your personal and confidential information made by third parties
			                who are not subject to our control, for example advertisers and websites that have links to our Website.
			                You should take note that the information and privacy practices of our business partners, advertisers,
			                sponsors or other sites to which we provide hyperlinks, may be different from ours. Our privacy policy
			                is subject to change at any time without notice. To make sure you are aware of any changes, please
			                review this policy periodically.</p>
			
			            <p><strong>We categorise information about you (collectively referred to as "Personal Information") as follows:</strong></p>
			
			            <p>
			                <strong>(a) Profiling Information:</strong> Information which you provide when you register for a
			                Service, which may include some or all of the following: - Information about your personal identity such
			                as gender, marital status, age, preferences, likes and dislikes etc.; - Your financial information such
			                as your banking details and any information relating to your income and lifestyle levels; and - Your
			                contact details such as your physical addresses, postal addresses, telephone and fax numbers and the
			                like. - In the case of Facebook aligned services (if so opted by you), publicly available information of
			                your friends, their likes and dislikes, etc.
			                <strong>(b) Payment and Account Information:</strong> Your account history with us including (without
			                limitation) all billing information and communications, payment history etc. We maintain this in
			                encrypted form on secure servers.
			                <strong>(c) Service Usage:</strong> Information about your navigation using our Services, for example
			                the URLs of websites, which you visit and from which you request downloads.
			                <strong>(d) Log information:</strong>Information such as your web request, IP address, browser type,
			                browser language, date and time of request.
			                <strong>(e) Transactional Information:</strong> Transactional history (other than banking details) about
			                your e-commerce activities.
			                <strong>(f) Correspondence Information:</strong> Content, information about your correspondents, and the
			                destination/origin of communications between you and any other person using our Services, which include
			                email communications, blog, chat room and discussion board communications, instant message
			                communications, experts forum communications, faxmail communications, membership of mailing lists etc.
			                <strong>(g) User IDs:</strong> Your usernames, passwords, email addresses and other security-related
			                information used by you in relation to our Services.
			                <strong>(h) Stored Information:</strong> Data either created by you or by a third party and which you
			                wish to store on our servers such as image files, documents etc.
			                <strong>We only collect your Personal Information to conduct our business and to enable us to deliver
			                    and improve our Services. We do not for any reason whatsoever sell your Personal Information to any
			                    third party or otherwise trade on it. </strong>
			            </p>
			
			            <p>
			                We will only disclose your Personal Information in accordance with this Privacy Policy. If we want to
			                use it for any other purpose, we will obtain your prior written consent. If you decline to submit
			                personal information to us, then we will unfortunately not be in a position to provide the Services to
			                you. Any of your information which you provide when you use certain Services and are to an open, public
			                environment or forum including (without limitation) any blog, community or discussion board, is not
			                confidential, does not constitute Personal Information, and is not subject to protection under Privacy
			                Policy. Since such public environments are accessible by third parties, it is possible that third
			                parties may collect and collate and use such information for their own purposes. You should accordingly
			                be careful when deciding to share any of your Personal Information in such public environments.
			                Information, which is disclosed publicly, is also shared with our affiliates, third party service
			                providers, sponsors of competitions etc. unless expressly stated otherwise. We are not liable to you or
			                any third party for any damages that you or any third party may suffer howsoever arising from your
			                disclosure of Personal Information in any public environment. You accordingly disclose information in a
			                public environment at your own risk.
			            </p>
			
			            <h3>2. RIGHT TO COLLECT</h3>
			
			            <p>By accepting the Terms of Service you agree that we may collect and store your Personal Information as
			                long as you use our Services subject to the limitations set out in this Privacy Policy. </p>
			
			            <p><strong>2.1</strong> We collect your Profiling and Account Information for the following reasons: <strong>(a)</strong> We need your identity details, contact details, banking information and account history to manage our relationship with you and provide Services to you. We may use this information for suggesting products and promotional offers and schemes. We will only disclose this information as provided below. <strong>(b)</strong> We use certain of
			                your information in an aggregated form to compile statistical and demographical profiles for our
			                business and marketing activities. We may disclose such information about you, provided that the
			                information is in an aggregated form that is not capable of being used or interpreted in such a manner
			                as to identify you. <strong>2.2</strong> We collect and store your Service Usage and Transactional Information to: <strong>(a)</strong>
			                determine and verify the Service Charges payable by you and to administer our relationship with you. <strong>(b)</strong>
			                comply with any statutory or regulatory requirement. <strong>(c)</strong> compile statistical and demographical profiles
			                about you for our business and marketing activities and to customise our Services to you. While we are
			                entitled to use such information about you for our own internal business purposes without limitation, we
			                will only disclose it in an aggregated form which is not capable of being used or interpreted in such a
			                manner as to identify you; and <strong>(d)</strong> monitor your use of our Services for the purposes of ensuring
			                compliance with our <a href="termsofuse" target="_blank">Terms of Service</a>. <strong>2.3</strong> We collect and store your Correspondence Information and
			                Personal Identifiers to: <strong>(a)</strong> comply with our obligations under law; and <strong>(b)</strong> monitor your use of our
			                Services in order to ensure your compliance with our <a href="termsofuse" target="_blank">Terms of Service</a>. Any Personal Information which we
			                collect and which we may use in an aggregated format ensuring you are not individually identified is our
			                property. We may use it, in our sole discretion and without any compensation to you, for any legitimate
			                purpose including (without limitation) the commercial sale thereof to third parties. Sometime we use
			                "cookies" so that we can provide you with more customised information when you return to our website.
			                "Cookies" are used to store user preferences and to track user trends, so as to enhance your interactive
			                experience and generally improve our Services to you. You can set your browser to notify you when you
			                are sent a "cookie", giving you the chance to decide whether or not to accept it. If you do accept a
			                "cookie", you thereby agree to our use of any Personal Information collected by us using that Cookie.
			                You may update your Profiling Information at any time on the website. You acknowledge and agree that in
			                the interests of improving personalisation and Service efficiency, we may, under controlled and secure
			                circumstances, share your Personal Information with our affiliates (an entity which is our subsidiary or
			                holding company or a subsidiary of our holding company or an entity which controls, is controlled by or
			                is under common control with us).
			            </p>
			
			            <h3>3. GENERAL EXCEPTIONS</h3>
			
			            <p>If we are required to intercept, disclose, monitor and/or store your Personal Information:
			                <strong>(a)</strong> by law;
			                <strong>(b)</strong> to conduct our business;
			                <strong>(c)</strong> to secure our systems; or
			                <strong>(d)</strong> to enforce our own rights, we will do so in the manner as prescribed by law.
			            </p>
			
			
			            <p>Such interception, disclosure, monitoring and storage may take place without your knowledge. In that
			                case, we will not be liable to you or any third party for any damages howsoever arising from such
			                interception, disclosure, monitoring and storage. In order to ensure that all our Users comply with the
			                Terms of Service, we may monitor your Personal Information to the extent that this may be required to
			                determine compliance and/or to identify instances of non-compliance. To ensure that the security and
			                integrity of our Services are safeguarded, we may monitor your Personal Information. This monitoring may
			                include (without limitation) the filtering of incoming and outgoing electronic data messages to
			                identify, limit and/or prevent the transmission of spam, viruses and/or unlawful, defamatory, obscene or
			                otherwise undesirable material or content. We may under certain circumstances procure an element of the
			                Services from a third party service provider. To the extent that it may be necessary, and solely for the
			                purposes of providing the Service to you, you agree that we may disclose to such third party any of your
			                Personal Information that may be necessary for the procurement of services from the third party.
			            </p>
					</div>
				</div>
			</div>
		</section>
	</div>

{/block}
