{* $Id: mykritihome.tpl,v 1.88.2.3 2006/07/19 10:19:35 max Exp $ *}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
{config_load file="$skin_config"}
<html>
{include file="mykritimeta.tpl" }
<head>

</head>

<body id="body" >

{literal}
<!-- <div id="dhtmltooltip"></div> -->
<script type="text/javascript" src="./skin1/js_script/alttxt.js"></script>
{/literal}

{if $login_event == 'startShop' && $login}
	{include file="popup_login.tpl" }
{/if}

{if ($register_success == 'updated' || $register_success == 'created') && $login}
    {include file="popup_register.tpl" }
{/if}

<!-- special offer pop up -->
	<div id="popup"></div>
<!-- end -->
<div id="scroll_wrapper"> 
<div id="container">
{include file="mykrititop.tpl" }
<div id="wrapper" >
      {include file="breadcrumb.tpl" }
    
    <div id="display">

	<div class="menu_column">{include file="leftpane.tpl" }</div>
		<div class="center_column">
							
			
						 
			 
			 
			    {include file="modules\corporate\corporateproducts.tpl" }
			  
			
				
		</div>

   </div>
<div class="clearall"></div>
</div>

{include file="footer.tpl" }


</div>
</div>
<div id="navtxt" class="navtext" style="position:absolute; top:-100px; left:0px; visibility:hidden"></div>
</body>
</html>
