{if $allproducts != 'empty'}
{assign var=index value=0}
<div class="text">
            <div class="seriallist">
{section name=outerloop loop=4}
        {section name=allproducts loop=$allproducts start=$index max=4}

		<div class="listbox">
     
		{if $allproducts.filename != ""}
		{if $ie eq "true"}
			<div class="imagebox">
				
				<a id='{$allproducts[productid]}' name='{$allproducts[productid]}' href="products/{$allproducts[productid]}" >

			    <div style="background-image: url({$allproducts[filename]});
					background-position: center; background-repeat: no-repeat;
					cursor: pointer;" >
					<div style="text-align: center;background-image: url(./images/b.gif);
			        	width: 120px; height: 140px; vertical-align: middle;">
						<img src="{$cdn_base}/images/b.gif"  alt="{$allproducts[allproducts][1]} {$allproducts[allproducts][5]}" />
					 </div>
				   </div>

			   </a>
			 </div>
			

			{/if}

		{else}
		<div class="imagebox">
			<a id='{$allproducts[id]}' name='{$allproducts.id}' href="products/{$allproducts.id}" >
				<div style="background-image: url({$allproducts.thumb_image});
					background-position: center; background-repeat: no-repeat;" >
					<div style="text-align: center;background-image: url(./images/b.gif);
			        	width: 120px; height: 140px; vertical-align: middle;">
							<img src="{$cdn_base}/images/b.gif"  alt="{$allproducts.productname} {$allproducts.productname}" />

					 </div>
					</div>
				  </a>
				</div>
		{/if}
		<div class="textbox">
         
	  <a href="?img={$allproducts[allproducts][9]|substr:21:70}" class="thickbox" onmouseover="writetxt('see large image')" onmouseout="writetxt(0)">
          
	  <div class="lensebox"></div></a>
         
	  <strong><a href="products/{$allproducts[allproducts][0]}"
          onmouseover="writetxt('{$allproducts[allproducts][1]|escape:"quotes"}')" onmouseout="writetxt(0)">{$allproducts[allproducts].prodname}</a></strong>
            <br>
               <strong>Product&nbsp;:</strong>&nbsp;{$allproducts[ProductName]}<br>
		  
                </div>
		</div>

        {/section}
	{assign var=index value=$index+4}


{/section}


<div class="clearall"></div>
            </div>
          </div>

	 

{else}
	<div class="links">
	<p><strong>There are no products in the system.</strong></p>
	</div>

{/if}






