<div id="overlay"> </div>
  <div id="selectionbig">
   <div class="wrapperbig">
      <div class="headbig">
		<p><a href="javascript: hideImageDiv()"><img src="./skin1/mkimages/click-to-close.gif" border="0"></a>
		<strong>search for product</strong></p>
      </div>
      <div class="bodybig" style="float:left;padding:10">
      <br>	
		<form name='searchform' id='searchform' method='post'>
		<div border='0' style='float:left;width:720px;height:auto;font-size: 1.0em;border: 1px solid #999999;'>
		<div class="popuptrhead"  style="width:719px;float:left;margin-bottom:10px;"><p style="padding-left:5px;"><strong>products list</strong></p></div>
		{assign var=i value=0}
		{assign var=k value=0}
		{foreach key=key1 item=item from=$types}
			{if $i%3==0}
				{assign var=divclose assign="YES"}
				<div style="float:left;width:717px;border: 0px solid #000000;"></div>
			{/if}
				<div style='float:left;width:232px;padding-left:3px;margin-bottom:5px;'>
					<div style='float:left;width:230px;font-size:1.1em;font-style:bold;color:#0047BE;padding-left:0px;margin-bottom:0px;margin-left:3px;border: 0px solid #B5EDBC;'>
						<b class="rtop"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
						<div style="float:left;width:230px;height:15px;font-size:0.9em;font-style:bold;color:#FFFFFF;background-color:#8DB0D3;">
							
							<div style="float:left;width:30px;padding-left:5px;"><input type='checkbox'  class='checkbox' id='selectedtype_{$i}' name='selectedtype_{$i}' value='{$key1}' onClick="javascript:openStyleBox('{$i}');"></div>
							<div style="float:left;width:190px;"><strong>{$item}</strong></div>
						</div>
					</div>		
					<div style='float:left;width:228px;padding:0px;margin-top:0px;margin-left:3px;border: 1px solid #8DB0D3;'>
						<div id="style_{$i}" style='float:left;width:220px;margin-top:3px;margin-left:2px;margin-bottom:3px;padding-left:4px;font-size:0.9em;color:#02679C;background-color:#EFF7FF;display:none;border: 0px solid #000000;clear:both;'  >
							{foreach key=key2 item=item1 from=$styles}
								{if $key1 == $key2}
								{assign var=j value=0}
								{section name=st loop=$item1}
									<div id="styledisplay_{$j}" style='float:left;width:220px;margin-left:-3px;height:20px;font-size:1.0em;color:#02679C;border: 1px solid #D9E6F7;'>
										<div style="float:left;width:15px;padding-left:3px;padding-top:3px;"><input type='radio' class="radio" name="styles_{$i}" id="styles_{$i}_{$j}" value="{$item1[st].id}" style='width:15px;' onClick="javascript:showQuantityBox('{$j}', '{$i}')"></div>
										<div style="float:left;width:150px;padding-left:2px;padding-top:3px;font-size:1.0em; color:#02679C;">{$item1[st].name}</div>
										<div id='textbox_{$i}_{$j}' style="float:left;display:none;width:50px;padding-top:3px;">
											<input type='text' name='quantity_{$item1[st].id}' id='quantity_{$i}_{$j}' onblur="if(this.value=='') this.value=this.defaultValue;" onfocus="if(this.value==this.defaultValue) this.value='';" value="{$corporate_quantity}" style="color:#ACACAC;width:40px;border: 1px solid #FF0000;" onkeypress="javascript:changeColor('{$j}','{$i}');" maxlength='4'>
										</div>
										<input type='hidden' name='stylename_{$item1[st].id}'  value='{$item1[st].name}'>
									</div>
								{assign var=j value=$j+1}
								{assign var=k value=$k+1}
								{/section}
								<input type='hidden' name='stylecount_{$i}' id='stylecount_{$i}' value='{$j}'>
								{/if}
							{/foreach}
						</div>
					</div>
				</div>
		{assign var=i value=$i+1}
		{/foreach}
		<input type='hidden' name='divcount' id='divcount' value='{$k}'>
		<input type='hidden' name='indexcount' id='indexcount' value='{$i}'>
		<input type='hidden' name='requestid' id='requestid' value='{$rid}'>
		<div style="float:left;width:717px;border: 0px solid #000000;"></div>
		<div style="float:right;width:auto;margin-top:10px;padding:0.1em 0px;border: 0px solid #000000;">
			<input type='button' class='popupsubmit'name='submitstyle' id='submitstyle' value='add products' onClick="javascript:submitStylesAndTypes('{$i}', '{$param}');">
		</div>
		</div>
		</form>
     </div>
    </div>
  </div>