{config_load file="$skin_config"}
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
{literal}
<script type="text/javascript" language="JavaScript 1.2">

function hideSuggestDiv()
{
    document.getElementById('suggestpopup').style.visibility = 'hidden';
    document.getElementById('suggestbox').style.visibility = 'hidden';
    document.getElementById('suggestbox').style.display = 'none';
}
/*function changeColor(divname)
{
    document.getElementById(divname).style.color = "#000000";
    //document.getElementById(divname).style.background = "#000000";
}*/
/*function selectedText()
{
	var selectedradio = document.getElementsByName("selectedtext");
	for(var i =0;  i<selectedradio.length; i++)
	{
		if(selectedradio[i].checked == true)
		{
			var selectedstyle = selectedradio[i].value;
			var styles = selectedstyle.split("-");
			document.getElementById('selctedstyle').value = "";
			document.getElementById('selctedstyle').value = styles[0];
			document.getElementById('hidestyleid').value = styles[1];
		}
	}	
}*/

function validateSuggestion()
{
	if(document.getElementById('suggest').value == "write your suggestions here")
	{
		alert("Please input your suggestion or close the popup");
		return false;
	}
	else
	{
		document.getElementById('searchpopup').style.visibility = 'hidden';
		document.getElementById('searchbox').style.visibility = 'hidden';
		document.getElementById("searchbox").style.display = "none";
		document.suggestionform.submit();
	}

}
</script>

{/literal}
<div id="suggestpopup" style="visibility:hidden;display:none;">
<div id="overlay"> </div>
  <div id="selection">
   <div class="wrapper">
      <div class="head">
        <p><a href="javascript: hideSuggestDiv()"><img src="./skin1/mkimages/click-to-close.gif" border="0"></a>
	search for product styles</p>

      </div>

      <div class="body" style="padding:10">
      <br>
      <p>
	<table style="width:540px;height:auto;border: 1px solid #999999;padding: 2px;">
	<tr>
		<td style="vertical-align: top;">
			<form action="modules/corporate/mkrequest.php" method="post" name="suggestionform">
			
			<table id="suggestbox" style="visibility:hidden;display:none;width:540px;height:auto;border: 0px solid #999999;">
			<tr>
				<td style="font-size:0.7em;color:#000000;vertical-align: top;" ><p><strong>Suggestion</strong></p></td>
				<td style="vertical-align: top;">
				<input type="hidden" name="suggestid" id="suggestid" value=""  />
				<textarea name="suggest" id="suggest" onblur="if(this.value=='') this.value=this.defaultValue;" onfocus="if(this.value==this.defaultValue) this.value='';" style="color:#000000;width:458px;height:150px;" onkeypress='changeColor("suggest");'>write your suggestions here</textarea>
				</td>
				
			</tr>
			<tr><td style="vertical-align: top;" align="right" colspan="2"><input type="button" class="submit" name="searchbutton" id="searchbutton" value="submit suggestion" onClick="javascript:validateSuggestion();"></td></tr>
			</table>
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	</table>
      </p>
     </div>

      <div class="foot"></div>

    </div>

  </div>
  </div>

