<div id="updaterequest">
  <div id="overlay"> </div>
  <div id="messagewide">
    <div class="wrapper">
      <div class="head"><a href="javascript:hideProductStyleDiv();" onclick="">Click to close</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="body">
        <p><div id="updatemessage"></div>
          <br>
          </p>
      </div>
      <div class="foot"></div>
    </div>
  </div>
</div>