<div id="overlay"> </div>
  <div id="selection">
   <div class="wrapper">
      <div class="head">
        <p><a href="javascript: hideNotificationDiv()"><img src="./skin1/mkimages/click-to-close.gif" border="0"></a>
	  notifications</p>
      </div>

      <div class="body" style="padding:10">
	<br>
      <p>
	<table border=0 style="width:540px;height:auto;border: 1px solid #999999;padding: 2px;">
	<tr>
		<td style="vertical-align: top;font-size:0.8em;"><p>{$notification}</p></td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	</table>
      </p>
      </div>
 </div>
</div>
