<div id="overlay"> </div>
  <div id="selection">
   <div class="wrapper">
      <div class="head">
        <p><a href="javascript: hideSuggestDiv()"><img src="./skin1/mkimages/click-to-close.gif" border="0"></a>
	  update your suggestion</p>
      </div>

      <div class="body" style="padding:10">
      <br>
      <p>
	<table border=0 style="width:540px;height:auto;border: 1px solid #999999;padding: 2px;">
	<tr>
		<td style="vertical-align: top;">
			<form method="post" name="reviewform">
			<input type="hidden" name="styleid" id="styleid" value="{$styleid}"  />
			<input type="hidden" name="index" id="index" value="{$index}"  />
			<input type="hidden" name="flag" id="flag" value="{$flag}"  />
			<input type="hidden" name="suggestionid" id="suggestionid" value="{$suggestionid}"  />
			<input type="hidden" name="updatesuggestion" id="updatesuggestion" value="suggestion"  />
			<table id="suggestbox" style="width:540px;height:auto;border: 0px solid #999999;">
			<tr style="visibility:hidden;display:none;font-size:1.0em;" id="messagetr" >
				<td colspan="2"><p class="mandatory">suggestion updated!!</p></td>
			</tr>
			<tr>
				<td style="font-size:0.7em;color:#000000;vertical-align: top;" ><p><strong>suggestion</strong></p></td>
				<td style="vertical-align: top;">
				<textarea name="suggestion" id="suggestion" style="width:458px;height:100px;">{$suggestion}</textarea>
				</td>
			</tr>
			<tr>
				<td style="vertical-align: top;" align="right" colspan="2">
					<input type="button" class="submit" name="searchbutton" id="searchbutton" value="update suggestion" onClick="javascript:updateSuggestion('{$URL}');">
				</td>
			</tr>
			</table>
			<table id="suggestionboxloader" border=1 style="visibility:hidden;display:none;width:540px;height:130px;border: 0px solid #999999;">
			<tr>
				<td ><p><img src='{$cdn_base}/images/image_loading.gif' style="margin-left:250px;border:0px;" border=0></p></td>
			</tr>
			</table>
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	</table>
      </p>
     </div>
 </div>
</div>