<div id="staticmessage" style="display:none">
  <div id="overlay"></div>
  <div id="messagewide" style="position:absolute; left:-100px; top:-100px;">
    <div class="wrapper">
     <div class="head"><a href="javascript:hidestaticmessageDiv('staticmessage')" >Click to close</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="body" ><p id="smessage" style="width:380px;"></p></div>
     <div class="foot"></div>
    </div>
  </div>
</div>
<div id="staticmessageloader" style="display:none">
  <div id="overlay"></div>
  <div id="messagewide" style="position:absolute; left:-100px; top:-100px;">
    <div class="wrapper">
     <div class="head"><a href="javascript:hidestaticmessageDiv('staticmessageloader')" >Click to close</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="body" style="height:100px;"><p><img src='{$cdn_base}/images/image_loading.gif' style="position:absolute;top:50px;left:180px;" ></p></div>
     <div class="foot"></div>
    </div>
  </div>
</div>