<div id="overlay"></div>
<div id="selection">
   <div class="wrapper">
      <div class="head" style="height:25px;">
        <p>
        <a href="javascript: closePopup('submit_enquiry')"><img src="./skin1/mkimages/click-to-close.gif" border="0" /></a>Bulk Enquiry Form</p>
      </div>
      <div class="body" style="float:left;padding:10">
                <div id="group">
	            <b class="rtop"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
	            <div id="questionloader" style="width:543px;height:260px;border:0px solid #000000;padding:3px;display:none;">
	            	<img src='{$cdn_base}/images/image_loading.gif' style="position:relative;top:100px;left:250px;" >
	            </div>
				<div id="questionform" style="width:543px;height:260px;border:0px solid #000000;padding:3px;">
					<div id="qmessage" style="float:left;width:540px;height:auto;padding:2px;margin-top:5px;text-align:center;display:none;font-weight:bold;color:#e55147;"></div>

					<div style="float:left;width:150px;height:20px;text-align:left;padding-left:4%;"><strong>Name</strong></div>
					<div style="float:left;width:365px;height:20px;text-align:left;">
                        <input type="text" name="name" id="user_name" title="name" style="width:150px;border 1px solid none;">
                    </div>

					<div style="float:left;width:150px;height:20px;text-align:left;padding-left:4%;"><strong>Contact email</strong><span style="color:#FF0000;">*</span></div>
					<div style="float:left;width:365px;height:20px;">
                        <input type="text" name="contact_email" id="contact_email" title="email id" style="width:150px;border 1px solid none;">
                    </div>

					<div style="float:left;width:150px;height:20px;text-align:left;padding-left:4%;"><strong>Contact number</strong><span style="color:#FF0000;">*</span></div>
					<div style="float:left;width:365px;height:20px;">
                        <input type="text" name="cnumber" id="cnumber" style="width:150px;border 1px solid none;">
                    </div>

					<div style="float:left;width:150px;height:25px;text-align:left;padding-left:4%;"><strong>Time Lines</strong></div>
					<div style="float:left;width:365px;height:25px;">
                    <!--<input type="text" name="timeline" id="timeline" style="width:150px;border 1px solid none;"/>-->
                        <table width="30%" style="margin:-3px">
                            <tr>
                                <td width="60%"><input type="text" id="timelines" name="timelines" size="8" MaxLength="11"  readonly></td>
                                <td width="40%"><img src="{$cdn_base}/images/cal.gif"  border="0" alt="Click Here to Pick up the date" onclick="displayDatePicker('timelines');"></td>
                            </tr>
                        </table>
                    </div>

					<div style="float:left;width:150px;height:20px;text-align:left;padding-left:4%;"><strong>Enquiry Details</strong></div>
					<div style="float:left;width:365px;height:auto;"><textarea name="enquiry_details" id="enquiry_details" title="question/query" style="width:300px;height:100px;border 1px solid none;"></textarea></div>

					<div style="float:left;width:470px;_width:450px;height:auto;padding:2px;margin-top:5px;text-align:right;">
						<input type='button' class='popupsubmit' style="cursor:pointer;" name='submitquestion' id='submitquestion' value='submit enquiry' onClick="javascript:submitQuery();">
					</div>
				</div>
	            <b class="rbottom"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"/></b></b>
        	</div>
       </div>
 </div>
</div>