<div class="menu_column"> 
<div class="sidemenudark"> 
          <div class="head"> 
            <p>testimonials</p>
          </div>
<div class="links"> 
		{section name=testi loop=$testimonials}
			"{$testimonials[testi].description}"<br><strong>{$testimonials[testi].from},&nbsp;{$testimonials[testi].companyname}</strong>
		{/section}
</div>
<div class="foot"></div>
</div>
</div>