<div class="form" > 
		  <div class="subhead" ><p>attachments&nbsp;<a href="javascript:staticPopupMessage('attachments');" style="font-size:1.0em;color:#FFFFFF;margin-left:435px;"><img  style="border: 0px none ;" src="./skin1/mkimages/help-icon.gif"/></a></p></div>
		 <div class="links"> 
			 <table width='95%' class='formtable' cellpadding='0' cellspacing='2' border='0' >
				  <tr class="trhead">
					<td width='30%'><p><strong>name</strong></p></td>
					<td width='25%'><p><strong>from</strong></p></td>
					<td width='25%'><p><strong>date</strong></p></td>
					<td width='15%'><p><strong>action</strong></p></td>
				  </tr>
				{section name=att loop=$attachement}
				  <tr class="trbody">
					<td width='30%'><p><a href='modules/corporate/download_attachment.php?requestid={$requestid}&attid={$attachement[att].attachment_id}&action=userattachment'>{$attachement[att].attachment_name}</a></p></td>
					<td width='25%'><p>{$attachement[att].attachee_name}</p></td>
					<td width='25%'><p>{$attachement[att].adddate}</p></td>
					<td width='15%'><p><a href='{$formaction}?requestid={$requestid}&attid={$attachement[att].attachment_id}&action=delete'>Remove</a></p></td>
				</tr>
				{/section} 
				   <tr>
					<td width='100%' colspan='4'>&nbsp;</td>
				  </tr>  
				  <tr>
					<td width='100%' colspan='4'>
					<form name="attachement" method="post" action="{$formaction}" enctype="multipart/form-data">
					<input type="hidden" name="requestid" id="requestid" value="{$requestid}"/>
					<input type="hidden" name="mode" id="mode" value="uploadattach" />
					upload attachement&nbsp;<input type="file" name="attach">&nbsp;&nbsp;&nbsp;<input type="submit" class="submit" name="submitattach" id="submitattach" value="upload">
					</form>
					</td>
					<!--<td width='33%'>Myntra Sales</td><td width='50%'></td>-->
					
				  </tr>  
			 </table>
		  </div>
		  <div class="foot"></div>
		</div>