{* $Id: popup_window.tpl,v 1.1 2006/03/06 08:55:38 max Exp $ *}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{config_load file="$skin_config"}
<html>
<head>
	<title>{$productname|escape}</title>
	<link rel="stylesheet" href="{$SkinDir}/{#CSSFile#}" />
{include file="meta.tpl" }
</head>
<body class="PImage" style="BACKGROUND-COLOR: #DCDCDC;" onload="javascript: window.focus();">
{include file="modules/Magnifier/product_magnifier.tpl productid=$productid imageid=$imageid}
</body>
</html>
