{* $Id: popup_magnifier.tpl,v 1.1.2.1 2006/06/16 10:47:46 max Exp $ *}
{include file="main/include_js.tpl" src="modules/Magnifier/popup.js"}
<table cellspacing="0" cellpadding="0">
<tr>
	<td colspan="2"><img src="{$cdn_base}/skin1/images/spacer.gif" width="1" height="3" alt=""></td>
</tr>
<tr>
	<td>
<a href="javascript: void(0);" onclick="javascript: winMagnifier = popup_magnifier('{$product.productid}');"><img src="{$cdn_base}/skin1/images/zoom_image.gif" alt="{$lng.lbl_click_to_zoom|escape}" /></a>

	</td>
	<td>&nbsp;</td>
	<td width="100%" nowrap="nowrap">
<a href="javascript: void(0);" style="text-decoration: underline;" onclick="javascript: winMagnifier = popup_magnifier('{$product.productid}');">{$lng.lbl_click_to_zoom}</a>
	</td>
</tr>
</table>
