/*-----------------------------+
| Developed By: Suresh V R 	   |
| Date: Jun 06, 2012           |
| suresh.v@kuliza.com          |
| Last updated :               |
+-----------------------------*/ 


/* common styles to reset the default*/
html {color:#484848;background:#fff;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {margin:0;padding:0;}
body {font-family:Arial;font-size:12px;background:#fff;color:#484848;}
table {border-collapse:collapse;border-spacing:0;}
fieldset, img {border:0;}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {font-style:inherit;font-weight:inherit;}
del, ins {text-decoration:none;}
li {list-style:none;}
caption, th {text-align:left;}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}
a{outline:none;text-decoration:none;color:#b5b5b5;}
input{outline:none;}
#wrapper{width:980px;margin:0px auto;}
.fLeft{float:left;}
.fRight{float:right;}
.headerBlk{clear:both;overflow:hidden;width:100%;text-align:center;background: #fff url(http://myntra.myntassets.com/images/kuliza/hdPipe.png) repeat-x scroll 0px bottom;height:auto;}
.logo{display:inline-block;margin-top:15px;background:url(http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png) no-repeat scroll -9px -10px;width:164px;height:36px;padding-bottom: 10px;}
.hdNav{clear:both;overflow:hidden;padding:0px 0px 10px;text-align:center;}
.hdNav li{display:inline-block;font:normal 14px/17px Arial;color:#808080;border-right:1px dotted #000;padding:0px 10px;}
.hdNav li:last-child{border:0px;}
.fBold{font:bold 16px/17px "DIN MITTEL EF",Arial;color:#484848;padding-right:7px;}
.sortingBlk{clear:both;overflow:hidden;height:30px;border-bottom:2px solid #b5b5b5;color:#808080;margin-right:2px;background-color:#fff;}
.sortingBlk a{display:inline-block;font:600 13px/28px "DIN MITTEL EF",Arial;color:#808080;padding:0px 5px;}
.sortingBlk a.active{color:#484848;text-decoration:underline;font-weight:bold;}
.sortingBlk a:hover{color:#484848;text-decoration:underline;font-weight:bold;}
.filtersBlk{clear:both;overflow:hidden;width:976px;border-bottom:1px solid #b5b5b5;padding:3px 0px 5px;display:none;background-color:#fff;}
.filtersBlk ul{clear:both;overflow:hidden;float:left;}
.filtersBlk ul li{font:600 13px/28px "DIN MITTEL EF",Arial,Arial;color:#808080;display:inline-block;padding-right:10px;}
.filtersBlk ul li span{font:normal 12px/20px Arial,helvetica;color:#fff;display:inline-block;padding-left:10px;background:#808080;padding:0px 10px 0px 7px;}
.filtersBlk ul li a{font:normal 12px/20px Arial;color:#fff;margin-right:5px;background:url(http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png) no-repeat scroll -250px -10px;width:7px;height:7px;display:inline-block;vertical-align: middle;margin-top:-2px;}
a.clearAll{display:inline-block;color:#b5b5b5;font:bold 12px/28px Arial;text-decoration:underline;margin-left:10px;}
.productsGridWrap{clear:both;padding:20px 0px;width:100%;margin-top: 130px;}
.productList{clear:both;width:100% !important ;}
.productList li{list-style-type:none;width:230px;min-height:400px;background:#fff;border:1px solid #D6D6D6;position:relative;float:left;margin:0px 9px 20px 4px;}
.productList li:nth-child(4){margin-right:0px;}
.productList li:hover{border:1px solid #808080;-webkit-box-shadow:0 0 4px 0px rgba(100, 100, 100, 0.75);-moz-box-shadow:0 0 4px 0px rgba(100, 100, 100, 0.75);box-shadow:0 0 4px 0px rgba(100, 100, 100, 0.75);}
.productList li.hovered{border:1px solid #808080;-webkit-box-shadow:0 0 4px 0px rgba(100, 100, 100, 0.75);-moz-box-shadow:0 0 4px 0px rgba(100, 100, 100, 0.75);box-shadow:0 0 4px 0px rgba(100, 100, 100, 0.75);}
.productList li.liked {-webkit-transition: box-shadow 2s linear, border 2s linear;-moz-transition: box-shadow 2s linear, border 2s linear;-o-transition: box-shadow 2s linear, border 2s linear;-ms-transition: box-shadow 2s linear, border 2s linear;transition: box-shadow 2s linear, border 2s linear;}
.productList li.shadowed{-webkit-box-shadow:0 0 8px 0px rgba(220, 38, 9, 0.75);-moz-box-shadow:0 0 8px 0px rgba(220, 38, 9, 0.75);box-shadow:0px 0px 8px 0px rgba(220, 38, 9, 0.75);border: 1px solid rgb(220, 38, 9);}
.product{clear:both;overflow:hidden;}
.product a.productImage{display:block;height:306px;}
.hoverBlk{background:rgb(250, 250, 250);text-align:center;height:75px;position:absolute;top:231px;left:0px;width:100%;}
.socialIcons{height:25px;border-bottom:1px dotted #000;padding-top:5px;}
.hoverBlk{display:none;}
.productList li:hover .hoverBlk{display:block;}
.hoverBlk p{font:normal 12px/14px Arial,helvetica;color:#484848;padding:10px 10px;}
.hoverBlk p.price{font-size:14px;padding-top:10px;}
.productDetails{clear:both;overflow:hidden;border-top:1px dotted #d6d6d6;padding:4px 10px 0px;position:relative;min-height:104px;}
.productDetails p{font:normal 12px/16px Arial,helvetica;color:#808080;}
.productDetails p span, .productDetails p span a{font:normal 12px/16px Arial,helvetica;color:#484848;}
.productDetails p span.activeText{text-decoration:underline;}
.productDetails p span.filterApplied{background:url(http://myntra.myntassets.com/images/kuliza/filter_not-active.png) no-repeat scroll right center;padding-right:16px;display:inline-block;}
.productDetails p span.filterNormal,.productDetails p span.filterApplied{margin-left:3px;background:url("http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png") no-repeat scroll -269px -8px transparent;width:14px;height:14px;display:inline-block;}
.productDetails p span.filterApplied{display:inline-block;}
.productDetails p.time{padding:5px 0px 2px;font-size:11px;color:#808080;}
.actionsList{width:209px;margin:0px auto;border-top:1px dotted #808080;padding:5px 0px;display:inline-block;}
.actionsList li{list-style-type:none;display:inline-block;border:0px;border-right:1px dotted #808080;float:left;min-height:19px;margin:0px;position:relative;text-align:center;width:69px;}
.productList .actionsList li:hover{box-shadow:none;border:0px;border-right:1px dotted #808080;}
.productList .actionsList li.last_child:hover,.actionsList li.last_child{border:0px;}
.actionsList li a{display:inline-block;padding:0px;font:normal 16px/12px "DIN MITTEL EF",Arial;color:#999;}
.actionsList li a span{display:inline-block;width:18px;height:18px;margin-right:3px;float:left;}
.productList .actionsList li:hover a{box-shadow:none;border:0px;}
.actionsList li.like a span{background:url("http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png") no-repeat scroll -9px -58px transparent;}
.actionsList li:hover.like a span{background:url("http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png") no-repeat scroll -39px -58px transparent;}
.actionsList li.like.active a span{background:url("http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png") no-repeat scroll -69px -58px transparent;}
.actionsList li.cart a span{background:url("http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png") no-repeat scroll -190px -59px transparent;}
.actionsList li:hover.cart a span{background:url("http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png") no-repeat scroll -220px -59px transparent;}
.actionsList li.cart.active a span{background:url("http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png") no-repeat scroll -220px -59px transparent;}
.actionsList li.comments a span{background:url("http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png") no-repeat scroll -100px -57px transparent;}
.actionsList li:hover.comments a span{background:url("http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png") no-repeat scroll -130px -57px transparent;}
.actionsList li.comments.active a span{background:url("http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png") no-repeat scroll -160px -57px transparent;}
.actionsList li a span.text{background:none;display:inline-block;padding:3px 0px 0px 0px;font:normal 16px/12px "DIN MITTEL EF",Arial;color:#999;height:auto;width:auto;}
.actionsList li.like a span.text,.actionsList li:hover.like a span.text,.actionsList li.like.active a span.text,.actionsList li.cart a span.text,.actionsList li:hover.cart a span.text,
.actionsList li.cart.active a span.text,.actionsList li.comments a span.text,.actionsList li:hover.comments a span.text,.actionsList li.comments.active a span.text{background:none;}
.tooltip{display:none;position:absolute;background:url(http://myntra.myntassets.com/images/kuliza/tooltip.png) no-repeat scroll 0px 0px;width:76px;height:35px;top:-34px;left:-3px;font:normal 12px/28px Arial,helvetica;color:#fff;text-align:center;}
.commentsList{clear:both;overflow:hidden;border-top:1px solid #d6d6d6;padding-top:1px;display:none;}
.commentsAction{background:#e6e6e6;text-align:center;height:24px;}
.commentsAction a{font:bold 12px/24px Arial,helvetica;color:#666;}
.fbCommentsList,.comment{clear:both;overflow:hidden;}
.comment{border-bottom:1px dotted #808080;padding:10px 10px 5px;}
.commentLeft{float:left;margin-right:10px;width:35px;}
.commentLeft img{border:1px solid #333;width:30px;height:30px;border-radius:5px;-webkit-border-radius:5px;margin-top:3px;}
.commentRight{float:right;width:165px;}
.commentRight p{font:normal 12px/16px Arial,helvetica;color:#4f4f4f;}
.commentRight p span{color:#333;font-weight:bold;}
p.time{font-size:11px;color:#808080;}
.overlay{position:fixed;width:100%;height:100%;background:#000;opacity:0.7;filter:alpha(opacity=70);left:0px;top:0px;display:none;z-index:10;}
.fbCommentsPopup{width:760px;height:400px;position:fixed;left:50%;top:10%;margin-left:-370px;background:#fff;padding:40px;z-index:20;display:none;}
.fbCommentsPopup a.close{position:absolute;top:7px;right:7px;font-size:21px;color:#484848;width:15px;height:15px;background:url("http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png") no-repeat scroll -220px -9px transparent;}
.fbCommentsWrap{clear:both;overflow:hidden;width:100%;position:relative;}
.fbProduct{float:left;width:194px;}
.fbProduct p{text-align:center;padding-top:5px;}
.fbComments{float:right;width:480px;height:400px;overflow:auto;}

/* Added by Arpan */
.scrollLoader{display:none;margin:0 auto;width:16px;height:16px;}
.overlayLoader{display:none;margin:0 auto;width:16px;height:16px;position:absolute;left:50%;top:40%;margin-left:-8px;z-index:20;}
.socialIcons .fbLike{margin-right:4px; display: inline-block; width: 35%;}
.socialIcons .pinIt{margin-left:4px;margin-right: 4px;display: inline-block; width: 19%;}
.socialIcons .tweetIt{margin-left: 4px;display: inline-block;width: 26%;}
#header{width:976px;margin:0px auto;z-index:9;position:fixed;top:0px;padding:0px;}
#header.box_shadow{box-shadow: 0px 3px 6px -4px rgba(0,0,0,0.5);-moz-box-shadow: 0px 3px 6px -4px rgba(0,0,0,0.5);-webkit-box-shadow: 0px 3px 6px -4px rgba(0,0,0,0.5);}
.shadowBlk{height: 10px;background: transparent url("http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png") no-repeat 0px -130px; display: none;}
/*#header.box_shadow{padding-bottom: 5px; background: url('http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png') 10px 100px no-repeat;}*/
.alignBottom{position: absolute;bottom:0px;left:10px;}
.productsGridWrap.extendMargin{margin-top:160px;}
#scrollToTop{width: 30px; height: 43px; position: fixed; top: 50%; left: 90%;background:url("http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png") no-repeat scroll -10px -80px transparent;display:none;cursor:pointer;}
#scrollToTop:hover{width: 30px; height: 43px; position: fixed; top: 50%; left: 90%;background:url("http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png") no-repeat scroll -50px -80px transparent;display:none;}
.refreshBtn{position:fixed;left:50%;top:100px;margin-left:-38px;line-height: 20px;border:1px solid #d6d6d6;border-top: 0px;background: #e6e6e6;color:#808080;padding:0px 5px 2px 5px;text-align:center;border-radius: 0px 0px 5px 5px;-webkit-border-radius: 0px 0px 5px 5px;width: 70px;font-size: 13px;z-index:5;cursor:pointer;}
.refreshImg{float:left;background:url("http://myntra.myntassets.com/images/kuliza/myntra-livefeed_sprites_v01.png") no-repeat scroll -249px -60px transparent;height:13px;width:13px;display:inline-block;margin-left: 5px;margin-top: 4px;}
.refreshTxt{float:left;padding-left: 4px;}
.noFeed{background-color: #f6f6f6;line-height: 150px;font-size:13px;height:150px;text-align: center;border-top: 1px solid #b5b5b5;border-bottom: 1px solid #b5b5b5;color:#5f889a;margin:0px auto;width:969px;margin-bottom:20px;display:none;}
.fbLike .fb_iframe_widget iframe {height: 23px !important;position: absolute !important;width: 76px !important;}
.fbLike .fb_iframe_widget > span {display: inline-block !important;position: relative !important;text-align: justify !important;vertical-align: text-bottom !important;width: 76px !important;height: 23px !important;}
.disabled{cursor:default;}
.feedComplete{text-align: center;display:none;}
.commentLoader{position:absolute;top:0px;left:280px;background-color: #fff;width:480px;height:50px;text-align: center;padding:175px 0px;z-index:1000;}
