<div id="quick-look-mod" class="lightbox">
<div class="mod">
    <div class="hd">
    </div>
    <div class="bd clearfix">
    </div>
    <div class="ft">
    	<span class="cps">{$topCpsMessage}</span>
    </div>
</div>
</div>
