<table background="http://myntramailer.s3.amazonaws.com/november2011/1322132689mrp2.jpg" border="0" width="464" height="42" cellpadding="0" cellspacing="0" style="margin-bottom: 0px;">
<tr>
	<td>
		<div style="padding-left: 20px;">
			<span style="font-family:Arial narrow,Helvetica,sans-serif;font-size:16px; color: #FFF; font-weight: bold; ">
			REGISTER NOW <strong style="font-size: 14px;">AND<br>
			 GET RS {$mrp_nonfbCouponValue} CREDITED TO YOUR MYNT CLUB ACCOUNT</strong></span>
		</div>

	</td>
</tr>
</table>