{* $Id: mykritihead.tpl,v 1.58 2006/03/17 08:50:44 svowl Exp $ *}
{if $affiliateId neq '' && $themeid eq 'COBRANDED_UI'}
	{include file="affiliatetemplates/$affiliatename/affiliatetop.tpl" }
{elseif $loadHanumantpl eq 'Y'}
     {include file=$bannerTpl }
  {elseif $whichtpl eq 'corporate'}
     <div id="corporatebanner">
    <img src='{$cdn_base}/skin1/mkimages/grouptop.gif' width='760' style='border:0px'>
</div>
{elseif $banner_flag eq 'corporate_order'}
     <div id="corporatebanner">
    <img src='{$cdn_base}/skin1/mkimages/placeorderbulk.jpg' width='860' style='border:0px'>
</div>
{else}
	<!--old site/menu.tpl-->
	  <!--Header starts here-->
	  <div id="header">
	  <div id="blackstrip">
		<div class="phone" style="margin-left:0;"><span class="gray" style="margin:0px"><strong><a rel="nofollow" href="{$http_location}/contactus" style="text-decoration:underline" >Customer Care</a></strong></span><div class="phone_icon"></div><div class="phone_text" style="margin:4px 0 0 3px;"><strong>+91-80-43541901/03/19 <span style="float: none; font-size: 10px;font-weight: bold;">(Mon-Sat: 9:00AM to 9:00PM IST)</span></strong></div></div>
		
		<!--div class="phone"><div class="phone_text"><strong>Sales Enquiry</strong></div><div class="phone_icon"></div><div class="phone_text"><strong>1800 102 9696 (Toll Free)</strong></div></div-->
		<div class="chat" style="margin:0px 0px 0px 130px;width:400px">
		
		<!-- removing this iframe because of facebook like box performance issue -->
		<!--  <div class="chat_icon" style="background:none;display:none;">
		<iframe src="#" frameborder="0" class="helpIframe" scrolling="no" width="30" height="25"></iframe>
		</div> -->
		
		<div class="chat_text" style="display:none;"><strong>Live Chat</strong> </div>

		<div class="login" style="margin:0px">
		 <div id="cart">
				   <dl id="sample" class="dropdown">
					 <dd><div class="cart_icon"><div style="padding:5px 15px 0 0;"><a rel="nofollow" href="javascript:void(0)" style="color:#FFF">({if isset($itemsInCart)}{$itemsInCart}{else}0{/if})</a></div></div></dd>
					 <dd style="position:absolute;">
					   <ul>
						 <li class="cart-value"><div>Rs. {if isset($totalAmount)}{$totalAmount}{else}0{/if}</div></li>
						 <li> <a rel="nofollow" href="{$http_location}/mkmycart.php?at=c&amp;pagetype=productdetail" style="background:none;color:#ffffff;">View Cart</a> </li>
						 <li> <a rel="nofollow" href="{$http_location}/mkmycart.php?at=c&amp;pagetype=productdetail" style="background:none;color:#ffffff;">Check Out</a> </li>
					   </ul>
					 </dd>
				   </dl>
				 </div>
				 
		<div class="login_text">

		 <form action="{$http_location}/include/login.php" method="post" id="toploginform">

		{if $login eq ''}

			 <!--remove comment-->
			 <!--<input type="text" name="username" value="e-mail" onfocus="if(this.value==this.defaultValue) this.value='';" onblur="if(this.value=='') this.value=this.defaultValue;" size="15">
		&nbsp;
			 <input type="password" name="password" value="password" onfocus="if(this.value==this.defaultValue) this.value='';" onblur="if(this.value=='') this.value=this.defaultValue;" size="15">-->

			<input type="hidden" name="usertype" value="C">
			<input type="hidden" name="redirect" value="1"> 
			<input type="hidden" name="mode" value="login">
			<input type="hidden" name="filetype" value="{$pagename}">
			
		  {if $referer}
		 <a href="{$http_location}/register.php?redirecturl={$referer}" style="color:white;font-size:1.0em;" rel="nofollow" ><strong>Login</strong>/Not yet registered? Click here</a>
	   {else}
			<a href="{$http_location}/register.php" rel="nofollow"><u><strong>Login</strong>/Not yet registered? Click here</u></a>
	   {/if}
	 {else}

			 <input type="hidden" name="mode" value="logout">

			 Welcome {$firstname}&nbsp;| <a  href="{$http_location}/mkMyAccount.php" rel="nofollow">my account</a>&nbsp;|
			<a  href="javascript: document.getElementById('toploginform').submit();" rel="nofollow" >log out</a>
		{/if}
			</form>

		</div>
			<div class="login_icon" >&nbsp;</div>
		
		</div>

				
		 </div>
		 </div>

		<div id="logosection">
		  <div class="logo"><a href="{$http_location}"><img src="{$cdn_base}/skin1/icons/logo.png" alt="Myntra Logo" width="171" height="60" border="0"></a></div>
		  <div class="search">
		  <form id="basicsearchform" action="{$http_location}/include/search/" method="post" onsubmit="return formSubmit();">
			<input name="query" id="gosearch" class="searchtextbox" type="text" value="{if $search_key} {$search_key}  {else}{/if}" size="75" onclick="this.value=''">
			<input type="submit" class="searchbutton" value="" onclick="return formSubmit();">
		  </form>
		</div>

		<div class="menuright">
			<div class="new-icon-image">New</div>
			<div class="text">FREE Shipping in India <span class="texttag">Above Rs.99/-</span></div>
			<div class="text-cod">Pay Cash on Delivery</div>
			<div class="texttag2">Above Rs.199/-</div>
		</div>

		 
		<div id="ddmenu">
		<ul>
		  <li class="dir"><a href="{$http_location}/mkcreateproduct.php" style="color:#fff" class="main-link">CREATE&nbsp;</a>
			<ul  class="ddlist" style="width:145px;" >
				<li><a href="{$http_location}/Apparels/pg/1">Apparels</a></li>
				<li><a href="{$http_location}/Mugs%20&amp;%20Drink%20ware/pg/3">Mugs &amp; Drink ware</a></li>
				<li><a href="{$http_location}/laptop-bags-backpacks">Bags</a></li>
				<li><a href="{$http_location}/brandedpens">Writing Instruments</a></li>
				<li><a href="{$http_location}/photo+books"> Photo Books</a></li>
				<li><a href="{$http_location}/Calendar%20&amp;%20Diaries/pg/4">Calendar &amp; Diaries</a></li>
				<li><a href="{$http_location}/Watches/pg/12">Watches</a></li>
				<li><a href="{$http_location}/mkcreateproduct.php" style="color:#fff;font-weight:bold;text-decoration:underline;">See More</a></li>
			</ul>
		  </li>
		  </ul><ul>
		  <li class="dir"><a href="{$http_location}/buy/T-Shirts" style="color:#fff" class="main-link">T-SHIRTS&nbsp;</a>
	 <ul class="ddlist" style="width:175px;" >
				<li><a style="display:inline" href="{$http_location}/best-of-2010-t-shirts/search/">Best of Myntra</a><b style="color:#B90000;display:inline;font-size:11px;padding-left:10px;">New</b></li>
				<li><a style="display:inline" href="{$http_location}/Attitude-T-Shirts/search/">Attitude T-Shirts</a><b style="color:#B90000;display:inline;font-size:11px;padding-left:10px;">New</b></li>
				<li><a href="{$http_location}/Slogan-T-Shirts/search/">Slogan T-Shirts</a></li>
				<li><a href="{$http_location}/Funny-T-Shirts/search/">Funny T-Shirts</a></li>
				<li><a href="{$http_location}/Desi-T-Shirts/search/">Desi T-Shirts</a></li>
				<li><a href="{$http_location}/Rock-Band-T-Shirts/search/">Rock Band T-Shirts</a></li>
				<li><a href="{$http_location}/Social-Cause-T-Shirts/search/">Social Cause T-Shirts</a></li>
				<li><a href="{$http_location}/Bollywood-T-Shirts/search/"> Bollywood T-Shirts </a></li>
				<li><a href="{$http_location}/Abstract-T-Shirts/search/">Abstract T-Shirts </a></li>
				<li><a href="{$http_location}/Apparels/pg/1">Create your own T-Shirts</a></li>
				<li ><a href="{$http_location}/buy/T-Shirts" style="color:#fff;font-weight:bold;text-decoration:underline;">See More</a></li>
			</ul>
			</li></ul>
			<ul>
			 <li class="dir"><a href="{$http_location}/sportswear/" style="color:#fff;" class="main-link">SPORTS WEAR&nbsp;</a>
			  <ul  class="ddlist">
				<li style="padding-top:10px;">
					<table cellpadding="0" cellspacing="0" border="0" width="400px" class="leaf">
					<tr>
							<td><strong>Jerseys</strong>
								<a href="{$http_location}/indian-cricket-team-jersey">Team India Jersey</a>
								<a href="{$http_location}/cricket-jerseys">IPL Jerseys</a>
								<a href="{$http_location}/soccer-football-jerseys">FIFA Jerseys</a>
								<a href="{$http_location}/soccer-football-jerseys">EPL Jerseys</a>
							</td>
					   {assign var=counter value=0}
					{foreach from=$sportswear key=group item=filters}

							<td><strong>{$group}</strong>
							{foreach from=$filters key=k item=filter name=inner_filters}
								{if $smarty.foreach.inner_filters.index lt 4}
								<a href="{$http_location}/sportswear/{$filter.filter_url}">{$filter.filter_name|truncate:15:"..":true}</a>
								{/if}
								
							{/foreach}
							</td>
					   {assign var=counter value=$counter+1}
					   {if $counter eq 2 || $counter eq 5}
							</tr>
							<tr>
								<td colspan="3">&nbsp;</td>
							</tr>
							<tr>
					   {/if}

					{/foreach}
						<tr>
						<tr>
							<td colspan="3"><div class="menumore"><a href="{$http_location}/sportswear/">+ Show More</a> &nbsp; &nbsp; </div></td>
						</tr>
					</table>
				</li>
			  </ul>

			</li></ul>
			<ul>
			 <li class="dir"><a href="{$http_location}/laptop-bags-backpacks" style="color:#fff;" class="main-link">BAGS&nbsp;</a>
			  <ul  class="ddlist" style="width:135px;">
				<li><a href="{$http_location}/laptop-bags-backpacks">Laptop Backpacks</a></li>
				<li><a href="{$http_location}/travel-bags">Travel Bags</a></li>
				<li><a href="{$http_location}/school-bags">School Bags</a></li>
				<li ><a href="{$http_location}/laptop-bags-backpacks" style="color:#fff;font-weight:bold;text-decoration:underline;">See More</a></li>
			</ul>

			</li></ul>

	 <ul>
			 <li class="dir"><a href="{$http_location}/Mugs%20&amp;%20Drink%20ware/pg/3" style="color:#fff;" class="main-link">MUGS &amp; DRINKWARE&nbsp;</a>
			  <ul  class="ddlist" style="width:181px;">
				<li><a href="{$http_location}/create/Mugs/3">Mugs</a></li>
				<li><a href="{$http_location}/create/Coaster/4">Coasters</a></li>
				<li><a href="{$http_location}/create/Plate/15">Plates</a></li>
				<li><a href="{$http_location}/create/Sipper/53">Sippers</a></li>
				<li><a href="{$http_location}/create/Wine%20Glass/93">Wine Glasses</a></li>
				<li ><a href="{$http_location}/Mugs%20&amp;%20Drink%20ware/pg/3" style="color:#fff;font-weight:bold;text-decoration:underline;">See More</a></li>
			</ul>

			</li></ul>
			<ul>
		  <li class="dirnoimage"><a href="{$http_location}/mkcreateproduct.php" style="color:#fff" class="main-link">ALL</a></li></ul>
	</div>

	  </div>
	  </div>
	<!--old site/menu.tpl-->
{/if}
