{* $Id: mykritihead.tpl,v 1.58 2006/03/17 08:50:44 svowl Exp $ *}
{if $affiliateId neq '' && $themeid eq 'COBRANDED_UI'}
	{include file="affiliatetemplates/$affiliatename/affiliatetop.tpl" }
{elseif $loadHanumantpl eq 'Y'}
     {include file=$bannerTpl }
  {elseif $whichtpl eq 'corporate'}
     <div id="corporatebanner">
    <img src='{$cdn_base}/skin1/mkimages/grouptop.gif' width='760' style='border:0px'>
</div>
{elseif $banner_flag eq 'corporate_order'}
     <div id="corporatebanner">
    <img src='{$cdn_base}/skin1/mkimages/placeorderbulk.jpg' width='860' style='border:0px'>
</div>
{elseif $orgId !=""}
    {include file="modules/organization/organizationtop.tpl" }
{else}
	{if $posaccounttype eq 'SM' || $posaccounttype eq 'P2' }
			{include file="pos/mkpostopmenu.tpl"}
	{else}
		{include file="site/menu.tpl"} 	
	{/if}

{/if}
