/** sprite: mysprite; sprite-image: url('sprite.jpg'); sprite-layout: horizontal */
#are_your_a_designer { 
background-image: url(are_your_a_designer.gif); /** sprite-ref: mysprite;  */ 
} 
#create_your_own { 
background-image: url(create_your_own.gif); /** sprite-ref: mysprite;   */ 
} 
#featured_designs { 
background-image: url(featured_designs.gif); /** sprite-ref: mysprite; */ 
} 
#top_strip_new { 
background-image: url(top_strip_new.jpg); /** sprite-ref: mysprite; */ 
} 
#what_you_want { 
background-image: url(what_you_want.gif); /** sprite-ref: mysprite; */ 
} 

