{if $usertype eq "C"} {* Crystal_Blue *}
<table cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="100%">
<table cellpadding="0" cellspacing="0" width="100%">
<tr>
<td height="50" valign="middle" align="center" class="BottomHelp">
{include file="help.tpl"}
</td>
</tr>
<tr>
<td><img src="{$cdn_base}/skin1/images/spacer.gif" width="1" height="2" alt="" /></td>
</tr>
<tr>
<td height="22" valign="middle" align="center" class="BottomBox">
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td class="Bottom" align="left">&nbsp;&nbsp;{include file="main/prnotice.tpl"}</td>
<td><img src="{$cdn_base}/skin1/images/spacer.gif" width="1" height="2" alt="" /></td>
<td class="Bottom" align="right">{include file="copyright.tpl"}</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
<td valign="top" align="right"><img src="{$cdn_base}/skin1/images/custom/bottom_left.jpg" width="184" height="74" alt="" /></td>
</tr>
</table>

{else} {* Crystal_Blue *}

<table width="100%" cellpadding="0" cellspacing="0">
<tr><td class="HeadThinLine"><img src="{$cdn_base}/skin1/images/spacer.gif" class="Spc" alt="" /></td></tr>
<tr>
<td class="BottomBox">
<table width="100%" cellpadding="0" cellspacing="0"><tr>
<td class="Bottom" align="left">&nbsp;</td>
<td class="Bottom" align="center">{include file="copyright.tpl"}</td>
</tr></table>
</td>
</tr>
</table>

{/if} {* Crystal_Blue *}
