{literal}
<script Language="JavaScript" Type="text/javascript">
function changeTopLinkColor(id){
document.getElementById(id).style.color='red';
document.getElementById(id).style.textDecoration='underline';
}
function mouseTopLinkOut(id){
document.getElementById(id).style.color='#333333';
document.getElementById(id).style.textDecoration='none';
}
</script>
{/literal}
{if $affiliateId neq '' && $themeid eq 'COBRANDED_UI'}
 &nbsp;
{elseif $loadHanumantpl eq 'Y'}
 &nbsp;  
{else}
  	 {*if $promotion_key eq '' && $showSearch eq ''*}
	{*{if $accountType eq 0}
		<div class="search_wrapper">
			<!-- search not displayed for POS -->
				<div class="promotion_banner">
				{$topStripImage}
				</div>
		</div>
	{/if}*}
	 {*/if*}
 <div id="breadcrumb">
		<div class="breadcrumb_nav">
			<div class="breadcrumb_text">

				{section name=bc loop=$breadCrumb}
					 {if !$smarty.section.bc.last}
					{if $breadCrumb[bc].title ne ''}
					<div style="float:left;">
					<a href="{$breadCrumb[bc].reference}">{$breadCrumb[bc].title}</a>&nbsp;&raquo;&nbsp;
					 </div>
					 {/if}
					{else}
					{$breadCrumb[bc].title}
				{/if}
				{/section}
			 
			</div>			
	 	</div>
 </div>
{/if}
<div class="clearall"></div>
