{if $allproducts != 'empty'}
{assign var=index value=0}
<div class="text">
            <div class="seriallist" style="margin:5px 20px 8px 10px;">
             <form name="ratingform" action="{$http_location}/startshop/{$sortMethod}/{$pg}" method="post">
             <input type="hidden" name="productid" value="" />
             <input type="hidden" name="rating" value="" />
             <input type="hidden" name="expert" value="" />
{section name=outerloop loop=4}
        {section name=allproducts loop=$allproducts start=$index max=4}

		<div class="listbox" style="width:170px;height:240px;margin:5px 5px 8px 5px;_margin:5px 5px 7px 5px;">
		{if $allproducts[allproducts][8] != "" OR $allproducts[allproducts][10] != ""}
		  {if $allproducts[allproducts][10] }
		  	{assign var="portal_img" value=$allproducts[allproducts][10]}
		  {else}
		    {assign var="portal_img" value=$allproducts[allproducts][8]}
		  {/if}	
			<div class="imagebox" style="width:170px;height:170px;">
			   <a rel="nofollow" id='{$allproducts[allproducts][0]}' name='{$allproducts[allproducts][0]}' href="{$http_location}/{$allproducts[allproducts][1]|replace:" ":"-"}/{$allproducts[allproducts][5]|replace:" ":"-"}/FC/PD/{$allproducts[allproducts][0]}" >
					<img style="margin-top:0px;" id="product_{$allproducts[allproducts][0]}" src="{$cdn_base}/skin1/images/spacer.gif" lazy-src="{$portal_img}" class="lazy" title="{$allproducts[allproducts][1]} {$allproducts[allproducts][5]}" alt="{$allproducts[allproducts][1]} {$allproducts[allproducts][5]}"/>
			   </a>
			</div>
		{else}
			<div class="imagebox"><img src="{$cdn_base}/default_logo.gif" alt="{$allproducts[allproducts].prodname} {$allproducts[allproducts][5]}" /></div>

		{/if}
		<div class="textbox" style="width:165px;">
			<a href="?img={$allproducts[allproducts][11]|substr:21:70}" class="thickbox with-tooltip" title="see large image" >
				<div class="lensebox"></div></a>
				<strong><a href="{$http_location}/{$allproducts[allproducts][1]|replace:" ":"-"}/{$allproducts[allproducts][5]|replace:" ":"-"}/FC/PD/{$allproducts[allproducts][0]}"
          title="{$allproducts[allproducts].prodname|replace:"-":" "}"  class="with-tooltip">{$allproducts[allproducts].prodname|replace:"-":" "} {$allproducts[allproducts][5]}</a></strong><br>
            
          
		  <strong>Price:</strong>&nbsp;Rs.<span >{$allproducts[allproducts][2]}</span>
		  {if $login eq $expert && $login neq ""}
		  <select name="" id="select{$allproducts[allproducts][0]}" onchange="javascript:expertrate('{$allproducts[allproducts][0]}');" style="width:90px; font-size:8px;">
					<option value="0" selected>select rating</option>
					{foreach from=$myn_rating key=gid item=gname} 
						{if $gid eq $allproducts[allproducts][9]}
						<option value="{$gid}" selected>{$gname}</option>
						{else}
						<option value="{$gid}">{$gname}</option>
						{/if}
			 		{/foreach}
			</select>
		   {/if}
					
                </div>
		</div>

        {/section}
	{assign var=index value=$index+4}


{/section}
</form>

<div class="clearall"></div>
            </div>
          </div>

	 

{else}
	<div class="links">
	<p><strong>There are no products in the system.</strong></p>
	</div>

{/if}

{literal}
	<script type="text/javascript">
		function expertrate(productID){
		 var id=document.getElementById("select"+productID).value;
		document.ratingform.rating.value=id;
		document.ratingform.expert.value="yes";
			 document.ratingform.productid.value=productID;
			 document.forms.ratingform.submit();
			
		}
		
		
	</script>
{/literal}




