<div class="form">
    <div class="subhead"> 
      <p>view designs for a specific product</p>
    </div>
    <div class="text"> 
      <div class="seriallinks"> 
      {section name=typeidx loop=$producttypes }
      {if $producttypes[typeidx][4] == 'P'}
		{if $selectedtypeid == $producttypes[typeidx][0]}
			<span class="selected">{$producttypes[typeidx][1]}</span>&nbsp;&nbsp;&nbsp;
		{else}
			<!--a href="categorytype/{$catid}/{$producttypes[typeidx][0]}">{$producttypes[typeidx][1]}</a&nbsp;&nbsp;&nbsp;-->
			<a href="category/{$catname}/{$producttypes[typeidx][1]}/{$catid}">{$producttypes[typeidx][1]}</a>&nbsp;&nbsp;&nbsp;
		{/if}
	{/if}
      {/section}
      </div>
    </div>
    <div class="foot"></div>
 </div>
