

<div class="text">
            <div class="seriallist">
             

        {section name=searchproducts loop=$searchproducts }

		<div class="listbox" style='width:174px;margin:4px;height:300px;_height:300px;margin-top:15px'>

		{if $searchproducts[searchproducts][8] != ""}
		
		
			<a  style='text-decoration:none;cursor:pointer;'id='{$searchproducts[searchproducts][0]}' name='{$searchproducts[searchproducts][0]}' href="{$http_location}/{$searchproducts[searchproducts][1]|replace:" ":"-"}/T-Shirt/FC/PD/{$searchproducts[searchproducts][0]}" >
			<div class="imagebox" onmouseout="javascript:writetxt(0);" onmouseover="javascript:writetxt('This t-shirt design is available in various styles such as Raglan, Ringer, and so on. Click on the image to check out the different styles and sizes.');" style="height:204px;border:0px;">
	    <div style='float:left;background-image:url({$cdn_base}/skin1/mkimages/prdtyp2.jpg);background-repeat:no-repeat;width:174px;height:204px;'>
	
		<div style="background-image: url({$searchproducts[searchproducts][8]});
					background-position: center; background-repeat: no-repeat;width:100px;height:100px;margin-top:40px; _margin-top:45px;margin-left:38px;_margin-left:8px;" >
					&nbsp;
					</div>
				  </div>
				</div>
		</a>
			

		{else}
			<div class="imagebox"><img src="{$cdn_base}/default_logo.gif" alt="{$searchproducts[searchproducts].prodname} {$searchproducts[searchproducts][5]}" /></div>

		{/if}
		<div class="textbox" style='width:120px;padding-left:40px;margin-top:10px'>
          <a href="?img={$searchproducts[searchproducts][11]|substr:21:70}" class="thickbox" onmouseover="writetxt('see large image')" onmouseout="writetxt(0)">
          <div class="lensebox" style='margin-right:25px;_margin-right:2px;'></div></a>
	   
          <strong><a href="{$http_location}/{$searchproducts[searchproducts][1]|replace:" ":"-"}/T-Shirt/FC/PD/{$searchproducts[searchproducts][0]}"
          onmouseover="writetxt('{$searchproducts[searchproducts][1]|escape:"quotes"}')" onmouseout="writetxt(0)">{$searchproducts[searchproducts].prodname}</a></strong>
           <br/> 
          
	  <strong>Price:</strong>&nbsp;Rs.<span >{$searchproducts[searchproducts][2]}</span>
 	 
	   <a style="text-decoration:none" href="{$http_location}/{$searchproducts[searchproducts][1]|replace:" ":"-"}/T-Shirt/FC/PD/{$searchproducts[searchproducts][0]}">	  <input class="submit" type="button" onclick="location.href=" value="buy now" style="font-size: 10px;"/>	
		</a>			
                </div>
		</div>

        {/section}
	

      <div class="clearall"></div>
    </div>
  </div>

