 {if $featuredproducts}
 <div class="highlites"> 
            
          <div class="superbanner"><img src="{$bannerPath}/{$selectedProductTypeImage}" width="580" height="70"></div>

          <div class="head"> 
            <p>featured products</p>
          </div>
	 {assign var=i value=0}
          <div class="content"> 
            <table class="wrapper">
	    <tbody>
              <tr> 
		
		{section name=featuredproducts loop=$featuredproducts max =$prToDisplay}
		
		{assign var=i value=$i+1}
		{if 5==$i}
		</tr>
		<tr>
		{assign var=i value=1}
		{/if}
			<td class="align_center">
				
					
					{if  $featuredproducts[featuredproducts][8] !=  ""}
					 	 {if $ie eq "true"}
							<!--<div class="imagebox"> -->
								<!--<a href="mkproductdetail.php?productTypeId={$featuredproducts[featuredproducts][4]}&type={$featuredproducts[featuredproducts][5]}&productStyleId={$featuredproducts[featuredproducts][6]}&productid={$featuredproducts[featuredproducts][0]}">-->
								<a href="products/{$featuredproducts[featuredproducts][0]}">
								<!--<span style="display:inline-block;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{$featuredproducts[featuredproducts][8]}');
			">	 -->
						 <div style="background-image: url({$featuredproducts[featuredproducts][8]}); 
							background-position: center; background-repeat: no-repeat;
							filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
							filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{$featuredproducts[featuredproducts][8]}');" >
							<div style="text-align: center;background-image: url(./images/b.gif); 
					        	width: 120px; height: 140px; vertical-align: middle;">	
								<img src="{$cdn_base}/images/b.gif"  alt="{$featuredproducts[featuredproducts][1]}_{$featuredproducts[featuredproducts][5]}" />
							 </div>		
				        </div>			 
						</a>
							<!--</div> -->
						{else}
							<!--<a href="mkproductdetail.php?productTypeId={$featuredproducts[featuredproducts][4]}&type={$featuredproducts[featuredproducts][5]}&productStyleId={$featuredproducts[featuredproducts][6]}&productid={$featuredproducts[featuredproducts][0]}">-->         
							<a href="products/{$featuredproducts[featuredproducts][0]}">
						    <div style="background-image: url({$featuredproducts[featuredproducts][8]}); 
								background-position: center; background-repeat: no-repeat;" >
								<div style="text-align: center;background-image: url(./images/b.gif); 
						        	width: 120px; height: 140px; vertical-align: middle;">
										<img src="{$cdn_base}/images/b.gif"  alt="{$featuredproducts[featuredproducts][1]}_{$featuredproducts[featuredproducts][5]}" />
										
								 </div>		
							</div>		 
						</a>
					 {/if}	
				{else}
					   <img   src="./default_logo.gif"  height='50' width='70' />
               	{/if}
				<br/>
					<p><!--<a href="mkproductdetail.php?productTypeId={$featuredproducts[featuredproducts][4]}&type={$featuredproducts[featuredproducts][5]}&productStyleId={$featuredproducts[featuredproducts][6]}&productid={$featuredproducts[featuredproducts][0]}"">-->
					<a href="products/{$featuredproducts[featuredproducts][0]}">
					{$featuredproducts[featuredproducts][1]}</a><br>
					
					 <strong>Product :</strong>&nbsp;{$featuredproducts[featuredproducts][5]} <br>
					 
					<strong>Price:</strong>&nbsp;Rs.<span>{$featuredproducts[featuredproducts][2]}</span>&nbsp;</p>
					</td>
				
		
		{/section}
		</tr>
                </tbody>
		</table>
                 </div>
		<div class="foot"></div>
		</div>
{/if}
 
