<div class="form">
            <div class="subhead"> 
              <div style='margin-left:5px;'>{$pageheading}</div>
                            
            </div>

            
          <div class="text"> 
              <div class="seriallinks"> 
	    {*section name=idx loop=$related_tags*}
			{php}
			$arr_tagname =  array();
			//$arr_tagids = array();
			 require_once ("include/func/func.mkcore.php");
			 $related_tags = $this->get_template_vars('related_tags');
			 $this->assign('myVars',$myVars);
			 $http_location = $this->get_template_vars('http_location');
			 $tagname = $this->get_template_vars('tagname');
			 $tagid = $this->get_template_vars('tagid');
		         $productlabel = $this->get_template_vars('productlabel');
			 $typeid = $this->get_template_vars('typeid');

			foreach($related_tags as $rel_tags){
			$temp_tags =   func_sort_string($tagname,$rel_tags);
			$temp_ids  = func_tags_ids($temp_tags) ;
			$temp_tags = str_replace(" ","-",$temp_tags);
			if(($typeid == 0)||($productlabel == "all")){
			echo "<a href='".$http_location."/{$temp_tags}/all/FC/TL/0/{$temp_ids}'>".strtolower($rel_tags)."</a>";
			echo "&nbsp;&nbsp; ";
			}else{
			echo "<a href='".$http_location."/{$temp_tags}/{$productlabel}/FC/TL/{$typeid}/{$temp_ids}'>".strtolower($rel_tags)."</a>";
			echo "&nbsp;&nbsp; ";
			}
			
			 
			 }
			 
			 {/php}
				
	        {*/section*}
            
              </div>
            </div>
            <div class="foot"></div>
 </div>
 