{if $sellingproducts != 'empty'}
{assign var=index value=0}
<div class="text">
            <div class="seriallist">
             
             
{section name=outerloop loop=1}
        {section name=sellingproducts loop=$sellingproducts start=$index max=3}

		<div class="listbox"  style='width:174px;margin:4px;height:250px;'>

		{if $sellingproducts[sellingproducts][8] != ""}
			<a  style='text-decoration:none;cursor:pointer;'id='{$sellingproducts[sellingproducts][0]}' name='{$sellingproducts[sellingproducts][0]}' href="products/{$sellingproducts[sellingproducts][0]}/{$sellingproducts[sellingproducts][1]}" >
				<div style='float:left;background-image:url({$cdn_base}/skin1/mkimages/prdtyp2.jpg);background-repeat:no-repeat;width:174px;height:204px;'>
			
				<div style="background-image: url({$sellingproducts[sellingproducts][8]});
					background-position: center; background-repeat: no-repeat;width:100px;height:100px;margin-top:35px; margin-left:38px;" >
					&nbsp;
					</div>
				
				</div>

			  </a>

			

		{else}
			<div class="imagebox"><img src="{$cdn_base}/default_logo.gif" alt="{$sellingproducts[sellingproducts].prodname} {$sellingproducts[sellingproducts][5]}" /></div>

		{/if}
		<div class="textbox" style='width:140px;padding-left:40px;' >
          <a href="?img={$sellingproducts[sellingproducts][10]|substr:21:70}" class="thickbox" onmouseover="writetxt('see large image')" onmouseout="writetxt(0)">
          <div class="lensebox" style='margin-right:25px;'></div></a>
          <!--<strong><a href="mkproductdetail.php?productTypeId={$sellingproducts[sellingproducts][4]}&type={$sellingproducts[sellingproducts][5]}&productStyleId={$sellingproducts[sellingproducts][6]}&productid={$sellingproducts[sellingproducts][0]}"
          onmouseover="writetxt('{$sellingproducts[sellingproducts][1]|escape:"quotes"}')" onmouseout="writetxt(0)">{$sellingproducts[sellingproducts].prodname}</a></strong>-->
	  <strong><a href="products/{$sellingproducts[sellingproducts][0]}/{$sellingproducts[sellingproducts][1]}"
          onmouseover="writetxt('{$sellingproducts[sellingproducts][1]|escape:"quotes"}')" onmouseout="writetxt(0)">{$sellingproducts[sellingproducts].prodname}</a></strong>
            
          <strong>Product&nbsp;:</strong>&nbsp;{$sellingproducts[sellingproducts][5]}<br>
		  <strong>Price:</strong>&nbsp;Rs.{$sellingproducts[sellingproducts][2]}
		  
					
                </div>
		</div>

        {/section}
	{assign var=index value=$index+4}


{/section}


<div class="clearall"></div>
            </div>
          </div>

	 

{else}
	<div class="links">
	<p><strong>There are no products in the system.</strong></p>
	</div>

{/if}






