<table width="100%" border="0"
cellpadding="0" cellspacing="0" class=
"listTableheader">
<tr>
<td width="15" background=
"{$mkImagesDir}/list_tableheader_bg.jpg">
<img src=
"{$mkImagesDir}/list_tableheader_bg.jpg"
width="1" height="23" alt=""></td>

<td width="200" class=
"listTableheaderText" nowrap='true'>
{$captions[$i]}</td>

<td background=
"{$mkImagesDir}/list_tableheader_bg.jpg">
<img src=
"{$mkImagesDir}/list_tableheader_bg.jpg"
width="1" height="23" alt=""></td>
</tr>
</table>