.stepcarousel{
position: relative; /*leave this value alone*/
border: 0px solid black;
overflow: scroll; /*leave this value alone*/
/*width: 340px;*/
width:76%;
height: 122px; /*Height should enough to fit largest content's height*/
}
.stepcarousel .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}
.stepcarousel .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 10px; /*margin around each panel*/
width: 100px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}
p.samplebuttons{
width: 320px;
text-align: center;
}
p.samplebuttons a{
color: #2e6ab1;
padding: 1px 2px;
margin-right: 3px;
text-decoration: none;
}
.scrollnav{
    float: left; margin-left: 40px;_margin-left: 25px; width: 75%;
}
.scrollnav #leftnavig {
   float: left; width: auto; height: 20px; margin-top: 10px; margin-left: 12px; position: relative; opacity: 0.3;
}
.scrollnav #rightnavig {
      width: auto; float: right; height: 20px; margin-top: 10px;
}