{* $Id: dialog_printable.tpl,v 1.5 2005/11/17 13:39:36 max Exp $ *}
<!-- <table cellpadding="0" cellspacing="0" {$extra}>
<tr>
<td><table cellpadding="0" cellspacing="0" width="100%" class="DialogTitleBox">
<tr>
<td valign="top" class="DialogTitleBorder"><img src="{$cdn_base}/skin1/images/spacer.gif" width="1" height="21" alt="" /></td>
<td  width="100%" height="21" valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;<font class="DialogTitleFont"></font></td>
<td valign="top" class="DialogTitleBorder"><img src="{$cdn_base}/skin1/images/spacer.gif" width="1" height="21" alt="" /></td>
</tr>
</table></td>
</tr>
<tr><td class="DialogBorder"><table cellspacing="1" class="DialogBox">
<tr><td class="DialogBox" valign="{$valign|default:"top"}">{$content}
&nbsp;
</td></tr>
</table></td></tr>
</table> -->
