{literal}
<script language="javascript">
function checkCoupon(login, cform){
   if((document.getElementById("couponcode").value) == ""){
	alert("Please input a valid coupon code!");
	couponform.couponcode.focus()
	return false;
   }
   else if(!checkValidInput(couponform.couponcode.value)){
	couponform.couponcode.focus()
        return false	  
   }
   else{
	 document.couponform.submit();
   }		  
}
function checkValidInput(alphane){
    var numaric = alphane;
    if (alphane == ""){
        alert("Please input a valid coupon code");
        return false;
    }
    return true;
}
</script>
{/literal}
{*include file="mkquickregistration.tpl"*}
{if $orgId != ""}
    {assign var=action value="mkmycartmultiple.php?c=1&pagetype=$pagetype"}
{else}
    {assign var=action value="mkmycart.php?c=1&pagetype=$pagetype"}
{/if}

<form name="couponform" id="couponform" action="{$action}" method="post">
<input type="hidden" id="referral_flag" name="referral_flag" value="">
<div class="super"><p>do you have discount coupon ? use it now</p></div>
<div class="head">&nbsp;please click on the redeem button to get the discount </div>
<div class="links">
<p>If you have a valid discount coupon, you can enter it below, the store will
      deduct the discount amount from your total order.</p>
 </div>
<div class="links">
	<div class="legend"><p>coupon code:</p></div>
	<div class="field">
		{if $affiliateId eq '21'}
		<label>
			<input name="couponcode" id="couponcode" type="text" value="ibibo14">
			<input type="submit" autocomplete="off" border="0" value="redeem" name="couponButton" class="submit" onClick="return checkCoupon('{$login}', 'couponform');" /> <span style='font-size:1.0em;color:red;'>please click on the button to get  discount </span>
		</label>
		{else}
			<label>
			<input name="couponcode" id="couponcode" type="text" value="{$smarty.post.couponcode}">
			&nbsp;&nbsp;&nbsp;<input type="submit" autocomplete="off" border="0" value="redeem" name="couponButton" class="submit" onClick="return checkCoupon('{$login}', 'couponform');" />
			</label>
		{/if}
</div>
<div class="clearall"></div>
</div>
<div class="foot"></div>
</form>
