{literal}
<script language="javascript">
function checkCoupon(login, cform){
   if((document.getElementById("couponcode").value) == ""){
	alert("Please input a valid coupon code!");
	couponform.couponcode.focus()
	return false;
   }
   else{
	 document.couponform.submit();
   }		  
}
</script>
{/literal}
{assign var=action value="mkmycartmultiple_re.php?c=1&pagetype=$pagetype"}

<form name="couponform" id="couponform" action="{$action}" method="post">
<input type="hidden" id="referral_flag" name="referral_flag" value="">
<div class="super"><p>do you have discount coupon ? use it now</p></div>
<div class="head">&nbsp;please click on the redeem button to get the discount </div>
<div class="links">
<p>If you have a valid discount coupon, you can enter it below, the store will
      deduct the discount amount from your total order.</p>
 </div>
<div class="links">
	<div class="legend"><p>coupon code:</p></div>
	<div class="field">
		<label>
			<input name="couponcode" id="couponcode" type="text" value="{$couponcode}">
			&nbsp;&nbsp;&nbsp;<input type="submit" autocomplete="off" border="0" value="redeem" name="couponButton" class="submit" onClick="return checkCoupon('{$login}', 'couponform');" />
		</label>
</div>
<div class="clearall"></div>
</div>
<div class="foot"></div>
</form>
