<div id="dtdcstatus" style="display:none;">
<div id="overlay"> </div>
  <div id="selection">
   <div class="wrapper">
      <div class="head">
		<p><a href="javascript: hideDtdcDiv()"><img src="./skin1/mkimages/click-to-close.gif" border="0"></a>
		<strong>order delivery status</strong></p>
      </div>
      <div class="body" style="float:left;padding:10">
			<div id="nifty">
            <b class="rtop"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
			<div style="width:543px;height:200px;border:0px solid #000000;padding:3px;">

				<div style="float:left;width:125px;height:20px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;"><strong>Shipment No</strong></div>
				<div style="float:left;width:134px;height:20px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;border-right:2px solid #B5EDBC;" id="shipmentno"></div>

				<div style="float:left;width:125px;height:20px;margin-left:4px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;"><strong>Reference No</strong></div>
				<div style="float:left;width:134px;height:20px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;border-right:2px solid #B5EDBC;" id="refno"></div>

				<div style="float:left;width:125px;height:20px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;"><strong>Billing Mode</strong></div>
				<div style="float:left;width:134px;height:20px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;border-right:2px solid #B5EDBC;" id="bmode"></div>
				<div style="float:left;width:125px;height:20px;margin-left:4px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;"><strong>Received from</strong></div>
				<div style="float:left;width:134px;height:20px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;border-right:2px solid #B5EDBC;" id="rform"></div>

				<div style="float:left;width:125px;height:20px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;"><strong>Booked On</strong></div>
				<div style="float:left;width:134px;height:20px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;border-right:2px solid #B5EDBC;" id="bookedon"></div>
				<div style="float:left;width:125px;height:20px;margin-left:4px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;"><strong>No. Of Pieces</strong></div>
				<div style="float:left;width:134px;height:20px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;border-right:2px solid #B5EDBC;" id="nopieces"></div>

				<div style="float:left;width:125px;height:20px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;"><strong>Weight</strong></div>
				<div style="float:left;width:134px;height:20px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;border-right:2px solid #B5EDBC;" id="weight"></div>
				<div style="float:left;width:125px;height:20px;margin-left:4px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;"><strong>Status</strong></div>
				<div style="float:left;width:134px;height:20px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;border-right:2px solid #B5EDBC;" id="status"></div>

				<div style="float:left;width:125px;height:20px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;"><strong>Delivered On</strong></div>
				<div style="float:left;width:134px;height:20px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;border-right:2px solid #B5EDBC;" id="dilon"></div>
				<div style="float:left;width:125px;height:20px;margin-left:4px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;"><strong>Delivered At</strong></div>
				<div style="float:left;width:134px;height:20px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;border-right:2px solid #B5EDBC;" id="dilat"></div>

				<div style="float:left;width:125px;height:20px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;border-bottom:2px solid #B5EDBC;"><strong>Destination</strong></div>
				<div style="float:left;width:134px;height:20px;border:2px solid #B5EDBC;" id="destination"></div>
				<div style="float:left;width:125px;height:20px;margin-left:4px;border-top:2px solid #B5EDBC;border-left:2px solid #B5EDBC;border-bottom:2px solid #B5EDBC;"><strong>Received By</strong></div>
				<div style="float:left;width:134px;height:20px;border:2px solid #B5EDBC;" id="receivedby"></div>

				<div style="float:left;width:524px;height:auto;border:2px solid #B5EDBC;padding:2px;margin-top:2px;" id="details"></div>

				
			</div>
            <b class="rbottom"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"/></b></b>
        </div>
		
     </div>
    </div>
  </div>
  </div>