{literal}
<!-- Google Code for default Conversion Page -->

<script language="JavaScript" type="text/javascript">

<!--

var google_conversion_type = 'landing';

var google_conversion_id = 1068346998;

var google_conversion_language = "en_GB";

var google_conversion_format = "1";

var google_conversion_color = "FFFFFF";

//-->

</script>
<style type="text/css">
  iframe {
   height: 0px;
  }
</style>

<script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js">

</script>

<noscript>

<img height=1 width=1 border=0 src="http://www.googleadservices.com/pagead/conversion/1068346998/extclk?script=0">

</noscript>

 
{/literal}
<div class="form"> 
         <div class="subhead"> 
		   <p>{$eventdetails[0][4]}</p>
		 </div>
		 <div class="text" > 
		     <div class="serialbanners"> 				
				{section name=product loop=$alleventtemplates }
				<div class="listbox">
				
					<div class="imagebox">
						<a href="create-my/{$alleventtemplates[product][1]}/{$alleventtemplates[product][0]}" class="BlueLink" ><img src="{$cdn_base}/{$alleventtemplates[product][3]}" alt="create_{$alleventtemplates[product][1]}" width="140" height="140"  border="0"></a></td>
					 </div>      
					<div class="textbox" > 
						 <p><a href="create-my/{$alleventtemplates[product][1]}/{$alleventtemplates[product][0]}" class="BlueLink">{$alleventtemplates[product][2]|replace:' ':'&nbsp;'}</a><br><span style="font-size:0.6em;">(Rs..{$alleventtemplates[product][4]}&nbsp;onwards)</span></p>
					</div>
				
				</div>
				{/section}					
	         </div>
		 </div>
	     <div class="foot"></div>
</div>
