<div style="padding-top:10px;">
<img src="./{$eventdetails[0][2]}" width="580">
</div>
<div class="form">
{if $alleventproducts != 'empty'}
{assign var=index value=0} 
<div class="subhead"> 
	<p>{$eventdetails[0][3]}</p>
</div>
<div class="text">
    <div class="seriallist">
		{section name=outerloop loop=4}
        {section name=allproducts loop=$alleventproducts start=$index max=4}
		<div class="listbox">
		{if $alleventproducts[allproducts][8] != ""}
		{if $ie eq "true"}
			<div class="imagebox">
				<a id='{$alleventproducts[allproducts][0]}' name='{$alleventproducts[allproducts][0]}' href="products/{$alleventproducts[allproducts][0]}" >
			    <div style="background-image: url({$alleventproducts[allproducts][8]});
					background-position: center; background-repeat: no-repeat;
					cursor: pointer;" >
					<div style="text-align: center;background-image: url(./images/b.gif);
			        	width: 120px; height: 140px; vertical-align: middle;">
						<img src="{$cdn_base}/images/b.gif"  alt="{$alleventproducts[allproducts][1]} {$alleventproducts[allproducts][5]}" />
					 </div>
				</div>
			    </a>
			 </div>
		{else}
			<div class="imagebox">
			<a id='{$alleventproducts[allproducts][0]}' name='{$alleventproducts[allproducts][0]}' href="products/{$alleventproducts[allproducts][0]}" >
				<div style="background-image: url({$alleventproducts[allproducts][8]});
					background-position: center; background-repeat: no-repeat;" >
					<div style="text-align: center;background-image: url(./images/b.gif);
			        	width: 120px; height: 140px; vertical-align: middle;">
							<img src="{$cdn_base}/images/b.gif"  alt="{$alleventproducts[allproducts][1]} {$alleventproducts[allproducts][5]}" />
					 </div>
					</div>
				  </a>
				</div>
		{/if}
		{else}
			<div class="imagebox"><img src="{$cdn_base}/default_logo.gif" alt="{$alleventproducts[allproducts].prodname} {$alleventproducts[allproducts][5]}" /></div>
		{/if}
		<div class="textbox">
          <a href="?img={$alleventproducts[allproducts][10]|substr:21:70}" class="thickbox" onmouseover="writetxt('see large image')" onmouseout="writetxt(0)">
          <div class="lensebox"></div></a>
	      <strong><a href="products/{$alleventproducts[allproducts][0]}"
          onmouseover="writetxt('{$alleventproducts[allproducts][1]|escape:"quotes"}')" onmouseout="writetxt(0)">{$alleventproducts[allproducts].prodname}</a></strong>
            <br>
          <strong>Product&nbsp;:</strong>&nbsp;{$alleventproducts[allproducts][5]}<br>
		  <strong>Price:</strong>&nbsp;Rs.<span >{$alleventproducts[allproducts][2]}</span>
          </div>
		</div>
    {/section}
		{assign var=index value=$index+4}
	{/section}
<div class="clearall"></div>
</div>
</div>
{else}
	<div class="links">
	<p><strong>There are no products in the system.</strong></p>
	</div>
{/if}
<div class="foot"></div>
</div>




