<table cellpadding="3" cellspacing="1" width="50%">
<tr style="background-color:#953735; color:white;">
<td style="text-align:left;">Report Name</td>
<td style="text-align:left;">{$rname}</td>
</tr>
</table>
{if isset($filters)}
<table cellpadding="3" cellspacing="1" width="50%">
<tr style="background-color:#953735; color:white;">
<td style="text-align:left;">Report Filters</td>
</tr>
{foreach from=$filters item=item2}
<tr style="background-color:#f2dcdb; color:black;">
	
				<td style="text-align:left;">{$item2}</td>
	
	</tr>
	{/foreach}
	<tr>
         <td>&nbsp;</td>        
    </tr>
	</table>
	{/if}
<table cellpadding="3" cellspacing="1" width="100%">
	
	<tr style="background-color:#4f81bd; color:white;">
	{foreach from=$coloums item=item2}
				<td style="text-align: center;">{$item2}</td>
	{/foreach}
	</tr>
	{foreach from=$reportresult item=reportrow} 
	<tr style="background-color: {cycle values="#d0d8e8,#e9edf4"};">
		{foreach from=$reportrow key=key item=item}
				<td style="text-align: center;">{$item}</td>
		{/foreach}
	</tr>
	{/foreach}
</table>
