<div class="widget widget_text" id="text-54"> 
	<div class="textwidget">
		<center><iframe scrolling="no" frameborder="0" style="border: medium none; overflow: hidden; width: {$widget_width}px; height: {$widget_height}px;" id="fbLike" ></iframe></center>
		<script type="text/javascript">
		    var fbLikeURL = "http://www.facebook.com/plugins/likebox.php?id=6466648220&width={$widget_width}&connections={$connection_cnt}&stream=false&header=false&height={$widget_height_in}";		                    
		</script>
	</div>
</div>
