 <table width="100%" border="0"
                          cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="center">&nbsp;</td>

                              <td align="center">&nbsp;</td>

                              <td align="center">&nbsp;</td>

                              <td align="center">&nbsp;</td>
                            </tr>

                            <tr>
                              <td width="33%" height="70" align=
                              "left">
                                <table width="115" border="0"
                                cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td align="center" class=
                                    "featuredDesign"><img src=
                                    "images/img_feature1.jpg" alt=
                                    "Featured Design" width="115"
                                    height="56"></td>
                                  </tr>
                                </table>
                              </td>

                              <td width="33%" align="left">
                                <table width="115" border="0"
                                cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td align="center" class=
                                    "featuredDesign"><img src=
                                    "images/img_feature2.jpg" alt=
                                    "Featured Design" width="115"
                                    height="56"></td>
                                  </tr>
                                </table>
                              </td>

                              <td width="33%" align="left">
                                <table width="115" border="0"
                                cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td align="center" class=
                                    "featuredDesign"><img src=
                                    "images/img_feature3.jpg" alt=
                                    "Featured Design" width="115"
                                    height="56"></td>
                                  </tr>
                                </table>
                              </td>

                              <td width="33%" align="left">
                                <table width="115" border="0"
                                cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td align="center" class=
                                    "featuredDesign"><img src=
                                    "images/img_feature1.jpg" alt=
                                    "Featured Design" width="115"
                                    height="56"></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>

                            <tr>
                              <td align="left" valign="top">
                                <table width="90%" border="0"
                                cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="20" align="left"
                                    class="textBlackbold">See all
                                    design on</td>
                                  </tr>

                                  <tr>
                                    <td align="left"><a href="#"
                                    class="BlueLink">Caps</a> Rs.
                                    300/-</td>
                                  </tr>
                                </table>
                              </td>

                              <td align="left" valign="top">
                                <table width="90%" border="0"
                                cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="20" align="left"
                                    class="textBlackbold">See all
                                    design on</td>
                                  </tr>

                                  <tr>
                                    <td align="left"><a href="#"
                                    class="BlueLink">Caps</a> Rs.
                                    300/-</td>
                                  </tr>
                                </table>
                              </td>

                              <td align="left" valign="top">
                                <table width="90%" border="0"
                                cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="20" align="left"
                                    class="textBlackbold">See all
                                    design on</td>
                                  </tr>

                                  <tr>
                                    <td align="left"><a href="#"
                                    class="BlueLink">Caps</a> Rs.
                                    300/-</td>
                                  </tr>
                                </table>
                              </td>

                              <td align="left" valign="top">
                                <table width="90%" border="0"
                                cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="20" align="left"
                                    class="textBlackbold">See all
                                    design on</td>
                                  </tr>

                                  <tr>
                                    <td align="left"><a href="#"
                                    class="BlueLink">Caps</a> Rs.
                                    300/-</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table><br>
                          <a href="#" class=
                          "BlackLink"><strong><u>See All Featured
                          Designs</u></strong></a>
                        </td>
                      </tr>
                    </table><br>
                    <br>