/* CSS Document */


#vleft_col {
		float:left;width:195px;
	}

#vright_col {
		float:left;width:550px;
	}

.v_left_col_images {
		float:left;margin:4px;
		width:190px;
	}
/* new style added */
.v_left_col_text{
    padding-top:0px;
	padding-left:2px;
	font-size:1.4em;
	letter-spacing: 0.6px;
	color:#999999;
	letter-spacing: -0.05em;

}

.v_right_heading{
    padding-top:0px;
	padding-left:2px;
	font-size:1.4em;
	letter-spacing: 0.6px;
	color:#FE18C5;
	letter-spacing: -0.05em;

}
.v_left_col_text_small
{
    padding-top:0px;
	padding-left:2px;
	font-weight:bold;
	font-size:1.2em;
	letter-spacing: 0.5px;
	color:#999999;
	letter-spacing: -0.05em;
}
#textbgdiv{
    background-image: url(http://myntra.myntassets.com/skin1/mkimages/v_create-button.jpg); 
	background-repeat: no-repeat;
}
#textbgviewtemp{
    background-image: url(http://myntra.myntassets.com/skin1/mkimages/view-our-v-templates-button.jpg ); 
	background-repeat: repeat-y;
}
/* end */
.v_right_col_images {
		float:left;margin:4px;
		width:500px;
	}

.v_right_col_hamper_images {
		float:left;margin:4px;
		width:550px;
		height:125px;
	}
.v_seperater {
		float:left;margin:4px;
		width:524px;
		height:1px;
		background-image: url(http://myntra.myntassets.com/skin1/mkimages/v_seperator.jpg); 
		background-repeat: no-repeat;
	}

.v_right_small_col_images {
		float:left;margin:8px;
		width:250px;
	}


.imagediv {
		margin-left:5px;
		margin-top:0px;
	}

.textdiv {
		margin-top:5px;
		margin-left:5px;
		font-weight:bold;
		font-size:1.1em;
		color:#000;
	}

.primagediv {
		float:left;
		margin:3px;
	}
/* added by surjan */
.primagedivthree {
		float:left;
		padding:18px;
		width:100px;
}

.plusdiv {
text-align:center;
float:left;
height:100px;
width:15px;
font-size:1.4em;
letter-spacing: 0.6px;
color:#FE18C5;
letter-spacing: -0.05em;
padding-top:50px;

}
.equaldiv {
text-align:center;
float:left;
height:100px;
width:90px;
font-size:1.2em;
letter-spacing: 0.6px;
color:#FE18C5;
letter-spacing: -0.05em;
padding-top:40px;
font-weight:bold;

}


.primagedivfour {
		float:left;
		padding:1px;
}
 
 .pinktboxlarge
{
	width:300px;
 	text-align:center;
	font-size:1.2em;
	color:#E613AC;
	
}
.textstyle{
    width:110px;
 	text-align:center;
	font-size:1.0em;
	color:#000000;
}
/*end */
.pinktbox
{
	width:110px;
 	text-align:center;
	font-size:1.0em;
	color:#FE18C5;
	
}

.blacktbox
{
	width:110px;
 	text-align:center;
	font-size:1.1em;
	color:#000;
	font-weight:bold;
	
}

.pinktbox2
{
	width:100px;
 	text-align:center;
	font-size:1.0em;
	color:#999999;
	
}
