<div class="form">
            <div class="subhead"> 
              <div style='margin-left:5px;'>{$pageheading_filter}</div>
                            
            </div>

            
          <div class="text"> 
              <div class="seriallinks"> 
	    {*section name=idx loop=$filter_by_product_type*}
			{php}
			 $arr_tagname =  array();
			 require_once ("include/func/func.mkcore.php");
			 $filter_by_product_type = $this->get_template_vars('filter_by_product_type');
			 $this->assign('myVars',$myVars);
			 $http_location = $this->get_template_vars('http_location');
			 $tagname = $this->get_template_vars('tagname');
			 $tagid = $this->get_template_vars('tagid');
		         $productlabel = $this->get_template_vars('productlabel');
			 $typeid = $this->get_template_vars('typeid');
        
			
			if($typeid == 0){
				echo "<a href='".$http_location."/{$tagname}/all/FC/TL/0/{$tagid}'><b>"."all"."</b></a>";
				echo "&nbsp;&nbsp; ";
			}else{
				echo "<a href='".$http_location."/{$tagname}/all/FC/TL/0/{$tagid}'>"."all"."</a>";
				echo "&nbsp;&nbsp; ";
			}
			
			foreach($filter_by_product_type as $fil_by_product_type){
				if($fil_by_product_type!=0){
				$pname =  func_pid_to_pname($fil_by_product_type);
				if($fil_by_product_type == $typeid){
				echo "<a href='".$http_location."/{$tagname}/{$pname}/FC/TL/{$fil_by_product_type}/{$tagid}'><b>".strtolower($pname)."</b></a>";
				echo "&nbsp;&nbsp; ";
				}else{
				echo "<a href='".$http_location."/{$tagname}/{$pname}/FC/TL/{$fil_by_product_type}/{$tagid}'>".strtolower($pname)."</a>";
				echo "&nbsp;&nbsp; ";
				}      
			 }
			 }
			 {/php}
				
	        {*/section*}
            
              </div>
            </div>
            <div class="foot"></div>
 </div>
 