{* $Id: footer.tpl,v 1.58 2006/03/17 08:50:44 svowl Exp $ *}
<div id="footer_860">
	<div class="footertext" style='width:500px;'>&nbsp;&nbsp;
		<span style='cursor:pointer;'>&nbsp;</span>
		<span style='cursor:pointer;'>&nbsp;</span>
		<span style='cursor:pointer;'>&nbsp;</span>
		<span style='cursor:pointer;'>&nbsp;</span>
		<span style='cursor:pointer;'>&nbsp;</span>
		<span style='cursor:pointer;'>&nbsp;</span>
		<span style='cursor:pointer;'>&nbsp;</span> 
		<span style='cursor:pointer;'>&nbsp;</span>
		<span style='cursor:pointer;'>&nbsp;</span>
	</div>

	<div class="footercopy" style='width:240px;'>Copyright&copy; Myntra. All rights reserved.&nbsp;&nbsp;&nbsp;</div>
</div>