<html>
<link rel="stylesheet" href="./skin1/mykriti.css" />
<body id="body">
  <div id="scroll_wrapper">
	<div id="container"> 
	  <div id="wrapper"> 
	    <div id="display"> 
	      <div class="center_column"> 
	        <div class="print"> 
		        <div class="super" > 
	           		 <p>&nbsp;</p>
	          	</div>
	          	
	          	<div class="head" style="padding-left:15px;"> 
		            <p>&nbsp;&nbsp;Gift message&nbsp;(#Order Id : {$orderid})</p>
          		</div>
			<div class="links"><p></p></div>
          		<div class="foot"></div>

			 <div style="padding-left:15px;"> 
          		    <table cellpadding="2" class="printtable">
          		       <tr> 
               
		                <td  class="align_left"><strong>Customer Name:&nbsp;</strong></td>
		                <td class="align_left">{$firstname}&nbsp;{$lastname}</td>
		               </tr>
		               
		               <tr><td colspan="2">{$giftmessage}</td>
		              <tr><td colspan="2">
		              <input class="submit" type="button" name="submitButton" value="print gift message" border="0" onClick="javascript: window.print();"></td>
		              
          		    </table>
          		 </div>
          		 
          		
	          	
	         </div> 
	      </div>   	
	     </div> 
	   </div> 
	 </div>  
	</div> 
</body>
</html>    	