<div id="groupquery" style="display:none;">
<div id="overlay"> </div>
  <div id="selection">
   <div class="wrapper">
      <div class="head">
		<p><a href="javascript: groupQueryPopup('none')"><img src="./skin1/mkimages/click-to-close.gif" border="0"></a>
		<strong>ask question</strong></p>
      </div>
      <div class="body" style="float:left;padding:10">
      		<form name="askquestion" method="post">
			<div id="group">
	            <b class="rtop"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
	            <div id="questionloader" style="width:543px;height:260px;border:0px solid #000000;padding:3px;display:none;">
	            	<img src='./images/image_loading.gif' style="position:relative;top:100px;left:250px;" >
	            </div>
				<div id="questionform" style="width:543px;height:260px;border:0px solid #000000;padding:3px;">
					<div id="qmessage" style="float:left;width:540px;height:auto;padding:2px;margin-top:5px;text-align:center;display:none;font-weight:bold;color:#e55147;"></div>
					
					<div style="float:left;width:150px;height:20px;text-align:left;padding-left:4%;"><strong>name</strong></div>
					<div style="float:left;width:365px;height:20px;text-align:left;"><input type="text" name="name" id="name" title="name" style="width:150px;border 1px solid none;"></div>
					
					<div style="float:left;width:150px;height:20px;text-align:left;padding-left:4%;"><strong>company name</strong></div>
					<div style="float:left;width:365px;height:20px;"><input type="text" name="companyname" id="companyname" title="company name" style="width:150px;border 1px solid none;"></div>
					
					<div style="float:left;width:150px;height:20px;text-align:left;padding-left:4%;"><strong>email</strong></div>
					<div style="float:left;width:365px;height:20px;"><input type="text" name="email" id="email" title="email id" style="width:150px;border 1px solid none;"></div>
					
					<div style="float:left;width:150px;height:20px;text-align:left;padding-left:4%;"><strong>Mobile number</strong></div>
					<div style="float:left;width:365px;height:20px;"><input type="text" name="cnumber" id="cnumber" style="width:150px;border 1px solid none;"></div>
					
					<div style="float:left;width:150px;height:20px;text-align:left;padding-left:4%;"><strong>City</strong></div>
					<div style="float:left;width:365px;height:20px;"><input type="text" name="city" id="city" style="width:150px;border 1px solid none;"></div>
					
					<div style="float:left;width:150px;height:20px;text-align:left;padding-left:4%;"><strong>question</strong></div>
					<div style="float:left;width:365px;height:auto;"><textarea name="question" id="question" title="question/query" style="width:300px;height:100px;border 1px solid none;"></textarea></div>
					
					<div style="float:left;width:540px;height:auto;padding:2px;margin-top:5px;text-align:center;">
						<input type='button' class='popupsubmit' style="cursor:pointer;" name='submitquestion' id='submitquestion' value='submit question' onClick="javascript:askGroupQuestion(document.askquestion)">
					</div>
				</div>
	            <b class="rbottom"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"/></b></b>
        	</div>
        	</form>
     </div>
    </div>
  </div>
  </div>