<div class="taglist">
	{section name=num loop=$tags}
		{if $tags[num].label eq $tag_selected}
			<div class="tag"><img src="{$tags[num].selected_image}"/></div>
		{else}
			<div class="tag"><a href="holi.php?style={$tags[num].label}"><img src="{$tags[num].unselected_image}" onmouseout="javascript:this.src='{$tags[num].unselected_image}';" onmouseover="javascript:this.src='{$tags[num].selected_image}';"/></a></div>
		{/if}
	<!--<div class="tag"><img src="{$cdn_base}/skin1/mkimages/holi_kids_inactive.gif"/></div>-->
	{/section}
</div>

<div class="head"></div>
<div class="body">
	<div style="width:auto;float:right;font-size:0.8em;"><p>{if $totalpages > 1}{$paginator}{/if}</p></div>
	<div class="clearall"></div>
	<div class="stylelist">		
		{section name=num loop=$holi_products}
			<div  class="listbox">
				<div class="imagebox">
					<img src="{$holi_products[num].image}" width="200px" style="border:0;"/>
				</div>
				<div class="textbox">
					<div class="title"><a href="{$holi_products[num].url}">{$holi_products[num].name}</a></div>
					<div class="rs">{$holi_products[num].rs}</div>		
					<div class="button"><a href="{$holi_products[num].url}"><img src="{$cdn_base}/skin1/mkimages/holi_buy_now.jpg" style="border:0px;"/></a></div>
				</div>
			</div>
		{/section}			
	</div>
	<div class="clearall"></div>
	<div style="width:auto;float:right;font-size:0.8em;"><p>{if $totalpages > 1}{$paginator}{/if}</p></div>
	<div class="clearall"></div>
</div>
<div class="foot"></div>

