body{margin:0;padding:0;background:#3c7d1b url('http://myntra.myntassets.com/skin1/mkimages/ipl/bg-body.gif') repeat-y center top;font:normal 12px arial;text-align:center;color:#333333;}
#container{width:960px;margin:auto;text-align:left;}
#top{height:132px;background:url('http://myntra.myntassets.com/skin1/mkimages/ipl/bg-top.jpg') no-repeat top center;}
#top .left{float:left;width:320px;}
#top .left .logo{margin:5 0 0 53px;}
#top .left .catch{margin:46 0 0 0px;}
#top .left .notjust{margin:36 0 0 50px;}
#top .left .sponsored{vertical-align:middle;margin:15 20 0 0px;}
#middle{background:#fff url('http://myntra.myntassets.com/skin1/mkimages/ipl/bg-blue-shade.gif') repeat-x center top;}
#middle #bottomshade{background:url('http://myntra.myntassets.com/skin1/mkimages/ipl/bg-green-shade.gif') repeat-x center bottom;}
#footer{text-align:center;}
#footer div{padding:8px;background:#fff;color:#121212;}
.alignright{text-align:right;}
.font11{font-size:11px;}
.clear{clear:both;}
.spacer0{line-height:0px;}
.spacer3{line-height:3px;}
.spacer6{line-height:6px;}
.spacer10{line-height:10px;}
.spacer20{line-height:20px;}
.pt3{padding-top:3px;}
.pr10{padding-right:10px;}
.left{float:left;}
.right{float:right;}
.red{color:#ff3333;}
.green{color:#3c7d1b;}
.pink{color:#ff00e4;}
.font14{font-size:14px;}
h1{font:bold 20px arial;color:#333;}
a:link,a:visited{color:#003366;}
#middle #bottomshade #toptitle{position:absolute;margin-top:-10px;}
#middle #bottomshade #toptitle em{float:left;font:bold 20px arial;color:#ffffff;border-top:1px solid #fff9f9;border-bottom:1px solid #fff9f9;background:#17658b;padding:6px 20px;*padding:7px 20px 6px;}
#middle #bottomshade #toptitle img{float:left;*margin-left:-3px;}
/** Added later *//
#successpopup{position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:700}
#overlay{position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:800; }
#message{position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:900; color:#fff}
#message .wrapper{width:306px; margin-left:-153px; margin-top:-100px; position:absolute; left:50%; top:50%; font-size:0.8em; font-style:normal; text-decoration:none}
#message .wrapper .head{background-image:url(http://myntra.myntassets.com/skin1/mkimages/message_head.gif); background-repeat:no-repeat; height:15px; width:100%; padding-top:5px; font-size:0.9em; text-align:right}
#message .wrapper .body{padding-left:10px; padding-right:10px; background-image:url(http://myntra.myntassets.com/skin1/mkimages/message_body.gif); background-repeat:repeat-y; width:100%}
#message .wrapper .body img{float:left; border:0px}
#message .wrapper .foot{background-image:url(http://myntra.myntassets.com/skin1/mkimages/message_foot.gif); background-repeat:no-repeat; height:20px; width:306px; width:100%}


