
.iplbanner {
	height: 208px;
	width: 960px;
	background-repeat: no-repeat;
	background-image: url(http://myntra.myntassets.com/skin1/mkimages/ipl/ipl-banner.jpg);
}


#body {background: #3c7b1d;}

#iplcontainer {
	background-position: 0 207px;
	background-repeat: no-repeat;
	background-image: url(http://myntra.myntassets.com/skin1/mkimages/ipl/ipl-bg.jpg);
	position: absolute;
	left: 50%;
	margin-left: -480px;
	width: 960px;
	height: 1118px;
	}

.iplsubleft {
		width: 545px;
		float: left;
	}

.bigbold {
		padding-left: 10px;
		font-size: 1.1em;
		font-weight: bold;
		color: black;
		padding-top: 10px;
	}

.bigbold-nopad {
		font-size: 1.1em;
		font-weight: bold;
		color: black;
		padding-top: 10px;
	}

.tshirtchooser {
		margin-left: 90px;
	}

.tshirtdisplay {
		text-align: center;
		background-position: 10px 10px;
		height: 418px;
		width: 418px;
		background-repeat: no-repeat;
		background-image: url(http://myntra.myntassets.com/skin1/mkimages/ipl/t-display-bg.gif);
	}
	
.tshirtchooser img {border: 0px;}

.evenpaddinglarge { 
	background-position: 1px 1px; 
	background-repeat: no-repeat; 
	height: 122px; 
	text-align: center; 
	width: 122px; 
	background-image: url(http://myntra.myntassets.com/skin1/mkimages/ipl/evenpaddinglarge.gif); 
	}

.iplsubright {
		width: 327px;
		float: left;
	}

.female {
		padding-right: 6px;
		padding-left: 6px;
		padding-top: 54px;
		background-position: 0 10px;
		font-size: 1em;
		width: 327px;
		background-image: url(http://myntra.myntassets.com/skin1/mkimages/ipl/female-bg.gif);
		background-repeat: no-repeat;
	}

.male {
		padding-right: 6px;
		padding-left: 6px;
		padding-top: 54px;
		background-position: 0 10px;
		font-size: 1em;
		width: 327px;
		background-image: url(http://myntra.myntassets.com/skin1/mkimages/ipl/male-bg.gif);
		background-repeat: no-repeat;
	}

.others {
		padding-bottom: 50px;
		padding-right: 6px;
		padding-left: 36px;
		padding-top: 42px;
		background-position: 30px 30px;
		font-size: 1em;
		width: 327px;
		background-image: url(http://myntra.myntassets.com/skin1/mkimages/ipl/others-bg.gif);
		background-repeat: no-repeat;
	}

.addtocart {
		text-align: right;
		padding-right: 6px;
		padding-left: 6px;
		padding-top: 12px;
		background-position: 0 10px;
		font-size: 1em;
		width: 327px;
	}

.iplborderbottomblack {
		padding-left: 10px;
		padding-bottom: 3px;
		padding-right: 10px;
		padding-top: 3px;
		border-bottom-color: #666666;
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}

.iplpadding {
		padding-left: 10px;
		padding-bottom: 3px;
		padding-right: 10px;
		padding-top: 3px;
		}

.clearall {
			clear: both;
		}

.iplfooter {
			padding-top: 160px;
			text-align: center;
			font-size: .8em;
		}

.addtocart img {
			border-width: 0px;
		}


