<div class="super"><p><span class="steps">step 3: </span>add your design</p></div>
<div class="links">
	<div class="legend"><p>design name<span class="mandatory">*</span></p></div>
	<div class="field"><input name="designname"  id="designname" type="text"  value="{$productname}"></div>
	<div class="clearall"></div>
</div>

 <div class="links">
	<div class="legend"><p>design description</p></div>
	<div class="field"><textarea name="designdescription" id="designdescription" style="width:170px;">{$designdescription}</textarea></div>
	<div class="clearall"></div>
</div>
<div class="links">
	<p>
	<input class="submit" type="button" border="0" value="add my design" name="submitButton" 
onClick="javascript: validateCorporateDesign('{$cstatus}', '{$from}')"/>
	</p> 
 </div>
<div class="foot"></div>
