<div class="super"> 
	<p><span class="steps">step 3: </span>buy your product</p>
</div>
<div class="links">
		<p style="color:red">You can enter discount coupon code after adding the product to shopping cart.</p>
	</div>
 <div class="links">
		<p>Please enter the number of products you want to purchase and add the product(s) to your shopping cart.</p>
	</div>
<div class="links">
	<div style="float:left;">
	 {assign var='i' value=1}
		{if $productOptions}
		 <p class="super" style="text-align:left;font-weight:bold;">Quantity:</p>
		 <p style="text-align:left;font-size:1.0em;">
         {section name=options loop=$productOptions}
			{section name=values loop=$productOptions[options][1]}
				{$productOptions[options][1][values][0]}<input type="hidden" name="sizename1[]" id="sizename1{$i}" value="{$productOptions[options][1][values][0]}">&nbsp;<input type="text" name="sizequantity1[]" id="sizequantity1{$i}" style="width:30px;" onchange="javascript:updateTotalQuantity();">&nbsp;
				{assign var='i' value=$i+1}
			{/section}
         {/section}
		 </p>
			 <input type="hidden" id="count" value="{$i}">
		{/if}
   </div>
   {if $productOptions}
   <!--div style="text-align:right;"><a href="javascript:showchartDiv();">view size/fitting chart</a></div>
   <br><br-->
   {/if}
	<div style="clear:both;">
	{if $i ne 1}
	&nbsp;<input type="hidden" name="quantityMenu" id="quantityMenu" size="3" maxlength="4" />
	{else}
	Quantity <input type="text" name="quantityMenu" id="quantityMenu" size="3" maxlength="4"/>
	{/if}
	<input class="submit" type="button" border="0" value="add to cart" name="submitButton"  
onClick="javascript: if(notCustomized('customized', 'mkretrievedataforcart.php?at=c'));"/>
	<input class="submit" type="button" border="0" value="add to wishlist" name="submitButton" 
onClick="javascript: if(checkIfLoggedIn('{$login}')) if(notCustomized('{$cstatus}','{$pageType}'));"/>
	</div> 
 </div>
<div class="foot"></div>
{literal}
	<script type="text/javascript">
		function hidechartDiv()
		{
			document.getElementById('chartpopup').style.visibility = 'hidden';
		}
		function showchartDiv()
		{
		    document.getElementById('chartpopup').style.visibility = 'visible'; 
		}
		function updateTotalQuantity()
		{
			var quantity = 0;
			quantity = quantity*1;
			var count = document.getElementById('count').value;
			//alert(count);
			for(var i=1; i<count; i++){
				var id = 'sizequantity1'+i;
				var nid = 'sizequantity'+i;
				var value = document.getElementById(id).value;
				value = value*1;
				document.getElementById(nid).value = value;
				quantity = quantity + value;
			}
			document.getElementById("quantityMenu").value = quantity;
		}
	</script>
{/literal}
