{config_load file="$skin_config"}
<div id="overlay"> </div>
  <div id="selection"> 
   <div class="wrapper">
      <div class="head">
        <p><a href="javascript: hideMyImage()"><img src="./skin1/mkimages/click-to-close.gif" border="0"></a>
	all images of selected product</p>

      </div>
      <div class="body" style="padding:10"> 
        <div class="seriallist"> 
		
        {foreach name=outer item=image from=$image}
				{foreach key=key item=item from=$image}
						{if $key eq 'thumb_image'}
						{assign var='thumb_image' value=$item}
						{/if}

						{if $key eq 'name'}
						{assign var='name' value=$item}
						{/if}
				{/foreach} 
          <div class="listbox"> 
            <div class="imagebox">
            {if $thumb_image != ""}
	    		<img src="{$thumb_image}" border="0" >
	    	{else}
	    		<img src="{$cdn_base}/default_logo.gif" border="0" >
	    	{/if}
	    	</div>
            <div class="textbox"> 
              <p><strong>{$name}</strong></p>
              <!-- <p><strong>Design:</strong> <a href="#">Andrew Lloyd Webber</a></p> -->
 
            </div>
          </div>
          {/foreach}
          <div class="clearall"></div>
          
        </div>
         
        <p>
	
     </div>
     
      <div class="foot"></div>
      
    </div>
    
  </div>
  <!--<a href='#' name="anchor_myimage" id ="anchor_myimage">&nbsp;</a> -->