{foreach key=key item=item from=$userinfo}
    {if $key eq 'b_firstname'}
    {assign var='firstname' value=$item}
    {/if}
    {if $key eq 'b_lastname'}
    {assign var='lastname' value=$item}
    {/if}

    {if $key eq 'b_address'}
    {assign var='address' value=$item}
    {/if}
    {if $key eq 'b_city'}
    {assign var='city' value=$item}
    {/if}
    {if $key eq 'b_country'}
    {assign var='country' value=$item}
    {/if}
    {if $key eq 'b_zipcode'}
    {assign var='zipcode' value=$item}
    {/if}

    {if $key eq 'phone' || $key eq 'b_phone'}
    {assign var='phone' value=$item}
    {/if}
     {if $key eq 'mobile' || $key eq 'b_mobile'}
    {assign var='mobile' value=$item}
    {/if}
    {if $key eq 'email' || $key eq 'b_email'}
    {assign var='email' value=$item}
    {/if}

    {if $key eq 'b_state'}
    {assign var='state' value=$item}
    {/if}
    {if $key eq 'shop_bill_number'}
    {assign var='shop_bill_number' value=$item}
    {/if}

{/foreach}
{if $shop_bill_number}
<strong>Shop Name/Shop Bill No:</strong>&nbsp;&nbsp;{$shop_bill_number}<br>
{/if}
<strong>First Name:</strong>&nbsp;&nbsp;{$firstname}<br>

<strong>Last Name:</strong>&nbsp;&nbsp;{$lastname} <br>

<strong>Address:</strong>&nbsp;&nbsp;<br>{$address}<br>{$city}, {$state}<br>
<strong>Country:</strong>&nbsp;&nbsp;{$country}<br>
<strong>Zip/Postal Code:</strong>&nbsp;&nbsp;{$zipcode}<br>
<strong>Phone:</strong>&nbsp;&nbsp;{$phone}<br>
<strong>Mobile:</strong>&nbsp;&nbsp;{$mobile}<br>
<strong>Email:</strong>&nbsp;&nbsp;{$email}<br>
           

          



		
