<table width="100%" border="0" cellpadding="0" cellspacing="0" class="breadcrumb">
<tr>
    <td><a href="home.php" class="BlackLink">Myntra</a>:
    {section name=bc loop=$breadCrumb}
        <a href={$breadCrumb[bc].reference} class="BlueLink">{$breadCrumb[bc].title}</a> 
        {if !$smarty.section.bc.last}&gt;{/if} 
    {/section}
  </td>
</tr>
</table>