	  <table width="100%"  border="0" cellpadding="0" cellspacing="0" class="textBlack">
            <tr>
              <td width="150" align="center">&nbsp;</td>
              <td width="150" align="center">&nbsp;</td>
              <td width="150" align="center"><img src="{$cdn_base}/skin1/mkimages/ico_shoppingcart.gif" width="14" height="12"></td>
              <td width="150" align="center">&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="150" align="right"><img src="{$cdn_base}/skin1/mkimages/img_shopping_left.gif" width="75" height="20"></td>
              <td width="150" align="center" background="{$mkImagesDir}/img_shopping_bg.gif"><img src="{$cdn_base}/skin1/mkimages/img_shopping_bg.gif" width="2" height="20"></td>
              <td width="150" align="center" background="{$mkImagesDir}/img_shopping_bg.gif"><img src="{$cdn_base}/skin1/mkimages/img_shoppingcart_selected.gif" width="5" height="20"></td>
              <td width="150" align="left"><img src="{$cdn_base}/skin1/mkimages/img_shoppiingcart_right.gif" width="75" height="20"></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="150" align="center"><a href="mkmycart.php?at=c" class="BlackLink"><strong>Your Cart</strong></a></td>
              <td width="150" align="center"><strong><a href="register.php?checkout=true" class="BlackLink">Personal Details</a></strong></td>
              <td width="150" align="center"><a href="shoppingcart_shippingpay.html" class="BlueLink"><strong>Shipping &amp; Payments</strong></a></td>
              <td width="150" align="center"><a href="shoppingcart_placeorder.html" class="BlackLink"><strong>Place Order</strong></a></td>
              <td>&nbsp;</td>
            </tr>
          </table>