<!--div style="">
	<div class="links" style="font-size:1.0em; align:center;">
		<form>
		Select diffirent product type: 
		<select name="product_type_id" id="pid" onchange="javascript:changeProductType();">
		<option value="">select</option>
		{foreach from=$product_types item=item}
			<option value="{$item[0]}">{$item[1]}</option>
		{/foreach}
		</select>
		</form>
	</div>
</div-->
<div id="customizedimageloader" style="height:310px;width:390px;visibility:visible;display:'';">
	<div class="links" style="font-size:1.0em;text-align:center">
		<p><strong>please wait...</strong></p>		
		<img src='{$cdn_base}/images/image_loading.gif' style="position:relative;top:175px;" alt='{$designer[6]} {$productTypeLabel}' >
	</div>
</div>

<div id="customizedimage" style="visibility:hidden;display:none;">
<div class="links" >
        <div id="baseimage" style="height:310px;width:400px;text-align:center;margin-top:20px;valign:middle;text-align:center">
       </div>
       <div  id="designimage" name="designimage" style="height:390px;width:390px;margin: auto">
      </div>
</div>
</div>
{literal}
<script type="text/javascript">
	function changeProductType(){
		var id = document.getElementById("pid").value;
		var url = window.location.href;
		//alert(url);
		var urlarray = url.split("?");
		url = urlarray[0];
		var newurl = url+"?productTypeId="+id;
		//alert(newurl);
		window.location.href = newurl;
	}
</script>
{/literal}