<div id="design_text" style="display:none">
            <div class="links" style="padding-left:10px"> 
              <div class="legend"> 
                <p class='custp'>Add Your Text Here:</p>
                <p><br/>Select Font</p>
                <p><a href="javascript: showFontPickerDiv({$customizationAreaId},'{$productTypeLabel}',document.getElementById('txtorientationId').value)" ><img id="show_font_to_user" src="skin1/mkimages/fonts-icon.gif" style="border:1px solid black;"></a></p>
              </div>
              <div class="field"> 
                <textarea name="inputtextarea" id="inputtextarea"  class="usertext" onchange="setHiddenFieldValue('inputtextarea',this.value);" {if $textcustomization eq 'N'} readonly {/if}>{$textValue}</textarea>
				<br/>
                <input class="submit" type="button" name="submitButton" value="ok" border="0" onclick="javascript: postTextForm({$customizationAreaId},document.getElementById('txtorientationId').value);">&nbsp; 
		{if $textcustomization ne 'N'} 
		  <input class="submit" type="submit" name="submitButton" value="clear" border="0" onclick="javascript: eraseText({$customizationAreaId},'{$orientid}');">
		{/if}
              </div>
              <div class="clearall"></div>
             </div>
	<form name="textform" id="textform" action="mkcreatecustomizeimage_multiple.php" method="post">
              
              <div class="foot">&nbsp;</div>
              <div class="links" style="padding-left:10px"> 
                <div class="imagelegend"> 
                  <p>Pick Text Color:</p>
                  <div class="colorselect"  id="colorselect" style="background-color: #000000;">&nbsp;</div>
                </div>
                <div class="imagefield"> 
                  <div Class="colors" id="basicColors" style="display:block"> 
                  <div class="box" style="background-color: #000000; cursor:pointer;" onmouseover="javascript: setColorValue('Black',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #008080; cursor:pointer;" onmouseover="javascript: setColorValue('Teal',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #00ffff; cursor:pointer;" onmouseover="javascript: setColorValue('Cyan',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #32cd32; cursor:pointer;" onmouseover="javascript: setColorValue('Lime Green',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #556b2f; cursor:pointer;" onmouseover="javascript: setColorValue('Dark Olive Green',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #6b8e23; cursor:pointer;" onmouseover="javascript: setColorValue('Olive Drab',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #7fff00; cursor:pointer;" onmouseover="javascript: setColorValue('Chartreuse',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #87ceeb; cursor:pointer;" onmouseover="javascript: setColorValue('Sky Blue',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #90ee90; cursor:pointer;" onmouseover="javascript: setColorValue('Light Green',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #af2a2a; cursor:pointer;" onmouseover="javascript: setColorValue('Brown',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #b0e0e6; cursor:pointer;" onmouseover="javascript: setColorValue('Powder Blue',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #cd5c5c; cursor:pointer;" onmouseover="javascript: setColorValue('Indian Red',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #d8bfd8; cursor:pointer;" onmouseover="javascript: setColorValue('Thistle',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #e0ffff; cursor:pointer;" onmouseover="javascript: setColorValue('Light Cyan',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #f0fff0; cursor:pointer;" onmouseover="javascript: setColorValue('Honey Dew',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #f8f8ff; cursor:pointer;" onmouseover="javascript: setColorValue('Ghost White',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #ff00ff; cursor:pointer;" onmouseover="javascript: setColorValue('Magenta',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #ffa07a; cursor:pointer;" onmouseover="javascript: setColorValue('Light Salmon',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #ffe4b5; cursor:pointer;" onmouseover="javascript: setColorValue('Moccasin',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #fffacd; cursor:pointer;" onmouseover="javascript: setColorValue('Lemon Chiffon',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                   <br>
                  <a style="cursor:pointer" onclick="javascript: getElementById('basicColors').style.display='none';getElementById('moreColors').style.display='block';">more colors...</a> 
		
                  </div>
		  <div class="clearall"></div>
		    
                <div Class="colors" id="moreColors" style="display:none"> 
                       <div class="box" style="background-color: #000000; cursor:pointer;" onmouseover="javascript: setColorValue('Black',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #008080; cursor:pointer;" onmouseover="javascript: setColorValue('Teal',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #00ffff; cursor:pointer;" onmouseover="javascript: setColorValue('Cyan',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #32cd32; cursor:pointer;" onmouseover="javascript: setColorValue('Lime Green',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #556b2f; cursor:pointer;" onmouseover="javascript: setColorValue('Dark Olive Green',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #6b8e23; cursor:pointer;" onmouseover="javascript: setColorValue('Olive Drab',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #7fff00; cursor:pointer;" onmouseover="javascript: setColorValue('Chartreuse',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #87ceeb; cursor:pointer;" onmouseover="javascript: setColorValue('Sky Blue',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #90ee90; cursor:pointer;" onmouseover="javascript: setColorValue('Light Green',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #af2a2a; cursor:pointer;" onmouseover="javascript: setColorValue('Brown',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #b0e0e6; cursor:pointer;" onmouseover="javascript: setColorValue('Powder Blue',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #cd5c5c; cursor:pointer;" onmouseover="javascript: setColorValue('Indian Red',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #d8bfd8; cursor:pointer;" onmouseover="javascript: setColorValue('Thistle',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #e0ffff; cursor:pointer;" onmouseover="javascript: setColorValue('Light Cyan',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #f0fff0; cursor:pointer;" onmouseover="javascript: setColorValue('Honey Dew',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #f8f8ff; cursor:pointer;" onmouseover="javascript: setColorValue('Ghost White',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #ff00ff; cursor:pointer;" onmouseover="javascript: setColorValue('Magenta',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #ffa07a; cursor:pointer;" onmouseover="javascript: setColorValue('Light Salmon',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #ffe4b5; cursor:pointer;" onmouseover="javascript: setColorValue('Moccasin',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #fffacd; cursor:pointer;" onmouseover="javascript: setColorValue('Lemon Chiffon',this.style.backgroundColor, 'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  
		  
		  
		  <div class="box" style="background-color: #000080; cursor:pointer;" onmouseover="javascript: setColorValue('Navy',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #008B8B; cursor:pointer;" onmouseover="javascript: setColorValue('DarkCyan',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #191970; cursor:pointer;" onmouseover="javascript: setColorValue('MidnightBlue',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #40E0D0; cursor:pointer;" onmouseover="javascript: setColorValue('Turquoise',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #5F9EA0; cursor:pointer;" onmouseover="javascript: setColorValue('CadetBlue',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #708090; cursor:pointer;" onmouseover="javascript: setColorValue('SlateGray',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #7FFFD4; cursor:pointer;" onmouseover="javascript: setColorValue('Aquamarine',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #87CEFA; cursor:pointer;" onmouseover="javascript: setColorValue('LightSkyBlue',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #9370D8; cursor:pointer;" onmouseover="javascript: setColorValue('MediumPurple',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #A9A9A9; cursor:pointer;" onmouseover="javascript: setColorValue('DarkGray',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #B22222; cursor:pointer;" onmouseover="javascript: setColorValue('FireBrick',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #CD853F; cursor:pointer;" onmouseover="javascript: setColorValue('Peru',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #DA70D6; cursor:pointer;" onmouseover="javascript: setColorValue('Orchid',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #E6E6FA; cursor:pointer;" onmouseover="javascript: setColorValue('Lavender',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #F0FFFF; cursor:pointer;" onmouseover="javascript: setColorValue('Azure',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FA8072; cursor:pointer;" onmouseover="javascript: setColorValue('Salmon',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FF1493; cursor:pointer;" onmouseover="javascript: setColorValue('DeepPink',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFA500; cursor:pointer;" onmouseover="javascript: setColorValue('Orange',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFE4C4; cursor:pointer;" onmouseover="javascript: setColorValue('Bisque',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFFAF0; cursor:pointer;" onmouseover="javascript: setColorValue('FloralWhite',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  
		  
		  
		  <div class="box" style="background-color: #00008B; cursor:pointer;" onmouseover="javascript: setColorValue('DarkBlue',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #00BFFF; cursor:pointer;" onmouseover="javascript: setColorValue('DeepSkyBlue',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #20B2AA; cursor:pointer;" onmouseover="javascript: setColorValue('LightSeaGreen',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #4169E1; cursor:pointer;" onmouseover="javascript: setColorValue('RoyalBlue',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #6495ED; cursor:pointer;" onmouseover="javascript: setColorValue('CornflowerBlue',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #708090; cursor:pointer;" onmouseover="javascript: setColorValue('SlateGrey',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #800000; cursor:pointer;" onmouseover="javascript: setColorValue('Maroon',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #8A2BE2; cursor:pointer;" onmouseover="javascript: setColorValue('BlueViolet',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #9400D3; cursor:pointer;" onmouseover="javascript: setColorValue('DarkViolet',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #A9A9A9; cursor:pointer;" onmouseover="javascript: setColorValue('DarkGrey',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #B8860B; cursor:pointer;" onmouseover="javascript: setColorValue('DarkGoldenRod',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #D2691E; cursor:pointer;" onmouseover="javascript: setColorValue('Chocolate',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #DAA520; cursor:pointer;" onmouseover="javascript: setColorValue('GoldenRod',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #E9967A; cursor:pointer;" onmouseover="javascript: setColorValue('DarkSalmon',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #F4A460; cursor:pointer;" onmouseover="javascript: setColorValue('SandyBrown',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FAEBD7; cursor:pointer;" onmouseover="javascript: setColorValue('AntiqueWhite',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FF4500; cursor:pointer;" onmouseover="javascript: setColorValue('OrangeRed',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFB6C1; cursor:pointer;" onmouseover="javascript: setColorValue('LightPink',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFE4E1; cursor:pointer;" onmouseover="javascript: setColorValue('MistyRose',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFFAFA; cursor:pointer;" onmouseover="javascript: setColorValue('Snow',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                                  
		  
		  <div class="box" style="background-color: #0000CD; cursor:pointer;" onmouseover="javascript: setColorValue('MediumBlue',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #00CED1; cursor:pointer;" onmouseover="javascript: setColorValue('DarkTurquoise',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #228B22; cursor:pointer;" onmouseover="javascript: setColorValue('ForestGreen',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #4682B4; cursor:pointer;" onmouseover="javascript: setColorValue('SteelBlue',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #66CDAA; cursor:pointer;" onmouseover="javascript: setColorValue('MediumAquaMarine',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #778899; cursor:pointer;" onmouseover="javascript: setColorValue('LightSlateGray',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #800080; cursor:pointer;" onmouseover="javascript: setColorValue('Purple',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #8B0000; cursor:pointer;" onmouseover="javascript: setColorValue('DarkRed',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #98FB98; cursor:pointer;" onmouseover="javascript: setColorValue('PaleGreen',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #ADD8E6; cursor:pointer;" onmouseover="javascript: setColorValue('LightBlue',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #BA55D3; cursor:pointer;" onmouseover="javascript: setColorValue('MediumOrchid',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #D2B48C; cursor:pointer;" onmouseover="javascript: setColorValue('Tan',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #DC143C; cursor:pointer;" onmouseover="javascript: setColorValue('Crimson',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #EE82EE; cursor:pointer;" onmouseover="javascript: setColorValue('Violet',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #F5DEB3; cursor:pointer;" onmouseover="javascript: setColorValue('Wheat',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FAF0E6; cursor:pointer;" onmouseover="javascript: setColorValue('Linen',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FF6347; cursor:pointer;" onmouseover="javascript: setColorValue('Tomato',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFC0CB; cursor:pointer;" onmouseover="javascript: setColorValue('Pink',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFEFD5; cursor:pointer;" onmouseover="javascript: setColorValue('PapayaWhip',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFFF00; cursor:pointer;" onmouseover="javascript: setColorValue('Yellow',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  
		  
		  <div class="box" style="background-color: #0000FF; cursor:pointer;" onmouseover="javascript: setColorValue('Blue',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #00FF00; cursor:pointer;" onmouseover="javascript: setColorValue('Lime',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #2E8B57; cursor:pointer;" onmouseover="javascript: setColorValue('SeaGreen',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #483D8B; cursor:pointer;" onmouseover="javascript: setColorValue('DarkSlateBlue',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #696969; cursor:pointer;" onmouseover="javascript: setColorValue('DimGray',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #778899; cursor:pointer;" onmouseover="javascript: setColorValue('LightSlateGrey',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #808000; cursor:pointer;" onmouseover="javascript: setColorValue('Olive',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #8B008B; cursor:pointer;" onmouseover="javascript: setColorValue('DarkMagenta',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #9932CC; cursor:pointer;" onmouseover="javascript: setColorValue('DarkOrchid',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #ADFF2F; cursor:pointer;" onmouseover="javascript: setColorValue('GreenYellow',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #BC8F8F; cursor:pointer;" onmouseover="javascript: setColorValue('RosyBrown',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #D3D3D3; cursor:pointer;" onmouseover="javascript: setColorValue('LightGray',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #DCDCDC; cursor:pointer;" onmouseover="javascript: setColorValue('Gainsboro',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #F08080; cursor:pointer;" onmouseover="javascript: setColorValue('LightCoral',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #F5F5DC; cursor:pointer;" onmouseover="javascript: setColorValue('Beige',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FDF5E6; cursor:pointer;" onmouseover="javascript: setColorValue('OldLace',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FF69B4; cursor:pointer;" onmouseover="javascript: setColorValue('HotPink',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFD700; cursor:pointer;" onmouseover="javascript: setColorValue('Gold',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFF0F5; cursor:pointer;" onmouseover="javascript: setColorValue('LavenderBlush',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFFFE0; cursor:pointer;" onmouseover="javascript: setColorValue('LightYellow',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
	
		
		  <div class="box" style="background-color: #006400; cursor:pointer;" onmouseover="javascript: setColorValue('DarkGreen',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #00FF7F; cursor:pointer;" onmouseover="javascript: setColorValue('SpringGreen',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #2F4F4F; cursor:pointer;" onmouseover="javascript: setColorValue('DarkSlateGray',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #48D1CC; cursor:pointer;" onmouseover="javascript: setColorValue('MediumTurquoise',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #696969; cursor:pointer;" onmouseover="javascript: setColorValue('DimGrey',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #7B68EE; cursor:pointer;" onmouseover="javascript: setColorValue('MediumSlateBlue',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #808080; cursor:pointer;" onmouseover="javascript: setColorValue('Gray',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #8B4513; cursor:pointer;" onmouseover="javascript: setColorValue('SaddleBrown',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #9ACD32; cursor:pointer;" onmouseover="javascript: setColorValue('YellowGreen',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #AFEEEE; cursor:pointer;" onmouseover="javascript: setColorValue('PaleTurquoise',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #BDB76B; cursor:pointer;" onmouseover="javascript: setColorValue('DarkKhaki',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #D3D3D3; cursor:pointer;" onmouseover="javascript: setColorValue('LightGrey',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #DDA0DD; cursor:pointer;" onmouseover="javascript: setColorValue('Plum',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #F0E68C; cursor:pointer;" onmouseover="javascript: setColorValue('Khaki',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #F5F5F5; cursor:pointer;" onmouseover="javascript: setColorValue('WhiteSmoke',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FF0000; cursor:pointer;" onmouseover="javascript: setColorValue('Red',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FF7F50; cursor:pointer;" onmouseover="javascript: setColorValue('Coral',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFDAB9; cursor:pointer;" onmouseover="javascript: setColorValue('PeachPuff',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFF5EE; cursor:pointer;" onmouseover="javascript: setColorValue('SeaShell',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFFFF0; cursor:pointer;" onmouseover="javascript: setColorValue('Ivory',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
		
		  <div class="box" style="background-color: #008000; cursor:pointer;" onmouseover="javascript: setColorValue('Green',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #00FFFF; cursor:pointer;" onmouseover="javascript: setColorValue('Aqua',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #2F4F4F; cursor:pointer;" onmouseover="javascript: setColorValue('DarkSlateGrey',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #4B0082; cursor:pointer;" onmouseover="javascript: setColorValue('Indigo',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #6A5ACD; cursor:pointer;" onmouseover="javascript: setColorValue('SlateBlue',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #7CFC00; cursor:pointer;" onmouseover="javascript: setColorValue('LawnGreen',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #808080; cursor:pointer;" onmouseover="javascript: setColorValue('Grey',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #8FBC8F; cursor:pointer;" onmouseover="javascript: setColorValue('DarkSeaGreen',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #A0522D; cursor:pointer;" onmouseover="javascript: setColorValue('Sienna',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #B0C4DE; cursor:pointer;" onmouseover="javascript: setColorValue('LightSteelBlue',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #C0C0C0; cursor:pointer;" onmouseover="javascript: setColorValue('Silver',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #D87093; cursor:pointer;" onmouseover="javascript: setColorValue('PaleVioletRed',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #DEB887; cursor:pointer;" onmouseover="javascript: setColorValue('BurlyWood',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #F0F8FF; cursor:pointer;" onmouseover="javascript: setColorValue('AliceBlue',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #F5FFFA; cursor:pointer;" onmouseover="javascript: setColorValue('MintCream',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FF00FF; cursor:pointer;" onmouseover="javascript: setColorValue('Fuchsia',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FF8C00; cursor:pointer;" onmouseover="javascript: setColorValue('Darkorange',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFDEAD; cursor:pointer;" onmouseover="javascript: setColorValue('NavajoWhite',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFF8DC; cursor:pointer;" onmouseover="javascript: setColorValue('Cornsilk',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
                  <div class="box" style="background-color: #FFFFFF; cursor:pointer;" onmouseover="javascript: setColorValue('White',this.style.backgroundColor,'Text');" onmouseout="javascript: unsetColorValue('Text');" onclick="javascript: setFontColorValues(this.style.backgroundColor,{$customizationAreaId});"></div>
	

             
                <a style="cursor:pointer" onclick="javascript: getElementById('basicColors').style.display='block';getElementById('moreColors').style.display='none';">Less colors...</a> </div>
		  
                </div>
                  <div class="clearall"></div>
	</div>
				<div class="colorname" id="colortextvalue">&nbsp;</div>

            <div class="foot">&nbsp;</div>
		
              <div class="links" style="padding-left:10px"> 
                <p>Use panel to adjust the Selected Image<!-- : <img src="{$cdn_base}/skin1/mkimages/help-icon.gif">--></p>
              </div>
              <table class="imageadjust" cellpadding="0" cellspacing="0" align="center">
                <tr> 
                  <td height="12"  colspan="8">&nbsp; </td>
                </tr>
                <tr> 
                  <td width="60" height="41" class="right">Adjust Size</td>
                  <td width="35" height="41">&nbsp; </td>
                  <td colspan="2"> <a style="cursor:pointer" onclick="javascript: increaseFontSize({$customizationAreaId});" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1_Text','','skin1/mkimages/over-size-increase.gif',1)"><img src="{$cdn_base}/skin1/mkimages/size-increase.gif" width="65" height="41" alt="" border="0" name="Image1_Text"></a></td>
                  <td colspan="2"> <a style="cursor:pointer" onclick="javascript: decreaseFontSize({$customizationAreaId});" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2_Text','','skin1/mkimages/over-size-decrease.gif',1)"><img src="{$cdn_base}/skin1/mkimages/size-decrease.gif" width="63" height="41" alt="" border="0" name="Image2_Text"></a></td>
                  <td width="35" height="41">&nbsp; </td>
                  <td width="60" height="41">&nbsp; </td>
                </tr>
               <!-- <tr> 
                  <td width="60" height="19">&nbsp; </td>
                  <td width="35" height="19">&nbsp; </td>
                  <td width="128" height="19" colspan="4" class="center">Fit Horizontal </td>
                  <td width="35" height="19">&nbsp; </td>
                  <td width="60" height="19">&nbsp; </td>
                </tr>-->
                <tr> 
                  <td width="60" height="79" rowspan="2">&nbsp; </td>
                  <td> <!--<a href="javascript:;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3_Text','','skin1/mkimages/over-rotate-right-top.gif',1)"><img src="{$cdn_base}/skin1/mkimages/rotate-right-top.gif" width="35" height="35" alt="" border="0" name="Image3_Text"></a>--></td>
                  <td width="43" height="35">&nbsp; </td>
                  <td colspan="2"> <!--<a href="javascript:;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4_Text','','skin1/mkimages/over-fit-horizontal.gif',1)"><img src="{$cdn_base}/skin1/mkimages/fit-horizontal.gif" width="45" height="35" alt="" border="0" name="Image4_Text"></a>--></td>
                  <td width="40" height="35">&nbsp; </td>
                  <td> <!--<a href="javascript:;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image5_Text','','skin1/mkimages/over-rotate-left-top.gif',1)"><img src="{$cdn_base}/skin1/mkimages/rotate-left-top.gif" width="35" height="35" alt="" border="0" name="Image5_Text"></a>--></td>
                  <td width="60" height="79" rowspan="2">&nbsp; </td>
                </tr>
                <tr> 
                  <td width="35" height="44">&nbsp; </td>
                  <td> <a style="cursor:pointer" onclick="javascript: moveText(-10,-10,{$customizationAreaId});" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image6_Text','','skin1/mkimages/over-top-left.gif',1)"><img src="{$cdn_base}/skin1/mkimages/top-left.gif" width="43" height="44" alt="" border="0" name="Image6_Text"></a></td>
                  <td colspan="2"> <a style="cursor:pointer" onclick="javascript: moveText(0,-10,{$customizationAreaId});" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image7_Text','','skin1/mkimages/over-top.gif',1)"><img src="{$cdn_base}/skin1/mkimages/top.gif" width="45" height="44" alt="" border="0" name="Image7_Text"></a></td>
                  <td> <a style="cursor:pointer" onclick="javascript: moveText(10,-10,{$customizationAreaId});" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image8_Text','','skin1/mkimages/over-top-right.gif',1)"><img src="{$cdn_base}/skin1/mkimages/top-right.gif" width="40" height="44" alt="" border="0" name="Image8_Text"></a></td>
                  <td width="35" height="44">&nbsp; </td>
                </tr>
                <tr> 
                  <td width="60" height="42" class="right"><!--Fit Vertical--></td>
                  <td> <!--<a href="javascript:;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image9_Text','','skin1/mkimages/over-fit-vertical.gif',1)"><img src="{$cdn_base}/skin1/mkimages/fit-vertical.gif" width="35" height="42" alt="" border="0" name="Image9_Text"></a>--></td>
                  <td> <a style="cursor:pointer" onclick="javascript: moveText(-10,0,{$customizationAreaId});" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image10_Text','','skin1/mkimages/over-left.gif',1)"><img src="{$cdn_base}/skin1/mkimages/left.gif" width="43" height="42" alt="" border="0" name="Image10_Text"></a></td>
                  <td colspan="2"> <a href="javascript:;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image11_Text','','skin1/mkimages/over-center.gif',1)"><img src="{$cdn_base}/skin1/mkimages/center.gif" width="45" height="42" alt="" border="0" name="Image11_Text"></a></td>
                  <td> <a style="cursor:pointer" onclick="javascript: moveText(10,0,{$customizationAreaId});" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image12_Text','','skin1/mkimages/over-right.gif',1)"><img src="{$cdn_base}/skin1/mkimages/right.gif" width="40" height="42" alt="" border="0" name="Image12_Text"></a></td>
                  <td> <!--<a href="javascript:;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image13_Text','','skin1/mkimages/over-center-vertical.gif',1)"><img src="{$cdn_base}/skin1/mkimages/center-vertical.gif" width="35" height="42" alt="" border="0" name="Image13_Text"></a>--></td>
                  <td width="60" height="42" class="center"><!--Center Vertical--></td>
                </tr>
                <tr> 
                  <td width="60" height="77" rowspan="2">&nbsp; </td>
                  <td width="35" height="42">&nbsp; </td>
                  <td> <a style="cursor:pointer" onclick="javascript: moveText(-10,10,{$customizationAreaId});" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image14_Text','','skin1/mkimages/over-bottom-left.gif',1)"><img src="{$cdn_base}/skin1/mkimages/bottom-left.gif" width="43" height="42" alt="" border="0" name="Image14_Text"></a></td>
                  <td colspan="2"> <a style="cursor:pointer" onclick="javascript: moveText(0,10,{$customizationAreaId});" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image15_Text','','skin1/mkimages/over-bottom.gif',1)"><img src="{$cdn_base}/skin1/mkimages/bottom.gif" width="45" height="42" alt="" border="0" name="Image15_Text"></a></td>
                  <td> <a style="cursor:pointer" onclick="javascript: moveText(10,10,{$customizationAreaId});" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image16_Text','','skin1/mkimages/over-bottom-right.gif',1)"><img src="{$cdn_base}/skin1/mkimages/bottom-right.gif" width="40" height="42" alt="" border="0" name="Image16_Text"></a></td>
                  <td width="35" height="42">&nbsp; </td>
                  <td width="60" height="77" rowspan="2">&nbsp; </td>
                </tr>
                <tr> 
                  <td> <!--<a href="javascript:;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image17_Text','','skin1/mkimages/over-rotate-right-bottom.gif',1)"><img src="{$cdn_base}/skin1/mkimages/rotate-right-bottom.gif" width="35" height="35" alt="" border="0" name="Image17_Text"></a>--></td>
                  <td width="43" height="35">&nbsp; </td>
                  <td colspan="2"> <!--<a href="javascript:;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image18_Text','','skin1/mkimages/over-center-horizontal.gif',1)"><img src="{$cdn_base}/skin1/mkimages/center-horizontal.gif" width="45" height="35" alt="" border="0" name="Image18_Text"></a>--></td>
                  <td width="40" height="35">&nbsp; </td>
                  <td> <!--<a href="javascript:;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image19_Text','','skin1/mkimages/over-rotate-left-bottom.gif',1)"><img src="{$cdn_base}/skin1/mkimages/rotate-left-bottom.gif" width="35" height="35" alt="" border="0" name="Image19_Text"></a>--></td>
                </tr>
                <!--<tr> 
                  <td width="60" height="19">&nbsp; </td>
                  <td width="35" height="19">&nbsp; </td>
                  <td width="128" height="19" colspan="4"  class="center"><!--Center 
                    Horizontal</td>
                  <td width="35" height="19">&nbsp; </td>
                  <td>&nbsp; </td>
                </tr>-->
                 <tr> 
                <td > <img src="{$cdn_base}/skin1/mkimages/spacer.gif" width="60" height="1" alt=""></td>
                <td> <img src="{$cdn_base}/skin1/mkimages/spacer.gif" width="35" height="1" alt=""></td>
                <td> <img src="{$cdn_base}/skin1/mkimages/spacer.gif" width="43" height="1" alt=""></td>
                <td> <img src="{$cdn_base}/skin1/mkimages/spacer.gif" width="22" height="1" alt=""></td>
                <td> <img src="{$cdn_base}/skin1/mkimages/spacer.gif" width="23" height="1" alt=""></td>
                <td> <img src="{$cdn_base}/skin1/mkimages/spacer.gif" width="40" height="1" alt=""></td>
                <td> <img src="{$cdn_base}/skin1/mkimages/spacer.gif" width="35" height="1" alt=""></td>
                <td> <img src="{$cdn_base}/skin1/mkimages/spacer.gif" width="60" height="1" alt=""></td>
              </tr>
              </table>
              <div class="foot">&nbsp;</div>
    <input type="hidden" name="custareaId" id="custareaId" value="">
    <!-- set the orientation id  for the multiple customization --->
    <input type="hidden" name="txtorientationId" id="txtorientationId" value="{$orientid}">
    <!-- end -->
    <input type="hidden" name="fonttype" id="fonttype" value="arial">
    <input type="hidden" name="fontsize" id="fontsize" value="24">
    <input type="hidden" name="bold" id="bold" value="0">
    <input type="hidden" name="italic" id="italic" value="0">
    <input type="hidden" name="underline" id="underline" value="0">
    <input type="hidden" name="color" id="color" value="rgb(0, 0, 0)">
    
    </div>
</form>
