                            <table width="98%"  border="0" align="center" cellpadding="0" cellspacing="0" class="greyborder">
                              <tr>
                                <td><table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td><strong>Send to Friend </strong></td>
                                    </tr>
                                  </table>
                                    <br>
                                    <table width="100%"  border="0" cellpadding="0" cellspacing="0" class="textBlack">
                                      <tr>
                                        <td width="150" height="21">Your Name:<img src="{$cdn_base}/skin1/mkimages/ico_mandatory.gif" width="7" height="21" align="absmiddle"></td>
                                        <td><input name="textfield4" type="text" class="GtextBoxPercent"></td>
                                      </tr>
                                      <tr>
                                        <td height="21">Your e-mail:<img src="{$cdn_base}/skin1/mkimages/ico_mandatory.gif" width="7" height="21" align="absmiddle"></td>
                                        <td><input name="textfield4" type="text" class="GtextBoxPercent"></td>
                                      </tr>
                                      <tr>
                                        <td height="21">Reciepient's e-mail:<img src="{$cdn_base}/skin1/mkimages/ico_mandatory.gif" width="7" height="21" align="absmiddle"></td>
                                        <td><input name="textfield4" type="text" class="GtextBoxPercent"></td>
                                      </tr>
                                      <tr>
                                        <td height="21">&nbsp;</td>
                                        <td><table border="0" cellpadding="0" cellspacing="0" >
                                            <tr>
                                              <td class="loginbtnAction" onMouseOver="this.className='loginbtnActionOver';" onmouseout="this.className='loginbtnAction';" >Send to Friend </td>
                                            </tr>
                                        </table></td>
                                      </tr>
                                  </table></td>
                              </tr>
                            </table>

