<div class="form"> 
                       {include file="mkcreateproductpcco.tpl"}
		 <div class="text"> 
		     <div class="serialbanners"> 
               		       {include file="mkproductstyles.tpl"}
  	             </div>
		 </div>
		 <div class="text">
		 <h2 style='margin-left:-5px;font-size:14px;font-weight:bold;'>Related tags</h2>
		 <a style='font-size:12px;color:#1B5D89;' href='{$http_location}/create/{$productTypeLabel}/{$productTypeId}'>Create {$productTypeLabel}</a>
		 &nbsp;&nbsp;
		 <a style='font-size:12px;color:#1B5D89;'  href='{$http_location}/create/{$productTypeLabel}/{$productTypeId}'>Customized {$productTypeLabel}</a>
		 &nbsp;&nbsp;
		 <a style='font-size:12px;color:#1B5D89;' href='{$http_location}/create/{$productTypeLabel}/{$productTypeId}'>Design {$productTypeLabel}</a>
		 &nbsp;&nbsp;
		 <a style='font-size:12px;color:#1B5D89;' href='{$http_location}/create/{$productTypeLabel}/{$productTypeId}'>Personalized {$productTypeLabel}</a>
		 &nbsp;&nbsp;
		 <a style='font-size:12px;color:#1B5D89;' href='{$http_location}/create/{$productTypeLabel}/{$productTypeId}'>Personalised {$productTypeLabel}</a>
		 &nbsp;&nbsp;
		 <a style='font-size:12px;color:#1B5D89;' href='{$http_location}/create/{$productTypeLabel}/{$productTypeId}'>Make {$productTypeLabel}</a>
		 &nbsp;&nbsp;
		 <a style='font-size:12px;color:#1B5D89;' href='{$http_location}/create/{$productTypeLabel}/{$productTypeId}'>Customise {$productTypeLabel}</a>
		 &nbsp;&nbsp;
		 <a style='font-size:12px;color:#1B5D89;' href='{$http_location}/create/{$productTypeLabel}/{$productTypeId}'>Custom-make {$productTypeLabel}</a>
		 &nbsp;&nbsp;
		 <a style='font-size:12px;color:#1B5D89;' href='{$http_location}/create/{$productTypeLabel}/{$productTypeId}'>Custom {$productTypeLabel}</a>
		 &nbsp;&nbsp;
		  <a style='font-size:12px;color:#1B5D89;' href='{$http_location}/create/{$productTypeLabel}/{$productTypeId}'>Create Your Own {$productTypeLabel}</a>
		 &nbsp;&nbsp;
		 <a style='font-size:12px;color:#1B5D89;' href='{$http_location}/create/{$productTypeLabel}/{$productTypeId}'>Create Custom {$productTypeLabel}</a>
		 &nbsp;&nbsp;
		  <a style='font-size:12px;color:#1B5D89;' href='{$http_location}/create/{$productTypeLabel}/{$productTypeId}'>Create {$productTypeLabel} Designs</a>
		 &nbsp;&nbsp;
		  <a style='font-size:12px;color:#1B5D89;' href='{$http_location}/create/{$productTypeLabel}/{$productTypeId}'>Make and print your own {$productTypeLabel} Designs</a>
		 &nbsp;&nbsp;
		  <a style='font-size:12px;color:#1B5D89;' href='{$http_location}/create/{$productTypeLabel}/{$productTypeId}'>Print your own {$productTypeLabel} Designs</a>
		 &nbsp;&nbsp;	
		 {section name=idx loop=$arr_seo}
			{if $arr_seo[idx][1]  eq '/buy/T-Shirts'}
				<a style='font-size:12px;color:#1B5D89;' href='{$http_location}{$arr_seo[idx][3]}'>{$arr_seo[idx][2]}</a>&nbsp;&nbsp;
			{/if}
		{/section}

		 </div>

 <div class="foot"/>
</div>     
</div>
























  