      <div class="menu_column">
         <div class="sidemenudark">
		<div class="head" style='height:42px;background-image:url({$cdn_base}/skin1/mkimages/startshopping/top.jpg);'>
			<p style='padding-top:9px;margin:9px;'>Featured Stores</p>
		</div>
		<div class="links" style='background-image:url({$cdn_base}/skin1/mkimages/startshopping/middle.jpg);'>
		    <ul style='margin: 0px; padding: 0px;'>
		     {section loop=$featuredstores name=idx}
			<li>
				<div style="padding: 5px; width: 169px; height: 120px;">
					<div style="margin-left:5px;width: 160px;height:100px;">
					 <a style='text-decoration:none;border:0px;' href='{$http_location}/{$featuredstores[idx].storeurl}'><img alt="{$featuredstores[idx].storelevel}" title="{$featuredstores[idx].storelevel}" src='{$http_location}/{$featuredstores[idx].storeimage_v}' ></a>
	 				</div>
					<div style="width: 160px;height:20px;">
						<p style='margin-left:45px;margin-top:6px;'>
							<a style='text-decoration:none;' href='{$http_location}/{$featuredstores[idx].storeurl}'><b>{$featuredstores[idx].storename}</b></a>
						 </p>
	 				</div>
				</div>
				<div class="foot" style='background-image:url({$cdn_base}/skin1/mkimages/startshopping/seperator-grey-line.jpg);'></div>
				<div class="clearall"></div>
			</li>
			{/section}
		    </ul>
		</div>
		<div class="foot" style='background-image:url({$cdn_base}/skin1/mkimages/startshopping/bottom.jpg);'></div>
        </div>     
      </div>