<div class="links">
<p><input type="hidden" id="styledescription" name="description" 
 value="({$productTypeDetails|escape}) {$productStyleDetails[0][3]|escape}" />
	 <b>style: {$productStyleDetails[0][2]}</b>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="javascript:showPopupDiv();" ><span style="margin-right:30px;text-align:right;"><a href="javascript:showPopupDiv();" style="color:#0000ff;" >view product details</span></a> {if $noOfStyles > 1 }{if $isPreviewPage ne ""} <div><span style="padding-left:10px;" ><a href="{$requestUri}#morestyles">change style</a>
	</span></div>{/if}{/if}
</p>	
</div>    


      
      
      
