      <div class="menu_column">
         <div class="sidemenudark">
		  <div class="head">
		    <p>get inspired</p>
		  </div>
		  <div class="links">
		    <p>Check out what other people are designing.</p>
		    <ul>
		    {section name=random loop=$random_image_inspiration}
		     <li >
		     {if $random_image_inspiration[random][0] }
		       {if $ie eq "true"}

					<!--<a href="mkproductdetail.php?productTypeId={$random_image_inspiration[random][3]}&type={$random_image_inspiration[random][4]}&productStyleId={$random_image_inspiration[random][2]}&productid={$random_image_inspiration[random][1]}">-->
					<a href="{$random_image_inspiration[random][5]|replace:" ":"-"}/{$random_image_inspiration[random][4]|replace:" ":"-"}/FC/PD/{$random_image_inspiration[random][1]}">

					 	 <div style="background-image: url({$random_image_inspiration[random][0]});
								background-position: center; background-repeat: no-repeat;border:1px solid #CCCCCC;cursor: pointer;" >
								<div style="text-align: center;background-image: url(./images/b.gif);
						        width: 100px; height: 100px; vertical-align: middle;">

										<img src="{$cdn_base}/images/b.gif"  alt="make print design {$random_image_inspiration[random][5]}_{$random_image_inspiration[random][4]}"  style='border: 0px solid #000000;'  >
								</div>
						   </div>

					</a>
				{else}
			  	<!--<a href="mkproductdetail.php?productTypeId={$random_image_inspiration[random][3]}&type={$random_image_inspiration[random][4]}&productStyleId={$random_image_inspiration[random][2]}&productid={$random_image_inspiration[random][1]}">-->
				<a href="{$http_location}/{$random_image_inspiration[random][5]|replace:" ":"-"}/{$random_image_inspiration[random][4]|replace:" ":"-"}/FC/PD/{$random_image_inspiration[random][1]}">
			  	<div style="background-image: url({$random_image_inspiration[random][0]});
				  background-position: center; background-repeat: no-repeat;border:1px solid #CCCCCC" >
					<div style="text-align: center;background-image: url(./images/b.gif);
			        width: 100px; height: 100px; vertical-align: middle;">

			        			<img src="{$cdn_base}/images/b.gif"  alt="make print design {$random_image_inspiration[random][5]}_{$random_image_inspiration[random][4]}"  style='border: 0px solid #000000;'/>

			       </div>
			     </div>

			  	</a>
			   	{/if}
		    {else}
		         <img id="{$idtag}"     src="{$xcart_web_dir}/image.php?type={$type}&amp;id={$id}&amp;ts={$smarty.now}{if  $already_loaded}&amp;tmp=Y{/if}"  width="100" height="100" alt="{include file="main/image_property.tpl"}"/>
		     {/if}
		     <br/>
		     </li>
		  {/section}


		    </ul>
		  </div>
              <div class="foot"></div>
        </div>
        <!-- printon and nike banner -->
		<a href="{$http_location}/printon"><div class="sidemenu" style="background-image:url({$cdn_base}/skin1/affiliatetemplates/images/nike/nike-shopping-cart-banner0.jpg);background-repeat:no-repeat;margin-top:5px;margin-bottom:5px;height:305px;"></div></a>
		<!--<a href="{$http_location}/nike-store"><div class="sidemenu" style="background-image:url({$cdn_base}/skin1/affiliatetemplates/images/nike/nike-shopping-cart-banner1.jpg);background-repeat:no-repeat;margin-top:5px;margin-bottom:5px;height:293px;"></div></a>-->
		<!-- printon and nike banner -->        
      </div>