{if $size eq 'big'}
	<div id="customizedimageloader" style="height:310px;width:440px;visibility:visible;display:'';">
		<div class="links" style="font-size:1.0em;width:440px;text-align:center;">
			<p><strong>please wait...</strong></p>
			<img src='{$cdn_base}/images/image_loading.gif' style="position:relative;top:200px;">
		</div>
	</div>
{else}
	<div id="customizedimageloader" style="height:310px;width:440px;visibility:visible;display:'';">
		<div class="links" style="font-size:1.0em;width:440px;text-align:center;">
			<p><strong>please wait...</strong></p>
			<img src='{$cdn_base}/images/image_loading.gif' style="position:relative;top:200px;">
		</div>
	</div>
{/if}

<div id='customizedimage' style="visibility:hidden;display:none;">
{if $size eq 'big'}
	 <div class="links"  style='width:440px;'> 
		<div id="baseimage" style="height:310px;width:440px;text-align:center;margin-top:20px;text-align:center"></div>
		<div  id="previewdesignimage" name="designimage" style="height:400px;width:440px;"></div>
	 </div>
{else}
	 <div class="links"  style='width:400px;'> 
		<div id="baseimage" style="height:310px;width:400px;text-align:center;margin-top:20px;text-align:center"></div>
		<div  id="previewdesignimage" name="designimage" style="height:400px;width:400px;"></div>
	 </div>
{/if}
</div>
            
            
            


