{literal}
<script type="text/javascript" language="JavaScript 1.2">
<!--
var requiredFields = new Array();
requiredFields[0] = new Array('send_name', "Your Name", false);
requiredFields[1] = new Array('send_from', "Your e-mail", false);
requiredFields[2] = new Array('send_to', "Reciepient's e-mail", false);
-->
</script>
{/literal}
{include file="check_required_fields_js.tpl"}
{include file="check_email_script.tpl"}
<form action="mkcreateproductpreview.php?productTypeId={$productTypeId}&type={$productTypeLabel}&productStyleId={$productStyleId}" method="post" name="send">
<input type="hidden" name="mode" value="send" />
<table width="98%"  border="0" align="center" cellpadding="0" cellspacing="0" class="greyborder">
  <tr>
    <td><table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><strong>Send to Friend {if ($sentReccomendation ne '')} - {$sentReccomendation}{/if}</strong></td>
        </tr>
      </table>
        <br>
        <table width="100%"  border="0" cellpadding="0" cellspacing="0" class="textBlack">
          <tr>
            <td width="150" height="21">Your Name:<img src="{$cdn_base}/skin1/mkimages/ico_mandatory.gif" width="7" height="21" align="absmiddle"></td>
            <td><input name="send_name" id="send_name" type="text" class="GtextBoxPercent"></td>
          </tr>
          <tr>
            <td height="21">Your e-mail:<img src="{$cdn_base}/skin1/mkimages/ico_mandatory.gif" width="7" height="21" align="absmiddle"></td>
            <td><input name="send_from"  id="send_from" type="text" class="GtextBoxPercent" onchange="javascript: checkEmailAddress(this);"></td>
          </tr>
          <tr>
            <td height="21">Reciepient's e-mail:<img src="{$cdn_base}/skin1/mkimages/ico_mandatory.gif" width="7" height="21" align="absmiddle"></td>
            <td><input name="send_to"  id="send_to" type="text" class="GtextBoxPercent" onchange="javascript: checkEmailAddress(this);"></td>
          </tr>
          <tr>
            <td height="21">&nbsp;</td>
            <td><table border="0" cellpadding="0" cellspacing="0" >
                <tr>
                  <td class="loginbtnAction" onMouseOver="this.className='loginbtnActionOver';" onmouseout="this.className='loginbtnAction';" onclick="javascript: if(checkRequired(requiredFields)) document.send.submit();">Send to Friend </td>
                </tr>
            </table></td>
          </tr>
      </table></td>
  </tr>
</table>
</form>                                 
