 <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="30%" valign="top"><table width="99%"  border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="21"><img src="{$cdn_base}/skin1/mkimages/img_vieimage_left_tp.jpg" width="21" height="18"></td>
                                <td background="{$mkImagesDir}/img_vieimage_bg_tp.jpg"><img src="{$cdn_base}/skin1/mkimages/img_vieimage_bg_tp.jpg" width="3" height="18"></td>
                                <td width="25"><img src="{$cdn_base}/skin1/mkimages/img_vieimage_right_tp.jpg" width="25" height="18"></td>
                              </tr>
                              <tr>
                                <td background="{$mkImagesDir}/img_vieimage_left_bg.jpg"><img src="{$cdn_base}/skin1/mkimages/img_vieimage_left_bg.jpg" width="21" height="2"></td>
                                <td valign="top">
                                <div id="customizedImage123" name="customizedImage123">
                                <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td align="center"><img src="{$productStyleDetails[0][4]}" width="305" height="217"></td>
                                    </tr>
                                  <tr>
                                    <td><table border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                      {section name=image loop=$productCustomizationAreas}
                                        <td><a style="cursor:hand" onclick="setCustomizationSubmit('mkcreateproductdesign.php',{$productCustomizationAreas[image][0]},'custArea{$smarty.section.image.index}');"><img src="{$productCustomizationAreas[image][2]}" width="56" height="40" hspace="2" vspace="2" border="0" class="greyborder"></a></td>
                                      {/section}
                                      </tr>
                                      <tr align="center">
                                      {section name=custom loop=$productCustomizationAreas}
                                        <td><a style="cursor:hand" onclick="setCustomizationSubmit('mkcreateproductdesign.php',{$productCustomizationAreas[custom][0]},'custArea{$smarty.section.custom.index}');" class="BlackLink">{$productCustomizationAreas[custom][1]}</a></td>
                                      {/section}
                                      </tr>
                                    </table></td>
                                  </tr>
                                  <tr>
                                    <td height="25"><table width="100%" height="30"  border="0" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td align="right"><a href="#"><img src="{$cdn_base}/skin1/mkimages/btn_largeview.gif" alt="Large View" width="90" height="19" border="0"></a></td>
                                        <td width="95" align="right"><a style='cursor:hand' onclick="javascript: submitForm('mkcreateproductdesign.php');"><img src="{$cdn_base}/skin1/mkimages/btn_customize.gif" alt="Customize" width="83" height="19" border="0"></a></td>
                                      </tr>
                                    </table></td>
                                  </tr>
                                </table>
                                </div>
                              </td>
                                <td background="{$mkImagesDir}/img_vieimage_right_bg.jpg"><img src="{$cdn_base}/skin1/mkimages/img_vieimage_right_bg.jpg" width="25" height="6"></td>
                              </tr>
                              <tr>
                                <td><img src="{$cdn_base}/skin1/mkimages/img_vieimage_left_btm.jpg" width="21" height="18"></td>
                                <td background="{$mkImagesDir}/img_vieimage_bg_btm.jpg"><img src="{$cdn_base}/skin1/mkimages/img_vieimage_bg_btm.jpg" width="2" height="18"></td>
                                <td><img src="{$cdn_base}/skin1/mkimages/img_vieimage_right_btm.jpg" width="25" height="18"></td>
                              </tr>
                            </table> 

