  <div class="subhead"> 
 
 </div>
<div class="links">
  {if $productStyleDetails}
  <div style="z-index: 100; position: relative;_margin-top: 0px;">
 <h1 style="color:#000000;border: 0px solid rgb(0, 0, 0); float: left; width: auto; margin-bottom: 3px;" class="browsedesignheading">Custom {$productTypeLabel}, Personalized {$productTypeLabel}, Create your own {$productTypeLabel} with photos and designs  </h1>
 {else}
             <p>This is not supported now.</p>
 {/if}
 </div>
</div>
 <div class="links"><p>&nbsp;{$productTypeDescription}</p></div>
	  
