<div class="head">
	<p>select different style</p>
</div>
{if $redirectStyleFile eq 'createhanuman' }
	{assign var="customize" value=$redirectStyleFile}          
{else}
   	{assign var="customize" value="create"}  
{/if}
<a name="morestyles" ></a>
<div>
	<table class="links" style="width:{$width}">
		<tbody>
			<tr>
			     <!-- <td>
                                      <img src="{$cdn_base}/skin1/mkimages/prev-icon.gif"/>
                              </td> -->
			          {section name=num loop=$productStyleIconImages max=6}
				<td>
				             {if $productStyleId eq $productStyleIconImages[num].id}
				            <div class="optionselect">
						    <img  src="{$productStyleIconImages[num].image_i}"
				width="30" height="30"  onclick="setHiddenFieldValue('productStyleId',{$productStyleIconImages[num].id});"
				ALT="Choose Style  for {$productStyleIconImages[num].name}"
						    title="{$productStyleIconImages[num].name}">
						    </div>
						{else}
                         <div class="optionnotselect">
                         <!--<a href="{$postToSelf}?productStyleId={$productStyleIconImages[num].id}&type={$productTypeLabel}&productTypeId={$productTypeId}&cstatus={$cstatus}" >-->
           	 <a href="{$customize}/{$productStyleIconImages[num].id}?cstatus={$cstatus}" >
			<img src="{$productStyleIconImages[num].image_i}" width="30" height="30"   onclick="setHiddenFieldValue('productStyleId',{$productStyleIconImages[num].id});" ALT="Choose Style  for {$productStyleIconImages[num].name}" title="{$productStyleIconImages[num].name}"></a></div>

						{/if}
				</td>
				{/section}

				<!-- <td>
                                     <img src="{$cdn_base}/skin1/mkimages/next-icon.gif"/>
                              </td> -->
			</tr>
             </tbody>
        </table>
</div>
<div class="foot" style="width:{$width}"></div>