<div class="super" style="height:50px;" >
	
	<p>
	{if $accountType == 1}
	price:Rs.<span> {$productStyleDetails[0][5]} <span class="mandatory" style="font-size:1.0em;">(Inclusive of Shipping and Taxes)</span>
	{else}
	price:Rs.<span> {$productStyleDetails[0][5]} <span class="mandatory" style="font-size:1.0em;">(Shipping and Taxes extra)</span>
	{/if}
	
	{if $size_chart_image_path neq '' }
		 <div id="button" style="margin:3px;">
		
		&nbsp; <a href="?img={$size_chart_image_path}" class="thickbox"><span style="font-size:0.8em;font-weight:normal;">size chart</span></a>
		
		</div>  
	{/if}
	</span>&nbsp;
	
	</p>
	
</div>

<div class="foot" style="height:10px;">&nbsp;</div>






