{assign var=index value=0}

 <div class="form"> 
                <div class="subhead"> 
		   <h1 style='margin-left:4px;font-size:20px;'>{$tableHeading}</h1>
		 </div>
		 <div class="text"> 
		     <div class="serialbanners"> 
				
				    {section name=product loop=$productType }
						
						
								{if $productType[product][1]|count_characters:true > 20}
									{assign var=type_name value=$productType[product][1]|truncate:20:'...':true|replace:' ':'&nbsp;'}
								{else}
									{assign var=type_name value=$productType[product][1]|replace:' ':'&nbsp;'}	
								{/if}
								
								{if ($productType[product][3] =='P' || $productType[product][3] =='POS') && $productType[product][0] neq '39' }
						
								<div class="listbox">
										{if $productType[product][0] eq '219'}
											 <a rel="nofollow" href="cricket-jerseys" {if $productType[product][5] ne ''} onmouseover="javascript:writetxt('{$productType[product][5]|regex_replace:'/[\r\t\n]/':' '|escape_quotes}');" {/if} onmouseout="javascript:writetxt(0);" >
												  <img src="{$productType[product][2]}" alt="create {$productType[product][1]}" title="create {$productType[product][1]}"/>
											  </a>
										{elseif $productType[product][0] eq '227'}
											 <a rel="nofollow" href="soccer-football-jerseys" {if $productType[product][5] ne ''} onmouseover="javascript:writetxt('{$productType[product][5]|regex_replace:'/[\r\t\n]/':' '|escape_quotes}');" {/if} onmouseout="javascript:writetxt(0);" >
												  <img src="{$productType[product][2]}" alt="create {$productType[product][1]}" title="create {$productType[product][1]}"/>
											  </a>
										{else}
										
											{if $qryStringKey  eq ''}
											   
												  <a rel="nofollow" href="create/{$productType[product][1]}/{$productType[product][0]}" {if $productType[product][5] ne ''} onmouseover="javascript:writetxt('{$productType[product][5]|regex_replace:'/[\r\t\n]/':' '|escape_quotes}');" {/if} onmouseout="javascript:writetxt(0);" >
													  <img src="{$productType[product][2]}" alt="create {$productType[product][1]}" title="create {$productType[product][1]}"/>
												  </a>
											 
											 {else}
												<a rel="nofollow" href="create/{$productType[product][1]}/{$productType[product][0]}?{$qryStringKey}={$qryStringValue}" class="BlueLink" {if $productType[product][5] ne ''} onmouseover="javascript:writetxt('{$productType[product][5]|regex_replace:'/[\r\t\n]/':' '|escape_quotes}');" {/if} onmouseout="javascript:writetxt(0);" >
												 <img src="{$productType[product][2]}" alt="create {$productType[product][1]}" title="create {$productType[product][1]}"/>
												</a>
											{/if}
										{/if}
									<div class="textbox" style="font-size:1.4em;"> 
										{if $productType[product][0] eq '219'}
											<p><a href="{$http_location}/cricket-jerseys" class="BlueLink"  {if $productType[product][5] ne ''} onmouseover="javascript:writetxt('{$productType[product][5]|regex_replace:'/[\r\t\n]/':' '|escape_quotes}');" {/if} onmouseout="javascript:writetxt(0);">{$type_name}</a><br><span style="font-size:0.8em;">(Rs..{$productType[product][4]}&nbsp;onwards)</span></p>
										{elseif $productType[product][0] eq '227'}
											<p><a href="{$http_location}/soccer-football-jerseys" class="BlueLink"  {if $productType[product][5] ne ''} onmouseover="javascript:writetxt('{$productType[product][5]|regex_replace:'/[\r\t\n]/':' '|escape_quotes}');" {/if} onmouseout="javascript:writetxt(0);">{$type_name}</a><br><span style="font-size:0.8em;">(Rs..{$productType[product][4]}&nbsp;onwards)</span></p>
										{else}
										  {if $qryStringKey  eq ''}
											 
											<p><a href="create/{$productType[product][1]}/{$productType[product][0]}" class="BlueLink"  {if $productType[product][5] ne ''} onmouseover="javascript:writetxt('{$productType[product][5]|regex_replace:'/[\r\t\n]/':' '|escape_quotes}');" {/if} onmouseout="javascript:writetxt(0);">{$type_name}</a><br><span style="font-size:0.8em;">(Rs..{$productType[product][4]}&nbsp;onwards)</span></p>
										   
										  {else}
											 <p><a href="create/{$productType[product][1]}/{$productType[product][0]}?{$qryStringKey}={$qryStringValue}" class="BlueLink" {if $productType[product][5] ne ''} onmouseover="javascript:writetxt('{$productType[product][5]|regex_replace:'/[\r\t\n]/':' '|escape_quotes}');" {/if} onmouseout="javascript:writetxt(0);">{$type_name}</a><br><span style="font-size:0.8em;">(Rs..{$productType[product][4]}&nbsp;onwards)</span></p>
										  {/if}
										{/if}
									</div>
								<div style="font-size: 1.4em;margin-top:8px;" class="textbox"> 
								<p>
									{if $productType[product][0] eq '219'}
										<a href="{$http_location}/cricket-jerseys" style="text-decoration:underline;font-family: arial; font-weight:bold;font-size: 11pt; color: rgb(24, 125, 251);">Create</a>
									{elseif $productType[product][0] eq '227'}
										<a href="{$http_location}/soccer-football-jerseys" style="text-decoration:underline;font-family: arial; font-weight:bold;font-size: 11pt; color: rgb(24, 125, 251);">Create</a>
									{else}
										{if $productType[product][6] gte 10}
										<a href="{$http_location}/buy/{$productType[product][1]}" style="text-decoration:underline;font-family: arial;font-weight:bold; font-size: 11pt; color: rgb(24, 125, 251);">Browse</a>
										<a href="{$http_location}/create/{$productType[product][1]}/{$productType[product][0]}" style="font-family: arial;font-weight:bold; font-size: 11pt; color: rgb(24, 125, 251);">|</a>
										{/if}
										<a href="{$http_location}/create/{$productType[product][1]}/{$productType[product][0]}" style="text-decoration:underline;font-family: arial; font-weight:bold;font-size: 11pt; color: rgb(24, 125, 251);">Create</a>
									{/if}
								</p>
							
								</div>
							</div>
							
							{/if}
						
					{/section}
					
	            </div>
		 </div>
 <div class="foot"></div>
</div>
