
<div id="customizedimageloader" style="height:310px;width:440px;visibility:visible;display:'';">
	<div class="links" style="font-size:1.0em;width:440px;text-align:center;">
		<p><strong>please wait...</strong></p>
		&nbsp;
		<img src='{$cdn_base}/images/image_loading.gif'  style="position:relative;top:200px;"/>
	</div>
</div>

<div id="customizedimage" style="visibility:hidden;display:none;">
<div class="links" > 
        <div id="baseimage" style="height:310px;width:400px;text-align:center;margin-top:20px;valign:middle;">
       </div>
       <div  id="designimage" name="designimage" style="height:310px;width:300px;margin: auto">
      </div>
</div>
</div>