{*<div class="super">
	<p><a href="designer/{$designer[4]}/{$designer[0]}" style="text-decoration:none;">Designer : {$designer[4]}</a></p>
</div>
<div class="links">
	<div class="legend">
		<p><a href="designer/{$designer[4]}/{$designer[0]}">
		       {if $designer[3] ne ''}
				<img src="{$designerImageDir}/{$designer[3]}"  alt="designer image" >
			 {else}
				<img   src="default_image.jpg"  alt="designer image" />
			 {/if}
		</a></p>
	</div>
	<div class="field" style='width:160px;'>
			<!--added by arun-->
			<div style='color:#666666;font-size:1.0em;'>
				{if $designer_info.about_me ne ''}
					<p>{$designer_info.about_me|regex_replace:"/[\\\]/":""}...<a href="designer/{$designer[4]}/{$designer[0]}">more&raquo;</a></p>					
				{/if}	
				<p style="font-weight:bold;">{$designer_info.b_city}</p>					
			</div>
				
			<div>
				<i><p>{if $shopinfo ne ""}<a href="{$http_location}/shop/{$shopinfo}" style='color:#FF0099;font-size:1.2em;font-weight:bold;'>view my shop</span></a>{/if}</p></i>
			</div>	
			<!--till here-->
		
		<!--<p>
		{$designer[5]}</p>-->
		<p>
		<!-- <strong>Total Designs:</strong>
			265 -->
		</p>
		<!-- <p>
			View All designs by
			<strong>
			<a href="designerProducts.php?id={$designer[0]}&name={$designer[1]}" >{$designer[4]}</a>
			</strong>
		</p> -->
      </div>
     
<div class="clearall"></div>
</div>
<div class="foot"></div>*}

<!-- view all design -->

<div class="super">
   <p>other designs by <a href="designer/{$designer[4]}/{$designer[0]}" style="text-decoration:none;">{$designer[4]}</a></p>
</div>

<div class="links">
     <div class="seriallist">
     {* {section name=design loop=$designs max=3}
         <div class="listbox" style="height:205px;">
	     <div class="imagebox">
	        {if $designs[design][8]}
	      <!--  <a href="{$postToSelf}?productTypeId={$designs[design][4]}&type={$designs[design][5]}&productStyleId={$designs[design][6]}&productid={$designs[design][0]}">-->
		<a href="/{$designs[design][1]|replace:" ":"-"
}/{$designs[design][5]|replace:" ":"-"
}/FC/PD/{$designs[design][0]}">

			  	      <div style="
					   background-position: center; background-repeat: no-repeat;" >
						<div style="text-align: center; 
			        	width: 120px; height: 140px; vertical-align: middle;">
							<img id="designs_{$designs[design][0]}" src="{$cdn_base}/skin1/images/spacer.gif" lazy-src="{$http_location}/{$designs[design][8]|replace:'./':''}" class="lazy" alt="{$designs[design][1]}" title="{$designs[design][1]}" />
					  </div>
					 </div> 
		        </a>
           	 {else}
			     <img   src="default_logo.gif"  height='50' width='70' />
          	 {/if}
	      </div>
	      <div class="textbox">
		  <p>
			<strong>
				<a href="/{$designs[design][1]|replace:" ":"-"
}/{$designs[design][5]|replace:" ":"-"
}/FC/PD/{$designs[design][0]}">{$designs[design][1]}</a>
				<!--<a href="{$postToSelf}?productTypeId={$designs[design][4]}&type={$designs[design][5]}&productStyleId={$designs[design][6]}&productid={$designs[design][0]}">{$designs[design][1]}</a>-->
			</strong>
		 </p>
	    </div>
	 </div>
	 {/section}*}
	 <div class="clearall"></div>
	
	 <p>
		<span style="width:20px;"></span>
		<span>View All designs by
		<strong>
			<a href="designer/{$designer[4]}/{$designer[0]}" >{$designer[4]}</a> &nbsp;(
			<a href="{$http_location}/designers" ><strong>View all designers</strong></a>)

		</strong></span>
         </p>
    </div>
</div>
<div class="foot"></div>

