<div class="links" style="padding-left:3px;margin-top:3px;">
<p style="float:left">select orientation : </p>
<table border="0" cellpadding="0" cellspacing="0" >
    <tr>
    {section name=orientation loop=$allOrientations}
       <td><input name="radiobutton" id="orientationradio" type="radio" value="{$allOrientations[orientation]}" class="radio" {if $allOrientations[orientation] eq $curr_selected_orientation} checked {/if}/></td>
      <td style='font-size:0.8em;'> {$allOrientations[orientation]}</td>
      <td width="20">&nbsp;</td>
    {/section}
      <td width="50">&nbsp;</td>
     </tr>
</table>
</div>
<div class="foot" style="height:5px"></div>
