<div class="links" style="padding-left:3px;">
<table border="0" cellpadding="0" cellspacing="0" >
    <tr>
    {section name=location loop=$designOrientationDetailValue}
       <td><input name="radiobutton" id="orientationradio" type="radio" value="{$designOrientationDetailValue[location][7]}"  onClick="javascript:setOrientationPref(this.value,'{$ortRefPage}');" {if $designOrientationDetailValue[location][7] eq $orientid} checked {/if}  class="radio" /></td>
      <td style='font-size:0.8em;'>&nbsp;{$designOrientationDetailValue[location][0]}</td>
      <td width="20">&nbsp;</td>
    {/section}
      <td width="50">&nbsp;</td>
     </tr>
</table>
</div>
