<div class="links" id="sendFeed"> 
     
     <table cellspacing="1" cellpadding="0"  width="435px">
     <tr>
          <td colspan="2"><p style="font-size:0.8em;"><b>Please provide your college/institution/organization details</b><br/></p></td>
     </tr>
    <!-- <tr>
          <td colspan="4"><p  style="font-size:0.7em;">Enter the name and email address of your friends and invite them to comment on your design. We will also send them a gift coupon which will give them to get a 20% discount on buying this product. <br/> </p></td>
     </tr>-->
       <tr> 
			<td width="40%" > 
     			    <span style="font-size:0.7em;padding-left:5px;"><b>Organization/College Name:</b></span>
			</td>
			<td > 
				  <input type="text" name="groupname" id="groupname"   style="width:150px;"  />&nbsp;&nbsp;
			</td>
						
	   </tr>
	   <tr> 
			<td width="40%"> 
		 	   <span style="font-size:0.7em;padding-left:5px;"><b>Strength:</b></span>   
		 	</td>
			<td>
			    <!--<input type="text" name="strength" id="strength"    style="width:120px;" />-->
			    <select name="strength" id="strength" class="select" style="width:150px;">
			    <option value="1-100">1-100</option>
			    <option value="100-500">100-500</option>
			    <option value="500-1000">500-1000</option>
			    <option value="above 1000">Above 1000</option>
			    </select>
			</td>
		  </tr>
	   <tr> 
		   	<td width="40%"> 
	 	        <span style="font-size:0.7em;padding-left:5px;"><b>Phone no:</b></span>   
		 	</td>
			<td>
			    <input type="text" name="phoneno" id="phoneno"    style="width:150px;" />
			</td>
	   </tr>
	   
	   <tr> 
			<td width="40%"> 
		 	   <span style="font-size:0.7em;padding-left:5px;"><b>Email</b></span>   
		 	</td>
			<td>
			    <input type="text" name="emailaddress" id="emailaddress"    style="width:120px;" value="{$login}" disabled="true"/>
			</td>
	          
	   </tr>
	   
	  <!-- <tr> 
			<td width="12%"> 
		 	   <span style="font-size:0.7em;padding-left:5px;"><b>Name:</b></span>   
		 	</td>
			<td>
			    <input type="text" name="frdname5" id="frdname5"    style="width:150;" />
			</td>
	                 <td  align='right'> 
		 	   <span style="font-size:0.7em"><b>Email :</b></span>   
		 	</td>
			<td style="padding-left:2px;">
			    <input type="text" name="frdemail5" id="frdemail5"   style="width:150" />
			</td>
	   </tr>-->
	   
	   <tr> 
			<td colspan="2"> 
		 	   &nbsp;
		 	</td>
			
	   </tr>
	    
	   <tr> 
			<td > 
		 	   &nbsp;
		 	</td>
			<td align="right" style="padding-right:11px;">
			    <input class="submit" type="button" name="submitFeed" value="submit" border="0" 
				onClick="return submitFeeds('sendfeed','{$login}');">
			</td>
	   </tr>
	   
	   	   	   

     </table>
</div>
<!--<div class="foot"></div> -->