<div id="sendCToFrd" >
<div class="subhead" ><p>Free gift coupons for your friends</p></div>
<div class="links"> 

<p>Enter the names and email ids of your friends below and gift them a great shopping experience at Myntra.com. We will send them gift coupons worth Rs 100 each which can be redeemed against shopping of Rs 500 or more. </p>
</div>
   <div> 
     <table cellpadding="2" class="table">
       <tr> 
			
			
			<td > 
     				<strong><p>Name :</p></strong>   
			</td>
			<td > 
				  <input type="text" name="frdname1" id="frdname1"   style="width:150" />
			</td>
			<td > 
     				<strong>Email :</strong>   
			</td>
			<td > 
				  <input type="text" name="frdemail1" id="frdemail1"   style="width:200" />
			</td>
	   </tr>
	   <tr> 
			<td > 
     				<strong><p>Name :</p></strong>   
			</td>
			<td > 
				  <input type="text" name="frdname2" id="frdname2"   style="width:150" />
			</td>
			
			<td> 
		 	   <strong>Email :</strong>   
		 	</td>
			<td>
			    <input type="text" name="frdemail2" id="frdemail2"   style="width:200" />
			</td>
	   </tr>
	   <tr> 
			<td > 
     				<strong><p>Name :</p></strong>   
			</td>
			<td > 
				  <input type="text" name="frdname3" id="frdname3"   style="width:150" />
			</td>
			
			<td> 
		 	   <strong>Email :</strong>   
		 	</td>
			<td>
			    <input type="text" name="frdemail3" id="frdemail3"   style="width:200" />
			</td>
	   </tr>
	   <tr> 
	               <td > 
     				<strong><p>Name :</p></strong>   
			</td>
			<td > 
				  <input type="text" name="frdname4" id="frdname4"   style="width:150" />
			</td>
			<td> 
		 	   <strong>Email :</strong>   
		 	</td>
			<td>
			    <input type="text" name="frdemail4" id="frdemail4"   style="width:200" />
			</td>
	   </tr>
	   <tr> 
			<td > 
     				<strong><p>Name :</p></strong>   
			</td>
			<td > 
				  <input type="text" name="frdname5" id="frdname5"   style="width:150" />
			</td>
			<td> 
		 	   <strong>Email :</strong>   
		 	</td>
			<td>
			    <input type="text" name="frdemail5" id="frdemail5"  style="width:200"  />
			</td>
	   </tr>
	   
	   <tr> 
			<td> 
		 	   &nbsp;
		 	</td>
			<td >
			    &nbsp;
			</td>
	   </tr>
	    
	   <tr> 
			<td colspan="3"> 
		 	   &nbsp;
		 	</td>
			<td align="right" class="align_right">
			      <input class="submit" type="button" name="submitCoupon"  id="submitCoupon"  value="send coupon" border="0" 
				onclick="return sendCouponToFriends('coupon','{$login}');">
			</td>
	   </tr>
	   
	   	   	   

     </table>
   </div>
<div class="foot"></div>
</div>