{* $Id: mykritihome.tpl,v 1.88.2.3 2006/07/19 10:19:35 max Exp $ *}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
{config_load file="$skin_config"}
<html>
{include file="mykritimeta.tpl" }
<body id="body">
<div id="popup"></div>
<div id="scroll_wrapper"> 
<div id="container">
{include file="mykrititop.tpl" }
<div id="wrapper" >
      {include file="breadcrumb.tpl" }
    
    <div id="display">
	<div class="menu_column">{include file="leftpane.tpl" }</div>
		<div class="center_column">
						
										
			{include file="modules/Gift_Certificates/giftcert.tpl" }
			 </div>

   </div>
<div class="clearall"></div>
</div>

{include file="footer.tpl" }


</div>
</div>
{include file="site/javascript.tpl"}
</body>
</html>