<table width="100%" border="0" cellspacing="0"
cellpadding="0">
<tr>
	 <td height="75"  class="textblack">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Image collage will
		 come here......Working on this.....:-)</td>
</tr>

<tr>
	 <td height="2" background=
	"{$mkImagesDir}/image_seperator_bg.jpg"><img src=
		"{$mkImagesDir}/image_seperator.jpg" width="45" height=
	"2" alt=""></td>
</tr>
</table>