<table width="100%"  border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="50%" height="21"  class="textblack">Have questions about designing your product? Read our <a href="mkfaq.php" class="BlueLink">FAQ</a></td>
    </tr>
    <tr>
      <td height="21"  class="textblack">Interested in making money from your design? Check out <a href="mkstartsellinghome.php" class="BlueLink">Start Selling</a></td>
    </tr>
</table>
