<table width="100%" border="0" cellpadding="0" cellspacing="0" class="listTableheader">
<tr>
  <td width="15" background="{$mkImagesDir}/list_tableheader_bg.jpg"><img src="{$cdn_base}/skin1/mkimages/list_tableheader_bg.jpg" width="1" height="23"></td>
  <td width="400" nowrap='true' class="listTableheaderText">{$tableHeading}</td>
  <td background="{$mkImagesDir}/list_tableheader_bg.jpg"><img src="{$cdn_base}/skin1/mkimages/list_tableheader_bg.jpg" width="1" height="23"></td>
</tr>
</table>
