<div class="head"> 
            <p>current special offers</p>
 </div>
{section name=offer loop=$offers}


 <div> 
     <table cellpadding="2" class="table">
     <tr> 
          <td style="width:60%">
      <table width="100%" border="0" >
	<tr>
{if $offers[offer][6] == ""}
<td >
<img id="{$idtag}" src="{$xcart_web_dir}/image.php?type={$type}&amp;id={$id}&amp;ts={$smarty.now}{if $already_loaded}&amp;tmp=Y{/if}"{if $image_x ne 0} width="{$image_x}"{/if}{if $image_y ne 0} height="{$image_y}"{/if} alt="{include file="main/image_property.tpl"}"/>
</td>
{else}   
<td ><img src="{$offers[offer][6]}" alt="Featured Design" ></td>
{/if}
	</tr>
      </table>
      </td>

      

       <td  style="width:40%">
       
         <table width="100%" >

	<tr>
		<td ><strong>{$offers[offer][1]} </strong></td>
	</tr>
	<tr><td colspan=2></td></tr>
	<tr>
		<td >Valid from <b>{$offers[offer][2]} </b>to <b>{$offers[offer][3]}</b></td>
	</tr>
	<tr><td colspan=2></td></tr>
	<tr>
		<td >{$offers[offer][4]}</td>
	</tr>

	 </table>

       </td>
    
    </tr>
</table>
 </div> 
 

{/section}
<div class="foot"></div>

		