    	  <div class="subhead"><p>Payment instructions</p></div>
          <div class="links"><p style="color:#FF0033;"><strong>Please make the cheque payable to "Myntra Designs Pvt. Ltd." and mail at the following address along with the copy of the invoice. Please also mention the order # at the back of the cheque.<strong></p></div>
          <div class="foot"></div>