{section name=num loop=$productStyleDetails}
 <div  class="listbox" style="height:200px;_height:210px;">
	<div  id="imgBox_{$productStyleDetails[num].id}" class="imagebox">
		{if $productStyleDetails[num].description ne ''}
	     	{assign var="showdesc" value=$productStyleDetails[num].description|regex_replace:'/[\r\t\n]/':' '|escape:'quotes'|escape:'html'}
	    {else}
	     	{assign var="showdesc" value=0}
	    {/if} 
		      {if $contestId eq ''}
				<a rel="nofollow" href="{$http_location}/create-my/{$productStyleDetails[num].name|replace:' ':'-'}/{$productStyleDetails[num].id}" onmouseover="javascript:setBorder('{$productStyleDetails[num].id}');writetxt('{$showdesc}');" onmouseout="javascript:resetBorder('{$productStyleDetails[num].id}');writetxt(0);">
				     <!--<div  id="imgBox_{$productStyleDetails[num].id}" class="imagebox" style="background-image:url('{$productStyleDetails[num].image_t}');background-repeat:no-repeat;height:150px;width:150px;"></div>-->
				     <img src="{$productStyleDetails[num].image_t}" alt="{$productStyleDetails[num].name}" title="{$productStyleDetails[num].name}"/>
				 </a>
             {else}
			        <a rel="nofollow" href="{$http_location}/create-my/{$productStyleDetails[num].name|replace:' ':'-'}/{$productTypeLabel}/{$productStyleDetails[num].id}?contestId={$contestId}" onmouseover="javascript:setBorder('{$productStyleDetails[num].id}');writetxt('{$showdesc}');" onmouseout="javascript:resetBorder('{$productStyleDetails[num].id}');writetxt(0);">
				   <!--<div  id="imgBox_{$productStyleDetails[num].id}" class="imagebox" style="background-image:url('{$productStyleDetails[num].image_t}');background-repeat:no-repeat;height:150px;width:150px;"></div>-->
				<img src="{$productStyleDetails[num].image_t}" alt="{$productStyleDetails[num].name}" title="{$productStyleDetails[num].name}"/>
				</a>
	        {/if}
	  </div>
          <div class="textbox" style="font-size:1.2em;font-weight:bold">
		<p>
		   {if $contestId eq ''}
			 <a href="{$http_location}/create-my/{$productStyleDetails[num].name|replace:' ':'-'}/{$productStyleDetails[num].id}" onmouseover="writetxt('{$showdesc}');"onmouseout="writetxt(0);">{$productStyleDetails[num].name}</a>
		   {else}
			 <a href="{$http_location}/create-my/{$productStyleDetails[num].name|replace:' ':'-'}/{$productStyleDetails[num].id}?contestId={$contestId}" onmouseover="writetxt('{$showdesc}');" onmouseout="writetxt(0);">
			{$productStyleDetails[num].name}</a>
		   {/if}
		   <br><span style="font-size:1.0em;color:#FF3333">Rs.{$productStyleDetails[num].price|replace:'.00':''}/-</span>
		</p>
	</div>
</div>

 {/section}





