<div class="links">
<p><input type="hidden" id="styledescription" name="description" 
 value="({$productTypeDetails|escape}) {$productStyleDetails[0][3]|escape}" />
	 <b>style: {$productStyleDetails[0][2]}</b>
	<a href="javascript:showPopupDiv();" >
	<img src="{$cdn_base}/skin1/mkimages/help-icon.gif"  /></a>
	info {if $noOfStyles > 1 }{if $isPreviewPage ne ""} <span style="padding-left:80px;" ><a href="{$requestUri}#morestyles">change style</a>
	</span>{/if}
	{/if}
</p>	
</div>