<div class="super">tags</div>
<div class="links">
  <p>
   {section name=idx loop=$producttags}
      <a href="{$http_location}/{$producttags[idx].tagname|replace:" ":"-"}/search/">{$producttags[idx].tagname}</a>&nbsp;
   {/section}
 </p>
</div>
<div class="foot" style="height:10px;">&nbsp;</div>