<div class="form">
            <div class="subhead"> 
              <div style='margin-left:5px;'>{$pageheading}</div>
                            
            </div>

            
          <div class="text"> 
              <div class="seriallinks"> 
	    {*section name=idx loop=$product_filter_results*}
			{php}
			 require_once ("func/func.search.php");
			 $product_filter_results = $this->get_template_vars('product_filter_results');
			 $this->assign('myVars',$myVars); 
			 $http_location = $this->get_template_vars('http_location');
			 $keywordid = $this->get_template_vars('keywordid');
			 $product_type_id = $this->get_template_vars('product_type_ids');
			 
			 {/php}
			
			 {php}
			$synonyms_row_array = array();
			$synonyms_row_array_org = array();
			if(!empty($product_type_id) )
			{
				 $pcount = count($product_type_id);
				 for($i=0;$i<$pcount;$i++)
				 {	
					$queryCond .= "product_type_id = '$product_type_id[$i]'";
					if($i != $pcount-1)
						$queryCond .= " OR ";
				 }
				 $sql = "select synonyms from mk_product_type_synonyms where $queryCond";
				//$sql = "select synonyms from mk_product_type_synonyms where product_type_id = '$product_type_id'";
			 $result = db_query($sql);
				$firstLoop = true;
				while($row = db_fetch_array($result)){
				if(!$firstLoop)
					$synonyms_row .= ",";
  				$synonyms_row .= $row['synonyms'];
			
				$firstLoop = false;
			
  				}
			}	
  				$synonyms_row_array = explode(",",$synonyms_row);
  				
  				
  				foreach($synonyms_row_array as $v){
  				$synonyms_row_array_org[] = strtolower(trim($v)) ;
  				}
  			
			 $sql = "select keyword,orignal_keyword from mk_stats_search where key_id= '".$keywordid."' ";
                $result = db_query($sql);
				while($row = db_fetch_array($result)){
  				$unique_orignal_keywordid = $row['orignal_keyword'];
  				$unique_keyword_keywordid = $row['keyword'];
  				}
			  $unique_keywordid = str_replace($unique_keyword_keywordid,"",$unique_orignal_keywordid);
		
			  foreach($product_filter_results as $k => $val){
                					 $sql = "select orignal_keyword,keyword from mk_stats_search where key_id= '".$val."' ";
                					 $result = db_query($sql);
												while($row = db_fetch_array($result)){
  												$unique_orignal_keyword = $row['orignal_keyword'];
  												$unique_keyword  = $row['keyword'];
  														}
  				 	
  				   	$base_keyword = str_replace($unique_keyword,"",$unique_orignal_keyword);
			     	$whole_keyword = $unique_orignal_keyword ;
			     	$whole_keyword = preg_replace('#([ ])+#','-',$whole_keyword);
			          
			     	 if(in_array(strtolower(trim($base_keyword)),$synonyms_row_array_org)){
			     	  
			     		 if(!empty($base_keyword)){
			     			echo "<a href='".$http_location."/{$whole_keyword}/search/{$val}/'>"."<b>".$base_keyword."</b>"."</a>";
			     				echo "&nbsp;&nbsp; ";
			     		  }else{
			     		  if(!empty($whole_keyword)){
			     				echo "<a href='".$http_location."/{$whole_keyword}/search/{$val}/'>"."<b>"."all"."</b>"."</a>";
			     				echo "&nbsp;&nbsp; ";
			     		  }
			     				}
			     	}else{
			     	  		if(!empty($base_keyword)){
			     				echo "<a href='".$http_location."/{$whole_keyword}/search/{$val}/'>".$base_keyword."</a>";
			     				echo "&nbsp;&nbsp; ";
			     			}else{
			     			if(!empty($whole_keyword)){
			     				echo "<a href='".$http_location."/{$whole_keyword}/search/{$val}/'>"."all"."</a>";
			     				echo "&nbsp;&nbsp; ";
			     			}
			     			}
			     	}
			     	
			     	}
			    
		  	{/php}
			 <!--<a href='mkSearchResult.php?mode=search&searchkey={$recently_searched[idx].keyword|replace:' ':'+'}'>{$recently_searched[idx].keyword}</a>-->
			      <!--<a href="{$http_location}/{$recently_searched[idx].keyword|replace:' ':'+'}/search/">{$recently_searched[idx].keyword} {$recently_searched[idx].additional_keyword} </a>-->
			 	
	        {*/section*}
            
              </div>
            </div>
            <div class="foot"></div>
 </div>
 
