{literal}
<script type="text/javascript" language="JavaScript 1.2">
<!--
var requiredFields = new Array();
requiredFields[0] = new Array('send_name', "Your Name", false);
requiredFields[1] = new Array('send_from', "Your e-mail", false);
requiredFields[2] = new Array('send_to', "Reciepient's e-mail", false);

function validateFields(postFile,postArray){
	if(checkRequiredFields(requiredFields)){
		if(!checkEmailAddress(document.getElementById('send_from')) || !checkEmailAddress(document.getElementById('send_to'))){
			document.getElementById('tellFriendResult').style.display = 'none';				
		}else{
			document.getElementById('tellFriendResult').style.display = '';
			buildAndSubmitPostParam(postFile,postArray,'tellFriendPara');				
		}	
	}
}
-->
</script>
{/literal}
<script type="text/javascript">
var lbl_required_field_is_empty = "{$lng.lbl_required_field_is_empty|strip_tags|escape:javascript}";
var txt_email_invalid = "{$lng.txt_email_invalid|replace:"\n":" "|replace:"\r":" "|replace:'"':'\"'}";
</script>
<div style="height:200px; width:477px;margin-top:45px;margin-left:15px;">
<div id="fb-root"></div>
<iframe  src="http://www.facebook.com/plugins/likebox.php?id=6466648220&amp;width=477&amp;connections=8&amp;stream=false&amp;header=false&amp;height=180" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:477px; height:200px;" allowTransparency="true"></iframe>
</div>
<div class="super ">
	<p>tell a friend</p>
</div>
<form action="" method="post" name="send">
 <div class="links" id="tellFriendResult" style="display:none;">
     <div class="field">
       <p class="mandatory" id="tellFriendPara"></p>
     </div>
     <div class="clearall"></div>
</div>
     {* <div class="links">
		<div class="legend">
			<p>
				Your Name:<span class="mandatory">*</span>
			</p>
		</div>
		<div class="field">
			<input name="send_name"  id="send_name" type="text" value="{$fname}"  >

		</div>
		<div class="clearall"></div>
   </div>

   <div class="links">
	<div class="legend">
		<p>
			Your Email Address:
				<span class="mandatory">*</span>
		</p>
	</div>
	<div class="field">
	         <input name="send_from"  id="send_from" type="text"  value="{$email}">
	</div>
	<div class="clearall"></div>
  </div>*}

  <div class="links">
	<div class="legend">
		<p>
			Friend's Email Address:
				<span class="mandatory">*</span>
		</p>
	</div>
	<div class="field">
	               <input name="send_to"  id="send_to" type="text" size="25"   >

	</div>
	<div class="clearall"></div>
  </div>

  <div class="links">
	<div class="legend">
	    <p></p>
      </div>
     <div class="field">
        <input class="submit"  type="button" border="0" value="send now" name="sendToFriend"  onclick="javascript: return validateFields('tell_a_friend.php',Array('send_to'));" >
     </div>
     <div class="clearall"></div>
</div>
<div class="foot"></div>

</form>
