{if $allproducts != 'empty'}
{assign var=index value=0}
<div class="text">
            <div class="seriallist">
{section name=outerloop loop=4}
        {section name=allproducts loop=$allproducts start=$index max=4}

		<div class="listbox">

		{if $allproducts[allproducts][8] != ""}
		{if $ie eq "true"}
			<div class="imagebox">
				<a id='{$allproducts[allproducts][0]}' name='{$allproducts[allproducts][0]}'
				href="mkproductdetail.php?productTypeId={$allproducts[allproducts][4]}&type={$allproducts[allproducts][5]}&productStyleId={$allproducts[allproducts][6]}&productid={$allproducts[allproducts][0]}" >

			    <div style="background-image: url({$allproducts[allproducts][8]});
					background-position: center; background-repeat: no-repeat;
					cursor: pointer;" >
					<div style="text-align: center;background-image: url(./images/b.gif);
			        	width: 120px; height: 140px; vertical-align: middle;">
						<img src="{$cdn_base}/images/b.gif"  alt="" />
					 </div>
				   </div>

			   </a>
			 </div>
			{else}
			<div class="imagebox">
			<a id='{$allproducts[allproducts][0]}' name='{$allproducts[allproducts][0]}' href="products/{$allproducts[allproducts][0]}" >
				<div style="background-image: url({$allproducts[allproducts][8]});
					background-position: center; background-repeat: no-repeat;" >
					<div style="text-align: center;background-image: url(./images/b.gif);
			        	width: 120px; height: 140px; vertical-align: middle;">
							<img src="{$cdn_base}/images/b.gif"  alt="" />

					 </div>
					</div>
				  </a>
				</div>

			{/if}

		{else}
			<div class="imagebox"><img src="{$cdn_base}/default_logo.gif" alt="No Image" /></div>

		{/if}
		<div class="textbox">
           <!--<a href="{$allproducts[allproducts][9]}" class="thickbox" onmouseover="writetxt('see large image')" onmouseout="writetxt(0)"> -->
          <a href="?img={$allproducts[allproducts][10]|substr:21:70}" class="thickbox" onmouseover="writetxt('see large image')" onmouseout="writetxt(0)">
          <div class="lensebox"></div></a>
          <strong><a href="products/{$allproducts[allproducts][0]}"
          onmouseover="writetxt('{$allproducts[allproducts][1]|escape}')" onmouseout="writetxt(0)">{$allproducts[allproducts].prodname}</a></strong>
            <br>
          <strong>Product&nbsp;:</strong>&nbsp;{$allproducts[allproducts][5]}<br>

		  <strong>Price:</strong>&nbsp;Rs.<span>{$allproducts[allproducts][2]}</span>
                </div>
		</div>

        {/section}
	{assign var=index value=$index+4}


{/section}


<div class="clearall"></div>
            </div>
          </div>

	 <div class="links"> <br/>
            <div class="navigator">
              <div class="left">

			{assign var=sortparam1 value=USERRATING}
			{assign var=sortparam2 value=BESTSELLING}
			{assign var=sortparam3 value=MOSTRECENT}
			{assign var=sortparam4 value=EXPERTRATING}
			<p>
			Sort By :
			  {if $sortMethod eq MOSTRECENT}
				  <a href="javascript:sortProducts('{$sortparam4}','{$sorturl}','{$pg}','{$http_location}')">Expert Rating</a>&nbsp;|&nbsp;<a href="javascript:sortProducts('{$sortparam1}','{$sorturl}','{$pg}','{$http_location}')">User Rating</a>&nbsp;|&nbsp;<a href="javascript:sortProducts('{$sortparam2}','{$sorturl}','{$pg}','{$http_location}')">Best Selling</a>&nbsp;|&nbsp;Just Arrived
				{/if}   
				{if $sortMethod eq BESTSELLING}
				<a href="javascript:sortProducts('{$sortparam4}','{$sorturl}','{$pg}','{$http_location}')">Expert Rating</a>&nbsp;|&nbsp;<a href="javascript:sortProducts('{$sortparam1}','{$sorturl}','{$pg}','{$http_location}')">User Rating</a>&nbsp;|&nbsp;Best Selling&nbsp;|&nbsp;<a href="javascript:sortProducts('{$sortparam3}','{$sorturl}','{$pg}','{$http_location}')">Just Arrived</a>
				{/if}
				{if $sortMethod eq USERRATING}
				<a href="javascript:sortProducts('{$sortparam4}','{$sorturl}','{$pg}','{$http_location}')">Expert Rating</a>&nbsp;|&nbsp;User Rating&nbsp;|&nbsp;<a href="javascript:sortProducts('{$sortparam2}','{$sorturl}','{$pg}','{$http_location}')">Best Selling</a>&nbsp;|&nbsp;<a href="javascript:sortProducts('{$sortparam3}','{$sorturl}','{$pg}','{$http_location}')">Just Arrived</a>
				{/if}
				{if $sortMethod eq EXPERTRATING}
					Expert Rating&nbsp;|&nbsp;<a href="javascript:sortProducts('{$sortparam1}','{$sorturl}','{$pg}','{$http_location}')">User Rating</a>&nbsp;|&nbsp;<a href="javascript:sortProducts('{$sortparam2}','{$sorturl}','{$pg}','{$http_location}')">Best Selling</a>&nbsp;|&nbsp;<a href="javascript:sortProducts('{$sortparam3}','{$sorturl}','{$pg}','{$http_location}')">Just Arrived</a>
				{/if}
	        </p>
            </div>

              <div class="right">
			<p>
                {if $totalpages > 1}{$paginator}{/if}
		</p>
              </div>
              <div class="clearall"></div>
            </div>
          </div>

{else}
	<div class="links">
	<p><strong>There are no products in the system.</strong></p>
	</div>

{/if}
<div class="foot"></div>
<div id="popupimage" name="popupimage" style="visibility:hidden;position:absolute;background:#FFFFFF;line-height:1.0;text-align:justify;z-index: 999999;">
  </div>
</div>