{if $allshops != 'empty'}
{assign var=index value=0}
<div class="text">
            <div class="seriallist">
{section name=outerloop loop=4}
        {section name=allshops loop=$allshops start=$index max=4}

		<div class="listbox">

		{if $allshops[allshops].image != ""}
		{if $ie eq "true"}
			<div class="imagebox">
				<a id='{$allshops[allshops].shopid}' name='{$allshops[allshops].shopid}'
				href="shop/{$allshops[allshops].name}" >
			    <div style="background-image: url({$allshops[allshops].image});
					background-position: center; background-repeat: no-repeat;
					cursor: pointer;" >
					<div style="text-align: center;background-image: url(./images/b.gif);
			        	width: 120px; height: 140px; vertical-align: middle;">
						<img src="{$cdn_base}/images/b.gif"  alt="" />
					 </div>
				   </div>

			   </a>
			 </div>
			{else}
                        
			<div class="imagebox">
                            
			<a id='{$allshops[allshops].shopid}' name='{$allshops[allshops].shopid}'
                           href="shop/{$allshops[allshops].name}" >
				<div style="background-image: url({$allshops[allshops].image});
					background-position: center; background-repeat: no-repeat;" >
					<div style="text-align: center;background-image: url(./images/b.gif);
			        	width: 120px; height: 140px; vertical-align: middle;">
					<img src="{$cdn_base}/images/b.gif"  alt="" />

					 </div>
					</div>
				  </a>
				</div>

			{/if}

		{else}
			<div class="imagebox"><img src="{$cdn_base}/default_logo.gif" alt="No Image" /></div>

		{/if}
		<div class="textbox">
          <strong><a href="shop/{$allshops[allshops].name}">{$allshops[allshops].name}</a></strong>
            <br>
                <!--<strong><a href="javascript:showDescription('{$allshops[allshops].description|wordwrap:50:"\n":true}');">Description</a></strong>-->
                </div>
		</div>

        {/section}
	{assign var=index value=$index+4}


{/section}


<div class="clearall"></div>
            </div>
          </div>

	 <div class="links"> <br/>
            <div class="navigator">
              <div class="left">

		{*	{assign var=sortparam1 value=USERRATING}
			{assign var=sortparam2 value=BESTSELLING}

		<p>
		Sort By :
		{if $sortMethod != BESTSELLING && $sortMethod != USERRATING}
			Best Selling
		{else}
		{if $sortMethod == BESTSELLING}
			Best Selling
		{else}
		      <a href="javascript:sortProducts('{$sortparam2}','{$sorturl}')">Best Selling</a>
		{/if}
		{/if}
		 |
		 {if $sortMethod == USERRATING}
			User Rating
		 {else}
			<a href="javascript:sortProducts('{$sortparam1}','{$sorturl}')">User Rating</a>
		 {/if}*}
                        &nbsp;
              </div>

              <div class="right">
			<p>
                {if $totalpages > 1}
		{if $pageNum > 1}
		<a href="{$pagePrev}">Previous</a>
		{else}
			Previous
		{/if}

		{section name=pagination loop=$pagination}
			| {$pagination[pagination]}

		{/section}

		{if $pageNum < $totalpages || $pageNum == 1}
			| <a href="{$pageNext}">Next</a>
		 {else}
			| Next
		{/if}
		{else}
			Previous&nbsp;|&nbsp;1&nbsp;|&nbsp;Next
		{/if}
		</p>
              </div>
              <div class="clearall"></div>
            </div>
          </div>

{else}
	<div class="links">
	<p><strong>There are no products in the system.</strong></p>
	</div>

{/if}
<div class="foot"></div>
<div id="popupimage" name="popupimage" style="visibility:hidden;position:absolute;background:#FFFFFF;line-height:1.0;text-align:justify;z-index: 999999;">
  </div>
</div>