{foreach key=key item=item from=$userinfo}
   {if $key eq 's_firstname'}
    {assign var='firstname' value=$item}
    {/if}
    {if $key eq 's_lastname'}
    {assign var='lastname' value=$item}
    {/if}
    {if $key eq 's_address'}
    {assign var='address' value=$item}
    {/if}
    {if $key eq 's_city'}
    {assign var='city' value=$item}
    {/if}
    {if $key eq 's_country'}
    {assign var='country' value=$item}
    {/if}
    {if $key eq 's_zipcode'}
    {assign var='zipcode' value=$item}
    {/if}

    {if $key eq 'phone' || $key eq 's_phone'}
    {assign var='phone' value=$item}
    {/if}
    {if $key eq 'mobile' || $key eq 's_mobile'}
    {assign var='mobile' value=$item}
    {/if}
    {if $key eq 'email' || $key eq 's_email'}
    {assign var='email' value=$item}
    {/if}
    {if $key eq 's_state'}
    {assign var='state' value=$item}
    {/if}

{/foreach}

<strong>First Name:</strong>&nbsp;&nbsp;{$firstname}<br>
<strong>Last Name:</strong>&nbsp;&nbsp;{$lastname} <br>
<strong>Address:</strong><br>
{$address}<br>{$city}, {$state}<br>

<strong>Country:</strong>&nbsp;&nbsp;{$country}<br>

<strong>Zip/Postal Code:</strong>{$zipcode}<br>
<strong>Phone:</strong>&nbsp;&nbsp;{$phone}<br>
<strong>Mobile:</strong>&nbsp;&nbsp;{$mobile}<br>
<strong>Email:</strong>&nbsp;&nbsp;{$email}<br>



                                         
		
