<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
{config_load file="$skin_config"} 
<html>
<head>
<!--added old css path for dsign contest-->
{*include file="site/header.tpl" *}
<link href="{$http_location}/{$brandshop_css_path}" rel="stylesheet" type="text/css">
<base href="{$baseurl}">
<script type="text/javascript">
var http_loc = '{$http_location}';	
</script>
</head>
<body id="body"  >
{if $login_event == 'startselling' && $login}
	{include file="popup_login.tpl" }
{/if}

<div id="scroll_wrapper"> 
<div id="container">
      {include file="site/oldtop.tpl" }
	 <div id="wrapper" >
		<noscript>
			<h1 style='font-size:12px;'>Make earn money sell your creative t-shirt,mugs designs</h1>
		</noscript>
						
	     {include file="breadcrumb.tpl" }

		 <div id="display">
		      <!-- start left panel , Commenting left panel because images are missing for featured shops which is creating 404 call and clearing the session-->
		        {if $orgId != ""}
		        	<div class="menu_column">
		           		<div class="sidemenudark" style='background-color:#F8F8F8;'></div>
		            </div>
				{else}
					{include file="startselling_leftpanel.tpl" }
				{/if}     
			  <!-- end -->
			 <div class="center_column"> 
			       <img src="{$cdn_base}/skin1/mkimages/980/startsellingmain.jpg" width=775 height=143 alt='make earn money sell your creative t-shirt,mugs designs' > 
			      

				   <div class="clearall"></div>
				  {assign var=imagetext value="make earn money sell creative designs"} 
				   {include file="create_product/groups.tpl" }
				<div class='text'>
				<h2 style="margin-left: -5px; font-size: 14px; Font-weight: bold;">Popular @ myntra</h2>
				{section name=idx loop=$arr_seo}
					{if $arr_seo[idx][1]  eq '/mkstartsellinghome.php'}
						<a style='font-size:12px;' href='{$http_location}{$arr_seo[idx][3]}'>{$arr_seo[idx][2]}</a>&nbsp;&nbsp;
					{/if}
				 {/section}
				</div>

			</div>
		   </div>
        <div class="clearall"></div>
     </div>
		<!--added old js path for dsign contest-->
       {include file="site/oldfooter.tpl" }
</div>
</div>
</body>
</html>
    
    
