    <div class="sidemenudark">
          <div class="head"><p>themes</p></div>
          <div class="links">
            <ul>
              <li>Have something specific in mind? Check out these cool new themes!!</li>
	      {section name=theme loop=$themes }
		<li>
		        {if $themes[theme][2] neq ''}
				<img src="{$themes[theme][2]}" alt="{$themes[theme][1]}">
                         {else}
			 {/if}
			<br/>
				<strong><a href="browseDesignByCategory.php?subcatid={$themes[theme][0]}&catname={$themes[theme][1]}">{$themes[theme][1]}</a></strong><br>
		</li>
              {/section}
            </ul>
          </div>
          <div class="foot"></div>
       </div>
 
 
 
 
 
 
 
 
 
 
 
