#progressBarFrame {
  width:33%; 
  border:1px solid red; 
  background-color:white;
  visibility:hidden; 
}

#progressBar {
  border:1px; 
  width:0px; 
  background-color:red;
  color:white; 
}

#statusText {
  height:     10px; 
  overflow:   hidden;
  font-size:  10;
}
