{* $Id: mykritihome.tpl,v 1.88.2.3 2006/07/19 10:19:35 max Exp $ *}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{config_load file="$skin_config"}
<html>

{include file="mykritimeta.tpl" }
 <script type="text/javascript" language="JavaScript 1.2" src="./skin1/common_js.js"></script>

 {literal}
 <style>
.recently_viewed_title{
background:#FFF085 none repeat scroll 0 0;
border-color:#EEE085;
border-style:solid;
border-width:1px 1px 3px;
color:#000000;
cursor:default;
display:block;
font-family:Arial,Verdana,sans-serif;
font-size:85%;
font-weight:bold;
padding:2px 0 2px 10px;
text-align:left;
}

.tag_cloud_tags a:hover{
color:#990000;
font-family:Tahoma,Arial,Verdana,sans-serif;
}
.tag_cloud_tags {
float:left;
margin:0 0 0 5px;
width:97%;
font-family:Tahoma,Arial,Verdana,sans-serif;
}
</style>
 {/literal}
<body id="body"  onload="javascript:showaddress('{$addressoption}', '{$termandcondition}', '{$userinfo.termCondition}');">
<div id="scroll_wrapper">
<div id="container">
{include file="mykrititop.tpl" }
<div id="wrapper">
      {include file="breadcrumb.tpl" }
    <div id="display">
	<div class="menu_column">{include file="leftpane.tpl" }</div>	
		<div class="center_column">

{foreach  key=myId name=outer item=recents from=$recent_tshirt} 
<div class="form">
<span class="recently_viewed_title">Recent {$myId}</span>
<div class="links">
<div class="tag_cloud_tags" style="margin-left:5px;">
{section name=recent loop=$recents}
 <span style="white-space: nowrap; font-size: 100%;">
<a href='{$http_location}/{$recents[recent][0]|replace:" ":"-"}/{$myId}/FC/PD/{$recents[recent][1]}'>{$recents[recent][0]|replace:"-":" "}</a>
	 &nbsp;&nbsp;
</span>

{/section}
</div>
<div class="clearall"></div>
</div>
<div class="links"></div>
<div class="foot" ></div>
</div>
{/foreach}





	  
	  </div>
</div>
	<div class="clearall"></div>
</div>
{include file="footer.tpl" }
</div>		
</div>
</body>
</html>
