#body{ font-family:Arial,Helvetica,sans-serif; font-size:14px; color:#333; margin:0px; padding:0px; overflow:hidden; width:100%; height:100%}
#scroll_wrapper{ left:0px; top:0px; width:100%; overflow:auto}
#container{ position:absolute; left:50%; margin-left:-380px; width:760px; height:auto}
.container{ width:760px;margin:auto;}
#header{ width:100%; height:76px; background-image:url(http://cdn.myntra.com/skin1/mkimages/header_bg.jpg)}
#logo{ position:relative; left:0px; top:0px; width:160px; height:76px; background-image:url(http://cdn.myntra.com/skin1/mkimages/logo_green.jpg)}
#menu{ position:relative; left:190px; top:0px; width:600px; height:76px; margin-top:-76px}
#tabs{ position:relative; left:-10px; top:38px; height:39px; font-size:1.3em; font-style:normal; line-height:normal; font-weight:normal; font-variant:normal; text-transform:lowercase; color:#fff; text-decoration:none; letter-spacing:-0.05em}
#login{ position:absolute; left:0px; top:0px; width:740px; height:14px; font-size:0.8em; color:#999; padding-top:16px; text-align:right; z-index:3}
.button_sel_left{ width:16px; float:left; height:38px; background-image:url(http://cdn.myntra.com/skin1/mkimages/button_sel_left.jpg); background-repeat:no-repeat; background-position:0px 0px}
.button_sel{ background-image:url(http://cdn.myntra.com/skin1/mkimages/button_sel.jpg); float:left; height:38px; background-repeat:repeat-x; background-position:0px 0px; color:#9c0; padding-top:14px}
.button_sel_right{ width:16px; background-image:url(http://cdn.myntra.com/skin1/mkimages/button_sel_right.jpg); float:left; height:38px; background-repeat:no-repeat; background-position:0px 0px}
.button_sep{ width:11px; background-image:url(http://cdn.myntra.com/skin1/mkimages/button_sep.jpg); float:left; height:38px; background-repeat:no-repeat; background-position:0px 0px}
.button_text{ background-image:url(http://cdn.myntra.com/skin1/mkimages/button_sep.jpg); float:left; height:24px; background-repeat:repeat-x; background-position:0px 0px; padding-top:14px}
.button_text A:link{ text-decoration:none; color:#fff}
.button_text A:hover{ text-decoration:none; color:#fff}
.button_text A:visited{ text-decoration:none; color:#fff}
.button_text A:active{ text-decoration:none; color:#fff}
ul{ list-style-position:inside; list-style-type:decimal; padding-top:4px; padding-bottom:4px; margin:0px; padding-left:5px; padding-right:5px}
li{}
h2{ font-size:2em; font-style:normal; line-height:normal; font-weight:normal; font-variant:normal; text-transform:lowercase; text-decoration:none; letter-spacing:-0.05em; margin-top:0px; margin-bottom:7px; padding-left:5px}
h3{ font-size:1.6em; font-style:normal; line-height:normal; font-weight:normal; font-variant:normal; text-transform:lowercase; text-decoration:none; letter-spacing:-0.05em; margin-top:0px; margin-bottom:7px; padding-left:5px}
p{ margin:0px; padding-left:5px; padding-right:35px; padding-bottom:2px}
p.specialOffers{ margin:0px; padding-left:100px; padding-right:10px; padding-bottom:2px}
#shopheader{ width:760px; height:73px; background-image:url(http://cdn.myntra.com/skin1/mkimages/header_black.jpg); background-repeat:repeat-x}
#shoplogo{ position:relative; left:0px; top:0px; width:180px; height:73px}
#shopmenu{ position:relative; left:185px; top:0px; width:600px; height:76px; margin-top:-76px}
.display,#display{ height:auto; width:100%}
#breadcrumb{ width:738px; height:28px; padding-top:10px; padding-left:12px; padding-right:10px; font-size:0.8em; font-style:normal; text-transform:lowercase; color:#333; text-decoration:none}
#searchbox{ width:740px; height:38px; padding-left:10px; padding-right:10px; font-size:0.8em; color:#999}
#display .center_column{ padding-left:10px; width:580px; float:left}
#display .home_column{ padding-left:10px; width:750px; float:left}
#wrapper,.wrapper{ width:100%; background-image:url(http://cdn.myntra.com/skin1/mkimages/wrapper-760.gif); background-repeat:repeat-y; padding-bottom:10px}
#footer,.footer{ width:100%; height:25px; font-size:0.7em; background-image:url(http://cdn.myntra.com/skin1/mkimages/footer.gif); background-repeat:no-repeat; background-position:left top; padding-top:5px}
.footertext{ float:left; width:410px}
.footercopy{ float:left; color:#C00; width:325px; text-align:right; white-space:normal}
#display .temporary{ padding-left:10px; width:580px; position:absolute; top:150px; left:160px}
.sidemenu{ width:150px; margin-top:10px}
.sidemenu .head{ width:150px; background-image:url(http://cdn.myntra.com/skin1/mkimages/sidemenu_head_pink.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em}
.sidemenu .subhead{ width:150px; background-image:url(http://cdn.myntra.com/skin1/mkimages/sidemenu_link.gif); background-repeat:repeat-y; height:auto; font-size:1.3em; vertical-align:bottom; padding-top:6px; letter-spacing:-.05em}
.sidemenu .links ul{ list-style-position:outside; list-style-image:none; list-style-type:none; color:#999; font-size:1.1em; padding-left:5px; padding-right:5px}
.sidemenu .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/sidemenu_foot.gif); background-repeat:no-repeat; height:3px; width:150px}
.sidemenu .links{ background-image:url(http://cdn.myntra.com/skin1/mkimages/sidemenu_link.gif); background-repeat:repeat-y; width:150px; font-size:0.7em}
.sidemenudark{ width:150px; margin-top:10px}
#display .menu_column{ width:150px; float:left; padding-left:10px}
.sidemenudark .head{ width:150px; background-image:url(http://cdn.myntra.com/skin1/mkimages/sidemenudark_head_yellow.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-.05em}
.sidemenudark .subhead{ width:150px; background-image:url(http://cdn.myntra.com/skin1/mkimages/sidemenudark_link.gif); background-repeat:repeat-y; height:auto; font-size:1.3em; vertical-align:bottom; padding-top:6px; letter-spacing:-.05em}
.sidemenudark .links ul{ list-style-position:outside; list-style-image:none; list-style-type:none; color:#999; padding:5px; padding-left:5px; padding-right:5px}
.sidemenudark .links ul li{ padding-bottom:4px}
.sidemenudark .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/sidemenudark_foot.gif); background-repeat:no-repeat; height:3px; width:150px}
.sidemenudark .links{ background-image:url(http://cdn.myntra.com/skin1/mkimages/sidemenudark_link.gif); background-repeat:repeat-y; width:150px; font-size:0.7em}
a:link{ color:#666; text-decoration:underline}
a:visited{ color:#666; text-decoration:underline}
a:hover{ color:#F03; text-decoration:underline}
.mandatory{ color:#F30}
.greymandatory{ color:#747474}
.selected{ color:#F03}
img{ border:1px solid #ccc}
blockquote{ padding:0px; margin-left:20px; margin-top:5px; margin-bottom:5px; font-style:italic}
.clearall{ clear:both}
input{ border:1px solid #999; font-family:Arial,Helvetica,sans-serif; padding-left:2px; padding-right:2px; font-size:11px; color:#333; margin:0px; width:auto}
input.quantity{ width:50px; border:1px solid #f06}
input.text{ border:1px solid #999; width:50px}
textarea{ border:1px solid #999; font-family:Arial,Helvetica,sans-serif; font-size:11px; width:400px}
textarea .textarea1{ border:1px solid #999; font-family:Arial,Helvetica,sans-serif; font-size:11px; height:200px; width:400px}
textarea.address{ border:1px solid #999; font-family:Arial,Helvetica,sans-serif; font-size:11px; height:50px; width:150px}
.select{ border:1px solid #999; font-family:Arial,Helvetica,sans-serif; padding-left:2px; padding-right:0px; font-size:11px; background-color:#fff; color:#333; margin:0px; width:auto}
.countryselect{ border:1px solid #999; font-family:Arial,Helvetica,sans-serif; padding-left:2px; padding-right:0px; font-size:11px; background-color:#fff; color:#333; margin:0px; }
input.submit{ background-color:#f60; color:#fff; font-weight:bold; border:1px solid #333}
input.checkbox{ border:0px}
input.radio{ border:0px}
.form{ width:580px; margin-top:10px}
.form .head{ width:580px; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_super_green.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#666}
.form .super{ width:580px; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_header_red.gif); background-repeat:no-repeat; height:40px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#FFF}
.form .subhead{ width:580px; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_head_green.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.form .button{ background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_sidemenu_link.gif); background-repeat:repeat-y; padding-bottom:6px; padding-top:10px; padding-left:6px}
.form .links ul{ list-style-position:outside; list-style-image:none; list-style-type:none; color:#999; padding-left:5px; padding-right:5px}
.form .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_foot.gif); background-repeat:no-repeat; height:12px; width:580px}
.form .links{ width:580px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_sidemenu_link.gif); background-repeat:repeat-y; height:auto; overflow:hidden; padding-bottom:4px}
.form .text{ width:580px; padding-left:5px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_sidemenu_link.gif); background-repeat:repeat-y; height:auto; overflow:hidden}
.form .links .field{ float:left; width:400px}
.form .links .legend{ float:left; width:160px}
.form .links .field .pollbar{ background-color:#F06; border:1px #999 solid; height:12px; color:#FFF}
.highlites{ width:580px; margin-top:10px}
.highlites .head{ width:580px; background-image:url(http://cdn.myntra.com/skin1/mkimages/highlite_head.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#666}
.highlites .super{ width:580px; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_header_red.gif); background-repeat:no-repeat; height:40px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#FFF}
.highlites .superbanner{ width:580px; height:70px}
.highlites .superbanner img{ border:0px}
.highlites .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/highlites_foot.gif); background-repeat:no-repeat; height:12px; width:580px}
.highlites .content{ width:580px; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/highlite_content.gif); background-repeat:repeat-y; margin-top:0px}
.highlites .links{ width:580px; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/highlite_content.gif); background-repeat:repeat-y; margin-top:0px; background-color:#e3e3e3; font-size:0.8em}
.highlites .content .wrapper{ width:578px; background-image:url(http://cdn.myntra.com/skin1/mkimages/highlites_grad.gif); background-repeat:repeat-x; background-color:#e3e3e3; margin-left:1px; margin-right:1px; font-size:0.8em; padding-bottom:12px}
.highlites .content .wrapper img{ border:0px}
.smalllites{ width:280px; margin-top:10px; margin-right:10px; float:left; overflow:hidden; height:350px}
.smalllites .head{ width:280px; background-image:url(http://cdn.myntra.com/skin1/mkimages/smalllites_head.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#666}
.smalllites .super{ width:280px; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_header_red.gif); background-repeat:no-repeat; height:40px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#FFF}
.smalllites .superbanner{ width:280px; height:70px}
.smalllites .superbanner img{ border:0px}
.smalllites .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/smalllites_foot.gif); background-repeat:no-repeat; height:12px; width:280px}
.smalllites .content{ width:280px; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/smalllites_content.gif); background-repeat:repeat-y; margin-top:0px; height:300px}
.smalllites .links{ width:280px; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/smalllites_content.gif); background-repeat:repeat-y; margin-top:0px; background-color:#e3e3e3; font-size:0.8em}
.smalllites .content .wrapper{ width:278px; background-image:url(http://cdn.myntra.com/skin1/mkimages/smalllites_grad.gif); background-repeat:repeat-x; background-color:#e3e3e3; margin-left:1px; margin-right:1px; font-size:0.8em; height:300px; overflow:hidden}
.smalllites .content .wrapper img{ border:0px}
.smalllites .content .wrapper .contestwinner .largeimg{ float:right; width:20px; height:15px; border:0px #ccc solid; margin-top:1px; background-image:url(http://cdn.myntra.com/skin1/mkimages/icon_fullsize.gif); background-repeat:no-repeat; background-position:top right}
.contestwinner{ float:left; width:120px; height:140px; border:1px #aaa solid; text-align:center; margin-left:5px; margin-top:10px}
.winnerdesigner{ float:right; width:100px; height:100px; text-align:center; margin-left:5px; margin-top:10px}
.contestwinner img{ border:0px}
.table{ font-size:0.8em; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_sidemenu_link.gif); background-repeat:repeat-y; width:580px; padding:2px}
.printtable{ font-size:0.8em; padding-bottom:15px; page-break-after:auto}
.font_bold{ font-weight:bold; color:#666}
.row_color{}
.border_all{ border:1px solid #e3e3e3}
.align_right{ text-align:right; border-bottom:1px solid #e3e3e3}
.align_left{ text-align:left; border-bottom:1px solid #e3e3e3}
.align_left_noborder{ text-align:left}
.align_right_noborder{ text-align:center}
.align_center{ text-align:center}
.align_top{ vertical-align:top}
.align_right img{ border:0px}
.homepageText{ font-size:1.1em; color:#000}
.adjust{ border:0px; width:435px; font-size:0.8em}
.adjust img{ border:0px}
.adjust .left{ text-align:left}
.adjust .right{ text-align:right}
.adjust .center{ text-align:center}
.colors{ width:221px}
.colorselect{ width:20px; height:20px; margin-left:5px; margin-top:1px; border:1px solid #999}
.colors .box{ width:10px; height:10px; float:left; margin-left:1px; margin-top:1px}
.colors .box img{ border:0px}
.subtab{ background-image:url(http://cdn.myntra.com/skin1/mkimages/subtab.gif); float:left; width:190px; height:36px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#fff}
.subtabselect{ background-image:url(http://cdn.myntra.com/skin1/mkimages/subtabselect.gif); float:left; width:142px; height:36px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#666}
.content{ width:580px; margin-top:10px}
.content .head{ width:580px; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_super_green.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#666}
.content .super{ width:580px; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_header_red.gif); background-repeat:no-repeat; height:40px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#FFF}
.content .subhead{ width:580px; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_head_green.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.content .button{ background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_sidemenu_link.gif); background-repeat:repeat-y; padding-bottom:6px; padding-top:10px; padding-left:6px}
.content .links ul{ list-style-position:outside; list-style-image:none; list-style-type:decimal; margin-left:20px; padding-left:5px; padding-right:5px}
.content .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_foot.gif); background-repeat:no-repeat; height:12px; width:580px; margin-bottom:10px}
.content .links{ width:580px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_sidemenu_link.gif); background-repeat:repeat-y; height:auto; overflow:hidden}
.content .links .field{ width:400px; left:160px; position:relative; top:-12px}
.contest{ width:580px; margin-top:10px}
.contest .head{ width:580px; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_super_green.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#666}
.contest .super{ width:580px; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_header_red.gif); background-repeat:no-repeat; height:40px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#FFF}
.contest .subhead{ width:580px; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_head_green.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.contest .button{ background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_sidemenu_link.gif); background-repeat:repeat-y; padding-bottom:6px; padding-top:10px; padding-left:6px}
.contest .links ul{ list-style-position:outside; list-style-image:none; list-style-type:decimal; margin-left:20px; padding-left:5px; padding-right:5px}
.contest .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_foot.gif); background-repeat:no-repeat; height:12px; width:580px; margin-bottom:10px}
.contest .links{ width:580px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_sidemenu_link.gif); background-repeat:repeat-y; height:auto; overflow:hidden}
.contest .links .field{ width:400px; left:160px; position:relative; top:-12px}
#popup{ position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:700; visibility:hidden}
#errorpopup{ position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:700}
#successpopup{ position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:700}
#stylepopup{ position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:700; visibility:hidden}
#imageuploadpopup{ position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:700}
#erroruploadpopup{ position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:700}
#overlay{ position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:800; background-image:url(http://cdn.myntra.com/skin1/mkimages/spacer_transparent.png); opacity:0.5; filter:alpha( opacity = 50 );-moz-opacity: 0.5}
#registerpopup{ position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:700; visibility:hidden}
#messagepopup{ position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:700; visibility:hidden}
#message{ position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:900; color:#fff}
#message a:link{ color:#fff}
#message a:hover{ color:#666}
#message a:visited{ color:#fff}
#message a:active{ color:#666}
#message .wrapper{ width:306px; margin-left:-153px; margin-top:-100px; position:absolute; left:50%; top:50%; font-size:0.8em; font-style:normal; text-decoration:none}
#message .wrapper .head{ background-image:url(http://cdn.myntra.com/skin1/mkimages/message_head.gif); background-repeat:no-repeat; height:15px; width:100%; padding-top:5px; font-size:0.9em; text-align:right}
#message .wrapper .body{ padding-left:10px; padding-right:10px; background-image:url(http://cdn.myntra.com/skin1/mkimages/message_body.gif); background-repeat:repeat-y; width:100%}
#message .wrapper .body img{ float:left; border:0px}
#message .wrapper .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/message_foot.gif); background-repeat:no-repeat; height:20px; width:306px; width:100%}
#error{ position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:900; color:#fff}
#error a:link{ color:#fff}
#error a:hover{ color:#666}
#error a:visited{ color:#fff}
#error a:active{ color:#666}
#error .wrapper{ width:306px; margin-left:-153px; margin-top:-100px; position:absolute; left:50%; top:50%; font-size:0.8em; font-style:normal; text-decoration:none}
#error .wrapper .head{ background-image:url(http://cdn.myntra.com/skin1/mkimages/error_head.gif); background-repeat:no-repeat; height:15px; width:100%; padding-top:5px; font-size:0.9em; text-align:right}
#error .wrapper .body{ padding-left:10px; padding-right:10px; background-image:url(http://cdn.myntra.com/skin1/mkimages/error_body.gif); background-repeat:repeat-y; width:100%}
#error .wrapper .body img{ float:left; border:0px}
#error .wrapper .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/error_foot.gif); background-repeat:no-repeat; height:20px; width:306px; width:100%}
#selection{ position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:900}
#selection .wrapper{ width:580px; margin-left:-290px; margin-top:-180px; position:absolute; left:50%; top:50%; font-size:0.8em; font-style:normal; color:#666; text-decoration:none}
#selection .wrapper .head{ background-image:url(http://cdn.myntra.com/skin1/mkimages/selection_head.gif); background-repeat:no-repeat; height:25px; width:100%; font-size:1.6em; vertical-align:bottom; letter-spacing:-0.05em; color:#999; text-transform:lowercase; text-decoration:none}
#selection .wrapper .head img{ float:right; border:0px}
#font_color_popup{ visibility:hidden}
#font_popup{ visibility:hidden}
#selection .wrapper .body{ background-image:url(http://cdn.myntra.com/skin1/mkimages/selection_body.gif); background-repeat:repeat-y; width:100%; padding-left:10px; padding-right:10px}
#selection .wrapper .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/selection_foot.gif); background-repeat:no-repeat; height:12px; width:306px; width:100%}
#selectionbig{ position:absolute; overflow:auto; left:0px; top:0px; width:100%; height:100%; z-index:900}
#selectionbig .wrapperbig{ width:740px; margin-left:-378px; margin-top:-220px; position:absolute; left:50%; top:50%; font-size:0.8em; font-style:normal; color:#666; text-decoration:none}
#selectionbig .wrapperbig .headbig{ background-image:url(http://cdn.myntra.com/skin1/mkimages/selection_big_head.gif); background-repeat:no-repeat; height:25px; width:100%; font-size:1.5em; vertical-align:bottom; letter-spacing:-0.05em; color:#999; text-transform:lowercase; text-decoration:none}
#selectionbig .wrapperbig .headbig img{ float:right; border:0px}
#font_color_popup{ visibility:hidden}
#font_popup{ visibility:hidden}
#selectionbig .wrapperbig .bodybig{ background-image:url(http://cdn.myntra.com/skin1/mkimages/selection_big_body.gif); background-repeat:repeat-y; width:100%; padding-left:10px; padding-right:10px}
#selectionbig .wrapperbig .footbig{ background-image:url(http://cdn.myntra.com/skin1/mkimages/selection_big_foot.gif); background-repeat:no-repeat; height:12px; width:306px; width:100%}
#poplist{ position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:900}
#poplist .wrapper{ width:580px; margin-left:-290px; margin-top:-180px; position:absolute; left:50%; top:50%; font-size:0.8em; font-style:normal; color:#666; text-decoration:none}
#poplist .wrapper .head{ background-image:url(http://cdn.myntra.com/skin1/mkimages/selection_head.gif); background-repeat:no-repeat; height:25px; width:100%; font-size:1.6em; vertical-align:bottom; letter-spacing:-0.05em; color:#999; text-transform:lowercase; text-decoration:none}
#poplist .wrapper .head img{ float:right; border:0px}
#poplist .wrapper .body{ background-image:url(http://cdn.myntra.com/skin1/mkimages/selection_body.gif); background-repeat:repeat-y; width:100%; padding:10px}
#poplist .wrapper .body img{ float:left; border:0px; padding-bottom:2px}
#poplist .wrapper .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/selection_foot.gif); background-repeat:no-repeat; height:12px; width:306px; width:100%}
.navigator{ font-size:0.9em}
.navigator .left{ float:left}
.navigator .right{ float:right}
.seriallist{ margin:5px}
.seriallist .listbox{ float:left; width:136px; height:195px; margin:2px}
.seriallist .listbox .imagebox{ float:left; width:123px; height:140px; border:1px #ccc solid; text-align:center; margin-top:5px}
.seriallist .listbox .imagebox img{ margin-top:20px; border:0px}
.seriallist .listbox .textbox{ float:left; width:123px; height:60px; text-align:left; vertical-align:top; border:0px #ccc solid}
.seriallist .listbox .textbox .lensebox{ float:right; width:20px; height:15px; border:0px #ccc solid; margin-top:1px; background-image:url(http://cdn.myntra.com/skin1/mkimages/icon_fullsize.gif); background-repeat:no-repeat; background-position:top right}
.seriallist .listbox .textbox .copybox{ float:right; width:20px; height:15px; border:0px #ccc solid; margin-top:1px; background-image:url(http://cdn.myntra.com/skin1/mkimages/ico_next.jpg); background-repeat:no-repeat; background-position:top right}
.seriallinks{ color:#39F}
.seriallinks A:link{ color:#39F}
.seriallinks A:Visited{ color:#39F}
.seriallinks A:Hover{ color:#F06}
.seriallinks A:Active{ color:#F06}
.seriallinks ul{ list-style-position:inside; list-style-image:none; list-style-type:none}
.seriallinks li{ float:left;; width:140px}
.serialfonts{ color:#39F}
.serialfonts A:Hover img{ border:1px solid #F06}
.serialfonts ul{ list-style-position:inside; list-style-image:none; list-style-type:none}
.serialfonts li{ float:left;; width:140px}
.serialfonts li img{ border:1px #f8f8f8 solid}
.serialbanners{ margin:15px}
.serialbanners .listbox{ float:left; width:150px; height:170px; margin:10px; margin-bottom:30px}
.serialbanners .listbox .imagebox{ float:left; width:150px; height:150px; border:1px #E3E3E3 solid; text-align:center}
.serialbanners .listbox .imagebox img{ border:0px}
.serialbanners .listbox .textbox{ float:left; width:150px; text-align:left; vertical-align:top; height:25px; font-size:1.8em; letter-spacing:-0.05em;; text-transform:lowercase}
.serialbanners .listbox .textbox a:link{ text-decoration:none; color:#999}
.serialbanners .listbox .textbox a:visited{ text-decoration:none; color:#999}
.serialbanners .listbox .textbox a:hover{ text-decoration:none; color:#f06}
.serialbanners .listbox .textbox a:active{ text-decoration:none; color:#f06}
.print{ width:740px; margin-top:10px; page-break-after:auto;margin:auto;}
.print .head{ width:100%; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#666}
.print .super{ width:100%; height:98px; font-size:3em; vertical-align:bottom; letter-spacing:-0.05em; color:#9c0; background-image:url(http://cdn.myntra.com/skin1/myntra_images/logo.png); background-repeat:no-repeat; background-position:right top; border-bottom:1px solid #999}
.print .subhead{ width:100%; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.print .button{ padding-bottom:6px; padding-top:10px; padding-left:6px}
.print .links ul{ list-style-position:outside; list-style-image:none; list-style-type:none; color:#999; padding-left:5px; padding-right:5px}
.print .foot{ height:12px; width:100%;}
.print .links{ width:100%; font-size:0.8em; color:#666; height:auto; overflow:hidden; padding-bottom:4px}
.print .text{ width:100%; padding-left:5px; font-size:0.8em; color:#666; height:auto; overflow:hidden}
.print .links .field{ float:left; width:400px}
.print .links .legend{ float:left; width:180px}
.print .links .field .pollbar{ background-color:#F06; border:1px #999 solid; height:12px; color:#FFF}
.home_column{ margin-top:7px; width:720px; font-size:1em; color:#000}
.home_column img{ border:0px}
.home_banner{ width:720px; margin-top:10px; float:left}
.home_subbanner{ width:240px; margin-top:0px; float:left; font-size:0.8em; color:#666}
.home_superbanner{ width:480px; margin-top:0px; float:left; font-size:0.8em}
.hometable{ width:100%; font-size:0.9em; color:#999}
.home_table_button{ background-image:url(http://cdn.myntra.com/skin1/mkimages/home_table_button.gif); background-repeat:no-repeat; width:117px; height:24px; color:#fff; font-size:0.8em; font-weight:bold; text-align:center; letter-spacing:-0.05em; text-transform:lowercase}
.home_table_button A:Hover{ color:#f06}
.home_table_button A:Active{ color:#f06}
.home_table_button A:Link{ color:#fff; text-decoration:none}
.home_table_button A:Visited{ color:#fff; text-decoration:none}
#customize{ margin-left:10px; width:740px; background-color:#fff; height:auto; background-image:url(http://cdn.myntra.com/skin1/mkimages/customize_top.gif); background-repeat:no-repeat; background-position:left top; padding-top:1px}
#customize1{ margin-left:10px; width:740px; background-color:#fff; height:auto; background-image:url(http://cdn.myntra.com/skin1/mkimages/customize_top.gif); background-repeat:no-repeat; background-position:left top; margin-top:60px; padding-top:1px}
.customize_left{ float:left; width:400px; height:auto; background-image:url(http://cdn.myntra.com/skin1/mkimages/customize_left.gif); background-repeat:no-repeat; background-position:right top; padding-bottom:30px; background-color:#fff; border-bottom:1px solid #999; border-left:1px solid #999}
.customize_left img{ border:0px}
.customize_left .head{ font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999; height:25px}
.customize_left .links{ font-size:0.8em; width:400px}
.customize_left .foot{ height:15px; width:400px; border-bottom:1px dashed #e3e3e3}
#baseimage{ margin-top:30px}
#designimage{ margin-top:-310px; z-index:100; width:400px; text-align:center}
.preview_left{ float:left; width:302px; height:auto; background-image:url(http://cdn.myntra.com/skin1/mkimages/customize_left.gif); background-repeat:no-repeat; background-position:right top; padding-bottom:30px; background-color:#fff; border-bottom:1px solid #999; border-left:1px solid #999}
.preview_left img{ border:0px}
.preview_left .head{ font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999; height:25px}
.preview_left .links{ font-size:0.8em; width:300px}
.preview_left .foot{ height:15px; width:300px; border-bottom:1px dashed #e3e3e3}
#previewdesignimage{ margin-top:-310px; z-index:100}
#customize .customize_wrapper{ width:740px; height:auto; border-left:0px solid #999; border-right:0px solid #999; border-top:0px solid #999; border-bottom:0px solid #999; background-color:#fff}
.customize_right{ width:338px; float:left; background-image:url(http://cdn.myntra.com/skin1/mkimages/customize_right.gif); background-repeat:repeat-x; background-color:#f8f8f8; height:auto}
.customize_right input.submit{ background-color:#cb0029; color:#fff; font-weight:bold}
.customize_right .links{ font-size:0.8em; color:#666; margin-bottom:5px}
.customize_right .legend{ float:left; width:100px; margin-right:30px}
.customize_right .field{ float:left; width:200px}
.imagelegend{ float:left; width:80px; margin-right:10px}
.imagefield{ float:left; width:240px}
.customize_right .field textarea{ border:1px solid #999; height:60px; width:250px}
.customize_right .links .license{ border:1px solid #999; height:160px; width:420px}
.customize_right .links .usertext{ border:1px solid #999; height:60px; width:180px}
.customize_right .links img{ border:0px}
.customize_right .head{ font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999; width:330px; height:25px}
.customize_right .foot{ width:100%; height:15px; border-bottom:1px dashed #e3e3e3}
.customize_right .super{ font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#666; width:334px; height:auto}
.preview_right{ width:436px; float:left; background-image:url(http://cdn.myntra.com/skin1/mkimages/customize_right.gif); background-repeat:repeat-x; background-color:#f8f8f8; height:auto}
.preview_right input.submit{ background-color:#cb0029; color:#fff; font-weight:bold}
.preview_right .links{ font-size:0.8em; color:#666; margin-bottom:5px}
.preview_right .legend{ float:left; width:100px; margin-right:30px}
.preview_right .field{ float:left; width:200px}
.imagelegend{ float:left; width:80px; margin-right:10px}
.imagefield{ float:left; width:240px}
.preview_right .field textarea{ border:1px solid #999; height:60px; width:250px}
.preview_right .links .license{ border:1px solid #999; height:160px; width:420px}
.preview_right .links .usertext{ border:1px solid #999; height:60px; width:180px}
.preview_right .links img{ border:0px}
.preview_right .head{ font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999; width:400px; height:25px}
.preview_right .foot{ width:100%; height:15px; border-bottom:1px dashed #e3e3e3}
.preview_right .super{ font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#666; width:400px; height:auto}
.custp{ width:100px}
.colorname{ font-size:1.2em; font-weight:bold}
.imageadjust{ border:0px; width:200px; font-size:0.8em}
.imageadjust img{ border:0px}
.imageadjust .left{ text-align:left}
.imageadjust .right{ text-align:right}
.imageadjust .center{ text-align:center}
.iconlist{ width:420px; padding-top:2px; margin-bottom:10px; font-size:0.8em}
.iconlist img{ margin-left:2px; border-top:1px solid #999; border-left:1px solid #999; border-bottom:2px solid #666; border-right:2px solid #666; margin-bottom:-4px}
.iconlist A:hover img{ border-top:2px solid #f06; border-left:2px solid #f06; border-bottom:1px solid #b22f64; border-right:1px solid #b22f64}
.cooltext{ width:175px; font-size:1.0em; float:right; color:#999; position:relative}
.cooltextlink{ width:115px; font-size:1.0em; float:right; color:blue; cursor:pointer; position:relative}
.cooltext1{ width:355px; font-size:0.8em; float:left; margin-top:5px; margin-left:420px; color:#999; position:relative}
.cooltextlink1{ width:160px; float:right; font-size:1.1em; font-weight:bold; margin-top:-15px; background-image:url(http://cdn.myntra.com/skin1/mkimages/CREATE_COLOR.gif); background-repeat:no-repeat; background-position:-20px -10px; text-decoration:none; color:black; cursor:pointer; position:relative}
#largeview{ float:right}
#messagewide{ position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:900; color:#fff}
#messagewide a:link{ color:#000}
#messagewide a:hover{ color:#666}
#messagewide a:visited{ color:#000}
#messagewide a:active{ color:#666}
#messagewide .wrapper{ width:406px; margin-left:-103px; margin-top:-100px; position:absolute; left:50%; top:50%; font-size:0.8em; font-style:normal; color:#000; text-decoration:none}
#messagewide .wrapper .head{ background-image:url(http://cdn.myntra.com/skin1/mkimages/messagewide_head.gif); height:15px; width:100%; padding-top:5px; font-size:0.9em; text-align:right}
#messagewide .wrapper .body{ padding-left:10px; padding-right:10px; background-image:url(http://cdn.myntra.com/skin1/mkimages/messagewide_body.gif); background-repeat:repeat-y; width:100%}
#messagewide .wrapper .body img{ float:left; border:0px}
#messagewide .wrapper .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/messagewide_foot.gif); background-repeat:no-repeat; height:20px; width:406px; width:100%}
.steps{ color:#CB0029}
.optionselect{ border:2px solid black; margin:0px auto; padding:2px; width:30px; height:30px; -moz-background-clip:-moz-initial; -moz-background-origin:-moz-initial; -moz-background-inline-policy:-moz-initial}
.optionnotselect{ border:1px solid rgb( 221,221,221 ); margin:0px auto; padding:2px; width:30px; height:30px; -moz-background-clip:-moz-initial; -moz-background-origin:-moz-initial; -moz-background-inline-policy:-moz-initial}
.preview_left_detail{ float:left; width:400px; height:auto; background-image:url(http://cdn.myntra.com/skin1/mkimages/customize_left.gif); background-repeat:no-repeat; background-position:right top; padding-bottom:30px; background-color:#fff; border-bottom:1px solid #999; border-left:1px solid #999}
.preview_left_detail img{ border:0px}
.preview_left_detail .head{ font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999; height:25px}
.preview_left_detail .links{ font-size:0.8em; width:400px}
.preview_left_detail .foot{ height:15px; width:400px; border-bottom:1px dashed #e3e3e3}
#previewdesignimage{ margin-top:-310px; z-index:100}
.preview_right_detail{ width:338px; float:left; background-image:url(http://cdn.myntra.com/skin1/mkimages/customize_right.gif);background-repeat:repeat-x;background-color:#f8f8f8;height:auto}
.preview_right_detail input.submit{background-color:#cb0029;color:#fff;font-weight:bold}
.preview_right_detail .links{font-size:0.8em;color:#666;margin-bottom:5px}
.preview_right_detail .legend{float:left;width:120px;margin-right:30px}
.preview_right_detail .field{float:left;width:150px}
.imagelegend{float:left;width:80px;margin-right:10px}
.imagefield{float:left;width:240px}
.preview_right_detail .field textarea{border:1px solid #999;height:60px;width:180px}
.preview_right_detail .links .usertext{border:1px solid #999;height:60px;width:180px}
.preview_right_detail .links img{border:0px}
.preview_right .head{font-size:1.3em;vertical-align:bottom;letter-spacing:-0.05em;color:#999;width:338px;height:25px}
.preview_right_detail .foot{width:100%;height:15px;border-bottom:1px dashed #e3e3e3}
.preview_right_detail .super{font-size:1.3em;vertical-align:bottom;letter-spacing:-0.05em;color:#666;width:338px;height:auto}
/* end */.addressbox{ float:left; width:580px; height:15px; text-align:left; vertical-align:middle; border:0px #ccc solid; font-size:0.9em; font-weight:100; color:#666; position:absolute}
.addressbox .addressplusimage{ float:left; width:13px; height:11px; vertical-align:middle; border:0px #ccc solid; margin-top:1px; text-align:left; background-image:url(http://cdn.myntra.com/skin1/images/plus.gif); background-repeat:no-repeat; background-position:top left; vertical-align:text-top}
.addressbox .addressminusimage{ float:left; width:13px; height:11px; vertical-align:middle; border:0px #ccc solid; margin-top:1px; text-align:left; background-image:url(http://cdn.myntra.com/skin1/images/minus.gif); background-repeat:no-repeat; background-position:top left; vertical-align:text-top}
.sectioncontainer{ width:580px}
.section{ width:285px; margin-top:10px}
.section .head{ width:285px; background-image:url(http://cdn.myntra.com/skin1/mkimages/285_pink.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#666}
.section .super{ width:285px; background-image:url(http://cdn.myntra.com/skin1/mkimages/285_pink.gif); background-repeat:no-repeat; height:40px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#FFF}
.section .subhead{ width:285px; background-image:url(http://cdn.myntra.com/skin1/mkimages/285_pink.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.section .subheadorange{ width:285px; background-image:url(http://cdn.myntra.com/skin1/mkimages/285_ornage.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.section .subheadgreen{ width:285px; background-image:url(http://cdn.myntra.com/skin1/mkimages/285_green.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.section .button{ background-image:url(http://cdn.myntra.com/skin1/mkimages/285_border.gif); background-repeat:repeat-y; padding-bottom:6px; padding-top:10px; padding-left:6px}
.section .links ul{ list-style-position:outside; list-style-image:none; list-style-type:none; color:#999; padding-left:5px; padding-right:5px}
.section .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/section_foot.gif); background-repeat:no-repeat; height:12px; width:285px}
.section .links{ width:285px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/285_border.gif); background-repeat:repeat-y; height:auto; overflow:hidden; padding-bottom:4px}
.section .text{ width:285px; padding-left:5px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/285_border.gif); background-repeat:repeat-y; height:auto; overflow:hidden; height:80px}
.section .bigtext{ width:285px; padding-left:5px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/285_border.gif); background-repeat:repeat-y; height:auto; overflow:hidden; height:334px}
.section .links .field{ float:left; width:400px}
.section .links .legend{ float:left; width:160px}
.section .links .field .pollbar{ background-color:#F06; border:1px #999 solid; height:12px; color:#FFF}
.catalogbox{ margin:5px}
.catalogbox .borderbox{ float:left; width:260px; height:155px; margin:10px; border:1px #666 solid}
.catalogbox .icon{ float:left; margin:10px; border:0px #000 solid}
.catalogtext{ float:center; margin-left:10px; margin-top:10px; font-size:1.2em; border:0px #000 solid}
.catdescription{ float:left; width:245px; height:25px; margin:0px; border:0px #000 solid; font-size:0.9em; color:#666}
.description{ float:left; width:350px; font-size:1.3em; padding-left:15px}
.moreimages{ float:left; width:200px; font-size:1.3em; padding-left:15px; margin-top:5px}
.subheadingtext{ font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999; float:left}
.formtable{ font-size:1.0em; color:#666; margin-left:15px}
.designercontainer{ width:740px}
.designersection{ width:360px; margin-top:10px}
.designersection .head{ width:360px; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_pink.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#666}
.designersection .super{ width:360px; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_pink.gif); background-repeat:no-repeat; height:40px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#FFF}
.designersection .subhead{ width:360px; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_pink.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.designersection .subheadorange{ width:360px; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_ornage.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.designersection .subheadgreen{ width:360px; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_green.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.designersection .button{ background-image:url(http://cdn.myntra.com/skin1/mkimages/360_border.gif); background-repeat:repeat-y; padding-bottom:6px; padding-top:10px; padding-left:6px}
.designersection .links ul{ list-style-position:outside; list-style-image:none; list-style-type:none; color:#999; padding-left:5px; padding-right:5px}
.designersection .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/designsection_foot.gif); background-repeat:no-repeat; height:12px; width:360px}
.designersection .links{ width:360px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_border.gif); background-repeat:repeat-y; height:auto; overflow:hidden; padding-bottom:4px}
.designersection .text{ width:360px; padding-left:5px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_border.gif); background-repeat:repeat-y; height:auto; overflow:hidden; height:108px; margin-top:0px}
.designersection .bigtext{ width:360px; padding-left:5px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_border.gif);background-repeat:repeat-y;height:auto;overflow:hidden;height:334px}
.designersection .links .field{float:left;width:400px}
.designersection .links .legend{float:left;width:160px}
.designersection .links .field .pollbar{background-color:#F06;border:1px #999 solid;height:12px;color:#FFF}
/* end */#selectionsmall{ position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:900}
#selectionsmall .wrappersmall{ width:473px; margin-left:-235px; margin-top:-200px; position:relative; left:50%; top:50%; font-size:0.8em; font-style:normal; color:#666; text-decoration:none}
#selectionsmall .wrappersmall .headsmall{ background-image:url(http://cdn.myntra.com/skin1/mkimages/selection_small_head.png); background-repeat:no-repeat; height:42px; width:100%; font-size:1.6em; vertical-align:bottom; letter-spacing:-0.05em; color:#727272; text-transform:lowercase; text-decoration:none; position:relative}
#selectionsmall .wrappersmall .headsmall img{ float:right; border:0px; margin-top:15px; margin-right:15px}
#selectionsmall .wrappersmall .headsmall span{ float:left; margin-left:22px; margin-top:20px}
#font_color_popup{ visibility:hidden}
#font_popup{ visibility:hidden}
#selectionsmall .wrappersmall .bodysmall{ background-image:url(http://cdn.myntra.com/skin1/mkimages/selection_small_body.png); background-repeat:repeat-y; width:100%; padding-left:10px; padding-right:10px}
#selectionsmall .wrappersmall .footsmall{ background-image:url(http://cdn.myntra.com/skin1/mkimages/selection_small_foot.png); background-repeat:no-repeat; height:28px; width:306px; width:100%}
.infocontainer{ width:760 px}
.infosection{ width:371px; margin-top:10px; padding-left:6px}
.infosection .head{ width:371px; background-image:url(http://cdn.myntra.com/skin1/mkimages/371_head.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#666}
.infosection .super{ width:371px; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_pink.gif); background-repeat:no-repeat; height:40px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#FFF}
.infosection .subhead{ width:371px; background-image:url(http://cdn.myntra.com/skin1/mkimages/371_head.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.infosection .subheadorange{ width:371px; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_ornage.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.infosection .subheadgreen{ width:371px; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_green.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.infosection .button{ background-image:url(http://cdn.myntra.com/skin1/mkimages/360_border.gif); background-repeat:repeat-y; padding-bottom:6px; padding-top:10px; padding-left:6px}
.infosection .links ul{ list-style-position:outside; list-style-image:none; list-style-type:none; color:#999; padding-left:5px; padding-right:5px}
.infosection .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/371_foot.gif); background-repeat:no-repeat; height:12px; width:371px}
.infosection .links{ width:371px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_border.gif); background-repeat:repeat-y; height:auto; overflow:hidden; padding-bottom:4px}
.infosection .text{ width:371px; padding-left:5px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_border.gif); background-repeat:repeat-y; height:auto; overflow:hidden; height:108px; margin-top:0px}
.infosection .bigtext{ width:371px; padding-left:5px; font-size:0.9em; color:#464646; background-image:url(http://cdn.myntra.com/skin1/mkimages/371_body.gif); background-repeat:repeat-y; height:auto; overflow:hidden}
.infosection .links .field{ float:left; width:400px}
.infosection .links .legend{ float:left; width:160px}
.infosection .links .field .pollbar{ background-color:#F06; border:1px #999 solid; height:12px; color:#FFF}
.fullcontainer{ width:748 px}
.fullsection{ width:748px; padding-left:6px; margin-top:10px}
.fullsection .head{ width:748px; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_pink.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#666}
.fullsection .super{ width:748px; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_pink.gif); background-repeat:no-repeat; height:40px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#FFF}
.fullsection .subhead{ width:748px; background-image:url(http://cdn.myntra.com/skin1/mkimages/748_head.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.fullsection .subheadorange{ width:748px; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_ornage.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.fullsection .subheadgreen{ width:748px; background-image:url(http://cdn.myntra.com/skin1/mkimages/360_green.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.fullsection .button{ background-image:url(http://cdn.myntra.com/skin1/mkimages/360_border.gif); background-repeat:repeat-y; padding-bottom:6px; padding-top:10px; padding-left:6px}
.fullsection .links ul{ list-style-position:outside; list-style-image:none; list-style-type:none; color:#999; padding-left:5px; padding-right:5px}
.fullsection .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/748_foot.gif); background-repeat:no-repeat; height:12px; width:748px}
.fullsection .links{ width:748px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/748_border.gif); background-repeat:repeat-y; height:auto; overflow:hidden; padding-bottom:4px}
.fullsection .text{ width:748px; padding-left:5px; font-size:0.9em; color:#464646; background-image:url(http://cdn.myntra.com/skin1/mkimages/748_body.gif); background-repeat:repeat-y; height:auto; overflow:hidden; height:auto; margin-top:0px}
.fullsection .bigtext{ width:748px; padding-left:5px; font-size:0.9em; color:#464646; background-image:url(http://cdn.myntra.com/skin1/mkimages/748_body.gif); background-repeat:repeat-y; overflow:hidden}
.fullsection .links .field{ float:left; width:400px}
.fullsection .links .legend{ float:left; width:160px}
.fullsection .links .field .pollbar{ background-color:#F06; border:1px #999 solid; height:12px; color:#FFF}
.suggestion_box{ width:740px; background-color:#f8f8f8; height:auto}
.suggestion_box input.submit{ background-color:#cb0029; color:#fff; font-weight:bold}
.suggestion_box .links{ font-size:0.8em; color:#666; margin-bottom:5px}
.suggestion_box .legend{ float:left; width:130px; margin-right:30px}
.suggestion_box .field{ float:left; width:200px}
#selectblock{ width:720px; height:22px; padding-left:10px; padding-right:10px; font-size:0.9em; color:#000}
.form .longsubhead{ width:740px; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_bigsubhead_green.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.form .bigfoot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_bigfoot.gif); background-repeat:no-repeat; height:12px; width:740px}
.form .biglinks{ width:740px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_sidemenu_longlink.gif); background-repeat:repeat-y; height:auto; overflow:hidden; padding-bottom:4px}
.form .longtext{ width:740px; padding-left:5px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_sidemenu_longlink.gif); background-repeat:repeat-y; height:auto; overflow:hidden}
.trhead{ background-color:#999; font-size:1.0em; color:#FFF; height:20px; font-weight:100}
.trbody{ background-color:#ececec; font-size:1.0em; color:#000; font-weight:100}
.href{ font-size:0.8em; color:#666}
.popuptrhead{ background-color:#369; font-size:1.2em; color:#FFF; height:20px; font-weight:100}
.popuptrbody{ background-color:#e8eefa; font-size:1.0em; color:#000; font-weight:100}
.popupsubmit{ background-color:#02679C; color:#fff; font-weight:bold; border:1px solid #D9E6F7}
#display .affiliate_center_column{ padding-left:10px; width:440px; float:left}
.affiliateform{ width:440px; margin-top:10px}
.affiliateform .subhead{ width:440px; background-image:url(http://cdn.myntra.com/skin1/mkimages/affiliate_form_head.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.affiliateform .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/affiliate_form_foot.gif); background-repeat:no-repeat; height:12px; width:440px}
.affiliateform .text{ width:440px; padding-left:5px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/affiliate_form_middle.gif); background-repeat:repeat-y; height:auto; overflow:hidden}
.affiliateform .links{ width:440px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/affiliate_form_middle.gif); background-repeat:repeat-y; height:auto; overflow:hidden; padding-bottom:4px}
.affiliateserialbanners{ margin:5px}
.affiliateserialbanners .listbox{ float:left; width:124px; height:170px; margin:5px}
.affiliateserialbanners .listbox .imagebox{ float:left; width:124px; height:119px; border:1px #E3E3E3 solid; text-align:center}
.affiliateserialbanners .listbox .imagebox img{ border:0px}
.affiliateserialbanners .listbox .textbox{ float:left; width:124px; text-align:left; vertical-align:top; height:30px; font-size:1.8em; letter-spacing:-0.05em;; text-transform:lowercase}
.affiliateserialbanners .listbox .textbox a:link{ text-decoration:none; color:#999}
.affiliateserialbanners .listbox .textbox a:visited{ text-decoration:none; color:#999}
.affiliateserialbanners .listbox .textbox a:hover{ text-decoration:none; color:#f06}
.affiliateserialbanners .listbox .textbox a:active{ text-decoration:none; color:#f06}
#display .affiliate_right_column{ padding:5px; width:290px; float:right}
.aff_customize_right{ float:right; width:290px; margin:0px}
.aff_photo_print{ float:left; width:720px; margin:0px}
.affiliatesideform_photoprint{ width:720px; margin-top:10px}
.affiliatesideform_photoprint .subhead{ width:720px; background-image:url(http://cdn.myntra.com/skin1/mkimages/affiliate_sidemenu_headbig.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.affiliatesideform_photoprint .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/affiliate_sidemenu_footbig.gif); background-repeat:no-repeat; height:12px; width:720px}
.affiliatesideform_photoprint .text{ width:720px; padding-left:5px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/affiliate_sidemenu_middlebig.gif); background-repeat:repeat-y; height:auto; overflow:hidden}
.affiliatesideform_photoprint .links{ width:720px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/affiliate_sidemenu_middlebig.gif); background-repeat:repeat-y; height:auto; overflow:hidden; padding-bottom:4px}
.affiliatesideform{ width:294px; margin-top:10px}
.affiliatesideform .subhead{ width:290px; background-image:url(http://cdn.myntra.com/skin1/mkimages/affiliate_sidemenu_head.gif); background-repeat:no-repeat; height:25px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.affiliatesideform .foot{ background-image:url(http://cdn.myntra.com/skin1/mkimages/affiliate_sidemenu_foot.gif); background-repeat:no-repeat; height:12px; width:290px}
.affiliatesideform .text{ width:290px; padding-left:5px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/affiliate_sidemenu_middle.gif); background-repeat:repeat-y; height:auto; overflow:hidden}
.affiliatesideform .links{ width:290px; font-size:0.8em; color:#666; background-image:url(http://cdn.myntra.com/skin1/mkimages/affiliate_sidemenu_middle.gif); background-repeat:repeat-y; height:auto; overflow:hidden; padding-bottom:4px}
.affiliatesidebanners{ margin:1px}
.affiliatesidebanners .listbox{ float:left; width:87px; height:108px; margin:1px}
.affiliatesidebanners .listbox .imagebox{ float:left; width:87px; height:87px; border:1px #E3E3E3 solid; text-align:center}
.affiliatesidebanners .listbox .imagebox img{ border:0px}
#lower_customize_area .links{ font-size:0.8em; color:#666}
#lower_customize_area .legend{ width:290px; font-size:0.9em}
#lower_customize_area .heading{ font-size:1.1em; color:#666; font-weight:bold}
.lower_customize_left{ background-color:#fff}
.lower_customize_right{ height:auto; margin-left:5px}
.form2{ width:580px; margin-top:10px}
.form2 .subhead{ width:580px; font-size:1.3em; vertical-align:bottom; letter-spacing:-0.05em; color:#999}
.form2 .text{ width:580px; padding-left:5px; font-size:0.8em; color:#666; height:auto; overflow:hidden}
#wrapper_860{ background-image:url(http://cdn.myntra.com/skin1/mkimages/wrapper_860.gif); background-repeat:repeat-y; padding-bottom:10px; width:860px}
#display .center_column_850{ float:left; padding-left:10px; width:850px}
.form_840{ margin-top:10px; width:840px}
.form_840 .longsubhead_840{ background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_bigsubhead_green_840.gif); background-repeat:no-repeat; color:#999; font-size:1.3em; height:25px; letter-spacing:-0.05em; vertical-align:bottom; width:840px}
.form_840 .longtext_840{ background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_sidemenu_longlink_840.gif); background-repeat:repeat-y; color:#666; font-size:0.8em; height:auto; overflow:hidden; padding-left:5px; width:840px}
.form_840 .bigfoot_840{ background-image:url(http://cdn.myntra.com/skin1/mkimages/forms_bigfoot_840.gif); background-repeat:no-repeat; height:12px; width:840px}
#footer_860{ background-image:url(http://cdn.myntra.com/skin1/mkimages/footer_860.gif); background-position:left top; background-repeat:no-repeat; font-size:0.7em; height:25px; padding-top:5px; width:860px}
#container_860{ height:auto; left:50%; margin-left:-430px; position:absolute; width:860px}
.extratd{ vertical-align:top}
.greydiv{ background-image:url(http://cdn.myntra.com/skin1/mkimages/background_gradient.jpg)}
#paymentgatway{ background-image:url(http://cdn.myntra.com/skin1/mkimages/payment_gateway_banner.gif); background-repeat:no-repeat; height:70px; width:744px}
.home_head_01{ background-image:url(http://cdn.myntra.com/skin1/mkimages/print-ibibo.gif); background-repeat:no-repeat; height:32px; width:240px}
.home_head_02{ background-image:url(http://cdn.myntra.com/skin1/mkimages/refer-and-earn.gif); background-repeat:no-repeat; height:32px; width:240px}
.createownproduct{ background-image:url(http://cdn.myntra.com/skin1/mkimages/create_owndesigns.gif); background-repeat:no-repeat; height:32px; width:240px}
.homeheadbanner{ float:left; width:537px; height:265px; background-image:url(http://cdn.myntra.com/skin1/mkimages/hompagebanner.jpg); background-repeat:no-repeat; border:1px solid #999}
.communityhead{ background-image:url(http://cdn.myntra.com/skin1/mkimages/monthly_design_contest.gif); background-repeat:no-repeat; height:32px; width:240px}
.producttypeimages{ background-image:url(http://cdn.myntra.com/skin1/mkimages/producttypes.gif); background-repeat:no-repeat; height:112px; width:236px}
#printbody{ font-family:Arial,Helvetica,sans-serif; font-size:14px; color:#333; margin:0px; padding:0px; overflow:auto; width:100%; height:auto}
.printbanner{ height:100px; width:760px; background-image:url(http://cdn.myntra.com/skin1/mkimages/logo_print.gif);background-repeat:no-repeat;background-position:right top;border-bottom:1px solid #999}
.logo{float:left;height:98px;font-size:3em; letter-spacing:-0.05em;color:#9c0}
.logomyntra{float:right}
.printbanner img{border-width:0px;border-style:none}
#printcontainer{position:absolute;left:50%;margin-left:-380px;width:760px;height:auto}
.printfooter{text-align:center;font-size:.8em;height:40px;width:760px}
.printcontent{width:760px;height:auto}
.printcontent img{border-width:0px}
.print-tableheader{font-weight:bold;padding-bottom:20px;padding-top:20px;font-size:.9em}
.main-comments{border-color:white;border-width:1px;border-style:solid;margin:1px;padding:4px;background-color:#ccc}
.affiliate-comment{border-color:white;border-width:1px;border-style:solid;margin:1px;color:white;padding:4px;background-color:#333}
.head-comments{border-color:white;border-width:1px;border-style:solid;margin:1px;padding:8px;color:#9c3}
.print-lister{font-size:0.8em;width:100%;padding:2px;border:1px solid #999;margin:5px;padding-bottom:15px}
.print-lister .align_left{padding:2px}
.print-lister .align_right{padding:2px}
.main-comment{}
.print-footer{text-align:center;font-size:.8em;height:40px;width:760px}
#unscroll{position:absolute;left:0px;top:0px;width:760px;height:auto}
b.rtop,b.rbottom{display:block;background:#FFF}
b.rtop b,b.rbottom b{display:block;height:1px;overflow:hidden;background:#8DB0D3}
b.r1{margin:0 5px}
b.r2{margin:0 3px}
b.r3{margin:0 2px}
b.rtop b.r4,b.rbottom b.r4{margin:0 1px;height:2px}
span .imagealt{position:absolute;left:-999em}
.browsedesignheading{color:#999;font-size:18px;letter-spacing:-0.05em;font-weight:normal;margin-left:4px}
.browsedesignsubheading{color:#999;font-size:18px;letter-spacing:-0.05em;font-weight:normal;margin-left:4px}
/*Organization CSS*/#orgselection{position:absolute;overflow:auto;left:0px;top:0px;width:100%;height:100%;z-index:900}
#orgselection .orgwrapper{width:740px;margin-left:-378px;margin-top:-220px;position:absolute;left:50%;top:50%;font-size:0.8em;font-style:normal;color:#666;text-decoration:none}
#orgselection .orgwrapper .orghead{background-image:url(http://cdn.myntra.com/skin1/mkimages/org_selection_big_head.gif);background-repeat:no-repeat;height:40px;width:100%;font-size:1.5em;vertical-align:bottom;letter-spacing:-0.05em;color:#999;text-transform:lowercase;text-decoration:none}
#orgselection .orgwrapper .orghead img{float:right;border:0px}
#font_color_popup{visibility:hidden}
#font_popup{visibility:hidden}
#orgselection .orgwrapper .orgbody{background-image:url(http://cdn.myntra.com/skin1/mkimages/org_selection_big_body.gif);background-repeat:repeat-y;width:100%;padding-left:10px;padding-right:10px}
#orgselection .orgwrapper .orgfoot{background-image:url(http://cdn.myntra.com/skin1/mkimages/org_selection_big_foot.gif);background-repeat:no-repeat;height:20px;width:306px;width:100%}
#orgselection_580{position:absolute;left:0px;top:0px;width:100%;height:100%;z-index:900}
#orgselection_580 .orgwrapper_580{width:580px;margin-left:-290px;margin-top:-180px;position:absolute;left:50%;top:50%;font-size:0.8em;font-style:normal;color:#666;text-decoration:none}
#orgselection_580 .orgwrapper_580 .orghead_580{background-image:url(http://cdn.myntra.com/skin1/mkimages/org_selection_580_head.gif);background-repeat:no-repeat;height:25px;width:100%;font-size:1.6em;vertical-align:bottom;letter-spacing:-0.05em;color:#FFF;text-transform:lowercase;text-decoration:none}
#orgselection_580 .orgwrapper_580 .orghead_580 img{float:right;border:0px}
#font_color_popup_580{visibility:hidden}
#font_popup{visibility:hidden}
#orgselection_580 .orgwrapper_580 .orgbody_580{background-image:url(http://cdn.myntra.com/skin1/mkimages/org_selection_580_body.gif);background-repeat:repeat-y;width:100%;padding-left:10px;padding-right:10px}
#orgselection_580 .orgwrapper_580 .orgfoot_580{background-image:url(http://cdn.myntra.com/skin1/mkimages/org_selection_580_bottom.gif);background-repeat:no-repeat;height:12px;width:306px;width:100%}
.popup_login_registration_top{background-image:url(http://cdn.myntra.com/skin1/mkimages/popup_login_top.jpg);background-repeat:no-repeat;height:22px;display:inline;float:left;width:266px;overflow:visible !important;overflow:hidden;padding:3px;color:#FFF;font:1.2em VERDANA;font-weight:bold}
.popup_login_registration_mid{background-image:url(http://cdn.myntra.com/skin1/mkimages/popup_login_mid.jpg);background-repeat:repeat-y;/*height:10px;*/display:inline;float:left;width:266px;overflow:visible !important;overflow:hidden;padding:3px;color:#666;font:1.0em VERDANA}
.popup_login_registration_foot{background-image:url(http://cdn.myntra.com/skin1/mkimages/popup_login_foot.jpg);background-repeat:no-repeat;height:8px;display:inline;float:left;width:266px;overflow:visible !important;overflow:hidden;padding:3px}
.popup_login_registration_button{float:right;background:transparent url('http://cdn.myntra.com/skin1/mkimages/blue_button.jpg') no-repeat scroll 0px;color:#FFF;font:1.1em "Trebuchet MS",Verdana,Arial,sans-serif;font-weight:bold;border:0px;height:28px;width:100px;text-align:center}
.organizationbanner{height:130px;_height:85px;width:760px;background-repeat:no-repeat}
#orgselection_335{position:absolute;left:0px;top:0px;width:100%;height:100%;z-index:900}
#orgselection_335 .orgwrapper_335{width:335px;margin-left:-160px;margin-top:-120px;position:absolute;left:50%;top:50%;font-size:0.8em;font-style:normal;color:#666;text-decoration:none}
#orgselection_335 .orgwrapper_335 .orghead_335{background-image:url(http://cdn.myntra.com/skin1/mkimages/org_selection_size_option_h.gif);background-repeat:no-repeat;height:30px;width:100%;font-size:1.2em;vertical-align:bottom;letter-spacing:-0.05em;color:#ff4800;text-transform:lowercase;text-decoration:none}
#orgselection_335 .orgwrapper_335 .orghead_335 img{float:right;border:0px}
#font_color_popup_335{visibility:hidden}
#font_popup{visibility:hidden}
#orgselection_335 .orgwrapper_335 .orgbody_335{background-image:url(http://cdn.myntra.com/skin1/mkimages/org_selection_size_option_m.gif);background-repeat:repeat-y;width:100%;padding-left:10px;padding-right:10px}
#orgselection_335 .orgwrapper_335 .orgfoot_335{background-image:url(http://cdn.myntra.com/skin1/mkimages/org_selection_size_option_b.gif);background-repeat:no-repeat;height:12px;width:306px;width:100%}
.caption{color: #666666; font-size: 10px; }
#verticalImageDiv{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
