{* $Id: popup_bottom.tpl,v 1.3 2006/01/16 13:39:30 max Exp $ *}
<div class="BottomPopup"><a href="javascript: void(0);" onclick="javascript: window.close();">{$lng.lbl_close_window}</a>&nbsp;&nbsp;</div>
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<td class="HeadThinLine"><img src="{$cdn_base}/skin1/images/spacer.gif" class="Spc" alt="" /></td>
</tr>
<tr>
	<td height="10" class="Bottom"><img src="{$cdn_base}/skin1/images/spacer.gif" height="10" width="1" alt="" /></td>
</tr>
</table>
