<script type="text/javascript ">
var storeId='{$storeId}';
</script>
{literal}
<script type="text/javascript">

	function validatePrice()
	{
		var priceto =  document.getElementById("priceto_ie").value;
		var pricefrom = document.getElementById("pricefrom_ie").value;
		if( isNaN(priceto) || isNaN(pricefrom) )
			return false;
		else
			return true;
	}
	function validateCatalogID()
	{
		var cid = document.getElementById("catalogid_ie").value;
		var len = cid.length;
		var cid_actual = cid.substring(0,len-1);
		if( isNaN(cid_actual) )
		{	
			document.getElementById("err_cid").innerHTML = "invalid catalogid";
			return false;	
		}
		else
			return true;
	}
	function updateWalkin()
	{
	    if(storeId == 0)return;
        $.get('updateWalkinRPOS.php?storeid='+storeId, function(data) {
          var data_t=data.trim().split(",");
          $("#reg_time").html(data_t[1]);
          $("#walk_reg_count").html(data_t[0]);
          $("#total_walkin_count").html(data_t[0]);
          $('#update_walkin_popup').show();
        });


	}
</script>

{/literal}	



			<div id="possearch">
                                        <div class="subhead" style="padding-left:5px">
                                        </div>
                                        <div class="links" style="height:90px">
                                                <form action="mkstartshopping.php" method="post">
                                                        <table width="100%" style="font-size:12;padding-left:10px;">
                                                                <tr>
                                                                        <td width="35%" align='left' valign="top">
                                                                                <table style="font-size:12;">
										<tr>
											<td colspan="2" style="font-size:16;color:#999999;"> <strong>know catalog ID ?</strong> </td>
										</tr>
                                                                                <tr>
                                                                                        <td width="50%"><strong>enter catalog ID</strong></td>
                                                                                        <td><input type="text" value="{$catalogid}" name="catalogid" size="12" id="catalogid_ie"/> <input type="submit" value="go" name="searchsubmit" onclick="return validateCatalogID();"/> </td>
                                                                                </tr>
                                                                            	<tr> <td> &nbsp; </td> <td> <div style="font-size:11; color:RED" id="err_cid">{$catalogidinvalid}</div> </td> </tr>
                                                                                </table>
									</td>
                                                     
                                                                        <td width="50%" align='left'>
                                                                                <table style="font-size:12;">
										<tr>
											<td colspan='2' style="font-size:16;color:#999999;"> <strong>search designs by</strong> </td>
										</tr>
                                                                                <tr>
                                                                                        <td width="50%"><strong>product name</strong>  </td>
                                                                                        <td>
												<select  name="productname" style="font-size:9;width:135px;"> 
												<option value=""> All </option>
												{section name=ptype loop=$productTypesInPOS} 
												{if $productTypesInPOS[ptype][4] == 'P'}
													{if $productname eq $productTypesInPOS[ptype][0]}
														<option value="{$productTypesInPOS[ptype][0]}" selected>{$productTypesInPOS[ptype][1]}	
													{else}
														<option value="{$productTypesInPOS[ptype][0]}">{$productTypesInPOS[ptype][1]}
													{/if}

												{/if}
												{/section}
												</select>
											</td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td width="50%"><strong>price range</strong>  </td>
                                                                                        <td>from <input type="text" value="{$pricefrom}" size="4" name="pricefrom" id="pricefrom_ie"/> to <input type="text" value="{$priceto}" size="5" name="priceto" id="priceto_ie"/></td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td width="50%"> <strong>keywords</strong></td>
                                                                                	<td><input type="keywords" value="{$keywords}" name="keywords"/> <input type="submit" value="search" name="searchsubmit" onclick="return validatePrice();"/></td>
                                                                                </tr>
                                                                                </table>
                                                                        </td>
                                                                        <td>
                                                                            <div style ="float:left;padding:4px;background:#fff none;border:1px solid #333;">
                                                                               <span id="total_walkin_count"> {$walkin_count}</span>
                                                                            </div>
                                                                            <div style ="float:left;margin-left:10px">
                                                                                <input type="button" style="background-color:#FF6600;border:1px solid #333333;color:#FFFFFF;cursor:pointer;font-weight:bold;"  value="Add Walk-In" onclick="updateWalkin()"/>
                                                                            </div>
                                                                        </td>
								</tr>
                                                        </table>
                                                </form>
                                        </div>
                                        <div class="foot"></div>
                                        <div class="clearall"></div>
                                </div>
