
	
          <div>
            <table cellpadding="2"  class="printtable">
		     <tr  class="font_bold">
			<th class="align_left" colspan="8">Change Requests</th>
		      </tr>
		      <tr style="background-color:F79646" class="font_bold">
			<td class="align_left" colspan="1">CR Date</td>
			<td class="align_left" colspan="1">Entered By</td>
			<td class="align_left" colspan="1">Details</td>
		      </tr>
		  {foreach from=$comments item=comment}
				<tr style="background-color:FCDDCF">					
					<td style="font-size:1.0em;"><b>{$comment.date}</b></td>
					<td style="font-size:1.0em;"><b>{$comment.name}</b></td>
					<td style="font-size:1.0em;">{$comment.desc_part}</td>
				</tr>				
                {/foreach}  
		 
		
		
		
		
            </table>
          </div>