<div class="preview">

         <div style="width:450px;height:450px;border:1px solid #999;" id="preview_image_div">
                {include file="product_description.tpl" }
                <img src="{$cdn_base}/skin1/images/spacer.gif" alt="loading product preview" width="390" height="390" id="finalimage" style="margin:30px">

            </div>

        <div style="" id="ajax_load"><img src="{$cdn_base}/skin1/mkimages/ajax-loader.gif" alt="ajax loader">&nbsp;</div>
     
    <div style="height:110px;width:450px;padding-top:20px;overflow-y:auto" id="displayareas">
        {include file="product_style_areas.tpl" }
    </div>
    <input type="hidden" id="styledescription" name="description" value="({$productTypeDetails|escape}) {$productStyleDetails[0][3]|escape}" >
</div>
