{if $sellingproducts != 'empty'}
{assign var=index value=0}
<div class="text"  >
            <div class="seriallist" >
             
          {section name=row loop=$recentTshirts}

		<div class="listbox"  style='width:174px;margin:4px;height:280px;_height:300px;margin-top:15px'>
		
		<a  style='text-decoration:none;cursor:pointer;'id='{$recentTshirts[row][0]}' name='{$recentTshirts[row][0]}' href="{$http_location}/{$recentTshirts[row].product|replace:" ":"-"}/T-Shirt/FC/PD/{$recentTshirts[row].productid}" >	
		<div class="imagebox" onmouseout="javascript:writetxt(0);" onmouseover="javascript:writetxt('This t-shirt design is available in various styles such as Raglan, Ringer, and so on. Click on the image to check out the different styles and sizes.');" style="border:0px;height:204px">
			
		<div style='float:left;background-image:url({$cdn_base}/skin1/mkimages/prdtyp2.jpg);background-repeat:no-repeat;width:174px;height:204px;'>
			
				<div style="background-image: url({$recentTshirts[row].image_portal_t});
					background-position: center; background-repeat: no-repeat;width:100px;height:100px;margin-top:40px; _margin-top:45px;margin-left:38px;_margin-left:8px;" >
					&nbsp;
				</div>
				
		</div>
		
		</div>
	   </a>

		<div class="textbox" style='width:120px;padding-left:40px;' >
          <a href="?img={$recentTshirts[row].popupimage|substr:21:70}" class="thickbox" onmouseover="writetxt('see large image')" onmouseout="writetxt(0)">
          <div class="lensebox" style='margin-right:25px;_margin-right:2px;'></div></a>
          
	      <strong><a href="{$http_location}/{$recentTshirts[row].product|replace:" ":"-"}/T-Shirt/FC/PD/{$recentTshirts[row].productid}"
          onmouseover="writetxt('{$recentTshirts[row].product|escape:"quotes"}')" onmouseout="writetxt(0)">{$recentTshirts[row].product|truncate:22:"...":true}</a></strong>
                 
		  <strong>Price:</strong>&nbsp;Rs.{$recentTshirts[row].price}
		 <a style="text-decoration:none" href="{$http_location}/{$recentTshirts[row].product|replace:" ":"-"}/T-Shirt/FC/PD/{$recentTshirts[row].productid}" >
			<input class="submit" type="button" value="buy now" style="font-size: 10px;"/>		
			</a>
                </div>
		</div>

        {/section}
	{*assign var=index value=$index+4*}




<div class="clearall"></div>
            </div>
          </div>

	 

{else}
	<div class="links">
	<p><strong>There are no products in the system.</strong></p>
	</div>

{/if}






