{* $Id: mykritihome.tpl,v 1.88.2.3 2006/07/19 10:19:35 max Exp $ *}
{config_load file="$skin_config"}
<html>
{include file="pagetracker.tpl" }
<script type="text/javascript" src="{$SkinDir}/divpop_js.js"></script>
<script type="text/javascript" src="{$SkinDir}/AnchorPosition.js"></script>
<script type="text/javascript" src="{$SkinDir}/PopupWindow.js"></script>
<script type="text/javascript" src="{$SkinDir}/myimage.js"></script>
<script type="text/javascript" src="{$SkinDir}/js_script/email_validate.js"></script>

<script type="text/javascript" src="{$SkinDir}/js_script/ajaxObject.js"></script>
<link rel="stylesheet" href="{$SkinDir}/modules/organization/css/orgaStyles.css" />
<link rel="stylesheet" href="{$SkinDir}/css/tooltip.css" />
<script type="text/javascript" src="{$SkinDir}/js_script/alttxt.js"></script>
<script type="text/javascript" src="{$SkinDir}/js_script/org_user_js.js"></script>
{literal}
<!-- Google Code for purchase Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
var google_conversion_id = 1068346998;
var google_conversion_language = "en_GB";
var google_conversion_format = "1";
var google_conversion_color = "FFFFFF";
if (1) { var google_conversion_value = 1; }
var google_conversion_label = "purchase";
//-->
</script>
<style type="text/css">
  iframe {
   height: 0px;
  }
</style>

<script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
	<img height=1 width=1 border=0 src="http://www.googleadservices.com/pagead/conversion/1068346998/imp.gif?value=1&label=purchase&script=0">
</noscript>
<script language='javascript'>
function postRequestonAffiliate(psript,params){
	var req = null;
	if(window.XMLHttpRequest){
		req = new XMLHttpRequest();
	}else if (window.ActiveXObject){
		req  = new ActiveXObject("Microsoft.XMLHTTP");
	}
	var url = psript
	req.onreadystatechange = function(){
	if (req.readyState == 4){
		var resp =  req.responseText	;
 	}
 };
req.open('POST', url, true);
req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
req.send("orderid="+params);
}
function submitOrder(){
	document.order.notes.value =document.getElementById("usercomment").value;
	document.order.submit();
}
function popUpWindow(URL){
	window.open(URL,"Invoice", "menubar=1,resizable=1,toolbar=1,width=800,height=500");
	//window.open(URL);
}
/********** code to send the coupons to friend *************/
function sendCouponToFriends(mode,login){
	var req = null; var errorflag = 0; var emailList = [];
	var strEmailList ="reqType="+mode+"&";
	for(var i=1; i <= 5; i++){
		var txtBoxId = "frdemail"+i;
		var frdNameBoxId  =  "frdname"+i;
		var emails = document.getElementById(txtBoxId).value;
		var frdNames = document.getElementById(frdNameBoxId).value;
		if(emails != '' && frdNames != ""){
			var emailArray = emails.split(",");
			var frdNamesArray = frdNames.split(",");
			for(var j=0; j < 1 ; j++){
				if(emailArray[j] != ""){
					if(!echeck(emailArray[j])){
						document.getElementById(txtBoxId).focus();
						return false;
					}
					else if(login == emailArray[j]){
						alert("You cannot send coupon to yourself. Please remove your email address from the list"); return false;
					}
				}
			}
			strEmailList += txtBoxId+"="+emailArray[0]+"&"+frdNameBoxId+"="+frdNamesArray[0]+"&" ;
		}
		else{
			errorflag = errorflag + 1;
		}
	}
	if(errorflag == 5){
		alert("Please enter your friend name(s) and EmailId(s).")
		return false;
	}
	req = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");
	var url = "sendAndInviteFriends.php"
	req.onreadystatechange = function(){
		if (req.readyState == 4){
			var resp = (req.responseText).split("||");
			if(resp[0] == "SUCCESS"){
			  for(var i=1; i <= 5; i++){
				document.getElementById("frdname"+i).value = "";
				document.getElementById("frdemail"+i).disabled = true;
			  }
			  alert(resp[1]);
			  document.getElementById('sendCToFrd').style.display ="none";
			}else{
			alert(resp[1]);
		   }
		}
	};
	req.open('POST', url, true);
	req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
	req.send(encodeURI(strEmailList));

}
</script>
{/literal}
{foreach key=key item=item from=$userinfo}
    {if $key eq 'b_firstname'}
     {assign var='firstname' value=$item}
    {/if}
{/foreach}
<script language='JavaScript' type='text/javascript'>
       var total_amount = '{$amountafterdiscount}';
       var currency_code = 'INR';
       var user_name = '{$firstname}';
       var email_address = '{$email}';
    </script>

   <script language='JavaScript' type='text/javascript'>
        var conversion_id= '253';
        if (window.user_name) {$ldim}
        var conversion_username=user_name;
        {$rdim}
        if (window.total_amount) {$ldim}
        var conversion_volume=total_amount;
        {$rdim}
        if (window.currency_code) {$ldim}
        var conversion_currency=currency_code;
        {$rdim}
    </script>
<body  id="body"   >
<div id="popup"></div>
<div id="scroll_wrapper">
<div id="container">
              {include file="mykrititop.tpl" }

<div id="wrapper" >
	<!--breadcrumb-->
	<!--{if $affiliateId neq '' && $themeid eq 'COBRANDED_UI'}
		&nbsp;
	{elseif $loadHanumantpl eq 'Y'}
		&nbsp;  
	{else}
		<div id="breadcrumb">
			<div class="breadcrumb_nav">
				<div class="breadcrumb_text">				
					{section name=bc loop=$breadCrumb}
					{if !$smarty.section.bc.last}
					{if $breadCrumb[bc].title ne ''}
					<div style="float:left;">
					<a href={$breadCrumb[bc].reference}>
					{$breadCrumb[bc].title}
					</a>&nbsp;&gt;&nbsp;
					</div>
					{/if}
					{else}
					{$breadCrumb[bc].title}
					{/if}
					{/section}				
				</div>			
			</div>
		</div>
	{/if}-->
	<div class="clearall"></div>
	<!--breadcrumb-->
	<div id="display">
		<!-- start left panel -->
		{if $affiliateleftpanel != ''}
		<div class="menu_column">
			{include file="$affiliateleftpanel" }
		</div>	
		{/if}
		<!-- end -->
	<form name='order' method='POST' action='mkorderBook.php'>
	<input type='hidden' name="option" value="{$option}">
	<input type='hidden' name="optionid" value={$optionid}>
	<input type='hidden' name="notes">
	<input type="hidden" name="ajaxStatus" id= "ajaxStatus" value="0">
	 <div class="center_column">
	    <div class="form">
	    {if $flagcomplete != "underprocess"}
	    	   {if $orderstatus == "Y"}
	    	   		<!--code of mkorderconfirmation.tpl-->
	    	   		  <div class="super"> 
            <p>invoice</p>
          </div>
          <div class="head"> 
            <p>confirmation</p>
          </div>
          {if $affiliateId}  
			{if $affiliateId == '95'}
	     			<div class="links" ><p align="right"><a href='http://indyarocks.com/photos/photos_print.php'><b><span style="font-size:1.2em">Click here to go back to {$affiliatename}</span></b></a></p></div>
			{elseif  $affiliateId eq '379'}
				<div class="links" ><p align="right"><a href='http://www.bollywoodhungama.com/ghajini-statue.htm'><b><span style="font-size:1.2em">Click here to go back to {$affiliatename}</span></b></a></p></div>
			{elseif  $affiliateId eq '446'}
				<div class="links" ><p align="right"><a href='{$http_location}/reebok-fan-gear'><b><span style="font-size:1.2em">Back to Reebok Fan Gear</span></b></a></p></div>
	     	{else}
				<div class="links" ><p align="right"><a href='{$referer_page}'><b><span style="font-size:1.2em">Back to Reebok IPL Store</span></b></a></p></div>

			{/if}
	     {/if}
          <div class="links"> 
            <p>Congratulations! Your order has been placed successfully.<br/>
				{if $paybyoption =="Q"}
			  	<font color='#ff0000'><b>{$ordertime}</b></font>
     		  	{/if}
              	<br/><br/>
			  

	      {if $paybyoption=="PD"}
	      Thank you for using our store. 
	      <span style="color:#FF0033;font-weight:bold;">
	      Please make the check payable to "Myntra Designs Pvt. Ltd." and mail at the following address along with a copy of invoice.
	      Please  mention "Order number {$orderid}" at the back of the check.</span>
<br/><br/>
		     <b>Myntra Customer Service<br/>
	     
		      Myntra Designs Pvt. Ltd.<br/>	
		      #1546/47, 19th Main<br/>
		      Sector I, HSR Layout<br/>
		      Bangalore, 560102<br/>
		      {if $customerSupportCall}Phone: {$customerSupportCall}{/if}<br/>
	      </b>
	      <br/>
	      Once we recieve the check we will start processing your order according to the delivery details and you will be notified by mail.
	      {if $confirm_message ne ''}
		       	 <br/><br/>{$confirm_message}
		  {elseif $appConfirmMsg ne ''}
		         <br/><br/>{$appConfirmMsg}       	 
          {/if}
      </p>
	      {elseif $paybyoption=="CD"}
		<span style="color:#FF0033;font-weight:bold;">
	      You have opted to make the payment by Cash-on-delivery method. One of our customer service representatives will call you up shortly to confirm your order. After receiving your confirmation on phone, we will process and ship your order. You will be required to make the cash payment on delivery.
</span>
<br/><br/>
	      <b>

	      {else}
	         <!-- confirmation message for affiliates -->
	      	 {if $confirm_message ne ''}
		       	 {$confirm_message}
		     {elseif $appConfirmMsg ne ''}
		         {$appConfirmMsg}  	 
	      	 {else}
	      	  <!-- myntra default confirmation -->
				Thank you for using our store. An order notification has been sent 
				to your e-mail address. Your order will be processed according to 
				the delivery details
	         {/if}
	      {/if}
	     

              
	      </P>
          </div>
          <div class="links"> 
            <p align="right"> 
              <input class="submit" type="button" name="submitButton" value="view/print invoice" border="0"  onClick="popUpWindow('mk_final_invoice.php?orderid={$orderid}&t=u&invoice=reebok-invoice');">
            </p>
          </div>
          <div class="foot"></div>

          <br/>

	  	

				    {*include file="mkorderconfirmation.tpl" *}
					{if $affiliateId neq '95'}
						{include file="mkfriendemailfrm.tpl"}
					{/if}
	
					{include file="mkorder.tpl" }
			
					<div class="subhead"></div>
					  <div> 
					    <table cellpadding="2" class="table">
					      <tr> 
						<td class="align_left"> 
							<h3>Billing Address</h3>   
						</td>
						<td class="align_left"> 
							<h3>shipping Address</h3>
						</td>
					      </tr>
					      <tr> 
						<td> 
							<p>{include file="mkbillingaddress.tpl" }</P>
						</td>
						<td>
							<p>{include file="mkshippingaddress.tpl" }</p>
						</td>
					      </tr>
					    </table>
					   </div>
				
					<div class="foot"></div>
		       
					 <br>
					{include file="reebok_productsinvoice.tpl" }
					{assign var="headerText" value="Send coupons to your friend's"}
				{else}
	          		 <div class="subhead"></div>
			          <div> 
			            <table cellpadding="2" class="table">
			              <tr> 
			                <td align="center"> 
			                 <h4>{$message}</h4>
			                </td>
			              </tr>
			            </table>
			          </div>
			          <div class="foot"></div>
	         		 <br>
	          	{/if}	
            {else}
          		<div class="subhead"></div>
          		<div> 
	            <table cellpadding="2" class="table">
	              <tr> 
	                <td align="center"> 
	                 <h4>Your order already booked. Your payment has been processed. </h4>
	                </td>
	              </tr>
	            </table>
          		</div>
          		<div class="foot"></div>
          		<br>
         	 {/if}
			</div>				
		 </div> 
		 </form>
		 
	 </div>
 <div class="clearall"></div>

</div>
	{include file="footer.tpl" }
	</div>
	</div>


<div id="navtxt" class="navtext" style="position:absolute; top:-100px; left:0px; visibility:hidden"></div>
</body>
<!--google analytics-->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
try {ldelim}
	var pageTracker = _gat._getTracker("UA-1752831-1");
	pageTracker._trackPageview();
	pageTracker._addTrans(
	"{$orderid}",                                     // Order ID    
	"{$userinfo.b_firstname} {$userinfo.b_lastname}", //cust name 
	"{$grandTotal|string_format:'%.2f'}",			  // Total
    "{$vat}",                                     	  // Tax    
    "{$shippingRate}",                                // Shipping    
    "{$userinfo.s_city}",                             // City
    "{$userinfo.s_state}",                            // State    
    "{$userinfo.s_country}"                              // Country  
    );
        
	{foreach name=outer k=key item=product from=$productsInCart}
		{foreach key=key item=item from=$product}
			{if $key eq 'productId'}
			{assign var='productId' value=$item}
			{/if}
			
			{if $key eq 'productStyleName'}
			{assign var='productStyleName' value=$item}
			{/if}
			
			{if $key eq 'quantity'}
			{assign var='quantity' value=$item}
			{/if}
			
			{if $key eq 'productTypeLabel'}
			{assign var='productTypeLabel' value=$item}
			{/if}
			
			{if $key eq 'totalPrice'}
			{assign var='totalPrice' value=$item}
			{/if}
		{/foreach}
	
		pageTracker._addItem(    
	    "{$orderid}",			// Order ID
	    "{$productId}",         //pid
	    "{$productStyleName}",  //style     
	    "{$productTypeLabel}",  //type
	    "{$totalPrice}",        //Price(qty*productprice)
	    "{$quantity}"           // Quantity  
	    );
    {/foreach}
    pageTracker._trackTrans();
{rdelim} catch(err) {ldelim}{rdelim}
</script>
<!--google analytics-->
</html>
