<div id="abuse_popup">
  <div id="overlay"></div>
  <div id="error" style="position:relative; left:0px; top:60px;">
    <div class="wrapper">
      <div class="head"><span style="cursor:pointer;" onclick="document.getElementById('abuse_popup').style.display='none';document.getElementById('abuse_popup').style.visibility='hidden';">Click to close</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="body">
        {$message}
      </div>
      <div class="foot"></div>
    </div>
  </div>
</div>
