<table cellpadding="3" cellspacing="1" width="100%">
	<tr style="background-color: #d0ddff">
		<td style="font-size: 14px; color: #000077"><b>Reports</b></td>
	</tr>
	<tr>
		<td>
		<table width=40%>
			{foreach from=$report_list item=report}
			<tr
				style="background-color: #eeeddd; padding: 5px; margin-bottom: 2px;">
				<td style="font-size: 12px;">{$report.name}</td>
				<td style="font-size: 12px; width: 50px;"><a href="#"
					onClick="javascript:window.open('{$report.link}','null', 'menubar=0,resizable=1,toolbar=0,width=800,height=550')">Run</a>
				</td>
			</tr>
			{/foreach}
		</table>
		</td>
	</tr>
</table>



