/* $id: skin1_c.css,v 1.13.2.3 2006/05/18 13:26:26 max Exp $ */
/*
	General styles
*/
BODY,DIV,TH,TD,P,TT {
	FONT-FAMILY: Tahoma, Arial, Verdana, Helvetica, Sans-serif;
	COLOR: #6D7074;
	FONT-SIZE: 11px;
}
A:link {
	COLOR: #3D507C;
	TEXT-DECORATION: none;
}
A:visited {
	COLOR: #3D507C;
	TEXT-DECORATION: none;
}
A:hover {
	COLOR: #64656B;
	TEXT-DECORATION: underline;
}
A:active  {
	COLOR: #3D507C;
	TEXT-DECORATION: none;
}
H1 {
	FONT-SIZE: 15px;
}
H2 {
	FONT-SIZE: 13px;
}
H3 {
	COLOR: #33569B;
	FONT-SIZE: 12px;
}
HR {
	COLOR: #ADAEB1;
	HEIGHT: 1px;
}
FORM {
	MARGIN: 0px;
}
TABLE,IMG {
	BORDER: 0px;
}

/*
	Content enviroment styles
*/
TABLE.Container {
	HEIGHT: 100%;
}
TD.Container {
	VERTICAL-ALIGN: top;
}

/*
	Header styles
*/
.HeadLogo {
	PADDING-LEFT: 27px;
	TEXT-ALIGN: left;
}
.HeadRightBox {
	VERTICAL-ALIGN: top;
	TEXT-ALIGN: right;
}
.HeadText {
	FONT-SIZE: 11px;
	COLOR: #4E6281;
	FONT-FAMILY: Arial;
}
.HeadLine {
	BACKGROUND-COLOR: #D6D7D9;
}
.HeadThinLine {
	BACKGROUND-COLOR: #8E4B00;
	HEIGHT: 1px;
}
.PrintableRow {
	WIDTH: 100%;
	VERTICAL-ALIGN: middle;
	PADDING-RIGHT: 176px;
	HEIGHT: 18px;
}
.HeadTopPad {
	HEIGHT: 18px;
}
.HeadTopPad IMG {
	WIDTH: 1px;
	HEIGHT: 18px;
}

/*
	Footer styles
*/
.BottomRow {
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: bottom;
}
.BottomBox {
	BACKGROUND-COLOR: #C6CDD5;
	HEIGHT: 22px;
	VERTICAL-ALIGN: middle;
	PADDING-LEFT: 12px;
	PADDING-RIGHT: 12px;
}
.Bottom {
	BACKGROUND-COLOR: #C6CDD5;
	COLOR: #4F607A;
	FONT-SIZE: 10px;
	FONT-FAMILY: Arial;
}
.BottomPopup {
	WIDTH: 100%;
	TEXT-ALIGN: right;
	PADDING-BOTTOM: 10px;
}

.BottomPopup A {
	FONT-WEIGHT: bold;
}

/*
	Common styles
*/
.SubmitBox {
	PADDING-TOP: 10px;
}
HR.Line {
	WIDTH: 100%;
	HEIGHT: 1px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px;
}
.SectionBox {
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: left;
}
.Text {
	COLOR: #000000;
}
.NumberOfArticles {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
}
.TopLabel {
	COLOR: #000000;
	FONT-SIZE: 12px;
}
.Message {
	COLOR: #FF3300;
}
.Line {
	BACKGROUND-COLOR: #06359D;
}
TD.ButtonsRow {
	PADDING-TOP: 2px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 12px;
	PADDING-BOTTOM: 2px;
}
.CustomerMessage {
	COLOR: #06359D;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
}
.ErrorMessage {
	COLOR: #06359D;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
}
.Star {
	COLOR: #FF0000;
}
.TableHead {
	BACKGROUND-COLOR: #DDDDDD;
}
.TableSubHead {
	BACKGROUND-COLOR: #EEEEEE;
}
.Spc {
	WIDTH: 1px;
	HEIGHT: 1px;
}
TABLE.EmptyBox {
	WIDTH: 100%;
}
TABLE.EmptyBox TR TD {
	PADDING: 0px;
}

/*
	Popup styles
*/
.PopupContainer {
	HEIGHT: 100%;
	WIDTH: 100%;
	TEXT-ALIGN: center;
}
.PopupTitle {
	BACKGROUND-COLOR: #C6CDD5;
	HEIGHT: 30px;
	VERTICAL-ALIGN: middle;
	TEXT-ALIGN: center;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.PopupBG {
	BACKGROUND-COLOR: #C6CDD5;
}
.PopupHelpLink {
	FONT-SIZE: 9px;
	COLOR: #330000;
	TEXT-DECORATION: none;
}

/*
	BuyNow section
*/
.BuyNowQuantity {
	HEIGHT: 25px;
	WIDTH: 15%;
	WHITE-SPACE: nowrap;
	PADDING-RIGHT: 10px;
}
.BuyNowPrices {
	WIDTH: 100%;
	HEIGHT: 25px;
	VERTICAL-ALIGN: middle;
}

/*
	Vertical menu
*/
.VertMenuLeftColumn {
	WIDTH: 150px;
	VERTICAL-ALIGN: top;
	PADDING-LEFT: 6px;
	PADDING-RIGHT: 20px;
}
.VertMenuRightColumn {
	WIDTH: 150px;
	VERTICAL-ALIGN: top;
	PADDING-LEFT: 20px;
	PADDING-RIGHT: 6px;
}
.VertMenuBox {
	BACKGROUND-COLOR: #EEF4FB;
	PADDING: 1px;
}
.VertMenuBorder {
	BACKGROUND-COLOR: #68C1FF;
}
.VertMenuTitle {
	COLOR: #ffffff;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-TRANSFORM: uppercase;
	FONT-FAMILY: Verdana;
}
.VertMenuSubTitle {
	BACKGROUND-COLOR: #FFA92F;
}
.VertMenuTitleIcon {
	WIDTH: 21px;
	HEIGHT: 20px;
	MARGIN-LEFT: 8px;
	MARGIN-RIGHT: 8px;
	VERTICAL-ALIGN: middle;
}
.VertMenuItems {
	COLOR: #28478B;
	TEXT-DECORATION: none;
}
A.VertMenuItems:link {
	COLOR: #28478B;
	TEXT-DECORATION: none;
}
A.VertMenuItems:visited {
	COLOR: #28478B;
	TEXT-DECORATION: none;
}
A.VertMenuItems:hover {
	COLOR: #28478B;
	TEXT-DECORATION: underline;
}
A.VertMenuItems:active  {
	COLOR: #28478B;
	TEXT-DECORATION: none;
}
.VertMenuHr {
	WIDTH: 100%;
	HEIGHT: 1px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	COLOR: #8EC1F8;
}
.CategoriesList {
	COLOR: #27468B;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
}

/*
	Dialog box
*/
TABLE.DialogBox {
	WIDTH: 100%;
	HEIGHT: 100%;
	VERTICAL-ALIGN: top;
}
TD.DialogBox {
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: left;
	PADDING: 10px;
}
.DialogBorder {
	BACKGROUND-COLOR: #AFCAF0;
	HEIGHT: 100%;
	PADDING: 0px;
}
TD.DialogTitle {
	BACKGROUND-COLOR: #D5E5FD;
	COLOR: #405685;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana;
	VERTICAL-ALIGN: bottom;
	HEIGHT: 15px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 0px;
	TEXT-ALIGN: left;
	TEXT-TRANSFORM: uppercase;
}
FONT.DialogTitle {
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana;
	VERTICAL-ALIGN: bottom;
	HEIGHT: 15px;
	TEXT-ALIGN: left;
	MARGIN-LEFT: 10px;
}

/*
	Dialog info box
*/
TABLE.DialogInfo {
	WIDTH: 85%;
	TEXT-ALIGN: center;
}
.DialogInfoTitle {
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	VERTICAL-ALIGN: bottom;
	TEXT-ALIGN: left;
	HEIGHT: 15px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
}
.DialogInfoTitleBorder {
	BACKGROUND-COLOR: #B5C2D5;
	PADDING: 0px;
	VERTICAL-ALIGN: bottom;
	HEIGHT: 15px;
}
.DialogInfoBorder {
	BACKGROUND-COLOR: #B5C2D5;
	PADDING: 0px;
}
.DialogTr {
	COLOR: #1A2B3C;
}
.DialogInfoIcon {
	WIDTH: 16px;
	HEIGHT: 16px;
}
.DialogInfoClose {
	WIDTH: 15px;
	HEIGHT: 13px;
}

/*
	Dialog tools section
*/
.NavDialogTitle {
	WIDTH: 50%;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    COLOR: #330000;
	PADDING-LEFT: 8px;
}   
.NavDialogBorder {
	BACKGROUND-COLOR: #FFCC33;
}
.NavDialogBox {
	BACKGROUND-COLOR: #FFFFCC;
}
.NavDialogSeparator {
	WIDTH: 100%;
	HEIGHT: 14px;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/separator.gif);
	PADDING-LEFT: 7px;
}
.NavDialogSeparator IMG {
	WIDTH: 100%;
	HEIGHT: 14px;
}
.NavDialogCell {
	PADDING-RIGHT: 3px;
}
.NavDialogCell A IMG {
	WIDTH: 9px;
	HEIGHT: 9px;
}

/*
	Product details page
*/
.ProductTitle {
	COLOR: #28478B;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.ProductTitleHidden {
	COLOR: #666666;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
}
.ProductDetailsTitle {
	COLOR: #06359D;
	FONT-SIZE: 12px;
}
.ProductDetails {
	COLOR: #000000;
}
.ProductPriceTitle {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial;
}
.ProductPriceConverting {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial;
}
.ProductPrice {
	COLOR: #06359D;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial;
}
.ProductPriceSmall {
	COLOR: #06359D;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	FONT-FAMILY: Arial;
}
.SaveMoneyLabel {
	WIDTH: 55px;
	HEIGHT: 56px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/save_money.gif);
	BACKGROUND-REPEAT: no-repeat;
}
.MarketPrice {
	FONT-SIZE: 11px;
	FONT-FAMILY: Arial;
	COLOR: #2C2D2E;
}
.PImgBox {
	TEXT-ALIGN: left;
	VERTICAL-ALIGN: top;
	PADDING-RIGHT: 8px;
}

/*
	Products list
*/
HR.PListLine {
	WIDTH: 100%;
	HEIGHT: 1px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px;
}
.PListTaxBox {
	PADDING-LEFT: 70px;
	PADDING-RIGHT: 2px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
}
.PListCell {
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: center;
	PADDING: 10px;
	VERTICAL-ALIGN: top;
}

/*
	Items style
*/
.ItemsList {
	COLOR: #28478B;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
}
.ItemsListDisabled {
	COLOR: #909090;
}
A.ItemsList:link {
	COLOR: #28478B;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.ItemsList:visited {
	COLOR: #28478B;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.ItemsList:hover {
	COLOR: #28478B;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}
A.ItemsList:active {
	COLOR: #28478B;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}

/*
	Location bar
*/
.NavigationPath {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	FONT-SIZE: 10px;
}
.NavigationPath:link {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
	FONT-SIZE: 10px;
}
.NavigationPath:visited {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
	FONT-SIZE: 10px;
}
.NavigationPath:hover {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	FONT-SIZE: 10px;
}
.NavigationPath:active  {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
	FONT-SIZE: 10px;
}

/*
	Buttons
*/
.FormButton {
	COLOR: #28478B;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
}
TABLE.ButtonTable {
	CURSOR: pointer;
	VERTICAL-ALIGN: middle;
	DIRECTION: ltr;
}
TABLE.ButtonTable TD {
	PADDING: 0px;
}
TD.Button {								 
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/custom/but_bg.gif);
	BACKGROUND-COLOR: #FFFFFF;
	BACKGROUND-REPEAT: repeat-x;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	VERTICAL-ALIGN: middle;
	WHITE-SPACE: nowrap;
}
FONT.Button {								 
	FONT-FAMILY: Arial;
	BACKGROUND: url(http://myntra.myntassets.com/skin1/images/custom/but_bg.gif);
	BACKGROUND-COLOR: #FFFFFF;
	COLOR: #405685;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none;
}
IMG.ButtonSide {
	WIDTH: 6px;
	HEIGHT: 22px;
}
.SimpleButton TR TD {
	PADDING: 0px;
	WHITE-SPACE: nowrap;
}
A.Button:link, A.Button:visited, A.Button:hover, A.Button:active {
	COLOR: #330000;
	FONT-WEIGHT: bold;
}
.GoImage {
	WIDTH: 27px;
	HEIGHT: 16px;
	VERTICAL-ALIGN: middle;
	BORDER: 0px;
}

/*
	Small text/link style
*/
.SmallNote:link {
	COLOR: #888888;
	TEXT-DECORATION: none;
	FONT-SIZE: 9px;
	FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif;
}
.SmallNote:visited {
	COLOR: #888888;
	TEXT-DECORATION: none;
	FONT-SIZE: 9px;
	FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif;
}
.SmallNote:hover {
	COLOR: #888888;
	TEXT-DECORATION: underline;
	FONT-SIZE: 9px;FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif;
}
.SmallNote:active {
	COLOR: #888888;
	TEXT-DECORATION: none;
	FONT-SIZE: 9px;FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif;
}
.SmallText {
	COLOR: #7C4C00;
	TEXT-DECORATION: none;
	FONT-SIZE: 9px;
	FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif;
}

/*
	Category page
*/
.SubcatTitle {
	TEXT-ALIGN: left;
	WIDTH: 95%;
	PADDING-LEFT: 5px;
}
.SubcatInfo {
	TEXT-ALIGN: right;
	WHITE-SPACE: nowrap;
	COLOR: #000000;
}

/*
	Search sort bar
*/
.SearchSortTitle {
	FONT-WEIGHT: bold;
	PADDING-RIGHT: 20px;
}
.SearchSortLink:link, .SearchSortLink:visited, .SearchSortLink:hover, .SearchSortLink:active {
	TEXT-DECORATION: underline;
}
.SearchSortImg {
	WIDTH: 9px;
	HEIGHT: 9px;
	MARGIN-RIGHT: 5px;
}
.SearchSortCell {
	PADDING-RIGHT: 20px;
}

/*
	Expandable section
*/
.ExpandSectionMark {
	WIDTH: 11px;
	CURSOR: pointer;
	VERTICAL-ALIGN: middle;
}

/*
	Tab mechanism
*/
.Tab {
	BACKGROUND-COLOR: #D6D7D9;
	FONT-WEIGHT: bold;
	TEXT-TRANSFORM: uppercase;
}
.TabTop {
	HEIGHT: 5px;
	BACKGROUND-COLOR: #FFD44C;
}
TD.TabLeftSide {
	WIDTH: 9px;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/tab_l.gif);
}
TD.TabRightSide {
	WIDTH: 9px;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/tab_r.gif);
}
TD.TabLeftCorner {
	WIDTH: 9px;
	HEIGHT: 9px;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/tab_c1.gif);
}
TD.TabRightCorner {
	WIDTH: 9px;
	HEIGHT: 9px;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/tab_c2.gif);
}
TD.TabCenter {
	HEIGHT: 9px;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/tab_b.gif);
}
IMG.TabCorner {
	WIDTH: 9px;
	HEIGHT: 9px;
}
IMG.TabSide {
	WIDTH: 9px;
	HEIGHT: 1px;
}

/*
	Pagination mechanism
*/
.NavigationArrow {
	WIDTH: 9px;
	HEIGHT: 9px;
}
.NavigationTitle {
	WHITE-SPACE: nowrap;
	HEIGHT: 14px;
	PADDING-RIGHT: 10px;
}
.NavigationCell {
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: bottom;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/page.gif);
	WIDTH: 17px;
	HEIGHT: 14px;
}
.NavigationCell A:link, .NavigationCell A:visited, .NavigationCell A:hover, .NavigationCell A:active {
	TEXT-DECORATION: none;
}
.NavigationCell IMG {
	HEIGHT: 1px;
	WIDTH: 17px;
}
.NavigationCellWide {
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: bottom;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/page_wide.gif);
	WIDTH: 23px;
	HEIGHT: 14px;
}
.NavigationCellWide A:link, .NavigationCellWide A:visited, .NavigationCellWide A:hover, .NavigationCellWide A:active {
	TEXT-DECORATION: none;
}
.NavigationCellWide IMG {
	HEIGHT: 1px;
	WIDTH: 23px;
}
.NavigationCellSel {
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	FONT-WEIGHT: bold;
	WIDTH: 15px;
}

/*
	Subheader styles
*/
TABLE.SubHeaderGrey {
	WIDTH: 100%;
	MARGIN-BOTTOM: 10px;
}
.SubHeaderGrey {
	COLOR: #666666;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	PADDING: 0px;
}
.SubHeaderGreyLine {
	HEIGHT: 1px;
	BACKGROUND-COLOR: #CCCCCC;
	PADDING: 0px;
}
TABLE.SubHeaderBlack {
	WIDTH: 100%;
	MARGIN-BOTTOM: 10px;
}
.SubHeaderBlack {
	COLOR: #000000;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	PADDING: 0px;
}
.SubHeaderBlackLine {
	HEIGHT: 1px;
	BACKGROUND-COLOR: #000000;
	PADDING: 0px;
}
TABLE.SubHeaderRed {
	WIDTH: 100%;
	MARGIN-BOTTOM: 10px;
}
.SubHeaderRed {
	FONT-WEIGHT: bold;
	PADDING: 0px;
}
.SubHeaderRedLine {
	HEIGHT: 1px;
	BACKGROUND-COLOR: #6D7074;
	PADDING: 0px;
}
TABLE.SubHeader {
	WIDTH: 100%;
	MARGIN-BOTTOM: 10px;
}
.SubHeader {
	COLOR: #071288;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	PADDING: 0px;
}
.SubHeaderLine {
	HEIGHT: 1px;
	BACKGROUND-COLOR: #071288;
	PADDING: 0px;
}

/*
	User profile page
*/
.RegSectionTitle {
	COLOR: #6D7074;
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
}

/*
	Popup image
*/
.PImageImageCell {
	PADDING: 5px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	HEIGHT: 100%;
}
.PImageImageCell IMG {
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
}

.PImageNumbersCell {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	WHITE-SPACE: nowrap;
}
.PImageLine {
	HEIGHT: 1px;
	BACKGROUND-COLOR: #CCCCCC;
}
.PImageLine IMG {
	HEIGHT: 1px;
}
BODY.PImage {
	BACKGROUND-COLOR: #FFFFFF;
}
.PImagePageRow {
	HEIGHT: 30px;
	VERTICAL-ALIGN: middle;
	PADDING-LEFT: 10px;
}

/*
	Customer reviews module
*/
IMG.StarImg {
	WIDTH: 14px;
	HEIGHT: 14px;
}

/*
	Manufacturers module
*/
.ManufacturersItem {
	TEXT-ALIGN: left;
	WHITE-SPACE: nowrap;
	WIDTH: 95%;
	PADDING-LEFT: 5px;
}

/*
	Recommended products module
*/
UL.RPItems {
	MARGIN-LEFT: 20px;
	PADDING-LEFT: 0px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px;
}

/*
	Webmaster mode
*/
SPAN.Lbl {
	COLOR: green;
	FONT-WEIGHT: bold;
}
.Section {
	MARGIN: 0px;
	PADDING: 0px;
}

/*
	Fast Lane Checkout module
*/
.FLCAuthBox {
	WHITE-SPACE: nowrap;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 5px;
}
.FLCAuthPreBox {
	PADDING-LEFT: 30px;
	HEIGHT: 20px;
	WIDTH: 100%;
}
.FLCTopPad {
	VERTICAL-ALIGN: middle;
	HEIGHT: 15px;
}
.FLCTopPad IMG {
	WIDTH: 1px;
	HEIGHT: 15px;
}

/*
		-- ADDONS --
*/

/*
	Gift registry module
*/
.HighLight {
	BACKGROUND-COLOR: #FFFFCC;
}

/*
	Feature comparison module
*/
TABLE.CompareBtn {
	CURSOR: pointer;
}
TD.CompareBtnLeft {
	HEIGHT: 18px;
	WIDTH: 21px;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/compare1.gif);
}
TD.CompareBtnLeft IMG {
	HEIGHT: 18px;
	WIDTH: 21px;
}
TD.CompareBtnMain {
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/compare2.gif);
	BACKGROUND-REPEAT: repeat-x;
	VERTICAL-ALIGN: top;
	PADDING-LEFT: 5px;
	PADDING-TOP: 2px;
}
TD.CompareBtnMainMozilla {
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/compare2.gif);
	BACKGROUND-REPEAT: repeat-x;
	VERTICAL-ALIGN: top;
	PADDING-LEFT: 5px;
	PADDING-TOP: 1px;
}
TD.CompareBtnRight {
	HEIGHT: 18px;
	WIDTH: 9px;
}
TD.CompareBtnRight IMG {
	HEIGHT: 18px;
	WIDTH: 9px;
}
TD.FCompProductSelBox {
	PADDING: 0px;
	WHITE-SPACE: nowrap;
}
TD.FCompProductButtonBox {
	PADDING-LEFT: 25px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-RIGHT: 0px;
	WIDTH: 100%;
	WHITE-SPACE: nowrap;
}
TD.FCompProductAddCL {
	PADDING-TOP: 10px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-RIGHT: 0px;
}

TD.FCompFeatureHCell {
	VERTICAL-ALIGN: top;
	TEXT-ALIGN: center;
	BACKGROUND-COLOR: #EEEEEE;
	FONT-WEIGHT: bold;
}
.HightLightEqualRow {
	BACKGROUND-COLOR: #ffe8af;
	TEXT-ALIGN: center;
}
.EqualRow {
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: center;
}

/*
	Special offers module
*/
.SpecialOffersPrice {
	COLOR: #FF3300;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
}
.SpecialOffersThumb {
	DISPLAY: inline;
	MARGIN-LEFT: -51px;
}
.SpecialOffersThumb A IMG {
	WIDTH: 47px;
	HEIGHT: 44px;
}

/*
	Fancy categories module
*/
.CatMenuItemOff {
	BACKGROUND-COLOR: transparent;
	COLOR: #330000;
	BORDER-RIGHT: none;
	BORDER-TOP: none;
	BORDER-LEFT: none;
	BORDER-BOTTOM: none;
	MARGIN-BOTTOM: 3px;
	MARGIN-TOP: 3px;
	MARGIN-LEFT: 1px;
	MARGIN-RIGHT: 0px;
	CURSOR: pointer;
	FONT-SIZE: 12px;
}
.CatMenuItemOffExp {
	BACKGROUND-COLOR: transparent;
	BORDER-RIGHT: none;
	BORDER-TOP: none;
	BORDER-LEFT: none;
	BORDER-BOTTOM: none;
	MARGIN-BOTTOM: 1px;
	MARGIN-TOP: 1px;
	MARGIN-LEFT: 2px;
	MARGIN-RIGHT: 3px;
	CURSOR: pointer;
}
.CatMenuItemOn {   
	BACKGROUND-COLOR: #B5C2D5;
	COLOR: #330000;
	BORDER-RIGHT: 0px solid;
	BORDER-TOP: none;
	BORDER-LEFT: none;
	BORDER-BOTTOM: none;
	MARGIN-BOTTOM: 3px;
	MARGIN-TOP: 3px;
	MARGIN-LEFT: 1px;
	MARGIN-RIGHT: 0px;
	CURSOR: pointer;
	FONT-SIZE: 12px;
}
.CatSubMenu {
	BACKGROUND-COLOR: #EEF4FB;
	BORDER-RIGHT: #B5C2D5 1px solid;
	BORDER-TOP: #B5C2D5 1px solid;
	BORDER-LEFT: #B5C2D5 1px solid;
	BORDER-BOTTOM: #B5C2D5 1px solid;
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;
	MARGIN-LEFT: 0px;
	MARGIN-RIGHT: 0px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	WIDTH: 150px;
}
A.CatMenuItem {
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial;
	CURSOR: pointer;
}
A.CatMenuItem:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
}
A.CatMenuItem:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
}
A.CatMenuItem:hover {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
A.CatMenuItem:active {
	COLOR: #000000;
	TEXT-DECORATION: none;
}
A#nojs.CatMenuItem:hover {
    BACKGROUND-COLOR: transparent;
    COLOR: #FFFFFF;
    TEXT-DECORATION: none;
}
IMG.FCIcon {
	WIDTH: 16px;
	HEIGHT: 16px;
	BORDER-WIDTH: 0px;
	MARGIN-LEFT: 2px;
	MARGIN-RIGHT: 3px;
}
IMG.FCTriangle {
	WIDTH: 9px;
	HEIGHT: 9px;
	BORDER-WIDTH: 0px;
	MARGIN-LEFT: 3px;
}
TABLE.FCItemTable {
	WIDTH: 100%;
	BORDER-WIDTH: 0px;
	MARGIN: 0px;
	TEXT-ALIGN: left;
}
TD.FCIconCell {
	VERTICAL-ALIGN: middle;
	TEXT-ALIGN: center;
}
TD.FCTriangleCell {
	VERTICAL-ALIGN: middle;
	TEXT-ALIGN: right;
}
/*	Explorer skin */

/*
	Product configurator module
*/
.ProductBG {
	BACKGROUND-COLOR: #ffffff;
}
.SlotCell {
	WIDTH: 50%;
	HEIGHT: 35px;
	PADDING-TOP: 25px;
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: center;
}
.SlotProductCell {
	WIDTH: 50%;
	HEIGHT: 35px;
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: center;
}
TABLE.PCSummaryTable {
	WIDTH: 100%;
	BACKGROUND-COLOR: #ffffff;
}

/*
	Survey module
*/
H1.SurveyName {
	FONT-WEIGHT: bold;
}
.SurveyHeader {
	FONT-SIZE: 11px;
}
.SurveyHeaderMenu {
	COLOR: #28478B;
	FONT-SIZE: 10px;
}
.SurveyFooter {
	FONT-SIZE: 11px;
}
.SurveyFooterMenu {
	COLOR: #28478B;
	FONT-SIZE: 10px;
}
.SurveyQuestion {
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	PADDING: 2px;
}
.SurveyQuestionMenu {
	COLOR: #28478B;
	FONT-WEIGHT: bold;
	PADDING: 0px;
}
TEXTAREA.Survey {
}
.SurveyAnswer {
	PADDING: 2px;
	WIDTH: 100%;
}
.SurveyAnswerMenu {
	COLOR: #28478B;
	PADDING: 0px;
	WIDTH: 100%;
}
TD.SurveyAnswerMark {
	PADDING: 2px;
	WIDTH: 15px;
}
TD.SurveyAnswerMarkMenu {
	COLOR: #28478B;
	PADDING: 0px;
	WIDTH: 15px;
}
.SurveyBar {
	HEIGHT: 10px;
	BACKGROUND-COLOR: blue;
}
.SurveyBarHL {
    HEIGHT: 10px;
    BACKGROUND-COLOR: green;
}
.SurveyStatLabel {
	PADDING-LEFT: 6px;
	WHITE-SPACE: nowrap;
}
.StatisticsBar {
	BACKGROUND-COLOR: #FFCE31;
}   
.StatisticsBarHL {
	BACKGROUND-COLOR: #FF8400;
}   
.SurveyAnswers {
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 5px;
}
.SurveyAnswersMenu {
	COLOR: #28478B;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 5px;
}
.SurveyAnswerComment {
	PADDING: 2px;
}
.SurveyAnswerCommentMenu {
	COLOR: #28478B;
	PADDING: 0px;
}
/* Crystal_Blue */

.HeadBox {
	BACKGROUND-COLOR: #FFFFFF;
}   
.VertMenuTitleShadow {
}
.VertMenuTitleBox {
	BACKGROUND-COLOR: #B5C2D5;
	BORDER-BOTTOM: #A3B0BF 1px solid;
	BORDER-TOP: #CBD6E4 1px solid;
	BORDER-LEFT: none;
	BORDER-RIGHT: none;
}
A.CategoriesList:link {
	FONT-SIZE: 11px;
	COLOR: #27468B;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.CategoriesList:visited {
	FONT-SIZE: 11px;
	COLOR: #27468B;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.CategoriesList:hover {
	FONT-SIZE: 11px;
	COLOR: #27468B;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.CategoriesList:active {
	FONT-SIZE: 11px;
	COLOR: #27468B;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
.DialogBox {
	BACKGROUND-COLOR: #FFFFFF;
}
.DialogTitle {
	BACKGROUND-COLOR: #B8EAF6;
	COLOR: #093688;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-TRANSFORM: uppercase;
	FONT-FAMILY: Verdana;
}
.DialogTitleFont {
	COLOR: #405685;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-TRANSFORM: uppercase;
	FONT-FAMILY: Verdana;
}
.AdminSmallMessage {
	COLOR: #06359D;
}
.AdminTitle {
	COLOR: #06359D;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.ConvertedProductPrice {
	COLOR: #06359D;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial;
}
.Button {
	FONT-FAMILY: Arial;
	BACKGROUND: url(http://myntra.myntassets.com/skin1/images/custom/but_bg.gif);
	BACKGROUND-COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	COLOR: #04148D;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none;
}
.ButtonHead {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	BACKGROUND: url(http://myntra.myntassets.com/skin1/images/custom/but_head_bg.gif);
	BACKGROUND-COLOR: #E6E8E9;
	COLOR: #4E6281;
	FONT-SIZE: 10px;
	TEXT-DECORATION: none;
}
.StatisticsBar {
	BACKGROUND-COLOR: #A8BCC8;
}
.BackgroundNoRepeat {
	BACKGROUND-REPEAT: no-repeat;
}
BackgroundRepeatX {
	BACKGROUND-REPEAT: repeat-x;
}
A.SpeedBar:link {
	COLOR: #4E6281;
	FONT-SIZE: 11px;
	FONT-FAMILY: Arial, sans-serif;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.SpeedBar:visited {
	COLOR: #4E6281;
	FONT-SIZE: 11px;
	FONT-FAMILY: Arial, sans-serif;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.SpeedBar:hover {
	COLOR: #4E6281;
	FONT-SIZE: 11px;
	FONT-FAMILY: Arial, sans-serif;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}
A.SpeedBar:active {
	COLOR: #4E6281;
	FONT-SIZE: 11px;
	FONT-FAMILY: Arial, sans-serif;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}
.Search {
	COLOR: #40526F;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 10px;
}
A.Search:link {
	COLOR: #40526F;
}
A.Search:visited {
	COLOR: #40526F;
}
A.Search:hover {
	COLOR: #40526F;
}
A.Search:active {
	COLOR: #40526F;
}
.MainSubtitle {
	FONT-SIZE: 11px;
	COLOR: #4E6281;
/*	FONT-WEIGHT: bold;*/
}
A.MainSubtitleLink {
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	COLOR: #4E6281;
	TEXT-DECORATION: underline;
	FONT-FAMILY: Tahoma;
}
A.MainSubtitleLink:link {
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	COLOR: #4E6281;
	TEXT-DECORATION: underline;
	FONT-FAMILY: Tahoma;
}
A.MainSubtitleLink:visited {
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	COLOR: #4E6281;
	TEXT-DECORATION: underline;
	FONT-FAMILY: Tahoma;
}
A.MainSubtitleLink:hover {
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	COLOR: #28478B;
	TEXT-DECORATION: underline;
	FONT-FAMILY: Tahoma;
}
A.MainSubtitleLink:active {
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	COLOR: #4E6281;
	TEXT-DECORATION: underline;
	FONT-FAMILY: Tahoma;
}
.SearchSubtitle {
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	COLOR: #40526F;
}
.BottomLine01 {
	BACKGROUND-COLOR: #C1F1FF;
}
.Help {
	FONT-SIZE: 11px;
	FONT-FAMILY: Arial, sans-serif;
	COLOR: #4F607A;
}
A.Help:link {
	FONT-SIZE: 11px;
	FONT-FAMILY: Arial, sans-serif;
	COLOR: #4F607A;
	TEXT-DECORATION: none;
}
A.Help:visited {
	FONT-SIZE: 11px;
	FONT-FAMILY: Arial, sans-serif;
	COLOR: #4F607A;
	TEXT-DECORATION: none;
}
A.Help:hover {
	FONT-SIZE: 11px;
	FONT-FAMILY: Arial, sans-serif;
	COLOR: #4F607A;
	TEXT-DECORATION: underline;
}
A.Help:active {
	FONT-SIZE: 11px;
	FONT-FAMILY: Arial, sans-serif;
	COLOR: #4F607A;
	TEXT-DECORATION: none;
}
.BottomHelp {
	BACKGROUND-COLOR: #EBEDEC;
	FONT-SIZE: 11px;
	FONT-FAMILY: Arial, sans-serif;
	COLOR: #4F607A;
}
.MinicartSpacer {
	BACKGROUND-COLOR: transparent;
}
.MinicartShortTitle {
	FONT-SIZE: 11px;
	COLOR: #40526F;
	TEXT-DECORATION: underline;
	TEXT-TRANSFORM: uppercase;
	FONT-WEIGHT: bold;
}
A.MinicartShortTitle:link {
	FONT-SIZE: 11px;
	COLOR: #40526F;
	TEXT-DECORATION: underline;
	TEXT-TRANSFORM: uppercase;
	FONT-WEIGHT: bold;
}
A.MinicartShortTitle:visited {
	FONT-SIZE: 11px;
	COLOR: #40526F;
	TEXT-DECORATION: underline;
	TEXT-TRANSFORM: uppercase;
	FONT-WEIGHT: bold;
}
A.MinicartShortTitle:hover {
	FONT-SIZE: 11px;
	COLOR: #FF0000;
	TEXT-DECORATION: underline;
	TEXT-TRANSFORM: uppercase;
	FONT-WEIGHT: bold;
}
A.MinicartShortTitle:active {
	FONT-SIZE: 11px;
	COLOR: #40526F;
	TEXT-DECORATION: underline;
	TEXT-TRANSFORM: uppercase;
	FONT-WEIGHT: bold;
}
.SpeedBarBox0 {
}
.SpeedBarBox1 {
}
.SpeedBarBox2 {
}
.SpeedBarBox3 {
}
.SpeedBarBox {
}
.SpeedLink0 {
	PADDING-LEFT: 7px;
	PADDING-RIGHT: 7px;
}
.SpeedLink1 {
	PADDING-LEFT: 7px;
	PADDING-RIGHT: 7px;
}
.SpeedLink2 {
	PADDING-LEFT: 7px;
	PADDING-RIGHT: 7px;
}
.SpeedLink3 {
	PADDING-LEFT: 7px;
	PADDING-RIGHT: 7px;
}
.SpeedLinkBorder {
}
.SelectSubtitle {
	FONT-FAMILY: Tahoma;
	FONT-WEIGHT: bold;
	COLOR: #4E6281;
	FONT-SIZE: 11px;
}
.VertMenuLine {
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/custom/menu_linebg.gif);
	BACKGROUND-REPEAT: repeat-x;
}
.MenuItemOff {
	BACKGROUND-COLOR: transparent;
}
.MenuItemOn {
	BACKGROUND-COLOR: #E2E9F1;
}
.VertMenuBottomBorder {
}
.VertMenuTitleBorder {
}
.VertMenuBottom {
}
.DialogTitleBox {
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/custom/dialog_titlebg.gif);
	BACKGROUND-REPEAT: repeat-x;
}
.DialogTitleBorder {
}
IMG.ButtonSide2 {
	WIDTH: 17px;
	HEIGHT: 22px;
}
IMG.ButtonHeadSide1 {
	WIDTH: 7px;
	HEIGHT: 16px;
}
IMG.ButtonHeadSide2 {
	WIDTH: 15px;
	HEIGHT: 16px;
}
INPUT,SELECT,TEXTAREA {
	COLOR: #6D7074;
	FONT-SIZE: 10px;
}
.Button2 {
	FONT-FAMILY: Arial;
	FONT-WEIGHT: bold;
	COLOR: #626469;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}
TD.FCChain {
	WIDTH: 18px;
	BACKGROUND-REPEAT: repeat-y;
}
TD.FCChain IMG {
	WIDTH: 18px;
	HEIGHT: 1px;
}
TD.FCExplorerBox {
	WIDTH: 37px;
	VERTICAL-ALIGN: top;
	BACKGROUND-REPEAT: repeat-y;
}
.CatImage {
	VERTICAL-ALIGN: middle;
	WIDTH: 11px;
	HEIGHT: 11px;
}
TD.PListImgBox {
	WIDTH: 125px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: top;
	WHITE-SPACE: nowrap;
	PADDING-RIGHT: 8px;
}
DIV.PListImgBox {
	WHITE-SPACE: nowrap;
}
