/* $Id: skin1_admin.css,v 1.11.2.1 2006/06/28 06:26:01 max Exp $ */
/*
	General styles
*/
Body{
	margin:0px;
	padding:0px;
}
BODY,DIV,TH,TD,P,INPUT,SELECT,TEXTAREA,TT {
	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
	COLOR: #000000;
	FONT-SIZE: 10px;
}
A:link {
	COLOR: #081589;
	TEXT-DECORATION: underline;
}
A:visited {
	COLOR: #081589;
	TEXT-DECORATION: underline;
}
A:hover {
	COLOR: #FF0000;
	TEXT-DECORATION: none;
}
A:active  {
	COLOR: #081589;
	TEXT-DECORATION: underline;
}
H1 {
	FONT-SIZE: 15px;
}
H2 {
	FONT-SIZE: 13px;
}
H3 {
	FONT-SIZE: 12px;
}
HR {
	COLOR: #DDDDDD;
	HEIGHT: 1px;
}
HTML,BODY {
	HEIGHT: 100%;
	MARGIN: 0px;
	PADDING: 0px;
	BACKGROUND-COLOR: #FFFFFF;
}
FORM {
	MARGIN: 0px;
}
TABLE,IMG {
	BORDER: 0px;
}

th, td, caption {
    padding: 5px 0px;
    float: none !important;
}


/*
	Content enviroment styles
*/
TABLE.Container {
	HEIGHT: 100%;
}
TD.Container {
	VERTICAL-ALIGN: top;
}

/*
	Header styles
*/
.HeadLogo {
	PADDING-LEFT: 27px;
	padding-top:27px;
	TEXT-ALIGN: left;
}
.HeadRightBox {
	VERTICAL-ALIGN: top;
	TEXT-ALIGN: right;
}
.HeadText {
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
}
.HeadLine {
	BACKGROUND-COLOR: #D6D7D9;
}
.HeadThinLine {
	BACKGROUND-COLOR: #68C1FF;
	HEIGHT: 1px;
}
.PrintableRow {
	WIDTH: 100%;
	VERTICAL-ALIGN: middle;
	PADDING-RIGHT: 176px;
	HEIGHT: 18px;
}
.HeadTopPad {
	HEIGHT: 18px;
}
.HeadTopPad IMG {
	WIDTH: 1px;
	HEIGHT: 18px;
}

/*
	Footer styles
*/
.BottomRow {
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: bottom;
}
.BottomBox {
	BACKGROUND-COLOR: #D6D7D9;
	COLOR: #68C1FF;
	HEIGHT: 22px;
	VERTICAL-ALIGN: middle;
	PADDING-LEFT: 12px;
	PADDING-RIGHT: 12px;
}
.Bottom {
	BACKGROUND-COLOR: #D6D7D9;
	COLOR: #68C1FF;
}
.BottomPopup {
	WIDTH: 100%;
	TEXT-ALIGN: right;
	PADDING-BOTTOM: 10px;
}
.BottomPopup A {
	FONT-WEIGHT: bold;
}   
.BottomDialogBox {
	BACKGROUND-COLOR: #FFE591;
	PADDING-LEFT: 13px;
	PADDING-TOP: 10px;
	PADDING-BOTTOM: 10px;
}

/*
	Common styles
*/
.SubmitBox {
	PADDING-TOP: 10px;
}
.SubmitBox INPUT {
	MARGIN-RIGHT: 15px;
}
HR.Line {
	WIDTH: 100%;
	HEIGHT: 1px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px;
}
.SectionBox {
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: left;
	FONT-WEIGHT: normal;
}
.Text {
	COLOR: #000000;
}
.NumberOfArticles {
	COLOR: #000000;
	FONT-WEIGHT: bold;
}
.TopLabel {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.Message {
	COLOR: #FF3300;
}
.Line {
	BACKGROUND-COLOR: #FF3300;
}
TD.ButtonsRow {
	PADDING-TOP: 2px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 12px;
	PADDING-BOTTOM: 2px;
}
.CustomerMessage {
	COLOR: #FF3300;
	FONT-WEIGHT: bold;
}
.ErrorMessage {
	COLOR: #FF3300;
	FONT-WEIGHT: bold;
}
.Star {
	COLOR: #FF0000;
}
.TableHead {
	BACKGROUND-COLOR: #DDDDDD;
	FONT-WEIGHT: bold;
    HEIGHT: 20px;
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: uppercase;
}
.TableSubHead {
	BACKGROUND-COLOR: #EEEEEE;
	FONT-WEIGHT: normal;
}
.Spc {
	WIDTH: 1px;
	HEIGHT: 1px;
}
TABLE.EmptyBox {
	WIDTH: 100%;
}
TABLE.EmptyBox TR TD {
	PADDING: 0px;
}
.AdminSmallMessage {
	COLOR: #FF3300;
}
.AdminTitle {
	COLOR: #FF3300;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.TableHeadLevel2 {
    BACKGROUND-COLOR: #CCCCCC;
    COLOR: #000000;
	FONT-WEIGHT: bold;
    HEIGHT: 20px;
    TEXT-ALIGN: center;
}
.TableLine {
    BACKGROUND-COLOR: #F0F0F0;
}
.TableSeparator {
    COLOR: #000000;
	FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
}
.InputWidth {
	WIDTH: 80%;
}
.StatisticsBar {
	BACKGROUND-COLOR: #A8BCC8;
}
.HightLightRow {
    BACKGROUND-COLOR: #B0B0B0;
    FONT-WEIGHT: bold;
}

/*
	Popup styles
*/
.PopupContainer {
	HEIGHT: 100%;
	WIDTH: 100%;
	TEXT-ALIGN: center;
}
.PopupTitle {
	BACKGROUND-COLOR: #D6D7D9;
	HEIGHT: 15px;
	VERTICAL-ALIGN: middle;
	TEXT-ALIGN: center;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.PopupBG {
	BACKGROUND-COLOR: #D6D7D9;
}

/*
	BuyNow section
*/
.BuyNowQuantity {
	HEIGHT: 25px;
	WIDTH: 15%;
	WHITE-SPACE: nowrap;
	PADDING-RIGHT: 10px;
}
.BuyNowPrices {
	WIDTH: 100%;
	HEIGHT: 25px;
	VERTICAL-ALIGN: middle;
}

/*
	Vertical menu
*/
.VertMenuLeftColumn {
	WIDTH: 150px;
	VERTICAL-ALIGN: top;
	PADDING-LEFT: 6px;
	PADDING-RIGHT: 20px;
}
.VertMenuRightColumn {
	WIDTH: 148px;
	VERTICAL-ALIGN: top;
	PADDING-LEFT: 20px;
	PADDING-RIGHT: 6px;
}
.VertMenuBox {
	BACKGROUND-COLOR: #D6D7D9;
	PADDING: 1px;
}
.VertMenuBorder {
	BACKGROUND-COLOR: #68C1FF;
}
.VertMenuTitle {
	BACKGROUND-COLOR: #081589;
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	PADDING: 1px;
}
.VertMenuSubTitle {
	BACKGROUND-COLOR: #081589;
}
.VertMenuTitleIcon {
	WIDTH: 21px;
	HEIGHT: 20px;
	MARGIN-LEFT: 8px;
	MARGIN-RIGHT: 8px;
	VERTICAL-ALIGN: middle;
}
.VertMenuItems {
	COLOR: #000000;
	TEXT-DECORATION: none;
}
A.VertMenuItems:link {
	COLOR: #081589;
	TEXT-DECORATION: none;
}
A.VertMenuItems:visited {
	COLOR: #081589;
	TEXT-DECORATION: none;
}
A.VertMenuItems:hover {
	COLOR: #FF0000;
	TEXT-DECORATION: underline;
}
A.VertMenuItems:active  {
	COLOR: #081589;
	TEXT-DECORATION: none;
}
.VertMenuItemsHL{
	COLOR: #000000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.VertMenuItemsHL:link {
	COLOR: #081589;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.VertMenuItemsHL:visited {
	COLOR: #081589;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.VertMenuItemsHL:hover {
	COLOR: #FF0000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}
A.VertMenuItemsHL:active  {
	COLOR: #081589;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
.VertMenuHr {
	WIDTH: 100%;
	HEIGHT: 1px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	COLOR: #999999;
}
.CategoriesList {
	FONT-SIZE: 12px;
}

/*
	Dialog box
*/
TABLE.DialogBox {
	WIDTH: 100%;
	HEIGHT: 100%;
	VERTICAL-ALIGN: top;
}
TD.DialogBox {
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: left;
	PADDING: 10px;
}
.DialogBorder {
	BACKGROUND-COLOR: #68C1FF;
	HEIGHT: 100%;
	PADDING: 0px;
}
TD.DialogTitle {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/dialog_bg_n.gif);
	VERTICAL-ALIGN: bottom;
	HEIGHT: 15px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 0px;
	TEXT-ALIGN: left;
}
FONT.DialogTitle {
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	VERTICAL-ALIGN: bottom;
	HEIGHT: 15px;
	TEXT-ALIGN: left;
	MARGIN-LEFT: 10px;
}

/*
	Dialog info box
*/
TABLE.DialogInfo {
	WIDTH: 85%;
	TEXT-ALIGN: center;
}
.DialogInfoTitle {
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	VERTICAL-ALIGN: bottom;
	TEXT-ALIGN: left;
	HEIGHT: 15px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
}
.DialogInfoTitleBorder {
	BACKGROUND-COLOR: #FF8600;
	PADDING: 0px;
	VERTICAL-ALIGN: bottom;
	HEIGHT: 15px;
}
.DialogInfoBorder {
	BACKGROUND-COLOR: #FF8600;
	PADDING: 0px;
}
.DialogInfoIcon {
	WIDTH: 16px;
	HEIGHT: 16px;
}
.DialogInfoClose {
	WIDTH: 15px;
	HEIGHT: 13px;
}

/*
	Dialog tools section
*/
.NavDialogTitle {
	WIDTH: 50%;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    COLOR: #330000;
	PADDING-LEFT: 8px;
}   
.NavDialogBorder {
	BACKGROUND-COLOR: #D6D7D9;
}
.NavDialogBox {
	BACKGROUND-COLOR: #FFFFFF;
}
.NavDialogSeparator {
	WIDTH: 100%;
	HEIGHT: 14px;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/separator.gif);
	PADDING-LEFT: 7px;
}
.NavDialogSeparator IMG {
	WIDTH: 100%;
	HEIGHT: 14px;
}
.NavDialogCell {
	PADDING-RIGHT: 3px;
}
.NavDialogCell A IMG {
	WIDTH: 9px;
	HEIGHT: 9px;
}

/*
	Product details page
*/
.ProductTitle {
	COLOR: #081589;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.ProductTitleHidden {
	COLOR: #666666;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
}
.ProductDetailsTitle {
	COLOR: #FF3300;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.ProductDetails {
	COLOR: #000000;
}
.ProductPriceTitle {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.ProductPriceConverting {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.ProductPrice {
	COLOR: #FF3300;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.ProductPriceSmall {
	COLOR: #FF3300;
	FONT-WEIGHT: bold;
}
.SaveMoneyLabel {
	WIDTH: 57px;
	HEIGHT: 57px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/save_money.gif);
}
.MarketPrice {
	FONT-SIZE: 14px;
	FONT-FAMILY: Times New Roman;
}

/*
	Products list
*/
.PListImgBox {
	WIDTH: 90px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: top;
	WHITE-SPACE: nowrap;
}
HR.PListLine {
	WIDTH: 100%;
	HEIGHT: 1px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px;
}
.PListTaxBox {
	PADDING-LEFT: 70px;
	PADDING-RIGHT: 2px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
}
.PListCell {
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: center;
	PADDING: 10px;
	VERTICAL-ALIGN: top;
}

/*
	Items style
*/
.ItemsList {
	COLOR: #330000;
	FONT-WEIGHT: bold;
}
.ItemsListDisabled {
	COLOR: #909090;
}
A.ItemsList:link {
	COLOR: #330000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.ItemsList:visited {
	COLOR: #330000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.ItemsList:hover {
	COLOR: #330000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.ItemsList:active {
	COLOR: #330000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}

/*
	Location bar
*/
.NavigationPath {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
.NavigationPath:link {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}
.NavigationPath:visited {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}
.NavigationPath:hover {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
.NavigationPath:active  {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}

/*
	Buttons
*/
.FormButton {
	COLOR: #081589;
	FONT-WEIGHT: bold;
}
TABLE.ButtonTable {
	CURSOR: pointer;
	VERTICAL-ALIGN: middle;
	DIRECTION: ltr;
}
TD.Button {								 
	BACKGROUND: url(http://myntra.myntassets.com/skin1/images/butbg.gif);
	BACKGROUND-COLOR: #68C1FF;
	BACKGROUND-REPEAT: repeat-x;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	VERTICAL-ALIGN: middle;
	WHITE-SPACE: nowrap;
}
FONT.Button {								 
	FONT-FAMILY: Arial;
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none;
}
IMG.ButtonSide {
	WIDTH: 7px;
	HEIGHT: 14px;
}
.SimpleButton TR TD {
	PADDING: 0px;
	WHITE-SPACE: nowrap;
}
A.Button:link, A.Button:visited, A.Button:hover, A.Button:active {
	COLOR: #330000;
	FONT-WEIGHT: bold;
}
.GoImage {
	WIDTH: 21px;
	HEIGHT: 18px;
	VERTICAL-ALIGN: middle;
	BORDER: 0px;
}

/*
	Small text/link style
*/
.SmallNote:link {
	COLOR: #888888;
	TEXT-DECORATION: none;
	FONT-SIZE: 9px;
	FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif;
}
.SmallNote:visited {
	COLOR: #888888;
	TEXT-DECORATION: none;
	FONT-SIZE: 9px;
	FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif;
}
.SmallNote:hover {
	COLOR: #888888;
	TEXT-DECORATION: underline;
	FONT-SIZE: 9px;FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif;
}
.SmallNote:active {
	COLOR: #888888;
	TEXT-DECORATION: none;
	FONT-SIZE: 9px;FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif;
}
.SmallText {
	COLOR: #7C4C00;
	TEXT-DECORATION: none;
	FONT-SIZE: 9px;
	FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif;
}

/*
	Category page
*/
.SubcatTitle {
	TEXT-ALIGN: left;
	WIDTH: 95%;
	PADDING-LEFT: 5px;
}
.SubcatInfo {
	TEXT-ALIGN: right;
	WHITE-SPACE: nowrap;
	COLOR: #000000;
}

/*
	Search sort bar
*/
.SearchSortTitle {
	FONT-WEIGHT: bold;
	PADDING-RIGHT: 20px;
}
.SearchSortLink:link, .SearchSortLink:visited, .SearchSortLink:hover, .SearchSortLink:active {
	TEXT-DECORATION: underline;
}
.SearchSortImg {
	WIDTH: 9px;
	HEIGHT: 9px;
	MARGIN-RIGHT: 5px;
}
.SearchSortCell {
	PADDING-RIGHT: 20px;
}

/*
	Expandable section
*/
.ExpandSectionMark {
	WIDTH: 11px;
	CURSOR: pointer;
	VERTICAL-ALIGN: middle;
}

/*
	Tab mechanism
*/
.Tab {
	BACKGROUND-COLOR: #D6D7D9;
	FONT-WEIGHT: bold;
	TEXT-TRANSFORM: uppercase;
	WIDTH: 85px;
	HEIGHT: 30px;
	TEXT-ALIGN: center;
}
.TabTop {
	HEIGHT: 5px;
	BACKGROUND-COLOR: #D6D7D9;
}
TD.TabLeftSide {
	WIDTH: 9px;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/tab_l.gif);
}
TD.TabRightSide {
	WIDTH: 9px;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/tab_r.gif);
}
TD.TabLeftCorner {
	WIDTH: 9px;
	HEIGHT: 9px;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/tab_c1.gif);
}
TD.TabRightCorner {
	WIDTH: 9px;
	HEIGHT: 9px;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/tab_c2.gif);
}
TD.TabCenter {
	HEIGHT: 9px;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/tab_b.gif);
}
IMG.TabCorner {
	WIDTH: 9px;
	HEIGHT: 9px;
}
IMG.TabSide {
	WIDTH: 9px;
	HEIGHT: 1px;
}

/*
	Pagination mechanism
*/
.NavigationArrow {
	WIDTH: 9px;
	HEIGHT: 9px;
}
.NavigationTitle {
	WHITE-SPACE: nowrap;
	HEIGHT: 14px;
	PADDING-RIGHT: 10px;
}
.NavigationCell {
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: bottom;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/page.gif);
	WIDTH: 17px;
	HEIGHT: 14px;
}
.NavigationCell A:link, .NavigationCell A:visited, .NavigationCell A:hover, .NavigationCell A:active {
	TEXT-DECORATION: none;
}
.NavigationCell IMG {
	HEIGHT: 1px;
	WIDTH: 17px;
}
.NavigationCellWide {
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: bottom;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/page_wide.gif);
	WIDTH: 23px;
	HEIGHT: 14px;
}
.NavigationCellWide A:link, .NavigationCellWide A:visited, .NavigationCellWide A:hover, .NavigationCellWide A:active {
	TEXT-DECORATION: none;
}
.NavigationCellWide IMG {
	HEIGHT: 1px;
	WIDTH: 23px;
}
.NavigationCellSel {
	VERTICAL-ALIGN: middle;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: center;
	WIDTH: 15px;
}

/*
	Subheader styles
*/
TABLE.SubHeaderGrey {
	WIDTH: 100%;
	MARGIN-BOTTOM: 10px;
}
.SubHeaderGrey {
	COLOR: #666666;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	PADDING: 0px;
}
.SubHeaderGreyLine {
	HEIGHT: 1px;
	BACKGROUND-COLOR: #CCCCCC;
	PADDING: 0px;
}
TABLE.SubHeaderBlack {
	WIDTH: 100%;
	MARGIN-BOTTOM: 10px;
}
.SubHeaderBlack {
	COLOR: #000000;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	PADDING: 0px;
}
.SubHeaderBlackLine {
	HEIGHT: 1px;
	BACKGROUND-COLOR: #000000;
	PADDING: 0px;
}
TABLE.SubHeaderRed {
	WIDTH: 100%;
	MARGIN-BOTTOM: 10px;
}
.SubHeaderRed {
	FONT-WEIGHT: bold;
	PADDING: 0px;
}
.SubHeaderRedLine {
	HEIGHT: 1px;
	BACKGROUND-COLOR: #550000;
	PADDING: 0px;
}
TABLE.SubHeader {
	WIDTH: 100%;
	MARGIN-BOTTOM: 10px;
}
.SubHeader {
	COLOR: #FF3300;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	PADDING: 0px;
}
.SubHeaderLine {
	HEIGHT: 1px;
	BACKGROUND-COLOR: #FF6600;
	PADDING: 0px;
}

/*
	User profile page
*/
.RegSectionTitle {
	COLOR: #550000;
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
}

/*
	Webmaster mode
*/
SPAN.Lbl {
	COLOR: green;
	FONT-WEIGHT: bold;
}
.Section {
	MARGIN: 0px;
	PADDING: 0px;
}

/*
	Group editing of the products functionality
*/
.DataTable {
	BORDER-RIGHT: solid 1px white;
}

/*
	User action field stle
*/
.UsersActionDisable {
	COLOR: #CC0000;
}
.UsersActionEnable {
	COLOR: #00CC00;
}

/*
	Data sheet container
*/
TABLE.DataSheet {
	BACKGROUND-COLOR: black;
	WIDTH: 100%;
}
TR.DataSheet {
    BACKGROUND-COLOR: #CCCCCC;
    COLOR: #000000;
	FONT-WEIGHT: bold;
    HEIGHT: 20px;
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: uppercase;
	WHITE-SPACE: nowrap;
}
TABLE.DataSheet TR TD {
    BACKGROUND-COLOR: white;
	PADDING: 2px;
}
TABLE.DataSheet TR TH {
	PADDING: 2px;
}

/*
	Images location page styles
*/
.DBOption {
	COLOR: #0000CC;
}
.FSOption {
	COLOR: #CC0000;
}
/*
	Product options module
*/
.DataField {
	PADDING-BOTTOM: 20px;
}

/*
		-- ADDONS --
*/

/*
	Special offers module
*/
.SpecialOffersThumb {
	DISPLAY: inline;
	MARGIN-LEFT: -51px;
}
.SpecialOffersThumb A IMG {
	WIDTH: 47px;
	HEIGHT: 44px;
}

/*
	X-Affiliate module section
*/
.AffiliateCellBG {
	WIDTH: 19px;
	HEIGHT: 19px;
	VERTICAL-ALIGN: middle;
	BACKGROUND-IMAGE: url(http://myntra.myntassets.com/skin1/images/tree_v.gif);
}
.AffiliateCell {
	WIDTH: 19px;
	HEIGHT: 19px;
	VERTICAL-ALIGN: middle;
}
.AffiliateElmTitle {
	TEXT-ALIGN: center;
	FONT-WEIGHT: bold;
	BACKGROUND-COLOR: #D6D7D9;
	PADDING: 1px;
}
.AffiliateElmIconBox {
	WIDTH: 70px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
}
.AffiliateElmsBox {
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: top;
	HEIGHT: 100%;
}
.MediaElementProperties {
    COLOR: #666666;
    FONT-SIZE: 10px;
}
.PImageImageCell {
	PADDING: 5px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	HEIGHT: 100%;
}
.PImageImageCell IMG {
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
}
.PImageNumbersCell {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	WHITE-SPACE: nowrap;
}
.PImageLine {
	HEIGHT: 1px;
	BACKGROUND-COLOR: #CCCCCC;
}
.PImageLine IMG {
	HEIGHT: 1px;
}
BODY.PImage {
	BACKGROUND-COLOR: #FFFFFF;
}
.PImagePageRow {
	HEIGHT: 30px;
	VERTICAL-ALIGN: middle;
	PADDING-LEFT: 10px;
}
.EqualRow {
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: center;
}
.ITEM_PARENT_DIV {
float:left;width:850px;border : 2px solid #D2E294;background-color : #A9D6EB;
}

.ITEM_SEARCH_BUTTON_DIV{
float:left;width:850px;height:20px;margin-top : 10px;border : 2px solid #D2E294;background-color : #A9D6EB;
}

.ITEM_FIRST_CHILD_DIV{
float:left;width:278px;height:auto;border : 0px solid #333333; margin: 10px;
}

.ITEM_LABLE_DIV{
float:left;border : 0px solid #000000;width:80px;text-align : center;padding-top : 5px;
}

.OPS_PARENT_DIV{
	float:left;width:100%;border:2px solid #D2E294;background-color : #A9D6EB;
}

.OPS_FIRST_CHILD_DIV{
	float:left;width:24.5%;solid #AAAAAA;font-size:1.5em;
}

.OPS_URI_DIV{
	flost:left;width:100%;solid #AAAAAA;font-size:1.0em;
}
.ITEM_FIELD_DIV{
float:left;border : 0px solid #000000;width:80px;padding-top : 5px;
}

.DIV_TABLE{
float:left;width:1175px;border : 0px solid #999999;background-color : #D2E294;
}

.DIV_TABLE .DIV_TH{
float:left;width:1175px;height:35px;border : 0px solid #D2E294;background-color : #C3D9FF;
}

.DIV_TABLE .DIV_TR{
float:left;width:1175px;height:35px;border : 0px solid #D2E294;background-color : #E0ECFF;
}

.DIV_TH .DIV_TD{
float:left;height:33px;border:1px solid #B5EDBC;text-align : center;text-transform:uppercase;font-size:1.1em;font-weight:bold;
}

.DIV_TR .DIV_TR_TD{
float:left;border:1px solid #B5EDBC;text-align : center;text-transform:lowercase;font-size:1.1em;font-weight:normal;
}

.ORG_MAIN_HEADER{
width:782px;border: 0px solid #B5EDBC;background-image:url('http://myntra.myntassets.com/skin1/mkimages/main_heading_header.png'); background-repeat:repeat-x;height:47px;margin:0px 0px 4px 0px;
}

.ORG_MAIN_HEADER_HEADING{
float:left;margin:10px 0px 5px 10px;color:#0A3B73;font: 1.8em "Trebuchet MS", Verdana, Arial, sans-serif;font-weight:bold;
}

.ORG_ACCOUNT_CREATE_CONTAINER{
width:780px;height:auto;border: 2px solid #B5EDBC;background-color:#E0ECFF;
}

.ORG_ACCOUNT_ERROR_CONTAINER{
display:block;width:780px;height:auto;border: 2px solid #FF0000;background-color:#E0ECFF;
}

.ORG_ACCOUNT_CREATE_HEADER{
width:760px;background-image:url('http://myntra.myntassets.com/skin1/mkimages/org_heading_header.jpg'); background-repeat:repeat-x;height:25px;border:0px solid #000000;margin:4px 4px 4px 8px;
}
.ORG_ACCOUNT_CREATE_HEADER_HEADING{
float:left;margin:5px 0px 5px 10px;color:#FFFFFF;font: 1.4em "Trebuchet MS", Verdana, Arial, sans-serif;font-weight:bold;
}

.ORG_ACCOUNT_CREATE_DATAROW{
width:760px;height:20px;border: 1px solid #B5EDBC;margin:4px 4px 4px 8px;background-color:#C3D9FF;
}
.ORG_ACCOUNT_ERROR_MESSAGE{
width:758px;height:auto;
border: 0px solid #f30808;
margin:4px 0px 4px 8px;
background-color:#e3f7be;
color:#f30808;font: 1.4em "Trebuchet MS", Verdana, Arial, sans-serif;

}
.ORG_ACCOUNT_ERROR_MESSAGE_CLOSE{
width:758px;height:20px;margin:4px 0px 4px 8px;border: 1px solid #f30808margin:4px 0px 4px 0px;
background-image:url('http://myntra.myntassets.com/skin1/mkimages/click-to-close.png');
background-repeat:no-repeat;background-position:top right;cursor:pointer;
}
.ORG_ACCOUNT_CREATE_LABLE{
float:left;width:130px;height:20px;text-align:left;padding-left:10px;font-weight:bold;
}
.ORG_ACCOUNT_CREATE_FIELD{
float:left;width:180px;height:auto;text-align:left;
}
.ORG_ACCOUNT_CREATE_ALERTS_BOX{
float:left;width:40px;height:20px;
}
.ORG_ACCOUNT_ALERT{
display:none;margin-left:7px;height:20px;width:20px;border: 0px solid #000000;background-image:url('http://myntra.myntassets.com/skin1/mkimages/mandatory.png'); background-repeat: no-repeat;
}

.ORG_ACCOUNT_CREATE_BLOCK_SEPERATOR{
width:760px;height:0px;margin:4px 4px 4px 8px;background-color:#FFFFFF;
}

.ORG_ACCOUNT_CREATE_CONFIG_CHECK{
float:left;width:59px;height:20px;text-align:right;padding-right:0px;
}

.ORG_ACCOUNT_CREATE_CONFIG_TEXT{
float:left;width:299px;height:20px;text-align:left;padding:3px 0px 0px 5px;font-weight:bold;
}

.ORG_ACCOUNT_CREATE_CONFIG{
float:left;width:390px;height:20px;text-align:left;padding-left:0px;
}

.ORG_ACCOUNT_CREATE_BUTTON{
width:200px;background:transparent url('http://myntra.myntassets.com/skin1/mkimages/bg_add_conn_18x1.gif') repeat-x scroll 0px;height:20px;color:#FFFFFF;font: 1.2em "Trebuchet MS", Verdana, Arial, sans-serif;font-weight:bold;border:1px solid #CC3300;
}

.ORG_ACCOUNT_ACTION_BUTTON{
padding:0.2em 8px;background:transparent url('http://myntra.myntassets.com/skin1/mkimages/org_action_buttons.png') repeat-x scroll 0px;color:#364b84;font: 1.4em "Trebuchet MS", Verdana, Arial, sans-serif;font-weight:bold;border:1px solid #FFFFFF;
}

#ORG_TABLE_HEADER{
width:760px;height:30px;margin:4px 4px 4px 8px;border-bottom:0px solid #000000;
}

#ORG_TABLE_HEADER ul{
flist-style-image:none;list-style-position:outside;list-style-type:none;text-align:left;margin:0pt;padding:0pt;
}

#ORG_TABLE_HEADER li{
float:left;height:30px;margin:0pt;line-height:25px;padding:0pt;text-align:center;overflow:hidden;color:#364a83;font: 1.4em "Trebuchet MS", Verdana, Arial, sans-serif;font-weight:bold;background-image: url('http://myntra.myntassets.com/skin1/mkimages/org_table_header.jpg');background-repeat:repeat-x;
border-left:1px solid #000000;border-top:1px solid #000000;border-bottom:1px solid #000000;
}

#ORG_TABLE_HEADER span{
line-height:22px;height:30px;text-align:center;color:#364a83;padding:0.2em 8px;
}

#ORG_TABLE_ROW{
width:760px;height:25px;margin:4px 4px 4px 8px;border-left:1px solid #000000;
}

#ORG_TABLE_DATA{
float:left;height:25px;border-right:1px solid #000000;border-top:1px solid #000000;
border-bottom:1px solid #000000;font-weight:bold;text-align:center;
}

.left { float: left; }
.right {float: right; }

#overlay {position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:800;
background-image:url(http://myntra.myntassets.com/skin1/mkimages/spacer_transparent.png);
opacity:0.5;
filter:alpha( opacity = 50 );
-moz-opacity:    0.5}

#selection {position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:900}

#selection .wrapper {width:580px;
margin-left:-290px;
margin-top:-180px;
position:absolute;
left:50%;
top:50%;
font-size:0.8em;
font-style:normal;
color:#666;
text-decoration:none}

#messagewide {position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:900;
color:#fff}

#messagewide .wrapper {width:406px;
margin-left:-103px;
margin-top:-100px;
position:absolute;
left:50%;
top:50%;
font-size:0.8em;
font-style:normal;
color:#000;
text-decoration:none}

table.records{border-collapse:collapse;}
table.records td{padding:1px 4px 1px 6px;}
table.records tr.TableHead td{text-transform:capitalize;}
span.delete-bt,span.edit-bt,span.info-bt,span.serp-bt{
  background-image:url(http://myntra.myntassets.com/skin1/images/admin/action-sprite.png);background-repeat:repeat;
  width:16px;height:16px;display:inline-block;margin:4px 0px;
}
span.delete-bt{background-position:0px 0px;}
span.edit-bt{background-position:-16px 0px;}
span.info-bt{background-position:-32px 0px;}
span.serp-bt{background-position:-48px 0px;}
ul.unused{padding:2px;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:10px;margin-left:30px;}
ul.unused li{padding:2px 4px 2px 10px;list-style-type:decimal;}
ul.unlist{list-style:none outside none;margin: 0px;padding: 0px;}
ul.unlist li{margin-bottom:5px;}

table.serpstats{border-collapse:collapse;}
table.serpstats td{border:1px solid #999999;font-size:10px;padding:0px 3px;}
table.serpstats tr.even td{background-color:#EEE;}
table.serpstats td.td0{color:#AAA;}
table.serpstats td.rline{border-right:1px solid #000;}
table.serpstats td.up{color:green;}
table.serpstats td.down{color:red;}

table.serp td{padding:5px 10px 5px 4px;border-bottom:1px solid #AAA;}
table.serp td.td1{padding-left:10px;line-height:24px;}
table.serp td.td2{border-left:1px solid #DDD;}

td.urls{line-height:24px;}
b.valid,span.wrong,span.noserp{padding:0px 4px;line-height:24px;}
b.valid{color:#333;background-color:#F8F8F8;border:1px solid #EEE;}
span.wrong{color:#EEF;background-color:#456;border:1px solid #666;}
span.noserp{color:#FFF;background-color:#E44;border:1px solid #F64;}
div.otherurl{color:#678;border:1px solid #EEE;padding-left:10px;background-color:#F8F8F8;}

div.graph{border:1px solid #777;margin:4px;padding:6px;}
table.stats{border-collapse:collapse;border-color:#888;margin:auto;width:600px;}
table.stats td{padding:5px;margin:0px;border:1px solid #888;text-align:center;}
table.stats td.head{background-color:#DEF;font-weight:bold;}
table.stats td.none{border:none;background:none;}
table.stats tr.total td{border-top-color:#000;}
div#script-container{display:block;margin:0px;padding:0px;line-height:0px;font-size:0px;}

.topNav{float:left; width:100px; text-align:center;}

.lightGrey{BACKGROUND-COLOR:#EEEEEE;}
.grey{BACKGROUND-COLOR:grey;}
.darkGrey{BACKGROUND-COLOR:#EEFFFF;}
.blurred{color:#999999;}

.return-left-div {
    float: left;
    width: 300px;
    margin-left: 50px;
}

.return-right-div {
    float: left;
    width: 300px;
    margin-left: 20px;	
}

#progress_container {
    width: 400px; 
    height: 20px; 
    border: 1px solid #CCCCCC; 
    background-color:#EBEBEB;
    display: block; 
    margin:5px 0px 15px 0px;
}

#progress_bar {
    position: relative; 
    height: 20px; 
    background-color: #6c8aa1; 
    width: 0%; 
    z-index:10; 
}

#progress_completed {
    font-size:16px; 
    z-index:40; 
    line-height:30px; 
    padding-left:4px; 
    color:#FFFFFF;
}

.overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    position: fixed;
    z-index: 800;
}

.popup_title {
    display: none;
    background-color:#E8E8E8;
    height:27px;
}

.popup_ajaxWindowTitle {
    float:left;
    margin-bottom:1px;
    padding:7px 0 5px 10px;
}

.popup_closeAjaxWindow {
    float:right;
    margin-bottom:1px;
    padding:7px 10px 5px 0;
    text-align:right;
}

.section-heading {font-size: 1.5em;line-height:20px;font-weight:bold;color:#333333;}
.prepend {
    padding-left: 10px;
}

.divider {background:#fff;color:#fff;visibility:hidden;margin:0px;padding:0px;clear:both;height:10px;font-size:0px;line-height:0px;}
.blue-divider {margin:0px;padding:0px;clear:both;height:4px;background:transparent url(http://myntra.myntassets.com/skin1/myntra_images/line.png) 0 0 no-repeat;}

/* Returning items */

.item-info{width:225px; float:left;}
.item-img{min-height: 70px; width: 100px;float:left; background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #CCCCCC;float: left;margin:5px 20px 0 0;padding: 10px;}
.item-img img{width: 100px;}

.return-item-details {
    width: 250px;   
}

.return-reason-details { 
    width: 350px;
}

#returnsubmitform div, #returnsubmitform td {
	font-size: 12px;
} 

#returnsubmitform ul{
    list-style:none outside none;
    margin:0;
    padding:0;
}

.return-select { 
    margin:0; padding: 2px; font-size: 100%; font-family: inherit; width: 240px;border: 1px solid #CCCCCC; background-color: #FFFFFF;
}

.return-details-box {
    margin: 0; height: 100px; width: 240px;border: 1px solid #CCCCCC;
}

#selected-address-details {
    padding: 10px 0px;
}

.addressblock {
    background:url("http://myntra.myntassets.com/skin1/images/left-block-bg.gif") repeat-x scroll left top transparent;
    border:1px solid #CCCCCC;
    margin:5px 0 0;
    overflow:hidden;
    position:relative;
    padding: 5px 10px;
    line-height: 1.5em;
    -moz-border-radius:5px 5px 5px 5px;
    width: 330px;       
}

.addressblock .setname {
    color:#006699;
    text-transform:uppercase;
}

.addressblock .name {
    font-size:14px;
    font-weight:bold;
}

#no-pickup-available {
    -moz-border-radius:5px 5px 5px 5px;
    padding: 5px 10px;
    color: red;
}

.editAddress {
	background-image: url("http://myntra.myntassets.com/skin1/images/add-edit-icon.gif");
    background-repeat: no-repeat;
    height: 16px;
    width: 15px;
    float: right;
    position: relative;
}

.new-address-block { 
    background-color:#fbfbfb;
    border:3px solid #CCCCCC;
    padding: 20px 0 10px 20px; 
    overflow:hidden;
}

.clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clear {
	display: inline-block;
}
 
html[xmlns] .clear {
	display: block;
}
 
* html .clear {
	height: 1%;
}
.new-address-block div .label { float: left; width: 100px; padding: 10px 0 0 0;}
.new-address-block div .field { float: left; width: 200px; }

.new-address-block p {padding:0px; margin:0px;}
.new-address-block .label span {color:red; margin: 5 0px;}
.new-address-block .field input[type="text"]{ width:190px; height:25px; padding:0 2px; margin: 5 0px;}

.new-address-block .field input, .new-address-block .field select {
    font-size: 100%; font-family: inherit; 
    border: 1px solid #D3D3D3;
    width: 190px;
    height:25px;
    color:#666666;
    padding:4 2px;
    background-color: #FFFFFF;
}

.new-address-block .field textarea{
    border: 1px solid #CCCCCC;
    color:#666666;
    padding:3px 0 0 5px;
    width: 190px;
    height: 100px;
    padding:0 2px;
}

.refunds-section-outer {
    width: 350px;
    margin: 0 20px;
}

.refunds-section-outer h4{
    margin: 0;
}

.refunds-section-inner {
    border:1px solid #CCCCCC;
    padding: 10px;
    -moz-border-radius:5px 5px 5px 5px;
}

.refunds-section-inner div {
    margin: 5px 0px;    
}

.refunds-section-inner .label {
    float:left;
    width: 220px;
    text-align: right;
}

.refunds-section-inner .field {
    float:right;
    text-align: right;
    width: 60px;    
    color:#009999;
}

.refunds-section-inner .grandlabel {
    font-size: 16px;    
    font-weight:bold;
    float:left;
    width: 220px;
    text-align: right;
}

.refunds-section-inner .grandfield {
    font-size: 16px;    
    color:#FF9933;
    font-weight:bold;
    float:right;
    text-align: right;
    width: 60px;    
}

.next-steps {
    width: 900px;
    margin-left: 10px;
}

.next-steps h3 {
    padding: 0; margin-bottom: 5px;
}
    
.next-steps ul {
    border: 3px solid #DCDCDC;  
    list-style: decimal inside;
}

.next-steps ul li{
    padding: 10px;
}

.next-steps p {
    padding: 2px 30px;
    margin: 0;
}

#link-section {
    width: 900px;
    text-align: right;
    padding: 10px 0px;  
}

.block{display:block}

.p5 {
    padding: 5px;
}

.notification {
	width: 80%; 
	margin: 0 auto; 
	border: 1px solid #CCCCCC; 
	background-color: #FFFBDF;
	color: #FF600F;
	font-weight: bold;
	font-size: 12px;
    padding: 10px;	
}

.hide {
	display: none;
}

div#vtip {
    display: none;
    position: absolute;
    padding: 5px;
    left: 5px;
    background-color: white;
    border: 1px solid #a6c9e2;
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;*/
    z-index: 3500;
}

div#vtooltip {
    display: none;
    position: absolute;
    left: 5px;
    background-color: white;
    z-index: 3500;
}


.section {
    margin: 15px 0;
}

.toggleHead {
    background-color: #FAFBFD;
    border: 1px solid #68C1FF;
    cursor: pointer;
    padding-left: 3px;
}

.section-head {
    font-size: 1.25em;
    font-weight: bold;
    height: 15px;
    padding: 5px 0px;
}

.divClose .arrow {
    background-image: url("http://myntra.myntassets.com/skin1/images/sprite-icons-10.png");
    background-position: 2px -350px;
    float: left;
    height: 12px;
    margin: 1px 0 0 2px;
    width: 10px;
}

.divOpen .arrow {
    background-image: url("http://myntra.myntassets.com/skin1/images/sprite-icons-10.png");
    background-position: 2px -360px;
    float: left;
    height: 12px;
    margin: 1px 0 0 2px;
    width: 13px;
}

.toggleHead a {
    padding-left: 5px;
    text-decoration: none;
}

.toggleHead a p{
    width: 95%;
    float: left;
    margin: 1px 0 0 2px;
    color: #2E3D8C;
    font-size: 13px;
}

.section-details {
   border: 1px solid #68C1FF;
   border-top: none;
   padding: 5px;
}

.contentPane {
    margin: 0;
    overflow: auto;
    padding: 5px 5px 0;
}

.contentPane .titlePane {
    background-color: #E7EDF9;
    border-radius: 5px 5px 0 0;
    border-style: solid solid none;
    border-left: 0.1em solid #68C1FF;
    border-top: 0.1em solid #68C1FF;
    border-right: 0.1em solid #68C1FF;
    font-weight: bold;
    height: 20px;
    margin: 0;
    padding: 5px;
    white-space: nowrap;
    color: #2E3D8C;
    font-size: 12px;
}

.contentPane .detailsPane {
    border-left: 0.1em solid #68C1FF;
    border-bottom: 0.1em solid #68C1FF;
    border-right: 0.1em solid #68C1FF;
    border-radius: 0 0 5px 5px;
    margin-bottom: 10px;
    padding: 10px;
}

div.notification-message {
	margin-bottom: 10px; color: #081589; font-weight:bold;
}
input.long-input {width: 200px; margin: 0 6px;}
form.unif {margin-top: 10px}










#navigation_container {
	margin: 0 auto;
	width: 900px;
}

#navigation li {
        list-style: none;
        display: block;
        float: left;
		margin: 1em 0.8em;
}

#navigation {
        text-shadow: 0 2px 1px rgba(0,0,0,0.5);
        display: block;
        text-decoration: none;
        color: #f0f0f0;
        font-size: 1.8em;
        margin: 0;
        line-height: 28px;
}

#navigation li.active a:hover,
#navigation li a:hover {
        margin-top: 2px;
}

#navigation li.active {
        font-style: italic;
}

#navigation li.active a {
}


.rectangle {
   background: #e5592e;
   height: 42px;
   /*height: 62px;*/
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  	box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  	
   -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
	border-radius: 2px;
	
   z-index: 500; 
   /* the stack order: foreground */
   /*margin: 3em 0;*/
}

.l-triangle-top {
   border-color: #d9542b transparent transparent;
   border-style:solid;
   border-width:40px;
   height:0px;
   width:0px;
   position: relative;
   float: left;
   top: 1px;
   left: -40px;
}

.l-triangle-bottom {
   border-color: transparent transparent #d9542b;
   border-style:solid;
   border-width:40px;
   height:0px;
   width:0px;
   position: relative;
   float: left;
   top: -39px;
   left: -120px;
}


.r-triangle-top {
   border-color: #d9542b transparent transparent;
   border-style:solid;
   border-width:40px;
   height:0px;
   width:0px;
   position: relative;
        float: right;
        right: -40px;
        /*top: -107px;*/
        top: -41px;
}

.r-triangle-bottom {
   border-color: transparent transparent #d9542b;
   border-style:solid;
   border-width:40px;
   height:0px;
   width:0px;
   position: relative;
        float: right;
        /*top: -149px;*/
        top: -82px;
        right: -120px;
}

.multi-check {
	text-align: left;
	text-transform: capitalize;
	font-size: 16px;
	padding: 10px 0;
}
.multi-config{
	display: none;
	text-transform: none;
}
.show{
	display: block!Important;
}
.noShow{
	display: none!Important;
}
.zone-map {
	margin: 0;
	padding: 0;
}
.multi-config li {
	list-style: none;
	float: left;
	border: solid 1px #7DA6FF;
}

.multi-config div.url {
	float: left;
}

.multi-config div.title {
	float: left;
	margin-top: 10px;
}

.multi-config div.url input {
	width: 300px;
}

.multi-config div.title input {
	width: 298px;
}

.multi-config div.coord {
	float: left; 
	width: 100px;
	margin: 0 0 10px 5px;
}
.multi-config div.coord input {
	width: 60px;
}

.addRemoveZone {
	float: left;
	width: 300px;
	padding:5px 0 10px 28px; 
}
.addZone{
	float: right;
	padding: 5px 0 10px;
	font-size: 14px;
	width: 300px;
}
.addRemoveZone .removeZone{
	float: left;
}
.resizeWrapper{
	position: relative;
}
.resizeIndex { 
	background: #f81;
	opacity: 0.6;
	width: 100px;
	height: 100px;
	top:0;
	left:0;
}
.multi-config label sup {
	color: #f00;
}

/************** Notification Admin Style Starts Here ****************/
#ntfTable {
	width:99%;
	border: solid 2px #68C1FF;
}
#ntfTable .ntfTableHead {
	width:100%;	
	border-bottom: solid 2px #68C1FF;
}
#ntfTable .ntfTableHead .td{
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}
#ntfTable .td {
	border-right: solid 1px #68C1FF; 
	float: left;
	padding: 3px 0;
}
#ntfTable .td.last {
	border-right: none; 
}
#ntfTable .ntfC1 {
	width:5%;
}
#ntfTable .ntfC2 {
	width:33%;
}
#ntfTable .ntfC3 {
	width:15%;
}
#ntfTable .ntfC4 {
	width:10%;
}
#ntfTable .ntfC5 {
	width:10%;
}
#ntfTable .ntfC6 {
	width:10%;left: 
}
#ntfTable .ntfC7 {
	width:15%;
}
#ntfTable .tr{
	width: 100%;
	border-bottom: solid 1px #68C1FF;
}
#ntfTable .td.last{
	border-bottom: none;
}
#ntfTable .ntfTableHead td {
	height: 20px;
}
#createTemplate form {
	width:700px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: solid 2px #ddd;
}
#createTemplate .formElement label {
	float: left;
	width: 150px;
	font-size: 12px;
	font-weight: bold;
}
#createTemplate .formElement.or label {
	width: 530px;
}

#createTemplate form .rightElement {
	float: left;
	width: 530px;
	padding-left: 20px;
}
#createTemplate .mod {
	overflow: hidden;
	width: 700px;	
}
#createTemplate .formElement {
	margin-bottom: 20px;
}
#createTemplate h2 {
	padding-bottom: 10px;
	border-bottom: solid 2px #ddd;
	margin-bottom: 10px;
	padding-top: 30px;
}
#createTemplate h2.editNotification {
	display:none;
}
#createTemplate .singleElement {
	padding-left: 170px;
	margin-bottom: 20px;
}
#createTemplate .leftElement {
	float: left;
	width:200px;
}
#createTemplate .singleElement input {
	width: 100px;
}
#createTemplate .singleElement label {
	float: left;
	width: 80px;
	font-size: 12px;
	font-weight: bold;
}
#createTemplate .userIds {
	width:380px;
	min-height: 100px;
	font-size: 12px;
}
#createTemplate .hidden {
	display:none!important;
}

#createTemplate .ntfTitle input, #createTemplate .ntfImageUrl input {
	width: 380px;
}
#createTemplate label span {
	display: block;
	font-size: 11px;
	font-weight: normal;
}

#createTemplate .mandatoryText {
	font-size: 12px;
	font-weight: bold;
}

#createTemplate .error {
	color: #D14747;
	display: none;
	font-size: 11px;
	font-weight: normal;
}
.ntfSuccess {
	display:  none;
	color:#CB0404;
}

#delNtfTable {
	border: solid 2px #68C1FF;
	border-bottom-width: 1px;
}
#delNtfTable tr td {
	border-right:solid 1px #68C1FF;
	border-bottom: solid 1px #68C1FF;	
	font-size: 12px;
}
#delNtfTable tr th {
	border-right:solid 1px #68C1FF;
	border-bottom: solid 1px #68C1FF;
	font-size: 14px;
	font-weight: bold;
}
#delNtfTable tr th span {
	font-size: 12px;
}
#delNtfTable .tdNo {
	width:50px;
	text-align: center;
}
#delNtfTable .tdTitle {
	width: 250px;
	padding:0 10px;
	font-weight: bold;
}
#delNtfTable .tdMessage {
	width: 450px;
	padding:0 10px;	
}
#delNtfTable .tdId{
	width:120px;
	text-align: center;
}
#delNtfTable .tdImage {
	width:80px;
	text-align: center;
}
#delNtfTable .tdStartDate, #delNtfTable .tdEndDate {
	width:150px;
	text-align: center;
}
#delNtfTable .tdDel {
	border-right-width: 0;
	width: 100px;
	text-align: center;
}
#deleteNotifications form {
	display: none;
}
.userGroupCreate form input.textInput {
	width:380px;
}
.userGroupCreate form textarea {
	width:380px;
}
#createTemplate #ugCreateForm {
	border-bottom: none;
}
#delUGTable {
	border-color: #68C1FF;
    border-style: solid;
    border-width: 2px 2px 1px;
}
#delUGTable .tdNo {
    text-align: center;
    width: 50px;
}
#delUGTable tr th {
    border-bottom: 1px solid #68C1FF;
    border-right: 1px solid #68C1FF;
    font-size: 14px;
    font-weight: bold;
}
#delUGTable .tdTitle {
    font-weight: bold;
    padding: 0 10px;
    width: 280px;
}
#delUGTable tr td {
    border-bottom: 1px solid #68C1FF;
    border-right: 1px solid #68C1FF;
    font-size: 12px;
}
#delUGTable .tdMessage {
    padding: 0 10px;
	width:560px;
}
#delUGTable .tdId {
	width: 80px;
	text-align: center;
}
#delUGTable .tdDel {
    border-right-width: 0;
    text-align: center;
    width: 100px;
}
.resizeWrapper .addVariant, .resizeWrapper .editVariant {
	float: left;
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	margin-right: 20px;
}
.resizeWrapper .addVariant:hover {
	text-decoration: underline;
}
.bannerLightBox .userGroup {
	display: none;
}
.variantThumbnail{
	float: left;
	width: 425px;
	text-align: left;
}
.variantThumbnail img {
	max-width: 200px;
	margin: 10px 10px 0 0;

}
.variantThumbnail h1 {
	text-transform: capitalize;
	font-size: 16px;
}
#ugCreateForm .formElement {
	width:700px;
	float: left;
}
#createTemplate #mockView .rightElement{
	border : solid 2px #e6e6e6;
	width:316px;
	min-height: 85px;
	padding-left: 0;
	margin-left: 20px;
}
#mockView .rightElement img {
	float: left;
    margin: 10px 10px 0;
    width: 48px;
    height: 64px;
}
#mockView .rightElement h3{
	color: #333333;
    float: left;
    font-size: 12px;
    line-height: 15px;
    padding: 8px 0 3px;
    width: 243px;
    margin: 0;
    font-family: din-med,Arial,Sans-Serif;
    font-weight: bold;
}
#mockView .rightElement p {
    color: #333333;
    float: left;
    font-family: arial;
    font-size: 12px;
    line-height: 15px;
    text-transform: none;
    width: 243px;
    margin: 0;
}
#createTemplate #mockView .rightElement:hover {
	background-color:#f2f2f2; 
}
#mockView .refresh {
	float: right;
}
#mockView .mockNotificationMsg {
	display: none;
}
/************** Notification Admin Style Ends Here ****************/