<table style="border:1px black solid;border-bottom:0px; width:98%;">
<tr>
<td style="text-align:left;">SKU#</td>
<td style="text-align:left;"><input type="text" name="sku" value="{$skuno}" style="width:200px;" ></td>
<td style="text-align:left;color:red;">{$skumessage}</td>
<input type="hidden" name="optionstr" value={$optionstr} />
<input type="hidden" name="skustatus" value={$skustatus} />
</tr>
</table>