{literal}
<script language="javascript">
  	function sortProducts(id,url,pg,httplocation)
	{
		
		    var urlLoc = httplocation +"/"+url +"/"+id+"/"+pg;
			window.location = urlLoc;
	}
</script>
{/literal}


<div class="form"> 
          <div class="subhead"> 
            <p><span style="font-family:Arial;color:black;">{$headingbest}</span>

            <div style='float:right;padding-right:30px;margin-top:-22px;'><font style="font-size:0.7em;"><span class="mandatory" ><b>Shipping and Taxes extra</b></span></font></div>
           </p> 
            
          </div>
	  
	  {if $allproducts != 'empty'}

	   <div class="links"> 
            <div class="navigator"> 
              <div class="left"> 

              </div>
              <div class="right" > 
			
               <p>
		         
                {if $totalpages_best > 1}{$paginator_best}{/if}
			</p>
                <!--this is a number bar that will be used universally-->

              </div>
              <div class="clearall"></div>
            </div>
	   
          </div>
     {/if}


