<div class="menu_column" style="width:90px;"><!--inline style rto be removed later--> 
       
	  <!-- Affiliate  featured shops 
       <div class="sidemenudark" style='background-color:#F8F8F8;'>
          <div class="head"> 
            <p>featured shops</p>
          </div>
           <div class="links">

	      <ul>
	         {section name="shops" loop=$featuredShops }
	    	     <li>
	   	  	 <a href="shop/{$featuredShops[shops].name}">
	   	  	  {if $featuredShops[shops].logo_img ne ''}
			  	<div style="border: 1px solid #CCCCCC;height:70px;width:70px; background-position: center; background-repeat: no-repeat;margin-left:45px;">
					<div style="text-align: center; background-image: url({$http_location}/images/b.gif); width: 60px; height: 60px; vertical-align: middle;margin:5px">
         	        			<img style="border: 0px solid #CCCCCC;" height="60px" width="60px" alt='Buy unique t-shirts,mugs from shop {$featuredShops[shops].name}' src="{$http_location}/{$featuredShops[shops].logo_img}" />
			               </div>
			     </div>
			   {else}
			       <div style="text-align: center;"><img src="{$cdn_base}/default_logo.gif"  alt='Buy unique t-shirts,mugs from shop {$featuredShops[shops].name}'  width="70px" style="border: 0px solid #CCCCCC;"  /></div>
			   {/if}
			  </a>
			  
<div style='text-align:center;margin-left:-7px;font-size:1.1em;'><a href='{$http_location}/shop/{$featuredShops[shops].name}'>{$featuredShops[shops].name}<br/>
 {$featuredShops[shops].count} product(s)</a></div>
<br/>

		     </li>
                 {/section} 
		    </ul>
               </div>
               <div class="links" >
                   <a href="modules/affiliates/affiliateshops.php" title="view all shops"><p align="right" style="font-size:1.2em;">view all</p></a>
               </div>
	         <div class="foot"></div>
            </div>
-->

	
	
      </div>
