<tr>
{foreach from=$options key=optionkey item=option}
<td style="text-align:left;width:50px;">{$optionkey}</td>
<td style="text-align:left;width:100px;">
<select  name={$optionkey} style="width:80px;">					
<option value="" selected>select</option>
{foreach from=$option key=key item=item}
<option value="{$key}">{$item}</option>
{/foreach}
</select>
</td>
{/foreach}
</tr>
<tr>
<td style="text-align:left;" colspan=7>&nbsp;</td>
<td style="text-align:right;"><input type="button" onClick="validateSKU();" value="Validate SKU" style="width:80px; background-color:orange; color:#ffffff;"></td>
</tr>