 <tr>
                  <td align="right" class="listTableTD"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                      {assign var=i value=0}
                      {section name=subcategory loop=$SubCategories}
                        {assign var=i value=$i+1}
                        {if $i==6}
                            </tr>
                            <tr>
                            {assign var=i value=0}
                        {/if}
                        <td width="20%" height="20" align="left">
                            <a href="browseDesignByCategory.php?catid={$catid}&subcatid={$SubCategories[subcategory][0]}&catname={$SubCategories[subcategory][1]}" class="BlueLink">{$SubCategories[subcategory][1]}</a>
                        </td>
                      {/section}
                      {section name=remainingTD start=0 loop=5-$i}
                        <td width="20%" align="left">&nbsp;</td>
                      {/section}
                      </tr>
                      <!--<tr>
                        <td width="20%" height="20" align="left"><a href="#" class="BlueLink">Birds</a></td>
                        <td width="20%" align="left"><a href="#" class="BlueLink">Cats</a></td>
                        <td width="20%" align="left"><a href="#" class="BlueLink">Dogs</a></td>
                        <td width="20%" align="left"><a href="#" class="BlueLink">Rabbit</a></td>
                        <td width="20%" align="left">&nbsp;</td>
                      </tr>
                      <tr>
                        <td height="20" align="left"><a href="#" class="BlueLink">Bears</a></td>
                        <td align="left"><a href="#" class="BlueLink">Wolves</a></td>
                        <td align="left"><a href="#" class="BlueLink">Lions</a></td>
                        <td align="left"><a href="#" class="BlueLink">Reptiles</a></td>
                        <td align="left">&nbsp;</td>
                      </tr>
                      <tr>
                        <td height="20" align="left" valign="top"><a href="#" class="BlueLink">Whales</a></td>
                        <td align="left" valign="top"><a href="#" class="BlueLink">Turtles</a></td>
                        <td align="left" valign="top"><a href="#" class="BlueLink">Penguin</a></td>
                        <td align="left" valign="top">&nbsp;</td>
                        <td align="left" valign="top">&nbsp;</td>
                      </tr>-->
                    </table>
                      </td>
                </tr>
              <tr><td>&nbsp;</td></tr>
	       <tr><td>&nbsp;</td></tr>