{literal}
<script Language="JavaScript" Type="text/javascript">

function changeTopLinkColor(id){
//alert("inside change color");
document.getElementById(id).style.color='red';
document.getElementById(id).style.textDecoration='underline';
}
function mouseTopLinkOut(id){
//alert("inside mouseout");
document.getElementById(id).style.color='#333333';
document.getElementById(id).style.textDecoration='none';
}
</script>
{/literal}
{if $affiliateId neq '' && $themeid eq 'COBRANDED_UI'}
 &nbsp;
{elseif $loadHanumantpl eq 'Y'}
 &nbsp;  
{else}


 {literal}
<script language="javascript">
  function emptySearch(){
    var str = document.getElementById("gosearch").value;
    if(str == ""){
        alert("Please enter search keyword.")	;
        return false
    }
  }
  </script>
{/literal}

<script langugae='javascript'>
var browserName=navigator.appName;
 if (browserName=="Microsoft Internet Explorer")
 document.write("<div id='searchbox' style='margin-top:0px;'>");
else
 document.write("<div id='searchbox' style='margin-top:0px;'>");

</script>
   

 
<div  style="float:left; width:740px;margin-top:16px;_margin-top:25px;font-size:13px;">	
	<table width=740>
		<tr style='height:32px;font-size:13px;'>
			<td align='left' width='50%' valign='middle'>
					<a href="http://www.myntra.com/99-corner/"><b>Check out cool t-shirts for just 99 rs</b></a>

			</td>
			<td align='right' width='50%' valign='middle'>
					<a href="http://www.myntra.com/mkproductstylegroups.php?pid=2"><img style="border:0px;margin-bottom:5px;" border="0" src="{$cdn_base}/skin1/mkimages/create_your_own.gif" /> </a>

			</td>
		</tr>
	</table>

</div>
   
</div>

{/if}   
