
<div class="tab2-title">
	<span class="custom-title">Click below to select the Template</span>
</div>
<div class="custom-template">
	{section name=template loop=$styleTemplates}

			<div style="float:left;width:110px;height:130px;_height:140px">
			<a href="javascript:void(0);" onclick="javascript:changeStyleTemplate({$styleTemplates[template].template_master_id})" style="color:#666;text-decoration:none">
			    <img src="{$styleTemplates[template].template_thumb_image}" alt="{$styleTemplates[template].template_master_name}">
			    <b style="display:block; text-align:center;font-weight:normal;">{$styleTemplates[template].template_master_name|truncate:15:".."}</b>
			    </a>
			</div>

	{/section}
</div>

