        {assign var="defaultTitle" value="Buy Apparels  online in India - Shop for Branded Shoes, Clothing & Accessories for Men and Women in India | Myntra.com"} 
        <title>{$title|default:$defaultTitle}</title>        
        {assign var="defaultKeywords" value="Online Shopping India, Branded Shoes, Clothing, Accessories, Fashion wear, Sporting Goods, Branded apparel, Cool T-Shirts, T-shirt Designs,Footwear, Indian Team Jersey, IPL jerseys, Football jerseys, watches, kurtas, kurtis, formal wear, shirts and pants"}        
        <meta name="keywords"       content="{$keywords|default:$defaultKeywords}">
        {assign var="defaultDescription" value="Online Shopping Store in India for Branded Shoes, Clothing, Accessories for Men and Women. Branded apparels from Nike, Puma, Adidas, United Colors of Benetton, Fila, Lee Cooper etc"}
        <meta name="description"    content="{$description|default:$defaultDescription}">




