<div class="coupon-section">
	<% if (Myntra.Data.userEmail) { %>
		<% if (obj.totalCouponDiscount) { %>
			<span class="coupon-applicable">&nbsp;</span>
			<span>COUPON APPLIED</span>
			<span class="gray"> / </span>
			<span class="gray">Rs. <%=  Myntra.Utils.formatNumber(obj.totalCouponDiscount) %> OFF</span>
			<span class="gray"> / </span>
            <% if (obj.appliedCoupons.length) { %>
            	<% var monthNames = [ "January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December" ]; %>
            	<% var expiryDate = null;  %>
            	<% if((obj.appliedCoupons[0].expiryDate+'').length <= 11){ expiryDate = new Date(obj.appliedCoupons[0].expiryDate*1000);}else{expiryDate = new Date(obj.appliedCoupons[0].expiryDate);} %>
                <span class="gray">VALIDITY - <%= expiryDate.getDate() + ( [,'st','nd','rd'][/1?.$/.exec(expiryDate.getDate())] || 'th' )+ " " + monthNames[expiryDate.getMonth()] + ", " + expiryDate.getFullYear() %></span>
            <% } %>
			<span class="gray"> / </span>
			<span class="edit-coupon">
	            <div class="myntra-tooltip">
	                <div class="arrow a-out arrow-top-outer"></div>
	                <div class="arrow a-in arrow-top-inner"></div>
	                <%= obj.totalCouponDiscount? 'CHANGE COUPON' : 'APPLY COUPON' %>
	            </div>
        	</span>
        	<span class="delete-coupon">
	            <div class="myntra-tooltip">
	                <div class="arrow a-out arrow-top-outer"></div>
	                <div class="arrow a-in arrow-top-inner"></div>
	                REMOVE COUPON
	            </div>
	        </span>
		<% } else { %>
			<span class="coupon-not-applicable">&nbsp;</span>
			<a class="blue apply-coupon">APPLY COUPON</a>
		<% } %>
		
	<% } else { %>
		<span class="coupon-not-applicable">&nbsp;</span>
		<a class="login-btn blue">LOGIN </a><span>TO APPLY COUPONS</span>

	<% } %>

</div>
<div class="coupon-summary-span">
	<span class="greenrupees"> <%= obj.totalCouponDiscount? '-': '' %> Rs. <%= Myntra.Utils.formatNumber(obj.totalCouponDiscount) %></span>
</div>
<div class="coupon-summary-label">
	<label>Coupon Discount</label>
</div>
