<div class="lightbox-shim" id="lightbox-shim" style="display: none;"></div>
<div id="lb-add-coupon" class="add-coupon-form-box  lightbox <%= obj.className %>" style="display:none">
    <div class="mod" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="hd">
            <div class="title">APPLY A COUPON</div>            
        </div>
        <div class="bd" style="position: relative;">
            <div class="addr-form">
                <input type="hidden" name="_token" value="<%= Myntra.Data.token? Myntra.Data.token: ''%>">
                <input type="hidden" name="id" value="<%= obj.model? obj.model.id: '' %>">
                <input type="hidden" name="country" value="IN">
                <div class="row enter-coupon-row">
                    <span class="complete-icon">&nbsp;</span>
                    <form class="enter-coupon-wrapper" onsubmit="return false;">
                        <input type="text" name="coupon-code" />
                        <span class="mk-placeholder-text">Enter a coupon code</span>
                    </form>
                    <a class="blue clear-coupon">CLEAR</a>
                </div>
                <div class="row coupon-info text-coupon">
                    <span class="arrow-outer-bottom">&nbsp;</span>
                    <span class="arrow-inner-bottom">&nbsp;</span>
                    <% if(obj.couponApplicabilityMessage && obj.couponApplicabilityMessage.length > 0) { %>
                        <ul>
                            <% for (var i=0, len=obj.couponApplicabilityMessage.length; i<len; i++) { %>
                                <li><%= obj.couponApplicabilityMessage[i] %></li>
                            <% } %>
                        </ul>                        
                    <% } %>
                </div>
                <div class="row choose-coupon-msg">
                    <% if(obj.coupons.length) { %>
                            <span>OR CHOOSE FROM YOUR COUPONS <span class="gray">[<%= obj.coupons.length %>]</span></span> 
                    <% } else { %>
                            <span class="gray"> YOU HAVE NO ACTIVE COUPONS IN YOUR ACCOUNT </span>
                    <% } %>
                </div>
                <div class="coupon-list">
                <% if (obj.coupons.length) { %>
                    <% var monthNames = ["January","February","March","April","May","June","July","August","September","October","November","December"]; %>
                    <% var couponSelected = false; %>
                    <% _.each(obj.coupons, function (element, index, list) { %>
                       <% var expiryDate = null;  %>
            		   <% if((element.expiryDate+'').length <= 11){ expiryDate = new Date(element.expiryDate*1000);}else{expiryDate = new Date(element.expiryDate);} %>

                        <div class="row" data-couponcode="<%= element.coupon %>" data-index="<%= index %>">
                            <div class="coupon-data">
                                <span class="jqTransformRadioWrapper">
                                    <a class="jqTransformRadio <%= (!couponSelected && element.applicable)? 'jqTransformChecked': '' %> <%= !element.applicable? 'jqTransformDisabled': ''%>" rel="address-sel"></a>
                                    <% if(!couponSelected && element.applicable) { couponSelected = true; } %>
                                    <input type="radio" name="coupon-sel" value="" checked="" class="jqTransformHidden">
                                </span>
                                <div class="coupon-offer">
                                    <% if(element.displayType == "OPEN") { %>
                                        <span class="coupon-code-box"><%= element.coupon %></span>
                                    <% } else { %>
                                        <span class="coupon-code"><%= element.coupon %></span>
                                        <span class = "gray"> / </span>
                                    <% } %>
                                    <%= element.couponDescriptionText %>
                                   
                                </div>
                                <span class = "gray"> / </span>
                                <div class="coupon-details">
                                    Valid till <%= expiryDate.getDate() + ([,'st','nd','rd'][/1?.$/.exec(expiryDate.getDate())] || 'th' ) + ' ' + monthNames[expiryDate.getMonth()] + ', ' + expiryDate.getFullYear() %>                                
                                </div>
                                <span class="gray"> / </span>
                                <a class="blue coupon-details-btn">Details</a>
                                <div class="coupon-benefit">
                                    <% if(element.applicable) { %>
                                        You save <span class="green">Rs. <%= Myntra.Utils.formatNumber(element.benefit) %></span>
                                    <% } else { %>
                                    	
                                    	 <% if(element.minMore > 0) { %>
                                        Shop for <span class="red">Rs. <%= Myntra.Utils.formatNumber(element.minMore) %></span> more to apply
                                         <% } else { %>
                                         	Add applicable products to apply
                                         <% } %>
                                    <% } %>
                                </div>
                            </div>                           
                        </div>
                        <div class="row coupon-info">
                            <span class="arrow-outer-bottom">&nbsp;</span>
                            <span class="arrow-inner-bottom">&nbsp;</span>
                            <% if( element.couponType && element.couponType == 'max_percentage_dual' )  {%> 
                                	<ul><li> *upto maximum <%= element.couponAmount %>% total discount on the products </li> </ul> <% } %>
                            <% if(element.couponApplicabilityMessage && element.couponApplicabilityMessage.length > 0) { %>
                                <ul>
                                	
                                    <% for (var i=0, len=element.couponApplicabilityMessage.length; i<len; i++) { %>
                                        <li><%= element.couponApplicabilityMessage[i] %></li>
                                    <% } %>
                                </ul>                            
                            <% } %>
                            <span class="label-txt">Code</span>
                            <span class="label-txt-value"><%= element.coupon %></span>
                        </div>
                    <% }); %>
                <% } %>
                </div>
            </div>
            <span class="err no-coupon-selected hide">NO COUPON SELECTED</span>
            <span class="err network-error hide">Sorry, something went wrong. Please try again</span>
            <span class="coupon-applied-successfully hide"><span class="complete-icon">&nbsp;</span> COUPON APPLIED SUCCESSFULLY</span>
            <span class="err coupon-application-failed hide"><span class="incomplete-icon">&nbsp;</span> Sorry, this coupon is not valid</span>
            
        </div>
        <div class="ft">
            <button class="btn primary-btn btn-apply" <%= obj.coupons.length? '': 'disabled' %> >Apply</button>
            <button class="btn normal-btn btn-cancel">Cancel</button>
        </div>
        <div class="close"></div>
       <div class="lightbox-overlay hide">
           <img style="margin-top:100px" src="<%= cdn_base_url %>/skin2/images/loader_150x200.gif"/>
        </div>
    </div>
</div>
