<% if (obj.bagDiscount) { %>
<div class="bag-discount-summary-span">
	<span class="item-total">Rs.<%= Myntra.Utils.formatNumber(obj.subTotalPrice) %></span>
	<span class="greenrupees"> - Rs. <%= Myntra.Utils.formatNumber(obj.bagDiscount) %></span>	
</div>
<div class="bag-discount-summary-label">
		<label>
			<% if (obj.totalMrp != obj.subTotalPrice) { %>
			<span class="gray strike original-amount">MRP Rs.<%= Myntra.Utils.formatNumber(obj.totalMrp) %></span> 
			<% } %>
			Bag Total
		</label>
		<label>Bag Discount</label>
</div>
<% } %>