<a class="checkout-bag-header">
	<div class="mk-checkout-header">
		<span class="shopping-bag-icon">&nbsp;</span>MY SHOPPING BAG
		<%= obj.cartItemCount>0? '<span class="gray"> / ' + obj.cartItemCount + '</span>': '' %> 
			<%= obj.cartItemCount==0? '': 
				obj.cartItemCount==1? '<span class="gray"> ITEM</span>' : '<span class="gray"> ITEMS</span>' %>
	</div>
</a>
<a class="checkout-wishlist-header">
	<div class="mk-checkout-header">
		<span class="wishlist-item-count red">
			<%= obj.wishlistItemCount? 
				obj.wishlistItemCount == 0? '': obj.wishlistItemCount
				: '' %>
		</span>
		<span class="wishlist-icon">&nbsp;</span>
        <span class="mini-header">WISHLIST</span>        
	</div>
</a>