<% var productOutOfStock = false; %>
<% var sizeNotAvailable = false;  %>
<% var quantityNotAvailable = false; %>
<% var isFreeProduct = obj.freeItem %>
<% var isCustomizable = obj.isCustomizable %>
<% var isCustomized = obj.isCustomized %>
<% if (!(obj.selectedSize.available)) { %>
    <% if (_.isArray(obj.availableSizes) && !(_.where(obj.availableSizes, {'available': true}).length)) { %>

        <% productOutOfStock = true; %>
    <% } else if (!(_.isArray(obj.availableSizes) && !obj.availableSizes.available)) { %>
        
        <% productOutOfStock = true; %>
    <% } else { %>

        <% sizeNotAvailable = true; %>                        
    <% } %>
<% } else if (obj.quantity > obj.selectedSize.availableQuantity) { %>

    <% quantityNotAvailable = true; %>
<% } %>
<div class="row prod-item <%= obj.comboItem %> <%= obj.className %>" id="product_view_<%= obj.itemId %>" data-itemid="<%= obj.itemId %>" data-productNotAvailable= "<%= (productOutOfStock || sizeNotAvailable || quantityNotAvailable) && !isFreeProduct %>">
    <div class="col1">
        <% if (!isFreeProduct) { %>
		  <a href="<%= obj.landingPageUrl %>" target="_blank" onclick="_gaq.push(['_trackEvent','pdp_click', Myntra.Data.pageName, 'cart_image']);">
        <% } %>
    		<img src="<%= obj.itemImage.replace('_images','_images_96_128_mini') %>" alt="image of <%= obj.title %>">
    	</a>
    </div>
            
    <div class="col2">
        <form id="cartform_<%= obj.itemId %>" method="post" action="modifycart.php" class="form-cart-item">
            <input type="hidden" name="_token" value="<%= Myntra.Data.token? Myntra.Data.token: ''%>">
            <input type="hidden" name="cartitem" value="<%= obj.itemId %>">
            <input type="hidden" name="styleid" value="<%= obj.styleId %>">
            <input type="hidden" name="update" value="1">
            <!-- <div class="prod-code">Product Code: 78955</div> -->
            <div class="prod-name">
                <% if(!isFreeProduct) {%> 
				    <a href="<%= obj.landingPageUrl %>" onclick="_gaq.push(['_trackEvent','pdp_click', Myntra.Data.pageName, 'cart_title']);" target="_blank"> <%= obj.title %></a>
                <% } else { %>
                    <span class="free-item"> <%= obj.title %></span>
                <% } %>
            </div>
            <div class="size-qty-wrap">
                <div class="size-qty <%= !isFreeProduct && productOutOfStock? 'strike' : '' %>">                    
                    <span class="mk-custom-drop-down size <%= sizeNotAvailable? 'strike':'' %>">
                        <span class="gray">Size</span>
                        <span><%= obj.selectedSize.unifiedSize %></span>    							
					</span>
                    <span class="mk-custom-drop-down qty <%= quantityNotAvailable? 'strike': '' %>">
                        <span class="gray">Qty</span>
                        <span><%= obj.quantity %></span>                               
                    </span>
                </div>
                <span class="prod-code">
                    <label>CODE : </label>
                    <span><%= obj.styleId %></span>
                </span>
                <% if(obj.selectedSize.itemAvailabilityDetailMap[Object.keys(obj.selectedSize.itemAvailabilityDetailMap)[0]] && (obj.selectedSize.itemAvailabilityDetailMap[Object.keys(obj.selectedSize.itemAvailabilityDetailMap)[0]].supplyType === 'JUST_IN_TIME')) { %>
                <span class="prod-code supplier-details">SUPPLIED BY PARTNER</span>
                <% } %>
                    <% if(!isFreeProduct && productOutOfStock) { %>

                        <div class="myntra-tooltip out-of-stock-tooltip .product">
                            <div class="arrow a-out arrow-top-outer"></div>
                            <div class="arrow a-in arrow-top-inner"></div>
                                PRODUCT OUT OF STOCK
                            <div class="edit-move-delete">
                                <span class="move-item">&nbsp;</span>
                                <span class="move-item move-item-text">MOVE TO WISHLIST</span>
                                <span class="delete-item">&nbsp;</span>
                                <span class="delete-item delete-item-text">REMOVE</span>                          
                            </div>
                        </div>

                    <% } else if((!isFreeProduct) && (sizeNotAvailable||quantityNotAvailable)) { %>

                        <div class="myntra-tooltip out-of-stock-tooltip .size">
                            <div class="arrow a-out arrow-top-outer"></div>
                            <div class="arrow a-in arrow-top-inner"></div>
                                <% if (sizeNotAvailable) { %>
                                    SIZE NOT AVAILABLE
                                <% } else { %>
                                    ONLY <%= obj.selectedSize.availableQuantity %> <%= obj.selectedSize.availableQuantity>1? 'UNITS': 'UNIT' %> IN STOCK
                                <% } %>   
                            <div class="edit-move-delete">
                                    <span class="edit-item">&nbsp;</span>
                                    <span class="edit-item edit-item-text">EDIT SIZE & QTY</span>
                                    <span class="move-item">&nbsp;</span>
                                    <span class="move-item move-item-text">MOVE TO WISHLIST</span>
                                    <span class="delete-item">&nbsp;</span>
                                    <span class="delete-item delete-item-text">REMOVE</span>
                            </div>
                        </div>

                    <% } %>              
                </div>                            
        </form>
        <% if(!(productOutOfStock && sizeNotAvailable && quantityNotAvailable)) { %>
            <div class="edit-move-delete">
                
                <% if(!isFreeProduct) { %>
                     <span class="edit-item">
                        <div class="myntra-tooltip">
                            <div class="arrow a-out arrow-top-outer"></div>
                            <div class="arrow a-in arrow-top-inner"></div>
                            EDIT SIZE & QTY
                        </div>
                    </span>
                    <span class="move-item">
                        <div class="myntra-tooltip">
                            <div class="arrow a-out arrow-top-outer"></div>
                            <div class="arrow a-in arrow-top-inner"></div>
                            MOVE TO WISHLIST
                        </div>
                    </span>
                    <span class="delete-item">
                        <div class="myntra-tooltip">
                            <div class="arrow a-out arrow-top-outer"></div>
                            <div class="arrow a-in arrow-top-inner"></div>
                            REMOVE FROM BAG
                        </div>
                    </span>
                <% } else if(obj.discountDisplayText && obj.discountDisplayText.comboQueryString) { %>
                    <span class="edit-item">
                        <div class="myntra-tooltip">
                            <div class="arrow a-out arrow-top-outer"></div>
                            <div class="arrow a-in arrow-top-inner"></div>
                            EDIT SIZE
                        </div>
                    </span>
                <% } else if(isFreeProduct) { %>    
                    <span class="edit-item">
                        <div class="myntra-tooltip">
                            <div class="arrow a-out arrow-top-outer"></div>
                            <div class="arrow a-in arrow-top-inner"></div>
                            EDIT SIZE
                        </div>
                    </span>
                <% } %>
            </div>
             <% if(!isFreeProduct && isCustomizable) {%> 
            <div class="item-personalise">
                <%if(obj.quantity == 1){%>
                    <%if(isCustomized){%>
                        PERSONALISED NAME AND NUMBER ADDED [<a class="blue edit-personalise" data-name="<%= obj.customName%>" data-number="<%=obj.customNumber%>">EDIT</a>] [<a class="blue remove-personalise" data-name="<%= obj.customName%>" data-number="<%=obj.customNumber%>">REMOVE</a>]
                    <%}else{%>
                        <a class="blue add-personalise">PERSONALISE</a> THIS T SHIRT
                    <%}%>
                <%}else{%>
                    PERSONALISATION CAN BE DONE IF QTY SELECTED IS 1
                <%}%>
            </div>
             <%}%>
        <% } %>
       
        <div class="err item-error">
        </div>
    </div>
    <div class="col4">
        <div class="amount red">
            <span class="total-rupees">Rs. <%= Myntra.Utils.formatNumber(obj.subTotal) %></span>
        </div>
    </div>
    
    <div class="col3">
        <% if(obj.totalDiscount > 0) {%>
            <div class="discount">
                <% if(obj.discountDisplayText && obj.discountDisplayText.comboQueryString) { %>
                    <!-- Free Gift added by discount engine -->
                    <span class="green discount-percentage">GIFT
                        <a class="edit-item free-gift-item">(Change Gift)</a>
                    </span>                    
                <% } else if(isFreeProduct) { %>    
                    <span class="green discount-percentage">GIFT
                    </span>                    
                <% } else if(obj.subTotal==0 && obj.discountQuantity==obj.quantity) { %>
                    <!-- User added item issued for free -->
                    <span class="green discount-percentage">FREE</span>                    
                <% } else if(obj.discountQuantity>0 && obj.discountQuantity<obj.quantity) { %>
                    <!-- Of X user added items y are free -->
                    <span class="green discount-percentage"><%= obj.discountQuantity%> FREE</span>                    
                <% } else { %>
                    <!-- discount display string -->
                    <span class="highlight-black discount-percentage"><%= obj.discountDisplayText.text %></span>
                <% } %>

                <span class="strike gray original-amount">                   
                   Rs. <%= Myntra.Utils.formatNumber(obj.totalMrp) %>
                </span>				
    		</div>

            
        <% } %>
        <% if (obj.appliedCoupons.length && obj.appliedCoupons[0].applicationState.state=="SUCCESS") { %>
            <div class="coupon-status">
                
                <% if (obj.totalCouponDiscount>0) { %>
                     <span class="coupon-applied">&nbsp; </span>Coupon Applied
                <% } else { %>
                    <span class="coupon-not-applicable">&nbsp; </span>
                    <a class="coupon-not-applicable-msg">Coupon Not Applicable
                        <% if(obj.couponNotApplicableCartItems && obj.couponNotApplicableCartItems[obj.itemId]) { %>
                            <div class="myntra-tooltip">
                                <div class="arrow a-out arrow-top-outer"></div>
                                <div class="arrow a-in arrow-top-inner"></div>
                                <%= obj.couponNotApplicableCartItems[obj.itemId] %>
                            </div>
                        <% } %>
                    </a>
                <% } %>

            </div>
        <% } %>
    </div>
</div> 
