<div class="cart-discount-slab">
	<span>
		<% if(obj.cartOfferMessages.displayData.conditionComplete) { %>
			<span class="complete-icon">&nbsp;</span> 
		<% } %>
		<%= obj.cartOfferMessages.displayData.text %>
		<% if(obj.cartOfferMessages.slabBasedDisplayData) { %>
			<br><span>Or,&nbsp;<%= obj.cartOfferMessages.slabBasedDisplayData.text %></span>
		<% } %>
		<% if(obj.cartOfferMessages.displayData.toolTipExclusionText && obj.cartOfferMessages.displayData.toolTipExclusionText.length > 0) { %> 
			<span class="cart-discount-exclusion-tt">
				<span class="offer-conditions"></span>
				<div class="myntra-tooltip">
					<div class="arrow a-out arrow-top-outer"></div>
			        <div class="arrow a-in arrow-top-inner"></div>
			        <%= obj.cartOfferMessages.displayData.toolTipExclusionText %>
			    </div>
			</span>
		<% } %>
	</span>
</div>

