<% if(!obj.selectedSize.available || obj.selectedSize.availableQuantity < obj.quantity) { %>
    <% var disableSave = true; %>
<% } else { %>
    <% var disableSave = false; %>
<% } %>
<div id="lb-edit-cart-item" class="lightbox " style="display: none;
position: absolute;
overflow: hidden;
height: 160px;
padding: 0px;">
    <div class="row prod-item edit-product <%= obj.comboItem %>" id="product_view_<%= obj.itemId %>" data-itemid="<%= obj.itemId %>" style="padding: 0px;margin: 0px;">
            <div class="mod" style="width: 854px">
                
                <div class="bd">
                    <div class="col1">
                        <a href="<%= obj.landingPageUrl %>" target="_blank" onclick="_gaq.push(['_trackEvent','pdp_click', Myntra.Data.pageName, 'cart_image']);">
                            <img src="<%= obj.itemImage.replace('_images','_images_96_128_mini') %>" alt="image of  <%= obj.title %>">
                        </a>
                    </div>
            
                    <div class="col2">
                        <div id="cartform_<%= obj.itemId %>" class="form-cart-item" style="width: 800px;">
                           <input type="hidden" name="_token" value="<%= Myntra.Data.token? Myntra.Data.token: ''%> ">
                            <input type="hidden" name="cartitem" value="<%= obj.itemId %>">
                            <input type="hidden" name="styleid" value="<%= obj.styleId %>">
                            <input type="hidden" name="update" value="1">
                            <div class="prod-name" style="width: 455px;">
                                <span class="prod-title"><%= obj.title %></span>
                                <div class="mk-custom-drop-down size">
                                    <div class="flat-size-options">
                                        <div class="lbl"><%= _.isArray(obj.availableSizes)? 'Select a Size' : '' %></div>
                                        <div class="options">
                                        <input type="hidden" name="mk-size" class="mk-size" value="<%= obj.selectedSize.skuId %>">
                                            <% if(_.isArray(obj.availableSizes) && obj.availableSizes.length > 1) { %>
                                                <% _.each(obj.availableSizes, function (element, index, list) { %>
                                                    <button class="btn size-btn vtooltip <%= obj.selectedSize.unifiedSize == element.unifiedSize? 'selected': '' %> <%= element.available? '': 'unavailable' %>" 
                                                        data-count="<%= element.availableQuantity %>" 
                                                        value="<%= element.skuId %>" 
                                                        type="button">
                                                        <%= element.unifiedSize %>
                                                        <span class="<%= element.available? '' : 'strike' %>" >
                                                    </button>
                                                <% }); %>
                                            <% } else { %>
                                                <div class="mk-freesize" 
                                                        data-count="<%= obj.selectedSize.availableQuantity %>" 
                                                        value="<%= obj.selectedSize.skuId %>">
                                                    <%= obj.selectedSize.unifiedSize %>
                                                </div>
                                           <% } %>                           
                                        </div>
                                    </div>
                                    <div class="mk-hide mk-count-message">Only <span>0</span> left in stock</div>
                                </div>

                                <% if(!obj.freeItem) { %>
                                <div class="mk-custom-drop-down qty">
                                    
                                    <div class="qty-section <%= obj.selectedSize.available? '': 'mk-hide' %>">
                                        <div class="lbl">Select a QTY</div>
                                        <% if(obj.selectedSize.availableQuantity >=10) { %>
                                            <select class="sel-qty" name="qty">
                                                <% for (var i=1; i<=obj.selectedSize.availableQuantity ; i++) { %>
                                                    <option value="<%= i%>" <%= obj.quantity==i? 'selected': '' %> ><%= i %>
                                                    </option>
                                                <% } %>
                                            </select>
                                        <% } else if((obj.selectedSize.availableQuantity <10) && (obj.selectedSize.availableQuantity >= obj.quantity)) { %>
                                            <select class="sel-qty" name="qty">
                                                <% for(var i=1; i<=obj.selectedSize.availableQuantity; i++) { %>
                                                    <option value="<%= i%>" <%= obj.quantity==i? 'selected': '' %> ><%= i %></option>                                                
                                                <% } %>
                                            </select>
                                        <% } else if(obj.selectedSize.availableQuantity < obj.quantity) { %>
                                            <select class="sel-qty" name="qty">
                                                <option value="<%= obj.selectedSize.availableQuantity %>" selected><%= obj.selectedSize.availableQuantity %>
                                                </option>
                                                <% for(var i=1; i<obj.selectedSize.availableQuantity; i++) { %>
                                                    <option value="<%= i %>" ><%= i %></option>   
                                                <% } %>
                                            </select>
                                        <% } %>
                                        
                                    </div>
                                    
                                    <div class="qty-error-message red <%= obj.selectedSize.available? 'mk-hide' : '' %>">
                                        SIZE NOT AVAILABLE
                                    </div>
                                    <div class="qty-warning-message <%= (obj.selectedSize.availableQuantity<=9 && obj.selectedSize.availableQuantity>0)? '' : 'mk-hide' %>">
                                        ONLY <%= obj.selectedSize.availableQuantity %> <%= obj.selectedSize.availableQuantity>1? 'UNITS':  'UNIT' %> IN STOCK     
                                    </div> 
                                    
                                </div>
                                <% } %>
                            </div>

                            
                    <div class="action-buttons">
                        <button class="btn primary-btn btn-save <%= (obj.freeItem)? 'free-item' : '' %>" <%= disableSave? 'disabled': '' %> type="button">SAVE</button>
                        <button class="btn normal-btn btn-cancel" type="button">CANCEL</button>
                    </div>       
                </div>
                
                <div class="err item-error">
                </div>
            </div>

      
    </div>
    <div class="ft"></div>
    <div class="close"></div>
    <div class="loading" style="display: none;"></div>
    </div>
</div>
</div>