<div class="lbl">Select a QTY</div>
<select class="sel-qty" name="qty">
	<% for (var i=1; i<=obj.numberOfOptions; i++) { %>
		<option value="<%= i %>" <%= obj.selectedQuantity==i? 'selected': '' %>><%= i %></option>
	<% } %>
</select>