<div class="cart-list">
	<div class="err">Your Shopping Bag is empty</div>
	<div class="action">
        <span class="gray" style="font-size: 14px;">Take a look at our wide range of products</span><br>
        <div class="menu-items">
            <a href="/men" class="menu-item blue">MEN</a>
            <span class="gray separator"> | </span>
            <a href="/women" class="menu-item blue">WOMEN</a>
            <span class="gray separator"> | </span>
            <a href="/kids-landing" class="menu-item blue">KIDS</a>
            <span class="gray separator"> | </span>
            <a href="/brands"class="menu-item blue">BRANDS</a>
        </div>
    </div>
</div>