<div class="lightbox-shim" id="lightbox-shim" style="display: none;"></div>
<div id="lb-freegift" class="freegift-form-box  lightbox <%= obj.className %>" style="display:none">
	<div class="mod" style="margin-top: 20px; margin-bottom: 20px;">
		<div class="hd">
            <div class="title">CHOOSE A FREE GIFT</div>      
        </div>
        <div class="bd" style="position: relative;">
			<div class="mk-search-grid">
			    <ul class="mk-cf">
			    <% var loopIndex = 0; %>
			    <% _.each(obj, function (value, key, list) { 
			 		if(value.productOptions && value.productOptions[0]) { %>
					    <li class="mk-product mk-product-style-details <%= (loopIndex==0 || loopIndex%4==0)? 'mk-first': '' %>" data-id="prod_0_style_<%= value.styleid %>" data-skuid="<%=value.productOptions[0].sku_id%>">
					    	<% if(value.isSelected) { %>
					    		<span class="in-the-bag-text" data-styleid="<%= value.styleid %>" data-skuid="<%=value.productOptions[0].sku_id%>" data-itemid="<%= value.itemid%>"><span class="complete-icon">&nbsp;</span>&nbsp;IN THE BAG&nbsp;</span>
							<% } else { %>
								<span class="btn primary-btn add-to-bag-btn hide" data-styleid="<%= value.styleid %>" data-skuid="<%=value.productOptions[0].sku_id%>" data-widget="search_results">CHOOSE THIS GIFT</span>
							<% } %>
							<span style="display:block;cursor:pointer;" class="clearfix">
								<div class="mk-prod-img">
									<img class="" original="<%= value.search_image %>" src="<%= value.search_image %>" alt="<%= value.stylename %>" style="display: inline-block;">
								</div> 
								<div class="mk-prod-info">
								    <span class="mk-prod-brand-name"><%= value.global_attr_brand %></span>
							        <span class="mk-prod-style-name"><%= value.stylename %></span>
						        </div>
							</span>
						</li>

					<% } %>
					<% loopIndex++; %>
					<% if(loopIndex!=0 && loopIndex%4==0) { %>
						<li class="horizontal-rule"></li>
					<% } %>
					
					
				<% }); %>
			</div>
		</div>
		<span class="freegift-applied-successfully hide"><span class="complete-icon">&nbsp;</span> FREE GIFT APPLIED</span>
            <span class="err freegift-application-failed hide"><span class="incomplete-icon">&nbsp;</span>THERE WAS AN ERROR WHEN APPLYING FREEGIFT</span>
		<div class="ft">
        </div>
        <div class="close"></div>
       	<div class="lightbox-overlay hide">
            <img style="margin-top:100px" src="<%= cdn_base_url %>/skin2/images/loader_150x200.gif"/>
        </div>
	</div>
</div>
