<div class="lightbox-shim" id="lightbox-shim" style="display: none;"></div>
<div id="lb-gift-wrap" class="lightbox lb-gift-wrap" style="display: none;">   
	<div class="mod" style="margin-bottom: 20px; margin-top: 20px;">        
		<div class="hd">               
			<h2><span class="lbl">ADD A PERSONAL MESSAGE</span></h2>        
		</div>       
		<div class="bd">      		
			<div class="success-msg hide">
				<span class="icon"></span> MESSAGE SAVED
			</div>

			<div class="error-msg hide">
				<span class="icon"></span> MESSAGE WAS NOT SAVED
			</div>
			
			<div class="giftwrap-container">    
				<div class="photo"></div>
				<div class="details">              
					<label class="label">RECIPIENT NAME <span>(MAX. 60 characters)</span></label>
					<div class="input-row">
						<span class="static-text to">Dear </span>              
							<input type="text" name="giftTo" id="gift-to" value="<%= obj.recipient %>" maxlength="60"> 
							<div class="err-msg">PLEASE ENTER A NAME</div>
					</div>              
					<label class="label">MESSAGE <span>(MAX. 200 characters)</span></label>              
					<textarea maxlength="200" rows="5" id="gift-msg"><%= obj.message %></textarea>              
					<div class="err-msg">PLEASE ENTER A MESSAGE</div>              
					<label class="label">SENDER NAME <span>(MAX. 60 characters)</span></label>			   
					<div class="input-row"><span class="static-text from">From </span>              
						<input type="text" name="giftFrom" id="gift-from" value="<%= obj.sender %>" maxlength="60">
						<div class="err-msg">PLEASE ENTER A NAME</div>
					</div>              
					<div class="status-msg"></div>
					<p class="err-pincode-cod-not-available"><span class="info-icon">&nbsp;</span>  Cash on delivery not available for gift wrap orders 
            		</p>
            		<br/>           
					<button class="btn primary-btn btn-proceed small-btn">Save</button>              
					<button class="btn normal-btn btn-cancel small-btn">Cancel</button>           
				</div>
			</div>       
		</div>   
		<div class="close"></div>
	</div>
</div>