<div class="myntra-tooltip">
	<ul>
		<% _.each(obj.moreShoppingData, function(element, index, list) { %>
			<li>
				<a href="<%= encodeURI(decodeURI(element.link)) %>"><%= encodeURI(element.text).replace(/%20/g,' ') %></a>
			</li>
		<% }); %>
	</ul>
</div>