<div class="gift-wrap-order">
	
	<div id="giftwrap_<%= obj.cartID %>">
		<% if(!obj.isGiftOrder) { %>		
			<span class="gift-wrap-checkbox">&nbsp;</span>
			<a class="blue edit-giftcard-lbl">GIFT WRAP</a>
			<span style="display: inline-block;"> FOR Rs. 25 </span>			
		<% } else { %>
			<span class="gift-wrap-checkbox checked">&nbsp;</span>
			<span>GIFT WRAPPED</span>
			<span class="gray" style="display: inline-block;"> / </span>
			<a class="edit-giftcard" style="display: inline-block;">
				<div class="myntra-tooltip">
	                <div class="arrow a-out arrow-top-outer"></div>
	                <div class="arrow a-in arrow-top-inner"></div>
	                EDIT MESSAGE
	            </div>
			</a>
			<a class="delete-giftcard" style="display: inline-block;">
				<div class="myntra-tooltip">
	                <div class="arrow a-out arrow-top-outer"></div>
	                <div class="arrow a-in arrow-top-inner"></div>
	                CANCEL GIFT WRAP
	            </div>
			</a>
		<% } %>
	</div>
</div>

<div class="order-summary-span">
	<span class="item-total">Rs. <%= Myntra.Utils.formatNumber(obj.subTotalPrice-obj.bagDiscount) %></span>
	<% if(obj.vatCharge > 0) { %>
		<span class="vat-fee">
			<span class="vat-charge">Rs. <%= obj.vatCharge %></span>
		</span>
	<% } %>
	<span class="shipping-fee">
		<% if(obj.shippingCharge) { %> 
		<span class="shipping-charge">Rs. <%= obj.shippingCharge %></span>
		<% } else { %>
		<span class="shipping-free red">Rs. 0</span>
		<% } %>
	</span>
	<% if(obj.isGiftOrder) { %>
		<span class="gift-charge red">Rs. <%= obj.giftCharge %></span>
	<% } %>
</div>
<div class="order-summary-label">
		<label>
			<% if(obj.bagDiscount) { %>
				Sub Total
			<% } else { %>
				<% if(obj.totalDiscount>0) { %>
					<span class="gray strike original-amount">MRP Rs. <%= Myntra.Utils.formatNumber(obj.totalMrp) %></span> Sub Total
				<% } else { %>
				   Bag Total
				<% } %>
			<% } %>
		</label>
		<% if(obj.vatCharge > 0) { %>
		<label>
			<span class="vat-charges-span">
				<span class="vat-tooltip">Why?
					<div class="myntra-tooltip">
						<div class="arrow a-out arrow-top-outer"></div>
					        <div class="arrow a-in arrow-top-inner"></div>
					       	<%= Myntra.Data.vatTooltip %>
					</div>
				</span>
			</span>VAT Collected
		</label>
		<% } %>
		<label>
			<% if (obj.shippingCharge) { %> 
				<span class="delivery-charges-span">
					<span class="delivery-tooltip">Want Free Delivery?
						<div class="myntra-tooltip">
							<div class="arrow a-out arrow-top-outer"></div>
					        <div class="arrow a-in arrow-top-inner"></div>
					       	<%= obj.shippingDiscountData.text %>
					    </div>
				    </span>
				</span>
			<% } %>
			<% if(!obj.shippingCharge){ %>
				<% if(obj.shippingDiscountData && obj.shippingDiscountData.text && obj.shippingDiscountData.text.indexOf('LOYALTY_MESSAGE') != -1){ %>
					<span class="free-delivery-msg gray"><%= obj.shippingDiscountData.text.split(':')[1].trim() %></span>&nbsp;
				<% } %>
			<% } %>
			Delivery 
			<% if(obj.shippingCharge){ %>
				Charges
			<% }else{ %>
				<span class='shipping-free green'>FREE</span>
			<% } %>
			</label>
		<% if(obj.isGiftOrder) { %>
			<label>Gift Wrap Charges</label>
		<% } %>
</div>


