<div class="order-total <%= obj.className %>">
	<div class="more-shopping">
		MORE SHOPPING
		<span class="more-shopping-dropdown-icon">&nbsp;</span>		
	</div>
	<div class="place-order"><%= obj.placeOrderButton %></div>
	<div class="total-amount">TOTAL <span class="total-rupees">Rs. <%= Myntra.Utils.formatNumber(obj.totalPriceWithoutMyntCash) %></span></div>
</div>