<div class="lightbox-shim" id="lightbox-shim" style="display: none;"></div>
<div id="lb-personalise" class="lightbox lb-personalise" style="display: none;">   
	<div class="mod" style="margin-bottom: 20px; margin-top: 20px;">        
		<div class="hd">               
			<h2><span class="lbl">PERSONALISE YOUR T-SHIRT</span></h2>        
		</div>       
		<div class="bd">      		
			<div class="success-msg hide">
				<span class="icon"></span> SAVED
			</div>

			<div class="error-msg hide">
				<span class="icon"></span> NOT SAVED
			</div>
			
			<div class="personalise-container">    
				<div class="photo"></div>
				<div class="details">              
					<div>
						<h5>Stand out in the crowd</h5>
						<p>by getting a personalised branded T-shirt.<br> Get your name and number of your choice printed on it.</p>
					</div>
					<label class="label">NAME ON T-SHIRT<span> (MAX. 7 CHARACTERS)</span></label>
					<div class="input-row">
							<input type="text" name="personaliseName" id="personalise-name" value="<%= obj.pname %>" maxlength="7" placeholder="e.g. Sachin"> 
							<div class="err-msg">PLEASE ENTER A NAME (ALPHABETS ONLY)</div>
					</div>              
					
					<label class="label">NUMBER<span> (MAX. 2 CHARACTERS)</span></label>			   
					<div class="input-row">              
						<input type="text" name="personaliseNumber" id="personalise-number" value="<%= obj.pnumber %>" maxlength="2" placeholder="e.g. 10">
						<div class="err-msg">PLEASE ENTER A NUMBER</div>
					</div>              
					<div class="status-msg"></div>
				
					<button class="btn primary-btn btn-proceed small-btn">Save</button>              
					<button class="btn normal-btn btn-cancel small-btn">Cancel</button>
					   
				</div>
			</div>       
		</div> 

		<div class="close"></div>
	</div>
</div>