<% var comboURL = location.protocol + '//' + location.hostname + '/' + (location.protocol=='http:' ? '' : 's_') + 'comboController.php?cid=' + obj.comboId; %>
<div class="product-combo">
	<span class="combo-icon">&nbsp;</span>
	<span class="arrow-down">&nbsp;</span>
	<div class="combo-message">
		<% if(obj.conditionComplete) { %>
			<span class="complete-icon">&nbsp;</span> 
				Combo Complete 
			<span class="gray">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
			<span class="combo-data"><%= obj.text %></span>
			
		<% } else { %>
			<a class="combo-handler" href="<%= comboURL %>" data-comboid="<%= obj.comboId %>"><span class="combo-data"><%= obj.text %></span></a>
		<% } %>
		<a class="edit-combo combo-handler" href="<%=comboURL%>" data-comboid="<%= obj.comboId %>">
            <div class="myntra-tooltip">
                <div class="arrow a-out arrow-top-outer"></div>
                <div class="arrow a-in arrow-top-inner"></div>
                EDIT THIS COMBO
            </div>
		</a>
	</div>
</div>