{* $Id: template_sample_1.tpl,v 1.4 2006/02/10 14:15:19 max Exp $ *}

{assign var="TplImages" value="`$SkinDir`/modules/Gift_Certificates/images"}

<table width="650" cellpadding="0" cellspacing="0">
<tr>
	<td>
		<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td><img src="{$TplImages}/left_top.gif" /></td>
			<td width="100%" valign="top"><img src="{$TplImages}/top_border.gif" width="100%" height="14" /></td>
			<td><img src="{$TplImages}/right_top.gif" /></td>
		</tr>
		</table>
	
		<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td><img src="{$TplImages}/left_border.gif" width="16" height="700" /></td>
			<td><img src="{$TplImages}/spacer.gif" width="34" height="1" /></td>
			<td width="100%" valign="top">
				
				<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td width="100%"><img src="{$TplImages}/company_logo.gif" width="103" height="31" /></td>
				</tr>
				</table><br />

				<center>
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td valign="bottom">
						<img src="{$TplImages}/spacer.gif" width="1" height="350" /><br />
						<img src="{$TplImages}/theme.jpg" />
					</td>
					<td valign="top">
						<span class="gcHeader">{$lng.lbl_gift_certificate}</span>
						<br /><br /><br /><br /><br />

						<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td class="gcInfo">{$lng.lbl_gc_id}:</td>
							<td class="gcInfo">&nbsp;&nbsp;</td>
							<td class="gcInfo">{$giftcert.gcid|default:$lng.lbl_gcid_notdefined}</td>
						</tr>
						<tr>
							<td class="gcInfo">{$lng.lbl_from}:</td>
							<td class="gcInfo">&nbsp;&nbsp;</td>
							<td class="gcInfo">{$giftcert.purchaser|escape:"html"}</td>
						</tr>
						<tr>
							<td class="gcInfo">{$lng.lbl_to}:</td>
							<td class="gcInfo">&nbsp;&nbsp;</td>
							<td class="gcInfo">{$giftcert.recipient|escape:"html"}</td>
						</tr>
						<tr>
							<td class="gcInfo">{$lng.lbl_amount}:</td>
							<td class="gcInfo">&nbsp;&nbsp;</td>
							<td class="gcInfo">{include file="currency.tpl" value=$giftcert.amount}</td>
						</tr>
						<tr>
							<td class="gcInfo">&nbsp;&nbsp;</td>
							<td class="gcInfo">&nbsp;&nbsp;</td>
							<td class="gcInfo">&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td class="gcInfo">{$lng.lbl_message}:</td>
							<td class="gcInfo">&nbsp;&nbsp;</td>
							<td class="gcInfoBorder" width="123">
{$giftcert.message|escape:"html"|replace:"\n":"<br />"}
							</td>
						</tr>
						</table>
						
						<br /><br />
						<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td class="gcPostalHeader">&nbsp;{$lng.lbl_postal_address}</td>
						</tr>
						<tr>
							<td><img src="{$TplImages}/spacer.gif" width="1" height="4" /></td>
						</tr>
						<tr>
							<td><img src="{$TplImages}/delim.gif" width="100%" height="4" /></td>
						</tr>
						</table>
						
						<table width="90%" cellpadding="0" cellspacing="0" align="center">
						<tr>
							<td class="gcPostalInfo">&nbsp;</td>
							<td class="gcPostalInfo">&nbsp;</td>
						</tr>
						<tr>
							<td class="gcPostalInfo">{$lng.lbl_first_name}:</td>
							<td class="gcPostalInfo">{$giftcert.recipient_firstname|escape:"html"}</td>
						</tr>
						<tr>
							<td class="gcPostalInfo">{$lng.lbl_last_name}:</td>
							<td class="gcPostalInfo">{$giftcert.recipient_lastname|escape:"html"}</td>
						</tr>
						<tr>
							<td class="gcPostalInfo">{$lng.lbl_address}:</td>
							<td class="gcPostalInfo">{$giftcert.recipient_address|escape:"html"}</td>
						</tr>
						<tr>
							<td class="gcPostalInfo">{$lng.lbl_city}:</td>
							<td class="gcPostalInfo">{$giftcert.recipient_city|escape:"html"}</td>
						</tr>
						<tr>
							<td class="gcPostalInfo">{$lng.lbl_zip_code}:</td>
							<td class="gcPostalInfo">{$giftcert.recipient_zipcode|escape:"html"}</td>
						</tr>
{if $config.General.use_counties eq "Y"}
						<tr>
							<td class="gcPostalInfo">{$lng.lbl_county}:</td>
							<td class="gcPostalInfo">{$giftcert.recipient_countyname}</td>
						</tr>
{/if}
						<tr>
							<td class="gcPostalInfo">{$lng.lbl_state}:</td>
							<td class="gcPostalInfo">{$giftcert.recipient_statename}</td>
						</tr>
						<tr>
							<td class="gcPostalInfo">{$lng.lbl_country}:</td>
							<td class="gcPostalInfo">{$giftcert.recipient_countryname}</td>
						</tr>
						<tr>
							<td class="gcPostalInfo">{$lng.lbl_phone}:</td>
							<td class="gcPostalInfo">{$giftcert.recipient_phone|escape:"html"}</td>
						</tr>
						</table>
					</td>
				</tr>
				</table>
				</center>
			</td>
			<td><img src="{$TplImages}/spacer.gif" width="34" height="1" /></td>
			<td align="right"><img src="{$TplImages}/right_border.gif" width="20" height="700" /></td>
		</tr>
		</table>

		<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td><img src="{$TplImages}/left_bottom.gif" /></td>
			<td valign="bottom" width="100%"><img src="{$TplImages}/bottom_border.gif" height="25" width="100%" /></td>
			<td><img src="{$TplImages}/curl.gif" /></td>
		</tr>
		</table>
	
	</td>
</tr>
</table>
