{* $Id: hlp_cvv2.tpl,v 1.4 2005/11/21 12:41:58 max Exp $ *}
<table>
<tr>
<td>
{$lng.txt_what_is_cvv2}
</td>
<td valign="middle"><img src="{$cdn_base}/skin1/images/ccards-cvv2-aex.gif" alt="American Express" /><br /><br />
<img src="{$cdn_base}/skin1/images/ccards-cvv2-visa.gif" alt="VISA, MasterCard, Discover" /></td>
</tr>
</table>
