{* $Id: Password_Recovery.tpl,v 1.16 2005/11/21 12:41:58 max Exp $ *}
<form action="help.php" method="post" name="processform">
<input type="hidden" name="action" value="recover_password" />
<div class="super"><p>recover password</p></div>
<div class="links"><p>Please enter your valid e-mail address (the one you used for registration), your account information 
will be mailed to you shortly.</p></div>


<div class="links">
     <div class="legend"><p><strong>{$lng.lbl_email}<span class="mandatory">*</span></strong></p></div>
     <div class="field">
        <label>
              <input type="text"  name="email" id="email" size="30" value="{$smarty.get.email|escape:"html"}"  />
            </label> 
	 </div>
     <div class="clearall"></div>
	
</div>


<div class="button">
         <input class="submit" type="submit" name="submitButton" value="submit" border="0"  onClick="javascript:return EmailValidation(); ">
</div>

<div class="foot"></div>
</form>
<br>

