{* $Id: Password_Recovery_message.tpl,v 1.9 2005/11/21 12:41:58 max Exp $ *}

<div class="subhead"><p>password recovery message</p></div>
<div class="links"><p>
{$lng.txt_password_recover_message1} {$smarty.get.email|escape:"html"}.
{$lng.txt_password_recover_message2}</p>
</div>
<div class="foot"></div>
<br>