{* $Id: news_messages_list.tpl,v 1.11.2.1 2006/06/16 10:47:47 max Exp $ *}

{if $messages ne ""}

<script type="text/javascript" language="JavaScript 1.2">
<!--
checkboxes_form = 'messagesform';
checkboxes = new Array({foreach from=$messages item=v key=k}{if $k > 0},{/if}'to_delete[{$v.newsid}]'{/foreach});
 
--> 
</script>
{include file="main/include_js.tpl" src="change_all_checkboxes.js"}

<div style="line-height:170%"><a href="javascript:change_all(true);">{$lng.lbl_check_all}</a> / <a href="javascript:change_all(false);">{$lng.lbl_uncheck_all}</a></div>

{/if}

<form action="news.php" method="post" name="messagesform">
<input type="hidden" name="targetlist" value="{$targetlist}" />
<input type="hidden" name="mode" value="messages" />
<input type="hidden" name="action" value="" />
<input type="hidden" name="messageid" value="" />

<table cellpadding="3" cellspacing="1" width="100%">

<tr class="TableHead">
	<td width="10">&nbsp;</td>
	<td width="40%">{$lng.lbl_subject}</td>
	<td width="30%" align="center">{$lng.lbl_created}</td>
	<td width="20%" align="center">{$lng.lbl_status}</td>
	<td width="10%" align="center" nowrap="nowrap">{$lng.lbl_send_message}</td>
</tr>

{if $messages ne ""}
{section name=idx loop=$messages}
<tr>
	<td><input type="checkbox" name="to_delete[{$messages[idx].newsid}]" /></td>
	<td><b><a href="news.php?mode=messages&amp;messageid={$messages[idx].newsid}&amp;targetlist={$targetlist}&amp;action=modify">{$messages[idx].subject}</a></b></td>
	<td align="center">{$messages[idx].send_date|date_format:$config.Appearance.datetime_format}</td>
	<td align="center">
{if $messages[idx].status eq "N"}{$lng.lbl_queued}{else}{$lng.lbl_sent}<br /><font class="SmallText">[{$messages[idx].send_date|date_format:$config.Appearance.datetime_format}]</font>{/if}
	</td>
	<td align="center"><input type="button" value=" {if $messages[idx].status eq "N"}{$lng.lbl_send}{else}{$lng.lbl_resend}{/if} " onclick="javascript: document.messagesform.messageid.value='{$messages[idx].newsid}'; document.messagesform.action.value='send'; document.messagesform.submit();" /></td>
</tr>
{/section}

{else}

<tr>
	<td colspan="5" align="center">{$lng.txt_no_messages}</td>
</tr>

{/if}

<tr>
	<td colspan="5"><br />
{if $messages ne ""}
<input type="button" value="{$lng.lbl_delete_selected|escape}" onclick="javascript: if (confirm('{$lng.txt_delete_messages|strip_tags}')) {ldelim} document.messagesform.action.value='delete'; document.messagesform.submit(); {rdelim}" />
<br /><br />
{/if}
<input type="button" value="{$lng.lbl_add_new|escape}" onclick="javascript: self.location = 'news.php?mode=messages&amp;targetlist={$targetlist}&amp;action=modify'" />
	</td>
</tr>

</table>
</form>

