/** sprite: mysprite; sprite-image: url('sprite.png'); sprite-layout: horizontal */
.ico_calendar { 
background-image: url(ico_calendar.gif); /** sprite-ref: mysprite; */ 
} 
.ico_card { 
background-image: url(ico_card.gif); /** sprite-ref: mysprite; */ 
} 
.ico_cup { 
background-image: url(ico_cup.gif); /** sprite-ref: mysprite; */ 
} 
.ico_glass { 
background-image: url(ico_glass.gif); /** sprite-ref: mysprite; */ 
} 
.ico_pen { 
background-image: url(ico_pen.gif); /** sprite-ref: mysprite; */ 
} 
.ico_photo { 
background-image: url(ico_photo.gif); /** sprite-ref: mysprite; */ 
} 
.ico_shirt { 
background-image: url(ico_shirt.gif); /** sprite-ref: mysprite; */ 
} 
.ico_watch { 
background-image: url(ico_watch.gif); /** sprite-ref: mysprite; */ 
} 
.ico_wooden { 
background-image: url(ico_wooden.gif); /** sprite-ref: mysprite; */ 
} 
.viewall  { 
background-image: url(viewall.gif); /** sprite-ref: mysprite; */ 
} 
.cartbgdown  { 
background-image: url(cartbgdown.png); /** sprite-ref: mysprite; */ 
} 
.carticon  { 
background-image: url(carticon.gif); /** sprite-ref: mysprite; */ 
} 
.arrow1  { 
background-image: url(arrow1.gif); /** sprite-ref: mysprite; */ 
} 
.arrow2  { 
background-image: url(arrow2.gif); /** sprite-ref: mysprite; */ 
} 
.arrow  { 
background-image: url(arrow.gif); /** sprite-ref: mysprite; */ 
}
.arrowsaml1l { 
background-image: url(arrowsaml1l.gif); /** sprite-ref: mysprite; */ 
}
.arrowyellow.gif { 
background-image: url(arrowyellow.gif); /** sprite-ref: mysprite; */ 
}
.cartbg { 
background-image: url(cartbg.gif); /** sprite-ref: mysprite; */ 
}
.search { 
background-image: url(search.gif); /** sprite-ref: mysprite; */ 
}
.menicon { 
background-image: url(menicon.gif); /** sprite-ref: mysprite; */ 
}
.phoneicon { 
background-image: url(phoneicon.gif); /** sprite-ref: mysprite; */ 
}
.facebook { 
background-image: url(facebook.gif); /** sprite-ref: mysprite; */ 
}
.mastrecard { 
background-image: url(mastrecard.gif); /** sprite-ref: mysprite; */ 
}
.twitter { 
background-image: url(twitter.gif); /** sprite-ref: mysprite; */ 
}
.visa{ 
background-image: url(visa.gif); /** sprite-ref: mysprite; */ 
}
.onicon { 
background-image: url(onicon.gif); /** sprite-ref: mysprite; */ 
}
.arrowsamll { 
background-image: url(arrowsamll.gif); /** sprite-ref: mysprite; */ 
}
.searchbar { 
background-image: url(searchbar.gif); /** sprite-ref: mysprite; */ 
}
.testibg {
background-image: url(testibg.gif); /** sprite-ref: mysprite; */ 
}
.arrow-left {
background-image: url(arrow-left.png); /** sprite-ref: mysprite; */ 
}
.arrow-right {
background-image: url(arrow-right.png); /** sprite-ref: mysprite; */ 
}
.amex {
 background-image: url(amex.gif); /** sprite-ref: mysprite; */ 
 }
.paypal {
 background-image: url(verisign-logo-rel.png); /** sprite-ref: mysprite; */ 
 }
 .shipping {
 background-image: url(shipping.gif); /** sprite-ref: mysprite; */  
 }
 .testi {
 background-image: url( testi.gif); /** sprite-ref: mysprite; */  
 }
 .ico_bags {
 background-image: url( ico_bags.gif); /** sprite-ref: mysprite; */  
 }
 .ico_home {
 background-image: url( ico_home.gif); /** sprite-ref: mysprite; */  
 }
 .wrapper {
 background-image: url( wrapper.gif); /** sprite-ref: mysprite; */  
 }
 .ccavenueaxisbank {
 background-image: url( ccavenueaxisbank.jpg); /** sprite-ref: mysprite; */  
 }
 .dinersclub {
 background-image: url(  dinersclub.jpg); /** sprite-ref: mysprite; */  
 }
 .international-shipping {
 background-image: url(   international-shipping.jpg); /** sprite-ref: mysprite; */  
 }
 .itzcash {
 background-image: url( itzcash.jpg); /** sprite-ref: mysprite; */  
 }
 .paymate {
 background-image: url( paymate.jpg); /** sprite-ref: mysprite; */  
 }
.cheque_netbanking_05  {
 background-image: url( cheque_netbanking_05.jpg); /** sprite-ref: mysprite; */  
}
.cart-bg  {
 background-image: url( cart-bg.png); /** sprite-ref: mysprite; */  
}
.testimonials-arrow  {
 background-image: url( testimonials-arrow.jpg); /** sprite-ref: mysprite; */  
}

