{* $Id: ups_logo.tpl,v 1.5.2.1 2006/05/16 11:40:38 svowl Exp $ *}
<img src="{$cdn_base}/skin1/images/ups_logo.gif" width="84" height="96" alt="" /><br />
<img src="{$cdn_base}/skin1/images/spacer.gif" width="95" height="1" alt="" /><br />
