{* $Id: head_partner.tpl,v 1.5 2005/12/07 14:07:33 max Exp $ *}
<table cellpadding="0" cellspacing="0" width="100%">
<tr> 
	<td class="HeadLogo"><a href="{$http_location}"><img src="{$cdn_base}/skin1/images/xlogo.gif" width="244" height="67" alt="" /></a></td>
	<td valign="top" align="right">
	</td></tr>
</table>
<table cellpadding="0" cellspacing="0" width="100%">
<tr> 
	<td colspan="2" class="HeadThinLine"><img src="{$cdn_base}/skin1/images/spacer.gif" class="Spc" alt="" /></td>
</tr>
<tr> 
	<td colspan="2" class="HeadLine" align="right" height="22">
{if $all_languages_cnt gt 1}

<form action="home.php" method="get" name="sl_form">
<input type="hidden" name="redirect" value="{$smarty.server.PHP_SELF}?{$smarty.server.QUERY_STRING}" />
<table cellpadding="0" cellspacing="0">
<tr>
	<td><b>{$lng.lbl_select_language}:&nbsp;</b>
	<select name="sl" onchange="javascript: document.sl_form.submit()">
{section name=ai loop=$all_languages}
		<option value="{$all_languages[ai].code}"{if $store_language eq $all_languages[ai].code} selected="selected"{/if}>{$all_languages[ai].language}</option>
{/section}
	</select>
	</td>
</tr>
</table>
</form>

{else}
&nbsp;
{/if}

	</td>
</tr>
<tr> 
	<td colspan="2" class="HeadThinLine"><img src="{$cdn_base}/skin1/images/spacer.gif" class="Spc" alt="" /></td>
</tr>
<tr>
	<td colspan="2" valign="middle" height="32">
<table cellspacing="0" cellpadding="0" width="100%">
<tr>
	<td height="18"><img src="{$cdn_base}/skin1/images/spacer.gif" width="1" height="18" alt="" /></td>
</tr>
</table>
	</td>
</tr>
</table>
