{* $Id: menu_affiliate.tpl,v 1.2.2.1 2006/07/12 05:36:25 svowl Exp $ *}
{capture name=menu}
<!-- begin cut here -->
<a href="{$catalogs.partner}/">{$lng.lbl_partner_click_to_register}</a>
<!--- end cut here -->
<br />
{/capture}
{include file="menu.tpl" dingbats="dingbats_affiliates.gif" menu_title=$lng.lbl_partner_affiliates menu_content=$smarty.capture.menu}
