{* $Id: bonusPoints.tpl,v 1.55.2.1 2006/06/27 08:20:37 svowl Exp $ *}

<div class="super">shubho's bonus points </div>
          <div class="head">my accumulated bonus points</div>
          <div>

            <table cellpadding="2" class="table">
              <tr class="font_bold">
                <td class="align_right">Sl.no.</td>
                <td class="align_left">Date</td>
                <td class="align_left">Action</td>
                <td class="align_right">Bonus points </td>
              </tr>

	       <tr class="row_color">
                <td class="align_right">1</td>
                <td class="align_left">12-10-2007 22:48:56</td>
                <td class="align_left">Purchased by David </td>
                <td class="align_right">10</td>
              </tr>
              <tr class="row_color">

                <td class="align_right">2</td>
                <td class="align_left">12-10-2007 22:48:56</td>
                <td class="align_left">Purchased by Harold Faltermeyer </td>
                <td class="align_right">13</td>
              </tr>
              <tr class="row_color">
                <td class="align_right">3</td>

                <td class="align_left">12-10-2007 22:48:56</td>
                <td class="align_left">Purchased by Roman Polanski </td>
                <td class="align_right">12</td>
              </tr>
              <tr class="row_color">
                <td class="align_right">4</td>
                <td class="align_left">12-10-2007 22:48:56</td>

                <td class="align_left">Purchased by Jack Sparrow </td>
                <td class="align_right">24</td>
              </tr>
              <tr class="row_color">
                <td class="align_right">5</td>
                <td class="align_left">12-10-2007 22:48:56</td>
                <td class="align_left">Purchased by Ilias </td>

                <td class="align_right">56</td>
              </tr>
              <tr class="row_color">
                <td class="align_right">6</td>
                <td class="align_left">12-10-2007 22:48:56</td>
                <td class="align_left">Purchased by Homer </td>
                <td class="align_right">92</td>

              </tr>
              <tr class="font_bold">
                <td class="align_right"></td>
                <td class="align_left"></td>
                <td class="align_right">Total</td>
                <td class="align_right">128</td>
              </tr>
		
	    </table>
	    </div>
	 <div class="foot"></div>
          <br>	
