{* $Id: checkout_notes.tpl,v 1.6 2005/12/07 14:07:21 max Exp $ *}
{include file="customer/main/subheader.tpl" title=$lng.txt_notes class="grey"}
<table cellspacing="0" cellpadding="2">
<tr valign="top">
	<td>{$lng.lbl_customer_notes}:</td>
	<td>&nbsp;</td>
	<td nowrap="nowrap"><textarea cols="70" rows="10" name="Customer_Notes"></textarea></td>
</tr>
</table>
