<div class="subhead"> 
     <p>payment method</p>
</div>

{if $balancepayment eq "true"}
<div class="links"> 
            <p> 
Please pay the remaining  amount Rs {$balance} using the provided payemtn option.
</p></div>
{/if}


                                 
 {assign var=i value=0}                   
{section name=option loop=$paymentoptions}
{if $i%2 eq 0}

{/if}
{if $i%2 neq 0}

{/if}
{assign var=i value=$i+1}

<div class="links"> 

            <div class="legend"> 
             
              <p>
	      <input class="radio" type=radio name='rbtn' id='rbtn' value="{$paymentoptions[option][0]},{$paymentoptions[option][3]},{$paymentoptions[option][1]}" >
{$paymentoptions[option][1]} </p>
            </div>
            <div class="field"> 
              <p>{$paymentoptions[option][2]}</p>
            </div>
            <div class="clearall"></div>

          </div>

 
{/section}


<div class="links">&nbsp;</div>
<div class="links"> 
	<p> 
<!--		<input class="submit" type="submit" id="submitButton" name="submitButton" value="continue" border="0" onClick="goToPaymentOption('{$pagetype}')">-->
	</p>
</div>

  <div class="foot"></div>
  <br/>

