/** sprite: mysprite; sprite-image: url('sprite.jpg'); sprite-layout: horizontal */
#forms_foot { 
background-image: url(forms_foot.gif); /** sprite-ref: mysprite;*/ 
}  
#forms_head_green { 
background-image: url(forms_head_green.gif); /** sprite-ref: mysprite;*/ 
} 
#forms_sidemenu_link { 
background-image: url(forms_sidemenu_link.gif); /** sprite-ref: mysprite; sprite-alignment: repeat;*/ 
} 
#sidemenu_foot { 
background-image: url(sidemenu_foot.gif); /** sprite-ref: mysprite;*/ 
}
#sidemenu_link { 
background-image: url(sidemenu_link.gif); /** sprite-ref: mysprite; sprite-alignment: repeat;*/ 
}

 

