{extends file="layout.tpl"}

{block name=body}
<div style="margin:50px 0">
    <table cellpadding="2" class="printtable">
        <tr>
            <td>
            <p align="center">
                <strong>{$errormessage}</strong>
            </p>
            </td>
      </tr>
    </table>
</div>
{/block}

