{if $echo_flow == 'pdp'}
<!--    <div class="kuliza_social_wrapper kuliza-social-wrapper-quicklook-{$quicklook}">
        <span class="kuliza_social_close kuliza-social-close-quicklook-{$quicklook}">X</span>
        <div class="social_action_popup {$echo_flow}_popup quicklook-{$quicklook}"></div>
    </div>-->
{else}
<!--    <div class="social_action_popup {$echo_flow}_popup quicklook-{$quicklook}"></div>-->
{/if}
{if $product_id}
    <div class="social_action_popup {$echo_flow}_popup quicklook-{$quicklook}" product_id="{$product_id}"></div>
{else}
    <div class="social_action_popup {$echo_flow}_popup quicklook-{$quicklook}"></div>
{/if}
<div class="echo-{$echo_flow}-lightbox lightbox infobox echo-lightbox-class echo-{$echo_flow}-lightbox-quicklook-{$quicklook}">
    <div class="mod">
           <div class="hd">
                   <div class="title">Facebook Permissions</div>
           </div>
           <div class="bd body-text echo-lightbox-body-quicklook-{$quicklook}">
               <div class="fbpermissionsCnt">
               </div><!-- fbpermissionsCnt -->
           </div>
           <div class="footerWrap">
                   <button id="save-perms" class="btnSave" href="#">Save</button> 
                   <button class="btnCancel" id="cancel-perms" href="#">Cancel</button>
           </div>
   </div>
</div>
