{******************************************************************}
{**************Below block display the order list in user interface***************	}
{******************************************************************}


{*{if  $mode == "search"}*}

<div id="loadingpopup" style="padding-left:130px;padding-bottom:5px;visibility:hidden;display:none;">
  <!--<div id="overlay"> </div>
  <div id="messagewide" style="position:absolute;top:180px;left:-0px;">-->
    <div class="wrapper">
     <!-- <div class="head">&nbsp;</div>
     <div class="body" >-->
        <p><img src="{$cdn_base}/images/order_loader.gif"/></p>
     <!--</div>
      <div class="foot"></div>-->
    </div>
  <!--</div>-->
</div>

  <div class="subhead"><p>search results</p></div>
	
		<div id="orderlist"></div>
	
 <div class="foot"></div>

{*{/if}*}
