{******************************************************************}
{**************Below block display the requests list in user interface***************}
{******************************************************************}

<div id="loadingpopup" class="text" style="padding-left:140px;padding-top:5px;visibility:hidden;display:none;">
    <div class="wrapper">
        <p><img src="{$cdn_base}/images/order_loader.gif" /></p>
    </div>
</div>
<div id="requestlist" class="text"></div>