{* $Id: display_banner.tpl,v 1.14 2005/12/03 11:05:36 max Exp $ *}
{if $type eq 'iframe'}
<iframe marginwidth="0" marginheight="0" frameborder="0" scrolling="no" style="border-width: 0px; border-style: none;" width="{$banner.banner_x}px" height="{$banner.banner_y}px" src="{$http_location}/banner.php?bid={$banner.bannerid}&partner={$partner}&type=iframe{if $productid > 0}&productid={$productid}{/if}"></iframe>
{else}
{if $banner.banner_type eq 'G'}
{if $banner.legend ne ''}
<table>
<tr>
{if $banner.direction eq 'U'}<td align="center">{$banner.legend|escape}</td></tr><tr>{/if}
{if $banner.direction eq 'L'}<td valign="middle">{$banner.legend|escape}</td>{/if}
<td>
{/if}
<a href="{$catalogs.customer}/home.php{if $partner ne ''}?bid={$banner.bannerid}&partner={$partner}{/if}"{if $banner.open_balnk eq 'Y'} target="_blank"{/if}><img src="{$cdn_base}/banner.php?bid={$banner.bannerid}{if $partner ne ''}&partner={$partner}{/if}" border="0"{if $banner.alt ne ''} alt="{$banner.alt|escape}"{/if} /></a>
{if $banner.legend ne ''}
</td>
{if $banner.direction eq 'D'}</tr><tr><td align="center">{$banner.legend|escape}</td>{/if}
{if $banner.direction eq 'R'}<td valign="middle">{$banner.legend|escape}</td>{/if}
</tr>
</table>
{/if}
{elseif ($banner.banner_type eq 'M' || $banner.banner_type eq 'T' || $banner.banner_type eq 'P')}
{if $type ne 'ssi'}
<script type="text/javascript" language="JavaScript 1.2" src="{$http_location}/banner.php?bid={$banner.bannerid}{if $partner ne ''}&partner={$partner}{/if}{if $productid > 0}&productid={$productid}{/if}"></script>
{else}
&lt;!--#include virtual="{$http_location}/banner.php?bid={$banner.bannerid}{if $partner ne ''}&partner={$partner}{/if}&type=ssi{if $productid > 0}&productid={$productid}{/if}"--&gt;
{/if}
{/if}
{/if}
