{* $Id: error_delivery.tpl,v 1.14 2005/11/28 08:15:02 max Exp $ *}
<font class="ErrorMessage">
{$lng.err_delivery_options_conflict_msg}
</font>
<p />
{include file="buttons/go_back.tpl"}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{include file="buttons/button.tpl" button_title=$lng.lbl_view_cart href="cart.php"}
