{* $Id: error_access_denied.tpl,v 1.9 2005/11/17 06:55:39 max Exp $ *}
<h3>{$lng.err_access_denied}</h3>
{$lng.err_access_denied_msg}
{if $id ne ''}
<br /><br />
<b>{$lng.lbl_error_id}:</b> {$id}
{/if}
