{* $Id: error_product_in_cart_expired.tpl,v 1.6 2005/11/28 08:15:02 max Exp $ *}
<font class="ErrorMessage">
{$lng.err_product_in_cart_expired_msg}
<p />
{include file="buttons/go_back.tpl" href="cart.php"}
</font>
