{* $Id: designer_selector.tpl,v 1.3 2006/04/10 06:42:21 max Exp $ *}

<select name="cat"{$extra}>

{foreach from=$producttypes item=c key=catid}
<option value="{$c.id}" >{$c.name}</option>
{/foreach}
</select>

