{* $Id: quick_menu.tpl,v 1.5 2005/11/30 13:29:35 max Exp $ *}

{*capture name=dialog*}

  <select name="statusid">
   {section name=id loop=$product_status}
	   <option value="{$product_status[id].STATUSID}" {if $product.statusid eq $product_status[id].STATUSID} selected="selected"{/if}>{$product_status[id].STATUS}</option>
   {/section}
 </select> 

{*/capture*}
{*include file="dialog.tpl" title='' content=$smarty.capture.dialog extra='width="100%"'*}




