{literal}
<script language="javascript" type="text/javascript" src="./skin1/main/ajax_orderhistory.js"></script>
<script language="javascript" type="text/javascript">
function popUpWindow(URL)
{
	
	window.open(URL,"Invoice", "menubar=1,resizable=1,toolbar=1,width=800,height=500");
}
</script>
{/literal}
<!--<div class="super"><p>{$firstname}'s referal history</p></div> -->
<div class="subhead"><p> {$firstname}'s referral history</p></div>

<!--<div class="links">
	<div class="field">
		<label><p><strong>total referral money earned: rs. {$total_referral_amount} </strong></p></label>
	
	</div> 
    <div class="clearall"></div>
</div>-->

<div class="links">

<br/>
    <div class="field">
	<label>
		<p><strong>show referral transactions by duration&nbsp;</strong>
		<select name="dateduration" id="dateduration" class="select" onChange="javascript:referalHistory('dateduration', '{$login}');">
			<option value="0">--select duration--</option>
			<option value="7">&nbsp;Last 7 days</option>
			<option value="1M"  {if $selectedDuration} selected {/if}>&nbsp;Last 1 month</option>
			<option value="3M">&nbsp;Last 3 month</option>
			<option value="1Y">&nbsp;Last 1 year</option>
			<option value="all">&nbsp;All</option>
		</select></p>
	</label>
    </div>   
     <div class="clearall"></div>
      {include file="main/referal_historylist.tpl"}
     









<div class="foot"></div>
        
</form>

