{******************************************************************}
{**************Below block display the order list in user interface***************	}
{******************************************************************}


{*{if  $mode == "search"}*}

		<div id="loadingpopup" style="padding-left:265px;padding-top:5px;visibility:hidden;display:none;">
		    <!--<div class="wrapper"> -->
		        <p><img src="{$cdn_base}/images/order_loader.gif"/></p>
		    <!-- </div> -->
		</div>
	  </div>	
    
	
	   <div id="historylist">{$referraldetail}</div>
 <!-- <div class="foot"></div> -->

{*{/if}*}
