{* $Id: tax_formula.tpl,v 1.6.2.1 2006/06/16 10:47:41 max Exp $ *}
<table cellpadding="3" cellspacing="1" width="100%">

<tr>
	<td><input type="text" size="70" id="{$name}" name="{$name}" value="={$value}" readonly="readonly" style="WIDTH: 100%;" /></td>
</tr>

<tr>
	<td align="right">
<input type="button" value="{$lng.lbl_undo|escape}" onclick="javacript: undoFormula('{$name}', 'U');" />
<input type="button" value="{$lng.lbl_redo|escape}" onclick="javacript: undoFormula('{$name}', 'R');" />
<input type="button" value="{$lng.lbl_clear|escape}" onclick="javacript: addElm('{$name}', '=', '=');" />
	</td>
</tr>

<tr>
	<td>
<input type="button" value=" + " onclick="javascript: addElm('{$name}', '+', 'O');" />
<input type="button" value=" - " onclick="javascript: addElm('{$name}', '-', 'O');" />
<input type="button" value=" * " onclick="javascript: addElm('{$name}', '*', 'O');" />
<input type="button" value=" / " onclick="javascript: addElm('{$name}', '/', 'O');" />
	</td>
</tr>

<tr>
	<td>
	<select id="unit_{$name}">
	<option></option>
{foreach key=key item=item from=$taxes_units}
		<option value="{$key}">{$key}{if $key ne $item} ({$item}){/if}</option>
{/foreach}
	</select>&nbsp;
	<input type="button" value="{$lng.lbl_add|escape}" onclick="javascript: if(document.getElementById('unit_{$name}').value != '') addElm('{$name}', document.getElementById('unit_{$name}').value, 'V');" />
	</td>
</tr>

<tr> 
	<td>
	<input type="text" id="value_{$name}" />
	<input type="button" size="8" value="{$lng.lbl_add|escape}" onclick="javascript: document.getElementById('value_{$name}').value = (isNaN(parseFloat(document.getElementById('value_{$name}').value)) ? '' : parseFloat(document.getElementById('value_{$name}').value)); if (document.getElementById('value_{$name}').value != '') addElm('{$name}', document.getElementById('value_{$name}').value, 'V');" />
	</td> 
</tr> 

</table>
