<html>
	<head>
		<title>
			Myntra
		</title>
	</head>
	<body>
		<img width="720px" height="780px" id="landing_banner" src="{$http_location}/skin1/images/fb_app/Under-construction-page.jpg"></img>
		{literal}
		<script type="text/javascript">
		
			var _gaq = _gaq || [];

			_gaq.push(['_setAccount', '{$ga_acc}']);

			_gaq.push(['_trackPageview']);
			(function() {

				var ga = document.createElement('script');

				ga.type = 'text/javascript';

				ga.async = true;

				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

				var s = document.getElementsByTagName('script')[0];

				s.parentNode.insertBefore(ga, s);

			})();
			_gaq.push(['_trackEvent', 'facebookUnderConstruction', 'view', 'banner']);
		</script>
		{/literal}
	</body>
</html>