<html>
	<head>
		<title>
			Sample FB
		</title>
	</head>
	<body>
		<div id="fb-root"></div>
		{if $bannerToDisplay}
			<img id="landing_banner" src="{$http_location}/skin1/images/fb_app/fbapp_landing.jpg" style="cursor: pointer;" onClick="_gaq.push(['_trackEvent', 'facebookContest', 'click', 'user_allow_permission']);javascript:top.location.href='{$auth_url}';"></img>
		{else}
			<img id="landing_banner" src="{$http_location}/skin1/images/fb_app/fbapp_landing.jpg" style="cursor: pointer;" onClick="_gaq.push(['_trackEvent', 'facebookContest', 'click', 'user_allow_permission']);javascript:top.location.href='{$auth_url}';"></img>
		{/if}
		{literal}
		<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
		<script type="text/javascript">
		
			FB.Canvas.setSize({ width: 760, height: 1300 });
			var _gaq = _gaq || [];

			_gaq.push(['_setAccount', '{$ga_acc}']);

			_gaq.push(['_trackPageview']);
			(function() {

				var ga = document.createElement('script');

				ga.type = 'text/javascript';

				ga.async = true;

				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

				var s = document.getElementsByTagName('script')[0];

				s.parentNode.insertBefore(ga, s);

			})();
			_gaq.push(['_trackEvent', 'facebookContest', 'view', 'banner']);
		</script>
		{/literal}
	</body>
</html>
