
.order-summary h2{
  font-family: 'WhitneyHTF-SemiBold';
  padding: 10px 0 5px;
}

.summary-pull-down{
  font-family: 'WhitneyHTF-SemiBold';
}

.order-summary .prod-name a{
  line-height: 17px;
  font-size: 13px;
}

.order-summary .size-qty-wrap, .delivery-address address{
  font-size: 13px;
}

.cashback-message, .coupon-msg{
  text-align: left;
  margin-left: 5px;
}

.delivery-address .heading, .payment-heading{
  font-family: 'WhitneyHTF-SemiBold';
  text-align: left;
  font-size: 14px;
}

.coupons-widget{
  margin: 0 0 0 5px;
}

.checkout .order-summary .discount, .checkout .order-summary .discount.red{
  color: #D14747;
}

.order-summary .total-items{
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.delivery-address, .main-content .order-summary-main, 
.payment-heading, .main-content h2, .tabs ul li,
#cart_cash_coupon_options{
  width: auto;
  margin: 0 15px;
  padding: 10px 0;
  text-align: left;
}

.order-summary .row{
  height: auto;
  min-height: 70px;
}

.order-summary .total .final-calculated-value{
  padding-top: 10px;
}

.payment-heading{
  padding-top: 20px;
  padding-bottom: 0;
}

.payment-page .main-content h2{
  font-family: 'WhitneyHTF-Book';
  font-size: 14px;
}

.delivery-address, .main-content .order-summary-main{
  border-bottom: 3px #d9d9d9 solid;
}

.payment-page .main-content h2{
  margin: 0 15px;
  padding-top: 0;
  text-transform: lowercase;
}

.total-shipping-fee span.green{
  color: #589d3e;
}

.total-coupon-discount span.coupon-value, .total p.total-coupon-discount span.rupees{
  color: #d14747;
}

.tab-content a{
  font-family: 'WhitneyHTF-Book';
}

@media only screen and (max-width: 479px) and (min-width: 1px){
  .pay-block .tab-content {
    width: auto;
  }
}

#cod-verify-captcha{
  margin: -15px;
  width: auto;
  display: block;
  line-height: 48px;
  font-size: 16px;
  padding-left: 0;
}

.access-error{
  font-size: 13px!important;
}

#change-image{
  margin-bottom: 10px;
}

.captcha-block{
  padding-bottom: 15px;
}

.pay-btn-wrap{
  padding: 0;
}

.delivery-address .address-name{
  position: relative;
}

.delivery-address .address-name em{
  display: block;
  width: 60%;
}

.delivery-address .address-name a {
  position: absolute;
  right: 0;
  top: 5px;
}

.coupons-widget {
  width: auto!important;
}

.address{
  font-size: 13px;
  padding: 10px 0;
}

.cashback-heading{
  display: inline-block;
  padding-bottom: 4px;
}

.order-summary-total ,.order-summary-total .red{
  font-family: 'WhitneyHTF-SemiBold';
  color: #808080;
}

.pay-btn-wrap .btn{
  font-family: 'WhitneyHTF-SemiBold';
  font-size: 16px;
  line-height: 48px;
  min-width: 100px;
}

.pay-block .tab-content .btn.link-btn{
  color: #4490a7;
  cursor: pointer;
  background: none;
  border: none;
  box-shadow: none;
}

.pay-block .tabs ul li#pay_by_nb{
  border-bottom-width: 2px;
}

#net_banking .note{
  margin-bottom: 0 13px 30px;
}

.pay-block .tab-content label{
  margin: 20px 0;
}

#codMessage{
  font-family: 'WhitneyHTF-Book';
  font-size: 13px;
  margin: 15px 15px 0;
  display: block;
  padding-bottom: 10px;
}

.payment-page .pay-block .nothing-to-pay{
  padding: 0 10px 10px;
  margin-bottom: 10px;
  text-transform: none;
  text-align: left;
  padding-left: 15px;
}

.order-summary .prod-item .mk-freesize{
  font-size: inherit;
}

footer{
  display: none;
}