
body {
  font-family: 'WhitneyHTF-Book';
  color: #34495a;
  text-transform: none;
}

input[type=text], 
.address-page input[type=text], .address-form-wrap textarea,
.address-form-wrap select, select, .payment-page .pay-block .cc-expiry select, 
#lb-gift-wrap .details input#gift-to, 
#lb-gift-wrap .details input#gift-from, input[type="text"], 
input[type="email"], input[type="password"], input[type="number"], input[type="tel"],
.tab-content input, .tab-content textarea, textarea, .tab-content select{
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #D6D6D6;
}

input[type="text"]:focus, select:focus, textarea:focus,
input[type="text"]:focus, input[type="email"]:focus, 
input[type="password"]:focus, input[type="number"]:focus, input[type="tel"]:focus,
.payment-page .pay-block .cc-expiry select:focus,
.tab-content input:focus, .tab-content textarea:focus, .tab-content select:focus{
  box-shadow: none;
  border: none; 
  border-bottom: 1px solid #D6D6D6;
}

.btn-orange{
  padding-left: 0!important;
}

.m-header-center, .mk-site-hd, .mynt-footer, .m-header, 
.btn-continue span, .mk-checkout-hd, .btn-save-continue span, 
.btn-orange span, .btn-place-order span{
  display: none;
}

.top-menu{
  width: auto;
}

.summary-pull-down{
  font-size: 14px;
  padding: 5px 0;
  display: block;
  text-transform: uppercase;
  border-top: 1px solid #9b9b9b;
}

.content-slide-wrapper .hd, .err, .cart-page .err{
  font-family: 'WhitneyHTF-Book';
}

.main-content h2{
  font-family: 'WhitneyHTF-SemiBold';
  text-transform: uppercase;
  font-size: 14px;
}

.btn-orange, .btn-orange:active, .btn-continue, 
.btn-orange-noplay, .btn-orange-noplay:active, 
.btn-save-continue, .btn-continue:active,
.btn-save-continue:active, .btn-grey{
  color: #fff;
  width: 100%;
  margin: 0;

  border-radius: 0;
  background: #2ecc71;
  border: none;
  text-shadow: none;
  text-transform: uppercase;
}

.red, .green, .order-summary .green{
  color: #34495e;
}

/* empty cart style overrides */
.empty-cart{
  margin-top: 50%;
}

.cart-page .empty-cart .btn{
  width: 160px;
}

.cart-page .empty-cart .err, .cart-page .empty-saved .err{
  text-transform: none;
  font-size: 1.7em;
  color: #34495e;
}

.address-list-box .jqTransformRadioWrapper{
  position: relative;
  top: 10px;
}

/****/
.total{
  padding-bottom: 10px;
  margin: 10px 0;
}

.cart-page .total p{
  font-size: 14px;
  color: #808080;
}

.total-shipping-fee span{
  margin-left: 5px;
  color: #589d3e;
}

.total p span{
  font-family: 'WhitneyHTF-SemiBold';
}

.total p span.rupees{
  color: #34495e;
  margin-left: 5px;
}

.total .final-calculated-value{
  padding: 10px 0;
  margin: 10px 0;
  border-top: 1px solid #d6d6d6;
}
/****/