.order-summary h2{
  padding-top: 3px;
  font-size: 16px;
  font-family: 'WhitneyHTF-SemiBold';
}

.confirm-page .main-content .body-txt{
  text-transform: none;
}

.checkout .order-summary{
  padding-top: 5px;
  font-size: 14px;
  border-top: 2px solid #d6d6d6;
}

.checkout .order-summary .total-amount{
  font-size: 14px;
  line-height: 22px;
}

.normal-btn{
  font-family: 'WhitneyHTF-SemiBold';
  color: #fff!important;
  width: 100%;
  margin: 0;
  padding: 5px 0;

  border-radius: 0;
  background: #2ecc71;
  border: none;
  text-shadow: none;
  text-decoration: none;
}

.order-summary .row{
  height: auto;
  padding: 2px 3px 12px;
}

.order-summary .prod-name{
  text-transform: lowercase;
  line-height: 18px;
}

.checkout .order-summary .grand-total .name{
   margin-top: 20px; 
}

.order-summary .total-items{
  padding: 10px 0;
  margin-bottom: 10px;
}

.checkout .order-summary .amount{
  font-size: 13px;
}

.checkout .order-summary .amount li.shipping-charges .value.red{
  color: #589d3e;
}

.google-play-button{
  display: none;
}