{* $Id: sendall2friend_message.tpl,v 1.3 2005/11/17 06:55:59 max Exp $ *}
<p class="NavigationPath">{if $message eq "success"}{$lng.txt_wishlist_sent}{else}<font color="#FF0000"><b>{$lng.err_wrong_email}{/if}</b></font></p>
