{* $Id: wishlists.tpl,v 1.7.2.1 2006/06/16 10:47:50 max Exp $ *}
{include file="page_title.tpl" title=$lng.lbl_search_wishlists}

{$lng.txt_admin_wishlists}

<br /><br />

{if $wishlists eq ''}

{capture name=dialog}
<form name="searchform" action="wishlists.php" method="post">
<input type="hidden" name="mode" value="search" />

<table cellpadding="1" cellspacing="5" width="100%">

<tr>
	<td height="10" class="FormButton" nowrap="nowrap">{$lng.lbl_customer}:</td>
	<td width="10" height="10">&nbsp;</td>
	<td height="10" width="100%"><input type="text" name="search_data[login]" value="{$search_data.login}" /></td>
</tr>
<tr>
	<td height="10" class="FormButton" nowrap="nowrap">{$lng.lbl_sku}:</td>
	<td width="10" height="10">&nbsp;</td>
	<td height="10" width="100%"><input type="text" name="search_data[sku]" value="{$search_data.sku}" /></td>
</tr>
<tr>
	<td height="10" class="FormButton" nowrap="nowrap">{$lng.lbl_productid}:</td>
	<td width="10" height="10">&nbsp;</td>
	<td height="10" width="100%"><input type="text" name="search_data[productid]" value="{$search_data.productid}" /></td>
</tr>
<tr>
	<td height="10" class="FormButton" nowrap="nowrap">{$lng.lbl_product}:</td>
	<td width="10" height="10">&nbsp;</td>
	<td height="10" width="100%"><input type="text" name="search_data[product]" value="{$search_data.product}" size="40" /></td>
</tr>

<tr>
	<td colspan="3">&nbsp;</td>
</tr>
<tr>
	<td colspan="2">&nbsp;</td>
	<td><input type="submit" value="{$lng.lbl_search|escape}" /></td>
</tr>

</table>
</form>
{/capture}
{include file="dialog.tpl" title=$lng.lbl_search_wishlists content=$smarty.capture.dialog extra='width="100%"'}

<br />

{/if}

{if $mode eq "search"}
{if $total_items >= 1}
{$lng.txt_N_results_found|substitute:"items":$total_items}<br />
{$lng.txt_displaying_X_Y_results|substitute:"first_item":$first_item:"last_item":$last_item}
{else}
{$lng.txt_N_results_found|substitute:"items":0}
{/if}
{/if}

{if $mode eq "search" and $wishlists ne ""}

<br /><br />

{capture name=dialog}

<div align="right">{include file="buttons/button.tpl" button_title=$lng.lbl_search_again href="wishlists.php"}</div>

<br />

{if $total_pages >= 2}
{assign var="navpage" value=$navigation_page}
{/if}


<table cellpadding="0" cellspacing="0" width="100%">
<tr><td>

{include file="customer/main/navigation.tpl"}

<table cellpadding="1" cellspacing="2" width="100%">
<tr class="TableHead">
	<td>{$lng.lbl_customer}</td>
	<td>{$lng.lbl_items}</td>
</tr>
{foreach from=$wishlists item=v}
<tr{cycle name=c1 values=', class="TableSubHead"'}>
	<td>{if $usertype eq "A" or ($usertype eq "P" and $active_modules.Simple_Mode ne "")}<a href="user_modify.php?user={$v.login|escape:"url"}&amp;usertype={$v.usertype}">{$v.firstname}&nbsp;{$v.lastname}&nbsp;({$v.login})</a>{else}{$v.firstname}&nbsp;{$v.lastname}&nbsp;({$v.login}){/if}</td>
	<td><a href="wishlists.php?mode=wishlist&amp;customer={$v.login}">{$lng.lbl_n_items_in_wishlist|substitute:"items":$v.products_count}</a></td>
</tr>
{/foreach}
</table>

<br />

{include file="customer/main/navigation.tpl"}

</td></tr>

</table>
{/capture}
{include file="dialog.tpl" title=$lng.lbl_search_results content=$smarty.capture.dialog extra='width="100%"'}

{/if}
