{* $Id: product_offer_thumb.tpl,v 1.7 2005/12/05 07:58:08 max Exp $ *}
<div class="SpecialOffersThumb">
<a href="offers.php?mode=product&amp;productid={$product.productid}"><img src="{$cdn_base}/skin1/images/offer_thumb.gif" alt="" /></a>
</div>
