
<div class="summary-hd">
    <a href="javascript:void(0)" class="edit">Edit</a>
    Delivery Address
</div>
<div class="summary-bd">
    <div class="name"><%= obj.name %></div>
    <div class="address"><%= obj.address.replace("\n", "<br>") %></div>
    <div class="locality"><%= obj.locality %></div>
    <div class="city"><%= obj.city %> <%= obj.pincode %></div>
    <div class="state"><%= obj.stateName %></div>
    <div class="mobile">Mobile: <%= obj.mobile %></div>
</div>
