{* $Id: usps.tpl,v 1.6.2.2 2006/06/16 10:47:47 max Exp $ *}
<form action="http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do" method="post" name="getTrackNum" id="getTrackNum">
<input type="hidden" id="strOrigTrackNum" name="strOrigTrackNum" value="{$order.tracking}" />
<input type="submit" value="{$lng.lbl_track_it|escape}" />
<br />
{$lng.txt_usps_redirection}
</form>
