{* $Id: newsletter_admin.tpl,v 1.5 2006/03/17 14:50:42 svowl Exp $ *}
{include file="mail/html/mail_header.tpl"}

{$lng.txt_new_subscriber}

<br />
<b>{$email}</b>

{include file="mail/html/signature.tpl"}
