{* $Id: recurring_notification_admin.tpl,v 1.6 2006/03/17 14:50:42 svowl Exp $ *}
{config_load file="$skin_config"}
{include file="mail/html/mail_header.tpl"}

{$lng.txt_billing_notification}

<p />
<pre>{$str}</pre>

{include file="mail/html/signature.tpl"}

