{* $Id: signature.tpl,v 1.5 2005/12/02 07:25:36 max Exp $ *}
<hr size="1" noshade="noshade" />
{$lng.eml_signature}
<p><font size="2">
Thanks ,<br/>
Myntra Customer Care<br />
{$lng.lbl_url}:<a href="{$http_location}/" target=_new>{$config.Company.company_website}</a>
</font></p>
