{* $Id: multirow_add.tpl,v 1.1.2.1 2006/06/17 08:48:25 max Exp $ *}
<a href="javascript: void(0);" onclick="javascript: add_inputset('{$mark}', this{if $is_lined}, true{/if});"><img src="{$cdn_base}/skin1/images/plus.gif" alt="{$lng.lbl_add|escape}" /></a>
