{* $Id: interneka_subscr.tpl,v 1.4 2005/11/17 06:55:47 max Exp $ *}
{if $active_modules.Interneka ne ""}
{if $interneka_failed}<div align="right" style="color:#20CD69; font-size:11px"><b>{$lng.lbl_interneka_server_error}</b></div>{/if}
{/if}
