{* $Id: editor.tpl,v 1.4.2.5 2006/06/19 15:08:43 max Exp $ *}
{if $config.UA.browser eq 'MSIE'}
<!--<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/bg.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/blank.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/brkspace.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnAbsolute.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnBackColor.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnBold.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnBookmark.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnCenter.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnClean.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnContentBlock.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnCopy.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnCustom1.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnCustom2.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnCustom3.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnCustom4.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnCustom5.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnCustom6.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnCustom7.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnCustomObject.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnCut.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnDelete.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnFlash.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnForeColor.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnForm.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnFull.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnFullScreen.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnGuideline.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnHyperlink.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnImage.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnIndent.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnInternalImage.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnInternalLink.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnItalic.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnLTR.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnLeft.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnLine.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnList.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnMedia.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnNumber.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnOpenAsset.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnOutdent.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnPaste.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnPasteText.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnPasteWord.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnPreview.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnPrint.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnRTL.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnRedo.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnRemoveFormat.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnRight.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnSave.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnSearch.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnSource.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnSpellCheck.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnStrikethrough.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnStyle.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnStyleSelect.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnSubscript.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnSuperscript.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnSymbol.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnTable.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnTableEdit.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnUnderline.gif" alt="" width="0" height="0" />
<img src="{$cdn_base}/skin1/images/modules/HTML_Editor/scripts/icons/btnUndo.gif" alt="" width="0" height="0" /> -->
{/if}
<script type="text/javascript">
<!--
var txt_advanced_editor_warning = "{$lng.txt_advanced_editor_warning|escape:javascript}";
var isHTML_Editor = (
		(localBFamily == 'MSIE' && parseInt(localVersion) >= 5) || 
		(localBrowser == 'Netscape' && parseInt(localVersion) >= 8) || 
		((localBrowser == 'Firefox' || localBrowser == 'Mozilla' ) && parseInt(localVersion) >= 1) || 
		(localBrowser == 'Opera' && parseInt(localVersion) >= 9)
	) && localPlatform != 'MacPPC' && localPlatform != 'Mac';
var isHTML_EditorFF = (localBrowser == 'Firefox');
-->
</script>
{if $shop_language eq 'DE'}
{include file="main/include_js.tpl" src="modules/HTML_Editor/scripts/language/german/editor_lang.js"}
{/if}
{include file="main/include_js.tpl" src="modules/HTML_Editor/scripts/innovaeditor.js"}
