/** sprite: mysprite; sprite-image: url('sprite.jpg'); sprite-layout: vertical */
#button_sep { 
background-image: url(button_sep.jpg); /** sprite-ref: mysprite;  sprite-alignment: repeat;*/ 
} 
#footer-bg { 
background-image: url(footer-bg.gif); /** sprite-ref: mysprite;  sprite-alignment: repeat;*/ 
} 
#header_bg { 
background-image: url(header_bg.jpg); /** sprite-ref: mysprite;  sprite-alignment: repeat; */ 
} 
v