#button_sep { 
  background-image: url('sprite.jpg');
  background-position: left -0px;
} 
#footer-bg { 
  background-image: url('sprite.jpg');
  background-position: left -38px;
} 
#header_bg { 
  background-image: url('sprite.jpg');
  background-position: left -238px;
} 
v
