<div class="cart-list">
	<div class="err">Your Wishlist is empty</div>
	<div class="action" >
		<a class="blue btn-gotoBag">GO TO BAG</a><br>
		<span class="gray" style="font-size: 14px;">and continue making your purchase</span>
	</div>
    <div>
        <span class="gray line" >&nbsp;</span>
        <span class="gray text" >OR</span>
        <span class="gray line" >&nbsp;</span>
    </div>
    <div class="action">
        <span class="gray" style="font-size: 14px;">Take a look at our wide range of products</span><br>
        <div class="menu-items">
            <a href="/men" class="menu-item blue">MEN</a>
            <span class="gray separator"> | </span>
            <a href="/women" class="menu-item blue">WOMEN</a>
            <span class="gray separator"> | </span>
            <a href="/kids-landing" class="menu-item blue">KIDS</a>
            <span class="gray separator"> | </span>
            <a href="/brands"class="menu-item blue">BRANDS</a>
        </div>
    </div>
</div>