<a class="checkout-bag-header">
	<div class="mk-checkout-header">
		<span class="wishlist-icon">&nbsp;</span>WISHLIST
		<%= obj.wishlistItemCount>0? '<span class="gray"> / ' + obj.wishlistItemCount + '</span>': '' %> 
			<%= obj.wishlistItemCount==0? '': 
				obj.wishlistItemCount==1? '<span class="gray"> ITEM</span>' : '<span class="gray"> ITEMS</span>' %>
	</div>
	<% if (obj.wishlistItemCount==0) { %>
	<div class="gray empty-wishlist-msg">Wishlist is your personal list of items that you would like to buy from Myntra</div>
	<% } %>
</a>
<a class="checkout-wishlist-header">
	<div class="mk-checkout-header">
		<span class="bag-item-count red">
			<%= obj.bagItemCount? 
				obj.bagItemCount == 0? '' : obj.bagItemCount 
				: '' %>
		</span>
		<span class="shopping-bag-icon">&nbsp;</span>
        <span class="mini-header">MY BAG</span>
	</div>
</a>