<% var productOutOfStock = false; %>
    <% var sizeNotAvailable = false;  %>
    <% var quantityNotAvailable = false; %>
    <% var isFreeProduct = obj.freeItem %>
    <% if (!(obj.selectedSize.available)) { %>
        <% if (_.isArray(obj.availableSizes) && !(_.where(obj.availableSizes, {'available': true}).length)) { %>

            <% productOutOfStock = true; %>
        <% } else if (!(_.isArray(obj.availableSizes) && !obj.availableSizes.available)) { %>
            
            <% productOutOfStock = true; %>
        <% } else { %>

            <% sizeNotAvailable = true; %>                        
        <% } %>
    <% } else if (obj.quantity > obj.selectedSize.availableQuantity) { %>

        <% quantityNotAvailable = true; %>
    <% } %>
<div class="row prod-item <%= obj.comboItem %> <%= obj.className %>" id="product_view_<%= obj.itemId %>" data-itemid="<%= obj.itemId %>" data-productNotAvailable= "<%= (productOutOfStock || sizeNotAvailable || quantityNotAvailable) %>">
    <div class="col1">
		<a href="<%= obj.landingPageUrl %>" target="_blank" onclick="_gaq.push(['_trackEvent','pdp_click', Myntra.Data.pageName, 'cart_image']);">
    		<img src="<%= obj.itemImage.replace('_images','_images_96_128_mini') %>" alt="image of <%= obj.title %>">
    	</a>
    </div>
            
    <div class="col2">
        <form id="cartform_<%= obj.itemId %>" method="post" action="modifycart.php" class="form-cart-item">
            <input type="hidden" name="_token" value="<%= Myntra.Data.token? Myntra.Data.token: ''%>">
            <input type="hidden" name="cartitem" value="<%= obj.itemId %>">
            <input type="hidden" name="styleid" value="<%= obj.styleId %>">
            <input type="hidden" name="update" value="1">
            <div class="prod-name">
				<a href="<%= obj.landingPageUrl %>" onclick="_gaq.push(['_trackEvent','pdp_click', Myntra.Data.pageName, 'cart_title']);" target="_blank"><%= obj.title %></a>
            </div>
            <div class="size-qty-wrap">
                <div class="size-qty <%= productOutOfStock? 'strike' : '' %>">                    
                    <span class="mk-custom-drop-down size <%= sizeNotAvailable? 'strike':'' %>">
                        <span class="gray">Size</span>
                        <span><%= obj.selectedSize.unifiedSize %></span>    							
					</span>
                    <span class="mk-custom-drop-down qty <%= quantityNotAvailable? 'strike': '' %>">
                        <span class="gray">Qty</span>
                        <span><%= obj.quantity %></span>                               
                    </span>
                </div>
                <span class="prod-code">
                    <label>CODE: </label>
                    <span><%= obj.styleId %></span>
                </span>
                <% if(!isFreeProduct && productOutOfStock) { %>

                        <div class="myntra-tooltip out-of-stock-tooltip .product">
                            <div class="arrow a-out arrow-top-outer"></div>
                            <div class="arrow a-in arrow-top-inner"></div>
                                PRODUCT OUT OF STOCK
                            <div class="edit-move-delete">
                                <span class="delete-item">&nbsp;</span>
                                <span class="delete-item delete-item-text">REMOVE</span>                          
                            </div>
                        </div>

                    <% } else if((!isFreeProduct) && (sizeNotAvailable||quantityNotAvailable)) { %>

                        <div class="myntra-tooltip out-of-stock-tooltip .size">
                            <div class="arrow a-out arrow-top-outer"></div>
                            <div class="arrow a-in arrow-top-inner"></div>
                                <% if (sizeNotAvailable) { %>
                                    SIZE NOT AVAILABLE
                                <% } else { %>
                                    ONLY <%= obj.selectedSize.availableQuantity %> <%= obj.selectedSize.availableQuantity>1? 'UNITS': 'UNIT' %> IN STOCK
                                <% } %>   
                            <div class="edit-move-delete">
                                    <span class="edit-item">&nbsp;</span>
                                    <span class="edit-item edit-item-text">EDIT SIZE & QTY</span>
                                    <span class="delete-item">&nbsp;</span>
                                    <span class="delete-item delete-item-text">REMOVE</span>
                            </div>
                        </div>
                <% } %>
                                  
            </div>                            
        </form>
        <div class="edit-move-delete">
            <span class="edit-item">
                <div class="myntra-tooltip">
                    <div class="arrow a-out arrow-top-outer"></div>
                    <div class="arrow a-in arrow-top-inner"></div>
                    EDIT SIZE & QTY
                </div>
            </span>
            
            <span class="delete-item">
                <div class="myntra-tooltip">
                    <div class="arrow a-out arrow-top-outer"></div>
                    <div class="arrow a-in arrow-top-inner"></div>
                    REMOVE
                </div>
            </span>
        </div>
        <div class="err item-error">
        </div>
    </div>

    <div class="col5">
        <button class="btn primary-btn move-to-bag-btn" type="button" <%= (productOutOfStock || sizeNotAvailable || quantityNotAvailable)? 'disabled': '' %> >MOVE TO BAG</button>
    </div>

    <div class="col4">
        <div class="amount red">
            <span class="total-rupees">Rs. <%= Myntra.Utils.formatNumber(obj.totalPrice) %></span>
        </div>

    </div>
    
    <div class="col3">
        <% if(obj.isDiscountRuleApplied) {%>
            <div class="discount">
                <span class="gray discount-percentage"><%= Myntra.Utils.formatNumber(obj.totalDiscount/obj.totalMrp*100) %> % OFF</span>
                <span class="strike gray original-amount">                   
                Rs. <%= Myntra.Utils.formatNumber(obj.totalMrp) %>
                </span>				
    		</div>

            
        <% } %>
    </div>    
</div>
