.bodybg-bottom { 
  background-image: url('sprite.png');
  background-position: left -0px;
} 
.bgtop { 
  background-image: url('sprite.png');
  background-position: left -353px;
} 
.tabbg { 
  background-image: url('sprite.png');
  background-position: left -399px;
} 
.bodybg-top { 
  background-image: url('sprite.png');
  background-position: left -425px;
} 
 
