/** sprite: mysprite; sprite-image: url('sprite.png'); sprite-layout: vertical */
.bodybg-bottom { 
background-image: url(bodybg-bottom.gif); /** sprite-ref: mysprite; sprite-alignment: repeat;*/ 
} 
.bgtop { 
background-image: url(bgtop.png); /** sprite-ref: mysprite;sprite-alignment: repeat; */ 
} 
.tabbg { 
background-image: url(tabbg.jpg); /** sprite-ref: mysprite;sprite-alignment: repeat; */ 
} 
.bodybg-top { 
background-image: url(bodybg-top.gif); /** sprite-ref: mysprite;sprite-alignment: repeat;*/ 
} 
 