{* $Id: cc_multicard.tpl,v 1.6.2.1 2006/06/16 10:47:51 max Exp $ *}
<h3>MultiCards</h3>
{$lng.txt_cc_configure_top_text}
<p />
{$lng.txt_cc_multicard_note|substitute:"http_location":$http_location}
<p />
{capture name=dialog}
<form action="cc_processing.php?cc_processor={$smarty.get.cc_processor|escape:"url"}" method="post">
<center>
<table cellspacing="10">
<tr>
<td>{$lng.lbl_cc_multicard_merchantid}:</td>
<td><input type="text" name="param01" size="32" value="{$module_data.param01|escape}" /></td>
</tr>

<tr>
<td>{$lng.lbl_cc_multicard_pageid}:</td>
<td><input type="text" name="param02" size="32" value="{$module_data.param02|escape}" /></td>
</tr>
<tr>
<td>{$lng.lbl_cc_multicard_language}:</td>
<td><select name="param03">
<option value=""{if $module_data.param03 eq ""} selected="selected"{/if}>English</option>
<option value="it"{if $module_data.param03 eq "it"} selected="selected"{/if}>Italian</option>
<option value="es"{if $module_data.param03 eq "es"} selected="selected"{/if}>Spanish</option>
<option value="nl"{if $module_data.param03 eq "nl"} selected="selected"{/if}>Dutch</option>
<option value="fr"{if $module_data.param03 eq "fr"} selected="selected"{/if}>French</option>
<option value="de"{if $module_data.param03 eq "de"} selected="selected"{/if}>German</option>
<option value="ru"{if $module_data.param03 eq "ru"} selected="selected"{/if}>Russian</option>
</select>
</td>
</tr>

<tr>
<td>{$lng.lbl_cc_order_prefix}:</td>
<td><input type="text" name="param04" size="32" value="{$module_data.param04|escape}" /></td>
</tr>

</table>
<p />
<input type="submit" value="{$lng.lbl_update|escape}" />
</form>
</center>
{/capture}
{include file="dialog.tpl" title=$lng.lbl_cc_settings content=$smarty.capture.dialog extra='width="100%"'}
