 <div class="flash flash2">
              <div class="panes panes2" id="createpane">
            <h1>{$properties.home.create_product_title.value}</h1>
            <h3>{$properties.home.section_create_related.value}:
            {foreach from=$properties.create_tags key=k item=v}
                   <a href="{$v.value}">{$k}</a>
              {/foreach}
                 </h3>
            <div class="scrollable-box">
                     <a class="prevPage browse left"></a>
                    <div class="scrollable">
                         <div class="items">
                           {section name=idx loop=$producttypes}
                           <div>
                           <a rel='nofollow' href="{$http_location}/create/{$producttypes[idx].label|replace:" ":"%20"}/{$producttypes[idx].id}">
						    <img src="{$cdn_base}/skin1/images/spacer.gif" id="fc_{$producttypes[idx].id}" lazy-src="{$cdn_base}/{$producttypes[idx].image_t}" class="lazy" width="140" height="140" alt="Personalized {$producttypes[idx].label}" style="border:1px solid #c2c2c2;" title='Customize make design Print your own {$producttypes[idx].label}'>
						    </a>

<br>
							<a href="{$http_location}/create/{$producttypes[idx].label|replace:" ":"%20"}/{$producttypes[idx].id}">Personalized {$producttypes[idx].label}</a>
<br>

                                     Rs.{$producttypes[idx].price_start}
</div>
                        {/section}
                        </div>
                    </div>
                    <a class="nextPage browse right"></a>
                    <div class="tabs_more"><a href="{$http_location}/mkcreateproduct.php"> See All products </a></div>
                <!-- "next page" action -->
                    </div></div> </div>