   <div class="flash" >
              <div class="panes" id="jersey">
            <h2>{$properties.home.sportwear_title.value}</h2>
            <div class="scrollable-box">
                     <a class="prevPage browse left"></a>
                    <div class="scrollable" >
                         <div class="items">
                          {section name=idx loop=$images.sportswear}
                            <div>
                                 <a href="{$images.sportswear[idx].url|replace:" ":"%20"}">
                                 <img src="{$cdn_base}/skin1/images/spacer.gif" lazy-src="{$cdn_base}/{$images.sportswear[idx].image}" class="lazy" width="140" height="140" id="sj_{$images.sportswear[idx].id}" alt="{$images.sportswear[idx].alt}" title="{$images.sportswear[idx].title}">
                                 </a>
                                 <span>{$images.sportswear[idx].name}</span>
                            </div>
                           {/section}
                        </div>
                    </div>
                    <a class="nextPage browse right"></a>
                <!-- "next page" action -->
                    </div></div> </div>
