{* $Id: multimedia_details.tpl,v 1.4 2005/11/17 06:55:48 max Exp $ *}
<tr><td width="50%">Music Label</td><td nowrap="nowrap">{$product.param04}</td></tr>
<tr><td width="50%">Music Style</td><td nowrap="nowrap">{$product.param05}</td></tr>
