{* $Id: multimedia.tpl,v 1.7 2005/11/17 06:55:48 max Exp $ *}
<tr>
  <td valign="middle" class="Text">{$lng.lbl_music_sample_url} 1</td>
  <td valign="middle">
    <input type="text" name="param01" size="32" value="{ $product.param01 }" />
  </td>
</tr>
<tr>
  <td valign="middle" class="Text">{$lng.lbl_music_sample_url} 2</td>
  <td valign="middle">
    <input type="text" name="param02" size="32" value="{ $product.param02 }" />
  </td>
</tr>
<tr>
  <td valign="middle" class="Text">{$lng.lbl_music_sample_url} 3</td>
  <td valign="middle">
    <input type="text" name="param03" size="32" value="{ $product.param03 }" />
  </td>
</tr>
<tr>
  <td valign="middle" class="Text">{$lng.lbl_music_label}</td>
  <td valign="middle">
    <input type="text" name="param04" size="32" value="{ $product.param04 }" />
  </td>
</tr>
<tr>
  <td valign="middle" class="Text">{$lng.lbl_music_style}</td>
  <td valign="middle">
    <input type="text" name="param05" size="32" value="{ $product.param05 }" />
  </td>
</tr>
