#logo_green_bg { 
  background-image: url('sprite.jpg');
  background-position: -0px top;
}   
#footer.gif { 
  background-image: url('sprite.jpg');
  background-position: -160px top;
}  
#wrapper { 
  background-image: url('sprite.jpg');
  background-position: -1140px top;
} 
