/** sprite: mysprite; sprite-image: url('sprite.jpg'); sprite-layout: horizontal */
#logo_green_bg { 
background-image: url(logo_green.jpg); /** sprite-ref: mysprite;  */ 
}   
#footer.gif { 
background-image: url(footer.gif); /** sprite-ref: mysprite; sprite-margin-bottom: 5px*/ 
}  
#wrapper { 
background-image: url(wrapper.gif); /** sprite-ref: mysprite;  sprite-alignment: repeat;*/ 
} 
