
<!--scripts for Myntra's multiple adwords accounts, one for each respectively.-->

{literal}
<!-- Google Code for purchase Conversion Page -->
<script language="JavaScript" type="text/javascript">
var google_conversion_id = 1068346998;
var google_conversion_language = "en_GB";
var google_conversion_format = "1";
var google_conversion_color = "FFFFFF";
var google_conversion_value = 1;
var google_conversion_label = "purchase";
/* ]]> */
</script>
<script language="JavaScript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height=1 width=1 border=0 src="https://www.googleadservices.com/pagead/conversion/1068346998/imp.gif?value=1&label=purchase&script=0">
</div>
</noscript>



<!-- Google Code for Purchase or Sale Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 946433807;
var google_conversion_language = "en";
var google_conversion_format = "1";
var google_conversion_color = "ffffff";
var google_conversion_label = "g8OgCPmpkwQQj96lwwM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/946433807/?value=0&amp;label=g8OgCPmpkwQQj96lwwM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<!-- Google Code for Purchase or Sale Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1003718552;
var google_conversion_language = "en";
var google_conversion_format = "1";
var google_conversion_color = "ffffff";
var google_conversion_label = "F6-ECIClmAMQmI_O3gM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1003718552/?value=0&amp;label=F6-ECIClmAMQmI_O3gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{/literal}
