<div class="lightbox-shim" id="lightbox-shim" style="display: block;"></div>
<div id="lb-address-form" class="address-form-box  lightbox <%= obj.className %>" style="display:block">
    <div class="mod" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="hd">
            <div class="title"><%= obj.title %></div>
            <div class="subtitle">&nbsp;</div>
        </div>
        <div class="bd">
            <form method="post" class="addr-form">
                <input type="hidden" name="_token" value="<%= Myntra.Data.token? Myntra.Data.token: ''%>">
                <input type="hidden" name="id" value="<%= obj.model.id %>">
                <input type="hidden" name="country" value="IN">
                <div class="row">
                    <label>Pin Code <strong>*</strong></label>
                    <input type="text" name="pincode" class="pincode" maxlength="6" value="<%= obj.model.pincode %>">
                    <p class="err err-pincode"></p>
                    <input type="hidden" name="pinerr" class="pinerr" value="0">
                </div>
                <div class="row">
                    <label>Name <strong>*</strong></label>
                    <input type="text" name="name" class="name" value="<%= obj.model.name %>">
                    <p class="err err-name"></p>
                    <div class="copyname" style="display: none;">
                        <input name="copy-name" class="copy-name" type="checkbox" checked="true"> Save as your name
                    </div>
                </div>
                <div class="row yourname" style="display: none;">
                    <label>Your Name  <strong>*</strong></label>
                    <input type="text" name="yourname" class="yourname" value="" style="display: none;">
                    <p class="err err-yourname"></p>
                </div>
                <div class="row">
                    <label>Address  <strong>*</strong></label>
                    <textarea name="address" class="address" rows="3" value=""><%= obj.model.address %></textarea>
                    <p class="err err-address"></p>
                </div>
                <div class="row">
                    <label>Locality / Town <strong>*</strong></label>
                    <input type="text" name="locality" class="locality ui-autocomplete-input" value="<%= obj.model.locality %>" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                    <p class="err err-locality"></p>
                    <input type="hidden" name="selected-locality" value="">
                </div>
                <div class="row">
                    <div class="col">
                        <label>City / District<strong>*</strong></label>
                        <input type="text" name="city" class="city" value="<%= obj.model.city %>">
                        <select name="sel-city" class="sel-city hide"></select>
                        <p class="err err-city"></p>
                    </div>
                    <div class="col">
                        <label>State <strong>*</strong></label>
                        <input type="text" name="state-txt" class="state-txt hide" value="">
                        <select name="stateCode" class="state" value="">
                            <option value="">--Select State--</option>
                                            <option value="AN" <%= obj.model.stateCode=='AN'? 'selected': '' %>>
                                                Andaman &amp; Nicobar
                                            </option>
                                            <option value="AP" <%= obj.model.stateCode=='AP'? 'selected': '' %>>
                                                Andhra Pradesh
                                            </option>
                                            <option value="AR" <%= obj.model.stateCode=='AR'? 'selected': '' %>>
                                                Arunachal Pradesh
                                            </option>
                                            <option value="AS" <%= obj.model.stateCode=='AS'? 'selected': '' %>>
                                                Assam
                                            </option>
                                            <option value="BR" <%= obj.model.stateCode=='BR'? 'selected': '' %>>
                                                Bihar
                                            </option>
                                            <option value="CH" <%= obj.model.stateCode=='CH'? 'selected': '' %>>
                                                Chandigarh
                                            </option>
                                            <option value="CT" <%= obj.model.stateCode=='CT'? 'selected': '' %>>
                                                Chhattisgarh
                                            </option>
                                            <option value="DD" <%= obj.model.stateCode=='DD'? 'selected': '' %>>
                                                Daman and Diu
                                            </option>
                                            <option value="DL" <%= obj.model.stateCode=='DL'? 'selected': '' %>>
                                                Delhi
                                            </option>
                                            <option value="DN" <%= obj.model.stateCode=='DN'? 'selected': '' %>>
                                                Dadra and Nagar Haveli
                                            </option>
                                            <option value="GA" <%= obj.model.stateCode=='GA'? 'selected': '' %>>
                                                Goa
                                            </option>
                                            <option value="GJ" <%= obj.model.stateCode=='GJ'? 'selected': '' %>>
                                                Gujarat
                                            </option>
                                            <option value="HP" <%= obj.model.stateCode=='HP'? 'selected': '' %>>
                                                Himachal Pradesh
                                            </option>
                                            <option value="HR" <%= obj.model.stateCode=='HR'? 'selected': '' %>>
                                                Haryana
                                            </option>
                                            <option value="JH" <%= obj.model.stateCode=='JH'? 'selected': '' %>>
                                                Jharkhand
                                            </option>
                                            <option value="JK" <%= obj.model.stateCode=='JK'? 'selected': '' %>>
                                                Jammu and Kashmir
                                            </option>
                                            <option value="KA" <%= obj.model.stateCode=='KA'? 'selected': '' %>>
                                                Karnataka
                                            </option>
                                            <option value="KL" <%= obj.model.stateCode=='KL'? 'selected': '' %>>
                                                Kerala
                                            </option>
                                            <option value="LD" <%= obj.model.stateCode=='LD'? 'selected': '' %>>
                                                Lakshadweep
                                            </option>
                                            <option value="MH" <%= obj.model.stateCode=='MH'? 'selected': '' %>>
                                                Maharashtra
                                            </option>
                                            <option value="ML" <%= obj.model.stateCode=='ML'? 'selected': '' %>>
                                                Meghalaya
                                            </option>
                                            <option value="MN" <%= obj.model.stateCode=='MN'? 'selected': '' %>>
                                                Manipur
                                            </option>
                                            <option value="MP" <%= obj.model.stateCode=='MP'? 'selected': '' %>>
                                                Madhya Pradesh
                                            </option>
                                            <option value="MZ" <%= obj.model.stateCode=='MZ'? 'selected': '' %>>
                                                Mizoram
                                            </option>
                                            <option value="NL" <%= obj.model.stateCode=='NL'? 'selected': '' %>>
                                                Nagaland
                                            </option>
                                            <option value="OR" <%= obj.model.stateCode=='OR'? 'selected': '' %>>
                                                Orissa
                                            </option>
                                            <option value="PB" <%= obj.model.stateCode=='PB'? 'selected': '' %>>
                                                Punjab
                                            </option>
                                            <option value="PY" <%= obj.model.stateCode=='PY'? 'selected': '' %>>
                                                Puducherry
                                            </option>
                                            <option value="RJ" <%= obj.model.stateCode=='RJ'? 'selected': '' %>>
                                                Rajasthan
                                            </option>
                                            <option value="SK" <%= obj.model.stateCode=='SK'? 'selected': '' %>>
                                                Sikkim
                                            </option>
                                            <option value="TK" <%= obj.model.stateCode=='TK'? 'selected': '' %>>
                                                Tamil Nadu
                                            </option>
                                            <option value="TR" <%= obj.model.stateCode=='TR'? 'selected': '' %>>
                                                Tripura
                                            </option>
                                            <option value="UL" <%= obj.model.stateCode=='UL'? 'selected': '' %>>
                                                Uttarakhand
                                            </option>
                                            <option value="UP" <%= obj.model.stateCode=='UP'? 'selected': '' %>>
                                                Uttar Pradesh
                                            </option>
                                            <option value="WB" <%= obj.model.stateCode=='WB'? 'selected': '' %>>
                                                West Bengal
                                            </option>
                                        </select>
                        <p class="err err-state"></p>
                    </div>
                </div>
                <div class="row">
                    <label>Mobile No <strong>*</strong></label>
                    
                    <input type="text" name="mobile" class="mobile" maxlength="10" value="<%= obj.model.mobile %>">
                    <p class="err err-mobile"></p>
                </div>
                <div class="pin-warn">
                    <span class="ico"></span>
                    <p></p>
                </div>
            </form>
        </div>
        <div class="ft">
            <span class="note">Need help? 24x7 on <em>+91-80-43541999</em></span>
            <button class="btn primary-btn btn-save">Save</button>
            <button class="btn normal-btn btn-cancel">Cancel</button>
        </div>
        <div class="close"></div>
        <div class="loading" style="display: none;"></div>
    </div>
</div>