{* $Id: mykritihome.tpl,v 1.88.2.3 2006/07/19 10:19:35 max Exp $ *}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{config_load file="$skin_config"}
<html>
{include file="mykritimeta.tpl" }
<body>
<table width="100%"  height="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td height="78" valign="top">
			{include file="mykrititop.tpl" }
		</td>
	</tr>

	<tr>
		<td height=100% valign="top">
			<table width="100%" border="1" cellspacing="0" cellpadding="0">
				<tr>
					 <td height="4" background="{$mkImagesDir}/leftnav_top.jpg">
					 <img src="{$cdn_base}/skin1/mkimages/leftnav_top.jpg" width="1" height="4" alt=""></td>
			       </tr>
			</table>
			<table width="100%" border="0" cellpadding="0" cellspacing= "0" class="leftNavContainer">
				<tr>
					{include file="leftpane.tpl" }
						
					<td  valign="top">
						{include file="mkimagecollage.tpl" }
						{include file="mkbreadcrumb.tpl" }
						 <table width="100%" border="0" cellpadding="0" cellspacing="0" class="mainpagecontent">
							<tr>
								<td>
									 <table width="98%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td>
                                            {assign var=i value=0}
											{include file="contentCaption.tpl" }
										</td>
									 </tr>
									 {assign var=all value=1}
									  <tr>
										<td align="right" class="listTableTD">
										{include file="browseFeaturedDesign.tpl" }
										 </td>
									 </tr>
									</table><br>
									<br>
						
									</td>	
							</tr>
						</table>
		
					</td>
				</tr>
			</table>
		</td>
		   
	</tr>


	<tr >
		<td align="center">&nbsp;</td>
	</tr>
	
	<tr>
		<td height="20" align="center" class="bottom">
			{include file="footer.tpl" }
		</td>
	</tr>
</table>
</body>
</html>