<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
{config_load file="$skin_config"}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>
		{if $config.SEO.page_title_format eq "A"}
		{section name=position loop=$location}
		{$location[position].0|strip_tags|escape}
		{if not %position.last%} :: {/if}
		{/section}
		{else}
		{section name=position loop=$location step=-1}
		{$location[position].0|strip_tags|escape}
		{if not %position.last%} :: {/if}
		{/section}
		{/if}
</title>
{include file="meta.tpl" }
<link rel="stylesheet" href="{$SkinDir}/{#CSSFile#}" />
</head>

<body>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="78" valign="top">{include file="mykritihead.tpl"}</td>
  </tr>
  <tr>
    <td height="100%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="4" background="images/leftnav_top.jpg"><img src="{$cdn_base}/images/leftnav_top.jpg" width="1" height="4"></td>
      </tr>
    </table>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="leftNavContainer">
      <tr>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="75">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Image collage will come here......Working on this.....:-) </td>
            </tr>
            <tr>
              <td height="2" background="images/image_seperator_bg.jpg"><img src="{$cdn_base}/images/image_seperator.jpg" width="45" height="2"></td>
            </tr>
          </table>
			{include file="mkbreadcrumb.tpl"}
          <br>
          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="mainpagecontent">
            <tr>
              <td valign="top"><table width="98%"  border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td valign="top"><table width="98%"  border="0" cellpadding="0" cellspacing="0" class="greyborder">
                    <tr>
                      <td>
					  {include file="mktopfivereasons.tpl"}
					  </td>
                    </tr>
                  </table></td>
                  <td valign="top"><table width="100%"  border="0" cellpadding="0" cellspacing="0" class="greyborder">
                    <tr>
                      <td>
					  {include file="mkinfosection.tpl"}
					  </td></tr>
                  </table></td>
                </tr>
              </table>
                <br>
				{include file="mkcreateproductselection.tpl"}
                <br>
                <br>                <br></td>
              {include file="mkcreateproductinspiration.tpl"}
            </tr>
          </table></td>
        </tr>
    </table></td></tr>
  <tr>
    <td height="2" align="center" background="images/leftnav_top.jpg"><img src="{$cdn_base}/images/clear.gif" width="1" height="2"></td>
  </tr>
  <tr>
    <td height="20" align="center" class="bottom"><table width="98%" border="0" cellspacing="0" cellpadding="0">
			{include file="footer.tpl"}
    </table></td>
  </tr>
</table>
</body>
</html>
