<div style='margin-top:0px;height:208px; width:775px;'>
	<div style='height:42px;background-image:url({$cdn_base}/skin1/mkimages/startshopping/featured-stores-bg-top-with-header.jpg);' ></div>
	<div style='height:150px;background-image:url({$cdn_base}/skin1/mkimages/startshopping/featured-stores-bg-middle.jpg);background-repeat:repeat-y;' >
		{section loop=$featuredstores name=idx}
		<div style='width:191px;height:148px; _width:185px;float:left;' align="center">
			<div>
				 <a style='text-decoration:none;border:0px;' href='{$http_location}/{$featuredstores[idx].storeurl}'><img src='{$cdn_base}/{$featuredstores[idx].storeimage_h}' alt='{$featuredstores[idx].storelevel}' title='{$featuredstores[idx].storelevel}' ></a>
			</div>
			<div style="margin-left: 55px;">
				<a style='text-decoration:none;' href='{$http_location}/{$featuredstores[idx].storeurl}'><b>{$featuredstores[idx].storename}</b></a>
			</div>
		</div>
		{/section}
		<!--<div style='width:191px;height:148px;float:left;'>
			<div style='margin:9px;'>
			 <img src='{$cdn_base}/skin1/mkimages/startshopping/yuvraj.jpg' >
			</div>
			<div style="margin-left: 55px;">
			 <a style='text-decoration:none;' href='{$http_location}/yuvraj-store'><b>Yuvraj Store</b></a>
			</div>
		</div>
		
		<div style='width:191px;height:148px;float:left;'>
			<div style='margin:9px;'>
			 <img src='{$cdn_base}/skin1/mkimages/startshopping/IPL.jpg' >
			</div>
			<div style="margin-left: 55px;">
			 <a  style='text-decoration:none;' href='{$http_location}/ipl-store'><b>IPL Store</b></a>
			</div>
		</div>
		<div style='width:191px;height:148px;float:left;'>	
			<div style='margin:9px;'>
			 <img src='{$cdn_base}/skin1/mkimages/startshopping/bindass.jpg' >
			</div>
			<div style="margin-left: 55px;">
			 <a style='text-decoration:none;' href='{$http_location}/nike-store'><b>Bindas store</b></a>
			</div>
		</div>-->
	</div>

	<div style='height:5px;background-image:url({$cdn_base}/skin1/mkimages/startshopping/featured-stores-bg-bottom.jpg);background-repeat: no-repeat;' ></div>
	

</div>
