{* $Id: mykritihome.tpl,v 1.88.2.3 2006/07/19 10:19:35 max Exp $ *}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{config_load file="$skin_config"}
<html xml:lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">

{include file="mykritimeta.tpl" }
 <script type="text/javascript" language="JavaScript 1.2" src="./skin1/common_js.js"></script>

<body id="body"  onload="javascript:showaddress('{$addressoption}', '{$termandcondition}', '{$userinfo.termCondition}');">
<div id="scroll_wrapper">
<div id="container">
{include file="mykrititop.tpl" }
<div id="wrapper">
      {include file="breadcrumb.tpl" }
    <div id="display">
	<div class="menu_column">{if $login != ""}{include file="leftpaneMyAccount.tpl" }{else}&nbsp;{/if}</div>
		<div class="center_column">
			<div class="form">
				{include file="customer/main/register.tpl"}
			</div>
		</div>
	</div>
	<div class="clearall"></div>
</div>
{include file="footer.tpl" }
</div>
</div>
</body>
</html>
