<table cellpadding="0" cellspacing="0" dir="ltr">
<tr>
<td class="TabLeftSide"><img src="{$cdn_base}/skin1/images/spacer.gif" class="TabSide" alt="" /></td>
<td class="TabTop"><img src="{$cdn_base}/skin1/images/spacer.gif" width="85" height="5" alt="" /></td>
<td class="TabRightSide"><img src="{$cdn_base}/skin1/images/spacer.gif" class="TabSide" alt="" /></td>
</tr>
<tr>
<td class="TabLeftSide"><img src="{$cdn_base}/skin1/images/spacer.gif" class="TabSide" alt="" /></td>
<td class="Tab"{$reading_direction_tag}>{$tab_title}</td>
<td class="TabRightSide"><img src="{$cdn_base}/skin1/images/spacer.gif" class="TabSide" alt="" /></td>
</tr>
<tr>
<td class="TabLeftCorner"><img src="{$cdn_base}/skin1/images/spacer.gif" class="TabCorner" alt="" /></td>
<td class="TabCenter"><img src="{$cdn_base}/skin1/images/spacer.gif" class="TabCorner" alt="" /></td>
<td class="TabRightCorner"><img src="{$cdn_base}/skin1/images/spacer.gif" class="TabCorner" alt="" /></td>
</tr>
</table>
