{* $Id: mykritihome.tpl,v 1.88.2.3 2006/07/19 10:19:35 max Exp $ *}
{config_load file="$skin_config"}
<html>
<head>
{include file="mkheadinfo.tpl" }
<script type="text/javascript" src="{$SkinDir}/js_script/jquery.js"></script>
<script type="text/javascript" src="{$SkinDir}/js_script/thickbox.js"></script>
<script type="text/javascript" src="./skin1/js_script/alttxt.js"></script>

</head>
<body id="body" >
<div id="popup"></div>
<div id="scroll_wrapper"> 
<div id="container">

{include file="mykrititop.tpl" }
<div id="wrapper" >
    {include file="taglandingbreadcrumb.tpl" }    
    <div id="display">
		<div class="menu_column">{include file="leftpane.tpl" }</div>
		<div class="center_column">
			<!--<img src='{$cdn_base}/skin1/mkimages/banner-sale.gif' style='border:0px;'>-->
					
			
			{assign var=i value=2}       
			{assign var=sortelementid value=1} 
			{if $searchproducts}
				{include file="sortandpaginationtag.tpl" }
				{include file="browsetagsearchresult.tpl" }	 
				<div class="foot"></div>
			</div><!-- end of form div -->
			{/if}
			{include file="sortandpaginationbest.tpl" } 
			{include file="recentsold.tpl" } 
			<div class="foot"></div>
	</div>
	<div class="foot"></div>						
</div>
</div>
<div class="clearall"></div>
</div>
{include file="footer.tpl" }


</div>
</div>

<div id="navtxt" class="navtext" style="position:absolute; top:0px; left:0px; visibility:hidden;width:100px"></div>  
</body>
</html>
