#are_your_a_designer { 
  background-image: url('sprite.jpg');
  background-position: -0px top;
} 
#create_your_own { 
  background-image: url('sprite.jpg');
  background-position: -240px top;
} 
#featured_designs { 
  background-image: url('sprite.jpg');
  background-position: -480px top;
} 
#top_strip_new { 
  background-image: url('sprite.jpg');
  background-position: -948px top;
} 
#what_you_want { 
  background-image: url('sprite.jpg');
  background-position: -1690px top;
} 

